{% load emarkdown %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{ container.title }}</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ relative }}/styles/zmd.css" media="all" type="text/css"/>
        <link rel="stylesheet" href="{{ relative }}/styles/katex.min.css" media="all" type="text/css"/>
    </head>
    <body class="zmarkdown">
        <div class="content-wrapper">
            <div class="article-content">
                {% if container.introduction %}
                    {{ container.get_introduction|epub_markdown:image_directory }}
                {% endif %}

                {% for extract in container.children %}
                    <h2 id="{{ extract.position_in_parent }}-{{ extract.slug }}">
                        <a href="#{{ extract.position_in_parent }}-{{ extract.slug }}">
                            {{ extract.title }}
                        </a>
                    </h2>
                    {% if extract.text %}
                        {{ extract.get_text|epub_markdown:image_directory }}
                    {% endif %}
                {% endfor %}

                <hr />

                {% if container.conclusion %}
                    {{ container.get_conclusion|epub_markdown:image_directory }}
                {% endif %}
            </div>
        </div>
    </body>
</html>
