{% extends "newsletter/base.html" %}

{% block content %}
    <div id="page">
        <div id="page-in">
            <header>
                <h1>Zeste de Savoir</h1>
            </header>
            <main role="main">
                <section>
                    <hgroup>
                        <h2>Merci pour votre souscription à la Newsletter</h2>
                        <h3>Vous serez aux premières loges à l'ouverture de ZesteDeSavoir</h3>
                    </hgroup>
                </section>
            </main>
        </div>
    </div>
{% endblock %}