{% extends "newsletter/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<div id="page">
		<div id="page-in">
			<header>
				<h1>Zeste de Savoir</h1>
			</header>
			<main role="main">
				<section>
					<div class="title">
						<h2>Zeste de Savoir, la connaissance pour tous et sans pépins</h2>
						<h3>Des tutoriels libres pour apprendre gratuitement et sans publicité</h3>
					</div>

					<a href="#en-savoir-plus" class="en-savoir-plus">En savoir plus</a>
				</section>

				<section id="en-savoir-plus">
					<a href="#retour" class="back">Retour</a>

					<p>
						L'objectif de Zeste de Savoir est de proposer des tutoriels libres, gratuits, sans publicités, sans comptes premium ou autres joyeusetés.
					</p>

					<p>
						Le site sera développé en Python à l'aide du framework Django et le code sera open-source. Le stockage des tutoriels reposera sur un système de dépôts Git afin de proposer un outil de versionnement puissant. Le tout sera chapeauté par une association à but non lucratif.
					</p>

					<p>
						Dès le lancement du projet, nous importerons un certain nombre de tutoriels d'OpenClassrooms sous licence libre Creative Commons. Un tutoriel sous licence CC autorise à reproduire son contenu à condition de citer le nom de l'auteur et de s'engager à le publier en conservant sa licence originale.
					</p>

					<p>
						La communauté sera au cœur du site. En plus de la rédaction et de la lecture de tutoriels, les membres pourront échanger et s'entraider sur les forums. Ils pourront également s'informer à travers des articles rédigés par la communauté.
					</p>
					
					<p>
						Zeste de Savoir se placera donc comme un site de référence pour toutes les personnes qui souhaitent apprendre et partager leurs connaissances dans les meilleures conditions.
					</p>
				</section>

				<section class="form-section">
					<p class="register">
						S'inscrire à la newsletter pour être averti des nouveautés
					</p>

					{% crispy form %}

					<p class="email-note">
						Votre adresse email ne sera utilisée que pour vous envoyer notre newsletter, rien d'autre
					</p>
				</section>
			</main>
		</div>
	</div>
{% endblock %}
