{% extends "mp/base.html" %}
{% load crispy_forms_tags %}
{% load captureas %}
{% load i18n %}



{% block title %}
    {% trans "Répondre au MP" %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></li>
    <li>{% trans "Répondre au MP" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Répondre au MP" %} : {{topic.title}}
{% endblock %}



{% block headline_sub %}
    {{ topic.subtitle }}
{% endblock %}



{% block content %}
    {% if newpost %}
        <div class="alert-box alert">
            {% blocktrans %}
                <strong>Au moins un nouveau message a été posté</strong> dans la discussion
                pendant que vous rédigiez le vôtre.
            {% endblocktrans %}
        </div>
    {% endif %}

    {% captureas form_action %}
        {% url "mp:answer" topic.pk topic.slug %}
    {% endcaptureas %}

    {% include "misc/message_form.html" with member=user text=form.text.value %}

    {% if form.text.value %}
        {% include "misc/preview.part.html" with text=form.text.value %}
    {% endif %}

    <hr />

    <div class="content-wrapper">
        {% for message in posts %}
            {% captureas edit_link %}
                {% url "mp:post-edit" message.pk %}
            {% endcaptureas %}

            {% captureas cite_link %}
                {% url "mp:answer" topic.pk topic.slug %}?cite={{ message.pk }}
            {% endcaptureas %}

            {% include "misc/message.part.html" with can_hide=False is_mp=True %}
        {% endfor %}
    </div>
{% endblock %}
