{# This tempate is used by Django Crispy Form #}
{# We only add a templatetag (order_categories line 24) to sort categories in the "new content" page #}

{% load crispy_forms_filters %}
{% load form_categories %}
{% load l10n %}

{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %}
        id="div_{{ field.auto_id }}"
        class="control-group
               {% if wrapper_class %}
                   {{ wrapper_class }}
               {% endif %}

               {% if form_show_errors and field.errors%}
                   error
               {% endif %}

               {% if field.css_classes %}
                   {{ field.css_classes }}
               {% endif %}">

        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label for="{{ field.id_for_label }}"
                   class="control-label {% if field.field.required %}requiredField{% endif %}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}

        {% if field|is_checkboxselectmultiple %}
            <div class="controls"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
                {% include 'bootstrap/layout/field_errors_block.html' %}

                {% regroup field.field.choices|order_categories|dictsort:"order" by parent as categories_list %}

                {% for category in categories_list %}
                    <strong>{{ category.grouper }}</strong>

                    {% for item in category.list %}
                        <label class="checkbox {% if inline_class %}{{ inline_class }}{% endif %} checkbox-new-content">
                            <input type="checkbox"
                                   {% if item.choice.0 in field.value or item.choice.0|stringformat:"s" in field.value or item.choice.0|stringformat:"s" == field.value|stringformat:"s" %}
                                       checked="checked"
                                   {% endif %}
                                   name="{{ field.html_name }}"
                                   id="id_{{ field.html_name }}_{{ item.choice.0|unlocalize }}"
                                   value="{{ item.choice.0|unlocalize }}"
                                   {{ field.field.widget.attrs|flatatt }}>

                            {{ item.choice.1|unlocalize }}
                        </label>
                    {% endfor %}
                {% endfor %}

                {% include 'bootstrap/layout/help_text.html' %}
            </div>
        {% endif %}

        {% if field|is_radioselect %}
            {% include 'bootstrap/layout/radioselect.html' %}
        {% endif %}

        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
            <div class="controls">
                {% if field|is_checkbox and form_show_labels %}
                    <label for="{{ field.id_for_label }}" class="checkbox {% if field.field.required %}requiredField{% endif %}">
                        {% crispy_field field %}
                        {{ field.label|safe }}
                        {% include 'bootstrap/layout/help_text_and_errors.html' %}
                    </label>
                {% else %}
                    {% crispy_field field %}
                    {% include 'bootstrap/layout/help_text_and_errors.html' %}
                {% endif %}
            </div>
        {% endif %}

    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
{% endif %}
