{% extends "email/base.html" %}

{% load i18n %}

{% block content %}
    <p>
        {% trans "Bonjour membres du CA," %}
    </p>
    <p>
        {% blocktrans %}
        Le membre {{ username }} souhaiterait adhérer à {{ asso_name }}.
        {% endblocktrans %}
    </p>
    <ul>
        <li>{% trans "Identité" %} : {{ full_name }}</li>
        <li>{% trans "Adresse courriel" %} : {{ email }}</li>
        <li>{% trans "Date de naissance" %} : {{ naissance }}</li>
        <li>{% trans "Adresse" %} : {{ adresse|linebreaks }}</li>
    </ul>
    <p>
        {% trans "Raison de cette demande" %} :
        <br/>
        {{ justification|linebreaks }}
    </p>
    <p>
        {% trans "Cliquez ici pour voir son profil sur le site" %} : <a href="{{ profile_url }}">{{ profile_url }}</a>.
    </p>

    <p>
        {% trans "Cordialement," %}
    </p>
    <p>
        {{ bot_name }}
    </p>
{% endblock %}
