html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    word-wrap: break-word;
}

body {
    background: $color-body-background;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7em;
    width: 100%;
    height: 100%;
}

@mixin set-selection {
    &::selection {
        @content;
    }

    &::-moz-selection {
        @content;
    }
}

@mixin normal-selection {
    color: white;
    background: $color-primary;
}

@mixin negative-selection {
    color: $color-primary;
    background: white;
}

@include set-selection {
    @include normal-selection;
}

// Elements with a dark background
.flexpage-header, .write-tutorial, .page-footer, .header-menu, .header-right, .taglist {
    &, * {
        @include set-selection {
            @include negative-selection;
        }
    }

    input {
        // We don't care about buttons and others, there aren't selectable
        @include set-selection {
            @include normal-selection;
        }
    }
}

.page-container {
    height: 100%;

    display: flex;
    flex-direction: column;

    .main-container {
        background: $color-body-background;
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        flex-basis: auto;
    }

    .header-container, .page-footer, .cookies-eu-banner, #accessibility {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
    }
}

.content-container {
    margin-bottom: 50px;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.old-browser-warning {
    margin: 0;
    background: #ddd;
    color: #000;
    padding: 0.2em 0;
    text-align: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

body.old-browser-warning-shown .page-container {
    position: relative;
    top: 3rem;
}

.a11y {
    display: block;
    width: 0;
    height: 0;
    text-indent: -9999px;
}

nav {
    ul,
    ol {
        list-style: none;
    }
}

@media only screen and #{$media-wide} {
    html,
    body {
        height: 100%;
    }

    .wrapper {
        width: 95%;
        margin: 0 2.5%;
    }
}

@media only screen and #{$media-mobile-tablet} {
    body {
        background: #222;

        &:not(.swipping) {
            .page-container,
            .mobile-menu {
                transition-property: transform;
                transition-duration: $transition-duration * 2;
                transition-timing-function: ease;
            }
        }
        &.swipping * {
            user-select: none;
            pointer-events: none;
        }
    }
}
