.content-container,
.modals-container {
    form {
        width: 100%;

        &.content-wrapper {
            width: calc(100% - 20px);
            margin: 0 10px;
        }

        p {
            position: relative;
        }
    }

    .search-form {
        display: flex;
        align-items: stretch;

        input {
            margin-right: 10px;
            height: initial;
        }
    }

    fieldset {
        border-top: 1px solid #DDD;
        border-bottom: 3px solid #DDD;
        background: #EFEFEF;
        padding: 0 4%;

        legend {
            padding: 0 10px;
            border-top: 1px solid #DDD;
            border-bottom: 3px solid #DDD;
            background: #EFEFEF;
        }
    }



    label {
        display: block;
        color: #555;
        height: 30px;
        line-height: 30px;

        .asteriskField {
            color: #C0392B;
            margin-left: 4px;
        }
    }
    .small-content-wrapper .asteriskField {
        display: none;
    }
    .form-error {
        display: block;
        font-size: 13px;
        color: #C0392B;
    }

    input,
    textarea {
        border: 1px solid #D2D5D6;

        &:focus {
            outline-color: #999;
        }

        &.field-error,
        &:invalid {
            border-color: #C0392B;

            &:focus {
                outline-color: #C0392B;
            }
        }

        &[disabled],
        .disabled {
            background: #DDD !important;
            color: #555;
        }
    }
    input,
    textarea,
    button,
    .btn {
        -webkit-appearance: none;
        transition: color $transition-duration ease, background $transition-duration ease;
    }

    input:not([type=submit]):not([type=reset]):not([type=radio]):not([type=checkbox]) {
        width: calc(98% - 2px);
        padding: 0 1%;
    }
    textarea {
        width: calc(98% - 2px);
        padding: 10px 1%;
        font-family: $font-monospace;
        line-height: normal;
    }

    input,
    button,
    .btn {
        display: block;
        height: 30px;

        &.ico-after {
            padding-left: 30px;

            &:after {
                margin: 12px 0 0 7px;
            }
        }
    }
    [type=submit],
    button:not(.link),
    .btn {
        position: relative;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        color: #DDD;
        padding: 0 15px;
        border: none;
        text-decoration: none;
        margin-left: 1px;
        outline: none;

        &.submitted {
            color: #555;

            // Animation loading on submit buttons
            .line-loading {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0%;
                height: 1px;
                background: #555;
                animation: lineLoading linear 1s infinite;
            }
        }
        &:not(.btn-holder){
            float: right;
        }
    }
    [type=submit]:not(.link),
    .btn-submit:not(.link) {
        color: #FFF;
        background: $color-success;

        &:not([disabled]):hover,
        &:not([disabled]):focus,
        &:not(.disabled):hover,
        &:not(.disabled):focus {
            background: lighten($color-success, 7%);
        }

        &.disabled.submitted {
            color: $color-success;

            .line-loading {
                background: $color-success;
            }
        }
    }
    .btn-cancel:not(.link) {
        background: $color-danger;

        &:not([disabled]):hover,
        &:not([disabled]):focus,
        &:not(.disabled):hover,
        &:not(.disabled):focus {
            background: lighten($color-danger, 7%);
        }

        &.disabled.submitted {
            color: $color-danger;

            .line-loading {
                background: $color-danger;
            }
        }
    }
    .btn-grey:not(.link) {
        background: #EEE;
        color: #555;

        &:not([disabled]):hover,
        &:not([disabled]):focus,
        &:not(.disabled):hover,
        &:not(.disabled):focus {
            background: #CCC;
            color: #333;
        }

        &.disabled.submitted {
            color: #555;

            .line-loading {
                background: #999;
            }
        }
    }
    [disabled],
    .disabled {
        cursor: default !important;
        background: #EEE !important;

        &:not(.submitted){
            color: #BBB !important;
        }
    }

    .btn-facebook:not(.link) {
        background: #3b5998;

        &:hover,
        &:focus {
            background: darken(#3b5998, 10%);
        }
    }
    .btn-twitter:not(.link) {
        background: #4099FF;

        &:hover,
        &:focus {
            background: darken(#4099FF, 10%);
        }
    }
    .btn-google-plus:not(.link) {
        background: #d34836;

        &:hover,
        &:focus {
            background: darken(#d34836, 10%);
        }
    }
    .btn-facebook,
    .btn-twitter,
    .btn-google-plus {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}

.content-container {
    .btn-holder,
    .buttonHolder /* specifix for crispy */ {
        margin-top: 25px;
        min-height: 40px;
    }
}

.main-container,
.modals-container {
    input[type=radio],
    input[type=checkbox] {
        float: left;
        margin-right: 5px;
        height: 15px;
        width: 15px;
        border: 1px solid #BBB;
        background: #FCFCFC;
        transition: none;
        position: relative;

        &:after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            @include sprite();
        }

        &:checked:after {
            opacity: 1;
        }
    }
    input[type=radio] {
        border-radius: 50%;
    }
    input[type=radio]:after {
        @include sprite-position($radio);
    }
    input[type=checkbox]:after {
        @include sprite-position($check);
    }


    // TEMP STYLES TO PATCH TEMP TEMPLATE PACK MIX
    .checkbox,
    .radio {
        padding: 10px 0;

        input {
            margin-top: 8px;
        }
    }
    .controls .radio {
        padding-top: 3px;
        padding-bottom: 0;
    }
    // used in the "new content" page
    .checkbox-new-content {
        padding: 0;
    }
    #div_id_helps .checkbox {
      padding: 0;
    }
}

@media only screen and #{$media-wide} {
    .content-container,
    .modals-container {
        form.content-wrapper {
            margin: 0;
            width: 100%;
        }
    }
}


@keyframes lineLoading {
    0% {
        width: 0%;
        left: 0;
        right: inherit;
    }
    49% {
        left: 0;
        right: inherit;
    }
    50% {
        width: 100%;
        left: inherit;
        right: 0;
    }
    100% {
        left: inherit;
        right: 0;
    }
}
