// ZMD source code
.hljs-code-div {
  display: flex;

  // Required for line highlights
  position: relative;

  margin: 0 auto;
  padding: 0.5em;

  border-radius: .25em;

  background-color: #fff;  // TODO $white
  font-family: $font-monospace;
  font-style: normal;
  font-size: 14px;

  line-height: 1.3em;

  z-index: 0;

  + .hljs-code-div {
    margin-top: 14px;
  }

  .hljs-line-numbers {
    counter-reset: line;

    margin: 0;
    padding: .5em;

    border-right: 1px solid #ddd;

    text-align: right;
    color: #888;

    z-index: 1;

    span:after {
      display: block;
      position: relative;
      top: -1px;
    }

    // LEGACY
    // Support for content generated before zmd 9.1, without explicit
    // line numbers.
    span:not([data-count]):after {
      counter-increment: line;
      content: counter(line);
    }

    span[data-count]:after {
      content: attr(data-count);
    }

    // Highlighted lines
    span.hll {
      &:after {
        font-weight: bold;
        color: hsl(25.8, 95.9%, 19%);  // TODO $accent-900
      }

      &:before {
        display: block;
        content: '';

        position: absolute;
        left: 0;

        width: 100%;
        height: 1.3em;

        background-color: transparentize(hsl(39.2, 78.8%, 87.1%), .6);  // TODO transparentize($accent-200, .6)
      }
    }
  }

  pre {
    margin: 0;
    width: 100%;
    overflow-x: auto;

    background-color: transparent;

    z-index: 2;

    .hljs {
      background-color: transparent;
    }
  }

  &.hljs-code-console {
    background-color: black;  // TODO $black

    .hljs-line-numbers {
      border-right-color: hsl(192, 2.6%, 62.9%);  // TODO $grey-400

      span {
        &:after , &.hll:after{
          color: white;  // TODO $white
        }
      }
    }

    pre code.language-console {
      background-color: transparent !important;
    }
  }
}

.language-console {
  display: block;
  padding: .5em;

  color: $color-console-text;
  background-color: $color-console-bg;

  font-family: $font-monospace;

  overflow-x: auto;
}
