.table-wrapper {
    max-width: 100%;
    overflow: auto;
}

table {
    margin: 15px auto;
    border-top: 1px solid #DDD;
    border-collapse: collapse;

    thead {
        background: #DDD;
        color: $color-primary;
    }
    th, td {
        text-align: left;
        padding: 5px 15px 5px 7px;
        border-right: 1px solid #DDD;

        &:first-child {
            border-left: 1px solid #DDD;
        }

        p {
            margin: 0;
        }
    }

    tbody tr {
        background: #FDFDFD;
        border-bottom: 1px solid #DDD;

        &:nth-child(2n+1) {
            background: #F7F7F7;
        }
    }

    &.fullwidth {
        width: 100%;
    }
}

/* Specific for diff */

.diff_delta {
    overflow-x: auto;
    width: 100%;
    margin: 15px 0; /* add margin to container */

    table.diff {
        font-family: $font-monospace;
        font-size: 0.9em;
        border: 2px solid gray;
        margin: 0; /* abort table default margin */

        tr {
            line-height: 1em;
            border-bottom: none;
        }

        .diff_header {
            background-color: #e0e0e0;
            padding: 5px;
        }

        td.diff_header {
            text-align: right;
        }

        .diff_next {
            display: none;
        }
    }
}

.diff_add { /* added text */
    background-color: #aaffaa;
}

.diff_chg { /* changed text */
    background-color: #fff8ab;
}

.diff_sub { /* deleted text */
    background-color: #ffaaaa;
}
