{% extends "tutorialv2/base.html" %}
{% load i18n %}
{% load append_query_params %}

{% block title %}
    {% trans "Statistiques du contenu" %}
{% endblock %}

{% block breadcrumb %}
    <li>{{ content.title }}</li>
{% endblock %}


{% block content_out %}
    <section class="full-content-wrapper">
        <h2 class="ico-after ico-tutorials">
            {% block headline %}
                {% blocktrans with content_title=content.title %}
                    Statistiques du contenu : {{content_title}}
                {% endblocktrans %}
            {% endblock %}
        </h2>
        <!--TODO check that a leat one stats is available, else display error msg-->
        <table class="fullwidth">
                <thead>
                    <th>{% trans "URL" %}</th>
                    <th>{% trans "Vues" %}</th>
                    <th class="wide">{% trans "Temps moyen sur la page" %}</th>
                </thead>
                <tbody>
                    {% for view in url_stats %}
                        <tr>
                            <!--   TODO this could be a link to the online version/part/chapter -->
                            <td>{{ view.url }}</td>
                            <td>{{ view.pageviews}}</td>
                            <td class="wide">{{ view.avgTimeOnPage}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% for url in urls %}
                {{url}}<br>
            {% endfor %}

    </section>
{% endblock %}

{% block sidebar_actions %}
<div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
    <h3>{% trans "Échelle de temps" %}</h3>
    <ul>
        <li>
            <a href="{% append_query_params days=7 %}">
                <span>
                    {% trans "7 derniers jours" %}
                </span>
            </a>
        </li>
        <li>
            <a href="{% append_query_params days=30 %}">
                <span>
                    {% trans "30 derniers jours" %}
                </span>
            </a>
        </li>
        <li>
            <a href="{% append_query_params days=365 %}">
                <span>
                    {% trans "La dernière année" %}
                </span>
            </a>
        </li>
    </ul>
</div>
<!--TODO missing style for default and active filter-->
{% endblock sidebar_actions %}
