{% extends "tutorialv2/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load append_query_params %}
{% load datedelta_from_day %}
{% load seconds_to_duration %}
{% load static %}

{% block title %}
    {% trans "Statistiques du contenu" %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url "content:stats-content" content.pk content.slug %}">{% trans "Statistiques" %}</a></li>
    <li>{{ content.title }}</li>
{% endblock %}

{% block content_out %}
    <div class="tab">
        <span class="tablinks" tabindex="0" id="tab-quizz">{% trans "Quizz" %}</span>
    </div>
    {% include "misc/quizz.graph.part.html" with tab_name="tab-quizz-content" graph_title="Réponses à la question :" canvas_id="quizz-graph" metric="quizz" %}
{% endblock %}


{% block sidebar %}
    <aside class="sidebar summary mobile-menu-hide">
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
            <h3>Type de graphe</h3>
            <ul>
                <li>
                    <button id="graph_type_toggle">-</button>
                </li>
            </ul>
            <h3>{% trans "Échelle de temps" %}</h3>
            <ul>
                <li>
                    {% with start_date=-7|datedelta_from_day end_date=0|datedelta_from_day %}
                    <a class="{% if request.GET.start_date == start_date|date:'Y-m-d' or request.GET.start_date is none %}selected{% endif %}"
                       href="{% append_query_params start_date=start_date,end_date=end_date %}{% if display == 'comparison' %}{% for url in urls %}&urls={{url.url}}{% endfor %}{% endif %}">
                        {% trans "7 derniers jours" %}
                    </a>
                    {% endwith %}
                </li>
                <li>
                    {% with start_date=-30|datedelta_from_day end_date=0|datedelta_from_day %}
                    <a class="{% if request.GET.start_date == start_date|date:'Y-m-d' %}selected{% endif %}"
                       href="{% append_query_params start_date=start_date,end_date=end_date %}{% if display == 'comparison' %}{% for url in urls %}&urls={{url.url}}{% endfor %}{% endif %}">
                        {% trans "30 derniers jours" %}
                    </a>
                    {% endwith %}
                </li>
                <li>
                    {% with start_date=-365|datedelta_from_day end_date=0|datedelta_from_day %}
                    <a class="{% if request.GET.start_date == start_date|date:'Y-m-d' %}selected{% endif %}"
                       href="{% append_query_params start_date=start_date,end_date=end_date %}{% if display == 'comparison' %}{% for url in urls %}&urls={{url.url}}{% endfor %}{% endif %}">
                        {% trans "La dernière année" %}
                    </a>
                    {% endwith %}
                </li>
                <li>
                    {% with start_date=db_content.public_version.last_publication_date.date end_date=0|datedelta_from_day %}
                    <a class="{% if request.GET.start_date == start_date|date:'Y-m-d' %}selected{% endif %}"
                       href="{% append_query_params start_date=start_date,end_date=end_date %}{% if display == 'comparison' %}{% for url in urls %}&urls={{url.url}}{% endfor %}{% endif %}">
                        {% trans "Depuis la dernière publication" %}
                    </a>
                    {% endwith %}
                </li>
                {% if db_content.first_publication_date.date != db_content.public_version.last_publication_date.date %}
                    <li>
                        {% with start_date=db_content.first_publication_date.date end_date=0|datedelta_from_day %}
                        <a class="{% if request.GET.start_date == start_date|date:'Y-m-d' %}selected{% endif %}"
                           href="{% append_query_params start_date=start_date,end_date=end_date %}{% if display == 'comparison' %}{% for url in urls %}&urls={{url.url}}{% endfor %}{% endif %}">
                            {% trans "Depuis la première publication" %}
                        </a>
                        {% endwith %}
                    </li>
                {% endif %}
                <li>
                    <a href="#custom-dates" class="open-modal">{% trans "Échelle personnalisée" %}</a>
                    <form method="GET" class="modal modal-flex" id="custom-dates">
                        {% if request.GET.end_date %}
                            <label for="start_date">{% trans "Du" %}</label>
                            <input type="date" value="{% if request.GET.start_date %}{{request.GET.start_date}}{% else %}{{ -7|datedelta_from_day:request.GET.end_date|date:'Y-m-d' }}{% endif %}" name="start_date" id="start_date" max="{% now 'Y-m-d' %}">
                            <label for="end_date">{% trans "au" %}</label>
                            <input type="date" value="{{request.GET.end_date}}" name="end_date" id="end_date" max="{% now 'Y-m-d' %}">
                        {% else %}
                            <label for="start_date">{% trans "Du" %}</label>
                            <input type="date" value="{% if request.GET.start_date %}{{request.GET.start_date}}{% else %}{{ -7|datedelta_from_day|date:'Y-m-d' }}{% endif %}" name="start_date" id="start_date" max="{% now 'Y-m-d' %}">
                            <label for="end_date">{% trans "au" %}</label>
                            <input type="date" value="{% now 'Y-m-d' %}" name="end_date" id="end_date" max="{% now 'Y-m-d' %}">
                        {% endif %}
                        <button type="submit" class="btn btn-submit">
                            {% trans "Actualiser" %}
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </aside>
{% endblock sidebar %}