{% extends "forum/base.html" %}
{% load profile %}
{% load crispy_forms_tags %}
{% load captureas %}
{% load i18n %}


{% block title %}
    {% trans 'Éditer un sujet' %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category.title }}</a></li>
    <li><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.title }}</a></li>
    <li><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></li>
    <li>{% trans 'Éditer un sujet' %}</li>
{% endblock %}



{% block headline %}
    {% trans "Éditer un sujet" %} : {{ topic.title }}
{% endblock %}



{% block content %}
    {% crispy form %}

    {% if form.text.value %}
        {% include "misc/preview.part.html" with text=form.text.value %}
    {% endif %}
{% endblock %}
