{% extends "forum/base.html" %}
{% load i18n %}


{% block title %}
    {% trans "Sujets suivis" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Sujets suivis" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Sujets suivis" %}
{% endblock %}



{% block content %}
    {% include "misc/pagination.part.html" with position="top" %}

	<div class="topic-list navigable-list">
	    {% for topic in followed_topics %}
	        {% include "forum/includes/topic_row.part.html" %}
	    {% endfor %}
    </div>
    
    {% include "misc/pagination.part.html" with position="bottom" %}
{% endblock %}