{% extends "forum/base.html" %}
{% load emarkdown %}
{% load captureas %}
{% load set %}
{% load profile %}
{% load crispy_forms_tags %}



{% block title %}
    {% if topic.is_solved %}[Résolu]{% endif %} {{ topic.title }}
{% endblock %}

{% block breadcrumb %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ topic.forum.category.get_absolute_url }}" itemprop="url">
            <span itemprop="title">{{ topic.forum.category.title }}</span>
        </a>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ topic.forum.get_absolute_url }}" itemprop="url">
            <span itemprop="title">{{ topic.forum.title }}</span>
        </a>
    </li>
    <li>
        {{ topic.title }}
    </li>
{% endblock %}



{% block schema %}
    itemscope itemtype="http://schema.org/Question"
{% endblock %}



{% block headline %}
    {{ topic.title }}
{% endblock %}



{% block headline_sub %}
    {{ topic.subtitle }}
{% endblock %}



{% block content %}
    {% if topic.tags.all %}
        <ul class="taglist" itemprop="keywords">
            {% for tag in topic.tags.all %}
                <li>
                    <a href="{% url "zds.forum.views.find_topic_by_tag" tag.pk tag.slug %}">
                        {{ tag.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include "misc/pagination.part.html" with position="top" %}

    <div class="content-wrapper">
        {% if topic.is_solved %}
            <div class="alert-box success ico-after tick light">
                L'auteur de ce sujet a trouvé une solution à son problème.
            </div>
        {% endif %}

        {% for message in posts %}
            {% captureas edit_link %}
                {% url "zds.forum.views.edit_post" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas cite_link %}
                {% url "zds.forum.views.answer" %}?sujet={{ topic.pk }}&amp;cite={{ message.pk }}
            {% endcaptureas %}

            {% captureas helpful_link %}
                {% url "zds.forum.views.useful_post" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas upvote_link %}
                {% url "zds.forum.views.like_post" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas downvote_link %}
                {% url "zds.forum.views.dislike_post" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas alert_solve_link %}
                {% url "zds.forum.views.solve_alert" %}
            {% endcaptureas %}

            {% if forloop.first and nb > 1 %}
                {% set True as is_repeated_message %}
            {% else %}
                {% set False as is_repeated_message %}
            {% endif %}

            {% if forloop.first and nb = 1 %}
                {% set False as answer_schema %}
            {% else %}
                {% set True as answer_schema %}
            {% endif %}

            {% include "misc/message.part.html" with perms_change=perms.forum.change_topic answer_schema=answer_schema %}
        {% endfor %}
    </div>

    {% include "misc/pagination.part.html" with position="bottom" %}


    {% if user.is_authenticated %}
        {% captureas form_action %}
            {% url "zds.forum.views.answer" %}?sujet={{ topic.pk }}
        {% endcaptureas %}
        
        {% include "misc/message_form.html" with member=user %}
    {% endif %}
{% endblock %}



{% block new_btn %}
    <a href="{% url "zds.forum.views.new" %}?forum={{ topic.forum.pk }}" class="new-btn ico-after more blue">
        Nouveau sujet
    </a>
{% endblock %}



{% block sidebar_actions %}
    {% if topic.author.pk == user.pk or perms.forum.change_topic %}
        <li>
            <form action="{% url "zds.forum.views.edit" %}" method="post">
                <input type="hidden" name="topic" value="{{ topic.pk }}">
                <input type="hidden" name="nb" value="{{ nb }}">
                <input type="hidden" name="page" value="{{ nb }}">
                <input type="hidden" name="solved" value="1">
                {% csrf_token %}

                <button class="ico-after tick {% if topic.is_solved %}blue{% else %}green{% endif %}" type="submit">
                    {% if topic.is_solved %}
                        Marquer comme non résolu
                    {% else %}
                        Marquer comme résolu
                    {% endif %}
                </button>
            </form>
        </li>
    {% endif %}

    <li>
        <form action="{% url "zds.forum.views.edit" %}" method="post">
            <input type="hidden" name="topic" value="{{ topic.pk }}">
            <input type="hidden" name="nb" value="{{ nb }}">
            <input type="hidden" name="page" value="{{ nb }}">
            <input type="hidden" name="follow" value="1">
            {% csrf_token %}

            <button class="ico-after star {% if topic.is_followed %}yellow{% else %}blue{% endif %}" type="submit">
                {% if topic.is_followed %}
                    Ne plus suivre ce sujet
                {% else %}
                    Suivre ce sujet
                {% endif %}
            </button>
        </form>
    </li>
    <li>
        <form action="{% url "zds.forum.views.edit" %}" method="post">
            <input type="hidden" name="topic" value="{{ topic.pk }}">
            <input type="hidden" name="nb" value="{{ nb }}">
            <input type="hidden" name="page" value="{{ nb }}">
            <input type="hidden" name="email" value="1">
            {% csrf_token %}

            <button class="ico-after email {% if not topic.is_email_followed %}blue{% endif %}" type="submit">
                {% if topic.is_email_followed %}
                    Ne plus être notifié par courriel
                {% else %}
                    Être notifié par courriel
                {% endif %}
            </button>
        </form>
    </li>
{% endblock %}



{% block sidebar_blocks %}
    {% if perms.forum.change_topic %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Modération">
            <h3>Modération</h3>
            <ul>
                <li>
                    <form action="{% url "zds.forum.views.edit" %}" method="post">
                        <input type="hidden" name="topic" value="{{ topic.pk }}">
                        <input type="hidden" name="nb" value="{{ nb }}">
                        <input type="hidden" name="page" value="{{ nb }}">
                        <input type="hidden" name="lock" value="{% if topic.is_locked %}false{% else %}true{% endif %}">
            			{% csrf_token %}

                        <button class="ico-after lock {% if not topic.is_locked %}blue{% endif %}" type="submit">
                            {% if topic.is_locked %}
                                Ouvrir le sujet
                            {% else %}
                                Fermer le sujet
                            {% endif %}
                        </button>
                    </form>
                </li>

                <li>
                    <form action="{% url "zds.forum.views.edit" %}" method="post">
                        <input type="hidden" name="topic" value="{{ topic.pk }}">
                        <input type="hidden" name="nb" value="{{ nb }}">
                        <input type="hidden" name="page" value="{{ nb }}">
                        <input type="hidden" name="sticky" value="{% if topic.is_sticky %}false{% else %}true{% endif %}">
            			{% csrf_token %}

                        <button class="ico-after pin {% if not topic.is_sticky %}blue{% endif %}" type="submit">
                            {% if topic.is_sticky %}
                                Enlever du post-it
                            {% else %}
                                Marquer en post-it
                            {% endif %}
                        </button>
                    </form>
                </li>

                <li>
                    <a href="#move-topic" class="ico-after arrow-right blue open-modal">Déplacer le sujet</a>
                    <div class="modal modal-small" id="move-topic">
                        {% crispy form_move %}
                    </div>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}