{% extends "forum/base.html" %}
{% load emarkdown %}
{% load humanize %}
{% load captureas %}
{% load profile %}
{% load crispy_forms_tags %}



{% block title %}
    {{ topic.title }}
{% endblock %}



{% block headline %}
    {{ topic.title }}
{% endblock %}



{% block headline_sub %}
    {{ topic.subtitle }}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category.title }}</a></li>
    <li><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.title }}</a></li>
    <li>{{ topic.title }}</li>
{% endblock %}



{% block sidebar_actions %}
    <li>
        <a href="{% url "zds.forum.views.new" %}?forum={{ topic.forum.pk }}" class="ico-after">
            Nouveau Sujet
        </a>
    </li>
    

    {# TODO : protéger tout ça des CSRF #}

    {% if topic.author.pk == user.pk or perms.forum.change_topic %}
        <li>
            <a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&solved=1" 
               class="ico-after tick {% if topic.is_solved %}blue{% else %}active{% endif %}">
                {% if topic.is_solved %}
                    Marquer comme non résolu
                {% else %}
                    Marquer comme résolu
                {% endif %}
            </a>
        </li>
    {% endif %}

    <li>
        <a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&follow=1"
           class="ico-after view {% if topic.is_followed %}grey{% else %}blue{% endif %}">
            {% if topic.is_followed %}
                Ne plus suivre ce sujet
            {% else %}
                Suivre ce sujet
            {% endif %}
        </a>
    </li>

    {% if perms.forum.change_topic %}
        {% if topic.is_locked %}
            <li>
                <a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&lock=false"
                   class="ico-after lock blue">
                    Dévérouiller
                </a>
            </li>
        {% else %}
            <li>
                <a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&lock=true"
                   class="ico-after lock blue">
                    Vérouiller le sujet
                </a>
            </li>
        {% endif %}

        {% if topic.is_sticky %}
            <li>
                <a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&sticky=false"
                   class="ico-after pin blue">
                    Enlever du Post-It
                </a>
            </li>
        {% else %}
            <li>
                <a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&sticky=true"
                   class="ico-after pin blue">
                    Marquer en Post-It
                </a>
            </li>
        {% endif %}

        {% crispy form_move %}
    {% endif %}
{% endblock %}



{% block content %}
    <ul class="taglist">
        <li><a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category.title }}</a></li>
        <li><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.title }}</a></li>
    </ul>

    {% if topic.is_solved %}
        <div class="alert-box success">
            <strong>Ce sujet est résolu</strong>, l'auteur de ce sujet a trouvé une
            solution satisfaisant son problème.
        </div>
    {% endif %}

    {% include "misc/pagination.part.html" with position="top" %}

    <div class="content-wrapper">
        {% for message in posts %}
            {% captureas edit_link %}
                {% url "zds.forum.views.edit_post" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas cite_link %}
                {% url "zds.forum.views.answer" %}?article={{ article.pk }}&amp;cite={{ message.pk }}
            {% endcaptureas %}

            {% captureas helpful_link %}
                {% url "zds.forum.views.useful_post" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas upvote_link %}
                {% url "zds.forum.views.like_post" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas downvote_link %}
                {% url "zds.forum.views.dislike_post" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% include 'misc/message.part.html' with perms_change=perms.forum.change_topic %}
        {% endfor %}
    </div>

    {% include "misc/pagination.part.html" with position="bottom" %}

    {# TODO : Factoriser ça #}
    {% if user.is_authenticated %}
        {% with profile=user|profile %}
            <section>
                <div class="user">
                    <img src="{{profile.get_avatar_url}}" alt="" class="avatar avatar-link">
                </div>

                {% crispy form %}
            </section>
        {% endwith %}
    {% endif %}
{% endblock %}