{% extends "forum/base.html" %}
{% load emarkdown %}
{% load crispy_forms_tags %}



{% block title %}
    Nouveau sujet
{% endblock %}



{% block headline %}
    Nouveau sujet
{% endblock %}



{% block breadcrumb %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ forum.category.get_absolute_url }}" itemprop="url">
            <span itemprop="title">{{ forum.category.title }}</span>
        </a>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ forum.get_absolute_url }}" itemprop="url">
            <span itemprop="title">{{ forum.title }}</span>
        </a>
    </li>
    <li>Nouveau sujet</li>
{% endblock %}



{% block content %}
	<div data-solved-topics-url="{% url "zds.forum.views.complete_topic" %}">
   		{% crispy form %}
    </div>

    {% if text %}
        {% include "misc/previsualization.part.html" %}
    {% endif %}
{% endblock %}