{% extends "forum/base.html" %}
{% load emarkdown %}
{% load crispy_forms_tags %}
{% load i18n %}



{% block title %}
    {% trans "Nouveau sujet" %}
{% endblock %}



{% block headline %}
    {% trans "Nouveau sujet" %}
{% endblock %}



{% block breadcrumb %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ forum.category.get_absolute_url }}" itemprop="url">
            <span itemprop="title">{{ forum.category.title }}</span>
        </a>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ forum.get_absolute_url }}" itemprop="url">
            <span itemprop="title">{{ forum.title }}</span>
        </a>
    </li>
    <li>{% trans "Nouveau sujet" %}</li>
{% endblock %}



{% block content %}
    <div>
        {% crispy form %}
    </div>

    {% if form.text.value %}
        {% include "misc/preview.part.html" with text=form.text.value %}
    {% endif %}
{% endblock %}
