{% extends "member/base.html" %}

{% block title %}
    Quoi de neuf ?
{% endblock %}

{% block headline %}
    <h2 class="box member">Quoi de neuf ?</h2>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Quoi de neuf ?</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h2>Actions</h2>
        <ul>
            <li>
                <a href="{% url "zds.member.views.details" user.username %}">
                    Voir votre profil
                </a>
            </li>
            <li>
                <a href="{% url "zds.member.views.articles" %}">
                    Voir vos articles
                </a>
            </li>
            <li>
                <a href="{% url "zds.member.views.tutorials" %}">
                    Voir vos tutoriels
                </a>
            </li>
            <li>
                <a href="{% url "zds.gallery.views.gallery_list" %}">
                    Consultez vos galeries d'images
                </a>
            </li>
            <li>
                <a href="{% url "zds.member.views.settings_profile" %}">
                    Paramètres de votre profil
                </a>
            </li>
            <li>
                <a href="{% url "zds.tutorial.views.list_validation" %}">
                    Administration des tutoriels
                </a>
            </li>
            <li>
                <a href="{% url "zds.article.views.list_validation" %}">
                    Administration des articles
                </a>
            </li>
            <li>
                <a href="{% url "zds.member.views.settings_account" %}">
                    Paramètres de votre compte
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}