{% extends "member/source.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block head-title %}
    Mot de passe oublié
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Mot de passe oublié</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% if not user.is_authenticated %}
            {% if error %}
                {{ error }}
            {% endif %}
            <p>
                Si vous avez perdu votre mot de passe, vous pouvez utiliser ce formulaire pour le ré-initialiser. Saisissez votre identifiant ou votre adresse de courriel dans le champ ci-dessous.
            </p>
            <p>
                Une fois le formulaire envoyé, vous recevrez un courriel demandant la validation de cette requête pour s'assurer qu'aucune tentative d'abus n'a eu lieu. Ce courriel contiendra également un lien sur lequel vous devrez cliquer pour avoir plus d'instructions.
            </p>
            {% crispy form %}
        {% else %}
            <p>Vous êtes connecté</p>
        {% endif %}
    </div>
</div>

{% endblock %}
