{% extends "member/base.html" %}



{% block title %}
    Liste des membres
{% endblock %}



{% block headline %}
    Liste des membres
{% endblock %}



{% block breadcrumb %}
    <li>Liste des membres</li>
{% endblock %}



{# TODO : A mon avis, ça ne doit pas être top comme affichage #}
{% block content %}
    <p>
        Sur cette page vous pourrez trouver la liste des membres inscrits au site (actuellement {{ members.count }} membres).
    </p>

    <p>
        {% for member in members %}
            {% include "misc/member_item.part.html" %}
        {% endfor %}
    </p>
{% endblock %}