{% extends "member/source.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Connexion
{% endblock %}

{% block head-title %}
    Se connecter
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Connexion</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% if not user.is_authenticated %}
            {% if error %}
            <div class="alert-box warning">
                {{ error }}.
            </div>
            {% endif %}

            <p>
                Si vous n'avez pas de compte, vous pouvez <a href="{% url "zds.member.views.register_view" %}" >vous inscrire</a>.
            </p>
        {% else %}
            <p>
                Vous êtes déjà connecté.
            </p>
        {% endif %}
    </div>
</div>

{% if not user.is_authenticated %}
<div class="row">
    <div class="large-7 columns large-centered">
        {% crispy form %}
    </div>
</div>
{% endif %}

{% endblock %}
