{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block title %}
    Connexion
{% endblock %}



{# No sidebar on this page #}
{% block body_class %}no-sidebar{% endblock %}
{% block sidebar %}{% endblock %}



{% block breadcrumb %}
    <li>Connexion</li>
{% endblock %}



{% block content_out %}
    <section class="content-wrapper">
        {% if not user.is_authenticated %}
            {% if error %}
                <div class="alert-box warning">
                    {{ error }}
                </div>
            {% endif %}

            <p class="alert-box success">
                Si vous n'avez pas de compte, vous pouvez <a href="{% url "zds.member.views.register_view" %}" >vous inscrire</a>.
            </p>

            <div>
                <div class="content-col-2">
                    <h2>Connexion classique</h2>

                    {% crispy form %}
                </div>
                <div class="content-col-2">
                    <h2>Connexion via réseaux sociaux</h2>

                    <a href="{% url "social:begin" "facebook" %}" class="btn ico-after facebook light btn-facebook btn-holder">
                        Connexion via Facebook
                    </a>
                    <a href="{% url "social:begin" "twitter" %}" class="btn ico-after twitter light btn-twitter btn-holder">
                        Connexion via Twitter
                    </a>
                    <a href="{% url "social:begin" "google-oauth2" %}" class="btn ico-after google-plus light btn-google-plus btn-holder">
                        Connexion via Google+
                    </a>
                </div>
            </div>
        {% else %}
            <h1>Connexion</h1>

            <p class="alert-box error">
                Vous êtes déjà connecté.
            </p>
        {% endif %}
    </section>
{% endblock %}
