{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% trans "Connexion" %}
{% endblock %}



{# No sidebar on this page #}
{% block body_class %}{% trans "no-sidebar" %}{% endblock %}
{% block sidebar %}{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Connexion" %}</li>
{% endblock %}



{% block content_out %}
    <section class="small-content-wrapper">
        <h1>{% trans "Connexion" %}</h1>

        {% if not user.is_authenticated %}
            {% if error %}
                <div class="alert-box warning">
                    {{ error }}
                </div>
            {% endif %}

            <p>
                {% url "zds.member.views.register_view" as url_register %}
                {% blocktrans %}
                    Si vous n'avez pas de compte, vous pouvez <a href="{{url_register}}" >vous inscrire</a>.
                {% endblocktrans %}
            </p>

            {% crispy form %}

            <a href="{% url "zds.member.views.forgot_password" %}" class="form-sub-link">{% trans "Mot de passe oublié" %} ?</a>
        {% else %}
            <p>
                {% trans "Vous êtes déjà connecté" %}.
            </p>
        {% endif %}
    </section>
{% endblock %}