{% extends "member/base.html" %}
{% load emarkdown %}
{% load humanize %}
{% load email_obfuscator %}

{% block title %}
    {{ usr.username }}
{% endblock %}

{% block headline %}
    <h1 class="illu">
        <img src="{{ profile.get_avatar_url }}" alt="Avatar"/>
        {{ usr.username }}
    </h1>
    <ul class="taglist">
        {% if perms.member.show_ip %}
        <li>
            <a href="#">{{ profile.last_ip_address }}</a>
        </li>
        <li>
            <a href="#">{{ profile.get_city }}</a>
        </li>
        {% endif %}
        {% if profile.site %}
            <li><a href="{{ profile.site }}">{{ profile.site }}</a></li>
        {% endif %}
    </ul>
    
    <div class="authors content-wrapper">
        Inscrit {{ usr.date_joined|naturaltime }}, dernière connexion {{ usr.last_login|naturaltime }}.
    </div>
    {% if profile.show_email and user.is_authenticated %}
    <div class="authors content-wrapper">
            Adresse mail : {{ usr.email|obfuscate_mailto }}<br />
    </div>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="#">{{ usr.username }}</a></li>
{% endblock %}

{% block sidebar_actions %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Admin">
        <h3>Actions</h3>
        <ul>
            {% ifequal profile.user user %}
            <li><a href="{% url "zds.member.views.settings_profile" %}">Paramètres</a></li>
            {% endifequal %}

            {% if user.is_authenticated %}
            <li><a href="{% url "zds.mp.views.new"%}?username={{ usr.username }}" class="fi-mail button">Message privé</a></li>
            {% endif %}
        </ul>
    </div>

    
        
    
    
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-6 columns">
        <h2>Tutoriels</h2>
        <table>
            <tbody>
                <tr>
                    <td>En cours de rédaction</td>
                    <td>{{ profile.get_draft_tutos.count }}</td>
                </tr>
                <tr>
                    <td>En attente de validation</td>
                    <td>{{ profile.get_validate_tutos.count }}</td>
                </tr>
                <tr>
                    <td>En version beta</td>
                    <td><a href="{% url "zds.tutorial.views.find_tuto" usr.pk %}?type=beta">{{ profile.get_beta_tutos.count }}</a></td>
                </tr>
                <tr>
                    <td>En ligne</td>
                    <td><a href="{% url "zds.tutorial.views.find_tuto" usr.pk %}">{{ profile.get_public_tutos.count }}</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>{{ profile.get_tutos.count }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="large-6 columns">
        <h2>Forums</h2>
        <table>
            <tbody>
                <tr>
                    <td>Sujets créés</td>
                    <td><a href="{% url "zds.forum.views.find_topic" usr.pk %}">{{ profile.get_topic_count }}</a></td>
                </tr>
                <tr>
                    <td>Messages postés</td>
                    <td><a href="{% url "zds.forum.views.find_post" usr.pk %}">{{ profile.get_post_count }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% if perms.forum.change_topic %}
<div class="row">
<div class="large-12 columns">
        <h2>Modération</h2>
        <div class="large-6 columns">
            <h3>Statistiques</h3>
            <table>
                <tbody>
                    <tr>
                        <td>Nombres de messages modérés</td>
                        <td>{{ profile.get_invisible_posts_count }}</td>
                    </tr>
                    <tr>
                        <td>Nombres d'alertes déclarées</td>
                        <td>{{ profile.get_alerts_posts_count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form action="{% url "zds.member.views.modify_profile" profile.user.pk %}" method="POST"
        class="topic-actions" id="edit_form">
        <div class="large-6 columns">
            <h3>Sanctions</h3>
            <div class="row">
                {% if profile.can_write_now %}
                <a href="#" class="button secondary small" data-dropdown="ls-drop-{{profile.pk}}">
                    Lecture seule
                </a>
                <div id="ls-drop-{{profile.pk}}" class="f-dropdown small content" data-dropdown-content>
                    <p>
                        Pour quelle raison souhaitez vous mettre ce membre en lecture seule ?
                    </p>
                    <input type="text" name="ls-text" class="expand" placeholder="Spam, Troll, etc." />
                    <button type="submit" name="ls" class="button expand alert">
                        Confirmer la sanction
                    </button>
                </div>
                <a href="#" class="button secondary small" data-dropdown="ls-temp-drop-{{profile.pk}}">
                    LS Temporaire
                </a>
                <div id="ls-temp-drop-{{profile.pk}}" class="f-dropdown small content" data-dropdown-content>
                    <p>
                        Pour quelle raison souhaitez vous mettre ce membre en lecture seule ?
                    </p>
                    <input type="text" name="ls-temp-text" class="expand" placeholder="Spam, Troll, etc." />
                    <input type="text" name="ls-jrs" class="expand" placeholder="Nombre de jours de la sanction" />
                    <button type="submit" name="ls-temp" class="button expand alert">
                        Confirmer la sanction
                    </button>
                </div>
                {% else %}
                <a href="#" class="button secondary small" data-dropdown="unls-drop-{{profile.pk}}">
                    Oter la LS
                </a>
                <div id="unls-drop-{{profile.pk}}" class="f-dropdown small content" data-dropdown-content>
                    <p>
                        Pour quelle raison souhaitez vous lever la sanction de ce membre ?
                    </p>
                    <input type="text" name="unls-text" class="expand" placeholder="Bonne actions ?" />
                    <button type="submit" name="un-ls" class="button expand alert">
                        Confirmer la libération
                    </button>
                </div>
                {% endif %}
                {% if profile.can_read_now %}
                
                <a href="#" class="button secondary small" data-dropdown="ban-temp-drop-{{profile.pk}}">
                    Ban Temporaire
                </a>
                <div id="ban-temp-drop-{{profile.pk}}" class="f-dropdown small content" data-dropdown-content>
                    <p>
                        Pour quelle raison souhaitez vous bannir ce membre ?
                    </p>
                    <input type="text" name="ban-temp-text" class="expand" placeholder="Spam, Troll, etc." />
                    <input type="text" name="ban-jrs" class="expand" placeholder="Nombre de jours de la sanction" />
                    <button type="submit" name="ban-temp" class="button expand alert">
                        Confirmer la sanction
                    </button>
                </div>
                <a href="#" class="button secondary small" data-dropdown="ban-drop-{{profile.pk}}">
                    Ban Définitif
                </a>
                <div id="ban-drop-{{profile.pk}}" class="f-dropdown small content" data-dropdown-content>
                    <p>
                        Pour quelle raison souhaitez vous bannir ce membre ?
                    </p>
                    <input type="text" name="ban-text" class="expand" placeholder="Spam, Troll, etc." />
                    <button type="submit" name="ban" class="button expand alert">
                        Confirmer la sanction
                    </button>
                </div>
                {% else %}
                <a href="#" class="button secondary small" data-dropdown="unban-drop-{{profile.pk}}">
                    Oter le ban
                </a>
                <div id="unban-drop-{{profile.pk}}" class="f-dropdown small content" data-dropdown-content>
                    <p>
                        Pour quelle raison souhaitez vous lever la sanction de ce membre ?
                    </p>
                    <input type="text" name="unban-text" class="expand" placeholder="Bonne action ?" />
                    <button type="submit" name="un-ban" class="button expand alert">
                        Confirmer la libération
                    </button>
                </div>
                {% endif %}
            </div>
            <div class="row">
                {% for ban in bans %}
                <hr />
                <p><strong>{{ ban.type }}</strong> : par {{ban.moderator.username}} <i>{{ban.pubdate|naturaltime}} </i></p>
                <p>{{ ban.text }}</p>
                {% endfor %}
            </div>
        </div>
        {% csrf_token %}
        </form>
    </div>
    <div class="large-12 columns">
        <h3>Vue d'ensemble des posts sur le forum</h3>
        <figure style='height:800px'>
          <embed type="image/svg+xml" src="/media/pygal/mod-{{profile.user.pk}}.svg" />
        </figure>
    </div>
</div>
{% endif %}
{# Biography #}

{% if profile.biography %}
<div class="row">
    <div class="large-12 columns">
        <h2>Biographie</h2>
        {{ profile.biography|emarkdown }}
        <h2>Signature</h2>
        {{ profile.sign|emarkdown }}
    </div>
</div>

{% endif %}

{% endblock %}
