{% extends "member/source.html" %}

{% block title %}
    Inscription réussie
{% endblock %}

{% block head-title %}
    Inscription réussie
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Inscription</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Vous avez bien été inscrit au site.
        </p>
        <p>
            Vous avez reçu un email vous permettant de valider votre adresse mail, lisez le et suivez les instructions pour profiter pleinement des fonctionnalités de ZesteDeSavoir
        </p>
    </div>
</div>

{% endblock %}
