{% extends "member/base.html" %}

{% block title %}
   Paramètres
{% endblock %}

{% block head-title %} Paramètres {% endblock %}

{% block headline-actions %}
<h3>Navigation</h3>
<ul>
    <li><a href="{% url "zds.member.views.settings_profile" %}">Profil</a></li>
    <li><a href="{% url "zds.member.views.settings_account" %}">Compte</a></li>
    <li ><a href="{% url "zds.member.views.settings_user" %}">Pseudo/Email</a></li>
</ul>
{% endblock %}

{% block content %}
    {% block settings_form %}{% endblock %}
{% endblock %}