{% extends "member/base.html" %}
{% load markup %}

{% block title %}
   Paramètres
{% endblock %}

{% block headline %}
	<h1>
        Paramètres
    </h1>
{% endblock %}

{% block headline-actions %}
<div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Navigation">
    <h3>Navigation</h3>
    <ul>
        <li><a href="{% url "zds.member.views.settings_profile" %}">Profil</a></li>
        <li><a href="{% url "zds.member.views.settings_account" %}">Compte</a></li>
        <li ><a href="{% url "zds.member.views.settings_user" %}">Pseudo/Email</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
    {% block settings_form %}{% endblock %}
{% endblock %}