{% load i18n %}
{% load interventions %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
    <div class="mobile-menu-bloc mobile-all-links"
         data-title='{% trans "Informations" %}'>

        <h3>{% trans "Informations" %}</h3>
        <ul>
            <li class="inactive">
                <a>
                {% if profile.user == user %}
                    {% include 'notification/subscription_count_template.html' with subscriber_count=subscriber_count own_profile=True %}
                {% else %}
                    {% include 'notification/subscription_count_template.html' with subscriber_count=subscriber_count own_profile=False %}
                {% endif %}
                </a>
            </li>
        </ul>
    </div>

    {% if perms.member.change_profile or usr != user %}
        <div class="mobile-menu-bloc mobile-all-links"
             data-title='{% trans "Actions" %}'>

            <h3>{% trans "Actions" %}</h3>
            <ul>
                {% if usr != user and not profile.is_private and profile.can_read_now %}
                    <li>
                        <a href="{% url "mp:create" %}?username={{ usr.username }}" class="ico-after cite blue">
                            {% trans "Envoyer un message privé" %}
                        </a>
                    </li>
                {% endif %}
                {% if usr != user and not profile.is_private %}
                    <li>
                        {% with content_is_followed=usr|is_new_publication_followed %}
                            {% url 'content:follow' usr.pk as link_follow %}
                            {% if content_is_followed %}
                                {% trans "Suivre ses publications" as data_onclick %}
                                {% trans "Désinscription à ses publications" as button_text %}
                            {% else %}
                                {% trans "Suivre ses publications" as button_text %}
                                {% trans "Désinscription à ses publications" as data_onclick %}
                            {% endif %}

                            {% include 'notification/follow_template.html' with link=link_follow is_followed=content_is_followed data_onclick=data_onclick button_text=button_text %}
                        {% endwith %}
                    </li>
                    <li>
                        {% with content_is_followed=usr|is_new_publication_email_followed %}
                            {% url 'content:follow' usr.pk as link_follow %}
                            {% if content_is_followed %}
                                {% trans "Suivre ses publications par courriel" as data_onclick %}
                                {% trans "Ne plus être notifié par courriel" as button_text %}
                            {% else %}
                                {% trans "Suivre ses publications par courriel" as button_text %}
                                {% trans "Ne plus être notifié par courriel" as data_onclick %}
                            {% endif %}

                            {% include 'notification/follow_by_email_template.html' with link=link_follow is_followed=content_is_followed data_onclick=data_onclick button_text=button_text %}
                        {% endwith %}
                    </li>
                {% endif %}
                {% if usr == user or not perms.member.change_profile and profile.is_private %}
                    <li class="inactive mobile-menu-link">
                        <span>{% trans "Aucune action possible" %}</span>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endif %}
