{% extends "member/base.html" %}

{% block title %}
    Jeton expiré
{% endblock %}

{% block headline %}
    <h2 class="box member">Jeton expiré</h2>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Jeton expiré</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Désolé, votre de jeton de confirmation a expiré, vous devez vous <a href="{% url "zds.member.views.register_view" %}">réinscrire</a>.
        </p>
    </div>
</div>

{% endblock %}
