{% extends "member/source.html" %}

{% block title %}
    Jeton expiré
{% endblock %}

{% block head-title %}
    Jeton expiré
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Jeton expiré</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Désolé, votre de jeton de confirmation a expiré. Vous pouvez cependant le regénerer, pour cela, cliquer sur ce lien suivant: <a href="{% url "zds.member.views.generate_token_account" %}?token={{token.token}}">envoi de jeton</a>.
        </p>
    </div>
</div>

{% endblock %}
