{% extends "tutorial/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% trans "Nouvel extrait" %} &ndash; {% trans "Tutoriels" %}
{% endblock %}



{% block breadcrumb %}
    {% if chapter.part %}
        <li><a href="{{ chapter.part.tutorial.get_absolute_url }}">{{ chapter.part.tutorial.title }}</a></li>
        <li><a href="{{ chapter.part.get_absolute_url }}">{{ chapter.part.title }}</a></li>
        <li><a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a> </li>
    {% else %}
        <li><a href="{{ chapter.tutorial.get_absolute_url }}">{{ chapter.tutorial.title }}</a></li>
    {% endif %}
    <li><a href="#">{% trans "Ajouter un extrait" %}</a></li>
{% endblock %}



{% block headline %}
    <h1>{% trans "Nouvel extrait" %}</h1>

    <h2 class="subtitle">
        {% if chapter.part %}
            {{ chapter.title }}
        {% else %}
            {{ chapter.tutorial.title }}
        {% endif %}
    </h2>
{% endblock %}



{% block content %}
    {% crispy form %}

    {% if form.text.value %}
        {% include "misc/previsualization.part.html" with text=form.text.value %}
    {% endif %}
{% endblock %}