{% extends "tutorial/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Nouvel extrait &ndash; Tutoriels
{% endblock %}

{% block head-title %}
    Nouvel Extrait
{% endblock %}

{% block headline_sub %}
    {% if chapter.part %}
        {{ chapter.title }}
    {% else %}
        {{ chapter.tutorial.title }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if chapter.part %}
        <li><a href="{{ chapter.part.tutorial.get_absolute_url }}">{{ chapter.part.tutorial.title }}</a></li>
        <li><a href="{{ chapter.part.get_absolute_url }}">{{ chapter.part.title }}</a></li>
        <li><a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a> </li>
    {% else %}
        <li><a href="{{ chapter.tutorial.get_absolute_url }}">{{ chapter.tutorial.title }}</a></li>
    {% endif %}
    <li><a href="#">Ajouter un extrait</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% if form.text.value %}
    {% with text=form.text.value %}
        {% include "misc/previsualization.part.html" %}
    {% endwith %}
{% endif %}

{% endblock %}
