#############
## Zeste de Savoir
#############
base.db
.sass-cache/
.local/
/static
/tutoriels-private
/tutoriels-public
/contents-private
/contents-public
/media
/articles-data
/zds/_version.py
/geodata
/errors/css

/tutoriels-private-test
/tutoriels-public-test
/media-test
/articles-data-test
/contents-private-test
/contents-public-test

/apache-solr

/.tmp

/scripts/release_summary.md

venv
zdsenv/

# Front files
node_modules
/dist
/npm-debug.log
/geckodriver.log

#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
htmlcov/

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#############
## PyCharm
#############
.idea/

#############
## Sphinx
#############

build/

#############
## OS detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Gedit
#############

*.*~
