git:
  depth: 1

language: python

python:
  - 2.7

env:
  - TEST_APP="-e back_mysql zds.tutorial"
    CFLAGS="-O0"
  - TEST_APP="-e back_mysql zds.article zds.forum zds.member zds.utils zds.gallery zds.mp zds.pages"
    CFLAGS="-O0" 
  - TEST_APP="-e front"

notifications:
  irc:
    channels:
      - irc.smoothirc.net#zds-dev
    skip_join: true

services: mysql

cache:
  - apt

before_script:
  # database services
  - mysql -e 'create database zds_test;'
  - sudo mv zds/settings_test.py zds/settings_prod.py
  - sudo apt-get -y install python-mysqldb
  - sudo apt-get -y install libmysqlclient-dev

install:
  # APT Stuff
  - sudo apt-get update
  - sudo echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections
  - sudo apt-get install ttf-mscorefonts-installer
  - sudo apt-get install unzip
  - sudo apt-get install texlive
  - sudo apt-get install texlive-xetex
  - sudo apt-get install texlive-lang-french
  - sudo apt-get install texlive-latex-extra
  - sudo apt-get install libgeoip-dev

  # Add fonts
  - sudo wget -P /usr/share/fonts/truetype https://www.dropbox.com/s/ema28tjn52960mq/Merriweather.zip
  - sudo unzip /usr/share/fonts/truetype/Merriweather.zip -d /usr/share/fonts/truetype/Merriweather/
  - sudo chmod a+r /usr/share/fonts/truetype/Merriweather/*.ttf
  - sudo fc-cache -f -v

  # Cabal + Pandoc stuff
  - sudo mkdir -p ~/cabal/bin
  - sudo mkdir -p ~/.pandoc
  - sudo wget -P ~/cabal/bin https://dl.dropboxusercontent.com/u/18967337/pandoc
  - sudo wget -P ~/.pandoc/templates https://dl.dropboxusercontent.com/u/14517385/dev/default.epub
  - sudo wget -P ~/.pandoc/templates https://dl.dropboxusercontent.com/u/14517385/dev/default.html
  - sudo touch ~/.pandoc/epub.css
  - sudo touch ~/.pandoc/templates/epub.css
  - sudo chmod u+x,g+x,o+x ~/cabal/bin/pandoc
  - export PATH=$PATH:~/cabal/bin
  - sudo ~/cabal/bin/pandoc --version
  - sudo apt-get --reinstall install -qq language-pack-fr

  # Python dependencies
  - travis_retry pip install coveralls
  - travis_retry pip install tox

  # Node.js + npm stuff
  - sudo apt-get -y install nodejs

script:
  - tox $TEST_APP

after_success:
  - coveralls
