git:
  depth: 1

language: python

python:
  - 2.7

env:
  global:
    - secure: "azmDZZQZzf88zpbkYpLpxI66vpEVyv+kniW0QdWAt4qlys8P5OcO3VJBR5YT85vlvnjN9b6raWQAL1ymee0WmVdTmzXed8XjZv7t9QXVw7pfezxMKlEftVp/4Cu4wtvbew0ViZXNWV2hNXHzEqlhgnoIOq94i0UzZ7grMrI0xm0="
  matrix:
    - TEST_APP="-e back_mysql"
    - TEST_APP="-e front"

notifications:
  irc:
    channels:
      - irc.smoothirc.net#zds-dev
    skip_join: true

services: mysql

sudo: false

addons:
  apt:
    packages:
      - libmysqlclient-dev
      - ttf-mscorefonts-installer
      - language-pack-fr
      - unzip


before_script:
  # configure mysql
  - mysql -e "SET GLOBAL sql_mode = 'NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES'" # Travis default
  # try to avoid mysql has gone away errors
  - mysql -e "SET GLOBAL wait_timeout = 36000;"
  - mysql -e "SET GLOBAL max_allowed_packet = 134209536;"
  - mysql -e "SHOW VARIABLES LIKE 'max_allowed_packet';"
  - mysql -e "SHOW VARIABLES LIKE 'wait_timeout';"
  # database services
  - mysql -e 'create database zds_test;'
  - mv zds/settings_test.py zds/settings_prod.py

install:
  # TexLive
  - sed -i 's@\$HOME@'"$HOME"'@' texlive.profile
  - wget http://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
  - tar -zxf install-tl*
  - ./install-tl*/install-tl -profile texlive.profile
  - export PATH=~/texlive/bin/x86_64-linux:$PATH

  # Add fonts
  - mkdir -p ~/.fonts/truetype
  - wget -P ~/.fonts/truetype https://www.dropbox.com/s/ema28tjn52960mq/Merriweather.zip
  - unzip ~/.fonts/truetype/Merriweather.zip -d ~/.fonts/truetype/Merriweather/
  - chmod a+r ~/.fonts/truetype/Merriweather/*.ttf
  - fc-cache -f -v

  # Cabal + Pandoc stuff
  - mkdir -p ~/cabal/bin
  - mkdir -p ~/.pandoc
  - wget -P ~/cabal/bin https://dl.dropboxusercontent.com/u/18967337/pandoc
  - wget -P ~/.pandoc/templates https://dl.dropboxusercontent.com/u/14517385/dev/default.epub
  - wget -P ~/.pandoc/templates https://dl.dropboxusercontent.com/u/14517385/dev/default.html
  - touch ~/.pandoc/epub.css
  - touch ~/.pandoc/templates/epub.css
  - chmod u+x,g+x,o+x ~/cabal/bin/pandoc
  - export PATH=$PATH:~/cabal/bin
  - ~/cabal/bin/pandoc --version

  # Python dependencies
  - travis_retry pip install coveralls
  - travis_retry pip install tox

script:
  - tox $TEST_APP

after_success:
  - coveralls
  - |
    COMMIT_MSG=`git rev-list --format=%B --max-count=1 $TRAVIS_COMMIT`
    if [[ "$TEST_APP" == *"front"* ]] && [[ "$TRAVIS_PULL_REQUEST" == false ]] && [[ ! -z "$TRAVIS_TAG" ]] && [[ ! "$TRAVIS_TAG" == *"-build" ]]
    then
      # Adding GitHub OAuth token to login
      echo "machine github.com login $GITHUB_TOKEN password x-oauth-basic" > ~/.netrc
      git config --global url."https://".insteadOf git://
      git config --global user.name "Build bot"
      git config --global user.email "zestedesavoir@gmail.com"
      git config --global push.default simple

      # Run script
      ./scripts/push_front.sh $TRAVIS_TAG
    fi

