git:
  depth: 1

language: python

python:
  - 2.7

env:
  global:
    - secure: "HV/SWOi45F/w6v1RFTeoBethWqz/V+433C569uw4zjngNYZNUiCp4tUQ2xpXyTWSuyX0GdSEbtu6ZwQPvk+ABxZ+q27DvVFPdur984RDjRZN4eaRdbOU1OtFsX+G2E+8ghbjqMt2rA6aCQmG3WBDmsJaNYgp60HeakQh1CNt/mk="
  matrix:
    - TEST_APP="-e back_mysql"
    - TEST_APP="-e front"

notifications:
  irc:
    channels:
      - irc.smoothirc.net#zds-dev
    skip_join: true

services: mysql

cache:
  - apt

before_script:
  # configure mysql
  - mysql -e "SET GLOBAL sql_mode = 'NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES'" # Travis default
  # try to avoid mysql has gone away errors
  - mysql -e "SET GLOBAL wait_timeout = 36000;"
  - mysql -e "SET GLOBAL max_allowed_packet = 134209536;"
  - mysql -e "SHOW VARIABLES LIKE 'max_allowed_packet';"
  - mysql -e "SHOW VARIABLES LIKE 'wait_timeout';"
  # database services
  - mysql -e 'create database zds_test;'
  - sudo mv zds/settings_test.py zds/settings_prod.py
  - sudo apt-get -y install python-mysqldb
  - sudo apt-get -y install libmysqlclient-dev

install:
  # APT Stuff
  - sudo apt-get update
  - sudo echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections
  - sudo apt-get install ttf-mscorefonts-installer
  - sudo apt-get install unzip
  - sudo apt-get install texlive
  - sudo apt-get install texlive-xetex
  - sudo apt-get install texlive-lang-french
  - sudo apt-get install texlive-latex-extra
  - sudo apt-get install libgeoip-dev

  # Add fonts
  - sudo wget -P /usr/share/fonts/truetype https://www.dropbox.com/s/ema28tjn52960mq/Merriweather.zip
  - sudo unzip /usr/share/fonts/truetype/Merriweather.zip -d /usr/share/fonts/truetype/Merriweather/
  - sudo chmod a+r /usr/share/fonts/truetype/Merriweather/*.ttf
  - sudo fc-cache -f -v

  # Cabal + Pandoc stuff
  - sudo mkdir -p ~/cabal/bin
  - sudo mkdir -p ~/.pandoc
  - sudo wget -P ~/cabal/bin https://dl.dropboxusercontent.com/u/18967337/pandoc
  - sudo wget -P ~/.pandoc/templates https://dl.dropboxusercontent.com/u/14517385/dev/default.epub
  - sudo wget -P ~/.pandoc/templates https://dl.dropboxusercontent.com/u/14517385/dev/default.html
  - sudo touch ~/.pandoc/epub.css
  - sudo touch ~/.pandoc/templates/epub.css
  - sudo chmod u+x,g+x,o+x ~/cabal/bin/pandoc
  - export PATH=$PATH:~/cabal/bin
  - sudo ~/cabal/bin/pandoc --version
  - sudo apt-get --reinstall install -qq language-pack-fr

  # Python dependencies
  - travis_retry pip install coveralls
  - travis_retry pip install tox

  # Node.js + npm stuff
  - sudo apt-get -y install nodejs

script:
  - tox $TEST_APP

after_success:
  - coveralls
  - |
    if [[ "$TEST_APP" == *"front"* ]] && [[ "$TRAVIS_PULL_REQUEST" == false ]] && [[ "$TRAVIS_BRANCH" == "release"* ]]
    then
      echo "Pushing front to GitHub"
      echo "machine github.com login sandhose password $GITHUB_TOKEN" > ~/.netrc
      git config --global url."https://".insteadOf git://
      git config --global user.name "Build bot"
      git config --global user.email "buildbot@zestedesavoir.com"
      git config --global push.default simple
      git add --force dist/
      git commit -m "[bot] Front build"
      git push origin HEAD:$TRAVIS_BRANCH
    fi

