-r requirements.txt

black==20.8b1
colorlog==4.7.2
coverage==5.4
django-debug-toolbar==3.2
django-extensions==3.1.1
Faker==4.5.0
pre-commit==2.10.1
PyYAML==5.4.1
selenium==3.141.0
Sphinx==3.5.1
sphinx_rtd_theme==0.5.1
