{% extends "base.html" %}
{% load i18n %}

{% block title_base %}
    &bull; {% trans "Sondages" %}
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url "poll-list" %}">{% trans "Sondages" %}</a></li>
{% endblock %}

{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        {% if user.is_authenticated %}
            <a href="{% url "poll-new" %}" class="new-btn ico-after more blue">
                {% trans "Créer un sondage" %}
            </a>
            {% block sidebar_actions %}{% endblock %}
            {% block new_btn %}{% endblock %}
        {% endif %}
    </aside>
{% endblock %}