{% extends "poll/base.html" %}
{% load crispy_forms_tags %}
{% load profile %}
{% load captureas %}
{% load i18n %}



{% block title %}
    {{ poll.title }}
{% endblock %}



{% block breadcrumb %}
    <li>{{ poll.title }}</li>
{% endblock %}



{% block headline %}
    {{ poll.title }}
{% endblock %}



{% block content %}
    <form action="" class="clearfix" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ poll }}"?</p>
        <div class="buttonHolder"><button  type="submit" class="btn">Supprimer</button>
            <a href="{% url "poll-details" poll.pk %}" class="btn">Annuler</a>
        </div>
    </form>
{% endblock %}