{% extends "poll/base.html" %}
{% load crispy_forms_tags %}
{% load profile %}
{% load captureas %}
{% load i18n %}



{% block title %}
    {{ poll.title }}
{% endblock %}



{% block breadcrumb %}
    <li>{{ poll.title }}</li>
{% endblock %}



{% block headline %}
    {{ poll.title }}
{% endblock %}



{% block content %}
    {{ poll.title }}

    <ul>
    {% for choice in poll.choices.all %}
        <li>{{ choice }}</li>
    {% endfor %}
    </ul>

    {% crispy form %}
{% endblock %}

{% block sidebar_actions %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
            <h3>{% trans "Actions" %}</h3>
            <ul>
                <li>
                    <a href="{% url 'poll-delete' poll.pk %}" class="ico-after cross red">
                        {% trans "Supprimer le sondage" %}
                    </a>
                </li>
            </ul>
        </div>
{% endblock %}