{% extends "poll/base.html" %}
{% load i18n %}
{% load date %}


{% block title %}
    {% trans "Liste des sondages" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Liste des sondages" %}</li>
{% endblock %}



{% block headline %}
    <h2>{% trans "Liste des sondages" %}</h2>
{% endblock %}

{% block content %}
    {% include "misc/pagination.part.html" with position="top" %}
    {% if polls %}
        <meta itemprop="itemListOrder" content="Unordered">
        {% for poll in polls %}
            <article class="tutorial-help-item">
                <div class="tutorial-infos no-illu">
                    <h3 class="tutorial-title" itemprop="itemListElement" title="{{ poll.title }}">
                        <a href="{{ poll.get_absolute_url }}">{{ poll.title }}</a>
                    </h3>

                    <p class="tutorial-authors">
                        {% trans "Par" %}
                        <strong>
                            <a href="{{ poll.user.get_absolute_url }}" title="{% trans "Profil de" %} {{ poll.user.username }}">
                                {{poll.user.username}}
                            </a>
                        </strong>
                         -
                        <time class="content-pubdate" pubdate="{{ poll.pubdate|date:"c" }}">
                            {{ poll.pubdate|format_date|capfirst }}
                        </time>
                    </p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>Aucun sondage.</p>
    {% endif %}

    {% include "misc/pagination.part.html" with position="bottom" %}
{% endblock %}