{% load date %}

{# Block displaying the list of forums belonging to a category #}
{% load i18n %}
{% load captureas %}


{% for forum in forums %}
    <div class="topic navigable-elem">
        <div class="topic-description">
            <a href="{{ forum.get_absolute_url }}" class="navigable-link">
                <h4 class="topic-title{% if forum.has_group %} staff-only{% endif %}" itemprop="itemListElement">
                    {{ forum.title }}
                </h4>
            </a>
            <span class="topic-subtitle">
                {{ forum.subtitle }}
            </span>
        </div>
        <p class="topic-answers">
            <span title="Nombre de sujets dans le forum">
                {{ forum.get_topic_count }}
            </span>
            <span title="Nombre de messages dans le forum">
                {{ forum.get_post_count }}
            </span>
        </p>
        <p class="topic-last-answer">
            {% with last_message=forum.get_last_message %}
                {% if last_message %}
                    {% captureas last_message_url %}{% spaceless %}
                        {% if user.is_authenticated %}
                            {{ last_message.topic.resolve_last_read_post_absolute_url }}
                        {% else %}
                            {{ last_message.topic.resolve_first_post_absolute_url }}
                        {% endif %}
                    {% endspaceless %}{% endcaptureas %}
                    {# if you are not connected, you get the first message of topic as "first non read" #}
                    <a href="{{ last_message_url }}">
                        <span class="forum-last-message">
                            <span class="forum-last-message-long">
                                {{ last_message.pubdate|format_date|capfirst }}
                            </span>
                            <span class="forum-last-message-short">
                                {{ last_message.pubdate|format_date:True|capfirst }}
                            </span>
                        </span>
                        <span class="forum-last-message-title">{{ last_message.topic.title }}</span>
                    </a>
                {% else %}
                    <span class="topic-no-last-answer">{% trans "Aucun sujet" %}</span>
                {% endif %}
            {% endwith %}
        </p>
    </div>
{% endfor %}
