{% load date %}
{% load profile %}



<div class="topic navigable-elem
    {% if user.is_authenticated and topic.never_read %}
        unread
    {% endif %}">

    <div class="topic-infos">
        {% if topic.is_sticky %}
            <span class="ico-after pin blue">[Epinglé]</span>
        {% endif %}
        {% if topic.is_solved %}
            <span class="ico-after tick green">[Résolu]</span>
        {% endif %}
        {% if topic.is_locked %}
            <span class="ico-after lock blue">[Fermé]</span>
        {% endif %}
    </div>
    {% with profile=topic.author|profile %}
        <div class="topic-description">
            {% if topic.tags.all %}
                <ul class="topic-tags">
                    {% for tag in topic.tags.all %}
                        <li>
                            <a href="{% url "zds.forum.views.find_topic_by_tag" tag.pk tag.slug %}" class="topic-tag" title="Tag {{ tag.title }}">
                                {{ tag.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{{ topic.get_absolute_url }}" class="topic-title-link navigable-link" title="{{ topic.title }}. {{ topic.subtitle }}">
                <span class="topic-title" itemprop="itemListElement">{{ topic.title }}</span>
                <span class="topic-subtitle">{{ topic.subtitle }}</span>
            </a>
            <p class="topic-members">
                <span class="topic-members-label">Créé par</span>
                <em>
                    {% include "misc/member_item.part.html" with member=topic.author %}
                </em>
                <span class="topic-members-label">{{ topic.pubdate|format_date }}</span>
            </p>
        </div>
    {% endwith %}
    <p class="topic-answers">
        {% with nb_post=topic.get_post_count %}
            {% if nb_post > 1 %}
                {{ nb_post|add:"-1" }} réponse{{ nb_post|add:"-1"|pluralize }}
            {% endif %}
        {% endwith %}
    </p>
    <p class="topic-last-answer">
        {% with answer=topic.get_last_answer last_read=topic.last_read_post %}
            {% if answer %}
                <a href="{{ last_read.get_absolute_url }}">
                    Dernière réponse <br>
                    {{ answer.pubdate|format_date }}
                </a>
                <br>
                par
                {% include "misc/member_item.part.html" with member=answer.author %}
            {% else %}
                <span class="topic-no-last-answer">Aucune réponse</span>
            {% endif %}
        {% endwith %}
    </p>
</div>
