{% load captureas %}
{% load thumbnail %}
{% load i18n %}
{% load date %}

<article class="content-item topic-item">
    <div class="content-info">
        <header>
            <h3 class="content-title" itemprop="itemListElement">
                <a href="{{ topic.get_absolute_url }}" title="{{ topic.title }}">
                    {{ topic.title }}
                </a>
            </h3>

            <p class="content-description is-one-line">
                {{ topic.forum.title }},
                {% trans "par" %}{% include "misc/member_item.part.html" with member=topic.author %}
                –

                <time pubdate="{{ topic.pubdate|date:"c" }}">
                    <span class="long">{{ topic.pubdate|format_date|capfirst }}</span>
                    <span class="short">{{ topic.pubdate|format_date:True|capfirst }}</span>
                </time>
            </p>
        </header>

        <p class="content-meta inline">
            {% with answer=topic.get_last_answer last_read_url=topic.resolve_last_read_post_absolute_url %}
                {% if answer %}
                    {% spaceless %}
                        <a href="{{ last_read_url }}" class="last-read-link">
                            {% trans "Dernière réponse :" %}
                            <time class="content-pubdate" pubdate="{{ answer.pubdate|date:"c" }}">
                                <span class="long">{{ answer.pubdate|format_date|capfirst }}</span>
                                <span class="short">{{ answer.pubdate|format_date:True|capfirst }}</span>
                            </time>
                        </a>
                    {% endspaceless %}
                    {% trans "par" %}
                    {% include "misc/member_item.part.html" with member=answer.author %}
                {% else %}
                    {% trans "Aucune réponse" %}
                {% endif %}
            {% endwith %}
        </p>
    </div>

    {% if topic.tags.all %}
        <ul class="content-tags" itemprop="keywords">
            {% for tag in topic.tags.all|slice:":3" %}
                {% if tag.slug %}
                    <li>
                        <a href="{% url "forum:topic-tag-find" tag.slug %}" title="Tag {{ tag.title }}">
                            {{ tag.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</article>
