{% extends "mp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Répondre au MP
{% endblock %}

{% block headline %}
    <h2>Répondre au MP : {{topic.title}}</h2>
{% endblock %}

{% block headline_sub %}
    <h3 class="subtitle">{{ topic.subtitle }}</h3>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></li>
    <li class="current"><a href="#">Répondre au MP</a></li>
{% endblock %}

{% block content %}

{% if newpost %}
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box alert">
            <strong>Au moins un nouveau message a été posté</strong> dans la discussion
            pendant que vous rédigiez le votre.
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% if form.text.value %}
    {% with text=form.text.value %}
        {% include "forum/previsualization.part.html" %}
    {% endwith %}
{% endif %}

{% endblock %}
