{% extends "base.html" %}



{% block title_base %}
    &#183; Messagerie Privée
{% endblock %}



{% block mobile_title %}
    Messagerie
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url "zds.mp.views.index" %}">Messagerie Privée</a></li>
{% endblock %}



{% block menu_mp %}
    active
{% endblock %}



{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        <a href="{% url "zds.mp.views.new" %}" class="new-btn ico-after more blue">
            Nouvelle conversation
        </a>
        {% block sidebar_actions %}{% endblock %}
    </aside>
{% endblock %}