{% extends "base.html" %}

{% block title_base %}
    &#183; Messages Privés
{% endblock %}

{% block breadcrumb_base %}
    <li><a href="{% url "zds.mp.views.index" %}">Messages Privés</a></li>
{% endblock %}

{% block menu_mp %}
    active
{% endblock %}

{% block headline %}
<h2 class="box forum">{% block head-title %}{% endblock %}</h2>
{% endblock %}

{% block sidebar %}
	{% if user.is_authenticated %}
    <h3>Actions</h3>
    <ul>
    	{% block headline-actions %}{% endblock %}
    </ul>
    {% endif %}
{% endblock %}