{% extends "mp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Éditer un message
{% endblock %}

{% block headline %}
    Éditer un message
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ post.topic.get_absolute_url }}">{{ post.privatetopic.title }}</a></li>
    <li class="current"><a href="#">Éditer un message</a></li>
{% endblock %}

{% block headline-actions %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
        <h3>Actions<span class="wide"> sur ce MP</span></h3>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url "zds.mp.views.new" %}">Nouvel MP</a></li>
            {% endif %}
            {% if topic.author == user %}
            <li><a href="#">Ajouter un membre</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Participants">
        <h3>Participants</h3>
        <ul>
            <li><a href="{{ topic.author.get_absolute_url }}">{{ topic.author.username }}</a></li>
            {% for member in topic.participants.all %}
            <li><a href="{{ member.get_absolute_url }}">{{ member.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% include "forum/previsualization.part.html" %}

{% endblock %}
