{% extends "mp/base.html" %}
{% load humanize %}



{% block title %}
    Liste des conversations
{% endblock %}



{% block breadcrumb %}
    <li>Liste des conversations</li>
{% endblock %}



{% block headline %}
   Liste des conversations
{% endblock %}



{% block content %}
    <div class="forum-entries">
        {% for topic in privatetopics %}
            <div class="forum-entry {% if topic.never_read %}unread{% endif %}">
                <div class="forum-entry-title">
                    <input name="items" type="checkbox" value="{{ topic.pk }}">
                    <a href="{{ topic.get_absolute_url }}">
                        {{ topic.title }}
                    </a>
                    <p>
                        Participants : 
                        {% include "misc/member_item.part.html" with member=topic.author %}

                        {% for member in topic.participants.all %}
                            {% include "misc/member_item.part.html" %}
                        {% endfor %}
                    </p>
                </div>
                <div class="forum-entry-count">
                    <span class="label">
                        {{ topic.get_post_count|add:"-1" }}
                    </span>
                </div>
                <div class="forum-entry-desc">
                    <p>
                        Par {% include "misc/member_item.part.html" with member=topic.author %}
                        
                        <br />

                        {% with answer=topic.get_last_answer %}
                            {% if answer %}
                                Dernière rép.
                                <a href="{{ answer.get_absolute_url }}">
                                    {{ answer.pubdate|naturaltime }}
                                </a>
                                par
                                {% include "misc/member_item.part.html" with member=answer.author %}
                            {% else %}
                                Aucune réponse
                            {% endif %}
                        {% endwith %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include "misc/pagination.part.html" with position='bottom' %}
{% endblock %}



{% block sidebar_actions %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
        <h3>Actions</h3>
        <ul>
            <li><a href="{% url "zds.mp.views.new" %}">Nouvelle conversation</a></li>
            <li>
                <a href="#delete-conversations" class="open-modal">Supprimer les conversations</a>
                {# FIXME : Je pense qu'il manque une url pour le formulaire #}
                <form action="" method="POST" id="delete-conversations" class="modal modal-small">
                    <p>
                        Attention, vous vous appretez à supprimer toutes les conversations sélectionnées.
                    </p>
                    
                    {% csrf_token %}
                    <button type="submit" name="delete" class="btn">Confirmer</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}