{% extends "mp/base.html" %}
{% load emarkdown %}
{% load crispy_forms_tags %}

{% block title %}
    Nouveau Messae Privé
{% endblock %}

{% block head-title %}
    Nouveau Message Privé
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Nouveau Message Privé</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% if form.text.value %}
    {% with text=form.text.value %}
        {% include "forum/previsualization.part.html" %}
    {% endwith %}
{% endif %}


{% endblock %}
