{% extends "mp/base.html" %}
{% load emarkdown %}
{% load markup %}
{% load crispy_forms_tags %}

{% block title %}
    Nouvel MP
{% endblock %}

{% block headline %}
    Nouvel MP
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Nouvel MP</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% if text %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h5>Prévisualisation de votre message</h5>
            {{ text|emarkdown }}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
