{% extends "mp/base.html" %}
{% load emarkdown %}
{% load humanize %}
{% load captureas %}
{% load profile %}
{% load crispy_forms_tags %}



{% block title %}
    {{ topic.title }}
{% endblock %}



{% block headline %}
    {{ topic.title }}
{% endblock %}



{% block headline_sub %}
    {{ topic.subtitle }}
{% endblock %}



{% block breadcrumb %}
    <li class="current">{{ topic.title }}</li>
{% endblock %}



{% block sidebar_actions %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
        <h3>Actions</h3>
        <ul class="sidebar-standalone">
            <li>
                <a href="{% url "zds.mp.views.new" %}">
                    Nouvelle conversation
                </a>
            </li>

            {% if topic.author == user %}
                {# TODO : implémenter / mettre le bon lien #}
                <li>
                    <a href="#">
                        Ajouter un membre
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Participants">
        <h3>Participants</h3>
        <ul>
            <li><a href="{{ topic.author.get_absolute_url }}">{{ topic.author.username }}</a></li>
            {% for member in topic.participants.all %}
            <li><a href="{{ member.get_absolute_url }}">{{ member.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}

    {% include "misc/pagination.part.html" with position="top" %}


    {% for message in posts %}
        {% captureas edit_link %}
            {% url "zds.mp.views.edit_post" %}?message={{ post.pk }}
        {% endcaptureas %}

        {% captureas alert_link %}
            {# TODO : Lien de signalement #}
        {% endcaptureas %}

        {% captureas cite_link %}
            {% url "zds.mp.views.answer" %}?sujet={{ topic.pk }}&amp;cite={{ post.pk }}
        {% endcaptureas %}

        {% include 'misc/message.part.html' %}
    {% endfor %}


    {% include "misc/pagination.part.html" with position="bottom" %}



    {% with profile=user|profile %}
        <section>
            <div class="user">
                <img src="{{ profile.get_avatar_url }}" alt="" class="avatar avatar-link">
            </div>

            {% crispy form %}
        </section>
    {% endwith %}
{% endblock %}