{% extends "mp/base.html" %}
{% load emarkdown %}
{% load humane_date %}
{% load profile %}
{% load crispy_forms_tags %}

{% block title %}
    {{ topic.title }}
{% endblock %}

{% block headline %}
    <h2>{{ topic.title }}</h2>
{% endblock %}

{% block headline-sub %}
    <h3 class="subtitle">{{ topic.subtitle }}</h3>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ topic.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
        <h3>Actions<span class="wide"> sur ce MP</span></h3>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url "zds.mp.views.new" %}">Nouvel MP</a></li>
            {% endif %}
            {% if topic.author == user %}
            <li><a href="#">Ajouter un membre</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Participants">
        <h3>Participants</h3>
        <ul>
            <li><a href="{{ topic.author.get_absolute_url }}">{{ topic.author.username }}</a></li>
            {% for member in topic.participants.all %}
            <li><a href="{{ member.get_absolute_url }}">{{ member.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}

{% for post in posts %}
<article class="forum-message {% if post.is_useful %} helpful {% endif %}">
    <div class="user" id="p{{ post.id }}">
        <a href="{{ post.author.get_absolute_url }}" class="avatar-link">
            {% with profile=post.author|profile %}
            <img src="{{ profile.get_avatar_url }}" alt="" class="avatar">
            {% endwith %}
        </a>
    </div>
    <div class="message">
        {% if user.is_authenticated %}
        <ul class="message-actions">
            {% if post.author = user or perms.forum.change_post %}
            <li><a href="{% url "zds.mp.views.edit_post" %}?message={{ post.pk }}" class="ico-after edit">Editer</a></li>
            {% endif %}
            {% if not topic.is_locked and not topic.antispam %}
            <li><a href="{% url "zds.mp.views.answer" %}?sujet={{ topic.pk }}&amp;cite={{ post.pk }}" class="ico-after cite">Citer</a></li>
            {% endif %}
        </ul>
        {% endif %}

        <div class="message-metadata">
            <a href="{{ post.author.get_absolute_url }}" class="username">{{ post.author.username }}</a>
            <a href="#p{{ post.pk }}" class="date">{{ post.pubdate|humane_date }}</a>
            {% if not post.update = None %}
            <i>(Edité {{ post.update|humane_date }} par {{ post.editor }} )</i>
            {% endif %}
        </div>

        <div class="message-content">
            {{ post.text|emarkdown }}
        </div>

        <div class="message-bottom">
            {% with profile=post.author|profile %}
            <p class="signature"> {{profile.sign|emarkdown_inline}} </p>
            {% endwith %}
        </div>
    </div>
</article>
{% endfor %}

{% include "mp/topic_pagination.part.html" %}

{% if user.is_authenticated %}
{% with profile=user|profile%}
<section>
    <div class="user">
        <img src="{{profile.get_avatar_url}}" alt="" class="avatar avatar-link">
    </div>
    {% crispy form %}
</section>
{% endwith %}
{% endif %}

{% endblock %}

