{% extends "base.html" %}
{% load i18n %}
{% load date %}


{% block title %}
    {% trans "Notifications" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Notifications" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Notifications" %}
{% endblock %}



{% block content %}
    {% include "misc/paginator.html" with position="top" %}

    {% if notifications %}
        <div class="notification-list navigable-list">
            {% for notification in notifications %}
                <div class="notification navigation-elem {% if not notification.is_read %}unread{% endif %}">
                    <div class="notification-infos">
                        {# In the future, we'll add the icon of the notification. #}
                    </div>
                    <div class="notification-description">
                        <a href="{{ notification.url }}" class="notification-title-link navigable-link"
                           title="{{ notification.title }}">
                            <h4 class="notification-title" itemprop="itemListElement">{{ notification.title }}</h4>
                        </a>
                    </div>
                    <p class="notification-last-answer">
                        <span class="notification-last-answer-short-date">{{ notification.pubdate|format_date:True|capfirst }}</span>
                        <span class="notification-last-answer-long-date">{{ notification.pubdate|format_date|capfirst }}</span>
                        <span class="notification-last-answer-author">
                            {% trans "par" %}
                            {% include "misc/member_item.part.html" with member=notification.sender %}
                        </span>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {% trans "Vous n’avez pas encore de notification." %}
    {% endif %}

    {% include "misc/paginator.html" with position="bottom" %}
{% endblock %}



{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
            <h3>{% trans "Actions" %}</h3>
            <ul>
                <li>
                    <a href="#mark-notifications-as-read" class="open-modal ico-after tick green">{% trans 'Tout marquer comme lu' %}</a>
                    <form action="{% url "notification:mark-as-read" %}" method="post" id="mark-notifications-as-read" class="modal modal-flex">
                        {% csrf_token %}
                        <p>
                            {% trans 'Voulez-vous vraiment marquer toutes vos notifications comme lues ?' %}
                        </p>
                        <button type="submit" class="btn btn-submit">{% trans 'Confirmer' %}</button>
                    </form>
                </li>
            </ul>
        </div>
    </aside>
{% endblock %}
