{% load i18n %}

{% if own_profile %}
    {% blocktrans count subscriber_count=subscriber_count %}
        Vous avez {{ subscriber_count }} abonné
    {% plural %}
        Vous avez {{ subscriber_count }} abonnés
    {% endblocktrans %}
{% elif own_profile == False %}
    {% blocktrans count subscriber_count=subscriber_count %}
        {{ subscriber_count }} abonné
    {% plural %}
        {{ subscriber_count }} abonnés
    {% endblocktrans %}
{% else %}
    {% blocktrans count subscriber_count=subscriber_count %}
        ({{ subscriber_count }} abonné)
    {% plural %}
        ({{ subscriber_count }} abonnés)
    {% endblocktrans %}
{% endif %}
