{% load i18n %}
{% load pluralize_fr %}

{% if own_profile %}
    {% blocktrans with plural=subscriber_count|pluralize_fr %}
        Vous avez {{ subscriber_count }} abonné{{ plural }}
    {% endblocktrans %}
{% elif own_profile == False %}
    {% blocktrans with plural=subscriber_count|pluralize_fr %}
        {{ subscriber_count }} abonné{{ plural }}
    {% endblocktrans %}
{% else %}
    {% blocktrans with plural=subscriber_count|pluralize_fr %}
        ({{ subscriber_count }} abonné{{ plural }})
    {% endblocktrans %}
{% endif %}
