/* CSS classes related to the cssstyles markdown extension */

a.hidden-link-show, div.hidden-block:not(:target) a.hidden-link-show {
    display: inline;
}

a.hidden-link-hide, div.hidden-block:not(:target) a.hidden-link-hide {
    display: none;
}

div.hidden-block:target > a.hidden-link-show {
    display: none;
}

div.hidden-block:target > a.hidden-link-hide {
    display: inline;
}

div.hidden-block p, div.hidden-block table, div.hidden-block ul, div.hidden-block ol {
    display: none;
}

div.hidden-block:target p, div.hidden-block:target table, div.hidden-block:target ul, div.hidden-block:target ol {
    display: block;
}

a.hidden-link-show, a.hidden-link-hide {
    font-size: emCalc(14px);
}

.information {
	background: #088A08;
	color : #FFF;
}

.erreur {
	background: #FE2E2E;
	color : #FFF;
}

.attention {
	background: #F79F81;
	color : #000;
}

.question {
	background: #81BEF7;
	color : #FFF;
}