[Unit]
Description=SolR ZdS
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
PIDFile=/run/solrzds/pid
WorkingDirectory=/opt/zds/solr-4.9.1/example/
ExecStart=/usr/bin/java -jar start.jar
User=zds
Group=zds
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

