{% extends "tutorial/base.html" %}
{% load emarkdown %}
{% load htmldiff %}
{% load thumbnail %}
{% load i18n %}


{% block title %}
    {{ tutorial.title }}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a></li>
    <li>{% trans "Historique" %}</li>
{% endblock %}



{# No sidebar on this page #}
{% block body_class %}no-sidebar{% endblock %}
{% block sidebar %}{% endblock %}



{% block headline %}
    <h1 {% if tutorial.image %}class="illu"{% endif %}>
        {% if tutorial.image %}
            <img src="{{tutorial.image.physical.tutorial_illu.url }}" alt="">
        {% endif %}
        {{ tutorial.title }}
    </h1>

    {% include 'tutorial/includes/tags_authors.part.html' %}
{% endblock %}



{% block content_ext %}
    <table>
        <tr>
            <th>{% trans "Légende" %}</th>
            <td class="diff_add">{% trans "ajout" %}</td>
            <td class="diff_chg">{% trans "modification" %}</td>
            <td class="diff_sub">{% trans "suppression" %}</td>
        </tr>
    </table>

    <h2>{% trans "Fichiers modifiés" %}</h2>
    {% for diff in modified %}
        <h3>{{ diff.a_path }}</h3>
        {% htmldiff diff.a_blob.data_stream.read diff.b_blob.data_stream.read %}
    {% empty %}
        <p>{% trans "Aucun fichier modifié." %}</p>
    {% endfor %}

    <h2>{% trans "Nouveaux fichiers" %}</h2>
    {% for diff in added %}
        <h3>{{ diff.b_path }}</h3>
        {% htmldiff "" diff.b_blob.data_stream.read %}
    {% empty %}
        <p>{% trans "Aucun nouveau fichier." %}</p>
    {% endfor %}

    <h2>{% trans "Fichiers supprimés" %}</h2>
    {% for diff in deleted %}
        <h3>{{ diff.a_path }}</h3>
        {% htmldiff diff.a_blob.data_stream.read "" %}
    {% empty %}
        <p>{% trans "Aucun fichier supprimé." %}</p>
    {% endfor %}

    <h2>{% trans "Fichiers renommés" %}</h2>
    {% for diff in renamed %}
        <h3>{{ diff.rename_from }} ⇒ {{ diff.rename_to }}</h3>
    {% empty %}
        <p>{% trans "Aucun fichier renommé." %}</p>
    {% endfor %}
{% endblock %}
