{% extends "tutorial/base_online.html" %}
{% load captureas %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
{% load profile %}



{% block title %}
    {% trans "Aider les auteurs" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Aider les auteurs" %}</li>
{% endblock %}


{% block headline %}
    <h2 class="ico-after ico-tutorials">{% trans "Aider les auteurs de tutoriels" %} ({{ nb_tutos }})</h2>
{% endblock %}


{% block content_page %}
    {% include "misc/pagination.part.html" with position="top" %}

    {% if tutorials %}
        <meta itemprop="itemListOrder" content="Unordered">

        {% for tutorial in tutorials %}
            <article class="tutorial-help-item">
                {% if tutorial.image.physical.tutorial_illu.url %}
                    <img src="{{ tutorial.image.physical.tutorial_illu.url }}" alt="" class="tutorial-illu avatar">
                {% endif %}

                <div class="tutorial-infos{% if not tutorial.image.physical.tutorial_illu.url %} no-illu{% endif %}">
                    <h3 class="tutorial-title" itemprop="itemListElement" title="{{ tutorial.title }}">
                        {{ tutorial.title }}
                    </h3>

                    <p class="tutorial-authors">
                        {% for author in tutorial.authors.all %}
                            {% if forloop.first %}
                                {% trans "Par" %}
                            {% elif forloop.last %}
                                {% trans "et" %}
                            {% else %}
                                ,
                            {% endif %}

                            {% if author == user %}
                                {% trans "vous" %}
                            {% else %}
                                <strong><a href="{{ author.get_absolute_url }}" title="{% trans "Profil de" %} {{ author.username }}">
                                {{author.username}}
                                </a></strong>
                            {% endif %}
                        {% endfor %}
                        {% if not user in tutorial.authors.all %}
                            - <a href="{{ tutorial.get_absolute_contact_url }}">{% trans "Contacter par MP" %}</a>
                        {% endif %}
                    </p>

                    <p class="tutorial-categories">
                        {% if tutorial.subcategory %}
                            {% for category in tutorial.subcategory.all %}
                                {% if forloop.first %}
                                {% else %}
                                    -
                                {% endif %}

                                {{ category.title }}
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>

                <div class="tutorial-help">
                    {% if tutorial.on_line %}
                        <a title="{% blocktrans %}Lire la version en ligne{% endblocktrans %}" href="{{ tutorial.get_absolute_url_online }}">
                            <img src="{% static "images/tutorials.png" %}" alt="{% blocktrans %}Tutoriel en ligne{% endblocktrans %}" />
                        </a>
                    {% else %}
                        <img src="{% static "images/tutorials.png" %}" alt="{% blocktrans %}Tutoriel hors-ligne{% endblocktrans %}"
                        title="{% blocktrans %}Tutoriel jamais publié{% endblocktrans %}" class="light" />
                    {% endif %}
                    {% if tutorial.in_beta %}
                        <a title="{% blocktrans %}Lire la version bêta{% endblocktrans %}" href="{{ tutorial.get_absolute_url_beta }}">
                            <img src="{% static "images/beta.png" %}" alt="{% blocktrans %}Bêta Active{% endblocktrans %}" />
                        </a>
                    {% else %}
                        <img src="{% static "images/beta.png" %}" alt="{% blocktrans %}Bêta Inactive{% endblocktrans %}"
                        title="{% blocktrans %}Bêta non activée{% endblocktrans %}" class="light" />
                    {% endif %}
                    {% for help in helps %}
                        <span>
                            {% if help in tutorial.helps.all %}
                                <img src="{{ help.image.help_illu.url }}" alt="{{help.title}}"
                                title="{% blocktrans %}Cherche un {% endblocktrans %}{{help.title}}" />
                            {% else %}
                                <img src="{{ help.image.help_illu.url }}" alt="{{help.title}}"
                                title="{% blocktrans %}Ne cherche aucun {% endblocktrans %}{{help.title}}" class="light" />
                            {% endif %}
                        </span>
                    {% endfor %}
                </div>
            </article>
        {% endfor %}
    {% else %}
    <p>
        {% trans "Aucun auteur n'a besoin d'aide pour le moment." %}
    </p>
    {% endif %}

    {% include "misc/pagination.part.html" with position="bottom" %}
{% endblock %}



{% block sidebar_new %}{% endblock %}
{% block sidebar_blocks %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Besoin">
        <h3>{% trans "Besoin" %}</h3>
        <ul>
            {% for help in helps %}
                <li>
                    <a href="{% url "tutorial-help-tutorial" %}?type={{ help.slug }}" class="{% if request.GET.type and request.GET.type = help.slug %}selected{% endif %}">
                        <img src="{{ help.image.help_mini_illu.url }}" alt="{{help.title}}" title="{{help.title}}" class="{% if request.GET.type and request.GET.type != help.slug %}light{% endif %}" />
                        <span>{{ help.title }}</span>
                    </a>
                </li>
            {% empty %}
                <li>
                    {% trans "Aucun besoin disponible." %}
                </li>
            {% endfor %}
            {% if request.GET.type %}
                <li>
                    <a href="{% url "tutorial-help-tutorial" %}">
                        <span class="icon ico-after cross red"> </span>
                        <span>{% trans "Annuler le filtre" %}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
