{% extends "tutorial/base.html" %}
{% load profile %}
{% load thumbnail %}
{% load date %}
{% load i18n %}


{% block title %}
    {% trans "Historique de" %} "{{ tutorial.title }}"
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a></li>
    <li>{% trans "Historique des modifications" %}</li>
{% endblock %}



{% block headline %}
    {% if tutorial.licence %}
        <span class="license">
            {{ tutorial.licence }}
        </span>
    {% endif %}

    <h1 {% if tutorial.image %}class="illu"{% endif %} itemprop="name">
        {% if tutorial.image %}
            <img src="{{ tutorial.image.physical.tutorial_illu.url }}" alt="" itemprop="thumbnailUrl">
        {% endif %}
        {% trans "Historique de" %} "{{ tutorial.title }}"
    </h1>

    <h2 class="subtitle">
        {{ tutorial.description }}
    </h2>

    {% include 'tutorial/includes/tags_authors.part.html' %}
{% endblock %}



{% block content %}
    <table class="fullwidth">
        <thead>
            <tr>
                <th width="10%">{% trans "État" %}</th>
                <th width="18%">{% trans "Date" %}</th>
                <th>{% trans "Version" %}</th>
                <th width="10%">{% trans "Diff" %}.</th>
                <th width="15%">{% trans "Auteur" %}</th>
                <th width="12%">{% trans "Bêta" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>
                        {% if tutorial.sha_public == log.newhexsha or tutorial.sha_validation == log.newhexsha or tutorial.sha_beta == log.newhexsha or tutorial.sha_draft == log.newhexsha %}
                                <ul class="unstyled-list">
                                {% if tutorial.sha_public == log.newhexsha %}
                                    <li>
                                        {% trans "En ligne" %}
                                    </li>
                                {% endif %}
                                {% if tutorial.sha_validation == log.newhexsha %}
                                    <li>
                                        {% trans "En validation" %}
                                    </li>
                                {% endif %}
                                {% if tutorial.sha_beta == log.newhexsha %}
                                    <li>
                                        {% trans "En bêta" %}
                                    </li>
                                {% endif %}
                                {% if tutorial.sha_draft == log.newhexsha %}
                                    <li>
                                        {% trans "Brouillon" %}
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>
                        {{ log.time.0|humane_time }}
                    </td>
                    <td>
                        <a href="{% url "zds.tutorial.views.view_tutorial" tutorial.pk tutorial.slug %}?version={{ log.newhexsha }}" >
                            {{ log.message }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url "zds.tutorial.views.diff" tutorial.pk tutorial.slug %}?sha={{ log.newhexsha }}" >
                            {{ log.newhexsha|truncatechars:8 }}
                        </a>
                    </td>
                    <td>
                        {% with u=log.actor.name|user %}
                            {% if u %}
                                {% include "misc/member_item.part.html" with member=u avatar=True %}
                            {% else %}
                                <em>{% trans "Inconnu" %}</em>
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>
                        {% if not tutorial.sha_beta == log.newhexsha %}
                            <a href="#activ-beta-{{ log.newhexsha }}" class="open-modal">
                                {% if not tutorial.sha_beta %}
                                    {% trans "Activer" %}
                                {% else %}
                                    {% trans "Mettre à jour" %}
                                {% endif %}
                            </a>
                            <form action="{% url "zds.tutorial.views.modify_tutorial" %}" method="post" class="modal modal-small" id="activ-beta-{{ log.newhexsha }}">
                                {% csrf_token %}
                                <input type="hidden" name="tutorial" value="{{ tutorial.pk }}">
                                <input type="hidden" name="{% if not tutorial.sha_beta %}activ_beta{% else %}update_beta{% endif %}">
                                <input type="hidden" name="version" value="{{ log.newhexsha }}">
                                <p>
                                    {% blocktrans %}
                                        Êtes-vous certain de vouloir <strong>
                                    {% endblocktrans %}
                                     {% if not tutorial.sha_beta %}
                                        {% trans "activer" %}
                                    {% else %}
                                        {% trans "mettre à jour" %}
                                    {% endif %}
                                    {% blocktrans with date_version=log.time.0|humane_time tutorial_title=tutorial.title %}
                                        </strong> la bêta sur le tutoriel
                                        "<em>{{ tutorial_title }}</em>" dans sa version du {{ date_version }} ?
                                    {% endblocktrans %}
                                </p>
                                <button type="submit">
                                    {% trans "Confirmer" %}
                                </button>
                            </form>
                        {% else %}
                            <em>{% trans "En bêta" %}</em>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}