{% extends "tutorial/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% trans "Importer un tutoriel" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Importer un tutoriel" %}</li>
{% endblock %}



{% block headline %}
    <h2>
        {% trans "Importer un tutoriel" %}
    </h2>
{% endblock %}



{% block content %}
    <h3>{% trans "Envoi d'une archive" %}</h3>    
    <p>
        {% blocktrans with site_name=app.site.litteral_name %}
        Vous avez commencé a rédiger votre tutoriel sur l'éditeur en ligne de {{site_name}}, vous avez téléchargé l'archive correspondate et vous avez fait des modifications sur les fichiers en hors-ligne, et vous souhaitez maintenant importer ces modifications sur le site ? Faites une archive zip (seul format supporté actuellement) du répertoire dans lequel se trouve les fichiers de votre tutoriel et renseignez les deux champs ci-dessous, puis cliquez sur importer.
        {% endblocktrans %}
    </p>
    {% crispy form_archive %}

    <h3>{% trans "Envoi de fichiers .tuto" %}</h3>
    <p>
        {% blocktrans %}
        Vous êtes l'auteur d'un cours sur le SdZ ? Nous l'avons récupéré pour vous ! Il est disponible en hors-ligne et n'attend plus que votre accord pour être publié. Il vous suffit d'en faire la demande à un membre du Staff via le forum ou directement par MP.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}
        <strong>Attention</strong>, le fichier attendu n'est pas un .tuto du Site du Zéro, mais un format intermédiaire qui contient du Markdown et non du zCode. Contactez un membre du Staff pour demander la conversion de votre fichier.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            Le fichier zip est celui qui contient les ressources de votre tutoriel. Il est également issu du convertisseur Markdown > zCode.
        {% endblocktrans %}
    </p>
    {% crispy form %}


    {% if old_tutos %}
        <h3>{% trans "Récupérer un tutoriel du Site du Zéro" %}</h3>
        <p>
            {% trans "Ci-dessous se trouve la liste des tutoriels que vous aviez rédigé sur le Site du Zéro et que nous avons récupéré. Vous pouvez les importer pour continuer leur rédaction et les soumettre à la validation. Si vous pensez qu'il en manque un, vous pouvez contacter un membre du Staff" %}.
        </p>
        <table>
            <thead>
                <tr>
                    <th>{% trans "Tutoriel" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for id, titre, tutorial, image, logo in old_tutos %}
                    <tr>
                        <td>{{ titre }}</td>
                        <td>
                            <form name="form-import" method="post" action="{% url "tutorial-local-import" %}">
                                <input type="hidden" name="tuto" value="{{ tutorial }}">
                                <input type="hidden" name="images" value="{{ image }}">
                                <input type="hidden" name="logo" value="{{ logo }}">
                                <button type="submit" name="valider" class="btn btn-submit">
                                    {% trans "Importer" %}
                                </button>
                                {% csrf_token %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}