{% extends "tutorial/base_online.html" %}
{% load emarkdown %}
{% load profile %}
{% load captureas %}
{% load set %}
{% load thumbnail %}
{% load i18n %}


{% block title %}
    {{ tutorial.title }}
{% endblock %}



{% block description %}
    {{ tutorial.description }}
{% endblock %}



{% block meta_image %}{% spaceless %}
    {% if tutorial.image %}
        {{ tutorial.image.physical.tutorial_illu.url }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endspaceless %}{% endblock %}



{% block opengraph %}
    {% include "tutorial/includes/opengraph.part.html" %}
{% endblock %}



{% block breadcrumb %}
    <li>{{ tutorial.title }}</li>
{% endblock %}



{% block headline %}
    {% if tutorial.licence %}
        <span class="license" itemprop="license">
            {{ tutorial.licence }}
        </span>
    {% endif %}

    <h1 {% if tutorial.image %}class="illu"{% endif %} itemprop="name">
        {% if tutorial.image %}
            <img src="{{ tutorial.image.physical.tutorial_illu.url }}" alt="" itemprop="thumbnailUrl">
        {% endif %}
        {{ tutorial.title }}
    </h1>

    {% if tutorial.description %}
        <h2 class="subtitle" itemprop="description">
            {{ tutorial.description }}
        </h2>
    {% endif %}

    {% include "tutorial/includes/tags_authors.part.html" with tutorial=tutorial %}
{% endblock %}



{% block content %}

    {% if tutorial.get_introduction_online %}
        {{ tutorial.get_introduction_online|safe }}
    {% endif %}

    {% if tutorial.type == 'MINI' %}
        {# Small tutorial #}
        {% include "tutorial/includes/chapter_online.part.html" %}
    {% else %}
        {# Large tutorial #}

        <hr />
        {% if parts %}
            {% for part in parts %}
                <h2>
                    <a href="{% url "view-part-url-online" tutorial.pk tutorial.slug part.pk part.slug %}">
                        {% trans "Partie" %} {{ part.position_in_tutorial }} : {{ part.title }}
                    </a>
                </h2>
                {% include "tutorial/includes/part.part.html" with online=True %}
            {% endfor %}
        {% else %}
            <p>
                {% trans "Il n'y a actuellement aucune partie dans ce tutoriel" %}.
            </p>
        {% endif %}
        <hr />

    {% endif %}

    {% if tutorial.get_conclusion_online %}
        {{ tutorial.get_conclusion_online|safe }}
    {% endif %}

    {%  if user.is_authenticated %}
        {% include "tutorial/includes/warn_typo.part.html" with obj_type="tutorial" obj_pk=tutorial.pk version_tutorial=tutorial.sha_public %}
    {% endif %}
{% endblock %}



{% block content_after %}
    <h3 class="comments-title" id="comments">
        {% if note_count > 0 %}
            <span itemprop="commentCount">
                {{ note_count }}
            </span>
            {% trans "commentaire" %}{{ note_count|pluralize }}
        {% else %}
            {% trans "Aucun commentaire" %}
        {% endif %}
    </h3>


    {% include "misc/pagination.part.html" with position="top" topic=tutorial is_online=True anchor="comments" %}


    {% for message in notes %}
        {% captureas edit_link %}
            {% url "tutorial-edit-note" %}?message={{ message.pk }}
        {% endcaptureas %}

        {% captureas cite_link %}
            {% url "tutorial-answer" %}?tutorial={{ tutorial.pk }}&amp;cite={{ message.pk }}
        {% endcaptureas %}

        {% captureas upvote_link %}
            {% url "tutorial-like-note" %}?message={{ message.pk }}
        {% endcaptureas %}

        {% captureas downvote_link %}
            {% url "tutorial-dislike-note" %}?message={{ message.pk }}
        {% endcaptureas %}

        {% captureas alert_solve_link %}
            {% url "tutorial-solve-alert" %}
        {% endcaptureas %}

        {% if forloop.first and nb > 1 %}
            {% set True as is_repeated_message %}
        {% else %}
            {% set False as is_repeated_message %}
        {% endif %}


        {% include "misc/message.part.html" with topic=tutorial comment_schema=True perms_change=is_staff %}
    {% endfor %}


    {% include "misc/pagination.part.html" with position="bottom" topic=tutorial is_online=True anchor="comments" %}


    
    {% captureas form_action %}
        {% url 'tutorial-answer' %}?tutorial={{ tutorial.pk }}
    {% endcaptureas %}

    {% include "misc/message_form.html" with member=user topic=tutorial %}
{% endblock %}



{% block sidebar_blocks %}
    {% include "tutorial/includes/summary.part.html" with online=True %}

    {% if is_staff %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Administration">
            <h3>{% blocktrans %}Admin<span class="wide">istration</span>{% endblocktrans %}</h3>
            <ul>
                <li>
                    <a href="{{ tutorial.get_absolute_url }}" class="ico-after offline blue">
                        {% trans "Version hors-ligne" %}
                    </a>
                </li>
                <li>
                    <a href="{% url "tutorial-history-validation" tutorial.pk %}" class="ico-after history blue">
                        {% trans "Historique validation" %}
                    </a>
                </li>
                <li>
                    <a href="#unpublish" class="ico-after open-modal cross blue">
                        {% trans "Dépublier" %}
                    </a>
                    <form action="{% url "tutorial-invalid-tutorial" tutorial.pk %}" method="post" class="modal modal-small" id="unpublish">
                    	{% csrf_token %}
                        <p>
                            {% trans "Êtes-vous certains de vouloir dépublier le tutoriel" %} « <em>{{ tutorial.title }}</em> » ?
                        </p>
                        <button type="submit">
                            {% trans "Confirmer" %}
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    {% endif %}

    {% include "misc/social_buttons.part.html" with link=tutorial.get_absolute_url_online text=tutorial.title %}
{% endblock %}
