{% extends "tutorial/base.html" %}
{% load emarkdown %}
{% load humanize %}
{% load profile %}
{% load crispy_forms_tags %}



{% block title %}
    {{ tutorial.title }}
{% endblock %}



{% block breadcrumb %}
    <li>{{ tutorial.title }}</li>
{% endblock %}



{% block headline %}
    <h1 class="illu">
        {% if tutorial.image %}
            <img src="{{tutorial.image.thumb.url }}" alt="">
        {% endif %}
        {{ tutorial.title }}
    </h1>

    <ul class="taglist">
        {% for category in tutorial.subcategory.all %}
            {# TODO : ajouter les liens des tags #}
            <li><a href="#">{{ category.title }}</a></li>
        {% endfor %}
    </ul>

    <div class="authors content-wrapper">
        <span class="authors-label">Auteurs : </span>
        <ul>
            {% for member in tutorial.authors.all %}
                <li>
                    {% include "misc/member_item.part.html" %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}



{% block headline_sub %}
    {{ tutorial.description }}
{% endblock %}



{% block sidebar_blocs %}
    {% if perms.tutorial.change_tutorial%}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Administrations">
        <h3>Admin<span class="wide">istration</span></h3>
        <ul>
            <li><a href="{{ tutorial.get_absolute_url }}" class="ico-after arrow-right blue" >Version hors-ligne</a></li>
            <li><a href="{% url "zds.tutorial.views.history_validation" tutorial.pk %}">Historique validation</a></li>
            <li><a href="{% url "zds.tutorial.views.invalid_tutorial" tutorial.pk %}">Dépublier</a>
        </ul>
    </div>
    {% endif %}

    {% include "tutorial/includes/summary.html" %}

    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Télécharger">
        <h3>Télécharger</h3>
        <ul class="sidebar-standalone mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Téléchargements">
            {% if perms.tutorial.change_tutorial %}
                <li><a href="{% url "zds.tutorial.views.download" %}?tutoriel={{ tutorial.pk }}">Archive</a></li>
                <li><a href="{% url "zds.tutorial.views.download_markdown" %}?tutoriel={{ tutorial.pk }}">Markdown</a></li>
            {% endif %}

            <li><a href="{% url "zds.tutorial.views.download_pdf" %}?tutoriel={{ tutorial.pk }}">PDF</a></li>
            <li><a href="{% url "zds.tutorial.views.download_epub" %}?tutoriel={{ tutorial.pk }}">EPUB</a></li>
        </ul>
    </div>
{% endblock %}



{% block content %}
    {% if tutorial.get_introduction_online %}
        {{ tutorial.get_introduction_online|safe }}
    {% else %}
        <p>Aucune introduction.</p>
    {% endif %}

    {% if tutorial.is_mini %}
        {# Small tutorial #}
        {% include "tutorial/chapter_online.part.html" with authors=tutorial.authors.all %}
    {% else %}
        {# Large tutorial #}

        <hr />
        {% if parts %}
            {% for part in parts %}
                <h2>
                    <a href="{% url "view-part-url-online" tutorial.pk tutorial.slug part.slug %}">
                        Partie {{ part.position_in_tutorial }} : {{ part.title }}
                    </a>
                </h2>
                {% include "tutorial/view_part_online_common.part.html" %}
            {% endfor %}
        {% else %}
            <p>
                Il n'y a actuellement aucune partie dans ce tutoriel.
            </p>
        {% endif %}
        <hr />

    {% endif %}

    {% if tutorial.get_conclusion_online %}
        {{ tutorial.get_conclusion_online|safe }}
    {% else %}
        <p>Aucune conclusion.</p>
    {% endif %}


    <h1>Commentaires</h1>
    {% include "misc/pagination.part.html" with position="top" topic=tutorial %}

    {% for note in notes %}
        {% captureas edit_link %}
            {% url "zds.forum.views.edit_post" %}?message={{ message.pk }}
        {% endcaptureas %}

        {% captureas cite_link %}
            {% url "zds.forum.views.answer" %}?tutorial={{ article.pk }}&amp;cite={{ message.pk }}
        {% endcaptureas %}

        {% captureas upvote_link %}
            {% url "zds.tutorial.views.like_note" %}?message={{ message.pk }}
        {% endcaptureas %}

        {% captureas downvote_link %}
            {% url "zds.tutorial.views.dislike_note" %}?message={{ message.pk }}
        {% endcaptureas %}

        {% include 'misc/message.part.html' with perms_change=perms.tutorial.change_note topic=tutorial %}
    {% endfor %}

    {% include "misc/pagination.part.html" with position="bottom" topic=tutorial %}

    {% if user.is_authenticated %}
        {% with profile=user|profile%}
            <section>
                <div class="user">
                    <img src="{{ profile.get_avatar_url }}" alt="" class="avatar avatar-link">
                </div>
                {% crispy form %}
            </section>
        {% endwith %}
    {% endif %}
{% endblock %}