{% extends "tutorial/base.html" %}
{% load emarkdown %}
{% load repo_reader %}
{% load crispy_forms_tags %}



{% block title %}
    {{ tutorial.title }}
{% endblock %}



{% block breadcrumb %}
    <li>{{ tutorial.title }}</li>
{% endblock %}



{% block headline %}
    <h1 class="illu">
        {% if tutorial.image %}
            <img src="{{tutorial.image.thumb.url }}" alt="">
        {% endif %}
        {{ tutorial.title }}
    </h1>

    <ul class="taglist">
        {% for category in tutorial.subcategory.all %}
            {# TODO : ajouter les liens des tags #}
            <li><a href="#">{{ category.title }}</a></li>
        {% endfor %}
    </ul>
    
    <div class="authors content-wrapper">
        <span class="authors-label">Auteurs : </span>
        <ul>
            {% for member in tutorial.authors.all %}
                <li>
                    {% include "misc/member_item.part.html" with avatar=True %}
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if tutorial.in_beta and tutorial.sha_beta == version %}
        <div class="content-wrapper">
            <div class="alert-box warning">
                Attention, cette version du tutoriel est en BETA
            </div>
        </div>
    {% endif %}
{% endblock %}



{% block headline_sub %}
    {{ tutorial.description }}
{% endblock %}



{% block sidebar_actions %}
    {% if tutorial.sha_draft = version %}
        <li><a href="{% url "zds.tutorial.views.edit_tutorial" %}?tutoriel={{ tutorial.pk }}">Éditer</a></li>
    {% endif %}

    <li>
        {% if not tutorial.is_mini %}
            <a href="{% url "zds.tutorial.views.add_part" %}?tutoriel={{ tutorial.pk }}">Ajouter une partie</a>
        {% else %}
            <a href="{% url "zds.tutorial.views.add_extract" %}?chapitre={{ tutorial.get_chapter.pk }}">Ajouter un extrait</a>
        {% endif %}
    </li>

    {% if not tutorial.in_beta %}
        <li><a href="{% url "zds.tutorial.views.activ_beta" tutorial.pk version %}">Activer la beta</a></li>
    {% else %}
        <li><a href="{% url "zds.tutorial.views.desactiv_beta" tutorial.pk version %}">Désactiver la beta</a></li>
    {% endif %}

    <li><a href="{% url "zds.tutorial.views.history" tutorial.pk tutorial.slug %}">Historique des versions</a>

    {% if not tutorial.on_line %}
        <li><a href="{% url "zds.tutorial.views.delete_tutorial" tutorial.pk %}">Supprimer</a>
    {% endif %}

    {% if not tutorial.in_validation %}
        <li>
            <a href="#ask-validation" class="open-modal">
                Demander la validation
            </a>

            <div id="ask-validation" class="modal modal-small">
                {# FIXME : WTF ce nom de variable en camelCase ? #}
                {% crispy formAskValidation %}
            </div>
        </li>
    {% endif %}
{% endblock %}



{% block sidebar_blocs %}
    {% if perms.tutorial.change_tutorial%}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Administration">
            <h3>Admin<span class="wide">istration</span></h3>
            <ul>
                <li><a href="{% url "zds.tutorial.views.history_validation" tutorial.pk %}">Historique validation</a></li>
                
                {% if tutorial.on_line %}
                    <li><a href="{% url "zds.tutorial.views.invalid_tutorial" tutorial.pk %}">Dépublier</a>
                {% endif %}

                {% if tutorial.in_validation %}
                    <li>
                        {% crispy formValid %}
                    </li>
                    <li>
                        {% crispy formReject %}
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}



{% block content %}
    {% with tuto_version=tutorial|repo_tuto:version %}
        {% if tuto_version.introduction %}
            {{ tuto_version.introduction|emarkdown }}
        {% else %}
            <p>Aucune introduction.</p>
        {% endif %}

        {% if tutorial.is_mini %}
            {# Small tutorial #}

            {% include "tutorial/includes/chapter.part.html" with authors=tutorial.authors.all %}
        {% else %}
            {# Large tutorial #}

            <hr />
            {% if parts %}
                {% for part in parts %}
                    <h2>
                        <a href="{% url "view-part-url" tutorial.pk tutorial.slug part.slug %}{%if version %}?version={{version}}{% endif %}">
                            Partie {{ part.position_in_tutorial }} : {{ part.title }}
                        </a>
                    </h2>
                {% endfor %}
            {% else %}
                <p>
                    Il n'y a actuellement aucune partie dans ce tutoriel.
                </p>
            {% endif %}
            <hr />

        {% endif %}

        {% if tuto_version.conclusion %}
            {{ tuto_version.conclusion|emarkdown }}
        {% else %}
            <p>Aucune conclusion.</p>
        {% endif %}
    {% endwith %}
{% endblock %}