{% extends "pages/base.html" %}

{% block title %}
    À propos
{% endblock %}

{% block head-title %}
    À propos
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">À propos</a></li>
{% endblock %}

{% block content %}
    <div class="large-12 columns">
  		<p>Si vous vous intéressez à tous ça, vous devriez songer à <a href="https://github.com/Taluu/ZesteDeSavoir">contribuer au développement du site</a> !</p>
    </div>
    <div class="large-4 columns">
        <h3>Copyrights</h3>
        <p>Zeste de Savoir est un site donc le code source est sous licence <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPL v3</a>, et provient en parti de <a href="http://progdupeu.pl">Progdupeupl</a>.</p>
        <p><a href="#">Le logo de Zeste de Savoir</a> est créé par MaxRoyo et sous
        	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
        	Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>.</p>
    </div>
    <div class="large-4 columns">
        <h3>Système</h3>
        <p>Le serveur de Zeste de Savoir tourne avec ces technologies :</p>
        <p><strong>Site</strong></p>
        <ul>
            <li><a href="http://www.python.org/">Python 2.7</a></li>
            <li><a href="https://www.djangoproject.com/">Django 1.6</a></li>
        </ul>
        <p><strong>HTTP(S) + WSGI</strong></p>
        <ul>
            <li><a href="http://nginx.org/">NGinx</a></li>
            <li><a href="http://gunicorn.org/">Gunicorn</a></li>
        </ul>
        <p><strong>Base de données</strong></p>
        <ul>
            <li><a href="http://www.postgresql.org/">PostgreSQL</a></li>
        </ul>
    </div>
    <div class="large-4 columns">
        <h3>Technologies</h3>
        <p>Le site Zeste de Savoir utilise les technologies suivantes pour l'affichage :</p>
        <p><strong>Feuilles de style</strong></p>
        <ul>
            <li><a href="http://compass-style.org/">Compass</a></li>
            <li><a href="http://foundation.zurb.com/">Zurb Foundation</a></li>
        </ul>
        <p><strong>Javascript</strong></p>
        <ul>
            <li><a href="http://foundation.zurb.com/">Zurb Foundation</a></li>
            <li><a href="http://modernizr.com/">Modernizr</a></li>
            <li><a href="http://jquery.com/">jQuery 2.x</a></li>
        </ul>
    </div>

{% endblock %}
