{% extends "pages/base.html" %}



{% block title %}
    À propos
{% endblock %}



{% block breadcrumb %}
    <li>À propos</li>
{% endblock %}



{% block headline %}
    <h1>À propos</h1>
{% endblock %}



{% block content %}
	<p>
        Si vous vous intéressez à tout cela, vous devriez songer à <a href="{{app.site.repository}}">contribuer au développement du site</a> !
    </p>

    <div>
        {% if app.site.licenses %}
            <div class="content-col-3">
                <h3>Droits</h3>
                {% if app.site.licenses.source %}
                    <p>
                        {{app.site.litteral_name}} est un site donc le code source est sous licence <a href="{{ app.site.licenses.source.url_license }}">{{ app.site.licenses.source.code }}</a>, et provient en partie de <a href="{{ app.site.licenses.source.provider_url }}">{{ app.site.licenses.source.provider_name }}</a>.
                    </p>
                {% endif %}
                {% if app.site.licenses.logo %}
                    <p>
                        <a href="#">Le logo de {{app.site.litteral_name}}</a> est créé par {{ app.site.licenses.logo.author }} et sous
                    	<a rel="license" href="{{ app.site.licenses.logo.url_license }}">
                            <img alt="{{ app.site.licenses.logo.title }}" src="{{ app.site.licenses.logo.url_image }}">
                    	    {{ app.site.licenses.logo.description }}
                        </a>
                        <img alt="Logo de {{app.site.litteral_name}}" src="{{app.site.url}}/static/images/logo.png">
                    </p>
                {% endif %}
            </div>
        {% endif %}

        <div class="content-col-3">
            <h3>Système / Back-end</h3>
            <p>
                Le Back-end est propulsé par les outils suivants :
            </p>

            <h4>Site</h4>
            <ul>
                <li><a href="http://www.python.org/">Python 2.7</a></li>
                <li><a href="https://www.djangoproject.com/">Django 1.6</a></li>
            </ul>

            <h4>HTTP(S) + WSGI</h4>
            <ul>
                <li><a href="http://nginx.org/">NGinx</a></li>
                <li><a href="http://gunicorn.org/">Gunicorn</a></li>
            </ul>

            <h4>Base de données</h4>
            <ul>
                <li><a href="http://www.mysql.com/">MySQL</a></li>
            </ul>
        </div>

        <div class="content-col-3">
            <h3>Front-end</h3>
            <p>
                Le front-end utilise les outils suivants :
            </p>

            <h4>Feuilles de style</h4>
            <ul>
                <li><a href="http://necolas.github.io/normalize.css/">Normalize.css</a></li>
                <li><a href="http://sass-lang.com/">SCSS</a></li>
                <li><a href="http://compass-style.org/">Compass</a></li>
            </ul>

            <h4>Javascript</h4>
            <ul>
                <li><a href="http://modernizr.com/">Modernizr</a></li>
                <li><a href="http://jquery.com/">jQuery 2.x</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
