{% extends "base.html" %}
{% load humanize %}



{% block title %}
    Liste des alertes en cours
{% endblock %}



{% block headline %}
    Liste des alertes en cours
{% endblock %}



{% block breadcrumb %}
    <li>Liste des alertes en cours</li>
{% endblock %}



{% block content %}
    <table class="fullwidth">
        <thead>
            <th>Type</th>
            <th>Auteur</th>
            <th class="wide">Date</th>
            <th class="wide">Message</th>
            <th>Sur un message de...</th>
        </thead>
        <tbody>
            {% for alert in alerts %}
                <tr>
                    <td>{{ alert.get_scope_display }}</td>
                    <td><a href="{% url "zds.member.views.details" alert.author.username %}">{{ alert.author.username }}</a></td>
                    <td class="wide">{{ alert.pubdate|naturaltime }}</td>
                    <td class="wide"><a href="{{ alert.get_comment_subclass.get_absolute_url }}">{{ alert.text }}</a></td>
                    <td><a href="{% url "zds.member.views.details" alert.comment.author.username %}">{{ alert.comment.author.username }}</a>, posté le {{ alert.comment.pubdate|naturaltime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}