{% extends "pages/base.html" %}
{% load crispy_forms_tags %}



{% block title %}
    Adhérer à l'association {{app.site.association.name}}
{% endblock %}



{% block breadcrumb %}
  	<li>Adhérer à l'association {{app.site.association.name}}</li>
{% endblock %}



{% block headline %}
    <h1>Adhérer à l'association {{app.site.association.name}}</h1>
{% endblock %}



{% block content %}
    <h3>Pourquoi adhérer ?</h3>
    <p>
        Adhérer à l'association {{app.site.association.name}} permet de nous soutenir de manière concrète et d'officialiser votre
        engagement.
    </p>
    <p>
        D'autre part, le financement des activités de l'association, dont bien sûr le site, est intégralement assuré par
        les cotisations des membres : adhérer vous permet ainsi d'assurer la pérennité du site. La cotisation, pour
        l'année 2014, est de <strong>{{app.site.association.fee}}</strong> (le montant sera révisé tous les ans). Si pour une raison quelconque
        vous ne pouvez pas payer cette cotisation, faites-en nous part, nous pouvons accorder des dérogations
        exceptionnelles.</p>
    <p>
        Notez que l'adhésion est subordonnée au paiement de cette cotisation.
    </p>
    <p>
        Adhérer permet bien entendu de participer à l'Assemblée Générale annuelle de l'association, qui élit le Conseil
        d'Administration. Si vous avez des idées pour faire avancer l'association et donc le site, c'est le moment !
    </p>
    <p>
        Une précision importante : <strong>adhérer à l'association ne vous apporte rien sur le site</strong>. L'adhésion
        n'est là que pour soutenir le projet, et ne donne droit à aucun pouvoir ou badge supplémentaires. Elle ne donne
        même pas accès à un forum secret, puisque le forum de l'association est public !
    </p>
    <p>
        Enfin, toutes les fonctionnalités du site sont disponibles à tous : aucune n'est conditionnée à l'adhésion à
        l'association.
    </p>

    <h3>Formulaire d'adhésion</h3>
    {% crispy form %}
{% endblock %}