{% extends "pages/base.html" %}
{% load date %}
{% load i18n %}



{% block title %}
    {% trans "Historique des éditions du message" %}
{% endblock %}



{% block breadcrumb %}
    <li>
        <a href="{{ comment.get_absolute_url }}">
            {% trans "Message de" %} {{ comment.author.username }}
        </a>
    </li>
    <li>{% trans "Historique des éditions" %}</li>
{% endblock %}

{% block headline %}
    <h1>{% trans "Historique des éditions du message" %}</h1>
{% endblock %}

{% block content_page %}
    {% if edits %}
        <table class="fullwidth">
            <thead>
                <th>{% trans "Version" %}</th>
                <th class="wide">{% trans "Date" %}</th>
                <th>{% trans "Éditeur" %}</th>
                <th>{% trans "Contenu" %}</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% blocktrans with num=edits|length %}
                            Version {{ num }}
                        {% endblocktrans %}
                    </td>
                    <td class="wide">{{ edits.0.date|format_date|capfirst }}</td>
                    <td>{% include 'misc/member_item.part.html' with member=edits.0.editor avatar=True %}</td>
                    <td>
                        {% trans "(Version actuelle)" %}
                    </td>
                </tr>
                {% for edit in edits %}
                    {% with str_counter=forloop.counter|stringformat:"i" %}
                    {% with slicing=str_counter|add:":"  %}
                    {% with next_edit=edits|slice:slicing|first  %}
                    <tr>
                        <td>
                            {% if forloop.last %}
                                {% trans "Version originale" %}
                            {% else %}
                                {% blocktrans with num=forloop.revcounter0 %}
                                    Version {{ num }}
                                {% endblocktrans %}
                            {% endif %}
                        </td>
                        {% if forloop.last %}
                            <td class="wide">{{ comment.pubdate|format_date|capfirst }}</td>
                            <td>{% include 'misc/member_item.part.html' with member=comment.author avatar=True %}</td>
                        {% else %}
                            <td class="wide">{{ next_edit.date|format_date|capfirst }}</td>
                            <td>{% include 'misc/member_item.part.html' with member=next_edit.editor avatar=True %}</td>
                        {% endif %}
                        <td>
                            {% if edit.deleted_by %}
                                {% trans "Supprimée par" %} {% include 'misc/member_item.part.html' with member=edit.deleted_by avatar=True %} ({{ edit.deleted_at|format_date }})
                            {% else %}
                                {% if is_staff %}
                                    <form method="post" class="btn-inline" action="{% url 'delete-edit-content' edit.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-grey ico-after red cross">{% trans "Supprimer" %}</button>
                                    </form>
                                {% endif %}
                                {% if comment.is_visible %}
                                    <form method="post" class="btn-inline" action="{% url 'restore-edit' edit.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-grey ico-after blue history">{% trans "Restaurer" %}</button>
                                    </form>
                                {% endif %}
                                <a href="{% url 'edit-detail' edit.pk %}" class="btn btn-grey ico-after hide btn-inline btn-no-float">{% trans "Voir" %}</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>{% trans "Ce message n’a jamais été édité." %}</em>
    {% endif %}
{% endblock %}
