{% extends "pages/base.html" %}

{% block title %}
    Contact
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Contact</a></li>
{% endblock %}

{% block head-title %}
    Contact
{% endblock %}

{% block content %}
	<h3>L'équipe de communication</h3>
	<p>
	Vous pouvez à tout moment joindre l'équipe de communication de ZesteDeSavoir par mail via <a href="mailto:communication@zestedesavoir.com?Subject=Contact communication" target="_top">communication@zestedesavoir.com</a>
	</p>
	<h3>L'association</h3>
	<p>
	Vous pouvez joindre l'association par mail via <a href="mailto:association@zestedesavoir.com?Subject=Contact association" target="_top">association@zestedesavoir.com</a>
	</p>
    <h3>Le staff</h3>
    <p>
    Le staff est constitué de certains membres du site dont le but est de contrôler le contenu publié sur ZesteDeSavoir. Ils sont en charge de la modération des messages sur les forums et commentaires, ainsi que de la validation et publication d'articles et/ou de tutoriels de ZesteDeSavoir.
    Les membres faisant partie du Staff sont les suivants :
    </p>
    <p>
    {% if staffs %}
	    {% for member in staffs %}
	    	{% include "member/member_item_common.part.html" %}
	    {% endfor %}
    {% endif %}
    </p>
    <h3>L'équipe technique</h3>
    <p>
    L'équipe technique est constituée de certains membres du site dont le but est d'une part de s'assurer que le site reste toujours disponible en ligne, et d'autre part de corriger les bogues rencontrés sur le site.
    Des administrateurs systèmes, jusqu'aux Designeurs, en passant par les developpeurs back-end et intégrateurs front-end, ils s'occupent aussi de la maintenance du dépot officiel du projet. Les membres faisant partie de l'équipe technique sont les suivants :
	</p>
	<p>
	{% if devs %}
	    {% for member in devs %}
	    	{% include "member/member_item_common.part.html" %}
	    {% endfor %}
    {% endif %}
    </p>
{% endblock %}
