{% extends "pages/base.html" %}


{% load email_obfuscator %}
{% load emarkdown %}
{% load i18n %}
{% load set %}


{% block title %}
    {% trans "Contact" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Contact" %}</li>
{% endblock %}



{% block headline %}
    <h1>{% trans "Contact" %}</h1>
{% endblock %}



{% block content %}
    {% for contact_group in groups %}
        <h3>{{ contact_group.name }}</h3>
        {% if contact_group.description %}
            <p>{{ contact_group.description|emarkdown }}</p>
        {% endif %}
        {% if contact_group.email %}
            <p>
                {% blocktrans with group_name=contact_group.name|lower group_email=contact_group.email|obfuscate_mailto_top_subject:"Contact" %}
                    Vous pouvez joindre {{ group_name }} par courriel via {{ group_email }}.
                {% endblocktrans %}
            </p>
        {% endif %}
        {% if contact_group.persons_in_charge.count >= 1 %}
            <p>
                {% if contact_group.persons_in_charge.count >= 2 %}
                    {% trans "Les personnes responsables du groupe sont" %}
                {% else %}
                    {% trans "La personne responsable du groupe est" %}
                {% endif %}
                {% for person in contact_group.persons_in_charge.all %}
                    {% include "misc/member_item.part.html" with avatar=True member=person inline=True only %}
                {% endfor %}
                .
            </p>
        {% endif %}
        {% with users=contact_group.group.user_set.all %}
            {% if users %}
                <p>{% trans "Les membres sont les suivants." %}</p>
                <div class="members">
                    <ul>
                        {% for member in users %}
                            <li>{% include "misc/member_item.part.html" with avatar=True %}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    {% empty %}
        <p>
            {% blocktrans with email_contact=app.site.email_contact|obfuscate_mailto_top_subject:"Contact" %}
                Vous pouvez nous joindre par courriel via {{ email_contact }}.
            {% endblocktrans %}
        </p>
    {% endfor %}
{% endblock %}
