{% extends "pages/base.html" %}
{% load i18n %}
{% load set %}



{% block title %}
    {% trans "À propos des cookies" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "À propos des cookies" %}</li>
{% endblock %}



{% block headline %}
    <h1>{% trans "À propos des cookies" %}</h1>
{% endblock %}



{% block content %}
    {% set app.site.literal_name as site_name %}
    <h3>{% trans "Qu’est-ce qu’un cookie ?" %}</h3>
    <p>
        {% blocktrans %}
            Un <strong>cookie</strong> (aussi appelé <strong>témoin de connexion</strong> ou <strong>témoin</strong> au Québec) est un petit bout de texte envoyé par le serveur web au navigateur, et renvoyé à l’identique par le navigateur au serveur.
        {% endblocktrans %}
    </p>
    <p>{% trans "Les cookies ne sont ni des logiciels espions ni des virus, puisqu’ils ne sont en réalité que de simples fichiers textes et ne peuvent en aucun cas être exécutés." %}</p>
    <p>
        {% blocktrans %}
            Pour plus de détails sur ce qu’est un cookie, voyez <a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/">le site de la CNIL</a> ou <a href="http://fr.wikipedia.org/wiki/Cookie_%28informatique%29">Wikipédia</a>.
        {% endblocktrans %}
    </p>

    <h3>{% trans "À quoi servent les cookies ?" %}</h3>
    <p>{% trans "Les cookies se répartissent en deux grands types : les impératifs techniques et la mesure d’audience." %}</p>
    <p>{% blocktrans %}<strong>En aucun cas</strong> les cookies servent à recueillir des renseignements personnels, transmettre des données sensibles ou transmettre des données personnelles à des tiers.{% endblocktrans %}</p>

    <h4>{% trans "Cookies techniques" %}</h4>
    <p>{% blocktrans %}Certaines fonctionnalités du site nécessitent des cookies pour pouvoir être opérationnelles. L’exemple typique est la connexion aux parties privées de {{ site_name }}.{% endblocktrans %}</p>
    <p>{% blocktrans %}La liste complète des cookies techniques utilisés sur {{ site_name }} et leur utilité est détaillée un peu plus bas.{% endblocktrans %}</p>
    <p>{% blocktrans %}Ces cookies, purement techniques, <strong>sont indispensables au fonctionnement de {{ site_name }}</strong>. Si vous les refusez, les éléments qui en dépendent ne fonctionneront tout simplement pas !{% endblocktrans %}</p>

    <h3>{% trans "Les cookies sur ce site" %}</h3>
    <p>{% blocktrans %}Pour être tout à fait précis, {{ site_name }} utilise les cookies suivants :{% endblocktrans %}</p>
    <h4>{% trans "Cookies techniques" %}</h4>
    <dl>
        <dt><tt>sessionid</tt></dt>
        <dd>{% blocktrans %}Ce cookie est un identifiant unique qui permet de faire le lien entre votre session de navigation et les différentes pages que vous visitez. Il permet en particulier de vous connecter à {{ site_name }}. Il ne contient qu’une chaîne de caractères aléatoires.{% endblocktrans %}</dd>
        <dt><tt>csrftoken</tt></dt>
        <dd>{% blocktrans %}Ce cookie contient une chaîne de caractères aléatoires qui permet de se prémunir des attaques <a href="http://fr.wikipedia.org/wiki/Cross-Site_Request_Forgery">CSRF</a>. Composant indispensable de la sécurité du site, vous ne pourrez rien poster sans ce cookie.{% endblocktrans %}</dd>
    </dl>


    <h3>{% trans "Licence de cette page" %}</h3>
    {% url "pages-cookies" as cook_url %}
    {% if app.site.licenses.cookies %}
        <p>
            {% blocktrans with url_license=app.site.licenses.cookies.url_license cook_descr=app.site.licenses.cookies.description cook_title=app.site.licenses.cookies.title cook_img=app.site.licenses.cookies.url_image %}
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="{{ cook_title }}" style="border-width:0" src="{{ cook_img }}" /></a>
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">À propos des cookies</span> de <a href="{{ cook_url }}">{{ site_name }}</a> est mis à disposition selon les termes de la <a rel="license" href="{{ url_license }}">{{ cook_descr }}</a>.
            {% endblocktrans %}
        </p>
    {% else %}
        <p>
            {% blocktrans %}
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">À propos des cookies</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="{{ cook_url }}" property="cc:attributionName" rel="cc:attributionURL">Zeste de Savoir</a> est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">licence Creative Commons Attribution 4.0 International</a>.
            {% endblocktrans %}
        </p>
    {% endif %}
    <p>{% trans "N’oubliez pas d’adapter les cookies réellement utilisés à votre cas si vous reprenez cette page !" %}</p>

    <hr>

    <h3>{% trans "Une recette de cookies" %}</h3>
    <p>{% trans "Puisque vous avez réussi à trouver cette page et que vous avez eu le courage de lire jusqu’ici, vous avez bien droit à une récompense : une recette de cookies !" %}</p>
    <h4>{% trans "Ingrédients" %}</h4>
    <p>{% trans "Pour beaucoup de cookies (parce que le nombre dépend de leur taille) :" %}</p>
    <ul>
        <li>{% trans "500 g de farine ;" %}</li>
        <li>{% trans "500 g de chocolat à pâtisser ;" %}</li>
        <li>{% trans "250 g de beurre à température ambiante ;" %}</li>
        <li>{% trans "200 g de cassonade, ou à défaut de sucre roux ;" %}</li>
        <li>{% trans "2 œufs ;" %}</li>
        <li>{% trans "2 cuillères à café de vanille liquide ou à défaut 2 sachets de sucre vanillé ;" %}</li>
        <li>{% trans "1 pincée de sel ;" %}</li>
        <li>{% trans "1 sachet de levure." %}</li>
    </ul>
    <p>{% trans "Préparation : 10 minutes + 15 minutes pour couper le chocolat" %}</p>
    <p>{% blocktrans %}Cuisson : 10 minutes <strong>par fournée</strong>{% endblocktrans %}</p>
    <h4>{% trans "Préparation" %}</h4>
    <p>{% trans "Avec un grand couteau solide et bien aiguisé, découpez le chocolat en petits morceaux." %}</p>
    <p>{% trans "Mélangez en crème le beurre ramolli et le sucre. Incorporez les œufs et la vanille liquide (ou le sucre vanillé)." %}</p>
    <p>{% trans "Ajoutez la farine et la levure. Mélangez bien." %}</p>
    <p>{% trans "Ajoutez les morceaux de chocolat et mélangez avec soin." %}</p>
    <h4>{% trans "Cuisson" %}</h4>
    <p>{% trans "Préchauffez votre four à 200°C / thermostat 6-7 (un peu moins si vous utilisez la chaleur tournante), grille en position basse." %}</p>
    <p>{% trans "Façonnez des cookies pas trop épais par petite cuillerées sur une plaque de cuisson recouverte de papier sulfurisé. Espacez-les parce qu’ils s’étalent à la cuisson." %}</p>
    <p>{% trans "Enfournez-les environ 10 minutes, ils sont cuits lorsqu’ils prennent une belle couleur dorée !" %}</p>
    <h4>{% trans "Conseils divers" %}</h4>
    <p>{% trans "Si vous avez la flemme de découper le chocolat, vous pouvez utiliser des pépites de chocolat mais en général c’est moins bon. Surtout pas de chocolat à déguster : ces chocolats manquent de sucre pour la pâtisserie !" %}</p>
    <p>{% trans "Pour découper le chocolat, vous aurez besoin d’un grand couteau solide (donc pas un couteau céramique) et très bien aiguisé. Non, le vôtre n’est pas assez aiguisé. Attaquez la plaque de chocolat côté lisse (carrés sur le dessous), c’est plus simple." %}</p>
    <p>{% trans "La cuisson parfaite se joue à quelques secondes près (sérieusement), alors surveillez-les bien ! Un SMS de trop, et vous obtenez des cookies en béton. Ce qui serait dommage. Les cookies sont assez mous en sortie de four, c’est normal : ils durcissent en refroidissant." %}</p>
    <p>{% blocktrans %} On peut faire des cookies à beaucoup de parfums, mais le <em>must</em> reste le cookie au chocolat.{% endblocktrans %}</p>
{% endblock %}
