{% extends "pages/base.html" %}
{% load date %}
{% load i18n %}
{% load emarkdown %}



{% block title %}
    {% trans "Version avant édition" %} &bull; {% trans "Historique des éditions du message" %}
{% endblock %}



{% block breadcrumb %}
    <li>
        <a href="{{ comment.get_absolute_url }}">
            {% trans "Message de" %} {{ comment.author.username }}
        </a>
    </li>
    <li>
        <a href="{% url 'comment-edits-history' comment.pk %}">
            {% trans "Historique des éditions" %}
        </a>
    </li>
    <li>
        {% trans "Version antérieure du message" %}
    </li>
{% endblock %}



{% block headline %}
    <h1>{% trans "Version antérieure du message" %}</h1>
{% endblock %}



{% block content_page %}
    <div class="message-content">
        {{ edit.original_text|emarkdown }}
    </div>

    {% if is_staff %}
        <form method="post" action="{% url 'delete-edit-content' edit.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-grey ico-after red cross">{% trans "Supprimer" %}</button>
        </form>
    {% endif %}

    {% if comment.is_visible %}
        <form method="post" action="{% url 'restore-edit' edit.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-grey ico-after blue history">{% trans "Restaurer" %}</button>
        </form>
    {% endif %}
{% endblock %}
