{% extends "pages/base.html" %}



{% block title %}
    Conditions générales d’utilisation
{% endblock %}



{% block breadcrumb %}
    <li>Conditions générales d’utilisation</li>
{% endblock %}



{% block headline %}
    <h1>Conditions générales d’utilisation</h1>
{% endblock %}



{% block content %}
    <a href="http://creativecommons.org/licenses/by/4.0/">
        <img src="http://i.creativecommons.org/l/by/4.0/88x31.png" alt="CC BY v4.0">
    </a>

    <h3>1. Objet</h3>
    <p>
        Les présentes &laquo; conditions générales d’utilisation &raquo; ont pour objet de définir l’encadrement juridique des modalités selon lesquelles{% if app.site.association %} l’association {{ app.site.association.name }},{% else %} la structure{% endif %} éditrice du site, met à la disposition des utilisateurs son site internet {{ app.site.dns }} et les conditions selon lesquelles les utilisateurs accèdent et utilisent ce site.
    </p>
    <p>
        Toute connexion au site {{ app.site.dns }} est soumise au respect des présentes conditions générales d’utilisation. L’accès au site par l’utilisateur entraîne son acceptation des présentes conditions générales d’utilisation et constitue donc un contrat entre l’éditeur et l’utilisateur.
    </p>
    <p>
        En cas de non-acceptation des conditions générales d’utilisation stipulées dans le présent contrat, l’utilisateur se doit de renoncer à l’accès des services proposés par le site.
    </p>

    <h3>2. Mentions légales</h3>
    {% if app.site.association %}
        <p>
            L’édition du site {{ app.site.dns }} est assurée par l’association française de loi 1901 {{ app.site.literal_name }}, déclarée à la préfecture de Vendée et parue au Journal Officiel le 19 avril 2014.
        </p>
        <p>
            Vous pouvez joindre l’association via l’adresse courriel : <a href="mailto:{{ app.site.association.email }}">{{ app.site.association.email }}</a>.
        </p>
    {% endif %}
    {% if app.site.hosting %}
        <p>
            Le site est hébergé par {{ app.site.hosting.name }} dont le siège social est situé {{ app.site.hosting.address }}.
        </p>
    {% endif %}
    {% if app.cnil %}
        <p>
            Le site est enregistré auprès de la CNIL sous le numéro {{ app.site.cnil }}.
        </p>
    {% endif %}
    <h3>3. Définitions</h3>
    <ul>
        <li>Utilisateur : ce terme désigne toute personne qui utilise le site ou l’un des services proposés par le site.</li>
        <li>Membre : l’utilisateur devient un &laquo; Membre &raquo; dès son inscription sur le site.</li>
        <li>Contenu de l’utilisateur : ce sont les données transmises par l’utilisateur sur le site.</li>
        <li>Message : il s’agit d’un contenu publié par un membre qui n’est ni un tutoriel ni un article.</li>
        <li>Lien hypertexte : ce terme désigne les liens consultables par les visiteurs menant à une autre page du même site ou vers un autre site web.</li>
        <li>Identifiant et mot de passe : c’est l’ensemble des informations nécessaires à l’identification d’un membre sur le site. L’identifiant et le mot de passe permettent à l’utilisateur d’accéder à des services réservés aux membres du site. Le mot de passe est une information confidentielle. </li>
    </ul>

    <h3>4. Accès au site</h3>
    <p>
        Le site est accessible gratuitement à tout utilisateur ayant un accès à Internet. Tous les frais supportés par l’utilisateur pour accéder au service (matériel informatique, logiciels, abonnement Internet, etc.) sont à sa charge.
    </p>
    <p>
        L’éditeur met en &oelig;uvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. L’obligation étant de moyens, le site ne s’engage pas à atteindre ce résultat.
    </p>
    <p>
        L’accès au site peut à tout moment faire l’objet d’une interruption à des fins de maintenance, de mise à jour et pour toute autre raison (raisons techniques, force majeure, etc.) sans que l’interruption n’ouvre droit à aucune obligation ni indemnisation.
    </p>
    <p>
        Tout événement d&ucirc; à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n’engage pas la responsabilité de l’éditeur.
    </p>
    <p>
        L’utilisateur non membre n’a pas accès aux services réservés aux membres. En effet, certaines actions sur le site sont réservées aux membres après identification à l’aide de leur identifiant et de leur mot de passe. Elles concernent principalement la rédaction d’articles, de billets ou de tutoriels et la participation active sur les forums.
    </p>
    <p>
        Pour devenir &laquo; Membre &raquo;, l’utilisateur doit créer un compte au moyen du formulaire en ligne prévu à cet effet.
    </p>
    <p>
        Lors de son inscription, le membre choisit un identifiant et un mot de passe lesquels ont un caractère strictement personnel et confidentiel. Le membre est donc tenu de préserver la confidentialité de ces données et à supporter toutes les conséquences pouvant résulter de leur divulgation (qu’elle soit volontaire ou non).
    </p>
    <p>
        Pour pouvoir accéder aux services réservés aux membres, le membre doit s’identifier à l’aide de son identifiant et de son mot de passe.
    </p>
    <p>
        L’éditeur se réserve le droit de refuser l’accès aux services du site, unilatéralement et sans notification préalable, à tout utilisateur ne respectant pas les présentes conditions d’utilisation.
    </p>

    <h3>5. Contenu de l’utilisateur</h3>
    <h4>5.1 Généralités </h4>
    <p>
        Le site permet aux membres de publier des commentaires, des tutoriels, des articles, des billets, des messages sur les forums, de même que des messages privés entre membres. Le membre est responsable des propos tenus sur les forums et dans les commentaires d’un article, d’un billet ou d’un tutoriel.
    </p>
    <p>
        Il est interdit aux membres de télécharger, diffuser, transmettre ou d’envoyer sur le site des contenus qui ont un caractère injurieux ou diffamatoire, pornographique, portent atteinte à la vie privée et/ou au droit à l’image d’autrui, incitent à la commission de crimes et délits, incitent à la consommation d’alcool, du tabac ou de médicaments, mettent en péril le bon fonctionnement du site, de ses serveurs et la protection des données de {{ app.site.dns }} ou de ses membres et d’une manière générale, ont un caractère contraire à la législation en vigueur.
    </p>
    <p>
        Cette interdiction s’applique également aux contenus auxquels donnent accès les liens hypertextes fournis par un membre sur le site.
    </p>
    <p>
        Dans ses publications, le membre s’engage de plus à respecter les règles du site. Par ailleurs, le site exerce une modération sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.
    </p>

    <h4>5.2 Responsabilité des messages publiés par un membre et sanctions en cas de manquement</h4>
    <p>
        Les membres sont seuls responsables des messages qu’ils publient sur le site. L’éditeur du site ne peut être considéré comme responsable du contenu transmis ou mis en ligne par les membres. Toutefois, les utilisateurs peuvent signaler une publication manifestement contraire aux lois en vigueur, aux règles du site ou aux conditions générales d’utilisation  dans le but d’un acte de modération par l’équipe du site.
    </p>
    <p>
        En cas de manquement par un membre des règles du site et/ou des éléments ci-dessus, la modération de {{ app.site.dns }} peut décider de lui bloquer l’accès au site, à titre provisoire ou définitif, ou d’en limiter l’utilisation. Les différentes sanctions applicables sont inscrites dans le règlement du site. Aucune contrepartie ne pourra être exigée.
    </p>

    <h4>5.3 Propriété du contenu publié par un membre </h4>
    <p>
        Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle sur l’ensemble du contenu qu’il publie (articles, billets, tutoriels, de même que le contenu publié sur les forums). Mais par la mise en ligne d’un tutoriel,  ou article, il autorise gratuitement et sans clause d’exclusivité l’éditeur du site à représenter, modifier, adapter et diffuser sa publication sur le site, pour la durée de la propriété intellectuelle. Il autorise notamment l’éditeur du site à utiliser sa publication sur Internet dans le but de faire connaître le site.
    </p>
    <p>
        L’auteur d’un tutoriel, d’un billet ou d’un article a également la possibilité de mettre sa publication en ligne selon la licence &ldquo;CC&rdquo; (Creative Commons) qui lui convient le mieux parmi les licences CC suivantes :
    </p>
    <ul>
        <li>Licence CC 0 1.0 - <a href="http://creativecommons.org/publicdomain/zero/1.0/">Lire le résumé explicatif de la licence</a></li>
        <li>Licence CC BY 4.0 - <a href="http://creativecommons.org/licenses/by/4.0/">Lire le résumé explicatif de la licence</a></li>
        <li>Licence CC BY-SA 4.0 - <a href="http://creativecommons.org/licenses/by-sa/4.0/">Lire le résumé explicatif de la licence</a></li>
        <li>Licence CC BY-ND 4.0 - <a href="http://creativecommons.org/licenses/by-nd/4.0/">Lire le résumé explicatif de la licence</a></li>
        <li>Licence CC BY-NC 4.0 - <a href="http://creativecommons.org/licenses/by-nc/4.0/">Lire le résumé explicatif de la licence</a></li>
        <li>Licence CC BY-NC-SA 4.0 - <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Lire le résumé explicatif de la licence</a></li>
        <li>Licence CC BY-NC-ND 4.0 - <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Lire le résumé explicatif de la licence</a></li>
        <li>Licence CC BY-NC-ND 4.0 - <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Lire le résumé explicatif de la licence</a></li>
    </ul>
    <p>
        La mise en ligne d’un tutoriel ou d’un article est soumise à une validation préalable par l’éditeur du site. L’éditeur du site est libre de refuser la publication d’un tutoriel ou d’un article, sans avoir à s’en justifier auprès du membre et sans qu’aucune contrepartie puisse être exigée.
    </p>
    <p>
        La mise en ligne d’un billet est soumise à une validation postérieure par l’éditeur du site. L’éditeur du site est libre de supprimer un billet, sans avoir à s’en justifier auprès du membre et sans qu’aucune contrepartie puisse être exigée.
    </p>
    <p>
        L’éditeur du site s’engage à faire figurer le nom du membre et la licence choisie à proximité de chaque utilisation de sa publication.
    </p>
    <p>
        En cas de refus de publication, il ne sera fait nul usage par l’éditeur du site de la publication refusée.
    </p>

    <h4>5.4 Création d’un profil personnel </h4>
    <p>
        Après inscription, tout membre dispose d’une page de profil personnelle. Ce profil recense l’ensemble de l’activité du membre sur le site (forums, signature, avatar,  articles, billets, tutoriels) à l’exception des informations d’inscription (nom, prénom, adresse courriel, ...) et correspondances (via le système de messagerie privée) privées.
    </p>
    <p>
        Cette page de profil, accessible à tous les membres, a pour objet de permettre au membre de se présenter. Le membre est libre d'ajouter une photographie le représentant, un avatar et d'autres informations supplémentaires : biographie, formations et emploi, l’adresse des sites et/ou blog et/ou portfolio présentant les travaux du membre, comptes sur les réseaux sociaux et toute autre information au choix du membre.
    </p>
    <p>
        L’éditeur ne peut être tenu responsable des informations données par le membre sur cette page de profil. En effet, le membre doit donc veiller à ne fournir que des informations qu’il souhaite communiquer aux autres membres, le contenu de cette page étant sous sa responsabilité.
    </p>
    <p>
        Le membre s’engage expressément à ne pas publier la photographie ou des informations privées d’une tierce personne. Il s’engage par ailleurs à ne pas usurper l’identité d’un tiers et à respecter scrupuleusement les règles du site, les conditions inscrites dans le présent document ainsi que la législation en vigueur.
    </p>
    <p>
        Le site est libre d’exercer une modération sur la page de profil d’un membre si celle-ci va à l’encontre des règles du site, des conditions inscrites dans le présent document et/ou de la législation en vigueur.
    </p>

    <h3>6. Données personnelles</h3>
    <h4>6.1  Loi Informatique et Libertés du 6 janvier 1978</h4>
    <p>
        Conformément à la Loi n<sup>o</sup>78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le traitement des données personnelles réalisées sur le site a fait l’objet d’une déclaration auprès de la Commission Nationale Informatique et Liberté (CNIL).
    </p>
    <p>
        Le traitement des données personnelles de chaque membre se fait conformément à la Loi Informatique et Libertés du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.
    </p>
    <p>
        L’éditeur du site s’engage à assurer un niveau de protection suffisant des informations fournies dans le but de garantir le respect de la vie privée conformément aux prescriptions légales.
    </p>

    <h4>6.2  Utilisation des données enregistrées</h4>
    <p>
        Toutes les données à caractère personnel transmises par les utilisateurs et membres du site sont recueillies dans le plus strict respect de la législation. Elles ont pour finalité une meilleure utilisation de {{ app.site.dns }} et sont donc utilisées par l’éditeur du site à cette fin.
    </p>
    <p>
        Lors de son inscription, il est requis de l’utilisateur de fournir des informations le concernant. En particulier, l’adresse électronique pourra être utilisée par le site pour l’administration et la communication d’informations touchant l’ensemble des membres du site (par exemple : une modification importante de la structure du site, l’ajout de fonctionnalités, une modification des présentes conditions, etc.).
    </p>
    <p>
        Les données concernant les utilisateurs (membres ou non) du site peuvent être également utilisées à des fins statistiques destinées à mesurer la fréquentation du site.
    </p>
    <p>
        En dehors du cas prévu ci-dessus, les données personnelles ne feront l’objet d’aucune communication à des tiers. Toutefois, elles pourront être divulguées en application d’une loi ou d’un règlement ou en vertu d’une décision d’une autorité réglementaire ou judiciaire compétente.
    </p>

    <h4>6.3  Non-acceptation, modification et suppression des données enregistrées</h4>

    <p>
        L’utilisateur est libre de refuser de communiquer les renseignements sollicités pour l’inscription sur le site. Dans ce cas, il ne peut pas en devenir membre.
    </p>
    <p>
        Conformément aux articles 39 et 40 de la Loi n<sup>o</sup>78-17 du 6 janvier 1978, l’utilisateur peut à tout moment accéder aux informations personnelles le concernant détenues par la structure éditrice du site et réaliser leur modification, leur rectification ou leur suppression. Tout utilisateur peut demander que les données soient rectifiées, complétées, mises à jour, ou supprimées. Pour exercer ces droits, tout utilisateur peut se servir du formulaire de contact présent sur le site ou via l’adresse de contact fournie dans les mentions légales du présent document.
    </p>

    <h4>6.4 Politique relative à l’installation de cookies</h4>
    <p>
        L’éditeur du site utilise la technologie des marqueurs (cookies) afin d’améliorer la qualité du site et mieux répondre aux attentes des utilisateurs. Le membre prend acte que le site procède à l’installation de cookies sur le disque dur de son ordinateur en vue d’identifier chacune de ses connexions.
    </p>
    <p>
        De manière générale, les cookies sont sans dommage pour l’ordinateur du membre. Ce dernier est libre d’accepter ou refuser les cookies en configurant son navigateur internet à cet effet. Pour ce faire, le membre peut se rendre sur le site de la Commission Nationale de l’Informatique et des Libertés (CNIL) à l’adresse : <a href="http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/">http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/</a> donnant toutes les informations relatives à une telle configuration. Les cookies sont anonymes et ne sont en aucun cas utilisés pour collecter des données à caractère personnel, mais uniquement à des fins de connexion et statistiques.
    </p>
    <p>
        Pour plus de détails, voir <a href="{% url "pages-cookies" %}">la page d’explications sur les cookies</a>.
    </p>


    <h3>7. Propriété intellectuelle</h3>
    <p>
        Les marques, illustrations, signes distinctifs et tout autre contenu du site sont la propriété exclusive de l’éditeur du site et font l’objet d’une protection par le Code de la propriété intellectuelle.
    </p>
    <p>
        Toute reproduction, publication, copie des différents contenus nécessite au préalable l’autorisation de l’éditeur du site.
    </p>
    {% if app.site.licenses.logo %}
        <p>
            Le logo de {{ app.site.dns }} est une réalisation de {{ app.site.licenses.logo.author }} sous licence <a href="{{ app.site.licenses.logo.url_license }}">{{ app.site.licenses.logo.code }}</a>.
        </p>
    {% endif %}
    <p>
        Il n’est concédé aux membres aucun droit de propriété intellectuelle sur le site.
    </p>
    <p>
        Toute exploitation non autorisée de tout ou partie du contenu de l’éditeur du site est susceptible de faire l’objet des poursuites judiciaires.
    </p>

    <h4>7.1 Politique relative au contenu des membres</h4>
    <p>
        Tout contenu mis en ligne par le membre est de sa seule responsabilité. Le membre s’engage à ne pas mettre en ligne de contenus contraires aux règles du site, aux présentes conditions ou à la législation en vigueur. La responsabilité du site {% if app.site.association %}et de l’association {% endif %}qui l’édite ne pourra être engagée pour une faute commise par un membre.
    </p>
    <p>
        Tout recours en justice engagé par un tiers lésé sera de la responsabilité du membre et ce dernier s’engage en particulier à prendre en charge le paiement de toutes sommes, quelles qu’elles soient, qui résulteraient d’une action légale d’un tiers, y compris les honoraires d’avocat et frais de justice.
    </p>
    <p>
        Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Il concède cependant des droits à l’éditeur du site (voir titre 5. &ldquo;Contenu de l’utilisateur&rdquo;). Selon la licence choisie, le membre peut également autoriser d’autres utilisations de son &oelig;uvre.
    </p>
    <p>
        Le contenu d’un membre peut être à tout moment et pour n’importe quelle raison supprimé ou modifié par le site. Le membre peut ne recevoir aucune justification et notification préalable à la suppression ou à la modification du contenu.
    </p>

    <h4>7.2 Code source du site</h4>
    {% if app.site.licenses.source %}
        <p>
            {{ app.site.literal_name }} est un site dont le code source est sous licence <a href="{{ app.site.licenses.source.url_license }}">{{ app.site.licenses.source.code }}</a>, et provient en partie de <a href="{{ app.site.licenses.source.provider_url }}">{{ app.site.licenses.source.provider_name }}</a>.
        </p>
    {% else %}
        <p>
            {{ app.site.literal_name }} est un site dont le code source est sous licence <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPL v3</a>, et provient en partie de <a href="http://zestedesavoir.com">Zeste de Savoir</a>.
        </p>
    {% endif %}

    <h4>7.3 Politique de signalement d’abus</h4>
    <p>
        {{ app.site.literal_name }} respecte les droits de propriété intellectuelle d’autrui et demande à ce que les utilisateurs du site agissent de même.
    </p>
    <p>
        Si vous pensez qu’un contenu vous appartenant a été reproduit ou diffusé sans votre autorisation, veuillez nous contacter via le formulaire de contact présent sur le site ou via l’adresse de contact fournie dans les mentions légales du présent document.
    </p>

    <h3>8. Limitation de responsabilité</h3>
    <p>
        Les informations présentes sur le site sont fournies en l’état et proviennent de sources réputées fiables. Cependant, l’éditeur du site ne peut garantir l’exactitude ou la pertinence de ces données. En outre, les informations mises à disposition sur ce site le sont uniquement à titre purement pédagogique et informatif.
    </p>
    <p>
        L’utilisateur du site assume l’ensemble des risques découlant de l’utilisation des informations présentes sur le site ou dans les sites joignables au travers des liens hypertextes.
    </p>
    <p>
        Le membre a l’obligation de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Ce dernier assume les risques liés à l’utilisation de son identifiant et mot de passe. Nous vous encourageons à utiliser pour votre compte des mots de passe forts (mots de passe constitués d’une combinaison de lettres majuscules et minuscules, de chiffres et de caractères spéciaux).
    </p>
    <p>
        Le site ne saurait être responsable d’un quelconque dommage résultant d’un manquement du membre sur ce qui précède.
    </p>
    <p>
        Une garantie optimale de la sécurité et de la confidentialité des données transmises n’est pas assurée par le site. Toutefois, le site s’engage à mettre en &oelig;uvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données.
    </p>
    <p>
        La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.
    </p>

    <h3>9. Liens hypertextes</h3>
    <p>
        De nombreux liens hypertextes sortants sont présents sur le site, cependant les pages web où mènent ces liens n’engagent en rien la responsabilité du site qui n’a pas le contr&ocirc;le de ces liens.
    </p>

    <h3>10. Évolution des présentes conditions</h3>
    <p>
        L’éditeur se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d’utilisation.
    </p>

    <h3>11. Durée</h3>
    <p>
        La durée des présentes conditions générales d’utilisation est indéterminée.
    </p>

    <h3>12. Droit applicable et juridiction compétente</h3>
    <p>
        La législation française s’applique au présent contrat. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.
    </p>
{% endblock %}
