<h2>
    Formattage de base
</h2>

<p>
    Voici les différentes options de mise en forme proposées par Markdown et
    disponibles sur le site.
</p>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Italique</td>
            <td><code>*texte*</code> ou <code>_texte_</code></td>
            <td><i>texte</i></td>
        </tr><tr>
            <td>Gras</td>
            <td><code>**texte**</code> ou <code>__texte__</code></td>
            <td><b>texte</b></td>
        </tr><tr>
            <td>Lien</td>
            <td><code>[ce site est génial](http://progdupeu.pl/)</code></td>
            <td><a href="http://progdupeu.pl/">ce site est génial</a></td>
        </tr><tr>
            <td>Lien brut</td>
            <td><code>&lt;http://progdupeu.pl/&gt;</code></td>
            <td><a href="http://progdupeu.pl/">http://progdupeu.pl/</a></td>
        </tr><tr>
            <td>Image</td>
            <td><code>![Texte alternatif](http://placehold.it/64x64)</code></td>
            <td><img alt="Texte alternatif" src="http://placehold.it/64x64" /></td>
        </tr>
        <tr>
            <td>Listes</td>
            <td>
<pre>
␣* Puce 1
␣␣␣␣* Puce 1.1
␣␣␣␣* Puce 1.2
␣* Puce 2</pre>
            </td>
            <td>
                <ul>
                    <li>Puce 1
                        <ul>
                            <li>Puce 1.1</li>
                            <li>Puce 1.2</li>
                        </ul>
                    </li>
                    <li>Puce 2</li>
                </ul>
            </td>
            </tr><tr>
            <td>Citation</td>
            <td>
<pre>
&gt; Texte à citer.
</pre>
            </td>
            <td>
                <blockquote><p>Texte à citer.</p></blockquote>
            </td>
        </tr><tr>
            <td>Abréviations</td>
            <td>
<pre>
Ce site utilise HTML et CSS.

*[HTML]: Hyper Text Markup Language
*[CSS]: Cascading Style Sheets</pre>
            </td>
            <td>
                <p>Ce site utilise <abbr title="Hyper Text Markup Language">HTML</abbr> et <abbr title="Cascading Style Sheets">CSS</abbr>.</p>
            </td>
        </tr>
    </tbody>
</table>

<h2>
    Code
</h2>

<p>
    Ces différents blocs vous permettent de présenter correctement du code,
    que ce soit de gros morceaux ou juste pour faire référence, par exemple,
    à des fonctions en utilisant le bloc de code inline.
</p>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th style="width: 30%;">Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Code inline</td>
            <td><code>`texte`</code></td>
            <td><code>texte</code></td>
        </tr><tr>
            <td>Bloc de code</td>
            <td>
<pre>
```python
from os import path
```</pre>
            <p>ou</p>
<pre>
␣␣␣␣:::python
␣␣␣␣from os import path</pre>
            </td>
            <td>
                <table class="codehilitetable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="codehilite"><pre><span class="kn">from</span> <span class="nn">os</span> <span class="kn">import</span> <span class="n">path</span>
</pre></div></td></tr></table>
            </td>
        </tr>
    </tbody>
</table>

<h2>
    Extensions
</h2>

<p>
    Les extensions sont des portions de code non-standard développées
    spécialement pour les usagers de Progdupeupl.
</p>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bloc secret</td>
            <td>
<pre>
[secret]{
    Mon précieux
}</pre>
            </td>
            <td>
                <div id="show-4242" class="hidden-block">
                    <a id="display-4242" class="hidden-link-show" href="#show-4242">
                        Contenu masqué (cliquez pour afficher)
                    </a>
                    <a id="hide-4242" class="hidden-link-hide" href="#hide-4242">
                        Masquer le contenu
                    </a>
                    <p>
                        Mon précieux.
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
