{% extends "pages/base.html" %}



{% block title %}
    Markdown
{% endblock %}



{% block headline %}
    <h2>Markdown</h2>
    <h3 class="subtitle">Petit aide-mémoire pour mieux rédiger</h3>
{% endblock %}



{% block breadcrumb %}
    <li class="current">Markdown</li>
{% endblock %}



{% block content %}
    <p>
        Voici un petit aide-mémoire permettant de vous souvenir des
        différents éléments disponibles à l'aide de la syntaxe Markdown
        utilisée (massivement) sur ce site. Sachez que si vous voulez
        rédiger en HTML, un jeu restreint de balises et d'attributs est
        également mis à votre disposition.
    </p>

    {% include "pages/help_markdown.part.html" %}
{% endblock %}