{% extends "pages/base.html" %}
{% load i18n %}



{% block title %}
    {% trans "Pages" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Liste des pages" %}</li>
{% endblock %}



{% block headline %}
    <h1>{% trans "Pages" %}</h1>
{% endblock %}



{% block content %}
    <ul>
        <li><a href="{% url "pages-eula" %}"><abbr title="{% trans "Conditions générales d’utilisation" %}">{% trans "CGU" %}</abbr></a></li>
        <li><a href="{% url "pages-technologies" %}">{% trans "Crédits techniques" %}</a></li>
        {% if app.site.association %}
            <li><a href="{% url "pages-association" %}">{% trans "L’association" %}</a></li>
            <li><a href="{{ app.site.association.subscribe_link }}">{% trans "Adhérer à l'association" %}</a></li>
        {% endif %}
        <li><a href="{% url "pages-contact" %}">{% trans "Contact" %}</a></li>
        <li><a href="{% url "pages-cookies" %}">{% trans "Les cookies" %}</a></li>
    </ul>
{% endblock %}
