{% extends "pages/base.html" %}
{% load i18n %}



{% block title %}
    {% trans "Pages" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Liste des pages" %}</li>
{% endblock %}



{% block headline %}
    <h1>{% trans "Pages" %}</h1>
{% endblock %}



{% block content %}
    <ul>
        <li><a href="{% url "zds.pages.views.eula" %}"><abbr title="{% trans "Conditions générales d'utilisation" %}">{% trans "CGU" %}</abbr></a></li>
        <li><a href="{% url "zds.pages.views.about" %}">{% trans "À propos" %}</a></li>
        {% if app.site.association %}
            <li><a href="{% url "zds.pages.views.association" %}">{% trans "L'association" %}</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url "zds.pages.views.assoc_subscribe" %}">{% trans "Adhérer" %}</a></li>
            {% endif %}
        {% endif %}
        <li><a href="{% url "zds.pages.views.contact" %}">{% trans "Contact" %}</a></li>
        <li><a href="{% url "zds.pages.views.cookies" %}">{% trans "Les cookies" %}</a></li>
    </ul>
{% endblock %}
