{% extends "pages/base.html" %}



{% block title %}
    Roadmap
{% endblock %}



{% block headline %}
    <h1>Roadmap</h1>
{% endblock %}



{% block breadcrumb %}
    <li class="current">Roadmap</li>
{% endblock %}



{% block content %}
    <h3>Membres</h3>
    <h4>Features developpées</h4>
    <ul>
        <li class="alert">La Topbar</li>
        <ul>
            <li>MP reçus (alertes)</li>
            <li>Connexion</li>
            <li>Déconnexion</li>
            <li>Profil</li>
        </ul>
        <li>Membre</li>
        <ul>
            <li>Recherche de tutos (en ligne, en draft, en beta)</li>
            <li>Recherche de sujets postés sur le forum</li>
            <li>Choix du clic/hover dans la topbar</li>
            <li>Choix d'afficher les signatures ou non</li>
            <li>Choix d'afficher son email publiquement ou non</li>
            <li>Adresse IP (dernière adresse IP)</li>
        </ul>
    </ul>
    
    <h4>A venir</h4>
    <ul>
        <li>Modération d'un membre</li>
        <ul>
            <li>Karma</li>
            <li>LS</li>
            <li>Ban du compte</li>
            <li>Ban IP</li>
        </ul>
    </ul>



    <h3>Forum</h3>
    <h4>Features developpées</h4>
    <ul>
        <li class="alert">Forum dans la Topbar</li>
        <ul>
            <li>Affichage des catégories de Forum</li>
            <li>Sujets suivis visibles</li>
        </ul>
        <li>Topic</li>
        <ul>
            <li>Création d'un topic</li>
            <li>Suivi d'un topic</li>
            <li>Fermeture d'un topic </li>
            <li>Pagination sur un topic</li>
            <li>+1/-1</li>
            <li>Adresse IP</li>
        </ul>
        <li>Administration des sujets</li>
        <ul>
            <li>Passage en résolu</li>
            <li>Passage en post-it</li>
            <li>Déplacement d'un topic</li>
            <li>Fermeture d'un topic</li>
        </ul>
    </ul>

    <h4>A venir</h4>
    <ul>
        <li>Topic</li>
        <ul>
            <li>Preconvertir le markdown et afficher le html après</li>
            <li>Possibilité de plussoiement</li>
            <li>Affichage du groupe du membre</li>
            <li>Signaler un message</li>
            <li>Modération d'un message</li>
        </ul>
    </ul>



    <h3>Tutoriels</h3>
    <h4>Features developpées</h4>
    <ul>
        <li class="alert">Tutoriels dans la Topbar</li>
        <ul>
            <li>Liens vers la liste des tutoriels</li>
            <li>Création d'un nouveau tutoriel</li>
            <li>Import d'un tutoriel au format .tuto</li>
        </ul>
        <li>Tutoriels</li>
        <ul>
            <li>Création d'un tuto (big, mini)</li>
            <li>Création de parties</li>
            <li>Création de chapitres</li>
            <li>Création de extrait de chapitre</li>
            <li>Création de repo git privés et commit à chaque mise à jour/édition du tuto</li>
            <li>Rédaction à plusieurs</li>
        </ul>
    </ul>

    <h4>A venir</h4>
    <ul>
        <li>Tutoriels</li>
        <ul>
            <li>Gestion des fichiers TOC</li>
            <li>Ajouter des remarques/commentaires au tutoriel</li>
            <li>Sommaire d'un tutoriel</li>
            <li>Passage en Beta, Validation, Publique</li>
            <li>Affichage du diff entre les versions de tutos</li>
        </ul>
        <li>Validation</li>
        <ul>
            <li>Consultation des projets en attente de validation</li>
            <li>Consultation du diff entre les différentes version</li>
            <li>Validation d'un tutoriel</li>
        </ul>
    </ul>
{% endblock %}