{% extends "forum/base.html" %}
{% load i18n %}
{% load interventions %}


{% block title %}
    {{ forum.title }}
    {% if request.GET.filter == "solve" %}
        / {% trans "Sujets résolus" %}
    {% elif request.GET.filter == "unsolve" %}
        / {% trans "Sujets non-résolus" %}
    {% elif request.GET.filter == "noanswer" %}
        / {% trans "Sujets sans réponse" %}
    {% endif %}
{% endblock %}

{% block feeds_rss %}
    {% include "forum/includes/feed.part.html" with param="?forum=" value=forum.pk %}
{% endblock %}

{% block breadcrumb %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ forum.category.get_absolute_url }}" itemprop="url">
            <span itemprop="title">{{ forum.category.title }}</span>
        </a>
    </li>

    {% if request.GET.filter %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ forum.get_absolute_url }}" itemprop="url">
                <span itemprop="title">{{ forum.title }}</span>
            </a>
        </li>
    {% else %}
        <li>{{ forum.title }}</li>
    {% endif %}

    {% if request.GET.filter == "solve" %}
        <li>{% trans "Sujets résolus" %}</li>
    {% elif request.GET.filter == "unsolve" %}
        <li>{% trans "Sujets non-résolus" %}</li>
    {% elif request.GET.filter == "noanswer" %}
        <li>{% trans "Sujets sans réponse" %}</li>
    {% endif %}
{% endblock %}



{% block headline %}
    {{ forum.title }}
    {% if request.GET.filter == "solve" %}
        / {% trans "Sujets résolus" %}
    {% elif request.GET.filter == "unsolve" %}
        / {% trans "Sujets non-résolus" %}
    {% elif request.GET.filter == "noanswer" %}
        / {% trans "Sujets sans réponse" %}
    {% endif %}
{% endblock %}



{% block headline_sub %}
    {{ forum.subtitle }}
{% endblock %}



{% block new_btn %}
    <a href="{% url 'topic-new' %}?forum={{ forum.pk }}" class="new-btn ico-after more blue">
        {% trans "Nouveau sujet" %}
    </a>
{% endblock %}



{% block content %}
    {% include "misc/paginator.html" with position="top" %}

    {% if sticky_topics %}
        <div class="topic-list navigable-list" itemscope itemtype="http://schema.org/ItemList">
            {% for topic in sticky_topics %}
                {% include "forum/includes/topic_row.part.html" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if topics %}
        <div class="topic-list navigable-list" itemscope itemtype="http://schema.org/ItemList">
            {% for topic in topics %}
                {% include "forum/includes/topic_row.part.html" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if not sticky_topics and not topics %}
        <p>
            {% trans "Aucun sujet trouvé" %}.
        </p>
    {% endif %}

    {% include "misc/paginator.html" with position="bottom" %}
{% endblock %}


{% block sidebar_actions %}
    <li>
    {% with forum_is_followed=forum|is_forum_followed %}
        <form action="{% url 'forum-topics-list' forum.category.slug forum.slug %}" method="post">
            <input type="hidden" name="forum" value="{{ forum.pk }}">
            <input type="hidden" name="follow" value="1">
            {% csrf_token %}

            <button
                class="follow ico-after star {% if forum_is_followed %}yellow{% else %}blue{% endif %}"
                type="submit" data-ajax-input="follow-forum"
                data-content-on-click="
                    {% if forum_is_followed %}
                        {% trans "Suivre ce forum" %}
                    {% else %}
                        {% trans "Ne plus suivre ce forum" %}
                    {% endif %}
                "
            >
                {% if forum_is_followed %}
                    {% trans "Ne plus suivre ce forum" %}
                {% else %}
                    {% trans "Suivre ce forum" %}
                {% endif %}
            </button>
        </form>
    {% endwith %}
    </li>
    <li>
    {% with forum_is_email_followed=forum|is_forum_email_followed %}
        <form action="{% url 'forum-topics-list' forum.category.slug forum.slug %}" method="post">
            <input type="hidden" name="topic" value="{{ topic.pk }}">
            <input type="hidden" name="email" value="1">
            {% csrf_token %}

            <button
                class="email ico-after {% if not forum_is_email_followed %}blue{% endif %}"
                type="submit" data-ajax-input="follow-topic-by-email"
                data-content-on-click="
                    {% if forum_is_email_followed %}
                        {% trans "Être notifié par courriel" %}
                    {% else %}
                        {% trans "Ne plus être notifié par courriel" %}
                    {% endif %}
                "
            >
                {% if forum_is_email_followed %}
                    {% trans "Ne plus être notifié par courriel" %}
                {% else %}
                    {% trans "Être notifié par courriel" %}
                {% endif %}
            </button>
        </form>
    {% endwith %}
    </li>
{% endblock %}


{% block sidebar_blocks %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Filtres">
        <h3>{% trans "Filtres" %}</h3>
        <ul>
            <li>
                <a href="{% url "forum-topics-list" forum.category.slug forum.slug %}?filter=solve"
                   class="ico-after tick green {% if request.GET.filter == "solve" %}selected{% endif %}"
                >
                    {% trans "Sujets résolus" %}
                </a>
            </li>
            <li>
                <a href="{% url "forum-topics-list" forum.category.slug forum.slug %}?filter=unsolve"
                   class="ico-after tick blue {% if request.GET.filter == "unsolve" %}selected{% endif %}"
                >
                    {% trans "Sujets non résolus" %}
                </a>
            </li>
            <li>
                <a href="{% url "forum-topics-list" forum.category.slug forum.slug %}?filter=noanswer"
                   class="ico-after view {% if request.GET.filter == "noanswer" %}selected{% endif %}"
                >
                    {% trans "Sujets sans réponse" %}
                </a>
            </li>
            {% if request.GET.filter %}
                <li>
                    <a href="{% url "forum-topics-list" forum.category.slug forum.slug %}"
                       class="ico-after cross blue"
                    >
                        {% trans "Annuler le filtre" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
