{% extends "forum/base.html" %}



{% block title %}
    {{ forum.title }}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ forum.category.get_absolute_url }}">{{ forum.category.title }}</a></li>
    <li>{{ forum.title }}</li>
{% endblock %}



{% block headline %}
    {{ forum.title }}
{% endblock %}



{% block headline_sub %}
    {{ forum.subtitle }}
{% endblock %}



{% block new_btn %}
    <a href="{% url "zds.forum.views.new" %}?forum={{ forum.pk }}" class="new-btn ico-after more blue">
        Nouveau sujet
    </a>
{% endblock %}



{% block content %}
    {% include "misc/pagination.part.html" with position="top" %}

    {% if sticky_topics %}
        <div class="topic-list">
            {% for topic in sticky_topics %}
                {% include "forum/includes/topic_row.part.html" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if topics %}
        <div class="topic-list navigable-list">
            {% for topic in topics %}
                {% include "forum/includes/topic_row.part.html" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if not sticky_topics and not topics %}
        <p>
            Aucun sujet trouvé.
        </p>
    {% endif %}

    {% include "misc/pagination.part.html" with position="bottom" %}
{% endblock %}



{% block sidebar_blocks %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Filtres">
        <h3>Filtres</h3>
        <ul>
            <li>
                <a href="{% url "zds.forum.views.details" forum.category.slug forum.slug %}?filter=solve"
                   class="ico-after tick green"
                >
                    Sujets résolus
                </a>
            </li>
            <li>
                <a href="{% url "zds.forum.views.details" forum.category.slug forum.slug %}?filter=unsolve"
                   class="ico-after tick blue"
                >
                    Sujets non résolus
                </a>
            </li>
            <li>
                <a href="{% url "zds.forum.views.details" forum.category.slug forum.slug %}"
                   class="ico-after cross blue"
                >
                    Annuler le filtre
                </a>
            </li>
        </ul>
    </div>
{% endblock %}