{% extends "forum/base.html" %}
{% load humanize %}



{% block title %}
    {{ forum.title }}
{% endblock %}



{% block headline %}
    {{ forum.title }}
{% endblock %}



{% block headline_sub %}
    {{ forum.subtitle }}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ forum.category.get_absolute_url }}">{{ forum.category.title }}</a></li>
    <li>{{ forum.title }}</li>
{% endblock %}



{% block sidebar_actions %}
    <li><a href="{% url "zds.forum.views.new" %}?forum={{ forum.pk }}" class="ico-after">Nouveau Sujet</a></li>
{% endblock %}



{% block content %}
    {% include "misc/pagination.part.html" with position="top" %}

    {% if sticky_topics %}
        <div class="topic-list topic-sticky">
            {% for topic in sticky_topics %}
                {% include "forum/includes/topic_row.part.html" %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="topic-list content-wrapper navigable-list">
        {% for topic in topics %}
            {% include "forum/includes/topic_row.part.html" %}
        {% endfor %}
    </div>

    {% include "misc/pagination.part.html" with position="bottom" %}
{% endblock %}