/* mixin-display-flex.scss

   support:
   W3C: Opera (desktop and mini), Firefox (v20+), Chrome Desktop (with -webkit)
   Previous version: IE10+ (with -ms)
   Oldest version: Safari Desktop and iOS, Chrome in iOS

   resources:
   http://css-infos.net/properties/webkit
   http://msdn.microsoft.com/en-us/library/ie/hh673531(v=vs.85).aspx
   http://dev.opera.com/articles/view/flexbox-basics/
   https://developer.mozilla.org/en-US/docs/CSS/Tutorials/Using_CSS_flexible_boxes
   http://demo.agektmr.com/flexbox/
   http://the-echoplex.net/flexyboxes/ */

@define-mixin display($prop) {
  @if $prop == flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
  } @else {
    display: $prop;
  }
}

@define-mixin flex-direction($prop) {
  @if $prop == row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
  }
  @if $prop == column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
  }
  @if $prop == row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
  }
  @if $prop == column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
  }
  -ms-flex-direction: $prop;
  -webkit-flex-direction: $prop;
  flex-direction: $prop;
}

@define-mixin align-items($prop) {
  $oldprop: $prop;
  @if $prop == flex-start { $oldprop: start; }
  @if $prop == flex-end   { $oldprop: end; }
  -webkit-box-align: $oldprop;
  -moz-box-align: $oldprop;
  -ms-flex-align: $oldprop;
  -webkit-align-items: $prop;
  align-items: $prop;
}

@define-mixin justify-content($prop) {
  $oldprop: $prop;
  @if $prop == flex-start    { $oldprop: start; }
  @if $prop == flex-end      { $oldprop: end; }
  @if $prop == space-between { $oldprop: justify; }
  -webkit-box-pack: $oldprop;
  -moz-box-pack: $oldprop;
  -ms-flex-pack: $oldprop;
  -webkit-justify-content: $prop;
  justify-content: $prop;
}

@define-mixin flex($prop) {
  -webkit-box-flex: $prop;
  -moz-box-flex: $prop;
  -ms-flex: $prop;
  -webkit-flex: $prop;
  flex: $prop;
}

@define-mixin order($prop) {
  -webkit-box-ordinal-group: calc($prop + 1);
  -moz-box-ordinal-group: calc($prop + 1);
  -ms-flex-order: $prop;
  -webkit-order: $prop;
  order: $prop;
}
