{% extends "tutorialv2/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% trans "Nouveau contenu" %}
{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Nouveau contenu" %}</li>
{% endblock %}



{% block headline %}
    <h1>
        {% trans "Nouveau contenu" %}
    </h1>
{% endblock %}



{% block content %}
    <div class="content-wrapper">
        <div class="alert-box info">
            {% blocktrans %}
                Vous allez créer un nouveau contenu sur {{ site_name }}. Pensez à prendre connaissance de la <a href="{{ editorial_line_link }}">ligne éditoriale du site</a>.
            {% endblocktrans %}
        </div>
    </div>

    {% crispy form %}
{% endblock %}
