{% extends "forum/base.html" %}
{% load profile %}
{% load crispy_forms_tags %}



{% block title %}
    Éditer un message
{% endblock %}



{% block headline %}
    <h2 class="box forum">Éditer un message : {{ post.topic.title }}</h2>
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ post.topic.forum.category.get_absolute_url }}">{{ post.topic.forum.category.title }}</a></li>
    <li><a href="{{ post.topic.forum.get_absolute_url }}">{{ post.topic.forum.title }}</a></li>
    <li><a href="{{ post.topic.get_absolute_url }}">{{ post.topic.title }}</a></li>
    <li>Éditer un message</li>
{% endblock %}



{% block content %}
	{% captureas form_action %}
        {% url "zds.forum.views.answer" %}?sujet={{ topic.pk }}
    {% endcaptureas %}

    {% include "misc/message_form.html" with member=user %}
{% endblock %}