{% extends "forum/base.html" %}
{% load profile %}
{% load crispy_forms_tags %}
{% load captureas %}



{% block title %}
    Éditer un message
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ post.topic.forum.category.get_absolute_url }}">{{ post.topic.forum.category.title }}</a></li>
    <li><a href="{{ post.topic.forum.get_absolute_url }}">{{ post.topic.forum.title }}</a></li>
    <li><a href="{{ post.topic.get_absolute_url }}">{{ post.topic.title }}</a></li>
    <li>Éditer un message</li>
{% endblock %}



{% block headline %}
    Éditer un message : {{ post.topic.title }}
{% endblock %}



{% block content %}
    {% crispy form %}

    {# TODO: améliorer ça là... vivement le TEMPLATE PACK ><" #}
    {% comment %}
        {% captureas form_action %}
            {% url "zds.forum.views.edit" %}?sujet={{ topic.pk }}
        {% endcaptureas %}
        {% include "misc/message_form.html" with member=post.author %}
    {% endcomment %}
{% endblock %}