{% extends "forum/base.html" %}
{% load profile %}
{% load crispy_forms_tags %}
{% load captureas %}
{% load i18n %}



{% block title %}
    {% trans "Répondre au sujet" %}
{% endblock %}



{% block headline %}
    {% trans "Répondre au sujet" %} {{ topic.title }}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category.title }}</a></li>
    <li><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.title }}</a></li>
    <li><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></li>
    <li>{% trans "Répondre au sujet" %}</li>
{% endblock %}



{% block content %}
    {% if newpost %}
        <div class="alert-box alert">
            {% blocktrans %}
                <strong>Au moins un nouveau message a été posté</strong> dans la discussion
                pendant que vous rédigiez le vôtre.
            {% endblocktrans %}
        </div>
    {% endif %}

    {% crispy form %}

    {% if form.text.value %}
        {% include "misc/preview.part.html" with text=form.text.value %}
    {% endif %}
    <hr />

    <div class="content-wrapper">
        {% for message in posts %}
            {% captureas edit_link %}
                {% url "forum:post-edit" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas hide_link %}{{ edit_link }}{% endcaptureas %}
            {% captureas show_link %}{{ edit_link }}{% endcaptureas %}
            {% captureas alert_link %}{{ edit_link }}{% endcaptureas %}

            {% captureas cite_link %}
                {% url "forum:post-new" %}?sujet={{ topic.pk }}&amp;cite={{ message.pk }}
            {% endcaptureas %}

            {% captureas helpful_link %}
                {% url "forum:post-useful" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas karma_link %}
                {% url 'api:forum:post-karma' message.pk %}
            {% endcaptureas %}

            {% captureas alerts_solve_link %}
                {% url "forum:solve-alert" %}
            {% endcaptureas %}

            {% include "misc/message.part.html" with perms_change=perms.forum.change_topic %}
        {% endfor %}
    </div>
{% endblock %}
