{% extends "gallery/base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load i18n %}



{% block title %}
    {% trans "Éditer une image" %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></li>
    <li>{% trans "Éditer une Image" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Éditer une image" %}
{% endblock %}




{% block content %}
    <div class="gallery-col-image">
        <p>
            {% trans "Image" %} :
        </p>
        <a href="{{ image.physical.url }}"><img src="{{ image.physical.url }}" alt="{{ image.legend }}"></a>
        
        <p>
            {% trans "Miniature" %} :
        </p>
        <a href="{{ image.physical.gallery.url }}"><img src="{{ image.physical.gallery.url }}" alt="{{ image.legend }}"></a>
    </div>
    <div class="gallery-col-edit">
        {% if gallery_mode.can_write %}
            {% crispy form %}
            <hr class="clearfix">
        {% endif %}

        <p>
            {% trans "Code markdown pour insérer cette image" %} : <br>

            {% trans "Taille normale" %} :
            <input type="text" value="![{{ image.legend }}]({{app.site.url}}{{ image.physical.url }})" readonly onclick="this.select()"> <br>

            {% trans "Miniature" %} :
            <input type="text" value="![{{ image.legend }}]({{app.site.url}}{{ image.physical.gallery.url }})" readonly onclick="this.select()"> <br>

            {% trans "Miniature + lien vers taille normale" %} :
            <input type="text" value="[![{{ image.legend }}]({{app.site.url}}{{ image.physical.gallery.url }})]({{app.site.url}}{{ image.physical.url }})" readonly onclick="this.select()">
        </p>
        
        {% crispy as_avatar_form %}
    </div>
{% endblock %}
