{% extends "gallery/base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}



{% block title %}
    Éditer une image
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></li>
    <li>Éditer une Image</li>
{% endblock %}



{% block headline %}
    Éditer une image
{% endblock %}




{% block content %}
    <div class="gallery-col-image">
        <p>
            Image :
        </p>
        <a href="{{ image.physical.url }}"><img src="{{ image.physical.url }}" alt="{{ image.legend }}"></a>
        
        <p>
            Miniature :
        </p>
        <a href="{{ image.physical.gallery.url }}"><img src="{{ image.physical.gallery.url }}" alt="{{ image.legend }}"></a>
    </div>
    <div class="gallery-col-edit">
        {% if gallery_mode.is_write %}
            {% crispy form %}
            <hr class="clearfix">
        {% endif %}

        <p>
            Code markdown pour insérer cette image : <br>

            Taille normale :
            <input type="text" value="![{{ image.legend }}]({{ image.physical.content.url }})" readonly onclick="this.select()"> <br>

            Miniature :
            <input type="text" value="![{{ image.legend }}]({{ image.physical.gallery.url }})" readonly onclick="this.select()"> <br>

            Miniature + lien vers taille noramle :
            <input type="text" value="[![{{ image.legend }}]({{ image.physical.gallery.url }})]({{ image.physical.content.url }})" readonly onclick="this.select()">
        </p>
        
        {% crispy as_avatar_form %}
    </div>
{% endblock %}



{% block sidebar_actions %}
    {% if gallery_mode.is_write %}
        <div class="mobile-menu-bloc" data-title="Actions">
            <h3>Actions</h3>
            <ul>
                <li>
                    <a href="{% url "zds.gallery.views.new_image" gallery.pk %}" class="ico-after more blue">
                        Ajouter une image
                    </a>
                </li>
                <li>
                    <a href="{% url "zds.gallery.views.import_image" gallery.pk %}" class="ico-after import blue">
                        Importer une archive
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}