{% extends "gallery/base.html" %}
{% load crispy_forms_tags %}



{% block title %}
    Éditer une image
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></li>
    <li>Éditer une Image</li>
{% endblock %}



{% block headline %}
    Éditer une image
{% endblock %}



{% block new_btn %}
    <a href="{% url "zds.gallery.views.new_image" gallery.pk %}" class="new-btn ico-after more blue">
        Ajouter une image
    </a>
{% endblock %}




{% block content %}
    <figure>
        <img src="{{ image.physical.url }}" alt="{{ image.legend }}">
        <figcaption>{{ image.legend }}</figcaption>
    </figure>

    {% crispy form %}

    <hr class="clearfix">

    <p>
        Code markdown pour insérer cette image : <br>
        <input type="text" value="![{{ image.legend }}]({{ image.physical.url }})" readonly onclick="this.select()">
    </p>
{% endblock %}