{% extends "gallery/base.html" %}
{% load crispy_forms_tags %}



{% block title %}
    Nouvelle image
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></li>
    <li>Nouvelle image</li>
{% endblock %}



{% block headline %}
    Nouvelle image
{% endblock %}



{% block content %}
    {% crispy form %}
{% endblock %}



{% block sidebar_actions %}
    {% if gallery_mode.is_write %}
        <div class="mobile-menu-bloc" data-title="Actions">
            <h3>Actions</h3>
            <ul>
                <li>
                    <a href="{% url "zds.gallery.views.new_image" gallery.pk %}" class="ico-after more blue">
                        Ajouter une image
                    </a>
                </li>
                <li>
                    <a href="{% url "zds.gallery.views.import_image" gallery.pk %}" class="ico-after import blue">
                        Importer une archive
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}