{% load i18n %}
{% load date %}

<div class="content-info">
    <header>
        <h3 class="content-title" itemprop="itemListElement">
            <a href="{{ search_result.get_absolute_url }}" title="{{ search_result.topic_title }}">
                {%  trans "Dans le sujet" %} « {{ search_result.topic_title }} »
            </a>
        </h3>

        <p class="content-description">
            <a href="{{ search_result.get_absolute_url }}" title="{{ search_result.topic_title }}">
                {% if search_result.highlights.snippet %}
                    {{ search_result.highlights.snippet|safe }}
                {% else %}
                    {{ search_result.text_html|striptags }}
                {% endif %}
            </a>
        </p>
    </header>

    <footer>
        <div class="content-meta inline" title="Message du forum">
            <p>
                {% trans "Message du forum" %}
                <a href="{{ search_result.forum_get_absolute_url }}">{{ search_result.forum_title }}</a> &bullet;

                <time class="content-pubdate" pubdate="{{ search_result.pubdate|date_from_timestamp }}">
                    <span class="long">{{ search_result.pubdate|date_from_timestamp|format_date|capfirst }}</span>
                    <span class="short">{{ search_result.pubdate|date_from_timestamp|format_date:True|capfirst }}</span>
                </time>
            </p>
        </div>
    </footer>
</div>
