{% load i18n %}
{% load date %}

<a href="{{ search_result.get_absolute_url_online }}" tabindex="-1" class="content-illu {{ search_result.content_type|lower }}-illu">
    {% if search_result.thumbnail %}
        <img src="{{ search_result.thumbnail }}" alt="{{ search_result.title }}">
    {% endif %}
</a>

<div class="content-info">
    <header>
        <h3 class="content-title" itemprop="itemListElement">
            <a href="{{ search_result.get_absolute_url_online }}" title="{{ search_result.title }}">
                {{ search_result.title }}
            </a>
        </h3>

        <p class="content-description" {% if not search_result.text and not search_result.description %}aria-hidden="true"{% endif %}>
            <a href="{{ search_result.get_absolute_url_online }}" title="{{ search_result.title }}">
                {% if search_result.highlights.snippet %}
                    {{ search_result.highlights.snippet|safe }}
                {% else %}
                    {{ search_result.description }}
                {% endif %}
            </a>
        </p>
    </header>

    <footer>
        <div class="content-meta inline" title="{% trans "Contenu publié" %}">
            <p>
                {% if search_result.content_type == 'ARTICLE' %}
                    {% trans "Article publié" %}
                {% elif search_result.content_type == 'TUTORIAL' %}
                    {% trans "Tutoriel publié" %}
                {% elif search_result.content_type == 'OPINION' %}
                    {% trans "Billet" %}
                    {% if search_result.picked %}
                        {% trans "mis en avant" %}
                    {% endif %}
                {% else %}
                    {% trans "Contenu publié" %}
                {% endif %}

                &bullet;

                <time class="content-pubdate" pubdate="{{ search_result.publication_date|date_from_timestamp }}">
                    <span class="long">{{ search_result.publication_date|date_from_timestamp|format_date|capfirst }}</span>
                    <span class="short">{{ search_result.publication_date|date_from_timestamp|format_date:True|capfirst }}</span>
                </time>
            </p>
        </div>
    </footer>
</div>

{% if search_result.tags %}
    <ul class="content-tags" itemprop="keywords">
        {% for tag in search_result.tags|slice:":3" %}
            <li>
                {% if search_result.content_type == 'OPINION' %}
                    <a href="{% url 'opinion:list' %}?tag={{ tag.slug }}">{{ tag.title }}</a>
                {% else %}
                    <a href="{% url 'publication:list' %}?tag={{ tag.slug }}">{{ tag.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
