{% extends "mp/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}



{% block title %}
    {% trans "Nouvelle conversation privée" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Nouvelle conversation privée" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Nouvelle conversation privée" %}
{% endblock %}



{% block content %}
    {% crispy form %}

    {% if form.text.value %}
        {% include "misc/preview.part.html" with text=form.text.value %}
    {% endif %}
{% endblock %}
