{% load i18n %}
{% load pluralize_fr %}
{% load displayable_authors %}

<div class="members">
    <span class="authors-label">
        {% trans "Auteur" %}{{ db_content|displayable_authors:online_mode|pluralize }} :
    </span>
    <ul>
        {% for member in db_content|displayable_authors:online_mode %}
            <li>
                {% include "misc/member_item.part.html" with avatar=True %}
            </li>
        {% endfor %}

        {% if add_author %}
            <li>
                <a href="#add-author-content" class="btn btn-add open-modal ico-after more blue">
                    {% trans "Ajouter un auteur" %}
                </a>
                <form action="{% url "content:add-author" content.pk %}" method="post" class="modal modal-flex" id="add-author-content">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Pseudo de l’utilisateur à ajouter" data-autocomplete="{ 'type': 'single' }">
                    <button type="submit" name="add_author" class="btn btn-submit">
                        {% trans "Confirmer" %}
                    </button>
                </form>
            </li>
        {% endif %}
    </ul>
    </div>
