{% load i18n %}


<li>
    <a href="#add-author" class="open-modal ico-after more blue">{% trans "Ajouter un auteur" %}</a>
    {% url "content:add-author" content.pk as add_author_url %}
    <form action="{{ add_author_url }}" method="post" class="modal modal-flex" id="add-author">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Pseudo de l’utilisateur à ajouter" data-autocomplete="{ 'type': 'single' }">
        <button type="submit" name="add_author" class="btn btn-submit">{% trans "Confirmer" %}</button>
    </form>
</li>

<li>
    <a href="#manage-authors" class="open-modal ico-after gear blue">{% trans "Gérer les auteurs" %}</a>
    {% url "content:remove-author" content.pk as remove_author_url  %}
    <form action="{{ remove_author_url }}" method="post" class="modal modal-flex" id="manage-authors" data-modal-close="Fermer">
        {% csrf_token %}
        <table class="fullwidth">
            <thead>
                <th>{% trans "Auteur" %}</th>
                <th width="100px">{% trans "Actions" %}</th>
            </thead>
            <tbody>
                {% for member in content.authors.all %}
                    <tr>
                        <td>{% include "misc/member_item.part.html" %}</td>
                        <td>
                            {% if content.authors.count > 1 %}
                                <button type="submit" data-value="{{ member.username }}" name="username" value="{{ member.username }}" class="modal-inner">
                                    {% trans "Supprimer" %}
                                </button>
                            {% else %}
                                {% trans "Vous êtes seul" %} !
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</li>
