{% extends "base_content_page.html" %}
{% load captureas %}
{% load i18n %}



{% block title_base %}
    {% if current_content_type == "OPINION" %}
        &bull; {% trans "Tribune" %}
    {% else %}
        &bull; {% trans "Bibliothèque" %}
    {% endif %}
{% endblock %}



{% block mobile_title %}
    {% if current_content_type == "OPINION" %}
        {% trans "Tribune" %}
    {% else %}
        {% trans "Bibliothèque" %}
    {% endif %}
{% endblock %}


{% block menu_publications %}
    {% if current_content_type and current_content_type != "OPINION" %}
        current
    {% endif %}
    {%  if content and content.type != "OPINION" %}
        current
    {% endif %}
{% endblock %}
{% block menu_opinion %}
    {% if current_content_type == "OPINION" %}
        current
    {% endif %}
    {%  if content and content.type == "OPINION" %}
        current
    {% endif %}
{% endblock %}


{% block breadcrumb_base %}
    {% if user in content.authors.all %}
        {% if content.type == 'TUTORIAL' %}
            <li><a href="{% url 'tutorial:find-tutorial' user.username %}">{% trans "Tutoriels de" %} {{ user.username }}</a></li>
        {% elif content.type == 'ARTICLE' %}
            <li><a href="{% url 'article:find-article' user.username %}">{% trans "Articles de" %} {{ user.username }}</a></li>
        {% elif content.type == 'OPINION' %}
            <li><a href="{% url 'opinion:find-opinion' user.username %}">{% trans "Tribune de" %} {{ user.username }}</a></li>
        {% endif %}
    {% elif content %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            {% if content.type == 'TUTORIAL' %}
                <a href="{% url 'publication:list' %}?type=tutorial" itemprop="url"><span itemprop="title">{% trans "Tutoriels" %}</span></a>
            {% elif content.type == 'ARTICLE' %}
                <a href="{% url 'publication:list' %}?type=article" itemprop="url"><span itemprop="title">{% trans "Articles" %}</span></a>
            {% elif content.type == 'OPINION' %}
                <a href="{% url 'opinion:list' %}" itemprop="url"><span itemprop="title">{% trans "Tribunes" %}</span></a>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}



{% block sidebar %}
    <aside class="sidebar summary mobile-menu-hide">
        {% block sidebar_new %}{% endblock %}

        {% captureas sidebaractions %}
            {% block sidebar_actions %}{% endblock %}
        {% endcaptureas %}

        {% if sidebaractions %}
            <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
                <h3>{% trans "Actions" %}</h3>
                <ul>
                    {{ sidebaractions|safe }}
                </ul>
            </div>
        {% endif %}

        {% block sidebar_blocks %}{% endblock %}
    </aside>
{% endblock %}
