{% extends "tutorialv2/base.html" %}
{% load captureas %}
{% load i18n %}


{% block title_base %}
    &bull; {{ verbose_type_name_plural|title }}
{% endblock %}


{% block menu_tutorial %}
    {% if current_content_type == "TUTORIAL" %}
        current
    {% endif %}
{% endblock %}
{% block menu_article %}
    {% if current_content_type == "ARTICLE" %}
        current
    {% endif %}
{% endblock %}
{% block menu_opinion %}
    {% if current_content_type == "OPINION" %}
        current
    {% endif %}
{% endblock %}



{% block canonical %}
    {% if content.source and content.source != "" %}
    	<link rel="canonical" href="{{ content.source }}">
    {% endif %}
{% endblock %}



{% block breadcrumb_base %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a
            {% if current_content_type == "ARTICLE" %}
                href="{% url "article:list" %}"
            {% elif current_content_type == "TUTORIAL" %}
                href="{% url "tutorial:list" %}"
            {% elif current_content_type == "OPINION" %}
                href="{% url "opinion:list" %}"
            {% else %}
                href="{% url "content:list" %}"
            {% elif current_content_type == None %}
            itemprop="url">
            <span itemprop="title">{{ verbose_type_name_plural|title }}</span>
        </a>
    </li>
{% endblock %}



{% block article_schema %}
    itemscope itemtype="http://schema.org/Article"
{% endblock %}
