{% extends "tutorialv2/base.html" %}
{% load captureas %}
{% load i18n %}


{% block title_base %}
    &bull; {{ verbose_type_name_plural|title }}
{% endblock %}


{% block menu_publications %}
    {% if current_content_type and current_content_type != "OPINION" %}
        current
    {% endif %}
{% endblock %}
{% block menu_opinion %}
    {% if current_content_type == "OPINION" %}
        current
    {% endif %}
{% endblock %}



{% block canonical %}
    {% if content.source and content.source != "" %}
        <link rel="canonical" href="{{ content.source }}">
    {% endif %}
{% endblock %}



{% block breadcrumb_base %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a
            {% if current_content_type == "ARTICLE" %}
                href="{% url "publication:list" %}?type=article"
            {% elif current_content_type == "TUTORIAL" %}
                href="{% url "publication:list" %}?type=tutorial"
            {% elif current_content_type == "OPINION" %}
                href="{% url "opinion:list" %}"
            {% else %}
                href="{% url "publication:list" %}"
            {% endif %}
            itemprop="url">
            <span itemprop="title">{{ verbose_type_name_plural|title }}</span>
        </a>
    </li>
{% endblock %}
