{% extends "tutorialv2/base.html" %}
{% load append_to_get %}
{% load date %}
{% load i18n %}
{% load captureas %}
{% load interventions %}


{% block title %}
    {% if contents != None %}
        {% trans "Contenus de" %} {{ usr.username }}
    {% elif tutorials != None %}
        {% trans "Tutoriels de" %} {{ usr.username }}
    {% elif articles != None %}
        {% trans "Articles de" %} {{ usr.username }}
    {% elif opinions != None %}
        {% trans "Tribune libre de" %} {{ usr.username }}
    {% endif %}
{% endblock %}

{% block menu_tutorial %}
    {% if tutorials %}
        current
    {% endif %}
{% endblock %}
{% block menu_article %}
    {% if articles %}
        current
    {% endif %}
{% endblock %}
{% block menu_opinion %}
    {% if opinions %}
        current
    {% endif %}
{% endblock %}


{% block breadcrumb_base %}
    {% if tutorials != None %}
        <li><a href="{% url "tutorial:list" %}">{% trans "Tutoriels" %}</a></li>
        <li><a href="{% url "content:find-tutorial" usr.pk %}">{% trans "Tutoriels de" %} {{ usr.username }}</a></li>
    {% elif articles != None %}
        <li><a href="{% url "article:list" %}">{% trans "Articles" %}</a></li>
        <li><a href="{% url "content:find-article" usr.pk %}">{% trans "Articles de" %} {{ usr.username }}</a></li>
    {% elif opinions != None %}
        <li><a href="{% url "opinion:list" %}">{% trans "Tribunes libres" %}</a></li>
        <li><a href="{% url "content:find-opinion" usr.pk %}">{% trans "Tribune libre de" %} {{ usr.username }}</a></li>
    {% endif %}
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper">
        <h2 class="ico-after ico-tutorials">
            {% block headline %}
                {% if contents != None %}
                    {% trans "Contenus de" %} {{ usr.username }}
                {% elif tutorials != None %}
                    {% trans "Tutoriels de" %} {{ usr.username }}
                {% elif articles != None %}
                    {% trans "Articles de" %} {{ usr.username }}
                {% elif opinions != None %}
                    {% trans "Tribune libre de" %} {{ usr.username }}
                {% endif %}
            {% endblock %}
        </h2>

        {% include "misc/paginator.html" with position="top" %}

        {% if tutorials != None %}
            <div class="content-item-list clearfix">
                {% for tutorial in tutorials %}
                    {% if filter == 'public' %}
                        {% include "tutorialv2/includes/content_item.part.html" with show_description=True public_content=tutorial.public_version content=tutorial%}
                    {% else %}
                        {% captureas type %}{% if filter == "beta" %}beta{% endif %}{% endcaptureas %}
                        {% include "tutorialv2/includes/content_item.part.html" with show_description=True type=type content=tutorial%}
                    {% endif %}
                {% endfor %}
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
            </div>
        {% elif articles != None %}
            <div class="content-item-list clearfix">
                {% for article in articles %}
                    {% if filter == 'public' %}
                        {% include "tutorialv2/includes/content_item.part.html" with show_description=True public_content=article.public_version content=article show_reactions=True %}
                    {% else %}
                        {% captureas type %}{% if filter == "beta" %}beta{% endif %}{% endcaptureas %}
                        {% include "tutorialv2/includes/content_item.part.html" with show_description=True type=type content=article %}
                    {% endif %}
                {% endfor %}
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
            </div>
        {% elif opinions != None %}
            <div class="content-item-list clearfix">
                {% for opinion in opinions %}
                    {% if filter == 'public' %}
                        {% include "tutorialv2/includes/content_item.part.html" with show_description=True public_content=opinion.public_version content=opinion %}
                    {% else %}
                        {% include "tutorialv2/includes/content_item.part.html" with show_description=True content=opinion %}
                    {% endif %}
                {% endfor %}
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
            </div>
        {% endif %}

        {% if not articles and not tutorials and not opinions and not contents %}
            <p>{% trans "Il n'y a aucun contenu pour cet utilisateur." %}</p>
        {% endif %}

        {% include "misc/paginator.html" with position="bottom" %}

    </section>
{% endblock %}



{% block sidebar_new %}
    {% if tutorials != None %}
        <a href="{% url "content:create-tutorial" %}" class="new-btn ico-after more blue">
            {% trans "Nouveau tutoriel" %}
        </a>
    {% elif articles != None %}
        <a href="{% url "content:create-article" %}" class="new-btn ico-after more blue">
            {% trans "Nouvel article" %}
        </a>
    {% elif opinions != None %}
        <a href="{% url "content:create-opinion" %}" class="new-btn ico-after more blue">
            {% trans "Nouveau billet" %}
        </a>
    {% endif %}

    <a href="{% url "content:import-new" %}" class="new-btn ico-after import blue">
        {% trans "Importer un nouveau contenu" %}
    </a>
{% endblock %}

{% block sidebar_actions %}
    {% if usr != user and user.is_authenticated %}
        <li>
            {% with content_is_followed=usr|is_new_publication_followed %}
                {% url 'content:follow' usr.pk as link_follow %}
                {% if content_is_followed %}
                    {% trans "Suivre ses publications" as data_onclick %}
                    {% trans "Désinscription à ses publications" as button_text %}
                {% else %}
                    {% trans "Suivre ses publications" as button_text %}
                    {% trans "Désinscription à ses publications" as data_onclick %}
                {% endif %}
                {% include 'notification/follow_template.html' with link=link_follow is_followed=content_is_followed data_onclick=data_onclick button_text=button_text subscriber_count=subscriber_count %}
            {% endwith %}
        </li>
        <li>
            {% with content_is_followed=usr|is_new_publication_email_followed %}
                {% url 'content:follow' usr.pk as link_follow %}
                {% if content_is_followed %}
                    {% trans "Suivre ses publications par courriel" as data_onclick %}
                    {% trans "Ne plus être notifié par courriel" as button_text %}
                {% else %}
                    {% trans "Suivre ses publications par courriel" as button_text %}
                    {% trans "Ne plus être notifié par courriel" as data_onclick %}
                {% endif %}
                {% include 'notification/follow_by_email_template.html' with link=link_follow is_followed=content_is_followed data_onclick=data_onclick button_text=button_text %}
            {% endwith %}
        </li>
    {% endif %}
{% endblock %}

{% block sidebar_blocks %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
        <div class="mobile-menu-bloc mobile-all-links" data-title="Filtrer">
            <h3>Filtrer</h3>
            <ul>
                {% for current_filter in filters %}

                        {% if tutorials != None %}
                            <li><a href="{% url "content:find-tutorial" usr.pk %}?filter={{ current_filter.key }}" class="ico-after {{ current_filter.icon }} {% if filter == current_filter.key %}selected{% endif %}">{{ current_filter.text }}</a> </li>
                        {% elif articles != None %}
                            <li><a href="{% url "content:find-article" usr.pk %}?filter={{ current_filter.key }}" class="ico-after {{ current_filter.icon }} {% if filter == current_filter.key %}selected{% endif %}">{{ current_filter.text }}</a> </li>
                        {% elif opinions != None %}
                            {% if current_filter.key != 'validation' and current_filter.key != 'beta' %}
                                <li><a href="{% url "content:find-opinion" usr.pk %}?filter={{ current_filter.key }}" class="ico-after {{ current_filter.icon }} {% if filter == current_filter.key %}selected{% endif %}">{{ current_filter.text }}</a> </li>
                            {% endif %}
                        {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="mobile-menu-bloc mobile-all-links" data-title="Trier">
            <h3>Trier</h3>
            <ul>
                {% for current_sort in sorts %}
                    <li><a href="{% append_to_get sort=current_sort.key %}" class="ico-after gear {% if sort == current_sort.key %}selected{% endif %}">{{ current_sort.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
