{% extends "tutorialv2/base.html" %}
{% load append_query_params %}
{% load date %}
{% load i18n %}
{% load captureas %}
{% load interventions %}


{% block title %}
    {% if contents != None %}
        {% trans "Contenus de" %} {{ usr.username }}
    {% elif tutorials != None %}
        {% trans "Tutoriels de" %} {{ usr.username }}
    {% elif articles != None %}
        {% trans "Articles de" %} {{ usr.username }}
    {% elif opinions != None %}
        {% trans "Tribune de" %} {{ usr.username }}
    {% endif %}
{% endblock %}

{% block menu_publications %}
    {% if tutorials != None or articles != None %}
        current
    {% endif %}
{% endblock %}
{% block menu_opinion %}
    {% if opinions != None %}
        current
    {% endif %}
{% endblock %}


{% block breadcrumb_base %}
    {% if contents != None %}
        <li><a href="{% url 'content:list' %}?type=content">{% trans "Bibliothèque" %}</a></li>
        <li><a href="{% url 'content:find-all' usr.username %}">{% trans "Contenus de" %} {{ usr.username }}</a></li>
    {% elif tutorials != None %}
        <li><a href="{% url 'publication:list' %}?type=tutorial">{% trans "Tutoriels" %}</a></li>
        <li><a href="{% url "tutorial:find-tutorial" usr.username %}">{% trans "Tutoriels de" %} {{ usr.username }}</a></li>
    {% elif articles != None %}
        <li><a href="{% url 'publication:list' %}?type=article">{% trans "Articles" %}</a></li>
        <li><a href="{% url "article:find-article" usr.username %}">{% trans "Articles de" %} {{ usr.username }}</a></li>
    {% elif opinions != None %}
        <li><a href="{% url "opinion:list" %}">{% trans "Tribunes" %}</a></li>
        <li><a href="{% url "opinion:find-opinion" usr.username %}">{% trans "Tribune de" %} {{ usr.username }}</a></li>
    {% endif %}
{% endblock %}



{% block content_out %}
    <article class="full-content-wrapper">
        {% include "misc/paginator.html" with position="top" %}
        {% block headline %}
        {% endblock %}

        {% if tutorials %}
            <section class="content-item-list-wrapper" itemscope="" itemtype="http://schema.org/ItemList">
                <h2 class="ico-after ico-tutorials">
                    <span>{% trans "Tutoriels de" %} {{ usr.username }}</span>
                    {% if contents != None or filter != 'public' %}
                        <a href="{% url "tutorial:find-tutorial" usr.username %}?filter=public" class="btn btn-grey">
                            {% trans 'Voir tout' %}
                        </a>
                    {% endif %}
                </h2>
                <div class="content-item-list clearfix">
                    {% for tutorial in tutorials %}
                        {% if filter == 'public' %}
                            {% include "tutorialv2/includes/content_item.part.html" with show_description=True public_content=tutorial.public_version content=tutorial%}
                        {% else %}
                            {% captureas type %}{% if filter == "beta" %}beta{% endif %}{% endcaptureas %}
                            {% include "tutorialv2/includes/content_item.part.html" with show_description=True type=type content=tutorial%}
                        {% endif %}
                    {% endfor %}
                    <div class="fill"></div>
                    <div class="fill"></div>
                    <div class="fill"></div>
                </div>
            </section>
        {% endif %}
        {% if articles %}
            <section class="content-item-list-wrapper" itemscope="" itemtype="http://schema.org/ItemList">
                <h2 class="ico-after ico-tutorials">
                    <span>{% trans "Articles de" %} {{ usr.username }}</span>
                    {% if contents != None or filter != 'public' %}
                        <a href="{% url "article:find-article" usr.username %}?filter=public" class="btn btn-grey">
                            {% trans 'Voir tout' %}
                        </a>
                    {% endif %}
                </h2>
                <div class="content-item-list clearfix">
                    {% for article in articles %}
                        {% if filter == 'public' %}
                            {% include "tutorialv2/includes/content_item.part.html" with show_description=True public_content=article.public_version content=article show_reactions=True %}
                        {% else %}
                            {% captureas type %}{% if filter == "beta" %}beta{% endif %}{% endcaptureas %}
                            {% include "tutorialv2/includes/content_item.part.html" with show_description=True type=type content=article %}
                        {% endif %}
                    {% endfor %}
                    <div class="fill"></div>
                    <div class="fill"></div>
                    <div class="fill"></div>
                </div>
            </section>
        {% endif %}
        {% if opinions %}
            <section class="content-item-list-wrapper" itemscope="" itemtype="http://schema.org/ItemList">
                <h2 class="ico-after ico-tutorials">
                    <span>{% trans "Tribune de" %} {{ usr.username }}</span>
                    {% if contents != None or filter != 'public' %}
                        <a href="{% url "opinion:find-opinion" usr.username %}?filter=public" class="btn btn-grey">
                            {% trans 'Voir tout' %}
                        </a>
                    {% endif %}
                </h2>
                <div class="content-item-list clearfix">
                    {% for opinion in opinions %}
                        {% if filter == 'public' %}
                            {% include "tutorialv2/includes/content_item.part.html" with show_description=True public_content=opinion.public_version content=opinion %}
                        {% else %}
                            {% include "tutorialv2/includes/content_item.part.html" with show_description=True content=opinion %}
                        {% endif %}
                    {% endfor %}
                    <div class="fill"></div>
                    <div class="fill"></div>
                    <div class="fill"></div>
                </div>
            </section>
        {% endif %}

        {% if not articles and not tutorials and not opinions and not contents %}
            <p>{% trans "Il n’y a aucun contenu pour cet utilisateur." %}</p>
        {% endif %}

        {% include "misc/paginator.html" with position="bottom" %}

    </article>
{% endblock %}



{% block sidebar_new %}
    {% if contents != None %}
        <a href="{% url "content:create-content" created_content_type='TUTORIAL' %}" class="new-btn ico-after more blue">
            {% trans "Nouveau contenu" %}
        </a>
    {% else %}
            {% if tutorials != None %}
                <a href="{% url "content:create-content" created_content_type='TUTORIAL' %}" class="new-btn ico-after more blue">
                {% trans "Nouveau tutoriel" %}
            {% elif articles != None %}
                <a href="{% url "content:create-content" created_content_type='ARTICLE' %}" class="new-btn ico-after more blue">
                {% trans "Nouvel article" %}
            {% elif opinions != None %}
                <a href="{% url "content:create-content" created_content_type='OPINION' %}" class="new-btn ico-after more blue">
                {% trans "Nouveau billet" %}
            {% endif %}
        </a>
    {% endif %}

    <a href="{% url "content:import-new" %}" class="new-btn ico-after import blue">
        {% trans "Importer un nouveau contenu" %}
    </a>
{% endblock %}

{% block sidebar_actions %}
    {% if usr != user and user.is_authenticated %}
        <li>
            {% with content_is_followed=usr|is_new_publication_followed %}
                {% url 'content:follow' usr.pk as link_follow %}
                {% if content_is_followed %}
                    {% trans "Suivre ses publications" as data_onclick %}
                    {% trans "Désinscription à ses publications" as button_text %}
                {% else %}
                    {% trans "Suivre ses publications" as button_text %}
                    {% trans "Désinscription à ses publications" as data_onclick %}
                {% endif %}
                {% include 'notification/follow_template.html' with link=link_follow is_followed=content_is_followed data_onclick=data_onclick button_text=button_text subscriber_count=subscriber_count %}
            {% endwith %}
        </li>
        <li>
            {% with content_is_followed=usr|is_new_publication_email_followed %}
                {% url 'content:follow' usr.pk as link_follow %}
                {% if content_is_followed %}
                    {% trans "Suivre ses publications par courriel" as data_onclick %}
                    {% trans "Ne plus être notifié par courriel" as button_text %}
                {% else %}
                    {% trans "Suivre ses publications par courriel" as button_text %}
                    {% trans "Ne plus être notifié par courriel" as data_onclick %}
                {% endif %}
                {% include 'notification/follow_by_email_template.html' with link=link_follow is_followed=content_is_followed data_onclick=data_onclick button_text=button_text %}
            {% endwith %}
        </li>
    {% endif %}
{% endblock %}

{% block sidebar_blocks %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
        {% if filters %}
            <div class="mobile-menu-bloc mobile-all-links" data-title="Filtrer">
                <h3>{% trans "Filtrer" %}</h3>
                <ul>
                    {% captureas namespace %}{% if type == 'all' %}content{% else %}{{ type }}{% endif %}{% endcaptureas %}
                    {% for current_filter in filters %}
                        {% if opinions == None or current_filter.key != 'validation' and current_filter.key != 'beta' %}
                            <li><a href="{% url namespace|add:':find-'|add:type usr.username %}?filter={{ current_filter.key }}" class="ico-after {{ current_filter.icon }} {% if filter == current_filter.key %}selected{% endif %}">{{ current_filter.text }}</a> </li>
                        {% endif %}
                    {% endfor %}
                    {% if user == usr %}
                        <li><a href="{% url namespace|add:':find-'|add:type usr.username %}" class="ico-after cross red {% if filter == '' %}selected{% endif %}">{% trans 'Aucun filtre' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        {% if sorts %}
            <div class="mobile-menu-bloc mobile-all-links" data-title="Trier">
                <h3>{% trans "Trier" %}</h3>
                <ul>
                    {% for current_sort in sorts %}
                        <li><a href="{% append_query_params sort=current_sort.key %}" class="ico-after gear {% if sort == current_sort.key %}selected{% endif %}">{{ current_sort.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="mobile-menu-bloc mobile-all-links" data-title="Voir">
            <h3>{% trans "Voir aussi" %}</h3>
            <ul>
                {% if contents == None %}
                    <li>
                        <a href="{% url 'content:find-all' usr.username %}" class="ico-after content">
                            {% trans "Voir tous ses contenus" %}
                        </a>
                    </li>
                {% endif %}
                {% if tutorials == None or contents != None %}
                    <li>
                        <a href="{% url 'tutorial:find-tutorial' usr.username %}" class="ico-after tutorial">
                            {% trans "Voir tous ses tutoriels" %}
                        </a>
                    </li>
                {% endif %}
                {% if articles == None or contents != None %}
                    <li>
                        <a href="{% url 'article:find-article' usr.username %}" class="ico-after article">
                            {% trans "Voir tous ses articles" %}
                        </a>
                    </li>
                {% endif %}
                {% if opinions == None or contents != None %}
                    <li>
                        <a href="{% url 'opinion:find-opinion' usr.username %}" class="ico-after opinion">
                            {% trans "Voir tous ses billets" %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
