{% extends "tutorialv2/base.html" %}
{% load date %}
{% load i18n %}
{% load captureas %}



{% block title %}
    {% if tag %}
        {{ tag }}
    {% elif category %}
        {{ category }}
    {% else %}
        {% trans "Tous les" %} {{ verbose_type_name_plural }}
    {% endif %}
{% endblock %}



{% block description %}
    {% if tag %}
        {% blocktrans %}
            Découvrez tous nos {{ verbose_type_name_plural }} sur {{ tag }}. Vous pourrez également découvrir divers sujets tous plus intéressants les uns que les autres !
        {% endblocktrans %}
    {% elif category %}
        {% blocktrans %}
            Découvrez tous nos {{ verbose_type_name_plural }} sur {{ category }}. Vous pourrez également découvrir divers sujets tous plus intéressants les uns que les autres !
        {% endblocktrans %}
    {% else %}
        {% blocktrans %}
            Les {{ verbose_type_name_plural }} vous permettent d'apprendre divers sujets tous plus intéressants les uns que les autres.
        {% endblocktrans %}
    {% endif %}
{% endblock %}



{% block breadcrumb %}
    {% if tag %}
        <li>{{ tag }}</li>
    {% elif category %}
        <li>{{ category }}</li>
    {% else %}
        <li>{% trans "Tous les" %} {{ verbose_type_name_plural }}</li>
    {% endif %}
{% endblock %}



{% block body_class %}flexpage{% endblock %}



{% block content_out %}
    {% if hierarchy_level == 0 %}
        {% include 'tutorialv2/view/all_content_page.html' %}
    {% elif hierarchy_level == 1 %}
        {% include 'tutorialv2/view/one_theme_content_page.html' %}
    {% elif hierarchy_level == 2 %}
        {% include 'tutorialv2/view/content_listing_page.html' %}
    {% endif %}
{% endblock %}
