{% extends "tutorial/base.html" %}
{% load profile %}

{% block title %}
    Répondre à l'tutorial
{% endblock %}

{% block headline %}
    Répondre à l'tutorial
{% endblock %}

{% block headline-sub %}
    {{ tutorial.title }}
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ tutorial.title }}</a></li>
    <li class="current"><a href="javascript:;">Répondre au tutoriel</a></li>
{% endblock %}

{% block content %}

{% with topic=tutorial %}
    {% with profile=user|profile %}
        {% include "forum/comment.part.html" %}
    {% endwith %}
{% endwith %}

{% if text %}
    {% include "forum/previsualization.part.html" %}
{% endif %}

{% endblock %}