{% extends "tutorial/base.html" %}
{% load profile %}
{% load crispy_forms_tags %}

{% block title %}
    Répondre à l'tutorial
{% endblock %}

{% block headline %}
    Répondre à l'tutorial
{% endblock %}

{% block headline-sub %}
    {{ tutorial.title }}
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ tutorial.title }}</a></li>
    <li class="current"><a href="#">Répondre au tutoriel</a></li>
{% endblock %}

{% block content %}

{% if newnote %}
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box alert">
            <strong>Au moins un nouveau message a été posté</strong> dans la discussion
            pendant que vous rédigiez le votre.
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% if text %}
    {% include "forum/previsualization.part.html" %}
{% endif %}

{% endblock %}