{% extends "base_content_page.html" %}
{% load captureas %}



{% block title_base %}
    &#183; Mes tutoriels
{% endblock %}



{% block mobile_title %}
    Tutoriels
{% endblock %}



{% block breadcrumb_base %}
    {% if user in tutorial.authors.all %}
        <li><a href="{% url "zds.member.views.tutorials" %}">Mes tutoriels</a></li>
    {% else %}
        <li><a href="{% url "zds.tutorial.views.index" %}">Tutoriels</a></li>
    {% endif %}
{% endblock %}



{% block menu_tutorial %}
    current
{% endblock %}



{% block sidebar %}
    <aside class="sidebar summary mobile-menu-hide">
        {% block sidebar_new %}{% endblock %}

        {% captureas sidebaractions %}
            {% block sidebar_actions %}{% endblock %}
        {% endcaptureas %}

        {% if sidebaractions %}
            <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
                <h3>Actions</h3>
                <ul>
                    {{ sidebaractions|safe }}
                </ul>
            </div>
        {% endif %}

        {% block sidebar_blocks %}{% endblock %}

        {% if tutorial %}
            <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Télécharger">
                <h3>Télécharger</h3>
                <ul>
                    {% if tutorial.on_line %}
                        {% if perms.tutorial.change_tutorial %}
                           <li>
                                <a href="{% url "zds.tutorial.views.download_markdown" %}?tutoriel={{ tutorial.pk }}" class="ico-after download blue">
                                    Markdown
                                </a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="{% url "zds.tutorial.views.download_html" %}?tutoriel={{ tutorial.pk }}" class="ico-after download blue">
                                HTML
                            </a>
                        </li>
                        <li>
                            <a href="{% url "zds.tutorial.views.download_pdf" %}?tutoriel={{ tutorial.pk }}" class="ico-after download blue">
                                PDF
                            </a>
                        </li>
                        <li>
                            <a href="{% url "zds.tutorial.views.download_epub" %}?tutoriel={{ tutorial.pk }}" class="ico-after download blue">
                                EPUB
                            </a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="{% url "zds.tutorial.views.download" %}?tutoriel={{ tutorial.pk }}" class="ico-after download blue">
                            Archive
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </aside>
{% endblock %}
