{% extends "base_content_page.html" %}
{% load captureas %}
{% load i18n %}


{% block title_base %}
    &bull; {% trans "Tutoriels" %}
{% endblock %}



{% block mobile_title %}
    {% trans "Tutoriels" %}
{% endblock %}



{% block breadcrumb_base %}
    {% if user in tutorial.authors.all %}
        <li><a href="{% url "member-tutorials" %}">{% trans "Mes tutoriels" %}</a></li>
    {% else %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{% url "tutorial-index" %}" itemprop="url">
                <span itemprop="title">{% trans "Tutoriels" %}</span>
            </a>
        </li>
    {% endif %}
{% endblock %}



{% block menu_tutorial %}
    current
{% endblock %}



{% block sidebar %}
    <aside class="sidebar summary mobile-menu-hide">
        {% block sidebar_new %}{% endblock %}

        {% captureas sidebaractions %}
            {% block sidebar_actions %}{% endblock %}
        {% endcaptureas %}

        {% if sidebaractions %}
            <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
                <h3>{% trans "Actions" %}</h3>
                <ul>
                    {{ sidebaractions|safe }}
                </ul>
            </div>
        {% endif %}

        {% block sidebar_blocks %}{% endblock %}

        {% if tutorial %}
            {% if tutorial.on_line or user in tutorial.authors.all or perms.tutorial.change_tutorial %}
                <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Télécharger">
                    <h3>{% trans "Télécharger" %}</h3>
                    <ul>
                        {% if tutorial.on_line %}
                            {% if user in tutorial.authors.all or perms.tutorial.change_tutorial %}
                                {% if tutorial.have_markdown %}
                                    <li>
                                        <a href="{% url "tutorial-download_markdown" %}?tutoriel={{ tutorial.pk }}" class="ico-after download blue">
                                            {% trans "Markdown" %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if tutorial.have_html %}
                                <li>
                                    <a href="{% url "tutorial-download_html" %}?tutoriel={{ tutorial.pk }}" class="ico-after download blue">
                                        {% trans "HTML" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if tutorial.have_pdf %}
                                <li>
                                    <a href="{% url "tutorial-download_pdf" %}?tutoriel={{ tutorial.pk }}" class="ico-after download blue">
                                        {% trans "PDF" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if tutorial.have_epub %}
                                <li>
                                    <a href="{% url "tutorial-download_epub" %}?tutoriel={{ tutorial.pk }}" class="ico-after download blue">
                                        {% trans "EPUB" %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
    
                        <li>
                            <a href="{% url "tutorial-download" %}?tutoriel={{ tutorial.pk }}{% if tutorial.is_on_line %}&online{% endif %}" class="ico-after download blue">
                                {% trans "Archive" %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </aside>
{% endblock %}
