{% extends "base.html" %}

{% block title_base %}
    &#183; Tutoriels
{% endblock %}

{% block breadcrumb_base %}
    <li><a href="{% url "zds.tutorial.views.index" %}">Tutoriels</a></li>
{% endblock %}

{% block menu_tutorial %}
    current
{% endblock %}

{% block headline %}
    <h2 class="box tutoriel">{% block head-title %}{% endblock %}</h2>
{% endblock %}


{% block sidebar %}
    <h3>Actions sur les tutoriels</h3>
    <ul>
        <li><a href="{% url "zds.tutorial.views.add_tutorial" %}">Nouveau tutoriel</a></li>
        {% block headline-sub-actions %}{% endblock %}
    </ul>
	{% block headline-actions %}{% endblock %}
    {% block headline-add %}{% endblock %}
	<h3>Télécharger</h3>
    <ul>
        {% if tutorial.on_line %}
    	{% if perms.tutorial.change_tutorial %}
    	<li><a href="{% url "zds.tutorial.views.download_markdown" %}?tutoriel={{ tutorial.pk }}">Markdown</a></li>
    	{% endif %}
        <li><a href="{% url "zds.tutorial.views.download_html" %}?tutoriel={{ tutorial.pk }}">HTML</a></li>
        <li><a href="{% url "zds.tutorial.views.download_pdf" %}?tutoriel={{ tutorial.pk }}">PDF</a></li>
        <li><a href="{% url "zds.tutorial.views.download_epub" %}?tutoriel={{ tutorial.pk }}">EPUB</a></li>
        {% endif %}
        <li><a href="{% url "zds.tutorial.views.download" %}?tutoriel={{ tutorial.pk }}">Archive</a></li>
    </ul>
{% endblock %}
