{% extends "tutorial/base.html" %}

{% block headline %}
    <h2 class="box head-content">
        {% block head-image %}{% endblock %}
        {% block head-title %}{% endblock %}
    </h2>
    <ul class="taglist">
        {% block head-tag %}{% endblock %}
    </ul>
    <p class="subtitle">{% block headline-sub %}{% endblock %}</p>
    
    <div class="authors content-wrapper">
        <span class="authors-label">Auteurs :  </span>
        <ul>
        {% block head-authors %}{% endblock %}
        </ul>
    </div>
{% endblock %}