{% extends "tutorial/base.html" %}
{% load captureas %}
{% load i18n %}



{% block title_base %}
    &bull; {% trans "Tutoriels" %}
{% endblock %}



{% block canonical %}
    {% if tutorial.source and tutorial.source != "" %}
    	<link rel="canonical" href="{{ tutorial.source }}">
    {% endif %}
{% endblock %}



{% block breadcrumb_base %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{% url "tutorial-index" %}" itemprop="url">
            <span itemprop="title">{% trans "Tutoriels" %}</span>
        </a>
    </li>
{% endblock %}



{% block article_schema %}
    itemscope itemtype="http://schema.org/Article"
{% endblock %}
