{% extends "tutorial/base.html" %}
{% load captureas %}



{% block title_base %}
    &bull; Tutoriels
{% endblock %}



{% block canonical %}
    {% if tutorial.source and tutorial.source != "" %}
    	<link rel="canonical" href="{{ tutorial.source }}">
    {% endif %}
{% endblock %}



{% block breadcrumb_base %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{% url "zds.tutorial.views.index" %}" itemprop="url">
            <span itemprop="title">Tutoriels</span>
        </a>
    </li>
{% endblock %}



{% block article_schema %}
    itemscope itemtype="http://schema.org/Article"
{% endblock %}
