{% extends "tutorial/base.html" %}
{% load emarkdown %}
{% load humane_date %}
{% load repo_reader %}

{% block title %}
{{ tutorial.title }}
{% endblock %}

{% block headline %}
    {{ tutorial.title }}<br />
    <small>{{ tutorial.description }}</small>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ tutorial.title }}</a></li>
{% endblock %}

{% block headline-actions %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="large-1 columns hide-for-small">
            {% if tutorial.image %}
            <img src="{{tutorial.image.thumb.url }}"/>
            {% endif %}
        </div>
        <div class="large-11 columns">
        <p>
            Tutoriel
            {% if not tutorial.is_mini %}
                étendu
            {% endif %}
            rédigé par
            {% for member in tutorial.authors.all %}
                {% if forloop.counter > 1 %}
                    {% if forloop.last %}
                        et
                    {% else %}
                        ,
                    {% endif %}
                {% endif %}
                {% include "member/member_item_common.part.html" %}
            {% endfor %}.
        </p>
    </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
            <h4>Fichiers Ajoutés</h4>
            {% for add in path_add %}
                <div class="large-12 columns">
                    {{ add.b_blob.path }}
                    <div class="panel">
                        {{ add.b_blob|repo_blob |truncatechars:500 | emarkdown }}
                    </div>
                </div>
            {% endfor %}
            <h4>Fichiers Rennomés</h4>
            {% for ren in path_ren %}
                <div class="large-6 columns">
                    {{ ren.a_blob.path }}
                    <div class="panel">
                        {{ ren.a_blob|repo_blob |truncatechars:500 | emarkdown}}
                    </div>
                </div>
                <div class="large-6 columns">
                    {{ ren.b_blob.path }}
                    <div class="panel">
                        {{ ren.b_blob|repo_blob |truncatechars:500 | emarkdown }}
                    </div>
                </div>
            {% endfor %}
            <h4>Fichiers Supprimés</h4>
            {% for del in path_del %}
                <div class="large-12 columns">
                    {{ del.a_blob.path }}
                    <div class="panel">
                        {{ del.a_blob|repo_blob |truncatechars:500 | emarkdown}}
                    </div>
                </div>
            {% endfor %}
            <h4>Fichiers Mis à jour</h4>
            {% for maj in path_maj %}
                <div class="large-6 columns">
                    {{ maj.a_blob.path }}
                    <div class="panel">
                        {{ maj.a_blob|repo_blob |truncatechars:500 | emarkdown}}
                    </div>
                </div>
                <div class="large-6 columns">
                    {{ maj.b_blob.path }}
                    <div class="panel">
                        {{ maj.b_blob|repo_blob |truncatechars:500 | emarkdown }}
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

{% endblock %}
