{% load emarkdown %}
{% load humanize %}
{% load profile %}

<div class="row">
    <div class="large-12 columns">
        <div class="large-1 columns hide-for-small">
            {% if tutorial.image %}
            <img src="{{tutorial.image.thumb.url }}"/>
            {% endif %}
        </div>
        <div class="large-6 columns">
        <p>
            Tutoriel
            {% if not tutorial.is_mini %}
                étendu
            {% endif %}
            rédigé par
            {% for member in tutorial.authors.all %}
                {% if forloop.counter > 1 %}
                    {% if forloop.last %}
                        et
                    {% else %}
                        ,
                    {% endif %}
                {% endif %}
                {% include "member/member_item_common.part.html" %}
            {% endfor %}.
        </p>
        </div>
        <div class="large-5 columns">
            <p>
            {% for category in tutorial.subcategory.all %}
                <span class="label">{{ category.title }}</span>
            {% endfor %}
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        {% if tutorial.get_introduction_online %}
            {{ tutorial.get_introduction_online|safe }}
        {% else %}
            <p>Aucune introduction.</p>
        {% endif %}

        {% if tutorial.is_mini %}
        {# Small tutorial #}

            {% with authors=tutorial.authors.all %}
                {% include "tutorial/view_chapter_online_common.part.html" %}
            {% endwith %}

        {% else %}
        {# Large tutorial #}

            <hr />
            {% if parts %}
                {% for part in parts %}
                    <h1>
                        <a href="{% url "view-part-url-online" tutorial.pk tutorial.slug part.slug %}">
                            Partie {{ part.position_in_tutorial }} : {{ part.title }}
                        </a>
                    </h1>
                    {% include "tutorial/view_part_export_common.part.html" %}
                {% endfor %}
            {% else %}
                <p>
                    Il n'y a actuellement aucune partie dans ce tutoriel.
                </p>
            {% endif %}
            <hr />

        {% endif %}

        {% if tutorial.get_conclusion_online %}
            {{ tutorial.get_conclusion_online|safe }}
        {% else %}
            <p>Aucune conclusion.</p>
        {% endif %}
    </div>
</div>