{% extends "tutorial/base.html" %}
{% load emarkdown %}
{% load humanize %}
{% load profile %}

{% block title %}
{{ tutorial.title }}
{% endblock %}

{% block headline %}
    {{ tutorial.title }}<br />
    <small>{{ tutorial.description }}</small>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a></li>
    <li class="current"><a href="#">Historique</a></li>
{% endblock %}

{% block sidebar_actions %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="large-1 columns hide-for-small">
            {% if tutorial.image %}
            <img src="{{tutorial.image.thumb.url }}"/>
            {% endif %}
        </div>
        <div class="large-11 columns">
        <p>
            Tutoriel
            {% if not tutorial.is_mini %}
                étendu
            {% endif %}
            rédigé par
            {% for member in tutorial.authors.all %}
                {% if forloop.counter > 1 %}
                    {% if forloop.last %}
                        et
                    {% else %}
                        ,
                    {% endif %}
                {% endif %}
                {% include "misc/member_item.part.html" %}
            {% endfor %}.
        </p>
    </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <table>
          <thead>
            <tr>
              <th></th>
              <th width="25%">Date</th>
              <th>Version</th>
              <th width="10%">Diff</th>
              <th width="10%">Auteur</th>
            </tr>
          </thead>
          <tbody>
            {% for log in logs %}
            <tr>
              <td><p>{% if tutorial.sha_validation = log.newhexsha %} Validation {% elif tutorial.sha_beta =  log.newhexsha %} Beta {% elif tutorial.sha_draft =  log.newhexsha %} Draft {% endif%}</p></td>
              <td><p>{{ log.time.0|humane_time }}</p></td>
              <td><p><a href="{% url "zds.tutorial.views.view_tutorial" tutorial.pk tutorial.slug %}?version={{ log.newhexsha }}" >{{ log.message }}</a></p></td>
              <td><p><a href="{% url "zds.tutorial.views.diff" tutorial.pk tutorial.slug %}?sha={{ log.newhexsha }}" >{{ log.newhexsha|truncatechars:8 }}</a></p></td>
              <td>
                {% with u=log.actor.name|user %}
                  {% if u %}
                    {% with profile=u|profile %}
                    <p><a href="{{ profile.get_absolute_url }}">{{ u.username }}</a></p>
                    {% endwith %}
                  {% else %}
                    <p>Inconnu</p>
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock %}
