{% extends "tutorial/index.html" %}
{% load humanize %}

{% block headline-sub-actions %}
    <li><a href="{% url "zds.tutorial.views.import_tuto" %}">Importer</a></li>
{% endblock %}

{% block headline-actions %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
        <h3><span class="wide">Filtres</span></h3>
        <ul>
            <li><a href="{% url "zds.member.views.tutorials" %}">All</a></li>
            <li><a href="{% url "zds.member.views.tutorials" %}?type=public">Public</a></li>
            <li><a href="{% url "zds.member.views.tutorials" %}?type=draft">Draft</a><li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
    {% if tutorials %}
    <div class="small-block-grid-1 large-block-grid-3">
    {% for tuto in tutorials %}
        <li class="card">
            <a href="{{ tuto.get_absolute_url }}">
                <div class="tutorial-infos">
                    <h3>{{ tuto.title }}</h3>
                    <p class="article-metadata">
                        crée {{tuto.create_at|naturaltime}}
                    </p>
                </div>
                {% if tuto.image %}
                <div class="large-12 columns crop">
                    <img src="{{tuto.image.thumb.url }}" alt=""/>
                </div>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </div>
    {% else %}
    <p>Aucun tutoriel disponible.</p>
    {% endif %}
    </div>
</div>
{% endblock %}
