{% extends "tutorial/base_online.html" %}
{% load topbar %}



{% block title %}
    {% if tag %}
        {{ tag }}
    {% else %}
        Tous les tutoriels
    {% endif %}
{% endblock %}



{% block description %}
    {% if tag %}
        Découvrez tous nos tutoriels sur {{ tag }}. Vous pourrez également découvrir divers sujets tous plus intéressants les uns que les autres.
    {% else %}
        Les tutoriels vous permettent d'apprendre divers sujets tous plus intéressants 
        les uns que les autres.
    {% endif %}
{% endblock %}



{% block breadcrumb %}
    {% if tag %}
        <li>{{ tag }}</li>
    {% else %}
        <li>Tous les tutoriels</li>
    {% endif %}
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper" itemscope itemtype="http://schema.org/ItemList">
        <h1 class="ico-after ico-tutorials" itemprop="name">
            {% block headline %}
                {% if tag %}
                    Tutoriels : {{ tag }}
                {% else %}
                    Tous les tutoriels
                {% endif %}
            {% endblock %}
        </h1>
        
        <meta itemprop="itemListOrder" content="Unordered">

        {% if tutorials %}
            <div class="tutorial-list">
                {% for tutorial in tutorials %}
                    {% include 'tutorial/includes/tutorial_item.part.html' %}
                {% endfor %}
            </div>
        {% else %}
            <p>
                Aucun tutoriel disponible.
            </p>
        {% endif %}
    </section>
{% endblock %}



{% block sidebar %}
    <aside class="sidebar accordeon mobile-menu-bloc"
           data-title="Catégories de tutoriels"
    >
        <a href="{% url "zds.tutorial.views.add_tutorial" %}" class="new-btn ico-after more blue">
            Nouveau tutoriel
        </a>

        <h3>Catégories <span class="wide">de tutoriels</span></h3>

        {% with categories='.'|top_categories_tuto %}
            {% for title, subcats in categories.items %}
                <h4 class="mobile-menu-link">{{ title }}</h4>
                <ul>
                    {% for subcat in subcats %}
                        <li>
                            <a href="{{ subcat.get_absolute_url_tutorial }}" class="mobile-menu-link mobile-menu-sublink">
                                {{ subcat.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endwith %}
        <div class="mobile-menu-bloc mobile-all-links" data-title="Flux">
            <h3>Flux</h3>
            <ul>
                <li>
                    <a href="{% url "tutorial-feed-rss" %}" class="ico-after rss blue">
                        Nouveaux tutoriels (RSS)
                    </a>
                </li>
                <li>
                    <a href="{% url "tutorial-feed-atom" %}" class="ico-after rss blue">
                        Nouveaux tutoriels (ATOM)
                    </a>
                </li>
            </ul>
        </div>
    </aside>
{% endblock %}