{% extends "tutorial/base.html" %}
{% load humanize %}
{% load topbar %}



{% block title %}
    Liste des tutoriels
{% endblock %}



{% block meta %}
    <meta name="description" content="Les tutoriels vous permettent d'apprendre
    sur divers sujets tous plus intéressant les uns que les autres." />
{% endblock %}



{% block breadcrumb %}
    <li>Liste des tutoriels</a>
{% endblock %}



{% block headline %}
    <h2>Liste des tutoriels</h2>
{% endblock %}



{% block content %}
    {% if tutorials %}
        <div class="tutorials-list">
            {% for tutorial in tutorials %}
                <article>
                    <a href="{{ tutorial.get_absolute_url_online }}">
                        <img src="{{ tutorial.image.thumb.url }}" alt="" class="tutorial-img avatar">
                        <div class="tutorial-infos">
                            <h3>{{ tutorial.title }}</h3>
                            
                            <p class="article-metadata">
                                {% if tutorial.subcategory %}
                                    {% for category in tutorial.subcategory.all %}
                                        {{ category.title }}                                    
                                    {% endfor %}
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    {% else %}
        <p>
            Aucun tutoriel disponible.
        </p>
    {% endif %}
{% endblock %}



{% block sidebar %}
    <aside class="sidebar accordeon mobile-menu-bloc mobile-menu-hide"
           data-title="Catégories de tutoriels"
    >
        <h3>Catégories <span class="wide">de tutoriels</span></h3>

        {% with categories='.'|top_categories_tuto %}
            {% for category in categories %}
                {# FIXME: il manque un lien ici #}
                <h4><a href="#" class="mobile-menu-link">{{ category.title }}</a></h4>
                <ul>
                    {% for catofsubcat in category.get_subcategories %}
                        <li>
                            <a href="{{ catofsubcat.subcategory.get_absolute_url_tutorial }}">
                                {{ catofsubcat.subcategory }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endwith %}
    </aside>
{% endblock %}