{% extends "tutorial/base_online.html" %}
{% load topbar %}
{% load i18n %}


{% block title %}
    {% if tag %}
        {{ tag }}
    {% else %}
        {% trans "Tous les tutoriels" %}
    {% endif %}
{% endblock %}



{% block description %}
    {% if tag %}
        {% trans "Découvrez tous nos tutoriels sur" %} {{ tag }}. {% trans "Vous pourrez également découvrir divers sujets tous plus intéressants les uns que les autres" %}.
    {% else %}
        {% trans "Les tutoriels vous permettent d'apprendre divers sujets tous plus intéressants
        les uns que les autres" %}.
    {% endif %}
{% endblock %}



{% block breadcrumb %}
    {% if tag %}
        <li>{{ tag }}</li>
    {% else %}
        <li>{% trans "Tous les tutoriels" %}</li>
    {% endif %}
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper" itemscope itemtype="http://schema.org/ItemList">
        <h1 class="ico-after ico-tutorials" itemprop="name">
            {% block headline %}
                {% if tag %}
                    {% trans "Tutoriels" %} : {{ tag }}
                {% else %}
                    {% trans "Tous les tutoriels" %}
                {% endif %}
            {% endblock %}
        </h1>

        <meta itemprop="itemListOrder" content="Unordered">

        {% if tutorials %}
            <div class="content-item-list">
                {% for tutorial in tutorials %}
                    {% include 'tutorial/includes/tutorial_item.part.html' with show_description=True %}
                {% endfor %}
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
            </div>
        {% else %}
            <p>
                {% trans "Aucun tutoriel disponible" %}.
            </p>
        {% endif %}
    </section>
{% endblock %}



{% block sidebar %}
    <aside class="sidebar accordeon mobile-menu-bloc"
           data-title="Catégories de tutoriels"
    >
        <a href="{% url "tutorial-add-tutorial" %}" class="new-btn ico-after more blue">
            {% trans "Nouveau tutoriel" %}
        </a>

        <a href="{% url "tutorial-help-tutorial" %}" class="new-btn ico-after help blue">
            {% trans "Aider les auteurs" %}
        </a>

        <h3>{% blocktrans %} Catégories <span class="wide">des tutoriels</span> {% endblocktrans %}</h3>

        {% with categories='TUTORIAL'|top_categories_content %}
            {% for title, subcats in categories.items %}
                <h4 class="mobile-menu-link">{{ title }}</h4>
                <ul>
                    {% for subcat,slug in subcats %}
                        <li>
                            <a href="{% url "tutorial-index" %}?tag={{ slug }}" class="mobile-menu-link mobile-menu-sublink">
                                {{  subcat }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% empty %}
                <ul>
                    <li>
                        {% trans "Aucune catégorie disponible." %}
                    </li>
                </ul>
            {% endfor %}
        {% endwith %}
        <div class="mobile-menu-bloc mobile-all-links" data-title="Flux">
            <h3>{% trans "Flux" %}</h3>
            <ul>
                <li>
                    <a href="{% url "tutorial-feed-rss" %}" class="ico-after rss blue">
                        {% trans "Nouveaux tutoriels (RSS)" %}
                    </a>
                </li>
                <li>
                    <a href="{% url "tutorial-feed-atom" %}" class="ico-after rss blue">
                        {% trans "Nouveaux tutoriels (ATOM)" %}
                    </a>
                </li>
            </ul>
        </div>
    </aside>
{% endblock %}
