{% extends "tutorial/base.html" %}
{% load markup %}
{% load crispy_forms_tags %}

{% block title %}
    Nouvelle partie
{% endblock %}

{% block head-title %}
    Nouvelle partie
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a></li>
    <li class="current"><a href="#">Nouvelle partie</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% endblock %}
