{% extends "tutorial/base.html" %}
{% load humanize %}

{% block title %}
    Liste des tutoriels soumis en validation
{% endblock %}

{% block meta %}
    <meta name="description" content="Les tutoriels vous permettent d'apprendre
    sur divers sujets axés autour de la programmation et de l'informatique." />
{% endblock %}

{% block header %}
    <h1>
        <i class="fi-book icon-large"></i>
        Tutoriels
    </h1>
    <p>
        Les tutoriels vous permettent <strong>d'apprendre</strong> sur divers sujets axés autour de la programmation et de l'informatique.
    </p>
{% endblock %}

{% block headline %}
    <h1>Liste des tutoriels soumis en validation</h1>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block headline-actions %}
    <h3>Navigation</h3>
    <ul>
        <li><a href="{% url "zds.tutorial.views.list_validation" %}" class="button">Zone de validation</a></li>
        <li><a href="{% url "zds.tutorial.views.list_validation" %}?type=reserved" class="button">En cours de validation</a></li>
        <li><a href="{% url "zds.tutorial.views.list_validation" %}?type=orphan" class="button">En attente de validateur</a></li>
    </ul>
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        {% if validations %}
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th width="8%">Catégorie(s)</th>
                    <th width="8%">Auteur(s)</th>
                    <th width="8%">Proposé</th>
                    <th width="8%">Validateur</th>
                    <th width="8%">Réservé</th>
                    <th width="8%">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for validation in validations %}
                <tr>
                    <td>
                        <a href="{% url "zds.tutorial.views.view_tutorial" validation.tutorial.pk validation.tutorial.slug %}?version={{ validation.version }}" >{{ validation.tutorial.title }}</a>
                    </td>
                    <td>
                        {% for subcategory in validation.tutorial.subcategory.all %}
                        <p>
                            <a href="{% url "zds.tutorial.views.list_validation" %}?subcategory={{subcategory.pk}}">{{ subcategory.title }}</a>
                        </p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for author in validation.tutorial.authors.all %}
                        <a href="{% url "zds.member.views.details" user.username %}">{{ author.username }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <span>{{ validation.date_proposition|naturaltime }}</span>
                    </td>
                    <td>
                        {% if validation.validator %}
                        <a href="{% url "zds.member.views.details" validation.validator.username %}">{{ validation.validator.username }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if validation.date_reserve %}
                        <span>{{ validation.date_reserve|naturaltime }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if validation.is_pending %}
                        <a href="{% url "zds.tutorial.views.reservation" validation.pk %}">Réservé</a>
                        {% elif validation.is_pending_valid %}
                        <a href="{% url "zds.tutorial.views.reservation" validation.pk %}">Se retirer</a>
                        {% elif validation.is_accept %}
                        <span>Accepté</span>
                        {% elif validation.is_reject %}
                        <span>Rejeté</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Aucun tutoriel soumis en validation.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
