<div class="row">
    <div class="large-6 columns">
        {% if prev %}
            <a class="secondary" href="{{ prev.get_absolute_url }}{%if version %}?version={{version}}{% endif %}">
                <i class="fi-arrow-left"></i> {{ prev.title }}
            </a>
        {% endif %}
    </div>
    <div class="large-6 columns">
        <div class="right">
            {% if next %}
                <a class="secondary" href="{{ next.get_absolute_url }}{%if version %}?version={{version}}{% endif %}">
                    {{ next.title }} <i class="fi-arrow-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>