{% extends "tutorial/base_read.html" %}
{% load emarkdown %}
{% load humanize %}
{% load profile %}
{% load crispy_forms_tags %}

{% block title %}
    {{ tutorial.title }}
{% endblock %}

{% block head-image %}
    {% if tutorial.image %}
        <img src="{{tutorial.image.thumb.url }}" alt=""/>
    {% endif %}
{% endblock %}

{% block head-title %}
    {{ tutorial.title }}
{% endblock %}

{% block head-tag %}
    {% for category in tutorial.subcategory.all %}
        <li><a href="#">{{ category.title }}</a></li>
    {% endfor %}
{% endblock %}

{% block head-authors %}
    {% for member in tutorial.authors.all %}
        <li>
            {% include "member/member_item_common.part.html" %}
        </li>
    {% endfor %}
{% endblock %}

{% block headline-sub %}
    {{ tutorial.description }}
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ tutorial.title }}</a></li>
{% endblock %}

{% block headline-actions %}

    {% if perms.tutorial.change_tutorial%}
    <h3>Administration</h3>
    <ul>
        <li><a href="{{ tutorial.get_absolute_url }}" class="ico-after arrow-right blue" ><span class="fi-arrow-left size-16"></span> Version offline</a></li>
        <li><a href="{% url "zds.tutorial.views.history_validation" tutorial.pk %}"><span class="fi-mountains size-16"></span> Historique validation</a></li>
        <li><a href="{% url "zds.tutorial.views.invalid_tutorial" tutorial.pk %}"><span class="fi-x-circle size-16"></span> Dépublier</a>
    </ul>
    {% endif %}

    {% include "tutorial/toc_common_online.html" %}
    
{% endblock %}

{% block content %}

<div class="read-content">

{% if tutorial.get_introduction_online %}
    {{ tutorial.get_introduction_online|safe }}
{% endif %}
{% if tutorial.type = "MINI" %}
{# Small tutorial #}

    {% with authors=tutorial.authors.all %}
        {% include "tutorial/view_chapter_online_common.part.html" %}
    {% endwith %}
{% else %}
{# Large tutorial #}

    <hr />
    {% if parts %}
        {% for part in parts %}
            <h2>
                <a href="{% url "view-part-url-online" tutorial.pk tutorial.slug part.slug %}">
                    Partie {{ part.position_in_tutorial }} : {{ part.title }}
                </a>
            </h2>
            {% include "tutorial/view_part_online_common.part.html" %}
        {% endfor %}
    {% endif %}
    <hr />

{% endif %}

{% if tutorial.get_conclusion_online %}
    {{ tutorial.get_conclusion_online|safe }}
{% endif %}
</div>
<h2 class="box">Commentaires</h2>
    {% with topic=tutorial %}
    {% include "forum/topic_pagination.part.html" with position="top" %}
    {% endwith %}
{% for post in notes %}
    {% include "tutorial/note.part.html" %}
{% endfor %}

{% with topic=tutorial %}
{% include "forum/topic_pagination.part.html" with position="bottom" %}
{% endwith %}

{% if user.is_authenticated %}
{% with profile=user|profile%}
<div class="large-12 columns">
    {% crispy form %}
</div>
{% endwith %}
{% else %}
<div class="large-12 columns">
    <div data-alert class="alert-box info radius">
      Vous devrez vous connecter pour pouvoir poster votre message
      <a href="#" class="close">&times;</a>
    </div>
    {% crispy form %}
</div>
{% endif %}

{% endblock %}
