{% extends "tutorial/base.html" %}
{% load markup %}

{% block title %}
    {{ part.title }} ({{ part.tutorial.title }})
{% endblock %}

{% block headline %}
    Partie {{ part.position_in_tutorial }} : {{ part.title }}<br />
    <h1 class="illu">
        {{ part.title }}
    </h1>
    <ul class="taglist">
    {% for category in part.tutorial.subcategory.all %}
        <li><a href="#">{{ category.title }}</a></li>
    {% endfor %}
    </ul>
    
    <div class="authors content-wrapper">
        <span class="authors-label">Auteurs : </span>
        <ul>
        {% for member in part.tutorial.authors.all %}
            <li>
                {% include "member/member_item_common.part.html" %}
            </li>
        {% endfor %}.
        </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ part.tutorial.get_absolute_url }}">{{ part.tutorial.title }}</a></li>
    <li class="current"><a href="#">{{ part.title }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% include "tutorial/view_part_online_common.part.html" %}
    </div>
</div>

{% endblock %}

{% block headline-actions %}
	{% with tutorial=part.tutorial %}
	{% with parts=part.tutorial.parts %}
    	{% include "tutorial/toc_common_online.html" %}
    {% endwith %}
    {% endwith %}
{% endblock %}
