{% extends "tutorial/base_read.html" %}
{% load emarkdown %}

{% block title %}
    {{ part.title }} ({{ part.tutorial.title }})
{% endblock %}


{% block head-image %}
    {% if part.tutorial.image %}
        <img src="{{part.tutorial.image.thumb.url }}" alt=""/>
    {% endif %}
{% endblock %}

{% block head-title %}
    {{ part.title }}
{% endblock %}

{% block head-tag %}
    {% for category in part.tutorial.subcategory.all %}
        <li><a href="#">{{ category.title }}</a></li>
    {% endfor %}
{% endblock %}

{% block head-authors %}
    {% for member in part.tutorial.authors.all %}
        <li>
            {% include "member/member_item_common.part.html" %}
        </li>
    {% endfor %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ part.tutorial.get_absolute_url }}?version={{version}}">{{ part.tutorial.title }}</a></li>
    <li class="current"><a href="#">{{ part.title }}</a></li>
{% endblock %}

{% block headline-sub-actions %}
    <li><a href="{% url "zds.tutorial.views.add_chapter" %}?partie={{ part.pk }}">Ajouter un chapitre</a></li>
    <li><a href="{% url "zds.tutorial.views.edit_part" %}?partie={{ part.pk }}">Éditer la partie</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns read-content">
            {% if part.intro %}
                {{ part.intro|emarkdown }}
            {% else %}
                <p>Aucune introduction.</p>
            {% endif %}

        	{% if part.chapters %}
            <ul>
            {% for chapter in part.chapters %}
            	<li>
                    <h3><a href="{% url "view-chapter-url" tutorial.pk tutorial.slug part.slug chapter.slug %}?version={{version}}">{{ chapter.title }}</a></h3>
                </li>
            {% endfor %}
        	</ul>
        	{% endif %}

            {% if part.conclu %}
                {{ part.conclu|emarkdown }}
            {% else %}
                <p>Aucune conclusion.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
