{% extends "tutorial/base_read.html" %}

{% block title %}
{{ chapter.title }} ({{ chapter.part.tutorial.title }})
{% endblock %}

{% block head-image %}
    {% if chapter.image %}
        <img src="{{chapter.image.thumb.url }}" alt=""/>
    {% endif %}
{% endblock %}

{% block head-title %}
    {{ chapter.title }}
{% endblock %}

{% block head-tag %}
    {% if chapter.tutorial %}
        {% for category in chapter.tutorial.subcategory.all %}
            <li><a href="#">{{ category.title }}</a></li>
        {% endfor %}
    {% else %}
        {% for category in chapter.part.tutorial.subcategory.all %}
            <li><a href="#">{{ category.title }}</a></li>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block head-authors %}
    {% if chapter.tutorial %}
        {% for member in chapter.tutorial.authors.all %}
            <li>
                {% include "member/member_item_common.part.html" %}
            </li>
        {% endfor %}
    {% else %}
        {% for member in chapter.part.tutorial.authors.all %}
            <li>
                {% include "member/member_item_common.part.html" %}
            </li>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ chapter.part.tutorial.get_absolute_url_online }}">{{ chapter.part.tutorial.title }}</a></li>
    <li><a href="{% url "view-part-url-online" chapter.part.tutorial.pk chapter.part.tutorial.slug chapter.part.slug %}">{{ chapter.part.title }}</a></li>
    <li class="current"><a href="#">{{ chapter.title }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns read-content">
        {% with tutorial=chapter.get_tutorial %}
            {% with authors=tutorial.authors.all %}
                {% include "tutorial/view_chapter_online_common.part.html" %}
                {% include "tutorial/view_chapter_online_pager.html" %}
            {% endwith %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block headline-actions %}
            {% if perms.tutorial.change_tutorial%}
            <h3>Administration</h3>
            <ul>
                <li><a href="{{ chapter.part.tutorial.get_absolute_url }}"><span class="fi-arrow-left size-16"></span> Version offline</a></li>
            </ul>
            {% endif %}

            {% with tutorial=chapter.part.tutorial %}
            {% with chapter_current=chapter %}
                {% include "tutorial/toc_common_online.html" %}
            {% endwith %}
            {% endwith %}

{% endblock %}