{% extends "tutorial/base.html" %}

{% block title %}
    {{ part.title }} ({{ part.tutorial.title }})
{% endblock %}

{% block headline %}
    <h1 class="illu">
        {{ part.title }}
    </h1>
    <ul class="taglist">
    {% for category in part.tutorial.subcategory.all %}
        <li><a href="#">{{ category.title }}</a></li>
    {% endfor %}
    </ul>
    
    <div class="authors content-wrapper">
        <span class="authors-label">Auteurs : </span>
        <ul>
        {% for member in part.tutorial.authors.all %}
            <li>
                {% include "member/member_item_common.part.html" %}
            </li>
        {% endfor %}.
        </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ part.tutorial.get_absolute_url_online }}">{{ part.tutorial.title }}</a></li>
    <li class="current"><a href="#">{{ part.title }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% include "tutorial/view_part_online_common.part.html" %}
    </div>
</div>

{% endblock %}

{% block headline-actions %}
    {% if perms.tutorial.change_tutorial%}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Administrations">
        <h3>Admin<span class="wide">istration</span></h3>
        <ul>
            <li><a href="{{ part.tutorial.get_absolute_url }}">Version offline</a></li>
        </ul>
    </div>
    {% endif %}
	{% with tutorial=part.tutorial %}
	{% with parts=part.tutorial.get_parts %}
    	{% include "tutorial/toc_common_online.html" %}
    {% endwith %}
    {% endwith %}
{% endblock %}
