{% extends "tutorial/base.html" %}
{% load emarkdown %}
{% load repo_reader %}

{% block title %}
{{ tutorial.title }}
{% endblock %}

{% block headline %}
    {{ tutorial.title }}<br />
    <small>{{ tutorial.description }}</small>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ tutorial.title }}</a></li>
{% endblock %}

{% block headline-sub-actions %}
    {% if not tutorial.in_beta %}
    <li><a href="{% url "zds.tutorial.views.activ_beta" tutorial.pk version %}">Activer la beta</a></li>
    {% else %}
    <li><a href="{% url "zds.tutorial.views.desactiv_beta" tutorial.pk version %}">Désactiver la beta</a></li>
    {% endif %}
    
    <li>
        {% if not tutorial.is_mini %}
        <a href="{% url "zds.tutorial.views.add_part" %}?tutoriel={{ tutorial.pk }}">Ajouter une partie</a>
        {% else %}
        <a href="{% url "zds.tutorial.views.add_extract" %}?chapitre={{ tutorial.get_chapter.pk }}">Ajouter un extrait</a>
        {% endif %}
    </li>
    <li><a href="{% url "zds.tutorial.views.edit_tutorial" %}?tutoriel={{ tutorial.pk }}">Éditer</a></li>
    <li><a href="{% url "zds.tutorial.views.history" tutorial.pk tutorial.slug %}">Historique des versions</a>

    {% if not version = tutorial.sha_validation %}
    <li>
        <form action="{% url "zds.tutorial.views.ask_validation" %}" method="post">
            <button type="submit" name="pending">Demander la validation</button>
            <textarea name="comment" rows="3" placeholder="Vos commentaires de validation"> </textarea>
            <input type="hidden" name="tutorial" value="{{ tutorial.pk }}" />
            <input type="hidden" name="version" value="{{ version }}" />
            {% csrf_token %}
        </form>
    </li>
    {% endif %}
    <li>
        <form action="{% url "zds.tutorial.views.delete_tutorial" %}" method="post">
            <button type="submit" name="delete">Supprimer</button>
            <input type="hidden" name="tutorial" value="{{ tutorial.pk }}" />
            <input type="hidden" name="version" value="{{ version }}" />
            {% csrf_token %}
        </form>
    </li>
{% endblock %}

{% block headline-actions %}
    {% if perms.tutorial.change_tutorial%}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Admin">
        <h3>Admin<span class="wide">istration</span></h3>
        <ul>
            <li>
                <form action="{% url "zds.tutorial.views.valid_tutorial" %}" method="post">
                    <button type="submit" name="valid-tuto">Confirmer la publication</button>
                    <textarea name="comment-v" rows="3" placeholder="Vos commentaires de publication"> </textarea>
                    <input type="hidden" name="tutorial" value="{{ tutorial.pk }}" />
                    <input type="hidden" name="version" value="{{ version }}" />
                    {% csrf_token %}
                </form>
            </li>
            <li>
                <form action="{% url "zds.tutorial.views.reject_tutorial" %}" method="post">
                    <button type="submit" name="reject-tuto">Confirmer le rejet</button>
                    <textarea name="comment-r" rows="3" placeholder="Vos commentaires de rejet"> </textarea>
                    <input type="hidden" name="tutorial" value="{{ tutorial.pk }}" />
                    <input type="hidden" name="version" value="{{ version }}" />
                    {% csrf_token %}
                </form>
            </li>
            {% if tutorial.on_line %}
            <li>
                <form action="{% url "zds.tutorial.views.invalid_tutorial" %}" method="post">
                    <button type="submit" name="invalid-tuto">Dépublier</button>
                    <input type="hidden" name="tutorial" value="{{ tutorial.pk }}" />
                    <input type="hidden" name="version" value="{{ version }}" />
                    {% csrf_token %}
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="large-1 columns hide-for-small">
            {% if tutorial.image %}
            <img src="{{tutorial.image.thumb.url }}"/>
            {% endif %}
        </div>
        <div class="large-6 columns">
        <p>
            Tutoriel
            {% if not tutorial.is_mini %}
                étendu
            {% endif %}
            rédigé par
            {% for member in tutorial.authors.all %}
                {% if forloop.counter > 1 %}
                    {% if forloop.last %}
                        et
                    {% else %}
                        ,
                    {% endif %}
                {% endif %}
                {% include "member/member_item_common.part.html" %}
            {% endfor %}.
        </p>
        </div>
        <div class="large-5 columns">
            <p>
            {% for category in tutorial.subcategory.all %}
                <span class="label">{{ category.title }}</span>
            {% endfor %}
            </p>
        </div>
    </div>
</div>
{% if tutorial.in_beta and tutorial.sha_beta == version %}
<div class="row">
    <div class="large-12 columns alert-box">
        Attention, cette version du tutoriel est en BETA
    </div>
</div>
{% endif %}
<div class="row">
    <div class="large-12 columns">
    {% with tuto_version=tutorial|repo_tuto:version %}
        {% if tuto_version.introduction %}
            {{ tuto_version.introduction|emarkdown }}
        {% else %}
            <p>Aucune introduction.</p>
        {% endif %}

        {% if tutorial.is_mini %}
        {# Small tutorial #}

            {% with authors=tutorial.authors.all %}
                {% include "tutorial/view_chapter_common.part.html" %}
            {% endwith %}

        {% else %}
        {# Large tutorial #}

            <hr />
            {% if parts %}
                {% for part in parts %}
                    <h2>
                        <a href="{% url "view-part-url" tutorial.pk tutorial.slug part.slug %}{%if version %}?version={{version}}{% endif %}">
                            Partie {{ part.position_in_tutorial }} : {{ part.title }}
                        </a>
                    </h2>
                {% endfor %}
            {% else %}
                <p>
                    Il n'y a actuellement aucune partie dans ce tutoriel.
                </p>
            {% endif %}
            <hr />

        {% endif %}

        {% if tuto_version.conclusion %}
            {{ tuto_version.conclusion|emarkdown }}
        {% else %}
            <p>Aucune conclusion.</p>
        {% endif %}
    {% endwith %}
    </div>
</div>
{% endblock %}
