{% extends "tutorial/base_read.html" %}

{% block title %}
    {{ part.title }} ({{ part.tutorial.title }})
{% endblock %}

{% block head-image %}
    {% if part.tutorial.image %}
        <img src="{{part.tutorial.image.thumb.url }}" alt=""/>
    {% endif %}
{% endblock %}

{% block head-title %}
    {{ part.title }}
{% endblock %}

{% block head-tag %}
    {% for category in part.tutorial.subcategory.all %}
        <li><a href="#">{{ category.title }}</a></li>
    {% endfor %}
{% endblock %}

{% block head-authors %}
    {% for member in part.tutorial.authors.all %}
        <li>
            {% include "member/member_item_common.part.html" %}
        </li>
    {% endfor %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ part.tutorial.get_absolute_url_online }}">{{ part.tutorial.title }}</a></li>
    <li class="current"><a href="#">{{ part.title }}</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns read-content">
        {% include "tutorial/view_part_online_common.part.html" %}
    </div>
</div>
{% endblock %}

{% block headline-actions %}
    {% if perms.tutorial.change_tutorial%}
    <h3>Administration</h3>
    <ul>
        <li><a href="{{ part.tutorial.get_absolute_url }}">Version offline</a></li>
    </ul>
    {% endif %}
    {% with tutorial=part.tutorial %}
    {% with parts=part.tutorial.parts %}
        {% include "tutorial/toc_common_online.html" %}
    {% endwith %}
    {% endwith %}
{% endblock %}