{# Block displaying a part #}
{% load markup %}
{% load emarkdown %}

{% with tutorial=part.tutorial%}
    {% with authors=tutorial.authors.all %}
        {% with chapters=part.get_chapters %}            
            {% if part.get_introduction_online %}
                {{ part.get_introduction_online|safe }}
            {% else %}
                <p>Pas d'introduction.</p>
            {% endif %}

            <p>
                {% if chapters.count = 0 %}
                Il n'y a aucun chapitre dans cette partie.
                {% endif %}
            </p>

            <ul>
                {% for chapter in chapters %}
                <li>
                    <a href="{% url "view-chapter-url-online" tutorial.pk tutorial.slug part.slug chapter.slug %}">Chapitre {{ chapter.part.position_in_tutorial }}.{{ chapter.position_in_part }} | {{ chapter.title }}</a>
                    <ul>
                        {% for extract in chapter.get_extracts %}
                        <li>
                            <a href="{% url "view-chapter-url-online" tutorial.pk tutorial.slug part.slug chapter.slug %}#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}">
                                {{ extract.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <br />
                </li>
                {% endfor %}
            </ul>

            {% if part.get_conclusion_online %}
                {{ part.get_conclusion_online|safe}}
            {% else %}
                <p>Pas de conclusion.</p>
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endwith %}
