{% extends "tutorial/base.html" %}
{% load markup %}

{% block title %}
    {{ part.title }} ({{ part.tutorial.title }})
{% endblock %}

{% block headline %}
    Partie {{ part.position_in_tutorial }} : {{ part.title }}<br />
    <small>{{ part.tutorial.title }}</small>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ part.tutorial.get_absolute_url }}">{{ part.tutorial.title }}</a></li>
    <li class="current"><a href="#">{{ part.title }}</a></li>
{% endblock %}

{% block headline-sub-actions %}
    <li><a href="{% url "zds.tutorial.views.add_extract" %}?chapitre={{ tutorial.get_chapter.pk }}">Ajouter un extrait</a></li>
    <li><a href="{% url "zds.tutorial.views.edit_part" %}?partie={{ part.pk }}">Éditer</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
    	{% if part.chapters %}
        <ul>
        {% for chapter in part.chapters %}
        	<li>{{ chapter.slug }}</li>
        {% endfor %}
    	</ul>
    	{% endif %}
    </div>
</div>

{% endblock %}
