{% extends "tutorial/base.html" %}
{% load emarkdown %}
{% load humane_date %}
{% load profile %}

{% block title %}
{{ tutorial.title }}
{% endblock %}

{% block headline %}
    <h1 class="illu">
        {% if tutorial.image %}
            <img src="{{tutorial.image.thumb.url }}" alt=""/>
        {% endif %}
        {{ tutorial.title }}
    </h1>
    <ul class="taglist">
    {% for category in tutorial.subcategory.all %}
        <li><a href="#">{{ category.title }}</a></li>
    {% endfor %}
    </ul>
    
    <div class="authors content-wrapper">
        <span class="authors-label">Auteurs : </span>
        <ul>
        {% for member in tutorial.authors.all %}
            <li>
                {% include "member/member_item_common.part.html" %}
            </li>
        {% endfor %}.
        </ul>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ tutorial.title }}</a></li>
{% endblock %}

{% block headline-actions %}

    {% if perms.tutorial.change_tutorial%}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Administrations">
        <h3>Admin<span class="wide">istration</span></h3>
        <ul>
            <li><a href="{{ tutorial.get_absolute_url }}">Version offline</a></li>
            <li><a href="{% url "zds.tutorial.views.history_validation" tutorial.pk %}">Historique validation</a></li>
            <li>
                <form action="{% url "zds.tutorial.views.invalid_tutorial" %}" method="post">
                    <button type="submit" name="invalid-tuto">Dépublier</button>
                    <input type="hidden" name="tutorial" value="{{ tutorial.pk }}" />
                    <input type="hidden" name="version" value="{{ version }}" />
                    {% csrf_token %}
                </form>
            </li>
        </ul>
    </div>
    {% endif %}

    {% include "tutorial/toc_common_online.html" %}
{% endblock %}

{% block content %}

{% if tutorial.get_introduction_online %}
    {{ tutorial.get_introduction_online|safe }}
{% else %}
    <p>Aucune introduction.</p>
{% endif %}
{% if tutorial.is_mini %}
{# Small tutorial #}

    {% with authors=tutorial.authors.all %}
        {% include "tutorial/view_chapter_online_common.part.html" %}
    {% endwith %}
{% else %}
{# Large tutorial #}

    <hr />
    {% if parts %}
        {% for part in parts %}
            <h2>
                <a href="{% url "view-part-url-online" tutorial.pk tutorial.slug part.slug %}">
                    Partie {{ part.position_in_tutorial }} : {{ part.title }}
                </a>
            </h2>
            {% include "tutorial/view_part_online_common.part.html" %}
        {% endfor %}
    {% else %}
        <p>
            Il n'y a actuellement aucune partie dans ce tutoriel.
        </p>
    {% endif %}
    <hr />

{% endif %}

{% if tutorial.get_conclusion_online %}
    {{ tutorial.get_conclusion_online|safe }}
{% else %}
    <p>Aucune conclusion.</p>
{% endif %}
 
<h1>Commentaires</h1>
    {% with topic=tutorial %}
    {% include "forum/topic_pagination.part.html" with position="top" %}
    {% endwith %}
{% for note in notes %}
<article class="forum-message">
    <div class="user" id="p{{ note.id }}">
        <a href="{{ note.author.get_absolute_url }}" class="avatar-link">
            {% with profile=note.author|profile %}
            <img src="{{ profile.get_avatar_url }}" alt="" class="avatar">
            {% endwith %}
        </a>
    </div>
    <div class="message">
        {% if user.is_authenticated %}
        <ul class="message-actions">
            {% if note.author = user or perms.tutorial.change_note %}
            <li><a href="{% url "zds.tutorial.views.edit_note" %}?message={{ note.pk }}" class="ico-after edit">Editer</a></li>
            {% endif %}
            <li><a href="#" class="ico-after alert">Signaler</a></li>
            {% if not tutorial.is_locked and not tutorial.antispam %}
            <li><a href="{% url "zds.tutorial.views.answer" %}?tutorial={{ tutorial.pk }}&amp;cite={{ note.pk }}" class="ico-after cite">Citer</a></li>
            {% endif %}
        </ul>
        {% endif %}

        <div class="message-metadata">
            <a href="{{ note.author.get_absolute_url }}" class="username">{{ note.author.username }}</a>
            <a href="#p{{ note.pk }}" class="date">{{ note.pubdate|humane_date }}</a>
            {% if not note.is_visible %}
                <i>Masqué par {{ note.editor }} : {{ note.text_hidden }}</i>
            {% elif not note.update = None %}
                <i>(Edité {{ note.update|humane_date }} par {{ note.editor }} )</i>
            {% endif %}
        </div>

        <div class="message-content">
            {{ note.text|emarkdown }}
        </div>

        <div class="message-bottom">
            {% with profile=note.author|profile %}
                <p class="signature"> {{profile.sign|emarkdown_inline}} </p>
            {% endwith %}
            {% if user.is_authenticated %}
            <div class="message-karma">
                <a href="{% url "zds.tutorial.views.like_note" %}?message={{ note.pk }}" class="upvote {% if note.like > note.dislike %}voted{% endif%} ico-after">+{{note.like}}</a>
                <a href="{% url "zds.tutorial.views.dislike_note" %}?message={{ note.pk }}" class="downvote {% if note.like < note.dislike %}voted{% endif%} ico-after">-{{note.dislike}}</a>
            </div>
            {% endif %}
        </div>
    </div>
</article>
{% endfor %}

{% with topic=tutorial %}
{% include "forum/topic_pagination.part.html" with position="bottom" %}
{% endwith %}

{% if user.is_authenticated %}
{% with profile=user|profile%}
<section>
    <form action="{% url "zds.tutorial.views.answer" %}?tutorial={{ tutorial.pk }}" class="forum-message" method="POST" id="submit_form">
        <div class="user">
            <img src="{{profile.get_avatar_url}}" alt="" class="avatar avatar-link">
        </div>
        <div class="message">
            <ul class="message-actions">
                <li><a href="javascript:void(null);" class="ico-after alert">Fullscreen</a></li>
            </ul>

            <ul class="message-metadata message-buttons">
                <li><a href="javascript:void(null);" class="ico-after">Gras</a></li>
                <li><a href="javascript:void(null);" class="ico-after">Italique</a></li>
                <li><a href="javascript:void(null);" class="ico-after">Barré</a></li>
                <li><a href="javascript:void(null);" class="ico-after">Titre 1</a></li>
                <li><a href="javascript:void(null);" class="ico-after">Titre 2</a></li>
                <li><a href="javascript:void(null);" class="ico-after">Séparateur horizontal</a></li>
                <li><a href="javascript:void(null);" class="ico-after">Lien</a></li>
                <li><a href="javascript:void(null);" class="ico-after">Image</a></li>
                <li><a href="javascript:void(null);" class="ico-after">Code</a></li>
                <li><a href="javascript:void(null);" class="ico-after">Citation</a></li>
            </ul>

            <div class="message-content">
                <textarea name="text" id="md_text" cols="30" rows="10" {% if tutorial.is_locked or tutorial.antispam %}disabled{% endif %} placeholder="Votre message au format Markdown.">{% if tutorial.is_locked %}Ce tutorial est verrouillé.{% elif tutorial.antispam  %}Vous ne pouvez pas encore poster dans ce tutorial (protection antispam de 15 min).{% endif %}</textarea>
            </div>

            <div class="message-bottom">
                <div class="message-submit">
                    <button type="submit" name="preview" class="button secondary" {% if tutorial.is_locked or tutorial.antispam %}disabled{% endif %}>Aperçu</button>
                    <button type="submit" {% if tutorial.is_locked or tutorial.antispam %}disabled{% endif %} name="answer">Envoyer</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="last_note" value="{{ last_note_pk }}" />
        {% csrf_token %}
    </form>
</section>
{% endwith %}
{% endif %}
{% endblock %}

{% block additionnal-js %}
    <script>
        /* anwser check */
        $('#submit_form').submit(function(e){
            if ((!$(this).find('textarea').val()) || ($(this).find('textarea').val().trim()=='')) {
                alert('Votre message ne peut pas être vide.');
                e.preventDefault();
            }
        })
    </script>
{% endblock %}
