
{# this template will be used to generate the HTML file for each container ! #}

{% if container.introduction %}
    {{ container.introduction|safe }}
{% endif %}

{% if versioned_object.children|length != 0 %}
    <ul>
        {% for extract in versioned_object.children %}
            <li>
                <a href="#{{ extract.position_in_parent }}-{{ extract.slug }}">
                    {{ extract.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% for rendered_extract, model_extract in container.children %}
    <h2 id="{{ model_extract.position_in_parent }}-{{ model_extract.slug }}">
        <a href="#{{ model_extract.position_in_parent }}-{{ model_extract.slug }}">
            {{ model_extract.title }}
        </a>
    </h2>
    {% if rendered_extract.text %}
        <div class="extract-wrapper">
            {{ rendered_extract.text|safe }}
        </div>
    {% endif %}
{% endfor %}

<hr />

{% if container.conclusion %}
    {{ container.conclusion|safe }}
{% endif %}
