div.information{
	border : 1px solid #6ab0de;
	background-color: #e7f2fa;
	margin-bottom: 20px;
}

div.information > *{
	padding : 0.6rem;
}

div.information:before {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #FFF;
	content: "";
	background-position: center center;
	background-image: url('../img/information.png');
	background-color: #FFF;
	background-repeat: no-repeat;
	display: block;
}

div:not(.alert-box).warning{
	border : 1px solid #f0b37e;
	background-color: #ffedcc;
	margin-bottom: 20px;
}

div:not(.alert-box).warning > *{
	padding : 0.6rem;
}

div:not(.alert-box).warning:before {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #FFF;
	content: "";
	background-position: center center;
	background-image: url('../img/warning.png');
	background-color: #FFF;
	background-repeat: no-repeat;
	display: block;
}

*:not(form) > div:not(.alert-box).error{
	border : 1px solid #6B0D0D;
	background-color: #F7230C;
	margin-bottom: 20px;
	color : #FFF;
}

*:not(form) > div:not(.alert-box).error > *{
	padding : 0.6rem;
}

*:not(form) > div:not(.alert-box).error:before {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #FFF;
	content: "";
	background-position: center center;
	background-image: url('../img/error.png');
	background-color: #FFF;
	background-repeat: no-repeat;
	display: block;
}

div.question{
	border : 1px solid #DF73FF;
	background-color: #DF73FF;
	margin-bottom: 20px;
}

div.question > *{
	padding : 0.6rem;
}

div.question:before {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #FFF;
	content: "";
	background-position: center center;
	background-image: url('../img/question.png');
	background-color: #FFF;
	background-repeat: no-repeat;
	display: block;
}

div.spoiler {
	background-color: #333;
	margin-bottom: 20px;
}
div.spoiler > *{
	color : #FFF;
	display: none;
}

div.spoiler:before {
	cursor: pointer;
	background-color: #CCC;
	width: 100%;
	padding: 10px;
	content: "Cliquez pour lire le message";
	font-size: 12px;
	vertical-align: middle;
	background-position: center center;
	background-image: url('../img/view.png');
	background-repeat: no-repeat;
	display: block;
}


kbd
{
    -moz-border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    background-color:#f7f7f7;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:#333;
    display:inline-block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    line-height:1.4;
    margin:0 .1em;
    padding:.1em .6em;
    text-shadow:0 1px 0 #fff;
}