.top-bar-section .topmenu {
	font-size: 1.1em;
	font-variant: small-caps;
	line-height: 55px;
}

.top-bar-section .right .has-dropdown a:after{
	display: none;

}

.top-bar-section .right .dropdown li:not(.has-form) a:not(.button), .top-bar-section .right .dropdown li:not(.has-form) label {
	line-height: 24px;
}

.top-bar-section .dropdown {
	border-bottom: 3px solid #ff8c00;
}
.top-bar-section .right li .dropdown li:not(.has-form) a:not(.button) .right,
.top-bar-section .right li .dropdown li:not(.has-form) a:not(.button) .left {
	color : #95D7F5;
}

.top-bar-section ul, 
.top-bar-section .left li .dropdown li:not(.has-form) a:not(.button):hover{
	background : #084561 ;
}

.top-bar-section .right li .dropdown li:not(.has-form) a:not(.button):hover{
	background : #396a81 ;
}

.top-bar-section .right .dropdown li:nth-child(2n) a
{
	background-color: #19526c;
}

.top-bar-section .right .dropdown li:nth-child(2n+1) a,
.top-bar-section .right .dropdown li:first-child a, 
.top-bar-section .right .dropdown li:last-child a
{
	background-color: #084561;
}

.top-bar-section a img {
	max-height: 50px;
}

.top-bar-section .dropdown .avatar {
	max-height: 30px;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
	line-height: 40px;
}

.top-bar-section .dropdown form {
	width: 100%;
	height: 24px;

	button {
		width: 100%;
		top: -1px;
		text-align: left;
		line-height: 24px;
		height: 24px;
		font-size: 13px;
		padding: 0 20px;
		background: #084561;

		&:hover,
		&:focus {
			background: #396a81;
			transition: background-color 150ms ease-out;
		}
	}
}

/*
Logo
*/
.logo a img{
	max-height: 60px;
}

/*
Fil d'ariance
*/
/*
.breadcrumb {
        position: relative;
        display: block;
        float: left;
        width: calc(100% - 230px);
        height: 30px;

        &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 100%;
            background-image :linear-gradient(left, rgba(231, 235, 236, 0), rgba(231, 235, 236, .75));
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            li {
                position: relative;
                display: inline-block;
                padding-right: 30px;
                line-height: 30px;

                a {
                    text-decoration: none;
                    color: #084561;

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                        outline: none;
                    }
                }

                &:not(:last-child):after {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 7px;
                    content: " ";
                    height: 30px;
                    width: 15px;
                    background-image: url('../img/ariane.png');
                    background-repeat: no-repeat;
                    opacity : 0.2;
                }
            }
        }
    }
*/
.ariane {
	border-top: 3px solid #ff8c00;
	margin-bottom: 20px;
	padding-left: 30px;
	position: relative;
	display: block;
	float: left;
	width: calc(100%);
	height: 33px;
	background : #e7ebec;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
	box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}

.ariane ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ariane ul li {
	position: relative;
	display: inline-block;
	padding-right: 30px;
	line-height: 30px;
}

.ariane ul li a {
	text-decoration: none;
	color: #084561;
	font-size: 0.8rem;
}

.ariane ul li:not(:last-child):after {
	display: block;
	position: absolute;
	top: 0;
	right: 7px;
	content: " ";
	height: 30px;
	width: 15px;
	background-image: url('../img/ariane.png');
	background-repeat: no-repeat;
	opacity: 0.2;
}

.search {
        &:before {
            content: " ";
            display: block;
            position: absolute;
            left: -20px;
            height: 30px;
            width: 20px;
            background : linear-gradient(right, rgba(0, 0, 0, .03), rgba(0, 0, 0, 0));
        }
        form {
            input {
                padding: 8px 10px;
                height: 30px;
                width: 150px;
            }
            button {
                height: 30px;
                line-height: 30px;
                width: 30px;
                position: absolute;

                &:after {
                    top: 7px;
                }
            }
        }
        .search-more {
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
    }

/*
Side Bar
*/
.side-nav {
	background-color: #E3E5E5;
	border-bottom: none;

	padding: 0 0 10px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	color: #424242;
	margin-left: -$column-gutter;
}
.side-nav h5 {
	font-size: 1rem;
	padding-left: $column-gutter*2;
}
.side-nav h4 {
	font-size: 1.1rem;
	border-bottom: 1px solid #CCC;
	padding-left: $column-gutter;
}
.side-nav h3 {
	height: 40px;
	font-size: 1.2rem;
	line-height: 2.5rem;
	color: #084561;
	background-color: #d3d5d5;
	margin-top: 30px;

	background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(0,0,0,0.05)), color-stop(100%, transparent));
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.05),transparent 15px);
	background-image: -moz-linear-gradient(right, rgba(0,0,0,0.05),transparent 15px);
	background-image: -o-linear-gradient(right, rgba(0,0,0,0.05),transparent 15px);
	background-image: linear-gradient(right, rgba(0,0,0,0.05),transparent 15px);
}

.side-nav h3 {
	font-weight: 600;
	margin: 0;
	padding-left: 45px;
} 

.side-nav ul {
	margin-top: 10px;
}

.side-nav ul li{
	padding-left: 20px;
	padding-right: 10px;
	height: 24px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	white-space: initial;
}

.side-nav ul li a{
	text-decoration: none;
	color: #0079b2;
}

.side-nav ul li a:hover,
.side-nav ul li a:focus,
.side-nav .current
{
	background: #fff;
}

.side-nav ul li button{
	padding-left: 25px;
	overflow: hidden;
}

/**
Box
*/

.box {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.box + .subtitle {
	font-size: 1rem;
	color: #777;
	margin-left: -$column-gutter;
	margin-top: -15px;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: $column-gutter*2;
	background: #EEE;
	font-weight: normal;
}

h1.box, h2.box, h3.box, h4.box, h5.box {
	line-height: 40px;
	line-height: 2.6rem;
	color: #084561;
	font-weight: 600;
	background-color: #e0e4e5;
	margin: 1px 0 15px;
}

h1.box {
	font-size: 19px;
	font-size: 1.4rem;
	height: 44px;
}

h2.box {
	font-size: 18px;
	font-size: 1.3rem;
	height: 40px;
}

h3.box {
	font-size: 17px;
	font-size: 1.2rem;
	height: 36px;
}

h1.article, h2.article, h3.article, h4.article, h5.article {
	background-image: url('../img/articles.png');
	background-repeat: no-repeat;
	padding-left: 80px;
}

h1.tutoriel, h2.tutoriel, h3.tutoriel, h4.tutoriel, h5.tutoriel {
	background-image: url('../img/tutorials.png');
	background-repeat: no-repeat;
	padding-left: 80px;
}

h1.forum, h2.forum, h3.forum, h4.forum, h5.forum, h1.member, h2.member, h3.member, h4.member, h5.member {
	background-repeat: no-repeat;
	padding-left: 40px;
	margin-left: -30px;
}

.head-content img {
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-top: -10px;
}

.taglist {
	list-style: none;
	padding: 0;
	margin: -14px 0 15px;
	height: 30px;
	line-height: 30px;
}

.taglist li {
	float: right;
}

.taglist li a {
	display: block;
	text-decoration: none;
	padding: 0 10px;
	background: #FBFBFB;
	color: #aaa9a7;
	margin-left: 1px;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}

.taglist li a:before {
	content: "#";
}

.taglist li a:hover,.taglist li a:focus
{
	background:#FFF;color:#555;
	border-bottom:3px solid #999
}

.authors {
	color: #9c9c9c;
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e4e5;
}

.authors .authors-label {
	display: inline-block;
}

.authors ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.authors ul li {
	display: inline-block;
	margin: 0 7px;
}

.authors ul li a {
	display: block;
	text-decoration: none;
	color: #ee8709;
	height: 36px;
	line-height: 36px;
	padding: 0 8px 0 2px;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}

.read-content
{
	background-color: #FFF ;
	padding: 20px;
}

.read-content h2 a,
.read-content h3 a,
.read-content h4 a,
{
	color: #EE8709;
	text-decoration: none;
}

.read-content h2 a:hover,
.read-content h3 a:hover,
.read-content h4 a:hover
{
	text-decoration: underline;
}

.crop {
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px
}

.crop img {
    width: 100%;
    height: 250px;
    margin: -75px 0 0 0px;
}

.card {
	border-bottom: 1px solid #ff8c00;
	margin-bottom: 10px;
	padding-bottom: 10px;
	background: #FFF;
}

.card a{
	color: #333;
}

.card-forum {
	border-left: 2px solid #ff8c00;
	margin-bottom: 5px;
	padding: 10px;
}

.topics-entries {
	width: 100%;
	border : 0px;
	border-collapse:collapse;

}
.topics-entries tr td{
	border-bottom: 1px solid #ff8c00;
}

.unread a{
	font-weight: bold;
}

.topics-entries .read{
	background-color: #EEE;
}

.topics-entries .unread{
	background-color: #FFF;
}

.forum-entry-solved:before {
	content:url("../img/thumb-up-voted.png");
}

.forum-entry-locked:before {
	content:url("../img/lock-blue.png");
}

.forum-entry-sticky:before {
	content:url("../img/pin-blue.png");
}

#id_text {
	font-family: "Ubuntu Mono"
}

.message-forum {
	border: 1px solid #DDD;
	background: #FFF;
	margin-bottom:10px;
	border-bottom-width: 3px;
	padding-top: 20px;
}

@media #{$large-up} {
	.message-forum:after{
		content: " ";
		left: -15px;
		display: block;
		position: absolute;
		top: 15px;
		height: 0;
		width: 0;
		border: 15px solid transparent;
		border-left: 0;
		border-right-color: #FFF;
	}


	.avatar-forum:after{
		content: " ";
		right: 0px;
		display: block;
		position: absolute;
		top: 17px;
		height: 0;
		width: 0;
		border: 15px solid transparent;
		border-left: 0;
		border-right-color: #CCC;
	}
}

.message-forum .message-content {
	padding-top: 20px;
}

.message-content a{
	color: #ff8c00;
}

.message-content a:hover{
	text-decoration: underline;
}

.message-forum .message-content p{
	font-size: 0.8rem;
}
.message-forum .message-actions a {
	color: #999;
	text-decoration: none;
	margin-right: 5px;
	font-size: 0.8rem;
}
.useful {
	background-color: #e9f9dc;
}

.useful:after {
	border-right-color: #e9f9dc;
}

.before {
	background-color: #EEE
}

.before:after {
	border-right-color: #EEE;
}


.signature {
	text-overflow: ellipsis;
	width: 85%;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
}
.message-forum .message-metadata a,.message-forum .message-metadata i, .message-forum .signature p{
	color: #999;
	text-decoration: none;
	font-size: 0.7rem;
}

.message-forum .message-metadata {
	border-bottom: 1px solid #999;
}

.username {
	font-size: 0.7rem;
	padding: 5px;
	text-align: center;
}

.avatar-forum {
	border-radius: 15%;
}

.upvote, .downvote {
	font-weight: bold;
}

.upvote {
	border-left: 3px solid $success-color;
}

.downvote {
	border-left: 3px solid $alert-color;
}

.form-alone
{
	width: 70%;
	margin: 0 auto;
}

.buttonHolder {
	text-align: center;
}

.selectmultiple {
	min-height: 120px;
}

figure {
    text-align: center;
}

figure figurecaption {
    display: block;
}

figure > table, blockquote ~ figurecaption, blockquote {
    text-align: left;
}

img ~ figurecaption {
    margin-top: 15px;
    font-style: italic;
}

blockquote ~ figurecaption p:before {
    content: "- ";
}

blockquote ~ figurecaption {
    font-style: italic;
}
