/* ===== Zeste de Savoir ====================================================
   Only for extra-wide screens with width > 1140px
   ---------------------------------
   Author: Alex-D / Alexandre Demode
   ========================================================================== */



@media only screen and (min-width: 1140px) {
    .wide {
        display: inline;
    }
    table .wide {
        display: table-cell;
    }

    .header-container .header-menu {
        width: 40%;
        margin-left: 5%;
    }

    .full-content-wrapper .tutorial-list article {
        width: 29.3%;
    }
}