/* Lucida Grande */
@font-face {
  font-family: 'Lucida Grande';
  src: url('../font/LucidaGrande.woff') format('woff'), url('../font/LucidaGrande.otf') format('otf'), url('../font/LucidaGrande.ttf') format('ttf');
}

/* Proxima Nova */

@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 400;
  src: url('../font/ProximaNovaRegular.woff') format('woff'), url('../font/ProximaNovaRegular.otf') format('otf');
}

@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 600;
  src: url('../font/ProximaNovaSemibold.woff') format('woff'), url('../font/ProximaNovaSemibold.otf') format('otf');
}

@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 700;
  src: url('../font/ProximaNovaBold.woff') format('woff'), url('../font/ProximaNovaBold.otf') format('otf');
}

@font-face {
  font-family: 'Proxima';
  font-style: italic;
  font-weight: 400;
  src: url('../font/ProximaNovaRegularItalic.woff') format('woff'), url('../font/ProximaNovaRegularItalic.otf') format('otf');
}

@font-face {
  font-family: 'Proxima';
  font-style: italic;
  font-weight: 600;
  src: url('../font/ProximaNovaSemiboldItalic.woff') format('woff'), url('../font/ProximaNovaSemiboldItalic.otf') format('otf');
}

@font-face {
  font-family: 'Proxima';
  font-style: italic;
  font-weight: 700;
  src: url('../font/ProximaNovaBoldItalic.woff') format('woff'), url('../font/ProximaNovaBoldItalic.otf') format('otf');
}