/* ===== Zeste de Savoir ====================================================
   Form style
   ---------------------------------
   Author: Alex-D / Alexandre Demode
   ========================================================================== */



.content-container,
#modals {
    form {
        width: 100%;

        p {
            position: relative;
        }
    }



    fieldset {
        border-top: 1px solid #DDD;
        border-bottom: 3px solid #DDD;
        background: #EFEFEF;
        padding: 0 4%;

        legend {
            padding: 0 10px;
            border-top: 1px solid #DDD;
            border-bottom: 3px solid #DDD;
            background: #EFEFEF;
        }
    }



    label {
        display: block;
        color: #555;
        height: 30px;
        line-height: 30px;

        .asteriskField {
            color: #C0392B;
            margin-left: 4px;
        }
    }
    .small-content-wrapper .asteriskField {
        display: none;
    }
    .form-error {
        display: block;
        font-size: 13px;
        color: #C0392B;
    }

    input,
    textarea {
        border: 1px solid #D2D5D6;

        &:focus {
            outline-color: #999;
        }

        &.field-error,
        &:invalid {
            border-color: #C0392B;

            &:focus {
                outline-color: #C0392B;
            }
        }

        &[disabled],
        .disabled {
            background: #DDD !important;
            color: #555;
        }
    }
    input,
    textarea,
    button,
    .btn {
        -webkit-appearance: none;
        transition: all $transition-duration ease;
    }

    input:not([type=submit]):not([type=reset]):not([type=radio]):not([type=checkbox]) {
        width: calc(98% - 2px);
        padding: 0 1%;
    }
    textarea {
        width: calc(98% - 2px);
        padding: 10px 1%;
        font-family: $font-monospace;
    }

    input,
    button,
    .btn {
        display: block;
        height: 30px;

        &.ico-after {
            padding-left: 30px;

            &:after {
                margin: 12px 0 0 7px;
            }
        }
    }
    [type=submit],
    button,
    .btn {
        position: relative;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        color: #DDD;
        padding: 0 15px;
        border: none;
        float: right;
        text-decoration: none;
        margin-left: 1px;
        outline: none;

        &.submitted {
            color: #555;

            // Animation loading on submit buttons
            .line-loading {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0%;
                height: 1px;
                background: #555;
                animation: lineLoading linear 1s infinite;
            }
        }
    }
    [type=submit],
    .btn-submit {
        color: #FFF;
        background: $primary;

        &:not([disabled]):hover,
        &:not([disabled]):focus,
        &:not(.disabled):hover,
        &:not(.disabled):focus {
            background: lighten($upvote, 7%);
        }

        &.disabled.submitted {
            color: $upvote;

            .line-loading {
                background: $upvote;
            }
        }
    }
    .btn-cancel {
        background: $downvote;

        &:not([disabled]):hover,
        &:not([disabled]):focus,
        &:not(.disabled):hover,
        &:not(.disabled):focus {
            background: lighten($downvote, 7%);
        }

        &.disabled.submitted {
            color: $downvote;

            .line-loading {
                background: $downvote;
            }
        }
    }
    .btn-grey {
        background: #EEE;
        color: #555;

        &:not([disabled]):hover,
        &:not([disabled]):focus,
        &:not(.disabled):hover,
        &:not(.disabled):focus {
            background: #CCC;
            color: #333;
        }

        &.disabled.submitted {
            color: #555;

            .line-loading {
                background: #999;
            }
        }
    }
    [disabled],
    .disabled {
        cursor: default !important;
        background: #EEE !important;

        &:not(.submitted){
            color: #BBB !important;
        }
    }

    .form-sub-link {
        display: block;
        display: inline-block;
        margin-top: 8px;
    }

    .buttonHolder {
        margin-top: 25px;
        min-height: 40px;
    }
}

.wf-active {
    .content-container,
    #modals {
        textarea {
            font-family: $font-monospace-active;
        }
    }
}

.main-container,
#modals {
    input[type=radio],
    input[type=checkbox] {
        float: left;
        margin-right: 5px;
        height: 15px;
        width: 15px;
        border: 1px solid #BBB;
        background: #FCFCFC;
        transition: none;
    }
    input[type=radio] {
        border-radius: 50%;
    }
    input[type=radio]:checked {
        @include sprite-pos($radio);
    }
    input[type=checkbox]:checked {
        @include sprite-pos($check);
    }


    // TEMP STYLES TO PATCH TEMP TEMPLATE PACK MIX
    .checkbox,
    .radio {
        padding: 10px 0;

        input {
            margin-top: 8px;
        }
    }
    .controls .radio {
        padding-top: 3px;
        padding-bottom: 0;
    }
}




@keyframes lineLoading {
    0% {
        width: 0%;
        left: 0;
        right: inherit;
    }
    49% {
        left: 0;
        right: inherit;
    }
    50% {
        width: 100%;
        left: inherit;
        right: 0;
    }
    100% {
        left: inherit;
        right: 0;
    }
}