/* ===== Zeste de Savoir ====================================================
   Author: Alex-D / Alexandre Demode
   ---------------------------------
   Override for high pixel ratio screens : HD icons
   ========================================================================== */


// Temporary active @2x on all screens
//@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 4/3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){ 
    .header-logo-link {
        background-size: 100%;
        background-image: url('../images/logo@2x.png');
    }
    .ico,
    .ico-after:after,
    .breadcrumb ul li:not(:last-child):after,
    input[type=radio]:checked,
    input[type=checkbox]:checked {
        background-size: round($sprite_width / 2) round($sprite_height / 2) !important;
        //background-size: 50% 50% !important;
        background-image: $sprite2x !important;
    }

    .js.enable-mobile-menu .page-container .mobile-menu-btn:after {
        @include sprite-pos($menu, true);
    }

    .logbox .notifs-links .ico-link .notif-text {
        &.ico-messages {
            @include sprite-pos($messages, true);
        }
        &.ico-notifs {
            @include sprite-pos($notifications, true);
        }
        &.ico-alerts {
            @include sprite-pos($alerts, true);
        }
        &.ico-params {
            @include sprite-pos($params, true);
        }
    }

    .breadcrumb ul li:not(:last-child):after {
        @include sprite-pos($ariane, true);
    }

    .search form button:after {
        @include sprite-pos($search, true);
    }

    .main .content-container h2 {
        &.ico-articles:after {
            @include sprite-pos($articles, true);
        }
        &.ico-tutorials:after {
            @include sprite-pos($tutorials, true);
        }
    }



    /* ==============
        Forms
       ============== */
    .content-container,
    #modals {
        input[type=radio]:checked {
            @include sprite-pos($radio, true);
        }
        input[type=checkbox]:checked {
            @include sprite-pos($check, true);
        }
    }



    /* ==============
        Markdown icons
       ============== */
    .main .content-container {
        .article-content,
        .message-content {
            .information.ico-after:after {
                @include sprite-pos($information, true);
            }
            .question.ico-after:after {
                @include sprite-pos($question, true);
            }
            .error.ico-after:after {
                @include sprite-pos($error, true);
            }
            .warning.ico-after:after {
                @include sprite-pos($warning, true);
            }
        }
    }



    /* ==============
        ALL: Icons
       ============== */
    .ico-after {
        // TODO : faire une vraie icône online
        &.online,
        &.view {
            &:after {
                @include sprite-pos($view, true);
            }
            &.blue:after {
                @include sprite-pos($view-blue, true);
            }
            &.light:after {
                @include sprite-pos($view-light, true);
            }
        }
        &.edit {
            &:after {
                @include sprite-pos($edit, true);
            }
            &.blue:after {
                @include sprite-pos($edit-blue, true);
            }
            &.light:after {
                @include sprite-pos($edit-light, true);
            }
        }
        &.alert {
            &:after {
                @include sprite-pos($alert, true);
            }
            &.blue:after {
                @include sprite-pos($alert-blue, true);
            }
            &.light:after {
                @include sprite-pos($alert-light, true);
            }
        }
        &.cite {
            &:after {
                @include sprite-pos($cite, true);
            }
            &.blue:after {
                @include sprite-pos($cite-blue, true);
            }
            &.light:after {
                @include sprite-pos($cite-light, true);
            }
        }

        &.tick {
            &:after {
                @include sprite-pos($tick, true);
            }
            &.green:after {
                @include sprite-pos($tick-green, true);
            }
            &.light:after {
                @include sprite-pos($tick-light, true);
            }
        }

        &.upvote {
            &:after {
                @include sprite-pos($thumb-up, true);
            }
            &.voted:after {
                @include sprite-pos($thumb-up-voted, true);
            }
        }
        &.downvote {
            &:after {
                @include sprite-pos($thumb-down, true);
            }
            &.voted:after {
                @include sprite-pos($thumb-down-voted, true);
            }
        }

        &.lock {
            &:after {
                @include sprite-pos($lock, true);
            }
            &.blue:after {
                @include sprite-pos($lock-blue, true);
            }
            &.light:after {
                @include sprite-pos($lock-light, true);
            }
        }

        &.more {
            &:after {
                @include sprite-pos($more, true);
            }
            &.blue:after {
                @include sprite-pos($more-blue, true);
            }
            &.light:after {
                @include sprite-pos($more-light, true);
            }
        }
        &.cross {
            &:after {
                @include sprite-pos($cross, true);
            }
            &.blue:after {
                @include sprite-pos($cross-blue, true);
            }
            &.red:after {
                @include sprite-pos($cross-red, true);
            }
            &.light:after {
                @include sprite-pos($cross-light, true);
            }
            &.white:after {
                @include sprite-pos($cross-white, true);
            }
        }
        &.pin {
            &:after {
                @include sprite-pos($pin, true);
            }
            &.blue:after {
                @include sprite-pos($pin-blue, true);
            }
            &.light:after {
                @include sprite-pos($pin-light, true);
            }
        }
        &.beta {
            &:after {
                @include sprite-pos($beta, true);
            }
            &.blue:after {
                @include sprite-pos($beta-blue, true);
            }
            &.light:after {
                @include sprite-pos($beta-light, true);
            }
        }
        &.gear {
            &:after {
                @include sprite-pos($gear, true);
            }
            &.blue:after {
                @include sprite-pos($gear-blue, true);
            }
            &.light:after {
                @include sprite-pos($gear-light, true);
            }
        }
        // TODO : faire une vraie icône offline
        &.offline,
        &.arrow-right {
            &:after {
                @include sprite-pos($arrow-right, true);
            }
            &.blue:after {
                @include sprite-pos($arrow-right-blue, true);
            }
            &.light:after {
                @include sprite-pos($arrow-right-light, true);
            }
        }
        &.arrow-left {
            &:after {
                @include sprite-pos($arrow-left, true);
            }
            &.blue:after {
                @include sprite-pos($arrow-left-blue, true);
            }
            &.light:after {
                @include sprite-pos($arrow-left-light, true);
            }
        }
        &.move {
            &:after {
                @include sprite-pos($move, true);
            }
            &.blue:after {
                @include sprite-pos($move-blue, true);
            }
            &.light:after {
                @include sprite-pos($move-light, true);
            }
        }
        &.star {
            &:after {
                @include sprite-pos($star, true);
            }
            &.yellow:after {
                @include sprite-pos($star-yellow, true);
            }
            &.blue:after {
                @include sprite-pos($star-blue, true);
            }
            &.light:after {
                @include sprite-pos($star-light, true);
            }
        }

        &.download {
            &:after {
                @include sprite-pos($download, true);
            }
            &.blue:after {
                @include sprite-pos($download-blue, true);
            }
            &.light:after {
                @include sprite-pos($download-light, true);
            }
        }

        &.import {
            &:after {
                @include sprite-pos($import, true);
            }
            &.blue:after {
                @include sprite-pos($import-blue, true);
            }
            &.light:after {
                @include sprite-pos($import-light, true);
            }
        }

        &.history {
            &:after {
                @include sprite-pos($history, true);
            }
            &.blue:after {
                @include sprite-pos($history-blue, true);
            }
            &.light:after {
                @include sprite-pos($history-light, true);
            }
        }

        &.rss {
            &:after {
                @include sprite-pos($rss, true);
            }
            &.blue:after {
                @include sprite-pos($rss-blue, true);
            }
            &.orange:after {
                @include sprite-pos($rss-orange, true);
            }
            &.light:after {
                @include sprite-pos($rss-light, true);
            }
        }
    }
//}