/* ===== Zeste de Savoir ====================================================
   Override for high pixel ratio screens : HD icons
   ---------------------------------
   Author: Alex-D / Alexandre Demode
   ========================================================================== */


// Temporary active @2x on all screens
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (-o-min-device-pixel-ratio: 4/3),
       only screen and (min-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 192dpi),
       only screen and (min-resolution: 2dppx) {
    .header-logo-link {
        background-size: 100%;
        background-image: url('../images/logo@2x.png');
    }
    .ico,
    .ico-after:after,
    .breadcrumb ol li:not(:last-child):after,
    input[type=radio]:checked,
    input[type=checkbox]:checked {
        @include sprite-retina();
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-width: 959px),
       only screen and (min--moz-device-pixel-ratio: 1.3) and (max-width: 959px),
       only screen and (-o-min-device-pixel-ratio: 4/3) and (max-width: 959px),
       only screen and (min-device-pixel-ratio: 1.3) and (max-width: 959px),
       only screen and (min-resolution: 192dpi) and (max-width: 959px),
       only screen and (min-resolution: 2dppx) and (max-width: 959px) {

    .js.enable-mobile-menu .mobile-menu-hide .page-container .mobile-menu-btn:after {
        @include sprite-retina();
    }

    .page-container .header-logo-link {
        background-image: url('../images/logo-mobile@2x.png') !important;
    }
}
