/* ===== Zeste de Savoir ====================================================
   Override for high pixel ratio screens : HD icons
   ---------------------------------
   Author: Alex-D / Alexandre Demode
   ========================================================================== */


// Temporary active @2x on all screens
//@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 4/3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){ 
    .header-logo-link {
        background-size: 100%;
        background-image: url('../images/logo@2x.png');
    }
    .ico,
    .ico-after:after,
    .breadcrumb ol li:not(:last-child):after,
    input[type=radio]:checked,
    input[type=checkbox]:checked {
        background-size: round($sprite_width / 2) round($sprite_height / 2) !important;
        background-image: $sprite2x !important;
    }

    .js.enable-mobile-menu .page-container .mobile-menu-btn:after {
        @include sprite-pos($menu, true);
    }

    .logbox .notifs-links .ico-link .notif-text {
        &.ico-messages {
            @include sprite-pos($messages, true);
        }
        &.ico-notifs {
            @include sprite-pos($notifications, true);
        }
        &.ico-alerts {
            @include sprite-pos($alerts, true);
        }
        &.ico-params {
            @include sprite-pos($params, true);
        }
    }

    .breadcrumb ol li:not(:last-child):after {
        @include sprite-pos($ariane, true);
    }

    .search,
    .search-box {
        form button:after {
            @include sprite-pos($search, true);
        }
    }

    .main .content-container {
        h1,
        h2 {
            &.ico-articles:after {
                @include sprite-pos($articles, true);
            }
            &.ico-tutorials:after {
                @include sprite-pos($tutorials, true);
            }
        }
    }



    /* ==============
        Forms
       ============== */
    .content-container,
    #modals {
        input[type=radio]:checked {
            @include sprite-pos($radio, true);
        }
        input[type=checkbox]:checked {
            @include sprite-pos($check, true);
        }
    }



    /* ==============
        Markdown icons
       ============== */
    .main .content-container {
        .article-content,
        .message-content {
            :not(.alert-box){
                &.information.ico-after:after {
                    @include sprite-pos($information, true);
                }
                &.question.ico-after:after {
                    @include sprite-pos($question, true);
                }
                &.error.ico-after:after {
                    @include sprite-pos($error, true);
                }
                &.warning.ico-after:after {
                    @include sprite-pos($warning, true);
                }
            }
        }
    }
//}