/* ===== Zeste de Savoir ====================================================
   All icons
   ---------------------------------
   Author: Alex-D / Alexandre Demode
   ========================================================================== */



/* ==============
    ALL: Icons
   ============== */
// TODO : Refaire tout ça
.ico-after {
    &.view {
        &:after {
            @include sprite-pos($view);
        }
        &.blue:after {
            @include sprite-pos($view-blue);
        }
    }
    &.edit:after {
        @include sprite-pos($edit);
    }
    &.alert:after {
        @include sprite-pos($alert);
    }
    &.cite:after {
        @include sprite-pos($cite);
    }

    &.tick {
        &:after {
            @include sprite-pos($tick);
        }
        &.green:after {
            @include sprite-pos($tick-green);
        }
    }

    &.unread {
        &:after {
            @include sprite-pos($unread);
        }
    }

    &.upvote {
        &:after {
            @include sprite-pos($thumb-up);
        }
        &.voted:after {
            @include sprite-pos($thumb-up-voted);
        }
    }
    &.downvote {
        &:after {
            @include sprite-pos($thumb-down);
        }
        &.voted:after {
            @include sprite-pos($thumb-down-voted);
        }
    }

    &.lock {
        &:after {
            @include sprite-pos($lock);
        }
        &.blue:after {
            @include sprite-pos($lock-blue);
        }
    }
    &.cross {
        &:after {
            @include sprite-pos($cross);
        }
        &.blue:after {
            @include sprite-pos($cross-blue);
        }
        &.red:after {
            @include sprite-pos($cross-red);
        }
        &.white:after {
            @include sprite-pos($cross-white);
        }
    }
    &.pin {
        &:after {
            @include sprite-pos($pin);
        }
        &.blue:after {
            @include sprite-pos($pin-blue);
        }
    }
    &.arrow-right {
        &:after {
            @include sprite-pos($arrow-right);
        }
        &.blue:after {
            @include sprite-pos($arrow-right-blue);
        }
    }
    &.star {
        &:after {
            @include sprite-pos($star);
        }
        &.yellow:after {
            @include sprite-pos($star-yellow);
        }
        &.blue:after {
            @include sprite-pos($star-blue);
        }
    }
    &.article {
        &:after {
            @include sprite-pos($article);
        }
    }
    &.tutorial {
        &:after {
            @include sprite-pos($tutorial);
        }
    }
    &.association {
        &:after {
            @include sprite-pos($logo);
        }
    }
    &.forum {
        &:after {
            @include sprite-pos($forum);
        }
    }
    &.hot-topics {
        &:after {
            @include sprite-pos($hot-topics);
        }
    }
    &.reaction {
        &:after {
            @include sprite-pos($reaction);
        }
    }
    &.github {
        &:after {
            @include sprite-pos($github);
        }
        &.blue:after {
            @include sprite-pos($github-blue);
        }
        &.light:after {
            @include sprite-pos($github-light);
        }
    }
}




//@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 4/3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){
    .ico-after {
        // TODO : faire une vraie icône online
        &.online,
        &.view {
            &:after {
                @include sprite-pos($view, true);
            }
            &.blue:after {
                @include sprite-pos($view-blue, true);
            }
            &.light:after {
                @include sprite-pos($view-light, true);
            }
        }
        &.hide {
            &:after {
                @include sprite-pos($hide, true);
            }
            &.blue:after {
                @include sprite-pos($hide-blue, true);
            }
            &.light:after {
                @include sprite-pos($hide-light, true);
            }
        }
        &.edit {
            &:after {
                @include sprite-pos($edit, true);
            }
            &.blue:after {
                @include sprite-pos($edit-blue, true);
            }
            &.light:after {
                @include sprite-pos($edit-light, true);
            }
        }
        &.alert {
            &:after {
                @include sprite-pos($alert, true);
            }
            &.blue:after {
                @include sprite-pos($alert-blue, true);
            }
            &.light:after {
                @include sprite-pos($alert-light, true);
            }
        }
        &.cite {
            &:after {
                @include sprite-pos($cite, true);
            }
            &.blue:after {
                @include sprite-pos($cite-blue, true);
            }
            &.light:after {
                @include sprite-pos($cite-light, true);
            }
        }

        &.email {
            &:after {
                @include sprite-pos($email, true);
            }
            &.blue:after {
                @include sprite-pos($email-blue, true);
            }
            &.light:after {
                @include sprite-pos($email-light, true);
            }
        }

        &.tick {
            &:after {
                @include sprite-pos($tick, true);
            }
            &.green:after {
                @include sprite-pos($tick-green, true);
            }
            &.light:after {
                @include sprite-pos($tick-light, true);
            }
        }

        &.unread {
            &:after {
                @include sprite-pos($unread, true);
            }
        }

        &.upvote {
            &:after {
                @include sprite-pos($thumb-up, true);
            }
            &.voted:after {
                @include sprite-pos($thumb-up-voted, true);
            }
        }
        &.downvote {
            &:after {
                @include sprite-pos($thumb-down, true);
            }
            &.voted:after {
                @include sprite-pos($thumb-down-voted, true);
            }
        }

        &.lock {
            &:after {
                @include sprite-pos($lock, true);
            }
            &.blue:after {
                @include sprite-pos($lock-blue, true);
            }
            &.light:after {
                @include sprite-pos($lock-light, true);
            }
        }

        &.more {
            &:after {
                @include sprite-pos($more, true);
            }
            &.blue:after {
                @include sprite-pos($more-blue, true);
            }
            &.light:after {
                @include sprite-pos($more-light, true);
            }
        }
        &.cross {
            &:after {
                @include sprite-pos($cross, true);
            }
            &.blue:after {
                @include sprite-pos($cross-blue, true);
            }
            &.red:after {
                @include sprite-pos($cross-red, true);
            }
            &.light:after {
                @include sprite-pos($cross-light, true);
            }
            &.white:after {
                @include sprite-pos($cross-white, true);
            }
        }
        &.pin {
            &:after {
                @include sprite-pos($pin, true);
            }
            &.blue:after {
                @include sprite-pos($pin-blue, true);
            }
            &.light:after {
                @include sprite-pos($pin-light, true);
            }
        }
        &.beta {
            &:after {
                @include sprite-pos($beta, true);
            }
            &.blue:after {
                @include sprite-pos($beta-blue, true);
            }
            &.light:after {
                @include sprite-pos($beta-light, true);
            }
        }
        &.gear {
            &:after {
                @include sprite-pos($gear, true);
            }
            &.blue:after {
                @include sprite-pos($gear-blue, true);
            }
            &.light:after {
                @include sprite-pos($gear-light, true);
            }
        }
        &.help {
            &:after {
                @include sprite-pos($help, true);
            }
            &.blue:after {
                @include sprite-pos($help-blue, true);
            }
            &.light:after {
                @include sprite-pos($help-light, true);
            }
        }
        // TODO : faire une vraie icône offline
        &.offline,
        &.arrow-right {
            &:after {
                @include sprite-pos($arrow-right, true);
            }
            &.blue:after {
                @include sprite-pos($arrow-right-blue, true);
            }
            &.light:after {
                @include sprite-pos($arrow-right-light, true);
            }
        }
        &.arrow-left {
            &:after {
                @include sprite-pos($arrow-left, true);
            }
            &.blue:after {
                @include sprite-pos($arrow-left-blue, true);
            }
            &.light:after {
                @include sprite-pos($arrow-left-light, true);
            }
        }
        &.move {
            &:after {
                @include sprite-pos($move, true);
            }
            &.blue:after {
                @include sprite-pos($move-blue, true);
            }
            &.light:after {
                @include sprite-pos($move-light, true);
            }
        }
        &.star {
            &:after {
                @include sprite-pos($star, true);
            }
            &.yellow:after {
                @include sprite-pos($star-yellow, true);
            }
            &.blue:after {
                @include sprite-pos($star-blue, true);
            }
            &.light:after {
                @include sprite-pos($star-light, true);
            }
        }

        &.download {
            &:after {
                @include sprite-pos($download, true);
            }
            &.blue:after {
                @include sprite-pos($download-blue, true);
            }
            &.light:after {
                @include sprite-pos($download-light, true);
            }
        }

        &.import {
            &:after {
                @include sprite-pos($import, true);
            }
            &.blue:after {
                @include sprite-pos($import-blue, true);
            }
            &.light:after {
                @include sprite-pos($import-light, true);
            }
        }

        &.history {
            &:after {
                @include sprite-pos($history, true);
            }
            &.blue:after {
                @include sprite-pos($history-blue, true);
            }
            &.light:after {
                @include sprite-pos($history-light, true);
            }
        }

        &.rss {
            &:after {
                @include sprite-pos($rss, true);
            }
            &.blue:after {
                @include sprite-pos($rss-blue, true);
            }
            &.orange:after {
                @include sprite-pos($rss-orange, true);
            }
            &.light:after {
                @include sprite-pos($rss-light, true);
            }
        }

        &.article {
            &:after {
                @include sprite-pos($article, true);
            }
        }
        &.tutorial {
            &:after {
                @include sprite-pos($tutorial, true);
            }
        }

        &.association {
            &:after {
                @include sprite-pos($logo, true);
            }
        }
        &.forum {
            &:after {
                @include sprite-pos($forum, true);
            }
        }
        &.hot-topics {
            &:after {
                @include sprite-pos($hot-topics, true);
            }
        }

        &.reaction {
            &:after {
                @include sprite-pos($reaction, true);
            }
        }

        // Social
        &.facebook {
            &:after {
                @include sprite-pos($facebook, true);
            }
            &.blue:after {
                @include sprite-pos($facebook-blue, true);
            }
            &.light:after {
                @include sprite-pos($facebook-light, true);
            }
        }
        &.twitter {
            &:after {
                @include sprite-pos($twitter, true);
            }
            &.blue:after {
                @include sprite-pos($twitter-blue, true);
            }
            &.light:after {
                @include sprite-pos($twitter-light, true);
            }
        }
        &.github {
            &:after {
                @include sprite-pos($github, true);
            }
            &.blue:after {
                @include sprite-pos($github-blue, true);
            }
            &.light:after {
                @include sprite-pos($github-light, true);
            }
        }
        &.google-plus {
            &:after {
                @include sprite-pos($google-plus, true);
            }
            &.blue:after {
                @include sprite-pos($google-plus-blue, true);
            }
            &.light:after {
                @include sprite-pos($google-plus-light, true);
            }
        }
        &.foursquare {
            &:after {
                @include sprite-pos($foursquare, true);
            }
            &.blue:after {
                @include sprite-pos($foursquare-blue, true);
            }
            &.light:after {
                @include sprite-pos($foursquare-light, true);
            }
        }
    }
//}