/* ===== Zeste de Savoir ====================================================
   Author: Alex-D / Alexandre Demode
   ---------------------------------
   Only for mega-wide screens with width > 1360px
   ========================================================================== */



@media only screen and (min-width: 1360px) {
    .main .content-container {
        .content-wrapper {
            max-width: 960px;
            margin: 0 auto;
        }
    }
}