/* ===== Zeste de Savoir ====================================================
   Style only for mobiles and tablets
   ---------------------------------
   Author: Alex-D / Alexandre Demode
   ========================================================================== */



@media only screen and (max-width: 760px) {
    #cookies-banner {
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;

        p {
            margin-top: 40px;
            padding: 0 20px;
        }

        a, #accept-cookies {
            display: block;
            width: 100%;
            height: 40px;
            padding: 0 !important;
            margin: 15px 0 0 0 !important;
            text-align: center;
        }
        a {
            margin-top: 40px !important;
            line-height: 40px;
        }
    }

    html.dropdown-active {
        overflow: hidden;

        .page-container {
            width: 100%;
        }

        .main-container {
            display: none;
        }
    }

    .header-menu-dropdown {
        display: none !important;
    }

    .dropdown {
        width: 100%;
        top: 180px;
        bottom: 0;
        border-bottom: none;

        .dropdown-list {
            overflow: auto;
            position: absolute;
            top: 36px;
            bottom: 50px;
        }
        .dropdown-link-all {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
            line-height: 50px;
        }
    }

    form.forum-message .message {
        padding-top: 0 !important;
    }

    .topic-message .message {
        .message-actions a {
            width: 0px;
            text-indent: -9999px;
        }
        .message-actions a,
        .message-karma a {
            &:after {
                left: 12px !important;
            }
        }
        .message-karma {
            a,
            span {
                margin-right: 1px;
                margin-left: 0;

                &.has-vote {
                    text-indent: 15px;
                    line-height: 14px;
                    font-size: 12px;
                    text-align: right;

                    &.downvote {
                        line-height: 40px;
                    }
                }
            }
        }
        .message-submit {
            display: block !important;
            width: 100%;
            margin: 0;

            button {
                float: right;
                display: block;
                width: calc(50% - 2px);
                margin-left: 1px !important;

                &.btn-grey {
                    float: left;
                }
            }
        }
    }


    .markdown-help {
        .open-markdown-help {
            position: relative;
            left: 0;
            bottom: 0;
            float: none;
            margin-left: 0 !important;
        }
    }
    .topic-message {
        .markdown-help {
            .markdown-help-more {
                margin-bottom: 0;
            }

            .open-markdown-help {
                position: relative;
                width: 100%;
                margin-left: -10px !important;
                padding-left: 40px;

                &:after {
                    margin-left: 15px;
                }
            }

            .show-markdown-help + .open-markdown-help {
                margin-top: 0;
            }
        }
    }
}