/* ===== Zeste de Savoir ====================================================
   Style only for mobiles and tablets
   ---------------------------------
   Author: Alex-D / Alexandre Demode
   ========================================================================== */



@media only screen and (max-width: 959px) {
    body {
        background: #222;
        
        &:not(.swipping) {
            .page-container,
            .mobile-menu {
                transition-property: transform;
                transition-duration: $transition-duration * 2;
                transition-timing-function: ease;
            }
        }
        &.swipping * {
            user-select: none;
            pointer-events: none;
        }
    }

    .js .page-container {
        position: absolute;
        z-index: 10;
        transform: translate3d(0, 0, 0);
    }
    .js .mobile-menu {
        display: block;
        position: absolute;
        position: fixed;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1;
        transform: translate3d(-20%, 0, 0);
        width: 90%;
        height: 100%;
        padding-bottom: 20px;
        background: #222;
        user-select: none;

        .search {
            height: 50px;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;

            input {
                color: #EEE;
                background-color: #333;
                width: 76%;
                height: 30px;
                padding: 10px 5%;
                font-size: 16px;
                font-size: 1.6rem;

                &:hover,
                &:focus {
                    padding-bottom: 7px;
                    border-bottom: 3px solid #084561;
                    background-color: #333;
                }
            }
            button {
                display: none;
            }
            .search-more {
                background-color: #3F3F3F;
                width: 14%;
                height: 50px;
                line-height: 50px;
                color: #CCC;
            }
        }

        .mobile-menu-bloc,
        .mobile-menu-link {
            width: 90%;
            line-height: 40px;
            text-indent: 0;
        }
        .mobile-menu-bloc {
            margin: 0 5% 15px;

            &:nth-child(2) {
                margin-top: 15px;
            }

            ul,
            li {
                margin: 0;
                padding: 0;
            }

            .mobile-menu-link {
                margin: 0;
                width: 100%;

                &.disabled {
                    opacity: .5;
                }
            }

            &:not(.mobile-show-ico) .ico-after:after {
                display: none;
            }

            &[data-title]:before {
                display: block;
                content: attr(data-title);
                height: 30px;
                font-size: 14px;
                font-size: 1.4rem;
                text-transform: uppercase;
                padding-bottom: 3px;
                border-bottom: 2px solid #3F3F3F;
                font-weight: bold;
                color: #666;
            }

            &.mobile-show-ico {
                .ico-after {
                    padding-left: 30px;
                    width: calc(100% - 30px);

                    &:after {
                        top: 12px;
                        left: 2px;
                    }
                }
            }
        }
        .mobile-menu-link {
            display: block;
            height: 40px;
            line-height: 40px;
            text-decoration: none;
            color: #CCC;
            font-size: 16px;
            font-size: 1.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            background: none;
            border: none;
            text-align: left;
            padding: 0;

            &.mobile-menu-sublink {
                width: 90%;
                margin: 0 0 0 10%;
            }

            &.mobile-menu-bloc[data-title] {
                height: 80px;
            }
            &.mobile-menu-bloc:not([data-title]) {
                margin-bottom: 0;
            }
            &:not(:last-child):not(.mobile-menu-bloc) {
                border-bottom: 1px solid #2C2C2C;
            }

            &[data-prefix]:before {
                content: "[" attr(data-prefix) "] ";
            }
            &.unread {
                font-weight: bold;
                color: #EEE;
            }

            img {
                float: left;
                margin: 5px 5px 5px 0;
                width: 30px;
                height: 30px;
            }
            .label {
                padding: 0 0 0 50px;
            }
            img + .label {
                padding: 0 0 0 10px;
            }
        }
    }
    .js.show-mobile-menu {
        width: 100%;

        body {
            position: fixed;
        }

        .page-container {
            height: 100%;
            transform: translate3d(90%, 0, 0);
            overflow: hidden;
            box-shadow: 0 0 7px rgba(0, 0, 0, .25);
        }

        .mobile-menu {
            transform: translate3d(0, 0, 0);
        }
    }

    // Mobile supports sidebar only
    .js.enable-mobile-menu {
        .mobile-menu-hide {
            display: none;
        }
        
        .page-container {
            .mobile-menu-bloc,
            .mobile-menu-link,
            .search {
                display: none;
            }

            .mobile-menu-btn + .header-logo {
                margin-left: 0;
            }


            // Adapt menu to smartphone with sidebar
            .mobile-menu-btn {
                display: block;
                float: left;
                height: 50px;
                width: 50px;

                &:after {
                    display: block;
                    content: " ";   
                    position: absolute;
                    top: 15px;
                    left: 13px;
                    height: 22px;
                    width: 22px;
                    background-image: $sprite;
                    background-repeat: no-repeat;
                    @include sprite-pos($menu);
                }
            }
        }
    }

    .page-container {
        .header-logo {
            width: 40px;
            height: 50px;
            margin-left: 50px;
            float: left;
        }
        .header-logo-link {
            background-image: url('../images/logo-mobile@2x.png') !important;
            background-size: 100%;
            width: 100%;
            height: 100%;

            &:after {
                display: block;
                content: attr(data-title);
                position: absolute;
                top: 0;
                left: 95px;
                right: 155px;
                line-height: 50px;
                text-indent: 0;
                text-align: left;
                font-weight: normal;
                font-size: 17px;
                font-size: 1.7rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 200px;
            }
        }

        .header-container .header-menu {
            height: 30px;

            .header-menu-list {
                padding-top: 50px;

                & > li > a {
                    line-height: 50px;
                }
            }
        }

        .logbox {
            float: right;
            width: 150px;
            background: none;

            .notifs-links {
                width: 100%;

                .ico-link {
                    height: 50px;
                    width: 50px;
                }
            }

            .dropdown {
                top: 50px;
            }
            .dropdown.my-account-dropdown .dropdown-list {
                bottom: 0;

                li {
                    height: 45px;
                    line-height: 45px;
                }
            }

            &.unlogged {
                font-size: 13px;
                font-size: 1.3rem;

                a {
                    background-color: rgba(255, 255, 255, .1);
                    line-height: 30px;
                    height: 30px;
                    margin: 10px 0;
                    width: 74px;
                    margin-right: 1px;
                }
            }
        }
    }

    // Mobile doesn't support sidebar
    html:not(.enable-mobile-menu) {
        .header-container {
            border-bottom: 1px solid #CCC;
        }

        .page-container {
            .header-logo {
                margin-left: 10px;
            }
            .header-logo-link {
                &:after {
                    left: 55px;
                    right: 205px;
                }
            }
        }


        .logbox {
            .notifs-links .ico-link,
            .my-account {
                position: absolute;
                top: 0;
                right: 0;
                height: 50px;
                width: 50px;

                .avatar {
                    height: 50px;
                    width: 50px;
                }
            }
            .notifs-links  {
                :nth-child(1) .ico-link {
                    right: 150px;
                }
                :nth-child(2) .ico-link {
                    right: 100px;
                }
                :nth-child(3) .ico-link,
                .ico-link:nth-child(3) {
                    right: 50px;
                }
            }

            &.unlogged {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }


    .main .content-container .new-btn-container {
        display: block;
        margin: 30px 0;
        border-top: 1px solid #DDD;
        overflow: hidden;

        .new-btn {
            display: block;
            width: 100%;
            padding: 7px 10px 7px 35px;
            text-decoration: none;
            height: 30px;
            line-height: 30px;
            background: #EEE;
            color: #333;
            border-bottom: 1px solid #DDD;

            &.ico-after:after {
                top: 13px;
                left: 10px;
            }
        }
    }





    /* ====================
        Content positionning
       ==================== */

    .main {
        width: 100%;
    }

    .main .content-container .content-col:not(:first-child),
    .main .sidebar {
        margin-top: 50px;
    }

    .home .main .content-container article {
        padding: 20px 4%;
    }

    .main .sidebar {
        width: 102.5%;
    }
    .main .sidebar h3,
    .main .sidebar h4,
    .main .sidebar ul li {
        padding-left: 5.5%;

        a {
            white-space: normal;
        }
    }

    .content-col-2:not(:first-child),
    .content-col-3:not(:first-child) {
        margin-top: 50px;
    }



    .header-menu-dropdown {
        display: none !important;
    }





    /* ====================
        Forums
       ==================== */
    .topic-list {
        .topic {
            background: none !important;
        }
    }

    .main .content-container .topic-message {
        padding: 20px 0;

        .user {
            position: absolute;
            top: 7px;
            z-index: 10;
            width: 100%;

            .avatar-link {
                float: left;
                display: none;
            }
            .badge {
                float: left;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                width: 50px;
                margin-top: -2px;
                margin-left: 10px;

                &.push-badge {
                    margin-left: 105px;
                }
            }
            .user-metadata {
                float: right;
                width: 140px;
                margin-right: 10px;

                a {
                    float: left;
                    height: 20px;
                    line-height: 20px;
                    border-bottom: none;
                    width: 68px;
                }
            }
        }
        .message {
            border-right: 0;
            border-left: 0;
            padding-top: 65px;

            .message-metadata {
                position: absolute;
                top: 0;
                left: 0;
                right: 10px;
                z-index: 15;
                height: 30px;
                line-height: 30px;

                .username {
                    margin-left: 5px;
                }

                .date {
                    float: right;
                }
            }

            .message-actions {
                margin: 35px 10px 0 0;
            }

            .message-bottom {
                min-height: 0;

                .signature {
                    display: none;
                }
                .message-karma {
                    position: absolute;
                    top: 35px;
                    left: 7px;

                    a,
                    span {
                        border-bottom-width: 1px !important;
                        border-bottom-color: #D2D5D6;
                    }

                    .tick {
                        text-indent: -9999px;
                        margin-right: 1px;

                        &:after {
                            left: 12px;
                        }
                    }

                    .upvote,
                    .downvote {
                        padding: 0 7px;
                        text-align: center;
                        min-width: 30px;
                    }
                }
            }
        }
    }





    /* ====================
        Tutorials/Articles
       ==================== */

    .main .content-container {
        .taglist,
        .pubdate {
            margin-left: 10px;
            margin-right: 10px;
        }

        .article-content {
            p,
            ul:not(.pagination) {
                font-size: 15px;
                font-size: 1.5rem;
                font-size: 1.8ex;
            }
        }
        .content-wrapper,
        .full-content-wrapper {
            h1,
            h2,
            h3,
            .subtitle {
                padding-left: 10px;
                padding-right: 10px;
            }
            .illu img {
                display: none;
            }

            h4,
            h5,
            h6,
            .authors,
            p,
            figure,
            blockquote {
                margin-left: 10px;
                margin-right: 10px;
            }

            figure {
                p,
                blockquote {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .license {
                position: absolute;
                margin-top: 0;
                top: 62px;
                right: 15px;
            }
        }
    }





    /* ====================
        Footer
       ==================== */

    .page-footer {
        text-align: center;
        height: auto;

        p {
            border-bottom: 1px solid darken($secondary, 40%);
        }
        p,
        ul {
            display: block;
            float: none;
        }
        ul {
            line-height: 30px;

            li {
                margin: 0 5px;
            }
        }
    }
}