/**
 * Zeste de Savoir
 * Main style file, imports everything
 * @file main.scss
 */

@import "variables/variables";
@import "sprite";
@import "mixins/display-flex";

/*------------------------
1. Normalize
------------------------*/
@import "vendors/normalize";

/*------------------------
2. Base
------------------------*/
@import "base/base";
@import "base/tables";
@import "base/forms";

/*------------------------
3. Typography
------------------------*/
@import "base/typography";

/*------------------------
4. Icons
------------------------*/
@import "base/icons";

/*------------------------
5. Helpers
------------------------*/
@import "base/helpers";

/*------------------------
6. Header
------------------------*/
@import "layout/header";
@import "components/header-dropdown";
@import "components/header-search";
@import "components/accessibility-bar";
@import "components/cookies-banner";

/*------------------------
7. Layout
------------------------*/
@import "layout/sidebar";
@import "layout/main";
@import "layout/content";
@import "layout/footer";

/*------------------------
8. Pages
------------------------*/
@import "pages/home";
@import "components/home-search-box";
@import "pages/gallery";

/*------------------------
9. Components
------------------------*/
@import "components/alert-box";
@import "components/authors";
@import "components/breadcrumb";
@import "components/editor";
@import "components/markdown-help";
@import "components/mobile-menu";
@import "components/modals";
@import "components/pagination";
@import "components/pygments";
@import "components/tags";
@import "components/topic-list";
@import "components/topic-message";
@import "components/tutorials-list";
@import "components/user-profile";

/*-------------------------
10. High pixel ratio (retina)
-------------------------*/
@import "base/high-pixel-ratio";