/* ===== Zeste de Savoir ====================================================
   All styles for *Zeste de Savoir* website
   ---------------------------------
   Author: Alex-D / Alexandre Demode
   ========================================================================== */





/**
 * Global vars
 */
$transition-duration: .15s;

/**
 * Colors
 */
$primary: #084561; // Blue for ZdS
$secondary: #F8AD32; // Orange for ZdS

$body-background: #F7F7F7; // Background of page body
$header-hover: #396a81; // Hover background of links in header
$helpful: #e9f9dc; // Background of helpful messages

$sidebar-background: #F0F0F0; // Background of sidebar
$sidebar-hover: #FFF; // Background of links on hover

$upvote: #48a200; // Green for ZdS / Upvote text & staff badge & submit button
$downvote: #c0392b; // Red for ZdS / Downvote text & cancel button

$kbd-color: #F8F6EA; // Base color for keyboard tag

// Margins
$modal-margin: 25px; // Default modal margin (biggest size)

// Font Famillies
$font-sans-serif: "Segoe UI", "Trebuchet MS", Helvetica, "Helvetica Neue", Arial, sans-serif;
$font-serif: "Liberation Serif", "Times New Roman", Times, Georgia, FreeSerif, serif;
$font-monospace: monospace, serif;
$font-sans-serif-active: "Source Sans Pro", $font-sans-serif;
$font-serif-active: "Merriweather", $font-serif;
$font-monospace-active: "Source Code Pro", $font-monospace;





/**
 * Import external mixins
 */
@import "mixins/display-flex";
@import "mixins/sprite-pos";

/**
 * Import sprite
 */
@import "sprite";

/**
 * Import custom styles
 */
@import "vendors/normalize";
@import "base";

@import "all-supports";
@import "form";
@import "editor";

// Fluid layout
@import "mobile";
@import "mobile-tablet";
@import "tablet";
@import "wide";
@import "extra-wide";
@import "mega-wide";

// Icons
@import "icons";

// Retina-like support
@import "high-pixel-ratio";

// Dependencies
@import "pygments";

// Disable a lot of styles for print
@import "print";
