/**
 * Zeste de Savoir
 * IE style file
 * @file only-ie.scss
 */

@import "variables/variables";

@media only screen and #{$media-wide} {
    .main-container {
        overflow: hidden;
    }

    .main {
        position: relative;
    }

    .main .content-container {
        float: right;
    }

    .main .content-container::before {
        background: $color-sidebar-background;
        padding:30px 0 50px 0;
        min-height: 2000px;
        position: absolute;
        display: block;
        content: " ";
        width: 22.5%;
        height: 100%;
        left: -.625%;
        top: 0;
    }

    .home .main .content-container::before {
        padding-top: 0;
        top: 30px;
    }

    .main .sidebar {
        position: relative;
    }

    .page-footer .wrapper > * {
        display: inline-block;
        position: relative;

        &.social {
            position: absolute;
            left: 0;
            right: 0;
        }

        &.links {
            float: right;
        }
    }
}