{% extends "member/base.html" %}
{% load i18n %}



{% block title %}
    {% trans "Mot de passe oublié" %}
{% endblock %}



{% block headline %}
    {% trans "Mot de passe oublié" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Mot de passe oublié" %}</li>
{% endblock %}



{% block content %}
    <p>
        {% trans "Un courriel contenant de plus amples instructions d’activation a été envoyé. Ce courriel se trouve peut-être dans vos spams" %}.
    </p>
{% endblock %}



{# No sidebar on this page #}
{% block body_class %}{% trans "no-sidebar" %}{% endblock %}
{% block sidebar %}{% endblock %}
