.alert-box {
    position: relative;
    padding: 8px 30px 8px 15px;
    margin: 0 0 15px 2%;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
    background: #777;

    &.alert-box-not-closable {
        padding-right: 15px;
    }

    .alert-box-text {
        display: block;
        float: left;
    }

    .close-alert-box {
        display: block;
        position: absolute;
        top: 8px;
        right: 15px;
        height: 20px;
        width: 20px;
        text-indent: -9999px;
        text-decoration: none;
        background-color: transparent;
        line-height: 22px;
        color: #FFF;

        &.ico-after:after {
            margin-top: 4px;
        }
    }
    .close-alert-box-text {
        width: auto;
        text-indent: 0;
        top: 8px;
    }

    .alert-box-title {
        margin: 5px 0;
        padding: 0;
        font-size: 18px;
        font-weight: normal;
    }

    &.info, // TEMP PATCH WITH DJANGO ALERTS
    &.success {
        background: #48A200;
    }
    &.error {
        background: #C0392B;
    }
    &.alert, // TEMP PATCH WITH DJANGO ALERTS
    &.warning {
        background: #e67e22;
    }
    &.not-member {
        background: #FDFDFD;
        color: #333;
        text-shadow: none;
        border-bottom: 3px solid  #D2D5D6;
    }

    &.ico-after {
        padding-left: 40px;

        &:after {
            margin: 12px 0 0 13px;
        }
    }

    h4,
    p {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    p {
        margin: 0;
    }

    a {
        color: #EEE;
    }
    .alert-box-btn {
        display: inline-block;
        background: $color-primary;
        text-decoration: none;
        padding: 8px 15px;
        margin: 5px 0;
        color: #FFF !important;

        &:hover,
        &:focus {
            background: lighten($color-primary, 7%);
        }

        &.alert-box-btn-right {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
        }
    }

    &.empty {
        display: none;
    }
}

.content-wrapper .alert-box {
    margin: 0 0 20px;

    & + .not-member {
        margin-top: -20px;
    }
}

.opinion-alerts {
    .alert-box-text {
        float: none;
    }
}

@media only screen and #{$media-tablet} {
    .alert-box .alert-box-text {
        display: inline;
    }
    .topic-message .alert-box {
        padding: 8px 75px 8px 15px;
    }
}

@media only screen and #{$media-mobile} {
    .alert-box {
        .alert-box-btn {
            &,
            &.alert-box-btn-right {
                position: relative;
                float: none;
                display: block;
                margin: 5px 0 0;
                text-align: center;
            }
        }
    }
}
