.authors {
    margin-bottom: $length-20 !important;
    padding-bottom: $length-10;

    border-bottom: $length-1 solid $grey-100;
    color: $grey-600;

    .authors-label {
        display: inline-block;
    }

    ul {
        display: inline-block;
        list-style: none;

        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;

            .avatar {
                height: $length-32;
                width: $length-32;

                margin-right: $length-4;
                margin-top: -$length-4;

                border: $length-1 solid $grey-200;
            }

            a {
                display: block;

                padding: 0 $length-8;

                height: $length-38;

                line-height: 2.65;
                color: $color-link;
                text-decoration: none;

                transition: background $transition-duration ease,
                            color $transition-duration ease,;

                &.ico-after {
                    padding-left: $length-32;

                    &:after {
                        margin: $length-10 0 0 $length-8;
                    }
                }

                &:hover,
                &:focus {
                    background: $grey-200;
                    color: $color-primary;
                }
            }

            .info {
                padding-left: $length-6;
                color: $grey-700;
            }
        }
    }
}
