.authors {
    color: #9c9c9c;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e4e5;
    margin-bottom: 20px !important;

    .authors-label {
        display: inline-block;
    }

    ul {
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            margin: 0;

            .avatar {
                height: 28px;
                width: 28px;
                border: 1px solid #cdd0d1;
                margin-right: 3px;
                margin-top: -4px;
            }

            a {
                display: block;
                text-decoration: none;
                color: lighten($color-primary, 20%);
                height: 36px;
                line-height: 36px;
                padding: 0 8px;
                transition: background $transition-duration ease, color $transition-duration ease,;

                &.ico-after {
                    padding-left: 30px;

                    &:after {
                        margin: 10px 0 0 8px;
                    }
                }

                &:hover,
                &:focus {
                    background: #DDD;
                    color: $color-primary;
                }
            }

            .info {
                padding-left: 5px;
                color: #777;
            }
        }
    }
}
