.breadcrumb {
    display: none;
}

@media only screen and #{$media-wide} {
    .breadcrumb {
        position: relative;
        display: flex;
        width: calc(100% - 60px * 4);
        height: 30px;
        padding-left: 2rem;

        &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 100%;
            background-image:linear-gradient(to right, rgba(231, 235, 236, 0), rgba(231, 235, 236, .75));
        }

        ol {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            li {
                position: relative;
                display: inline-block;
                padding-right: 30px;
                line-height: 30px;

                a {
                    text-decoration: none;
                    color: #084561;

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                        outline: none;
                    }
                }

                &:not(:last-child):after {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 7px;
                    content: " ";
                    height: 30px;
                    width: 15px;
                    @include sprite();
                    background-repeat: no-repeat;
                    @include sprite-position($ariane);
                    opacity: .2;
                }
            }
        }
    }
}
