$content-border-color: #DEDEDE;

.content-item {
    background: #FFF;
    min-height: 60px;
    display: flex;

    border: solid 1px $content-border-color;
    border-bottom-width: 2px;
    margin-bottom: 15px;

    overflow: hidden; // Temporary, until the items are completely styled

    flex: 1 1 300px;

    &.mini {
      max-width: 270px;
    }

    & > * {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .content-illu {
        flex: 0 0 96px;
    }

    .content-info {
        padding: 10px 14px;
        height: 76px;
    }

    .content-title {
        margin: 0;

        font-size: 1.7rem;
        font-size: 17px;
        font-weight: normal;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a {
            color: #424242;
        }
    }

    p {
        margin: 0;
    }

    .content-description {
        margin: 0;
        font-size: 1.5rem;
        font-size: 15px;
        color: #999;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .content-meta {
      color: $color-secondary;
    }

    &.write-tutorial {
      background-color: $color-primary;
      border-color: $color-primary;
      align-items: center;
      color: white;
      height: 96px;

      .write-tutorial-text {
        flex: 1;
        text-align: center;

        p {
          margin: 0;
          font-size: 16px;

          &.lead {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }

      .btn-write-tutorial {
        background-color: #19526c;
        margin-right: 28px;

        &:hover, &:focus {
          background-color: lighten(#19526c, 6%);
        }
      }
    }
}

.content-item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
