$content-border-color: #DEDEDE;
$content-illu-size: 96px;
$content-reaction-offset: -14px; // -30px to not offset the meta

.content-item {
    background: #FFF;
    min-height: 60px;
    display: flex;

    border: solid 1px $content-border-color;
    border-bottom-width: 2px;
    margin: 0 10px 15px;

    overflow: hidden; // Temporary, until the items are completely styled

    flex: 1 1 400px;
    width: 100%;

    &.expand-description {
        .content-description {
            height: 36px; // 2 lines
            white-space: normal;
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 18px;
        }

        .content-meta {
            line-height: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:not(.inline) > * {
                display: inline;
            }
        }
    }

    a {
        text-decoration: none;
    }

    & > a:not(.btn) {
        display: flex;
        width: 100%;
    }

    .content-illu {
        flex: 0 0 $content-illu-size;
        height: $content-illu-size;
        background-color: $content-border-color;
        background-size: contain;

        img {
            width: 100%;
            height: 100%;
            background-color: #FFF;
        }

        &.article-illu {
            background-image: url("/static/images/article-illu.png");
        }
        &.tutorial-illu {
            background-image: url("/static/images/tutorial-illu.png");
        }
        &.opinion-illu {
            background-image: url("/static/images/opinion-illu.png");
        }
    }

    .content-info {
        padding: 10px 14px;
        height: 76px;
        flex: 1;
        position: relative;
        min-width: 100px;
    }

    .content-reactions {
        position: absolute;
        z-index: 0;
        bottom: 6px;
        left: $content-reaction-offset;
        height: 32px;
        width: 32px;
        padding-left: 1px;

        @include sprite();
        @include sprite-position($chat-bubble);

        color: $color-secondary;
        text-align: center;
        line-height: 32px;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4rem;

        span {
            position: relative;
            z-index: 2;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;

            @include sprite();
            @include sprite-position($chat-bubble-orange);

            opacity: 0;
            transition: opacity $transition-duration;
        }

        &:focus, &:hover {
            color: white;
            &::before {
                opacity: 1;
            }
        }
    }

    &.has-reactions .content-meta {
        padding-left: 32px - 14px + $content-reaction-offset + 10px; // bubble width - container padding + bubble offset + spacing
    }

    .content-title {
        margin: 0;

        font-size: 17px;
        font-size: 1.7rem;
        font-weight: normal;
        line-height: 20px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #424242;
    }

    a:hover, a:focus {
        outline: none;
        .content-title {
            text-decoration: underline;
            outline: none;
        }
    }

    p {
        margin: 0;
    }

    .content-description {
        margin: 0;
        font-size: 15px;
        font-size: 1.5rem;
        line-height: 26px;
        height: 26px;
        color: #999;
        margin-bottom: 2px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .short {
            display: none;
        }
    }

    .content-meta {
        color: $color-secondary;
        font-size: 13px;
        font-size: 1.3rem;
        line-height: 15px;

        &:not(.inline) > * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }

        .short {
            display: none;
        }

        & a {
            color: darken($color-secondary, 10%);

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }

    .content-tags {
        margin: 0;
        padding: 10px 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        li {
            padding: 0;
            flex: 0 0 22px;
            background-color: #EEE;
            margin-bottom: 5px;
            color: #777;
            display: block;
            text-align: right;
            transition: color $transition-duration, background-color $transition-duration;

            a {
                color: inherit;
                padding: 0 12px;
                line-height: 22px;
                height: 22px;
                display: block; // to have the click zone matching the parent box

                &:hover, &:focus {
                    color: #EEE;
                    background-color: #777;
                }
            }
        }
    }

    &.write-tutorial {
        background-color: $color-primary;
        border-color: $color-primary;
        align-items: center;
        color: white;
        height: 96px;

        .write-tutorial-text {
            flex: 1;
            text-align: center;
            margin: 10px 14px;

            p {
                margin: 0;
                font-size: 16px;

                &.lead {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }

        .btn-write-tutorial {
            background-color: #1c5b78;
            margin-right: 28px;
            transition: color $transition-duration, background-color $transition-duration;

            &:hover, &:focus {
                background-color: #FFF;
                color: #1c5b78;
            }
        }
    }

    &.topic-item {
        .content-info {
            padding: 14px 20px;
            height: 68px;
        }

        .content-title {
            font-size: 19px;
            font-size: 1.9rem;
            line-height: 24px;
            color: $color-primary;
        }

        .content-description {
            color: #505050;
            font-size: 16px;
            font-size: 1.6rem;

        }

        .member-item {
            &:hover, &:focus {
                text-decoration: underline;
            }
        }

        .content-meta {
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.content-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 100%; // prevents some weird margin bug...
    margin: 0 -10px;

    .fill {
        flex: 1 1 400px;
        margin: 0 10px;
    }
}

@media only screen and #{$media-mobile-tablet} {
    .full-content-wrapper .content-item {
        .content-info {
            h3 {
                padding: 0 !important;
            }
            p:not(.content-meta) {
                margin: 0 !important;
            }
        }
    }
}

@media only screen and #{$media-mobile} {
    .content-item {
        &.write-tutorial {
            display: none;
        }

        .content-tags {
            display: none;
        }

        .content-meta, .content-description {
            .short {
                display: inline;
            }
            .long {
                display: none;
            }
        }
    }
}
