$content-border-color: $grey-200;
$content-item-height: $length-96;
$content-reaction-offset: -$length-24; // -30px to not offset the meta
$content-item-padding-horizontal: $length-4;
$content-item-padding-vertical: $length-14;

.content-item {
    display: flex;

    width: 100%;
    height: $content-item-height;

    margin: $length-6 $length-10;

    @include mobile {
        margin: $length-6 0;
    }

    overflow: hidden; // Temporary, until the items are completely styled

    background: $true-white;

    flex: 1 1 400px;

    border: solid 1px $content-border-color;
    border-bottom-width: 2px;

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    & > a:not(.btn) {
        display: flex;
        width: 100%;
    }

    .short {
        display: none;
    }

    .content-illu {
        flex: 0 0 $content-item-height;
        height: $content-item-height;
        background-color: $content-border-color;
        background-size: contain;

        img {
            width: 100%;
            height: 100%;
            background-color: $true-white;
        }

        &.article-illu {
            background-image: url("/static/images/article-illu.png");
        }
        &.tutorial-illu {
            background-image: url("/static/images/tutorial-illu.png");
        }
        &.opinion-illu {
            background-image: url("/static/images/opinion-illu.png");
        }
    }

    .content-info {
        display: flex;
        flex-direction: column;

        position: relative;
        flex: 1;

        padding: $content-item-padding-horizontal $content-item-padding-vertical;

        min-width: 100px;

        header {
            flex: 2;

            .content-title {
                margin: 0;
                padding: 0;

                a {
                    display: block;
                    margin: 0;
                    padding: 0;

                    width: 100%;

                    font-size: $font-size-8;
                    font-weight: normal;

                    color: $grey-800;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .content-description {
                margin: -#{$length-4} 0 0;
                padding: 0;

                &, a {
                    font-size: $font-size-9;
                    color: $grey-600;
                }

                &.is-long {
                    &, a {
                        font-size: $font-size-10;
                    }
                }

                a, &.is-one-line {
                    display: block;
                    width: 100%;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }

        footer {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            padding-bottom: $content-item-padding-horizontal;

            &.has-reactions {
                margin-left: $content-reaction-offset;
            }

            .content-meta {
                flex: 1;

                // This width will not be respected but it will prevent the block
                // to push against the other flex item (the comments bubble).
                min-width: 10%;

                color: $accent-800;

                font-size: $font-size-10;
                line-height: $font-size-9;

                &:not(.inline) > * {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    display: block;
                }

                a {
                    color: $accent-800;

                    &:hover, &:focus {
                        text-decoration: underline;
                    }
                }
            }

            .content-reactions {
                position: relative;

                height: $length-32;
                width: $length-32;
                margin-right: $length-6;

                background-color: $white;

                border-radius: 100%;

                font-size: $font-size-10;
                font-weight: bold;
                line-height: 2.2;

                color: $accent-800;
                text-align: center;

                filter: drop-shadow(0 1px 2px hsla(0, 0%, 0%, .44));

                transition: background-color $transition-duration ease-in-out;

                // The bubble tip
                &:before {
                    content: '';
                    position: absolute;

                    width: 0;
                    height: 0;

                    bottom: -2%;
                    left: -13%;

                    border: .85rem solid transparent;
                    border-top: none;
                    border-bottom-color: $white;

                    transform: rotate(-133deg) scaleY(1.8);

                    transition: border-bottom-color $transition-duration ease-in-out;
                }

                &:focus, &:hover {
                    color: $true-white;
                    background-color: $accent-800;

                    &:before {
                        border-bottom-color: $accent-800;
                    }
                }
            }
        }
    }

    .content-tags {
        margin: 0;
        padding: $length-8 $length-8 0 0;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        li {
            display: block;

            margin-bottom: $content-item-padding-horizontal;
            padding: 0;

            a {
                display: block;

                margin: 0;
                padding: $length-1 $length-10;

                background-color: $grey-100;
                color: $primary-800;

                text-align: center;

                transition: color $transition-duration, background-color $transition-duration;

                &:hover, &:focus {
                    background-color: $grey-200;
                    color: $grey-900;
                }
            }
        }
    }

    &.topic-item {
        header .content-title a {
            font-size: $font-size-7;
            font-weight: normal;
            color: $primary-700;
        }

        a.member-item {
            display: inline !important;

            &:hover, &:focus {
                text-decoration: underline;
                background-color: transparent;
            }
        }

        .content-description a.member-item {
            color: $color-link;
        }

        .content-meta {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &, a {
                color: $accent-800;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    &:not(.topic-item) .content-info header:hover .content-title {
        text-decoration: underline;
    }
}

.content-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 100%; // prevents some weird margin bug...
    margin: 0 (-$length-10);

    @include until-desktop {
        margin: 0;
    }

    .fill {
        flex: 1 1 400px;
        margin: 0 $length-10;
    }
}

.content-item-list-wrapper:not(:last-child) {
    margin-bottom: $length-24;
}

.write-tutorial {
    display: flex;
    align-items: center;

    margin: $length-16 $length-10;

    &:not(:last-child) {
        margin-bottom: $length-20;
    }

    width: 100%;
    height: $content-item-height;

    border-color: $color-primary;
    background-color: $color-primary;

    color: $grey-000;

    &:hover {
        .btn-write-tutorial {
            background-color: $true-white;
            transform: scale(1.05);
        }
    }

    .write-tutorial-text {
        flex: 1;
        text-align: center;

        p {
            margin: 0;
            font-size: $font-size-9;

            &.lead {
                font-size: $font-size-8;
                font-weight: bold;
            }
        }
    }

    .btn-write-tutorial {
        padding: $length-4 $length-20;
        margin-right: $length-24;

        background-color: $grey-000;
        color: $primary-900;

        font-size: $font-size-8;
        line-height: 2.2;

        user-select: none;

        transition: color $transition-duration ease-in-out,
                    background-color $transition-duration ease-in-out,
                    transform $transition-duration ease-in-out;
    }
}

@include until-desktop {
    .full-content-wrapper .content-item {
        .content-info {
            h3 {
                padding: 0 !important;
            }
            p:not(.content-meta) {
                margin: 0 !important;
            }
        }
    }
}

@include mobile {
    .content-item {
        &.write-tutorial {
            display: none;
        }

        .content-tags {
            display: none;
        }

        .content-meta, .content-description {
            .short {
                display: inline;
            }
            .long {
                display: none;
            }
        }
    }
}
