#cookies-eu-banner {
    padding: $length-6 $length-24;
    background: $primary-700;
    display: none;

    p {
        margin: $length-6 0;
        color: $white;
    }

    #cookies-eu-more,
    #cookies-eu-accept,
    #cookies-eu-reject {
        padding: $length-6 $length-16;
        margin: $length-6 0;

        transition-property: background, color;
        transition-duration: $transition-duration;
    }

    #cookies-eu-more {
        text-decoration: none;

        color: $white;
        background: $color-primary;

        &:hover,
        &:focus {
            color: $color-primary;
            background: $white;
        }
    }

    #cookies-eu-accept,
    #cookies-eu-reject {
        border: none;
        line-height: 1.295;
        margin-left: $length-6;

        color: $color-primary;
        background: $white;

        &:hover,
        &:focus {
            color: $white;
            background: $color-primary;
        }
    }
}
