#cookies-eu-banner {
    padding: 5px 25px;
    background: #062e41;
    display: none;

    p {
        margin: 5px 0;
        color: #eee;
    }

    #cookies-eu-more,
    #cookies-eu-accept,
    #cookies-eu-reject {
        padding: 6px 15px;
        margin: 5px 0;

        transition-property: background, color;
        transition-duration: $transition-duration;
    }

    #cookies-eu-more {
        text-decoration: none;

        color: #eee;
        background: $color-primary;

        &:hover,
        &:focus {
            color: $color-primary;
            background: #eee;
        }
    }

    #cookies-eu-accept,
    #cookies-eu-reject {
        border: none;
        line-height: 1.295;
        margin-left: 5px;

        color: $color-primary;
        background: #eee;

        &:hover,
        &:focus {
            color: #EEE;
            background: $color-primary;
        }
    }
}
