$dropdown-arrow-height: 10px;

details.dropdown {
    --dropdown-offset-right: 0;
    --dropdown-arrow-offset-right: #{$length-4};

    position: relative;

    summary {
        appearance: none;
        cursor: pointer;
    }

    &[open] {
        z-index: 10;
    }

    &[open] summary::before {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .dropdown-content {
        position: absolute;
        top: 100%;
        right: var(--dropdown-offset-right);

        margin: 0;
        padding: 0;

        z-index: 21;

        background-color: $true-white;
        @include shadow-4;

        &::before,
        &::after {
            content: " ";
            position: absolute;
            display: block;
            width: 0;
            height: 0;
        }
        &::before {
            top: -#{$dropdown-arrow-height};
            right: var(--dropdown-arrow-offset-right);
            border: #{$dropdown-arrow-height} solid transparent;
            border-top: 0;
            border-bottom-color: rgba($true-black, .1);
        }
        &::after {
            top: -#{$dropdown-arrow-height - 1px};
            right: calc(var(--dropdown-arrow-offset-right) + 1px);
            border: #{$dropdown-arrow-height - 1px} solid transparent;
            border-top: 0;
            border-bottom-color: $true-white;
        }
    }
}
