.content-container {
    form {
        .editor-toolbar {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 0px;

            button:not(.link) {
                height: auto;
                line-height: 0px;
                color: #000;
                padding-left: 0px;
                padding-right: 0px;
                padding-bottom: 0px;
                padding-top: 0px;
                display: inline;
                float: unset;
            }
        }

        .CodeMirror {
            width: 100%;
        }
    }
}
