.content-container {
    form {
        .alert-box {
            margin: 0;
            padding: 2px inherit;
            padding-right: 40px;
        }
        .editor-toolbar {
            border: 0;

            button:not(.link) {
                height: auto;
                line-height: 0px;
                color: #084561;
                padding: 0;
                display: inline;
                float: unset;

                height: 30px;
                border: 1px solid transparent;
                border-radius: 3px;
                cursor: pointer;

                vertical-align: middle;
            }
            button.blocMenu {
                border-color: #fcfcfc;
            }
            button.active,
            button:hover {
                border: 1px solid transparent;
                background: #fcfcfc;
                border-color: #95a5a6;
            }
        }

        textarea.textarea-multivers {
            margin: 0 !important;
            padding: 14px;
            line-height: 23px;
            box-sizing: border-box;
            display: block;
            width: 100%;
        }

        .zdsicon {
            & > i {
                display: inline-block;
                height: 17px;
                width: 17px;
                background-size: 100%;
            }

            &.zi-grammalecte > i {
                background-image: url(../images/editor/svg/grammalecte_H084561.svg);
            }
        }

        .CodeMirror {
            width: 100%;
        }

        .editor-preview {
            background-color: #FDFDFD;
        }
    }
}
