.content-container {
    form {
        .alert-box {
            margin: 0;
            padding: $length-2 inherit;
            padding-right: $length-38;
        }

        .editor-toolbar {
            border: 0;

            @include tablet {
                position: sticky;
                top: 0;
                z-index: 2;
                background-color: $color-body-background;
                border-bottom: $length-1 solid $grey-200;
                
                ~ .CodeMirror {
                    border-top: 0;
                }
            }

            &.disabled-for-textarea-mode {
                button {
                    &.disable-for-textarea-mode {
                        opacity: .6;
                        pointer-events: none;
                    }
                }
            }

            button:not(.link) {
                display: inline;

                float: unset;
                padding: 0;

                height: $length-32;

                border: $length-1 solid transparent;
                border-radius: $radius-1;

                line-height: 0;
                color: $primary-600;

                cursor: pointer;
            }

            button.blocMenu {
                border-color: $true-white;
                background-image: linear-gradient(to right bottom, $true-white 0px, $true-white 84%, $grey-800 50%, $grey-800 100%);
            }

            .easymde-dropdown-content {
                background-color: $white;
            }

            button.active,
            button:hover {
                border: $length-1 solid transparent;
                background: $white;
                border-color: $primary-100;
            }
        }

        textarea.textarea-multivers {
            margin: 0 !important;
            padding: $length-14;
            line-height: 2;
            box-sizing: border-box;
            display: block;
            width: 100%;
        }

        .zdsicon {
            & > i {
                display: inline-block;

                // Icon's size
                height: 17px;
                width: 17px;

                background-size: 100%;
            }

            &.zi-grammalecte > i {
                background-image: url(../images/editor/svg/grammalecte_H084561.svg);
            }
        }

        .CodeMirror {
            width: 100%;
        }

        .editor-preview {
            background-color: $white;
        }
    }
}
