.zform-toolbar {
    margin: 0;
    padding: 2px;
    list-style-position: initial;
    list-style-type: none;
    border-bottom: none;

    a,
    button {
        display: block;
        float: left;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        text-decoration: none;
        color: #999;
        height: 27px;
        line-height: 30px;
        padding: 0 10px;
        margin-left: 1px;
        text-indent: -9999px;
        width: 0;

        .zform-popup {
            text-indent: 0;
            line-height: 20px;
        }

        &.ico-after {
            padding-left: 30px;
        }

        &:after {
            top: 7px;
            left: 12px;
            // TODO : remake icons
            //display: none;
        }
    }
    button {
        padding: 0 15px;
        height: 30px;
        border-top: none;
        border-right: none;
        border-left: none;

        &[type=submit] {
            background: #084561;
            border-bottom-color: #084561;
            color: #DDD;

            &:hover,
            &:focus {
                color: #FFF;
                background: #396A81;
                border-bottom-color: #396A81;
            }
        }
    }
    a,
    button {
        &:hover,
        &:focus {
            border-bottom-color: lighten($color-primary, 20%);
            outline: none;
            background-color: #EEE;
        }
    }
}

.zform-button {
    background-repeat: no-repeat;
    background-position: center center;
}

/* Icons */

.zform-button-bold:after { @include sprite-position($zform-bold); }
.zform-button-italic:after { @include sprite-position($zform-italic); }
.zform-button-strike:after { @include sprite-position($zform-strike); }
.zform-button-abbr:after { @include sprite-position($zform-abbr); }
.zform-button-key:after { @include sprite-position($zform-key); }
.zform-button-sup:after { @include sprite-position($zform-sup); }
.zform-button-sub:after { @include sprite-position($zform-sub); }
.zform-button-center:after { @include sprite-position($zform-center); }
.zform-button-right:after { @include sprite-position($zform-right); }
.zform-button-ul:after { @include sprite-position($zform-ul); }
.zform-button-ol:after { @include sprite-position($zform-ol); }
.zform-button-quote:after { @include sprite-position($zform-quote); }
.zform-button-link:after { @include sprite-position($zform-link); }
.zform-button-image:after { @include sprite-position($zform-image); }
.zform-button-attention:after { @include sprite-position($zform-attention); }
.zform-button-error:after { @include sprite-position($zform-error); }
.zform-button-question:after { @include sprite-position($zform-question); }
.zform-button-information:after, .zform-button-infoblocks:after { @include sprite-position($zform-information); }
.zform-button-secret:after { @include sprite-position($zform-secret); }
.zform-button-blockcode:after, .zform-button-monospace:after { @include sprite-position($zform-blockcode); }
.zform-button-titles:after { @include sprite-position($zform-titles); }
.zform-button-title1:after { @include sprite-position($zform-title1); }
.zform-button-title2:after { @include sprite-position($zform-title2); }
.zform-button-title3:after { @include sprite-position($zform-title3); }
.zform-button-title4:after { @include sprite-position($zform-title4); }
.zform-button-table:after { @include sprite-position($zform-table); }
.zform-button-math:after { @include sprite-position($zform-math); }
.zform-button-footnote:after { @include sprite-position($zform-footnote); }



/* Simple dropdown */
div.zform-popup {
    top: 18px;
    z-index: 100;
    background: transparent;
    background-color: #fff;
    background-image: linear-gradient(center to top, #EBEBE5 8%, #F9F9F6 75%);
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 2px;
}



/* 3 cols select code dropdown */
.zform-code-col {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
    min-width: 100px;

    & > span {
        display: block;
        color: #2677C9;
        cursor: pointer;

        &[data-zform-selected='true'] {
            color: blue;
            font-weight: bold;
        }

        &:hover,
        &:focus {
            color: #C87B02;
        }
    }
}
