.featured-resource-item {
    position: relative;
    overflow: hidden;

    flex: 1;

    margin-right: 1px;

    max-width: 228px;
    min-width: 170px;

    border-radius: 8px;

    z-index: 0;

    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .featured-resource-illu {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
        transition: $transition-duration ease;
        transition-property: opacity, transform;

        // Force hardware acceleration
        transform: scale(0), translateZ(0);
        perspective: 1000;
        backface-visibility: hidden;
    }

    .featured-resource-meta {
        position: absolute;
        bottom: .1rem;
        right: .8rem;
        left: .8rem;

        z-index: 3;

        padding: 1.5rem;
        border-radius: 8px;

        @include shadow-1;

        background-color: rgba($primary-800, .8);
        color: $white;

        hyphens: auto;

        transition: box-shadow $transition-duration ease-in-out,
                    background-color $transition-duration ease-in-out,
                    transform $transition-duration ease-in-out;

        h2 {
            margin: 0 0 .6rem 0;

            border: none;

            font-size: $size-8;
            line-height: $size-7;

            font-weight: normal;
            color: $white;
         }

         p {
            margin: 0;

            font-size: $size-10;
            line-height: $size-9;

            color: $primary-200;
         }
    }

    a:hover, a:focus {
        .featured-resource-meta {
            @include shadow-2;
            background-color: rgba($primary-800, .96);
            transform: scale(1.02);
        }
    }

    // a:focus,
    // a:hover {
    //     .featured-resource-illu {
    //         opacity: 0.4;
    //         filter: blur(5px);
    //         transform: scale(1.05), translateZ(0);
    //     }
    //     .featured-resource-meta {
    //         h2 {
    //             height: 190px;
    //             font-size: 20px;
    //         }
    //     }
    // }
    //
    // & > a {
    //     display: block;
    // }
}

.featured-resource-edit-form {
    display: flex;
    align-items: flex-start;

    .featured-resource-item {
        margin-right: 20px;
        flex-basis: 228px;
    }

    form {
        width: auto;
        flex: 1;
    }
}

@include mobile {
    .featured-resource-edit-form {
        flex-direction: column;
        align-items: unset;
    }
}
