.search-form {
    margin-bottom: 30px;
}

.search {
    display: flex;
    position: relative;

    form {
        input,
        button {
            float: left;
            border: none;
            background: rgba(255, 255, 255, .25);
            height: 40px;
            transition-property: background;
            transition-duration: $transition-duration;

            &:hover,
            &:focus {
                background-color: #FFF;
            }
            &:focus {
                outline-color: $color-secondary;
            }
        }
        input {
            height: 30px;
            padding: 5px 3%;
            width: 70%;
        }
        button {
            width: 12%;
            text-indent: -9999px;

            &.disabled {
                opacity: .5;
                background: transparent;
                cursor: default;
            }

            &:after {
                display: block;
                content: " ";
                position: absolute;
                top: 12px;
                left: 50%;
                margin-left: -8px;
                height: 17px;
                width: 17px;
                @include sprite-position($search);
            }
        }
    }
    .search-more {
        display: block;
        float: left;
        height: 40px;
        font-family: Arial, sans-serif;
        line-height: 40px;
        width: 12%;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        font-size: 24px;
        background: #FFF;
        color: $color-primary;
        transition: background $transition-duration ease;

        &:hover,
        &:focus {
            background: $color-secondary;
            color: #FFF;
            outline: none;
        }
        &:before {
            content: "+";
        }
    }
}

@media only screen and #{$media-wide} {
    .search {
        &:before {
            content: " ";
            display: block;
            position: absolute;
            left: -20px;
            height: 30px;
            width: 20px;
            background: linear-gradient(to left, rgba(0, 0, 0, .03), rgba(0, 0, 0, 0));
        }

        form {
            input {
                padding: 6px 10px;
                height: 30px;
                width: 60px * 3;
            }
            button {
                height: 30px;
                line-height: 30px;
                width: 30px;

                &:after {
                    top: 7px;
                }
            }
        }

        .search-more {
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
    }
}
