.dropdown {
    display: none;
    position: absolute;
    text-align: left;
    top: 50px;
    left: 0;
    right: 0;
    background-color: $color-header-hover;
    margin: 0;
    padding: 10px 2.5%;
    font-size: 14px;
    font-size: 1.4rem;
    border-bottom: 3px solid $color-secondary;
    z-index: 50;

    .dropdown-title {
        color: #FFF;
    }

    &.header-menu-dropdown .dropdown-list > li {
        @for $i from 1 through 4 {
            &:first-child:nth-last-child(#{$i}),
            &:first-child:nth-last-child(#{$i}) ~ li {
                width: 100% / $i;
            }
        }
    }

    .dropdown-list {
        width: 100%;
        padding: 0;
        margin-top: 15px;
    }
    .dropdown-list > li {
        width: 20%;
        float: left;

        &.dropdown-empty-message {
            color: rgba(255, 255, 255, .5);
            text-align: center;
            line-height: 60px;
            background: none !important;
        }

        ul {
            margin: 0 0 10px;
            padding: 0;

            li {
                position: relative;

                a {
                    display: block;
                    width: 95%;
                    min-height: 25px;
                    line-height: 25px;
                    color: #95d7f5;
                    overflow: hidden;
                    transition: all $transition-duration ease;

                    &:hover,
                    &:focus {
                        padding-left: 3%;
                        background-color: rgba(0, 0, 0, .3)
                    }
                }
            }
        }
    }

    .dropdown-link-all {
        display: block;
        clear: both;
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-top: 1px solid #274a5a;
        background-color: $color-header-hover;
        transition-property: color, background-color;

        &:first-child {
            border-top: 0 !important;
            border-bottom: 1px solid #274a5a;
        }

        &:hover,
        &:focus {
            color: #95d7f5;
            background-color: #274a5a;
            border-top: 1px solid $color-header-hover;
        }
    }
}
.active + .dropdown {
    display: block;
}

@media only screen and #{$media-tablet} {
    .dropdown {
        box-shadow: 0 5px 7px rgba(0, 0, 0, .3);
    }

    .header-right {
        .dropdown {
            width: 350px;
            left: auto;
            padding: 0;

            .dropdown-list {
                max-height: 330px;
                overflow-x: hidden;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 10px;
                    height: 10px;
                }
                &::-webkit-scrollbar-track {
                    background-color: #06354a;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #396a81;
                    border: 1px solid #06354a;
                    transition: all $transition-duration ease;

                    &:hover {
                        background-color: #5196b6;
                    }
                    &:active {
                        background-color: #71b4d3;
                    }
                }
            }

            &.my-account-dropdown {
                width: 230px;
            }
        }
    }
}

@media only screen and #{$media-mobile} {
    html.dropdown-active {
        overflow: hidden;

        .page-container {
            width: 100%;
        }

        .main-container {
            display: none;
        }
    }

    .header-menu-dropdown {
        display: none !important;
    }

    .dropdown {
        width: 100%;
        top: 180px;
        bottom: 0;
        border-bottom: none;

        .dropdown-list {
            overflow: auto;
            position: absolute;
            top: 36px;
            bottom: 50px;
        }
        .dropdown-link-all {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
            line-height: 50px;
        }
    }
}

@media only screen and #{$media-wide} {
    .dropdown {
        top: 60px;
    }
}