.mobile-menu,
.mobile-menu-btn {
    display: none;
}

@media only screen and #{$media-mobile-tablet} {
    .js .page-container {
        position: absolute;
        z-index: 10;
        transform: translate3d(0, 0, 0);
    }

    .js .mobile-menu {
        display: block;
        position: absolute;
        position: fixed;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1;
        transform: translate3d(-20%, 0, 0);
        width: 90%;
        height: 100%;
        padding-bottom: 20px;
        background: #222;
        user-select: none;

        .search {
            height: 50px;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;

            input {
                color: #EEE;
                background-color: #333;
                width: 76%;
                height: 30px;
                padding: 10px 5%;
                font-size: 16px;
                font-size: 1.6rem;

                &:hover,
                &:focus {
                    padding-bottom: 7px;
                    border-bottom: 3px solid #084561;
                    background-color: #333;
                }
            }
            button {
                display: none;
            }
            .search-more {
                background-color: #3F3F3F;
                width: 14%;
                height: 50px;
                line-height: 50px;
                color: #CCC;
            }
        }

        .mobile-menu-bloc,
        .mobile-menu-link {
            width: 90%;
            line-height: 40px;
            text-indent: 0;
        }
        .mobile-menu-bloc {
            margin: 0 5% 15px;

            &:nth-child(2) {
                margin-top: 15px;
            }

            ul,
            li {
                margin: 0;
                padding: 0;
            }

            .mobile-menu-link {
                margin: 0;
                width: 100%;

                &.disabled {
                    opacity: .5;
                }
            }

            &:not(.mobile-show-ico) .ico-after:after {
                display: none;
            }

            &[data-title]:before {
                display: block;
                content: attr(data-title);
                height: 30px;
                font-size: 14px;
                font-size: 1.4rem;
                text-transform: uppercase;
                padding-bottom: 3px;
                border-bottom: 2px solid #3F3F3F;
                font-weight: bold;
                color: #666;
            }

            &.mobile-show-ico {
                .ico-after {
                    padding-left: 30px;
                    width: calc(100% - 30px);

                    &:after {
                        top: 12px;
                        left: 2px;
                    }
                }

                .icon {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin: 7px;
                    line-height:30px;
                    padding-left: 5px;
                    &:after {
                        top: 0px;
                        left: 0px;
                    }
                }
            }
        }
        .mobile-menu-link {
            display: block;
            height: 40px;
            line-height: 40px;
            text-decoration: none;
            color: #CCC;
            font-size: 16px;
            font-size: 1.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            background: none;
            border: none;
            text-align: left;
            padding: 0;

            &.mobile-menu-sublink {
                width: 90%;
                margin: 0 0 0 10%;
            }

            &.mobile-menu-bloc[data-title] {
                height: 80px;
            }
            &.mobile-menu-bloc:not([data-title]) {
                margin-bottom: 0;
            }
            &:not(:last-child):not(.mobile-menu-bloc) {
                border-bottom: 1px solid #2C2C2C;
            }

            &[data-prefix]:before {
                content: "[" attr(data-prefix) "] ";
            }
            &.unread {
                font-weight: bold;
                color: #EEE;
            }

            img, span {
                vertical-align: middle;
            }

            img {
                float: left;
                margin: 5px 5px 5px 0;
                width: 30px;
                height: 30px;
            }
            .label {
                padding: 0 0 0 50px;
            }
            img + .label {
                padding: 0 0 0 10px;
            }
        }
    }
    .js.show-mobile-menu {
        width: 100%;

        body {
            position: fixed;
        }

        .page-container {
            height: 100%;
            transform: translate3d(90%, 0, 0);
            overflow: hidden;
            box-shadow: 0 0 7px rgba(0, 0, 0, .25);
        }

        .mobile-menu {
            transform: translate3d(0, 0, 0);
        }
    }

    // Mobile supports sidebar only
    .js.enable-mobile-menu {
        .mobile-menu-hide {
            display: none;
        }

        .page-container {
            .mobile-menu-bloc,
            .mobile-menu-link,
            .search {
                display: none;
            }

            .mobile-menu-btn + .header-logo {
                margin-left: 0;
            }


            // Adapt menu to smartphone with sidebar
            .mobile-menu-btn {
                display: block;
                float: left;
                height: 50px;
                width: 50px;
                cursor: pointer;

                &:after {
                    display: block;
                    content: " ";
                    position: absolute;
                    top: 15px;
                    left: 13px;
                    height: 22px;
                    width: 22px;
                    @include sprite();
                    background-repeat: no-repeat;
                    @include sprite-position($menu);
                }
            }
        }
    }

    html:not(.enable-mobile-menu) {
        .header-container {
            border-bottom: 1px solid #CCC;
        }

        .page-container {
            .header-logo {
                margin-left: 10px;
            }
            .header-logo-link {
                &:after {
                    left: 55px;
                    right: 205px;
                }
            }
        }


        .logbox {
            .notifs-links .ico-link,
            .my-account {
                position: absolute;
                top: 0;
                right: 0;
                height: 50px;
                width: 50px;

                .avatar {
                    height: 50px;
                    width: 50px;
                }
            }
            .notifs-links  {
                :nth-child(1) .ico-link {
                    right: 150px;
                }
                :nth-child(2) .ico-link {
                    right: 100px;
                }
                :nth-child(3) .ico-link,
                .ico-link:nth-child(3) {
                    right: 50px;
                }
            }

            &.unlogged {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}
