.search-box {
    background: white;
    position: relative;
    margin: 30px auto 0;
    max-width: 820px;

    form {
        display: flex;
    }

    label, input {
        box-sizing: border-box;
        display: inline-block;
        line-height: 50px;
        height: 50px;
    }

    label {
        text-align: right;
        padding: 0 5px;
        font-size: 2rem;
        font-weight: 300;
        margin-left: 50px;
    }

    input {
        font-size: 2rem;
        border: none;
        font-weight: 300;
        flex: 1;
    }

    button[type=submit] {
        background-color: #FFF !important;
        width: 50px;
        height: 50px;

        &:hover, &:focus {
            background-color: #CCC !important;
        }

        &:after {
            margin: 16px !important;
            @include sprite-position($search);
            @include sprite-width($search);
            @include sprite-height($search);
        }
    }

    &:before {
        content: '';
        position: absolute;
        bottom: -6px;
        left: -28px;

        background: url('../images/home-clem.png');
        background-size: 100%;
        width: 68px;
        height: 134px;

        @at-root {
            body.vc-clem-christmas .search-box::before {
                background-image: url('../images/home-clem-christmas.png');
            }

            body.vc-clem-halloween .search-box::before {
                background-image: url('../images/home-clem-halloween.png');
                width: 160px;
                left: -80px;
            }
        }
    }

    .control-group {
        display: inline-flex;
        width: 100%;

        .controls {
            width: 100%;
        }

        input {
            padding: 0;
            width: 100% !important;
        }
    }
}

.search-results {
    .content-item {
        margin-left: 0;
    }
}

.search-filters {
    margin-right: auto;
    margin-left: auto;
    max-width: 820px;
    padding-left: 0;
    text-align: center;
    list-style: none;

    li {
        display: inline-flex;
        padding-right: 16px;

        input[type=checkbox] {
            margin-top: 8px;
        }
    }

    label {
        color: white;
    }
}

@media only screen and #{$media-mobile} {
    .search-box {
        margin: 30px 0 0!important;

        padding-left: 40px;

        label {
            display: none;
        }

        &:before {
            left: -46px;
        }
    }

    .search-filters {
        text-align: left;
        padding-left: 10px;

        li {
            display: list-item;
        }
    }
}

@media only screen and #{$media-mobile-tablet} {
    .search-box {
        margin: 30px 40px 0;
    }
}

