.search-box {
    background: white;

    form {
        display: flex;
    }

    label, input {
        box-sizing: border-box;
        display: inline-block;
        line-height: 50px;
        height: 50px;
    }

    label {
        text-align: right;
        padding: 0 5px;
        font-size: 2rem;
        font-weight: 300;
        margin-left: 50px;
    }

    input {
        font-size: 2rem;
        border: none;
        font-weight: 300;
        flex: 1;
    }

    button[type=submit] {
        background-color: #FFF !important;
        width: 50px;
        height: 50px;

        &:hover, &:focus {
            background-color: #CCC !important;
        }

        &:after {
            margin: 16px !important;
            @include sprite-position($search);
            @include sprite-width($search);
            @include sprite-height($search);
        }
    }

    .control-group {
        display: inline-flex;
        width: 100%;

        .controls {
            width: 100%;
        }

        input {
            padding: 0;
            width: 100% !important;
        }
    }
}

.search-results {
    .content-item {
        margin-left: 0;
    }
}

.search-filters {
    input[type=checkbox] {
        margin-top: 4px;
    }
}

@media only screen and #{$media-mobile} {
    .search-box {
        padding-left: 40px;

        label {
            display: none;
        }
    }
}
