.taglist {
    list-style: none;
    padding: 0;
    margin: -14px 0 15px;
    height: 30px;
    line-height: 30px;

    li {
        float: right;

        a {
            display: block;
            text-decoration: none;
            padding: 0 10px;
            background: $color-header-hover;
            color: #FFF;
            margin-left: 1px;
            transition-property: color, background, border;
            transition-timing-function: ease;
            transition-duration: $transition-duration;

            &:hover,
            &:focus {
                background: #FFF;
                color: $color-header-hover;
                border-bottom: 1px solid $color-header-hover;
            }
        }
    }
}

.content-tags-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:after {
        content: '';
        display: block;
        flex: 20;
    }
}

.content-tag {
    margin: 0 5px 20px;
    line-height: 1.4em;
    white-space: nowrap;
    flex: auto;

    a {
        color: #777;
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        background-color: #EEE;
        transition-property: color, background, border, outline;
        transition-timing-function: ease;
        transition-duration: $transition-duration;
        border: solid 1px #CCC;

        &:hover, &:focus {
            color: #EEE;
            background-color: #777;
            border-color: #777;
            outline: none;
        }

        .tag-count {
            color: #AAA;
        }
    }
}
