$tooltip-arrow-size: $length-6;
$tooltip-background-color: $grey-900;

.tooltips-container {
    .tooltip-wrapper {
        position: absolute;
        z-index: 30;

        .tooltip {
            padding: $length-6 $length-8;

            background-color: $tooltip-background-color;
            color: $white;

            font-size: $size-11;
        }

        &.top::after {
            border-top: solid $tooltip-arrow-size $tooltip-background-color;
        }

        &.bottom::before {
            border-bottom: solid $tooltip-arrow-size $tooltip-background-color;
        }

        &.top::after, &.bottom::before {
            content: '';

            display: block;

            margin: auto;

            height: 0;
            width: 0;

            border-left: solid $tooltip-arrow-size transparent;
            border-right: solid $tooltip-arrow-size transparent;
        }
    }
}
