.topic-list {
    margin-top: 50px !important;
    margin-bottom: 50px !important;

    h2 {
        margin-bottom: 0 !important;
    }
    h2 + .topic {
        border-top: none;
    }

    .topic {
        position: relative;
        min-height: 81px;
        line-height: 25px;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #CCC;
        overflow: hidden;
        border-left: 1px solid transparent;
        clear: both;

        &:first-child {
            border-top: 1px solid #CCC;
        }

        &:before {
            content: " ";
            display: block;
            position: absolute;
            background: transparent;
            height: 100%;
            width: 2px;
        }
        &.unread:before {
            background: lighten($color-primary, 20%);
        }

        &:nth-child(2n){
            background: none;
        }

        &.unread {
            .topic-description .topic-title {
                font-weight: bold;
            }
            background: #FFF;
        }

        &:hover,
        &.active {
            &:before {
                width: 5px;
                background: lighten($color-primary, 20%);
            }
        }

        &.selected {
            background-color: lighten($color-primary, 75%);
        }
    }
    a {
        text-decoration: none;
        color: lighten($color-primary, 15%);

        &:hover,
        &:focus {
            color: lighten($color-primary, 15%);
            text-decoration: underline;
            outline: none;
        }
    }

    .topic-infos,
    .topic-description,
    .topic-answers,
    .topic-last-answer {
        display: block;
        float: left;
        padding: 4px 0;
        margin: 0;
    }

    .topic-infos {
        width: 8%;

        input[type=checkbox] {
            margin: 29px 25% 0;
        }
        .ico-after {
            display: block;
            text-indent: -9999px;

            &:after {
                margin: 4px 0 0 15px;
            }
        }
    }
    .topic-description {
        position: relative;
        width: 60%;

        .topic-image {
            float: left;
            max-height: 60px;
            max-width: 60px;
            margin: 5px 15px 0 0;
        }

        .topic-tags {
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline;

            .topic-tag {
                display: block;
                height: 23px;
                line-height: 23px;
                float: left;
                padding: 0 5px;
                margin: 0 3px 0 0;
                color: $color-header-hover;
                background: #FCFCFC;
                border: 1px solid #CCC;

                &:hover,
                &:focus {
                    background: #FFF;
                    color: $color-primary;
                    border-color: $color-primary;
                    text-decoration: none;
                }
                &:focus {
                    box-shadow: $color-header-hover 0 0 3px;
                }
            }

            li:last-child .topic-tag {
                margin-right: 5px;
            }
        }

        .topic-title-link {
            display: block;
            min-height: 48px;

            &:hover,
            &:focus {
                text-decoration: none;

                .topic-title {
                    text-decoration: underline;
                }
            }
        }

        .topic-title,
        .topic-subtitle {
            margin: 0 !important;
            padding: 0;
        }
        .topic-title {
            display: inline-block;
            font-size: 16px;
            font-size: 1.6rem;
            font-weight: normal;
        }
        .topic-subtitle {
            display: block;
            min-height: 24px;
            line-height: 1.5em;
            color: #777;
        }
        .topic-members {
            margin: 0;
            color: #777;
        }
    }
    .topic-answers {
        width: 12%;
        text-align: center;
        padding-top: 29px;
    }
    .topic-last-answer {
        width: 20%;

        .topic-no-last-answer {
            display: block;
            margin-top: 27px;
            color: $color-primary;
            opacity: .5;
        }
    }

    .highlighted {
        background-color: rgba(255, 255, 100, 0.4);
        padding: 0 3px;
        border-radius: 2px;
    }
}

.forum-list {
    .group-title {
        max-width: 100%;
        margin-top: 30px !important;
        clear: both;
        border-bottom: 1px solid #CCC;
        color: $color-secondary;
    }
}

.topic-list-small {
    .topic {
        min-height: 60px;
    }
    .topic-infos {
        input[type=checkbox] {
            margin-top: 18px;
        }
    }
    .topic-description {
        padding: 4px 1.5%;

        .topic-title {
            display: block;
            font-weight: normal;
            margin-top: 2px;
        }
    }
    .topic-infos + .topic-description {
        padding-left: 0;
    }
    .topic-answers {
        padding-top: 17px;

        span {
            display: block;
            float: left;
            width: 50%;
        }
    }
    .topic-last-answer {
        width: 18%;

        .topic-no-last-answer {
            margin-top: 13px;
        }
        .forum-last-message {
            display: block;

            .forum-last-message-long {
                display: none;
            }
        }
        .forum-last-message-title {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

@media only screen and #{$media-wide} {
    .topic-list {
        .topic-members-short-date {
            display: none;
        }
        .topic-last-answer-short-date {
            display: none;
        }
        &:not(.topic-list-small) .topic-last-answer {
            .topic-no-last-answer {
                margin-top: 24px;
            }
        }
    }
    .forum-list {
        .topic {
            min-height: 0;
        }
        .topic-last-answer {
            .forum-last-message {
                .forum-last-message-long {
                    display: none;
                }
            }
        }
    }
}

@media only screen and #{$media-mobile-tablet} {
    .topic-list {
        .topic {
            background: none !important;

            p {
                margin: 0 !important;
            }

            .topic-members {
                .topic-members-long-date {
                    display: none;
                }
            }
            .topic-answers {
                display: none;
            }
            .topic-last-answer {
                width: 30%;
                padding: 0;
                text-align: right;

                .topic-last-answer-short-date {
                    font-size: 1.3rem;
                }
                .topic-last-answer-long-date {
                    display: none;
                }
                .topic-no-last-answer {
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and #{$media-mobile} {
    .topic-list {
        .topic-infos .ico-after:after {
            margin: 4px 0 0 2px;
        }
        .topic-description {
            .topic-subtitle:empty {
                display: none;
            }
        }
        .topic-last-answer {
            .topic-no-last-answer {
                font-size: 1.3rem;
            }
        }
    }
    .forum-list {
        .topic-description {
            .topic-subtitle {
                margin-left: 10px;
            }
        }
    }
}
