div.msg-are-hidden {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0;

    a {
        color: $grey-400;
        font-size: $font-size-11;
    }

    & ~ .topic-message.hidden + .topic-message:not(.hidden) {
        margin-top: 10px;

        @include until-desktop {
            margin-top: 0;
            padding-top: 5px;
        }
    }
    & + .topic-message.hidden + .pagination {
        margin-top: 10px;
    }
    .topic-message + & {
        margin-top: -15px;
    }
}

.topic-message {
    position: relative;

    &.repeated {
        .message {
            &,
            .is-author {
                background: $grey-000;
            }

            &:after {
                border-right-color: $grey-000;
            }
        }
    }

    &.helpful:not(.potential-spam) {
        .message {
            &,
            .is-author {
                background: $color-helpful;
            }

            &:after {
                border-right-color: $color-helpful;
            }
        }
        &.repeated {
            .message {
                &,
                .is-author {
                    background: rgba($color-helpful, .4);
                }
            }
        }
    }

    &.potential-spam {
        .message {
            &,
            .is-author {
                background: $color-potential-spam;
            }

            &:after {
                border-right-color: $color-potential-spam;
            }
        }
        &.repeated {
            .message {
                &,
                .is-author {
                    background: rgba($color-potential-spam, .5);
                }
            }
        }
    }

    &.hidden-by-someone {
        .message {
            &,
            .is-author {
                background: $grey-100;
            }
            &:after {
                border-right-color: $grey-100;
            }
        }

        .user .avatar-link img {
            opacity: 0.8;
        }

        & + .pagination, & + .alert-box {
            margin-top: $length-24;
        }
    }

    .user {
        margin-top: $length-6;

        .avatar-link {
            position: absolute;
            top: 0;

            display: block;

            width: $length-48;
            height: $length-48;

            border: $length-1 solid $white;

            z-index: 0;

            &[href]:hover,
            &[href]:focus {
                border-color: $true-white;
                box-shadow: rgba($black, .3) 0 $length-1 $length-8;

                overflow: hidden;
            }

            img {
                height: $length-48;
                width: $length-48;
            }
        }

        .user-metadata {
            width: $length-48;
            height: $length-24;

            a {
                display: block;

                width: 100%;
                height: 100%;

                border: $length-1 solid $grey-200;
                border-top: 0;

                background-color: $grey-000;

                color: $grey-500;
                text-decoration: none;
                text-align: center;
                line-height: 1.6;

                transition: border $transition-duration ease, background $transition-duration ease;

                &:hover,
                &:focus {
                    border-bottom-width: $length-1;
                    border-bottom-color: $primary-600;

                    background: $true-white;
                }

                &.positive {
                    color: $green-700;
                }
                &.negative {
                    color: $red-700;
                    font-weight: bold;
                }
            }
        }
    }

    .message {
        position: relative;

        min-height: $length-64;

        border: 1px solid $grey-200;
        border-right-width: $length-2;
        border-bottom-width: $length-4;

        background-color: $true-white;

        .is-author {
            position: absolute;
            top: -$length-16;
            left: $length-10;

            padding: 0 $length-6;

            border-top: 1px solid $grey-200;

            background: $true-white;

            color: $grey-500;
            font-size: $font-size-11;
            line-height: 1.5;

            &:before,
            &:after {
                content: " ";

                position: absolute;
                top: 0;

                display: block;

                width: $length-1;
                height: $length-16 - $length-1; // Align perfectly (off-grid but this will be removed soon anyway).

                background: $grey-200;
            }

            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }

        .message-metadata {
            display: inline-block;
            margin-left: $length-6;

            font-size: $font-size-10;

            a {
                display: block;
                height: $length-32;
                padding: 0 $length-6;

                float: left;

                border-bottom: $length-1 solid $grey-200;

                color: $grey-500;
                text-decoration: none;
                line-height: $length-32;

                transition-property: color, outline, border;
                transition-timing-function: ease;
                transition-duration: $transition-duration;

                &:hover,
                &:focus {
                    border-bottom: $length-1 solid $color-link;
                    color: $color-link;
                    outline: none;
                }
            }

            .username {
                color: $grey-800;
                font-size: $font-size-9;
                margin-right: $length-4;
            }

            .date {
                line-height: $length-32;

                .long-date {
                    display: none;
                }
            }
        }

        .message-actions {
            position: absolute;
            top: 0;
            right: 0;

            margin: 0;
            padding: 0;

            list-style: none;

            li {
                float: left;
            }
        }

        .message-content {
            clear: both;
            padding-top: $length-1;

            & > div {
                & > p:first-child {
                    margin-top: $length-8;
                }
                & > figure:first-child {
                    margin-top: $length-8;
                }
            }

            .message-hidden-content {
                display: none;
            }

            .message-edited,
            .message-hidden,
            .message-helpful,
            .message-potential-spam,
            .message-repeated {
                padding-top: $length-4 0 0;

                &.ico-after {
                    text-indent: $length-20;

                    &:after {
                        margin: $length-2 0;
                    }
                }
            }

            .message-edited,
            .message-hidden,
            .message-repeated {
                font-style: italic;

                &, & > a {
                    color: $grey-500;
                }

                &:after {
                    opacity: .5;
                }
            }

            .message-hidden {
                margin-top: $length-1;
            }

            .message-helpful:not(.message-potential-spam) {
                color: $green-800;
                text-indent: $length-20;
            }

            .message-potential-spam {
                color: $red-500;
                text-indent: $length-20;
            }

            textarea {
                margin: $length-10 0 $length-10 -#{$length-1};
                background-color: transparent;
                min-height: $length-128;
            }
        }

        .message-bottom {
            display: flex;
            align-items: flex-start;

            min-height: $length-32;

            .signature {
                flex: 1;

                box-sizing: border-box;
                height: $length-32;

                margin: 0 $length-10 0 0;
                padding: $length-4 0 $length-4 $length-10;

                border-top: $length-1 solid $grey-200;

                font-size: $font-size-11;
                color: $grey-500;
                line-height: 1.9;

                overflow: hidden;

                p {
                    margin: 0;
                    padding: 0;

                    img.smiley {
                        max-height: $length-16;
                    }
                }

                a {
                    color: $grey-500;
                    transition: color $transition-duration ease, text-decoration $transition-duration ease;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                        color: $grey-600;
                    }
                }
            }

            .message-karma {
                margin-left: auto;
                margin-bottom: -$length-4;

                span,
                button.ico-after {
                    box-sizing: border-box;
                    height: $length-32 + $length-4;

                    border-bottom-width: $length-4;
                    border-bottom-color: transparent;

                    background: none !important;

                    line-height: 1.5;
                }

                span {
                    &.upvote,
                    &.downvote {
                        &:not(.has-vote) {
                            border-bottom: none;
                            opacity: .5;
                        }
                    }
                }

                button {
                    // Disables transition for text-indent
                    transition-property: opacity, border;

                    &.voted:hover {
                        &:after {
                            opacity: .5;
                        }
                    }
                }

                .upvote,
                .downvote {
                    &:after {
                        left: $length-10;
                    }
                    &.voted:after {
                        opacity: 1;
                    }

                    &:hover,
                    &:focus {
                        &:not(.more-voted) {
                            border-bottom-color: transparent;
                        }
                    }

                    &:not(.has-vote) {
                        text-indent: -9999px;
                        width: 0;
                    }

                    &.more-voted {
                        font-weight: bold;
                    }
                }

                .upvote {
                    color: $color-success;

                    &.more-voted {
                        border-bottom-color: $color-success;
                    }
                }

                .downvote {
                    color: $color-danger;

                    &.more-voted {
                        border-bottom-color: $color-danger;
                    }
                }

                .tick {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:hover,
                    &:focus {
                        color: $grey-600;
                        border-bottom-color: $color-success;
                    }
                    &.active {
                        color: $green-800;

                        &:after {
                            opacity: 1;
                        }
                    }
                }

                .alert {
                    &:hover,
                    &:focus {
                        border-bottom-color: $red-500;
                    }
                }
            }
        }

        .message-buttons {
            margin: 0 0 0 $length-10;
            padding: 0;

            border-bottom: none;
            list-style: none;

            a {
                text-indent: -9999px;
                width: 0;

                &:after {
                    left: $length-12 !important;
                }
            }
        }

        .message-submit {
            margin: 0 $length-10 $length-6 auto;
        }

        .message-actions,
        .message-buttons,
        .message-karma,
        .message-submit {
            display: flex;

            form {
                width: auto;
            }

            a,
            .upvote,
            .downvote,
            button {
                display: block;
                float: left;
                margin-left: $length-4;

                &.ico-after {
                    padding-left: $length-32 !important;
                    line-height: 2.3;
                }

                &:after {
                    top: $length-8;
                    left: $length-8;
                    opacity: .5;
                    margin: 0;
                }
            }

            a,
            .upvote,
            .downvote,
            button.ico-after {
                height: $length-32;

                padding: 0 $length-10;

                border-bottom: $length-1 solid $grey-200;

                color: $grey-500;
                text-decoration: none;

                &:empty {
                  padding-right: 0;
                }
            }

            a,
            button.ico-after {
                cursor: pointer;

                &:hover,
                &:focus {
                    border-bottom-color: $color-link;
                    background: none;
                    outline: none;

                    transition-property: background, border, outline, opacity;
                    transition-timing-function: ease;
                    transition-duration: $transition-duration;

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        .message-actions a,
        .message-buttons a,
        .message-karma button {
            &:hover,
            &:focus {
                color: $grey-600;
                text-decoration: none;
            }
        }

        .alert-box .alert-box-text {
            float: none;
        }
    }
}

form.topic-message {
    margin-top: $length-48;
}

@include until-desktop {
    .topic-message {
        padding: $length-20 0;

        .user {
            position: absolute;
            top: -.9rem; // Perfect align (temp anyway)
            left: $length-128;

            display: flex;

            width: 100%;
            z-index: 10;

            .avatar-link {
                display: none;
            }

            .user-metadata {
                margin-left: $length-10;

                a {
                    box-sizing: border-box;

                    width: $length-64;
                    height: $length-24;

                    border: $length-1 solid $grey-200;
                    line-height: $length-20;
                }
            }

            .badge-sanction + .user-metadata {
                margin-left: $length-10;
            }
        }

        .message {
            border-right: 0;
            border-left: 0;

            padding-top: $length-64;

            .message-metadata {
                position: absolute;
                top: 0;
                left: 0;
                right: $length-10;

                height: $length-32;
                line-height: $length-32;

                z-index: 15;

                .username {
                    margin-left: $length-6;
                }

                .date {
                    float: right;
                }
            }

            .message-actions {
                margin: $length-32 $length-10 0 0;
            }

            .message-bottom {
                min-height: 0;

                .signature {
                    display: none;
                }

                .message-karma {
                    position: absolute;
                    top: $length-32;
                    left: $length-8;

                    .tick,
                    .alert {
                        margin-right: $length-1;
                        text-indent: -9999px;

                        &:after {
                            left: $length-12;
                        }
                    }

                    .upvote,
                    .downvote {
                        padding: 0 $length-8;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.message-content .message-hat-choice {
    display: inline-block;
    margin: $length-10;
}

@include desktop {
    .topic-message {
        margin: $length-24 0;

        &:first-child {
            margin-top: $length-32;
        }

        .user,
        .message {
            &:after {
                content: " ";

                position: absolute;
                top: $length-10;

                display: block;
                width: 0;
                height: 0;

                border: $length-20 solid transparent;
                border-left: 0;
            }
        }

        .user {
            position: absolute;
            top: 0;
            left: 0;

            padding-top: $length-48;

            &:after {
                top: $length-4;
                left: $length-48;

                border-right-color: $grey-200;
            }
        }

        .message {
            // Avatar' size + arrow' size
            margin-left: $length-48 + $length-20;

            &:after {
                // Arrow alignment, must be exact
                top: 9px;
                left: -19px;

                border-right-color: $true-white;
            }

            .is-author {
                left: $length-6;
            }

            .message-content {
                margin: 0 $length-10;

                > :first-child {
                    margin-top: $length-6;
                }
                > figure:first-child {
                    margin-top: $length-10;
                }
            }

            .message-bottom .signature {
                cursor: pointer;

                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    img.smiley {
                        max-height: $length-16;
                    }
                }

                &.full p {
                    white-space: normal;
                }
            }
        }
    }
}

@include mobile {
    .topic-message .message {
        .message-actions a {
            width: 0;
            text-indent: -9999px;

            &:after {
                left: $length-12 !important;
            }
        }

        .message-submit {
            display: block !important;
            margin: 0;

            width: 100%;

            button {
                float: right;
                display: block;
                width: calc(50% - #{$length-2});
                margin-left: $length-1 !important;

                &.btn-grey {
                    float: left;
                }
            }
        }
    }

    form .message {
        padding-top: 0 !important;
    }
}

// For alerts resolution modals
.cannot-send-message-with-solved-alert {
    font-size: $font-size-11;
    line-height: 1.4;
}
