.topic-message {
    position: relative;

    &.repeated {
        .message {
            &,
            .is-author {
                background: #EEE;
            }

            &:after {
                border-right-color: #EEE;
            }
        }
    }
    &.helpful {
        .message {
            &,
            .is-author {
                background: $color-helpful;
            }

            &:after {
                border-right-color: $color-helpful;
            }
        }
        &.repeated {
            .message {
                &,
                .is-author {
                    background: desaturate($color-helpful, 50%);
                }

                &:after {
                    border-right-color: desaturate($color-helpful, 50%);
                }
            }
        }
    }

    .user {
        .avatar-link {
            display: block;
            height: 58px;
            width: 58px;
            z-index: 0;
            position: absolute;
            top: 0;
            border: 1px solid #DDD;

            &[href]:hover,
            &[href]:focus {
                border-color: #FFF;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, .3) 0 1px 7px;
            }

            img {
                height: 58px;
                width: 58px;
            }
        }
        .user-metadata {
            width: 60px;
            height: 25px;

            a {
                display: block;
                float: left;
                border: 1px solid #D2D5D6;
                border-top: 0;
                text-align: center;
                background-color: #edefef;
                text-decoration: none;
                color: #424242;
                height: 25px;
                line-height: 26px;
                width: 58px;
                color: #777;
                transition: all $transition-duration ease;

                &:hover,
                &:focus {
                    border-bottom-width: 1px;
                    border-bottom-color: #777;
                    background: #FFF;
                }

                &.positive {
                    color: #48a200;
                }
                &.negative {
                    color: #c0392b;
                    font-weight: bold;
                }
            }
        }
    }

    .message {
        position: relative;
        background-color: #FDFDFD;
        border: 1px solid #D2D5D6;
        border-right-width: 2px;
        border-bottom-width: 3px;
        min-height: 75px;

        .is-author {
            position: absolute;
            top: -16px;
            left: 10px;
            background: #FDFDFD;
            padding: 0 5px;
            font-size: 12px;
            line-height: 20px;
            color: #999;
            border-top: 1px solid #D2D5D6;

            &:before,
            &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                height: 15px;
                width: 1px;
                background: #D2D5D6;
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }

        .message-metadata {
            display: inline-block;
            font-size: 14px;
            font-size: 1.4rem;
            margin-left: 5px;

            a {
                display: block;
                float: left;
                color: #999;
                text-decoration: none;
                height: 30px;
                line-height: 30px;
                padding: 0 5px;
                border-bottom: 1px solid #D2D5D6;
                transition: all $transition-duration ease;

                &:hover,
                &:focus {
                    border-bottom: 1px solid lighten($color-primary, 15%);
                    color: lighten($color-primary, 15%);
                    outline: none;
                }
            }
            .username {
                color: #484848;
                font-size: 16px;
                font-size: 1.6rem;
                margin-right: 3px;
            }
            .date {
                line-height: 32px;

                .long-date {
                    display: none;
                }
            }
        }

        .message-actions {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            top: 0;
            right: 0;

            li {
                float: left;
            }
        }

        .message-content {
            clear: both;
            padding-top: 1px;

            & > div {
                & > p:first-child {
                    margin-top: 7px;
                }
                & > figure:first-child {
                    margin-top: 8px;
                }
            }

            .message-hidden-content {
                display: none;
            }

            .message-edited,
            .message-hidden,
            .message-helpful,
            .message-repeated {
                padding-top: 3px 0 0;

                &.ico-after {
                    text-indent: 20px;

                    &:after {
                        margin: 4px 0;
                    }
                }
            }
            .message-edited,
            .message-hidden,
            .message-repeated {
                font-style: italic;
                color: #999;

                & > a {
                    color: #999;
                }

                &:after {
                    opacity: .5;
                }
            }
            .message-hidden {
                margin-top: 1px;
            }
            .message-helpful {
                color: #48A200;
                text-indent: 20px;
            }

            textarea {
                margin: 10px 0 10px -1px;
                background-color: transparent;
                min-height: 150px;
            }
        }

        .message-bottom {
            @include display(flex);
            @include align-items(flex-start);
            min-height: 30px;

            .signature {
                border-top: 1px solid #D2D5D6;
                padding: 3px 0 3px 10px;
                margin: 0 10px 0 0;
                font-size: 12px;
                font-size: 1.2rem;
                color: #999;
                flex: 1;
                overflow: hidden;

                p {
                    margin: 0;
                    padding: 0;
                }

                a {
                    color: #999;
                    transition: all $transition-duration ease;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                        color: #555;
                    }
                }
            }

            .message-karma {
                margin-left: auto;
                margin-bottom: -2px;

                span,
                button.ico-after {
                    border-bottom-width: 3px;
                    border-bottom-color: transparent;
                    background: none !important;
                    height: 32px;
                }
                span {
                    &.upvote,
                    &.downvote {
                        &:not(.has-vote) {
                            border-bottom: none;
                            opacity: .5;
                        }
                    }
                }
                button {
                    // Disable transition for text-indent
                    transition-property: opacity, border;

                    &.voted:hover {
                        &:after {
                            opacity: .5;
                        }
                    }
                }

                .upvote,
                .downvote {
                    &:after {
                        left: 10px;
                    }
                    &.voted:after {
                        opacity: 1;
                    }

                    &:hover,
                    &:focus {
                        &:not(.more-voted) {
                            border-bottom-color: transparent;
                        }
                    }

                    &:not(.has-vote) {
                        text-indent: -9999px;
                        width: 0;
                    }

                    &.more-voted {
                        font-weight: bold;
                    }
                }
                .upvote {
                    color: $color-success;

                    &.more-voted {
                        border-bottom-color: $color-success;
                    }
                }
                .downvote {
                    color: $color-danger;

                    &.more-voted {
                        border-bottom-color: $color-danger;
                    }
                }

                .tick {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:hover,
                    &:focus {
                        color: #555;
                        border-bottom-color: $color-success;
                    }
                    &.active {
                        color: #48a200;

                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .message-buttons {
            margin: 0 0 0 10px;
            padding: 0;
            list-style: none;
            border-bottom: none;

            a {
                text-indent: -9999px;
                width: 0;

                &:after {
                    left: 12px !important;
                }
            }
        }

        .message-submit {
            margin-left: auto;
            margin-right: 10px;
        }

        .message-actions,
        .message-buttons,
        .message-karma,
        .message-submit {
            @include display(flex);

            form {
                width: auto;
            }

            a,
            .upvote,
            .downvote,
            button {
                display: block;
                float: left;
                margin-left: 3px;
                transition: all $transition-duration ease;

                &.ico-after {
                    padding-left: 30px !important;
                }

                &:after {
                    top: 7px;
                    left: 7px;
                    transition: all $transition-duration ease;
                    opacity: .5;
                    margin: 0;
                }
            }
            a,
            .upvote,
            .downvote,
            button.ico-after {
                border-bottom: 1px solid #D2D5D6;
                text-decoration: none;
                color: #999;
                height: 29px;
                line-height: 30px;
                padding: 0 10px;
            }
            a,
            button.ico-after {
                cursor: pointer;

                &:hover,
                &:focus {
                    border-bottom-color: lighten($color-primary, 15%);
                    outline: none;
                    background: none;

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
        .message-actions a,
        .message-buttons a,
        .message-karma button {
            &:hover,
            &:focus {
                color: #555;
                text-decoration: none;
            }
        }

        .alert-box .alert-box-text {
            float: none;
        }
    }
}
form.topic-message {
    margin-top: 50px;
}

@media only screen and #{$media-mobile-tablet} {
    .topic-message {
        padding: 20px 0;

        .user {
            position: absolute;
            top: 7px;
            z-index: 10;
            width: 100%;

            .avatar-link {
                float: left;
                display: none;
            }
            .badge {
                float: left;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                width: 50px;
                margin-top: -2px;
                margin-left: 10px;

                &.push-badge {
                    margin-left: 105px;
                }
            }
            .user-metadata {
                float: right;
                width: 140px;
                margin-right: 10px;

                a {
                    float: left;
                    height: 20px;
                    line-height: 20px;
                    border-bottom: none;
                    width: 68px;
                }
            }
        }
        .message {
            border-right: 0;
            border-left: 0;
            padding-top: 65px;

            .message-metadata {
                position: absolute;
                top: 0;
                left: 0;
                right: 10px;
                z-index: 15;
                height: 30px;
                line-height: 30px;

                .username {
                    margin-left: 5px;
                }

                .date {
                    float: right;
                }
            }

            .message-actions {
                margin: 35px 10px 0 0;
            }

            .message-bottom {
                min-height: 0;

                .signature {
                    display: none;
                }
                .message-karma {
                    position: absolute;
                    top: 35px;
                    left: 7px;

                    .tick {
                        text-indent: -9999px;
                        margin-right: 1px;

                        &:after {
                            left: 12px;
                        }
                    }

                    .upvote,
                    .downvote {
                        padding: 0 7px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and #{$media-wide} {
    .topic-message {
        margin: 25px 0;

        &:first-child {
            margin-top: 35px;
        }

        .user,
        .message {
            &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 10px;
                height: 0;
                width: 0;
                border: 20px solid transparent;
                border-left: 0;
            }
        }

        .user {
            position: absolute;
            padding-top: 60px;
            top: 0;
            left: 0;

            &:after {
                left: 60px;
                border-right-color: #D2D4D6;
            }
        }
        .message {
            margin-left: 80px;

            &:after {
                top: 9px;
                left: -19px;
                border-right-color: #FDFDFD;
            }

            .is-author {
                left: 5px;
            }

            .message-content {
                margin: 0 10px;

                > :first-child {
                    margin-top: 5px;
                }
                > figure:first-child {
                    margin-top: 10px;
                }
            }
            .message-bottom .signature {
                cursor: pointer;

                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &.full p {
                    white-space: normal;
                }
            }
        }
    }
}

@media only screen and #{$media-mobile} {
    .topic-message .message {
        .message-actions a {
            width: 0px;
            text-indent: -9999px;

            &:after {
                left: 12px !important;
            }
        }
        .message-submit {
            display: block !important;
            width: 100%;
            margin: 0;

            button {
                float: right;
                display: block;
                width: calc(50% - 2px);
                margin-left: 1px !important;

                &.btn-grey {
                    float: left;
                }
            }
        }
    }

    form .message {
        padding-top: 0 !important;
    }
}
