$message-arrow-width: 20px;

div.msg-are-hidden {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0;
    margin-bottom: $length-14;

    a {
        color: $grey-400;
        font-size: $font-size-11;
    }

    & ~ .topic-message.hidden + .topic-message:not(.hidden) {
        margin-top: $length-10;
    }

    & + .topic-message.hidden + .pagination {
        margin-top: $length-10;
    }

    + .topic-message {
        margin-top: 0;
    }

    .topic-message + & {
        margin-top: -$length-16;
    }
}

.topic-message {
    position: relative;

    margin: $length-24 0;

    &:first-child {
        margin-top: $length-32;
    }

    &.repeated {
        .message {
            &,
            .is-author {
                background: $grey-000;
            }

            &::after {
               background-color: $grey-000;
            }
        }
    }

    &.helpful:not(.potential-spam) {
        .message {
            &,
            .is-author {
                background: $color-helpful;
            }

            &::after {
                background-color: $color-helpful;
            }
        }
        &.repeated {
            .message {
                &,
                .is-author {
                    background: rgba($color-helpful, .4);
                }
            }
        }
    }

    &.potential-spam {
        .message {
            &,
            .is-author {
                background: $color-potential-spam;
            }

            &::after {
                background-color: $color-potential-spam;
            }
        }
        &.repeated {
            .message {
                &,
                .is-author {
                    background: rgba($color-potential-spam, .5);
                }
            }
        }
    }

    &.hidden-by-someone {
        .message {
            &,
            .is-author {
                background: $grey-100;
            }
            &::after {
                background-color: $grey-100;
            }

            // Messages like “this reply was useful” are not displayed for hidden messages.
            // This avoid a parasite margin.
            .message-content aside {
                display: none;
            }

            .message-bottom {
               display: none;
            }
        }

        .user .avatar-link img {
            opacity: 0.8;
        }

        & + .pagination, & + .alert-box {
            margin-top: $length-24;
        }
    }

    &:target {
        /* Force l'affichage des messages masqués s'ils sont la cible d'une ancre (par exemple en venant via une notification) */
        display: block !important;
        visibility: visible !important;
    }

    .user {
        @include until-desktop {
            display: none;
        }

        margin-top: $length-6;

        @include desktop {
            position: absolute;
            top: 0;
            left: 0;

            padding-top: $length-48;
        }

        .avatar-link {
            position: absolute;
            top: 0;

            display: block;

            width: $length-48;
            height: $length-48;

            border: $length-1 solid $white;

            z-index: 0;

            &[href]:hover,
            &[href]:focus {
                border-color: $true-white;
                box-shadow: rgba($black, .3) 0 $length-1 $length-8;

                overflow: hidden;
            }

            .avatar {
                height: $length-48;
                width: $length-48;

                box-shadow: inset 0 0 $length-1 rgba($black, .1);
            }
        }

        .user-metadata {
            width: $length-48;
            height: $length-24;

            a {
                display: block;

                width: 100%;
                height: 100%;

                border: $length-1 solid $grey-200;
                border-top: 0;

                background-color: $grey-000;

                color: $grey-500;
                text-decoration: none;
                text-align: center;
                line-height: 1.6;

                transition: border $transition-duration ease, background $transition-duration ease;

                &:hover,
                &:focus {
                    border-bottom-width: $length-1;
                    border-bottom-color: $primary-600;

                    background: $true-white;
                }

                &.positive {
                    color: $green-700;
                }
                &.negative {
                    color: $red-700;
                    font-weight: bold;
                }
            }
        }
    }

    .message {
        position: relative;

        min-height: $length-64;

        border: 1px solid $grey-200;
        border-right-width: $length-2;
        border-bottom-width: $length-4;

        background-color: $true-white;

        @include desktop {
            // Avatar' size + arrow' size
            margin-left: $length-48 + $length-20;

            &::before,
            &::after {
                content: " ";

                position: absolute;
                right: 100%;
                box-sizing: border-box;

                display: block;

                clip-path: polygon(100% 0, 0 50%, 100% 100%);
            }
            &::before {
                top: 10px;
                width: #{$message-arrow-width};
                height: #{($message-arrow-width) * 2};
                background-color: $grey-200;
            }
            &::after {
                // Arrow alignment, must be exact
                top: 11px;
                width: #{$message-arrow-width - 1px};
                height: #{($message-arrow-width) * 2 - 2px};
                background-color: $true-white;
            }
        }

        header {
            display: flex;
            align-items: flex-start;

            ul.message-metadata {
                flex: 2;

                @include horizontal-list;

                margin: $length-6 $length-10 $length-10;
                padding: 0;

                li {
                    &, a {
                        color: $grey-500;
                        font-size: $font-size-10;
                    }

                    .username-date-separator {
                        @include mobile {
                            display: none;
                        }
                    }

                    a {
                        text-decoration: none;

                        &:hover, &:focus {
                            text-decoration: underline;
                        }

                        &.username {
                            color: $grey-900;
                            font-weight: bold;
                        }

                        &.date {
                            @include until-wide {
                                .short-date {
                                    display: inline;
                                }
                                .long-date {
                                    display: none;
                                }
                            }
                            @include wide {
                                .short-date {
                                    display: none;
                                }
                                .long-date {
                                    display: inline;
                                }
                            }

                            @include mobile {
                                display: none;
                            }
                        }
                    }

                    &.message-edited {
                        @include mobile {
                            display: none;
                        }
                    }

                    &.is-author {
                        display: inline-flex;
                        align-items: center;

                        svg {
                            position: relative;
                            top: $length-1;

                            height: $length-14;
                        }
                    }

                    div.hat {
                        height: auto;

                        margin: 0;
                        padding: 0;

                        a.name {
                            border-radius: $radius-1;
                            color: $white;

                            &:hover, &:focus {
                                color: $color-hat;
                                background-color: $white;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            details.message-actions {
                margin-top: $length-4;
                margin-right: $length-4;
                margin-bottom: $length-8;

                summary {
                    height: $length-32;
                    padding-right: $length-8;
                    padding-left: $length-8;
                    color: $grey-500;

                    &::before {
                        content: '…';

                        width: $length-6;

                        padding: $length-6;

                        font-size: $font-size-9;
                        font-weight: bold;

                        line-height: .8;
                    }

                    &:hover,
                    &:focus {
                        color: $grey-700;
                        outline: none;
                    }
                }

                .dropdown-content {
                    --dropdown-arrow-offset-right: #{$length-12};
                    padding-top: $length-4;
                    padding-bottom: $length-4;

                    li {
                        display: flex;
                        align-items: center;
                        box-sizing: border-box;

                        min-width: $length-128;

                        user-select: none;

                        transition: $transition-duration ease-in-out;
                        transition-property: min-width, width, box-shadow;

                        @include mobile {
                            width: 0;
                            min-width: $length-64;

                            span, a:after {
                                display: none;
                            }
                        }

                        form {
                            margin: 0;
                            padding: 0;

                            width: 100%;
                            height: 100%;
                        }

                        a, button, button[type=submit] {
                            display: block;
                            float: none; // to cancel universal button floating

                            box-sizing: border-box;

                            margin: 0;
                            padding: $length-6;
                            padding-left: $length-32;

                            width: 100%;
                            height: 100%;

                            color: $grey-500;
                            text-decoration: none;

                            // for buttons
                            text-align: left;
                            line-height: unset;

                            &:hover, &:focus {
                                background-color: $blue-000;
                            }

                            &.ico-after:after {
                                top: $length-8;
                                left: $length-8;

                                margin: 0; // for buttons
                            }
                        }

                        &.is-separator {
                            // display: flex in :hover
                            align-items: center;

                            height: $length-48;
                            padding: 0 0 0 $length-8;

                            color: $grey-500;

                            span {
                                display: inline-block;

                                margin-top: -$length-2;
                                padding: 0 $length-8 0 0;
                            }

                            hr {
                                flex: 2;

                                height: $length-1;

                                border: none;
                                background-color: $grey-200;
                            }
                        }
                    }

                    &, li, a, button {
                        background-color: $true-white;
                    }

                    li {
                        min-width: $length-192;

                        @include mobile {
                            span {
                                display: inline;
                            }

                            a:after {
                                display: block;
                            }
                        }

                        &:first-child {
                            padding-right: 0;

                            &::after {
                                display: none;
                            }
                        }

                        &:not(:first-child) {
                            display: block;
                        }

                        &.is-separator {
                            display: flex;
                        }

                        a, button, button[type=submit] {
                            color: $grey-900;
                        }
                    }
                }
            }
        }

        .message-content {

            @include desktop {

                margin: 0 $length-14;

                > figure:first-child {
                    margin-top: $length-10;
                }
            }

            > aside > :first-child {
                margin-top: 0;
            }

            > aside + .message-text > :first-child {
                margin-top: 0;
            }

            .message-edited,
            .message-helpful,
            .message-potential-spam,
            .message-repeated {
                padding-top: $length-4 0 0;

                &.ico-after {
                    text-indent: $length-20;

                    &::after {
                        margin: $length-2 0;
                    }
                }
            }

            .message-edited,
            .message-hidden-reason,
            .message-repeated {
                &, & > a {
                    color: $grey-500;
                }

                &::after {
                    opacity: .5;
                }
            }

            .message-edited,
            .message-repeated {
                font-style: italic;
            }

            .message-hidden-reason {
                margin-top: 0;
            }

            details.message-hidden-container {
                margin-bottom: $length-10;

                // These styles are only applied to summaries as they
                // are used to make this visibly clickable. These should
                // not be applied to p.message-hidden-reason, displayed to
                // users without the right to see the hidden message.
                summary.message-hidden-reason {
                    cursor: pointer;

                    @include until-desktop {
                        margin-left: $length-10;
                    }

                    &:hover, &:active, &:focus {
                        color: $grey-800;
                        outline: none;
                        border: none;
                    }
                }
            }

            .message-helpful:not(.message-potential-spam) {
                color: $green-800;
                text-indent: $length-20;
            }

            .message-potential-spam {
                color: $red-500;
                text-indent: $length-20;
            }

            textarea {
                margin: $length-10 0 $length-10 -#{$length-1};
                background-color: transparent;
                min-height: $length-128;
            }

            .message-hat-choice {
                display: inline-block;
                margin: $length-10;
            }
        }

        .message-bottom {
            display: flex;
            align-items: flex-start;

            min-height: $length-32;

            .metadata-mobile {
                @include tablet {
                    display: none;
                }

                @include mobile {
                    flex: 1;
                    align-self: center;

                    margin: 0 0 0 $length-10;
                    padding: 0;

                    ul {
                        @include horizontal-list;

                        &, a {
                            color: $grey-700;
                            font-size: $font-size-11;

                            &.mobile-permalink {
                                text-decoration: none;
                            }
                        }
                    }

                    // The user global karma, displayed in the message footer
                    // on mobile
                    .user-karma {
                        font-weight: bold;
                        text-decoration: none;

                        &.positive {
                            color: $green-800;
                        }
                        &.negative {
                            color: $red-800;
                        }
                    }
                }
            }

            .signature {
                position: relative;
                flex: 1;

                height: auto;
                box-sizing: border-box;

                margin: 0 $length-10 0 0;
                padding: $length-4 0 $length-4 $length-10;

                border-top: $length-1 solid $grey-200;

                font-size: $font-size-11;
                color: $grey-500;
                line-height: 1.9;

                overflow: hidden;
                cursor: pointer;

                @include mobile {
                    display: none;
                }

                input[type=checkbox] {
                    position: absolute;
                    top: 0;
                    left: 0;

                    opacity: 0;
                }

                p {
                    margin: 0;
                    padding: 0;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    img.smiley {
                        max-height: $length-16;
                    }
                }

                input[type=checkbox]:checked ~ p {
                    white-space: normal;
                }

                a {
                    color: $grey-500;
                    transition: color $transition-duration ease, text-decoration $transition-duration ease;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                        color: $grey-600;
                    }
                }
            }

            .message-karma {
                margin-left: auto;
                margin-bottom: -$length-4;

                span,
                button.ico-after {
                    box-sizing: border-box;
                    height: $length-32 + $length-4;

                    border-bottom-width: $length-4;
                    border-bottom-color: transparent;

                    background: none !important;

                    line-height: 1.5;
                }

                span {
                    &.upvote,
                    &.downvote {
                        &:not(.has-vote) {
                            border-bottom: none;
                            opacity: .5;
                        }
                    }
                }

                button {
                    // Disables transition for text-indent
                    transition-property: opacity, border;

                    &.voted:hover {
                        &::after {
                            opacity: .5;
                        }
                    }
                }

                .upvote,
                .downvote {
                    &::after {
                        left: $length-10;
                    }
                    &.voted::after {
                        opacity: 1;
                    }

                    &:hover,
                    &:focus {
                        &:not(.more-voted) {
                            border-bottom-color: transparent;
                        }
                    }

                    &:not(.has-vote) {
                        text-indent: -9999px;
                        width: 0;
                    }

                    &.more-voted {
                        font-weight: bold;
                    }
                }

                .upvote {
                    color: $color-success;

                    &.more-voted {
                        border-bottom-color: $color-success;
                    }
                }

                .downvote {
                    color: $color-danger;

                    &.more-voted {
                        border-bottom-color: $color-danger;
                    }
                }

                .tick {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:hover,
                    &:focus {
                        color: $grey-600;
                        border-bottom-color: $color-success;
                    }
                    &.active {
                        color: $green-800;

                        &::after {
                            opacity: 1;
                        }
                    }
                }

                .alert {
                    &:hover,
                    &:focus {
                        border-bottom-color: $red-500;
                    }
                }
            }
        }

        .message-submit {
            margin: 0 $length-10 $length-6 auto;
        }

        .message-karma,
        .message-submit {
            display: flex;

            form {
                width: auto;
            }

            a,
            .upvote,
            .downvote,
            button {
                display: block;
                float: left;
                margin-left: $length-4;

                &.ico-after {
                    padding-left: $length-32 !important;
                    line-height: 2.3;
                }

                &::after {
                    top: $length-8;
                    left: $length-8;
                    opacity: .5;
                    margin: 0;
                }
            }

            a,
            .upvote,
            .downvote,
            button.ico-after {
                height: $length-32;

                padding: 0 $length-10;

                border-bottom: $length-1 solid $grey-200;

                color: $grey-500;
                text-decoration: none;

                &:empty {
                  padding-right: 0;
                }
            }

            a,
            button.ico-after {
                cursor: pointer;

                &:hover,
                &:focus {
                    border-bottom-color: $color-link;
                    background: none;
                    outline: none;

                    transition-property: background, border, outline, opacity;
                    transition-timing-function: ease;
                    transition-duration: $transition-duration;

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        .message-actions a,
        .message-karma button {
            &:hover,
            &:focus {
                color: $grey-600;
                text-decoration: none;
            }
        }

        .alert-box .alert-box-text {
            float: none;
        }
    }
}

form.topic-message {
    margin-top: $length-48;
}

// For alerts resolution modals
.cannot-send-message-with-solved-alert {
    font-size: $font-size-11;
    line-height: 1.4;
}
