#very-top-banner {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;

    padding: 0 1rem;

    z-index: 21;

    box-sizing: border-box;
    min-height: 25px;
    width: 100%;

    border-bottom: 2px solid black;
    text-align: center;
    font-weight: bold;

    /* Variables from `templates/very_top_banner.html` */
    background-color: var(--very-top-banner-background-color);
    color: var(--very-top-banner-color);
    border-color: var(--very-top-banner-border-color);

    span {
        flex: 12;
    }

    button {
        background: transparent;
        border: none;

        font-size: 2.6rem;

        color: white;
        font-weight: normal;

        cursor: pointer;
    }
}
