.video-container {
    margin: 0 auto;

    .video-wrapper {
        position: relative;

        .video-responsive {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
