{% extends "member/admin/base.html" %}

{% load captureas %}
{% load date %}
{% load i18n %}
{% load remove_url_scheme %}

{% block title %}
    {% trans "Membres par IP" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "IP" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Membres par IP" %} : <strong>{{ ip }}</strong>
{% endblock %}



{% block content %}
    <p>
        {% blocktrans %}
            Liste des membres dont la dernière IP connue est {{ ip }}
        {% endblocktrans %}
    </p>

    <div class="members">
        <ul>
            {% for member in members %}
                <li>{% include "misc/member_item.part.html" with member=member info=member.last_visit|format_date:True avatar=True %}</li>
            {% endfor %}
        </ul>
    </div>

    {% if ":" in ip %}
    <p>
        {% blocktrans %}
            Liste des membres dont la dernière IP connue fait partie du bloc {{ network_ip }}
        {% endblocktrans %}
    </p>

    <div class="members">
        <ul>
            {% for member in network_members %}
                <li>{% include "misc/member_item.part.html" with member=member info=member.last_visit|format_date:True avatar=True %}</li>
            {% endfor %}
        </ul>
    </div>

    <p>
        En IPv6, les adresses sont attribuées par bloc d'IP. Un bot de spam peut donc facilement changer d'adresse IP au sein de ce bloc. Sont affichées ici tous les membres dont l'IPv6 fait partie du même bloc que l'IP demandée.
    </p>
    {% endif %}
{% endblock %}
