{% extends "forum/base.html" %}
{% load date %}
{% load profile %}
{% load emarkdown %}
{% load i18n %}



{% block title %}
    {% trans "Messages postés par" %} {{ usr.username }}
{% endblock %}



{% block headline %}
    {% trans "Messages postés par" %} "{{ usr.username }}"
{% endblock %}



{% block breadcrumb %}
    {% with profile=usr|profile %}
        <li><a href="{{ profile.get_absolute_url }}">{{ usr.username }}</a></li>
    {% endwith %}
    <li><a href="{% url "forum:post-find" usr.pk %}">{% trans "Messages postés" %}</a></li>
    <li>{% trans "Recherche" %}</li>
{% endblock %}



{% block content %}

    {% if hidden_posts_count %}
        <p class="alert-box info">
            {% blocktrans count counter=hidden_posts_count %}
                {{ counter }} message est invisible car dans un sujet inaccessible.
            {% plural %}
                {{ counter }} messages sont invisibles car dans un sujet inaccessible.
            {% endblocktrans %}
        </p>
    {% endif %}

    {% include "misc/paginator.html" with position="top" %}

    {% if posts %}
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th width="15%">{% trans "Sujet" %}</th>
                        <th width="10%">{% trans "Date" %}</th>
                        <th width="30%">{% trans "Extrait" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>
                                <div class="forum-entry-title {% if user.is_authenticated %} {% if topic.is_unread %} unread {% endif %} {% endif %}">
                                    <a href="{{ post.get_absolute_url }}">{{ post.topic.title }} </a>
                                    {% if post.topic.subtitle %} <p> {{ post.topic.subtitle }} </p> {% endif %}
                                </div>
                            </td>
                            <td>
                                {{ post.pubdate|format_date }}
                            </td>
                            <td>
                                {% if post.is_visible %}
                                    {{ post.text|truncatechars:200 }}
                                {% else %}
                                    {% if post.text_hidden %}
                                        {% trans "Masqué par" %} {{ post.editor }}
                                        : {{ post.text_hidden }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>
            {% trans "Aucun message n’a été posté par" %} {{ usr.username }}.
        </p>
    {% endif %}

    {% include "misc/paginator.html" with position="bottom" %}
{% endblock %}
