{% extends "forum/base.html" %}
{% load profile %}
{% load emarkdown %}
{% load i18n %}


{% block title %}
    {% trans "Tag" %} : {{ tag.title }}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Tag" %} : {{ tag.title }}</li>
{% endblock %}



{% block headline %}
    {% trans "Tag" %} : {{ tag.title }}
{% endblock %}

{% block feeds_rss %}
    {% include "forum/includes/feed.part.html" with param="?tag=" value=tag.pk %}
{% endblock %}

{% block content %}
    {% include "misc/pagination.part.html" with position="top" %}

    <div class="topic-list">
        {% for topic in topics %}
            {% include "forum/includes/topic_row.part.html" %}
        {% endfor %}
    </div>

    {% include "misc/pagination.part.html" with position="bottom" %}
{% endblock %}