{% extends "featured/base.html" %}
{% load i18n %}
{% load remove_url_scheme %}
{% load date %}

{% block title %}
    {% trans "Liste des unes" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Liste des unes" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Liste des unes" %}
{% endblock %}



{% block content %}
    {% if featured_resource_list %}

        <header class="topics-list-header">
            <button class="toggle-gallery-view btn btn-grey" type="button" title="{% trans 'Alterner entre les modes de vue grille et liste' %}">
                {% trans "Vue grille" %}
            </button>

            <a href="#form-delete-featured" class="btn btn-cancel open-modal">
                {% trans "Supprimer la sélection" %}
            </a>
        </header>

        {% include "misc/paginator.html" with position="top" %}

        <div class="gallery topic-list list-view clearfix navigable-list">
            {% for featured_resource in featured_resource_list %}
                <div class="topic gallery-item navigable-elem">
                    <div class="topic-infos">
                        <input name="items" type="checkbox" value="{{ featured_resource.pk }}" form="form-delete-featured">
                    </div>
                    <div class="topic-description">
                        <a href="{% url "featured:resource-update" featured_resource.pk %}" class="topic-title-link navigable-link">
                            <img src="{{ featured_resource.image_url|remove_url_scheme }}"
                                 data-caption="{{ featured_resource.title }}"
                                 alt="{{ featured_resource.title }}"
                                 class="topic-image"
                            >
                            <span class="topic-title">{{ featured_resource.title }}</span>
                            <span class="topic-subtitle">{% trans 'Publiée le' %} <time datetime="{{ featured_resource.pubdate|date:'Y-m-d H:i:s'}}">
                                {{ featured_resource.pubdate|format_date_no_future|lower }}</time></span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>


        <footer class="topics-list-header">
            <button class="toggle-gallery-view btn btn-grey" type="button" title="{% trans 'Alterner entre les modes de vue grille et liste' %}">
                {% trans "Vue grille" %}
            </button>

            <a href="#form-delete-featured" class="btn btn-cancel open-modal">
                {% trans "Supprimer la sélection" %}
            </a>
        </footer>

        {% include "misc/paginator.html" with position="bottom" %}

        <!-- Confirmation modal for deleting featured -->
        <form id="form-delete-featured" name="form" method="post" action="{% url "featured:resource-list-delete" %}" class="modal modal-flex">
            {% csrf_token %}
            <p>{% trans "Attention, vous vous apprêtez à supprimer toutes les unes sélectionnées." %}</p>
            <button type="submit" name="delete_multi" class="btn btn-submit">{% trans "Confirmer" %}</button>
        </form>
    {% else %}
        <p>
            {% trans "Aucune une pour le moment." %}
        </p>
    {% endif %}
{% endblock %}
