{% load i18n %}

<article class="featured-item">
    <a href="{{ news.url }}">
        <img src="{{ news.image_url }}" alt="" class="featured-illu">
        <div class="featured-meta">
            <h3>{{ news.title }}</h3>
            <p class="featured-description">{% trans "Un" %} {{ news.type }} {% for author in news.authors.all %}{% if forloop.first %}{% trans "par" %}{% elif forloop.last %} {% trans "et" %}{% else %},{% endif %} <i>{{ author }}</i>{% endfor %}</p>
        </div>
        <div class="overlay"></div>
    </a>
</article>

