{% extends "tutorial/base.html" %}
{% load set %}



{% block title %}
    {{ chapter.title }} - {{ chapter.part.tutorial.title }} {{ chapter.tutorial.title }}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ chapter.part.tutorial.get_absolute_url }}{% if version %}?version={{version}}{% endif %}">{{ chapter.part.tutorial.title }} {{ chapter.tutorial.title }}</a></li>
    <li><a href="{{ chapter.part.get_absolute_url }}{% if version %}?version={{version}}{% endif %}">{{ chapter.part.title }}</a></li>
    <li>{{ chapter.title }}</li>
{% endblock %}



{% block headline %}
    {% with tutorial=chapter.part.tutorial %}
        {% with authors=tutorial.authors.all %}
            <h1 {% if chapter.image %}class="illu"{% endif %}>
                {% if chapter.image %}
                    <img src="{{ chapter.image.thumb.url }}" alt="">
                {% endif %}
                {{ chapter.title }}
            </h1>

            <ul class="taglist">
                {% for category in tutorial.subcategory.all %}
                    {# TODO : Mettre le lien des tags #}
                    <li><a href="#">{{ category.title }}</a></li>
                {% endfor %}
            </ul>

            <div class="authors">
                <span class="authors-label">Auteurs : </span>
                <ul>
                    {% for member in authors %}
                        <li>
                            {% include "misc/member_item.part.html" with avatar=True %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% if tutorial.in_beta and tutorial.sha_beta == version %}
                <div class="content-wrapper">
                    <div class="alert-box warning">
                        Attention, cette version du tutoriel est en BETA !
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endblock %}



{% block content %}
    {% with tutorial=chapter.part.tutorial %}
        {% with authors=tutorial.authors.all %}
            {% include "tutorial/includes/chapter_pager.part.html" with position="top" %}
            {% include "tutorial/includes/chapter.part.html" %}
            {% include "tutorial/includes/chapter_pager.part.html" with position="bottom" %}
        {% endwith %}
    {% endwith %}
{% endblock %}



{% block sidebar_new %}
    <a href="{% url "zds.tutorial.views.add_extract" %}?chapitre={{ chapter.pk }}"
       class="ico-after more blue new-btn"
    >
        Ajouter un extrait
    </a>
    <a href="{% url "zds.tutorial.views.edit_chapter" %}?chapitre={{ chapter.pk }}&version={{version}}"
       class="ico-after edit blue new-btn"
    >
        Éditer le chapitre
    </a>
{% endblock %}



{% block sidebar_actions %}
    {% if user in chapter.part.tutorial.authors.all or chapter.tutorial.authors.all %}
        <li>
        </li>

        {% if chapter.part %}
            <li>
                <a href="#move-chapter" class="open-modal ico-after arrow-right blue">
                    Déplacer <span class="wide">le chapitre</span>
                </a>
                <form action="{% url "zds.tutorial.views.modify_chapter" %}" method="POST" class="modal modal-small" id="move-chapter">
                    <select name="move_target" class="select-autosubmit">
                        <option disabled="disabled">
                            Déplacer
                        </option>

                        {% if chapter.position_in_part > 1 %}
                            <option value="{{ chapter.position_in_part|add:"-1" }}">
                                Monter
                            </option>
                        {% endif %}

                        {% if chapter.position_in_part < chapter.part.get_chapters.count %}
                            <option value="{{ chapter.position_in_part|add:"1" }}">
                                Descendre
                            </option>
                        {% endif %}

                        <option disabled="disabled">&mdash; Déplacer avant</option>

                        {% for chapter_mv in chapter.part.get_chapters %}
                            {% if chapter != chapter_mv and chapter_mv.position_in_part|add:"-1" != chapter.position_in_part %}
                                <option value="{% if chapter_mv.position_in_part < chapter.position_in_part %}{{ chapter_mv.position_in_part }}{% else %}{{ chapter_mv.position_in_part|add:"-1" }}{% endif %}">
                                    Chapitre {{ chapter_mv.position_in_part }} : {{ chapter_mv.title }}
                                </option>
                            {% endif %}
                        {% endfor %}

                        <option disabled="disabled">&mdash; Déplacer après</option>

                        {% for chapter_mv in chapter.part.get_chapters %}
                            {% if chapter != chapter_mv and chapter_mv.position_in_part|add:"1" != chapter.position_in_part %}
                                <option value="{% if chapter_mv.position_in_part < chapter.position_in_part %}{{ chapter_mv.position_in_part|add:"1" }}{% else %}{{ chapter_mv.position_in_part }}{% endif %}">
                                    Chapitre {{ chapter_mv.position_in_part }} : {{ chapter_mv.title }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <input type="hidden" name="move" value="">
                    <input type="hidden" name="chapter" value="{{ chapter.pk }}">
                    {% csrf_token %}

                    <button type="submit">Déplacer</button>
                </form>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}



{% block sidebar_blocks %}
    {% with tutorial=chapter.part.tutorial %}
        {% with parts=chapter.part.tutorial.get_parts %}
            {% with chapter_current=chapter %}
                {% include "tutorial/includes/summary.part.html" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}

    {% if chapter.part %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Suppression">
            <h3>Suppression</h3>
            <ul>
                {% if not tutorial.on_line %}
                    <li>
                        <a href="#delete-chapter" class="open-modal ico-after cross red">Supprimer le chapitre</a>
                        <form action="{% url "zds.tutorial.views.modify_chapter" %}" id="delete-chapter" class="modal modal-medium" method="get">
                            <p>
                                Attention, vous vous apprêtez à supprimer définitivement le chapitre "<em>{{ chapter.title }}</em>".
                            </p>
                            <input type="hidden" name="chapter" value="{{ chapter.pk }}">

                            {% csrf_token %}
                            <button type="submit">Confirmer</button>
                        </form>
                    </li>
                {% else %}
                    <li class="inactive">
                        <span>Impossible car publié</span>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}