{% extends "tutorial/base_online.html" %}
{% load set %}
{% load thumbnail %}
{% load i18n %}


{% block title %}
    {{ chapter.title }} - {{ chapter.part.tutorial.title }} {{ chapter.tutorial.title }}
{% endblock %}



{% block meta_image %}{% spaceless %}
    {% if tutorial.image %}
        {{ tutorial.image.physical.tutorial_illu.url }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endspaceless %}{% endblock %}



{% block opengraph %}
    {% include "tutorial/includes/opengraph.part.html" %}
{% endblock %}



{% block breadcrumb %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ chapter.part.tutorial.get_absolute_url_online }}" itemprop="url">
            <span itemprop="title">{{ chapter.part.tutorial.title }}</span>
        </a>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{% url "view-part-url-online" chapter.part.tutorial.pk chapter.part.tutorial.slug chapter.part.pk chapter.part.slug %}" itemprop="url">
            <span itemprop="title">{{ chapter.part.title }}</span>
        </a>
    </li>
    <li>{{ chapter.title }}</li>
{% endblock %}



{% block headline %}
    {% if chapter.tutorial %}
        {% set chapter.tutorial as tutorial %}
    {% else %}
        {% set chapter.part.tutorial as tutorial %}
    {% endif %}

    <h1 {% if chapter.image %}class="illu"{% endif %}>
        {% if chapter.image %}
            <img src="{{ chapter.image.physical.tutorial_illu.url }}" alt="">
        {% endif %}
        {{ chapter.title }}
    </h1>

    {% if tutorial.licence %}
        <span class="license">
            {% trans "Licence" %} {{ tutorial.licence }}
        </span>
    {% endif %}

    {% include 'tutorial/includes/tags_authors.part.html' %}
{% endblock %}



{% block content %}
    {% with tutorial=chapter.get_tutorial %}
        {% with authors=tutorial.authors.all %}
            {% include "tutorial/includes/chapter_pager.part.html" with position="top" online=True %}
            {% include "tutorial/includes/chapter_online.part.html" %}
            {% include "tutorial/includes/chapter_pager.part.html" with position="bttom" online=True %}
        {% endwith %}
    {% endwith %}

    <a href="#warn-typo-modal" class="open-modal btn btn-grey ico-after edit blue">Signaler une faute dans ce chapitre</a>
    <form class="modal modal-big" id="warn-typo-modal" action="{% url "zds.tutorial.views.warn_typo" chapter.part.tutorial.pk chapter.part.pk chapter.pk %}" method="post" >
        <p>
            J'ai trouvé une faute dans ce chapitre :
            {% csrf_token %}
            <textarea name="explication" placeholder="Expliquez ici la faute"></textarea>
        </p>
        <p>
            <a href="{% url "zds.mp.views.new" %}?{% for username in tutorial.authors.all %}&amp;username={{ username }}{% endfor %}" >
                (cliquer ici si vous préférez envoyer un MP
                {% if tutorial.authors.all|length > 1 %}
                    aux auteurs
                {% else %}
                    à l'auteur
                {% endif %}
                )
            </a>
        </p>
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}



{% block sidebar_blocks %}
    {% if perms.tutorial.change_tutorial %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Administration">
            <h3>{% blocktrans %}Admin<span class="wide">istration</span>{% endblocktrans %}</h3>
            <ul>
                <li><a href="{{ chapter.part.tutorial.get_absolute_url }}" class="ico-after offline blue">{% trans "Version hors-ligne" %}</a></li>
            </ul>
        </div>
    {% endif %}

    {% include "tutorial/includes/summary.part.html" with online=True tutorial=chapter.part.tutorial chapter_current=chapter %}
{% endblock %}