.small-content-wrapper {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
}

.main .content-container {
    .content-wrapper {
        &.article-content,
        &.authors {
            padding-left: 2%;
            padding-right: 2%;
        }
    }

    .article-content {
        .extract-wrapper {
            h3, h4, h5, h6 {
                &:first-child {
                    margin-top: 14px;
                }
            }
        }
        p,
        > a,
        p a,
        ul:not(.pagination):not(.actions-title),
        ol:not(.summary-part) {
            font-family: $font-serif;
        }
    }

    .content-wrapper.comment-author,
    .comment-author {
        background: #EEE;
        padding: 7px 15px;
        margin-bottom: 20px;

        blockquote {
            margin: 10px 0;
            border-left: 5px solid  #CCC;
            padding: 5px 0 5px 15px;
        }
    }

    .article-containers {
        display: flex;
        flex-wrap: wrap;
    }

    .article-containers > .article-part {
        flex: 0 50%;
        width: 100%;
        box-sizing: border-box;
        padding-left: 1em;
    }


    .article-content.parts {
        /* >> The drag'n'drop will be not capricious if we replace margin by padding */
        /* .. 1 .. */
        /* Convert h2 margin-bottom to padding-top */
        .article-part h2 {
            margin-bottom: 0px;
        }

        /* Canceled by [.. 3 ..]
        .article-containers {
            padding-top: 20px;
        } */

        /* .. 2 .. */
        /* Convert h2 margin-top to padding-bottom */
        .article-part h2 {
            margin-top: 0px;
        }


        .article-containers,
        & > .article-part > ol {
            padding-bottom: 20px;
        }

        margin-top: 20px;

        /* .. 3 .. */
        /* Stay in when we are on h2 */
        .article-part h2 {
            margin-bottom: -52px;
        }

        .article-part.simple-create-part h2 {
            margin-bottom: 0;
        }

        & > .article-part > ol,
        & > .article-part > .article-containers {
            /* [.. 3 ..] + [.. 1 ..] = 52 + 20 = 72 */
            padding-top: 72px;
        }

        /* .. 4 .. */
        padding: 20px 0;
        /* << */
    }

    .article-content .article-part {
        overflow: hidden;
        position: relative;

        h3, h4 {
            font-weight: normal;
            margin: 0 0 5px;
            a {
                text-decoration: none;
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }

        li h3 a,
        li h4 a {
            color: lighten($color-primary, 20%);
            transition: color $transition-duration ease, text-decoration $transition-duration ease;

            &:hover {
                color: darken($color-secondary, 15%);
            }
        }

        h3, h4 {
            font-size: 16px;
        }

        & > .article-containers .actions-title {
            display: none;
        }

        & > .article-part h3 {
            font-size: 20px;
            padding-left: 15px;
        }

        & > .article-part ol {}

        h4 > a.disabled {
            background: none !important;
        }

        li.simple-create-button {
            list-style-type: '';
            .btn {
                float:none;
                font-size: 14px;
                display:inline-block;
                line-height: 32px;
                height: 32px;
                border-radius: 2px;
                vertical-align: bottom;
                padding:0 12px 0 8px;
                white-space: nowrap;
                min-width: 152px;

                &::before {
                    content: '+ ';
                    font-size: 28px;
                    vertical-align: bottom;
                    padding-bottom: 3px; /* hack font vertical-align between + and ABC (letters) */
                }
                margin-left:-18px;
            }
        }
    }

    .article-content .article-part .actions-title {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        top: 11px;
        right: 10px;

        li {
            display: inline-block;
        }

        li .btn {
            float: none !important;
            height: 30px;
            line-height: 30px;
            margin-left: 3px;
            opacity: .7;
            z-index: 1;

            &.ico-after:after {
                margin-top: 7px;
            }

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }

    .article-content,
    .message-content {
        color: #424242;

        @import "base/content";
    }

    .message-content {
        h3, h4, h5, h6 {
            &:first-child {
                margin-top: 14px;
            }
        }
    }

    .comments-title {
        margin: 50px 0 20px;
        color: $color-primary;
        border-bottom: 1px solid $color-secondary;
        font-weight: normal;
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 30px;
    }
}

@media only screen and #{$media-extra-wide} {
    .full-content-wrapper .tutorial-list article {
        width: 29.3%;
    }

    .main .content-container .topic-message .message .message-metadata .date {
        .short-date {
            display: none;
        }

        .long-date {
            display: inline;
        }
    }
}

@media only screen and #{$media-wide} {
    .content-wrapper,
    .full-content-wrapper {
        margin: 0 0 0 4%;

        &.without-margin {
            margin: 0;
        }

        .content-wrapper {
            max-width: none;
            margin: 0;
        }
    }
}

@media only screen and #{$media-mobile-tablet} {
    .main .content-container {
        .taglist,
        .pubdate {
            margin-left: 10px;
            margin-right: 10px;
        }

        .article-content {
            p,
            ol,
            ul:not(.pagination) {
                font-size: 14px;
                font-size: 1.4rem;
            }
        }

        .content-wrapper,
        .full-content-wrapper {
            h1:not(.ico-after),
            h2:not(.ico-after),
            h3,
            .subtitle {
                padding-left: 10px;
                padding-right: 10px;
            }

            .illu img {
                display: none;
            }

            h4,
            h5,
            h6,
            .authors,
            p,
            figure,
            blockquote {
                margin-left: 10px;
                margin-right: 10px;
            }

            figure {
                p,
                blockquote {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .license {
                position: absolute;
                margin-top: 0;
                top: 62px;
                right: 15px;
            }
        }
    }
}

@media only screen and #{$media-mobile} {
    .main .content-container .article-content .btn {
        float: none;
        text-align: center;
    }
}
