$logo-horizontal-margin: 10px;
$logo-width: 240px;

.header-container {
    * {
        box-sizing: border-box;
    }

    header, .sub-header {
        display: flex;

        @media only screen and #{$media-wide} {
            padding: 0 2rem;

            .header-right .dropdown {
                right: 2rem;
            }
        }
    }

    header {
        background: $color-primary;
        border-bottom: 3px solid $color-secondary;

        a,
        button {
            text-decoration: none;
            color: #FFF;
            transition-property: background;
            transition-duration: $transition-duration;

            &:focus {
                outline: none;
            }
        }
    }

    .header-menu {
        height: 60px;
        flex-basis: auto;
        display: flex;
    }

    .header-menu-list {
        margin: 0;
        padding: 0;
        flex: 1;
        display: flex;
        justify-content: center;

        & > li {
            display: block;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;

            & > a {
                padding: 0 2.5rem;
                display: block;
                position: relative;
                text-align: center;
                line-height: 60px;
                font-size: 1.6rem;
                text-transform: uppercase;
                text-shadow: rgba(0, 0, 0, 0.75) 0 0 3px;

                &:hover,
                &:focus,
                &.active {
                    background: $color-header-hover;

                    .arrow:after {
                        border-top: 6px solid #FFF;
                    }
                }

                &.has-dropdown {
                    padding-right: 1.5rem;

                    .arrow {
                        display: inline-block;
                    }
                }

                &.current {
                    &:before {
                        content: " ";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                        border-radius: 2px 2px 0 0;
                        background-color: $color-secondary;
                    }

                    &.active:before {
                        height: 0;
                    }
                }
            }
        }
    }

    .header-logo {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .header-logo-link {
        display: block;
        margin: 0;
        text-indent: -9999px;
        width: $logo-width + $logo-horizontal-margin;
        height: 60px;
        background: url("../images/logo.png") no-repeat center center;
        background-size: $logo-width auto;

        @media only screen and #{$media-wide} {
            &:hover,
            &:focus {
                background-color: $color-header-hover;
            }
        }
    }

    .sub-header {
        background: #EEE;
    }

    .header-mobile-page-title {
        flex-grow: 1;
        flex-basis: 0;

        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 0.5em;
        line-height: 50px;
        font-size: 1.7rem;
        @media only screen and #{$media-wide} {
            display: none;
        }
    }

    .arrow {
        display: none;
        width: 20px;
        height: 9px;
        position: relative;

        &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            height: 0;
            width: 0;
            border: 6px solid transparent;
            border-top: 6px solid rgba(255, 255, 255, 0.7);
            border-left: 6px inset transparent;
        }
    }
}

.logbox {
    .notifs-links,
    & > a {
        background: rgba(white, 0.05);
    }

    .notifs-links {
        display: flex;

        .ico-link {
            flex: 0;
            display: block;
            position: relative;
            width: 60px;
            height: 60px;
            line-height: 60px;

            .notif-count {
                display: block;
                position: absolute;
                z-index: 1;
                top: 50%;
                right: 50%;
                margin: -20px -22px 0 0;
                padding: 0 5px;
                height: 16px;
                line-height: 14px;
                background: #c0392b;
                border-radius: 16px;
            }

            .notif-text {
                display: block;
                position: absolute;
                text-indent: -9999px;
                height: 22px;
                width: 22px;
                top: 50%;
                left: 50%;
                margin: -11px 0 0 -11px;

                &.ico-messages {
                    @include sprite-position($messages);
                }

                &.ico-notifs {
                    @include sprite-position($notifications);
                }

                &.ico-alerts {
                    @include sprite-position($alerts);
                }

                &.ico-params {
                    @include sprite-position($params);
                }
            }

            &:hover,
            &:focus,
            &.active {
                background: $color-header-hover;
            }
        }
    }

    .dropdown {
        overflow: hidden;

        .dropdown-title {
            display: block;
            width: 100%;
            height: 35px;
            line-height: 37px;
            text-align: center;
            border-bottom: 1px solid #274a5a;
            background-color: $color-header-hover;
        }

        &,
        .dropdown-list {
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #19526c;

            li {
                display: block;
                width: 100%;
                height: 60px;

                a {
                    display: block;
                    overflow: hidden;
                    position: relative;
                    height: 100%;

                    &,
                    &:hover,
                    &:focus {
                        opacity: 1;
                        transition-property: opacity, background-color;
                    }

                    &:hover,
                    &:focus {
                        background-color: $color-header-hover;

                        .username {
                            text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
                        }

                        .date {
                            color: #95D7F5;
                        }
                    }
                }

                .avatar {
                    float: left;
                    height: 30px;
                    width: 30px;
                }

                .username {
                    display: block;
                    float: left;
                    margin: 4px 0 0 7px;
                    color: #95D7F5;
                    width: 50%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .date {
                    color: #5196b6;
                    float: right;
                    padding: 4px 10px 0 0;
                    transition-property: color;
                }

                .topic {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    overflow: hidden;
                    height: 31px;
                    padding: 4px 7px 2px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 95%;
                    width: calc(100% - 14px);
                }

                &:nth-child(2n+1) {
                    &,
                    form button {
                        background-color: $color-primary;
                    }
                }
            }
        }

        .dropdown-pm {
            text-align: left;
            padding-left: 15px;

            .ico-after {
                float: right;
                padding-right: 30px;
                top: 9px;
            }

            .pm-new {
                &.white:after {
                    @include sprite-position($pm-new-white);

                    width: 17px;
                    height: 16px;
                }
            }
        }
    }

    .my-account {
        display: block;
        height: 60px;
        width: 60px;
        float: right;

        .username {
            display: none;
        }

        .avatar {
            background: $color-header-hover;
        }
    }

    .dropdown.my-account-dropdown {
        a,
        button {
            padding-left: 10px;
        }

        button {
            width: 100%;
            height: 30px;
            line-height: 28px;
            background: transparent;
            text-align: left;
            border: 0;

            &:hover,
            &:focus {
                background: $color-header-hover;
            }
        }
    }

    &.unlogged {
        a {
            display: block;
            width: 60px * 2;
            text-align: center;
            float: left;
            line-height: 60px;
            height: 60px;

            &:hover,
            &:focus {
                background-color: $color-header-hover;
            }
        }
    }
}

@media only screen and #{$media-mobile-tablet} {
    .header-container {
        .header-logo {
            width: 40px;
            height: 50px;
            margin-left: 50px;
        }

        .header-logo-link {
            background-image: url("../images/logo-mobile.png") !important;
            background-size: 100%;
            width: 100%;
            height: 100%;
        }

        header .header-menu {
            display: none;
        }

        .logbox {
            .notifs-links {
                background: none;
                width: 100%;

                .ico-link {
                    height: 50px;
                    width: 50px;
                }
            }

            .dropdown {
                top: 50px;
            }

            .dropdown.my-account-dropdown .dropdown-list {
                bottom: 0;

                li {
                    height: 45px;
                    line-height: 45px;
                }
            }

            &.unlogged {
                font-size: 13px;
                font-size: 1.3rem;

                a {
                    line-height: 30px;
                    height: 30px;
                    margin: 10px 0;
                    width: 74px;
                    margin-right: 1px;
                }
            }
        }
    }
}

@media only screen and #{$media-wide} {
    .header-container {
        z-index: 1;
        position: relative;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

        header {
            background-image: linear-gradient(to right, transparent 20%, rgba(255, 255, 255, 0.07) 40%, rgba(255, 255, 255, 0.07) 60%, transparent 80%);
        }

        .header-menu {
            flex-shrink: 0;
            flex-grow: 0;
        }
    }

    .header-logo {
        text-align: left;
        width: $logo-width + $logo-horizontal-margin;
    }

    .dropdown {
        top: 60px;
    }

    .logbox .dropdown.my-account-dropdown ul li {
        height: 30px;
        line-height: 30px;

        button {
            cursor: pointer;
        }
    }

    .lt-ie9 .dropdown {
        top: 90px;
    }

    .header-logo, .header-right {
        flex-grow: 1;
        flex-basis: 0;
    }

    .header-right {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
    }
}
