.header-container {
    header {
        background: $color-primary;
        border-bottom: 3px solid $color-secondary;

        a,
        button {
            text-decoration: none;
            color: #FFF;
            transition-property: background;
            transition-duration: $transition-duration;

            &:focus {
                outline: none;
            }
        }

        .header-menu {
            height: 60px;

            .header-menu-list {
                margin: 0;
                padding: 0;

                & > li {
                    display: block;
                    float: left;
                    width: 25%;

                    & > a {
                        display: block;
                        position: relative;
                        text-align: center;
                        line-height: 60px;
                        text-transform: uppercase;
                        font-size: 1.5px;
                        font-size: 1.5rem;
                        text-shadow: rgba(0, 0, 0, 0.75) 0 0 3px;

                        &:hover,
                        &:focus,
                        &.active {
                            background: $color-header-hover;
                        }

                        &.current {
                            &:before {
                                content: " ";
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                height: 2px;
                                transition: all $transition-duration ease;
                                border-radius: 2px 2px 0 0;
                                background-color: $color-secondary;
                            }
                            &.active:before {
                                height: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-logo {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header-logo-link {
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 100%;
    max-width: 240px;
    height: 60px;
    background: url('../images/logo.png') no-repeat center center;
    background-size: 100% auto;

    &:hover,
    &:focus {
        background-color: $color-header-hover;
    }
}


.logbox {
    background: rgba(255, 255, 255, .05);

    .notifs-links {
        margin-right: 60px;

        .ico-link {
            display: block;
            position: relative;
            width: 33.3%;
            height: 60px;
            line-height: 60px;
            float: left;

            .notif-count {
                display: block;
                position: absolute;
                z-index: 1;
                top: 50%;
                right: 50%;
                margin: -20px -22px 0 0;
                padding: 0 5px;
                height: 16px;
                line-height: 14px;
                background: #c0392b; //@TODO: Color
                border-radius: 16px;
            }
            .notif-text {
                display: block;
                position: absolute;
                text-indent: -9999px;
                height: 22px;
                width: 22px;
                top: 50%;
                left: 50%;
                margin: -11px 0 0 -11px;

                &.ico-messages {
                    @include sprite-position($messages);
                }
                &.ico-notifs {
                    @include sprite-position($notifications);
                }
                &.ico-alerts {
                    @include sprite-position($alerts);
                }
                &.ico-params {
                    @include sprite-position($params);
                }
            }

            &:hover,
            &:focus,
            &.active {
                background: $color-header-hover;
            }
        }
    }

    .dropdown {
        overflow: hidden;

        .dropdown-title {
            display: block;
            width: 100%;
            height: 35px;
            line-height: 37px;
            text-align: center;
            border-bottom: 1px solid #274a5a; // @TODO: Color
            background-color: $color-header-hover;
        }

        &,
        .dropdown-list {
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #19526c; // @TODO: Color

            li {
                display: block;
                width: 100%;
                height: 60px;

                a {
                    display: block;
                    overflow: hidden;
                    position: relative;
                    height: 100%;
                    width: 100%;

                    &,
                    &:hover,
                    &:focus {
                        opacity: 1;
                        transition-property: opacity, background-color;
                    }
                    &:hover,
                    &:focus {
                        background-color: $color-header-hover;

                        .username {
                            text-shadow: rgba(0, 0, 0, .5) 0 0 5px;
                        }

                        .date {
                            color: #95D7F5;
                        }
                    }
                }

                .avatar {
                    float: left;
                    height: 30px;
                    width: 30px;
                }
                .username {
                    display: block;
                    float: left;
                    margin: 4px 0 0 7px;
                    color: #95D7F5; // @TODO: Color
                    width: 50%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .date {
                    color: #5196b6; // @TODO: Color
                    float: right;
                    padding: 4px 10px 0 0;
                    transition-property: color;
                }
                .topic {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    overflow: hidden;
                    height: 25px;
                    padding: 4px 7px 2px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 95%;
                    width: calc(100% - 14px);
                }

                &:nth-child(2n+1) {
                    &,
                    form button {
                        background-color: $color-primary;
                    }
                }
            }
        }
        
        .dropdown-pm {
            text-align : left;
            padding-left : 15px;
            
            .ico-after {
                float: right;
                padding-right: 47px;
                top: 9px;
            }

            .pm-new {
                &.white:after {
                    @include sprite-position($pm-new-white);
                    width: 17px;
                    height: 16px;
                }
            }
        }
    }

    .my-account {
        display: block;
        height: 60px;
        width: 60px;
        float: right;

        .username {
            display: none;
        }
        .avatar {
            background: $color-header-hover;
        }
    }

    .dropdown.my-account-dropdown {
        a,
        button {
            padding-left: 10px;
        }

        button {
            width: 100%;
            height: 30px;
            line-height: 28px;
            background: transparent;
            text-align: left;
            border: 0;

            &:hover,
            &:focus {
                background: $color-header-hover;
            }
        }
    }


    &.unlogged {
        a {
            display: block;
            width: 50%;
            text-align: center;
            float: left;
            line-height: 60px;
            height: 60px;

            &:hover,
            &:focus {
                background-color: $color-header-hover;
            }
        }
    }
}

.sub-header {
    background: #EEE;
}

@media only screen and #{$media-mobile-tablet} {
    .header-logo {
        width: 40px;
        height: 50px;
        margin-left: 50px;
        float: left;
    }
    .header-logo-link {
        background-image: url('../images/logo-mobile.png') !important;
        background-size: 100%;
        width: 100%;
        height: 100%;

        &:after {
            display: block;
            content: attr(data-title);
            position: absolute;
            top: 0;
            left: 95px;
            right: 155px;
            line-height: 50px;
            text-indent: 0;
            text-align: left;
            font-weight: normal;
            font-size: 17px;
            font-size: 1.7rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 200px;
        }
    }

    .header-container header .header-menu {
        height: 30px;

        .header-menu-list {
            padding-top: 50px;

            & > li > a {
                line-height: 50px;
            }
        }
    }

    .logbox {
        float: right;
        width: 150px;
        background: none;

        .notifs-links {
            width: 100%;

            .ico-link {
                height: 50px;
                width: 50px;
            }
        }

        .dropdown {
            top: 50px;
        }
        .dropdown.my-account-dropdown .dropdown-list {
            bottom: 0;

            li {
                height: 45px;
                line-height: 45px;
            }
        }

        &.unlogged {
            font-size: 13px;
            font-size: 1.3rem;

            a {
                background-color: rgba(255, 255, 255, .1);
                line-height: 30px;
                height: 30px;
                margin: 10px 0;
                width: 74px;
                margin-right: 1px;
            }
        }
    }
}

@media only screen and #{$media-wide} {
    .header-container {
        z-index: 1;
        position: relative;
        box-shadow: 0 0 4px rgba(0, 0, 0, .3);

        header {
            background-image: linear-gradient(to right,transparent 20%,rgba(255,255,255,.07) 40%,rgba(255,255,255,.07) 60%,transparent 80%);
        }
    }

    .header-logo {
        float: left;
        text-align: left;
        width: 240px;
    }

    .header-container header .header-menu {
        float: left;
        width: 40%;
        margin-left: .5%;

        .header-menu-list > li > a {
            max-width: 150px;
            font-size: 1.6rem;
            font-size: 16px;
        }
    }

    .dropdown {
        top: 60px;
    }
    .has-dropdown {
        position: relative;
        text-indent: -7px;

        &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 47%;
            left: 83%;
            height: 0;
            width: 0;
            border: 6px solid transparent;
            border-top: 6px solid rgba(255, 255, 255, .7);
            border-left: 6px inset transparent;
        }
        &:hover:after,
        &:focus:after,
        &.active:after {
            border-top: 6px solid #FFF;
        }
    }

    .logbox .dropdown.my-account-dropdown ul li {
        height: 30px;
        line-height: 30px;
    }

    .lt-ie9 .dropdown {
        top: 90px;
    }

    .header-right {
        float: right;
        width: 230px;

        .dropdown {
            right: 2.5%;
        }
    }
}

@media only screen and #{$media-extra-wide} {
    .header-container header .header-menu {
        margin-left: 5%;
    }
}

