$logo-horizontal-margin: $length-10;
$logo-width: 24rem;

.header-container {
    * {
        box-sizing: border-box;
    }

    header, .sub-header {
        display: flex;

        @include desktop {
            padding: 0 $length-20;

            .header-right .header-dropdown {
                right: $length-20;
            }
        }
    }

    > header {
        background: $color-primary;
        border-bottom: $length-2 solid $color-secondary;

        a,
        button {
            text-decoration: none;
            color: $white;

            transition-property: background;
            transition-duration: $transition-duration;

            &:focus {
                outline: none;
            }
        }
    }

    .header-menu {
        height: $header-height;
        flex-basis: auto;
        display: flex;
    }

    .header-menu-list {
        display: flex;
        justify-content: center;
        flex: 1;

        margin: 0;
        padding: 0;

        & > li {
            display: block;

            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;

            & > a {
                position: relative;
                display: block;

                padding: 0 $length-24;

                font-size: $font-size-9;
                line-height: $header-height;
                text-align: center;

                text-transform: uppercase;
                text-shadow: rgba($black, .75) 0 0 $length-4;

                &:hover,
                &:focus,
                &.active {
                    background: $color-header-hover;

                    .arrow:after {
                        border-top: $length-6 solid $white;
                    }
                }

                &.has-dropdown {
                    padding-right: $length-16;

                    .arrow {
                        display: inline-block;
                    }
                }

                &.current {
                    &:before {
                        content: " ";

                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        display: block;

                        height: $length-2;

                        border-radius: $length-2 $length-2 0 0;
                        background-color: $color-secondary;
                    }

                    &.active:before {
                        height: 0;
                    }
                }
            }
        }
    }

    .header-logo {
        margin: 0;
        padding: 0;

        text-align: center;
    }

    .header-logo-link {
        display: block;

        margin: 0;

        width: $logo-width + $logo-horizontal-margin;
        height: $header-height;

        background: url("../images/logo.png") no-repeat center center;
        background-size: $logo-width auto;

        text-indent: -9999px;

        @include desktop {
            &:hover,
            &:focus {
                background-color: $color-header-hover;
            }
        }
    }

    .sub-header {
        background: $grey-000;
    }

    .header-mobile-page-title {
        flex-grow: 1;
        flex-basis: 0;

        margin: 0 $length-6;

        font-size: $font-size-8;
        line-height: 2.9;

        color: $white;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include desktop {
            display: none;
        }
    }

    .arrow {
        position: relative;
        display: none;

        width: $length-20;
        height: $length-8;

        &:after {
            content: "";

            position: absolute;
            right: 0;
            height: 0;
            width: 0;

            display: block;

            border: $length-6 solid transparent;
            border-top: $length-6 solid $grey-100;
            border-left: $length-6 inset transparent;
        }
    }
}

.logbox {
    .notifs-links,
    & > a {
        background: rgba($true-white, .05);
    }

    .notifs-links {
        display: flex;

        .ico-link {
            position: relative;
            display: block;

            flex: 0;

            width: $header-height;
            height: $header-height;

            line-height: $header-height;

            .notif-count {
                position: absolute;
                top: 50%;
                right: 56%;

                display: block;

                margin: -$length-20 -#{$length-24} 0 0;
                padding: 0 $length-6;

                height: $length-16;

                border-radius: $radius-round;
                background: $red-500;

                line-height: 1;
                z-index: 1;
            }

            .notif-text {
                position: absolute;
                top: 50%;
                left: 50%;

                display: block;

                // Sprite size
                height: 22px;
                width: 22px;

                margin: -$length-12 0 0 -#{$length-12};

                text-indent: -9999px;

                &.ico-messages {
                    @include sprite-position($messages);
                }

                &.ico-notifs {
                    @include sprite-position($notifications);
                }

                &.ico-alerts {
                    @include sprite-position($alerts);
                }

                &.ico-params {
                    @include sprite-position($params);
                }
            }

            &:hover,
            &:focus,
            &.active {
                background: $color-header-hover;
            }
        }
    }

    .header-dropdown {
        overflow: hidden;

        @include mobile {
            top: $length-48;
            height: calc(100vh - #{$length-48});

            @at-root body.has-top-banner .logbox .header-dropdown {
                height: calc(100vh - #{$length-48 + $length-24});
            }
        }

        .dropdown-title {
            display: block;
            margin: 0;

            width: 100%;
            height: $length-38;

            border-bottom: $length-1 solid $primary-600;

            background-color: $color-header-hover;

            line-height: $length-38;
            font-size: $font-size-10;

            text-align: center;
        }

        &,
        .dropdown-list {
            margin: 0;
            padding: 0;

            list-style: none;

            background-color: $primary-600;

            li {
                display: block;

                width: 100%;
                height: $header-height;

                a {
                    position: relative;
                    display: block;

                    height: 100%;
                    overflow: hidden;

                    &,
                    &:hover,
                    &:focus {
                        opacity: 1;
                        transition-property: opacity, background-color;
                    }

                    &:hover,
                    &:focus {
                        background-color: $primary-800;

                        .username {
                            text-shadow: rgba($black, .5) 0 0 $length-6;
                        }

                        .date {
                            color: $primary-000;
                        }
                    }
                }

                // :nth-child(n) for specificity to win against
                // `&:nth-child(2n) form button` selector below.
                form button:nth-child(n):hover,
                form button:nth-child(n):focus {
                    background-color: $primary-800;
                }

                header {
                  display: flex;
                  align-items: center;

                  padding: 0;
                  border: none;
                  background: transparent;

                  .avatar {
                      height: $length-32;
                      width: $length-32;
                  }

                  .username {
                      display: block;
                      flex: 4;

                      width: 50%;
                      margin: $length-4 0 0 $length-8;

                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;

                      color: $primary-100;
                  }

                  .date {
                      padding: $length-4 $length-10 0 0;
                      color: $primary-200;

                      transition-property: color;
                  }
                }

                .topic {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    display: block;
                    padding: $length-4 $length-8 $length-2;

                    width: calc(100% - #{$length-14});
                    height: $length-32;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &:nth-child(2n) {
                    &,
                    form button {
                        background-color: $primary-500;
                    }
                }
            }
        }

        .dropdown-pm {
            display: flex;
            justify-content: space-between;

            text-align: left;
            padding: 0 $length-16;

            h1 {
                flex: 2;
                margin: 0;
                font-size: $font-size-10;
            }

            .pm-new.ico-after {
                display: block;
                width: $length-16;

                top: $length-10;

                &.white:after {
                    @include sprite-position($pm-new-white);

                    // Sprite size
                    width: 17px;
                    height: 16px;
                }
            }
        }
    }

    #my-account {
        display: block;

        height: $header-height;
        width: $header-height;

        .username {
            display: none;
        }

        .avatar {
            width: $header-height;
            height: $header-height;

            background: $color-header-hover;
        }
    }

    .header-dropdown.my-account-dropdown {
        @include tablet-only {
            .dropdown-list {
                max-height: unset;

                overflow-x: unset;
                overflow-y: unset;
            }
        }

        a,
        button {
            padding-left: $length-10;
        }

        button {
            width: 100%;
            height: $length-32;

            background: transparent;
            border: 0;

            text-align: left;
            line-height: 2.2;

            &:hover,
            &:focus {
                background: $primary-800;
            }
        }
    }

    &.unlogged {
        a {
            display: block;

            width: $length-128;
            height: $header-height;

            text-align: center;
            line-height: $header-height;

            &:hover,
            &:focus {
                background-color: $color-header-hover;
            }
        }
    }
}

@include until-desktop {
    .header-container {
        .header-logo {
            width: $length-38;
            min-width: $length-38;
            height: $length-48;

            margin-left: $length-48;
        }

        .header-logo-link {
            width: 100%;
            height: 100%;

            background-size: 100%;
            background-image: url("../images/logo-mobile.png") !important;
        }

        > header {
            height: $length-48 + $length-2; // Content height + border

            .header-menu {
                display: none;
            }

            > * {
                margin-top: -$length-2;
                align-self: center;
            }
        }
        .logbox {
            display: flex;

            .notifs-links {
                background: none;
                width: 100%;
            }

            .header-dropdown {
                top: $length-48 - $length-1;
            }

            .notifs-links .ico-link,
            #my-account,
            #my-account .avatar {
                height: $length-48;
                width: $length-48;
            }

            .header-dropdown.my-account-dropdown .dropdown-list {
                bottom: 0;

                li {
                    height: $length-48;
                    line-height: $length-48;
                }
            }

            &.unlogged {
                font-size: $font-size-10;

                a {
                    margin: 0 $length-1 0 0;

                    width: $length-96;
                    height: $length-32;

                    line-height: 2.3;
                }
            }
        }
    }
}

@media only screen and (max-width: 339px) {
    .header-container {
        .header-mobile-page-title {
            margin: 0;
        }
        .mobile-menu-btn,
        .logbox .notifs-links .ico-link {
            width: $length-38 !important;
        }
        .mobile-menu-btn::after {
            left: $length-8 !important;
        }
    }
}

// Just in case, you know, someone use a 200px-wide phone in 2020+
@media only screen and (max-width: 239px) {
    .header-container .header-logo {
        position: absolute;
        top: $length-32;
        left: $length-10;

        width: $length-20;
        min-width: $length-20;
        height: $length-20;
    }
}

@include desktop {
    .header-container {
        position: relative;

        box-shadow: 0 0 $length-4 rgba($black, 0.3);
        z-index: 3;

        header {
            background-image: linear-gradient(
                to right,
                transparent 20%,
                rgba($true-white, 0.07) 40%,
                rgba($true-white, 0.07) 60%,
                transparent 80%
            );
        }

        .header-menu {
            flex-shrink: 0;
            flex-grow: 0;
        }
    }

    .header-logo {
        width: $logo-width + $logo-horizontal-margin;
        text-align: left;
    }

    .header-dropdown {
        top: $header-height;
    }

    .logbox .header-dropdown.my-account-dropdown ul li {
        height: $length-32;
        line-height: $length-32;

        button {
            cursor: pointer;
        }
    }

    .header-logo, .header-right {
        flex-grow: 1;
        flex-basis: 0;
    }

    .header-right {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;

        form {
          display: flex;
        }
    }
}
