
.main {
    flex: 1;
    min-width: 0;
}

.main .content-container {
    padding-top: 30px;

    h1,
    h2 {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 38px;
        line-height: 3.8rem;
        color: $color-primary;
        font-weight: normal;
        border-bottom: 1px solid $color-secondary;
        margin: 1px 0 15px;

        &.illu {
            padding-left: 60px;

            img {
                background: #FFF;
            }
        }

        &.ico-after {
            padding-left: 50px;

            &:after {
                @include sprite-width($articles);
                @include sprite-height($articles);
            }
        }
        &.ico-articles:after {
            @include sprite-position($articles);
        }
        &.ico-tutorials:after {
            @include sprite-position($tutorials);
        }
        &.ico-news:after {
            @include sprite-position($star-heading-white);
        }
        &.ico-forum:after {
            @include sprite-position($forum-heading);
        }
        &.ico-tags:after {
            @include sprite-position($tags);
        }

        &.illu img {
            position: absolute;
            margin: -6px 0 0 -60px;
            border: 1px solid #cdd0d1;
            width: 50px;
            height: 50px;
        }

        &.inline {
            display: inline-block;
        }

        .btn {
            font-size: 15px;
            line-height: 38px;
            height: 38px;
        }
    }

    .license {
        float: right;
        margin: 0;
        margin-top: 10px;
    }

    .subtitle {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 23px;
        color: #999;
        margin-top: -15px;
        margin-bottom: 15px;
        padding: 10px 0;
        font-weight: normal;
        border-bottom: 1px solid #EEE;
    }

    .pubdate {
        display: block;
        color: #999;
        margin-bottom: 15px;
    }

    .member-item {
        .avatar {
            margin-top: -2px;
            height: 20px;
            width: 20px;
            border: 1px solid #CCC;
        }

        .avatar + span {
            padding-left: 3px;
        }

        &:hover .avatar {
            border-color: #999;
        }
    }
    .member-item + .member-item {
        margin-left: 7px;
    }
    .authors .member-item {
        margin-right: 0;
        margin-left: 7px;

        .avatar {
            height: 30px;
            width: 30px;
            margin: -3px 5px 0 -6px;
        }
    }

    .open-zen-mode {
        display: none;
    }

    .new-btn-container {
        display: none;
    }
}

.home .main .content-container {
    margin-top: 0;
}

.pagination-bottom-clear{
    clear: both;
}

@media only screen and #{$media-mega-wide} {
    .main .content-container {
        .content-wrapper {
            max-width: 960px;
            margin: 0 auto !important;
        }
    }
}

@media only screen and #{$media-wide} {
    body.no-sidebar .main {
        .content-container {
            width: 100%;
        }
        .sidebar {
            display: none;
        }
    }

    .main {
        display: flex;
        flex-direction: row-reverse;
        margin-left: 0;
        padding-left: 2.5%;
        min-width: 0;

        .content-container {
            width: 80%;
            margin-right: 0;

            .taglist + .pubdate {
                margin-top: -40px;
            }

            .open-zen-mode {
                display: block;
            }
            &.zen-mode {
                width: 100%;
                min-height: calc(100% - 200px);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 20;
                background: #FCFCFC;
                padding: 100px 0;
                margin-bottom: 0;

                .comments-title,
                .pagination:not(.pagination-chapter),
                .topic-message,
                .sidebar,
                .alert-box {
                    display: none;
                }

                .content-wrapper {
                    margin: 0 4%;
                }

                .summary-button {
                    display: unset;
                }
            }

            h1,
            h2 {
                margin-left: 1px;
            }

            .content-col-2 {
                width: 49.5%;
                margin: 0 0 0 1%;
            }
            .content-col-3 {
                width: 32%;
                margin: 0 0 0 2%;
            }
            .content-col-2,
            .content-col-3 {
                float: left;

                &:first-child {
                    margin: 0;
                }
            }

            .article-content > .summary-part > li {
                float: left;
                width: 50%;

                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }

        .sidebar {
            width: 22.5%;
            border-bottom: none;

            h3,
            h4,
            ul li,
            ol li {
                padding-left: 11.5%;
            }

            h3:first-child {
                margin-top: 31px;
            }

            h4[data-num] {
                padding-left: calc(11% + 25px);

                &:before {
                    left: 11%;
                }
            }

            &.sommaire ul li.current {
                ul,
                ol {
                    margin-left: calc(-11% - 10px);
                    width: calc(111% + 10px);
                    background: linear-gradient(to bottom, rgba(0, 0, 0, .07), transparent 3px);

                    a {
                        padding-left: calc(11% + 30px);
                    }
                }
            }
        }
    }
}

@media only screen and #{$media-wide} {
    .content-cols .main {
        .content-container {
            width: 79%;
            margin-left: 1.5%;
        }
    }

    .full-content-wrapper .tutorial-list article {
        width: 46%;
        float: left;
        &.extend {
            width: 100%;
        }
    }
}

@media only screen and #{$media-mobile-tablet} {
    .main .content-container .new-btn-container {
        display: block;
        margin: 30px 0;
        border-top: 1px solid #DDD;
        overflow: hidden;

        .new-btn {
            display: block;
            width: 100%;
            padding: 7px 10px 7px 35px;
            text-decoration: none;
            height: 30px;
            line-height: 30px;
            background: #EEE;
            color: #333;
            border-bottom: 1px solid #DDD;

            &.ico-after:after {
                top: 13px;
                left: 10px;
            }
        }
    }

    .main .content-container {
        h1, h2 {
            &.ico-news:after {
                @include sprite-position($star-heading);
            }
        }
    }

    .main {
        width: 100%;
    }

    .main .content-container .content-col:not(:first-child),
    .main .sidebar {
        margin-top: 50px;
    }

    .main .sidebar {
        width: 102.5%;
    }
    .main .sidebar h3,
    .main .sidebar h4,
    .main .sidebar ul li {
        padding-left: 5.5%;

        a {
            white-space: normal;
        }
    }

    .content-col-2:not(:first-child),
    .content-col-3:not(:first-child) {
        margin-top: 50px;
    }
}
