{% load date %}
{% load i18n %}
{% load set %}

{# Parameters #}
{# alerts - an iterable of alerts to display #}
{# then one of: #}
{# alerts_solve_url - the *name* of the URL to solve the alert; must accept a single pk argument #}
{# alerts_solve_link - the link (already resolved) where the form should be sent (an hidden field with the alert pk will be available) #}
{# if none of them are set, the solve form action will be the current page #}

{% for alert in alerts %}
    {% if alerts_solve_url and not alerts_solve_link %}
        {% url alerts_solve_url alert.pk as alert_solve_link %}
    {% else %}
        {% set alerts_solve_link as alert_solve_link %}
    {% endif %}

    <aside class="moderation-alert{% if alert.solved %} is-solved{% endif %}">
        <div class="moderation-alert-content">
            <p>{{ alert.text }}</p>
            <footer>
                <time datetime="{{ alert.pubdate | date:"c" }}">{{ alert.pubdate|format_date|capfirst }}</time>
                {% trans "par" %} {% include "misc/member_item.part.html" with member=alert.author inline=True link=True %}
            </footer>
        </div>

        <div class="moderation-alert-actions">
            {% if alert.solved %}
                {% trans "Résolu par" %}
                {% include "misc/member_item.part.html" with member=alert.moderator inline=True link=True %}
            {% else %}
                <a href="#solve-alert-{{ alert.pk }}" class="open-modal">{% trans "Résoudre" %}</a>
                <form id="solve-alert-{{ alert.pk }}" method="post" action="{{ alert_solve_link }}" class="modal modal-flex">
                    {% if alert.is_automated %}
                        <p>{% trans "Confirmez-vous vouloir résoudre cette alerte ?" %}</p>
                        <p class="cannot-send-message-with-solved-alert">
                            {% blocktrans %}
                                Usuellement, vous pouvez joindre un message à la résolution d'une alerte, mais ce n'est pas possible
                                pour celle-ci car elle a été ouverte automatiquement.
                            {% endblocktrans %}
                        </p>
                        <input type="hidden" name="text" value="" />
                    {% else %}
                        <textarea name="text" class="input" placeholder="{% trans "Message à envoyer au membre ayant lancé l’alerte" %}"></textarea>
                    {% endif %}

                    <input type="hidden" name="alert_pk" value="{{ alert.pk }}">

                    {% csrf_token %}
                    <button type="submit" name="delete-post" class="btn btn-submit button expand alert tiny">{% trans "Résoudre l’alerte" %}</button>
                </form>
            {% endif %}
        </div>
    </aside>
{% endfor %}
