{% load profile %}
{% load i18n %}
{% load date %}

{% if_first_april as first_april %}

{% with status=member|state %}

    {% if status == 'STAFF' or first_april %}
        <span class="badge staff {% if push_badge %}push-badge{% endif %}">{% trans "Staff" %}</span>
    {% elif status == 'DOWN'%}
        <span class="badge banned {% if push_badge %}push-badge{% endif %}" title={% blocktrans %}"Compte Inactif"{% endblocktrans %}>{% trans "Dead" %}</span>
    {% elif status == 'BAN'%}
        <span class="badge banned {% if push_badge %}push-badge{% endif %}">{% trans "Banni" %}</span>
    {% elif status == 'LS'%}
        <span class="badge readonly {% if push_badge %}push-badge{% endif %}" title={% blocktrans %}"Lecture Seule"{% endblocktrans %}>{% trans "LS" %}</span>
    {% endif %}
{% endwith %}
