{% load profile %}
{% load i18n %}


{% with status=member|state %}
    {% if status == 'BAN'%}
        <span class="badge banned {% if push_badge %}push-badge{% endif %}">{% trans "Banni" %}</span>
    {% elif status == 'LS'%}
        <span class="badge readonly {% if push_badge %}push-badge{% endif %}" title="Lecture Seule">{% trans "LS" %}</span>
    {% elif status == 'STAFF' %}
        <span class="badge staff {% if push_badge %}push-badge{% endif %}">{% trans "Staff" %}</span>
    {% endif %}
{% endwith %}