{% load i18n %}
{% load dict_get %}


<div id="{{ tab_name }}" class="tabcontent">
    <div class="stat-graph">
        <h3>{% trans graph_title %}</h3>
        <canvas id="{{ canvas_id }}" {% for url in stats %} data-views-{{ forloop.counter0 }}="[{% for view in url.stats|dict_get:metric %}{{view|dict_get:metric}} {% if not forloop.last %},{% endif %}{% endfor %}]"
            data-label-views-{{ forloop.counter0 }}="{{url.label}}" {% endfor %} data-time='[{% for view in stats.0.stats|dict_get:metric %}"{{view.date}}"{% if not forloop.last %},{% endif %} {% endfor %}]'>
        </canvas>
    </div>
</div>
