{% load profile %}
{% load i18n %}
{% load remove_url_protocole %}

{% with profile=member|profile %}
    <a
        href="{{ profile.get_absolute_url }}"
        class="member-item"
        itemscope
        itemtype="http://schema.org/Person"
        {% if author %}
            itemprop="author"
        {% endif %}
    >{% spaceless %}
        {% if avatar %}
            <img src="{{ profile.get_avatar_url|remove_url_protocole }}" alt="" class="avatar" itemprop="image">
        {% endif %}

        <span itemprop="name">{% if member.username %}{{ member.username }}{% else %}{{ member.user.username }}{% endif %}</span>

        {% if info %}
            <span class="info">({{ info }})</span>
        {% endif %}
    {% endspaceless %}</a>
{% endwith %}
