{% load profile %}
{% load emarkdown %}
{% load date %}
{% load set %}
{% load static %}
{% load i18n %}
{% load pluralize_fr %}
{% load cache %}
{% load captureas %}


{% url 'api:utils:update-comment-potential-spam' message.pk as potential_spam_link %}

{% if topic.author == message.author and helpful_link %}
    {% set True as is_author %}
{% else %}
    {% set False as is_author %}
{% endif %}

{% if is_mp or message.is_visible %}
    {% set False as message_is_hidden %}
{% else %}
    {% set True as message_is_hidden %}
{% endif %}

{% ifchanged %}
{% if message_is_hidden and message.pk != topic.first_post.pk %}
    <div class="msg-are-hidden hidden" aria-hidden="true">
        <a class="link"
           href="#show"
           data-message-singular="{% trans "Un message a été masqué" %}"
           data-message-plural="{% trans "{n} messages ont été masqués" %}">
            {% trans "Un ou plusieurs messages ont été masqués" %}
        </a>
    </div>
{% endif %}
{% endifchanged %}

<article
    class="topic-message
           {% if message.is_useful and not message_is_hidden %}helpful{% endif %}
           {% if perms.utils.change_comment_potential_spam and message.is_potential_spam and not message_is_hidden %}potential-spam{% endif %}
           {% if is_repeated_message %}repeated{% endif %}
           {% if message_is_hidden %}hidden-by-someone{% endif %}"

    id="p{{ message.id }}"

    {% if message_is_hidden %}aria-hidden="true"{% endif %}

    {% if comment_schema %}
        itemscope
        itemtype="http://schema.org/Comment"
        itemprop="comment"
    {% elif answer_schema %}
        itemscope
        itemtype="http://schema.org/Answer"
        {% if message.is_useful or message.like > message.dislike %}
            itemprop="{% if message.is_useful %}acceptedAnswer{% endif %} {% if message.like > message.dislike %}suggestedAnswer{% endif %}"
        {% endif %}
    {% endif %}
>

    {% include "misc/message_user.html" with member=message.author push_badge=is_author %}


    <div class="message">
        {# Message header: name, date, “Topic author”, hat, actions #}
        <header>
            {% spaceless %}
                <ul class="message-metadata">
                    <li>
                        <a href="{{ message.author.profile.get_absolute_url }}" class="username" itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ message.author.username }}</span>
                        </a><span class="username-date-separator">, </span>
                        <a href="#p{{ message.pk }}" class="date" title="{{ message.pubdate|tooltip_date|capfirst }}">
                            <time itemprop="dateCreated" datetime="{{ message.pubdate|date:"c" }}">
                                <span class="long-date">{{ message.pubdate | format_date }}</span>
                                <span class="short-date" aria-hidden="true">{{ message.pubdate | format_date:True }}</span>
                            </time>
                        </a>
                    </li>
                    {% if message.update %}
                        <li class="message-edited">
                            {% if can_view_history %}
                                <a href="{% url 'comment-edits-history' message.pk %}">{% include "misc/message_edited_by.part.html" with message=message %}</a>
                            {% else %}
                                {% include "misc/message_edited_by.part.html" with message=message %}
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if message.hat %}
                        <li>
                            <div class="hat {% if message.hat.is_staff %}staff-hat{% endif %}" title="{% blocktrans with hat=message.hat.name %}Posté avec la casquette « {{ hat }} »{% endblocktrans %}">
                                <a class="name" href="{{ message.hat.get_absolute_url }}">{{ message.hat.name }}</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if is_author %}
                        <li class="is-author">
                            <span class="has-tooltip is-tooltip-bottom" aria-label="{% trans "Auteur ou autrice du sujet" %}">
                                {% include "feather.svg" %}
                            </span>
                        </li>
                    {% endif %}
                </ul>
            {% endspaceless %}

            {% if user.is_authenticated %}
                {% spaceless %}
                    <details class="message-actions dropdown">
                        <summary><span class="sr-only">Options du message</span></summary>
                        <ul class="dropdown-content" tabindex="0">
                            {# User actions on their own message #}

                            {% if message.author == user and not message_is_hidden %}
                                {% if edit_link %}
                                    {% if message.pk in user_can_modify %} {# User cannot edit a MP post if someone answered after. #}
                                        <li>
                                            <a href="{{ edit_link | safe }}" class="ico-after edit">
                                                <span>{% trans "Modifier" %}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}

                                {% if can_hide != False %}
                                    <li>
                                        <a href="#hide-message-{{ message.id }}" class="ico-after hide open-modal">
                                            <span>{% trans "Masquer" %}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}

                            {# Actions related to some other message (non-administrative) #}

                            {% if not message_is_hidden and cite_link and not topic.is_locked and not is_antispam %}
                                <li>
                                    <a href="{{ cite_link | safe }}" class="ico-after cite" data-ajax-input="cite-message">
                                        <span>{% trans "Citer" %}</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if not is_mp %}
                                <li>
                                    <a href="#signal-message-{{ message.id }}" class="ico-after alert open-modal">
                                        <span>{% trans "Signaler" %}</span>
                                    </a>
                                    <form action="{{ alert_link|safe }}" method="post" id="signal-message-{{ message.id }}" class="modal modal-flex">
                                        {% csrf_token %}
                                        <label for="signal-message-{{ message.id }}-field">
                                            {% trans "Pour quelle raison signalez-vous ce message ?" %}
                                        </label>
                                        <textarea type="text" name="signal_text" id="signal-message-{{ message.id }}-field" placeholder="Flood, Troll, Hors sujet, …" pattern=".{3,}" required title='{% trans "Minimum 3 caractères pour signaler" %}' rows="4"></textarea>
                                        <button type="submit" name="signal_message" class="btn btn-submit">
                                            {% trans "Signaler" %}
                                        </button>
                                    </form>
                                </li>
                            {% endif %}

                            {% if not message_is_hidden and can_unread %}
                                <li>
                                    <a class="ico-after unread" href="{{ unread_link | safe }}">
                                        <span>{% trans "Marquer comme non-lu" %}</span>
                                    </a>
                                </li>
                            {% endif %}

                            {# Administrative actions #}
                            {% if perms_change %}
                                <li class="is-separator"><span>{% trans "Modération" %}</span><hr /></li>

                                {% if message.pk in user_can_modify %}
                                    {% if message.author != user %}
                                        <li>
                                            <a href="{{ edit_link | safe }}" class="ico-after edit">
                                                {% trans "Modifier" %}
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if can_hide != False %}
                                        {% if not message_is_hidden and message.author != user %}
                                            <li>
                                                <a href="#hide-message-{{ message.id }}" class="ico-after hide open-modal">
                                                    {% trans "Masquer" %}
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if message_is_hidden %}
                                            <li>
                                                <a href="#show-message-{{ message.id }}" class="ico-after hide open-modal">
                                                    {% trans "Démasquer" %}
                                                </a>

                                                <form action="{{ show_link|safe }}" method="post" id="show-message-{{ message.id }}" class="modal modal-flex">
                                                    {% csrf_token %}
                                                    <p>
                                                        {% blocktrans with editor=message.editor %}
                                                            Ce message a été masqué par <strong>{{ editor }}</strong>. Êtes-vous certain⋅e de vouloir le ré-afficher ?
                                                        {% endblocktrans %}
                                                    </p>

                                                    <button type="submit" name="show_message" class="btn btn-submit">
                                                        {% trans "Confirmer" %}
                                                    </button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% if user.is_authenticated and message.is_visible and helpful_link and topic.author != user %}
                                    <li>
                                        <form action="{{ helpful_link }}" method="post">
                                            {% csrf_token %}

                                            {% spaceless %}
                                            <button
                                                type="submit"
                                                class="btn tick ico-after"
                                                data-ajax-input="mark-message-as-useful"
                                                data-content-on-click="{% spaceless %}{% if message.is_useful %}
                                                                           {% trans "Réponse utile" %}
                                                                       {% else %}
                                                                           {% trans "Réponse non-utile" %}
                                                                       {% endif %}{% endspaceless %}"
                                                title="{% spaceless %}{% if message.is_useful %}
                                                           {% trans "Marquer cette réponse comme n'ayant pas été utile" %}
                                                       {% else %}
                                                           {% trans "Marquer cette réponse comme ayant été utile" %}
                                                       {% endif %}{% endspaceless %}">
                                                {% if message.is_useful %}
                                                    {% trans "Réponse non-utile" %}
                                                {% else %}
                                                    {% trans "Réponse utile" %}
                                                {% endif %}
                                            </button>
                                            {% endspaceless %}
                                        </form>
                                    </li>
                                {% endif %}

                                {% if user.is_authenticated and message.is_visible and perms.utils.change_comment_potential_spam and potential_spam_link %}
                                    <li>
                                        <button
                                            class="alert ico-after potential-spam-handle"
                                            title="{% if not message.is_potential_spam %}{% trans "Marquer ce message comme spam potentiel, afin de recevoir une alerte de modération s'il est modifié." %}{% endif %}"
                                            data-potential-spam-api="{{ potential_spam_link }}"
                                            data-potential-spam-new-state="{% if message.is_potential_spam %}false{% else %}true{% endif %}"
                                            data-content-on-click="{% if not message.is_potential_spam %}{% trans "Pas du spam" %}{% else %}{% trans "Spam potentiel" %}{% endif %}"
                                            >{% if message.is_potential_spam %}{% trans "Pas du spam" %}{% else %}{% trans "Spam potentiel" %}{% endif %}</button>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </details>
                {% endspaceless %}

                {# Hide message modale #}
                {% if message.pk in user_can_modify and not message_is_hidden %}
                    <form action="{{ hide_link|safe }}" method="post" id="hide-message-{{ message.id }}" class="modal modal-flex">
                        {% csrf_token %}
                        <p>
                            {% trans "Pour quelle raison souhaitez-vous masquer ce message ?" %}
                        </p>
                        <input maxlength="80" type="text" name="text_hidden" placeholder="{% if perms_change and message.author != user %}Flood, Troll, Hors sujet, ...{% else %}Erreur, mauvaise compréhension, changement d'avis, ...{% endif %}">

                        {% if not perms_change  %}
                            <p>
                                {% trans "Attention, en masquant ce message, vous ne pourrez plus l’afficher vous-même. Êtes-vous certain de vouloir le faire ?" %}
                            </p>
                        {% endif %}

                        <button type="submit" name="delete_message" class="btn btn-submit">
                            {% trans "Confirmer" %}
                        </button>
                    </form>
                {% endif %}
            {% endif %}
        </header>

        <div class="message-content">
            {% spaceless %}
                <aside>
                    {% if is_repeated_message %}
                        <p class="message-repeated">
                            {% trans "Reprise du dernier message de la page précédente" %}
                        </p>
                    {% endif %}
                    {% if not is_mp %}
                        <p class="message-helpful tick ico-after green {% if not message.is_useful or message_is_hidden %}hidden{% endif %}"
                        data-ajax-output="mark-message-as-useful">
                            {% trans "Cette réponse a été utile" %}
                        </p>

                        {% if perms_change and potential_spam_link and not message_is_hidden %}
                        <p class="message-potential-spam alert ico-after {% if not message.is_potential_spam or message_is_hidden %}hidden{% endif %}"
                            data-ajax-output="mark-message-as-potential-spam">
                            {% trans "Ce message est soupçonné d'être un spam. Une alerte sera levée s'il est modifié." %}
                        </p>
                        {% endif %}
                    {% endif %}
                </aside>
            {% endspaceless %}

            {% if not message_is_hidden %}
                <div class="message-text" itemprop="text">
                    {{ message.text_html|safe }}
                </div>
            {% else %}
                {% captureas hidden_message_reason %}
                    {% trans "Masqué par" %} {{ message.editor }}

                    {% if message.text_hidden %}
                        &nbsp;— {{ message.text_hidden }}
                    {% endif %}
                {% endcaptureas %}
                {% if perms_change or message.author == user %}
                    <details class="message-text message-hidden-container">
                        <summary class="message-hidden-reason">{{ hidden_message_reason }}</summary>
                        {{ message.text_html|safe }}
                    </details>
                {% else %}
                    <p class="message-hidden-reason">{{ hidden_message_reason }}</p>
                {% endif %}
            {% endif %}
        </div>

        {% if perms_change %}
            {% include "misc/alerts.part.html" with alerts=message.alerts_on_this_comment.all alerts_solve_link=alerts_solve_link %}
        {% endif %}

        <div class="message-bottom">
            <div class="metadata-mobile">
                <ul>
                    <li>
                        <a href="#p{{ message.pk }}" class="mobile-permalink">{{ message.pubdate | format_date:True }}</a>
                    </li>
                    {% if message.update %}
                        <li>
                            {% if not can_view_history %}
                                {% include "misc/message_edited_by.part.html" with message=message tooltip=True tooltip_top=True tooltip_with_editor=True short=True %}
                            {% else %}
                                <a href="#message-update-mobile-details-{{ message.pk }}" class="open-modal" aria-haspopup="dialog">
                                    {% include "misc/message_edited_by.part.html" with message=message tooltip=False short=True %}
                                </a>
                                <div id="message-update-mobile-details-{{ message.pk }}" class="modal modal-flex" data-modal-close="Fermer" data-modal-title="Modification du message">
                                    {% include "misc/message_edited_by.part.html" with message=message tooltip=False %}
                                    <time itemprop="dateUpdated" datetime="{{ message.update|date:"c" }}">
                                        {{ message.update | format_date }}
                                    </time>
                                    <a class="btn btn-submit" href="{% url 'comment-edits-history' message.pk %}">Historique</a>
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% with profile=message.author|profile %}
                        {% if perms.forum.change_post and profile.karma != 0 %}
                            <li>
                                <a href="{{ profile.get_absolute_url }}#historique-moderation"
                                   class="user-karma
                                          {% if profile.karma < 0 %}
                                              negative
                                          {% elif profile.karma > 0 %}
                                              positive
                                          {% endif %}"
                                >
                                    {{ profile.karma }}
                                </a>
                            </li>
                        {% endif %}
                    {% endwith %}
                </ul>
            </div>

            {% if not message_is_hidden %}
                {% with profile=message.author|profile %}
                    {% if profile.sign %}
                        {% if profile.end_ban_read or profile.can_read %}
                            {% if user.is_authenticated %}
                                {% with profile_user=user|profile %}
                                    {% if profile_user.show_sign %}
                                        <label class="signature">
                                            <input type="checkbox" />
                                            {% cache 300 profile.user.username profile.sign %}
                                                {{ profile.sign|emarkdown_inline }}
                                            {% endcache %}
                                        </label>
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                <label class="signature">
                                    <input type="checkbox" />
                                    {% cache 300 profile.user.username profile.sign %}
                                        {{ profile.sign|emarkdown_inline }}
                                    {% endcache %}
                                </label>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endwith %}

                {% if karma_link %}
                    <div class="message-karma{% if user.is_authenticated and user != message.author %} can-vote{% endif %}" data-karma-uri="{{ karma_link }}">
                        {% if user.is_authenticated and helpful_link and topic.author == user %}
                            <form action="{{ helpful_link }}" method="post">
                                {% csrf_token %}

                                {% spaceless %}
                                <button
                                    type="submit"
                                    class="tick ico-after {% if message.is_useful %}green{% endif %}"
                                    data-ajax-input="mark-message-as-useful"
                                    data-content-on-click="{% if user == topic.author %}{% if message.is_useful %}
                                                               {% trans "Cette réponse m’a été utile" %}
                                                           {% else %}
                                                               {% trans "Cette réponse ne m’a pas été utile" %}
                                                           {% endif %}{% endif %}"
                                    data-content-on-click-mobile="{% if user == topic.author %}{% if message.is_useful %}
                                                               {% trans "Utile" %}
                                                           {% else %}
                                                               {% trans "Non-utile" %}
                                                           {% endif %}{% endif %}">

                                    {% if message.is_useful %}
                                        <span class="until-desktop" aria-hidden="true">{% trans "Non-utile" %}</span>
                                        <span class="desktop">{% trans "Cette réponse ne m’a pas été utile" %}</span>
                                    {% else %}
                                        <span class="until-desktop" aria-hidden="true">{% trans "Utile" %}</span>
                                        <span class="desktop">{% trans "Cette réponse m’a été utile" %}</span>
                                    {% endif %}
                                </button>
                                {% endspaceless %}
                            </form>
                        {% endif %}

                        {% if user.is_authenticated and user != message.author %}
                            <button
                                value="{% if message.pk in user_like %}neutral{% else %}like{% endif %}"
                                title="{% trans "Ce message est utile" %} {% if message.like > 0 %}{% blocktrans with like_count=message.like plural=message.like|pluralize_fr plural_word=message.like|pluralize_fr:"a,ont" %}({{ like_count }} personne{{ plural }} {{ plural_word }} trouvé ce message utile){% endblocktrans %}{% endif %}"
                                class="upvote
                                       ico-after
                                       {% if message.like > message.dislike %}more-voted{% endif %}
                                       {% if message.like > 0 %}has-vote{% endif %}
                                       {% if message.pk in user_like %}voted{% endif %}"
                            >
                                +{{ message.like }}
                            </button>

                            <button
                                value="{% if message.pk in user_dislike %}neutral{% else %}dislike{% endif %}"
                                title="{% trans "Ce message n’est pas utile" %}{% if message.dislike > 0 %}{% blocktrans with dislike_count=message.dislike plural=message.dislike|pluralize_fr plural_word=message.dislike|pluralize_fr:"a,ont" %}({{ dislike_count }} personne{{ plural }} n'{{ plural_word }} pas trouvé ce message utile){% endblocktrans %}{% endif %}"
                                class="downvote
                                       ico-after
                                       {% if message.like < message.dislike %}more-voted{% endif %}
                                       {% if message.dislike > 0 %}has-vote{% endif %}
                                       {% if message.pk in user_dislike %}voted{% endif %}"
                            >
                                -{{ message.dislike }}
                            </button>
                        {% else %}
                            <span
                                class="upvote
                                       ico-after
                                       {% if message.like > message.dislike %}more-voted{% endif %}
                                       {% if message.like > 0 %}has-vote{% endif %}"
                                {% if message.like > 0 %}
                                    title="{% blocktrans with like_count=message.like plural=message.like|pluralize_fr plural_word=message.like|pluralize_fr:"a,ont" %}{{ like_count }} personne{{ plural }} {{ plural_word }} trouvé ce message utile{% endblocktrans %}"
                                {% endif %}
                            >
                                +{{ message.like }}
                            </span>
                            <span
                                class="downvote
                                       ico-after
                                       {% if message.like < message.dislike %}more-voted{% endif %}
                                       {% if message.dislike > 0 %}has-vote{% endif %}"
                                {% if message.dislike > 0 %}
                                    title="{% blocktrans with dislike_count=message.dislike plural=message.dislike|pluralize_fr plural_word=message.dislike|pluralize_fr:"a,ont" %}{{ dislike_count }} personne{{ plural }} n'{{ plural_word }} pas trouvé ce message utile{% endblocktrans %}"
                                {% endif %}
                            >
                                -{{ message.dislike }}
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</article>
