{% load profile %}
{% load humanize %}
{% load emarkdown %}



<article class="forum-message {% if message.is_useful %}helpful{% endif %}">
    {% include "misc/message_user.html" with member=message.author %}


    <div class="message">
        {% if user.is_authenticated and message.is_visible != False %}
            <ul class="message-actions">
                {% if message.is_visible != False %}
                    {% if edit_link %}
                        {% if message.author = user or perms_change %}
                            {% if can_hide != False %}
                                <li>
                                    <a href="#hide-message-{{ message.id }}" class="ico-after view open-modal">
                                        Masquer
                                    </a>
                                    <form action="{{ edit_link }}" method="post" id="hide-message-{{ message.id }}" class="modal modal-medium">
                                        {% csrf_token %}
                                        {% if perms_change %}
                                            <p>
                                                Pour quelle raison souhaitez vous masquer ce message ?
                                            </p>
                                            <input type="text" name="text_hidden" placeholder="Flood, Troll, Hors sujet, ..." >
                                        {% else %}
                                            <p>
                                                Attention, en masquant ce message, vous ne pourrez plus l'afficher vous même. Êtes vous certains de vouloir le faire ?
                                            </p>
                                        {% endif %}

                                        <button type="submit" name="delete_message">
                                            Confirmer
                                        </button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}

                        {% if message.author = user or perms_change %}
                            {% if can_edit != False %}
                                <li>
                                    <a href="{{ edit_link }}" class="ico-after edit">
                                        Editer
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}

                        <li>
                            <a href="#signal-message-{{ message.id }}" class="ico-after alert open-modal">
                                Signaler
                            </a>
                            <form action="{{ edit_link }}" method="post" id="signal-message-{{ message.id }}" class="modal modal-medium">
                                {% csrf_token %}
                                <p>
                                    Pour quelle raison signalez-vous ce message ?
                                </p>
                                <input type="text" name="signal_text" placeholder="Flood, Troll, Hors sujet, ...">

                                <button type="submit" name="signal_message">
                                    Signaler
                                </button>
                            </form>
                        </li>
                    {% endif %}

                    {% if cite_link and not topic.is_locked and not topic.antispam %}
                        <li>
                            <a href="{{ cite_link }}" class="ico-after cite">
                                Citer
                            </a>
                        </li>
                    {% endif %}
                {% elif perms_change %}
                    <li>
                        <a href="#show-message-{{ message.id }}" class="ico-after view open-modal">
                            Afficher
                        </a>
                        <form action="{{ hide_link }}" method="post" id="show-message-{{ message.id }}" class="modal">
                            {% csrf_token %}
                            <p>
                                Ce message a été masqué, êtes vous certains de vouloir le ré-afficher ?
                            </p>

                            <button type="submit" name="show_message">
                                Confirmer
                            </button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

        <div class="message-metadata">
            <a href="{{ message.author.get_absolute_url }}" class="username">{{ message.author.username }}</a>
            <a href="#m{{ message.pk }}" id="m{{ message.id }}" class="date">{{ message.pubdate|naturaltime|capfirst }}</a>
        </div>

        <div class="message-content">
            {% if not message.is_visible != False %}
                <p class="message-hidden">
                    Masqué par {{ message.editor }} : {{ message.text_hidden }}
                </p>
            {% elif not message.update = None %}
                <p class="message-edited">
                    Edité {{ message.update|naturaltime }} par {{ message.editor }}
                </p>
            {% endif %}

            {% if message.is_visible != False %}
                {{ message.text|emarkdown }}
            {% endif %}
        </div>

        {% if message.is_visible != False %}
            <div class="message-bottom">
                {% if user.is_authenticated %}
                    {% with profile_user=user|profile %}
                        {% if profile_user.show_sign %}
                            {% with profile=message.author|profile %}
                                {% if profile.sign %}
                                    <p class="signature">
                                        {{ profile.sign|emarkdown_inline }}
                                    </p>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endwith %}


                    {% if upvote_link %}
                        <div class="message-karma">
                            {% if helpful_link %}
                                {# TODO : Mettre le réel état #}
                                {% if topic.author == user and message.author != user %}
                                    <a href="{{ helpful_link }}" class="tick ico-after {# active ? #}">
                                        Cette réponse m'a aidé
                                    </a>
                                {% elif perms_change %}
                                    <a href="{{ helpful_link }}" class="tick ico-after {# active ? #}">
                                        Cette réponse a aidé
                                    </a>
                                {% endif %}
                            {% endif %}

                            {# TODO : Mettre le réel pouce voté #}
                            <a href="{{ upvote_link }}"
                               class="upvote {% if message.like > message.dislike %}voted{% endif%} ico-after"
                            >
                                +{{ message.like }}
                            </a>
                            <a href="{{ downvote_link }}" 
                               class="downvote {% if message.like < message.dislike %}voted{% endif%} ico-after"
                            >
                                -{{ message.dislike }}
                            </a>
                        </div>
                    {% endif %}
                {% else %}
                    {% with profile=message.author|profile %}
                        {% if profile.sign %}
                            <p class="signature">
                                {{ profile.sign|emarkdown_inline }}
                            </p>
                        {% endif %}

                        <div class="message-karma">
                            <span
                               class="upvote {% if message.like > message.dislike %}voted{% endif%} ico-after"
                            >
                                +{{ message.like }}
                            </span>
                            <span 
                               class="downvote {% if message.like < message.dislike %}voted{% endif%} ico-after"
                            >
                                -{{ message.dislike }}
                            </span>
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</article>