{% load crispy_forms_tags %}
{% load i18n %}


{% include "easymde.html" %}


{% if topic.is_locked %}
    <div class="alert-box ico-after lock light">
        {% trans "Ce sujet est verrouillé." %}
    </div>
{% elif not user.is_authenticated %}
    <div class="alert-box info alert-box-not-closable">
        {% trans "Connectez-vous pour pouvoir poster un message." %}
        <br>
        <a href="{% url "member-login" %}?next={{ request.path }}" class="alert-box-btn alert-box-btn-right">Connexion</a>
    </div>
    <div class="alert-box not-member alert-box-not-closable">
        <h4 class="alert-box-title">Pas encore membre ?</h4>
        <p>
            {% trans "Créez un compte en une minute pour profiter pleinement de toutes les fonctionnalités de Zeste de Savoir. Ici, tout est gratuit et sans publicité." %}
            <br>
            <a href="{% url "register-member" %}" class="alert-box-btn">{% trans "Créer un compte" %}</a>
        </p>
    </div>
{% elif not user.profile.can_write_now %}
    <div class="alert-box ico-after ico-alert light">
        {% trans "Vous êtes en lecture seule. Vous ne pouvez pas poster de messages." %}
    </div>
{% elif topic.antispam or is_antispam %}
    <div class="alert-box ico-after ico-alert light">
        {% trans "Vous venez de poster. Merci de patienter au moins 15 minutes entre deux messages consécutifs afin de limiter le flood." %}
    </div>
{% elif topic.one_participant_remaining %}
    <div class="alert-box info cross light">
        {% trans "Il n'y a personne d'autre que vous dans cette conversation." %}
    </div>
{% else %}
    {% if topic.old_post_warning %}
        <div class="alert-box warning">
            <p>
                {% blocktrans with old_post_limit_days=app.forum.old_post_limit_days %}
                    Ce sujet est sans activité depuis plus de {{ old_post_limit_days }} jours. Êtes-vous certain de vouloir y contribuer ?
                {% endblocktrans %}
            </p>
        </div>
    {% endif %}

    {% if page_obj.has_next %}
        <div class="alert-box warning ico-after alert light">
            {% trans "<strong>Attention</strong>, vous n’êtes pas sur la dernière page de ce sujet. Assurez-vous de l’avoir lu dans son intégralité avant d’y répondre." %}
        </div>
    {% endif %}

    <section class="topic-message">
        <form action="{{ form_action }}" method="post">
            {% include "misc/message_user.html" with hide_metadata=True %}

            <div class="message">
                <div class="message-content">
                    <textarea
                        name="text"
                        id="text"
                        class="md-editor mini-editor"
                        {% if topic.is_locked or topic.antispam or topic.one_participant_remaining %}disabled{% endif %}
                        placeholder="Votre message au format Markdown"
                    >{{ text }}</textarea>

                    {% include 'misc/hat_choice.html' %}
                </div>

                <div class="message-bottom">
                    <div class="message-submit">
                        <button
                            type="submit"
                            name="preview"
                            class="btn-grey"
                            data-ajax-input="preview-message"
                            {% if topic.is_locked or topic.antispam or topic.one_participant_remaining %}disabled{% endif %}
                        >
                            {% trans "Aperçu" %}
                        </button>

                        <button
                            type="submit"
                            name="answer"
                            {% if topic.is_locked or topic.antispam or topic.one_participant_remaining %}disabled{% endif %}
                        >
                            {% trans "Envoyer" %}
                        </button>
                    </div>
                </div>

                <input type="hidden" name="last_note" value="{{ last_note_pk }}">
                <input type="hidden" name="last_reaction" value="{{ last_reaction_pk }}">
                <input type="hidden" name="last_post" value="{{ last_post_pk }}">

                {% csrf_token %}
            </div>
        </form>
    </section>
{% endif %}
