{% load date %}
{% load i18n %}

{% load captureas %}

{% captureas edited_by_text %}
    {% if message.editor and message.editor != message.author and not short %}
        {% blocktrans with editor=message.editor %}Modifié par {{ editor }}{% endblocktrans %}
    {% else %}
        {% blocktrans %}Modifié{% endblocktrans %}
    {% endif %}
{% endcaptureas %}

<time
    itemprop="dateModified"
    datetime="{{ message.update|date:"c" }}"
    {% if tooltip|default_if_none:True %}class="has-tooltip {% if tooltip_top %}is-tooltip-top{% else %}is-tooltip-bottom{% endif %} {% if tooltip_with_editor and message.editor and message.editor != message.author %}is-tooltip-multiline{% endif %}"
    aria-describedby="{% spaceless %}
        {% if tooltip_with_editor and message.editor and message.editor != message.author %}
            {% blocktrans with editor=message.editor %}Par {{ editor }}, {% endblocktrans %}
            {{ message.update|format_date }}
        {% else %}
            {{ message.update|format_date|capfirst }}
        {% endif %}
    {% endspaceless %}"{% endif %}>{{ edited_by_text }}</time>
