{% load date %}
{% load i18n %}

{% load captureas %}

{% captureas edited_by_text %}
    {% if message.editor and message.editor != message.author %}
        {% blocktrans with editor=message.editor %}Modifié par {{ editor }}{% endblocktrans %}
    {% else %}
        {% blocktrans %}Modifié{% endblocktrans %}
    {% endif %}
{% endcaptureas %}

<time itemprop="dateModified" datetime="{{ message.update|date:"c" }}" class="has-tooltip is-tooltip-bottom is-tooltip-multiline" aria-label="{{ edited_by_text }} {{ message.update|format_date }}">{{ edited_by_text }}</time>
