{% load profile %}
{% load i18n %}


<div class="user">
    {% with profile=member|profile %}
        <a href="{{ member.get_absolute_url }}" class="avatar-link">
            {% avatar profile %}
        </a>

        {% include 'misc/badge.part.html' %}

        {% if perms.forum.change_post and profile.karma != 0 %}
            <div class="user-metadata">
                <a href="{{ member.get_absolute_url }}#historique-moderation"
                   class="user-karma

                          {% if profile.karma < 0 %}
                              negative
                          {% elif profile.karma > 0 %}
                              positive
                          {% endif %}"
                >
                    {{ profile.karma }}
                </a>
            </div>
        {% endif %}
    {% endwith %}
</div>
