{% load profile %}
{% load i18n %}
{% load remove_url_protocole %}


<div class="user">
    {% with profile=member|profile %}
        <a href="{{ member.get_absolute_url }}" class="avatar-link">
            <img src="{{ profile.get_avatar_url|remove_url_protocole }}" alt="" class="avatar">
        </a>

        {% include 'misc/badge.part.html' %}

        {% comment %}
            {# TODO : properly display metadata (karma) #}
            {% if perms.forum.change_post %}
                <div class="user-metadata">
                    {% if profile.karma < 0 %}
                        <a href="{{ member.get_absolute_url }}" class="user-karma negative">{{ profile.karma }}</a>
                    {% else %}
                        <a href="{{ member.get_absolute_url }}" class="user-karma">{{ profile.karma }}</a>
                    {% endif %}
                    <a href="{{ member.get_absolute_url }}">IPs</a>
                </div>
            {% endif %}
        {% endcomment %}
    {% endwith %}
</div>
