{% load i18n %}
<link rel="stylesheet" href="https://unpkg.com/katex@0.13.9/dist/katex.min.css">
<script src="https://unpkg.com/katex@0.13.9/dist/katex.min.js"></script>
<div id="{{ tab_name }}" class="tabcontent">

   
    {% for quizz_name, questions in quizz.items %}
        <header>
            <h3>{{ quizz_name }}</h3>
            <button class="init-stats-button" data-quizz="{{ quizz_name }}">Initialize Stats</button>
        </header>
        {% for question, stats in questions.items %}
            <article class="stat-graph">
            <h4>{% trans graph_title %} <span id="formule">{{ question }}</span></h4>
            <ul class="quizz-answers">
                {% for answer_name, answer_stats in stats.responses.items %}
                    <li class="{% if answer_stats.good %}quizz-forget{% endif %} quizz-stats">
                        <span id="formule">{{ answer_name }}</span>
                        <span>
                            <progress aria-label="{% trans 'Résultat pour' %} {{ answer_name }}"
                                      max="{{ stats.total }}" value="{{ answer_stats.nb }}"/>
                        </span>
                        <span class="over-progress">{{answer_stats.nb}} / {{ stats.total }}</span>
                    </li>
                {% endfor %}
            </ul>
        </article>
        {% endfor %}
{% endfor %}
</div>
<script>

    var elements = document.querySelectorAll("#formule");
    var regex = /[^\w\s]/g; // Expression régulière pour les caractères spéciaux

    for (var i = 0; i < elements.length; i++) {
        if (regex.test(elements[i].textContent)) { // Si l'élément contient des caractères spéciaux
            katex.render(elements[i].textContent, elements[i]);
        }
        else {
            elements[i].innerText = elements[i].textContent; // Remplacer la balise span par un texte simple
        }
    }
 
</script>


