{% load i18n %}
{% load emarkdown%}


<div id="{{ tab_name }}" class="tabcontent-stats">
    {% for quizz_name, questions in quizz.items %}
    <header class="header-stats-quiz">
        <h3 class="quizz_name">{{ quizz_name }}</h3>
        <button class="delete-quizz-button" data-quizz="{{ quizz_name }}" ><i class="fas fa-trash-alt"></i></button>
    </header>
    {% for question, stats in questions.items %}
    <article class="stat-graph">
        <div class="Question">
            <h4 class="question-stats">{% trans graph_title %} <span>{{ question|emarkdown }}</span></h4>
            <button class="delete-question-button" data-quizz="{{ quizz_name }}"  data-question="{{question}}"><i
                    class="fas fa-trash-alt"></i></button>
        </div>
        <ul class="quizz-answers">
            {% for answer_name, answer_stats in stats.responses.items %}
            <li class="{% if answer_stats.good %} quizz-stats-good{% endif %} quizz-stats">
                <span>{{ answer_name|emarkdown }}</span>
                <span>
                    <progress aria-label="{% trans 'Résultat pour' %} {{ answer_name }}" max="{{ stats.total }}"
                        value="{{ answer_stats.nb }}" />
                </span>
                <span class="over-progress">{{answer_stats.nb}} / {{ stats.total }}</span>
            </li>
            {% endfor %}
        </ul>
    </article>
    {% endfor %}
    {% endfor %}
</div>
