{% load i18n %}

<div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="{% trans "Partager" %}">
    <h3>{% trans "Partager" %}</h3>
    <ul>
        <li>
            <a href="https://x.com/share?url={{ app.site.url }}{{ link }}&amp;text={{ text }}"
               class="ico-after X blue"
               rel="nofollow"
            >
                X
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer.php?u={{ app.site.url }}{{ link }}&amp;t={{ text }}"
               class="ico-after facebook blue"
               rel="nofollow"
            >
                Facebook
            </a>
        </li>
        <li>
            <a href="#share-to-mastodon"
               class="open-modal ico-after mastodon blue"
               rel="nofollow"
            >
                Mastodon
            </a>
            <form id="share-to-mastodon" class="modal modal-flex" target="_blank" method="GET">
                <p>
                    {% trans "Entrez l'adresse de votre instance Mastodon (ex: https://mamot.fr)" %}.
                </p>
                <input type="text" class="input" name="instance" placeholder="https://" required>
                <input type="hidden" class="input" name="text" value="{{ text }} {{ app.site.url }}{{ link }}">

                <button type="submit"  class="btn btn-submit" disabled>{% trans "Partager" %}</button>
            </form>
        </li>
        <li>
            <a href="http://sharetodiaspora.github.io/?url={{ app.site.url }}{{ link }}&amp;title={{ text }}"
               class="ico-after diaspora blue"
               rel="nofollow"
            >
                Diaspora*
            </a>
        </li>
        <li>
            <a href="mailto:?subject={{ text }}&amp;body={{ app.site.url }}{{ link }}"
               class="ico-after email blue"
               rel="nofollow"
            >
                {% trans "Envoyer par mail" %}
            </a>
        </li>
    </ul>
</div>
