{% load date %}
{% load emarkdown %}
{% load i18n %}



{% if validation.is_pending %}
    <form action="{{ reservation_url }}" method="post">
        {% csrf_token %}
        <button type="submit">
            {% trans "Réserver" %}
        </button>
    </form>
{% else %}
    {% if validation.validator %}
        {% trans "Réservé par" %} {% include "misc/member_item.part.html" with member=validation.validator avatar=True %}

        {% if validation.date_reserve %}
            {{ validation.date_reserve|format_date:True }}
            {% if validation.date_proposition > validation.date_reserve  %}
                ({% trans "Contenu mis à jour depuis la réservation." %})
            {% endif %}
            <br>
        {% endif %}
    {% endif %}

    {% if validation.is_pending_valid %}
        <a href="#unreservation-{{ validation.pk }}" class="open-modal">
            {% trans "Annuler la réservation" %}
        </a>
        <form action="{{ reservation_url }}" method="post" class="modal modal-flex" id="unreservation-{{ validation.pk }}">
            {% csrf_token %}
            <p>
                {% trans "Actuellement réservé par" %} {% include "misc/member_item.part.html" with member=validation.validator %}.
                <br>

                {% blocktrans %}
                    Êtes-vous certains de vouloir <strong>annuler la réservation</strong> ?
                {% endblocktrans %}
            </p>
            <button type="submit" class="btn btn-submit">
                {% trans "Confirmer" %}
            </button>
        </form>
    {% elif validation.is_accept %}
        {% trans "Accepté" %} {{ validation.date_validation|format_date:True }}

        {% if validation.comment_validator %}
            -

            <a href="#view-comment-validator-{{ validation.pk }}" class="open-modal">
                {% trans "Commentaire du validateur" %}
            </a>
            <div class="modal modal-flex" id="view-comment-validator-{{ validation.pk }}" data-modal-close="Fermer">
                <p>
                    {{ validation.comment_validator }}
                </p>
            </div>
        {% endif %}
    {% elif validation.is_reject %}
        {% trans "Rejeté" %} {{ validation.date_validation|format_date:True }}

        {% if validation.comment_validator %}
            -

            <a href="#view-comment-validator-{{ validation.pk }}" class="open-modal">
                {% trans "Motif du rejet" %}
            </a>
            <div class="modal modal-flex" id="view-comment-validator-{{ validation.pk }}" data-modal-close="Fermer">
                <p>
                    {{ validation.comment_validator|emarkdown }}
                </p>
            </div>
        {% endif %}
    {% elif validation.is_cancel %}
        {% trans "Annulé" %} {{ validation.date_validation|format_date:True }}
    {% endif %}
{% endif %}
