/* ==========================================================================
   Mixin for sprite position auto-calculated
   ---------------------------------
   Author: Alex-D / Alexandre Demode
   ========================================================================== */

@mixin sprite-pos($_item, $retina: false){
    @if($retina == false){
        background-position: nth($_item, 1) nth($_item, 2);
    } @else {
        background-position: round(nth($_item, 1)/ 2) round(nth($_item, 2)/ 2);
    }
}