{% extends "article/base_content.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}




{% block title_base %}
    &bull; {% trans "Articles" %}
{% endblock %}



{% block breadcrumb_base %}
    {% if user in article.authors.all %}
        <li><a href="{% url "member-articles" %}">{% trans "Mes articles" %}</a></li>
    {% else %}
        <li><a href="{% url "article-index" %}">{% trans "Articles" %}</a></li>
    {% endif %}
{% endblock %}



{% block title %}
    {% trans "Éditer" %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
    <li>{% trans "Éditer" %}</li>
{% endblock %}



{% block headline %}
    <h1>{% trans "Éditer l'article" %} : {{ article.title }}</h1>
{% endblock %}



{% block sidebar_actions %}
    {% include 'article/includes/sidebar_actions.part.html' %}
{% endblock %}



{% block content %}
    {% if article.is_visible %}
        <div class="alert-box warning">
            {% blocktrans %}
            <strong>Cet article est actuellement en ligne !</strong> Veuillez être particulièrement prudent au niveau des changements que vous apportez à celui-ci.
            Vous pouvez modifier la forme de celui-ci, mais évitez d'en modifier le fond !
            {% endblocktrans %}
        </div>
    {% endif %}

    {% crispy form %}
            
    {% if form.text.value %}
        {% include "misc/previsualization.part.html" with text=form.text.value %}
    {% endif %}
{% endblock %}
