{% extends "article/base_content.html" %}
{% load profile %}
{% load date %}
{% load thumbnail %}
{% load i18n %}


{% block title %}
    {% trans "Historique de" %} "{{ article.title }}"
{% endblock %}



{% block breadcrumb_base %}
    {% if user in article.authors.all %}
        <li><a href="{% url "member-articles" %}">{% trans "Mes articles" %}</a></li>
    {% else %}
        <li><a href="{% url "article-index" %}">{% trans "Articles" %}</a></li>
    {% endif %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
    <li>{% trans "Historique des modifications" %}</li>
{% endblock %}



{% block sidebar_actions %}
    {% include 'article/includes/sidebar_actions.part.html' %}
{% endblock %}



{% block headline %}
    {% if article.licence %}
        <span class="license" itemprop="license">
            {{ article.licence }}
        </span>
    {% endif %}

    <h1 {% if article.image %}class="illu"{% endif %}>
        {% if article.image %}
            <img src="{{article.image.article_illu.url }}" alt="">
        {% endif %}
        {% trans "Historique de" %} "{{ article.title }}"
    </h1>

    {% if article.description %}
        <h2 class="subtitle">
            {{ article.description }}
        </h2>
    {% endif %}

    <ul class="taglist" itemprop="keywords">
        {% for tag in tags.all %}
            <li>
                <a href="{% url "article-index" %}?tag={{ tag.slug }}">
                    {{ tag.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <span class="pubdate">
        {% trans "Publié" %}
        <time datetime="{{ article.pubdate|date:"c" }}" pubdate="pubdate" itemprop="datePublished">
            {{ article.pubdate|format_date }}
        </time>
    </span>

    <div class="authors">
        <span class="authors-label">{% trans "Contributeur" %}{{ article.authors.all|pluralize }} : </span>
        <ul>
            {% for member in article.authors.all %}
                <li>
                    {% include "misc/member_item.part.html" with avatar=True %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}



{% block content %}
    <table class="fullwidth">
        <thead>
            <tr>
                <th>{% trans "Visbilité" %}</th>
                <th width="25%">{% trans "Date" %}</th>
                <th>{% trans "Version" %}</th>
                <th width="10%">{% trans "Diff" %}</th>
                <th width="10%">{% trans "Auteur" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>
                        {% if article.sha_public = log.newhexsha %}
                            {% trans "Publique" %}
                        {% elif article.sha_validation = log.newhexsha %}
                            {% trans "Validation" %}
                        {% elif article.sha_beta =  log.newhexsha %}
                            {% trans "Beta" %}
                        {% elif article.sha_draft =  log.newhexsha %}
                            {% trans "Brouillon" %}
                        {% endif %}
                    </td>
                    <td>
                        {{ log.time.0|humane_time }}
                    </td>
                    <td>
                        <a href="{% url "article-view" article.pk article.slug %}?version={{ log.newhexsha }}">
                            {{ log.message }}
                        </a>
                    </td>
                    <td>
                        {{ log.newhexsha|truncatechars:8 }}
                    </td>
                    <td>
                        {% with u=log.actor.name|user %}
                            {% if u %}
                                {% include "misc/member_item.part.html" with member=u avatar=True %}
                            {% else %}
                                <em>{% trans "Inconnu" %}</em>
                            {% endif %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
