{% extends "article/index.html" %}
{% load i18n %}


{% block title_base %}
    &bull; {% trans "Articles" %}
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url "member-articles" %}">{% trans "Mes articles" %}</a></li>
{% endblock %}



{% block breadcrumb %}
    {% if request.GET.type == "public" %}
        <li>{% trans "Publiés" %}</li>
    {% elif request.GET.type == "validate" %}
        <li>{% trans "En validation" %}</li>
    {% elif request.GET.type == "draft" %}
        <li>{% trans "Brouillons" %}</li>
    {% else %}
        <li>{% trans "Tous mes articles" %}</li>
    {% endif %}
{% endblock %}



{% block title %}
    {% trans "Mes Articles" %}
    {% if request.GET.type == "public" %}
        / {% trans "Publiés" %}
    {% elif request.GET.type == "validate" %}
        / {% trans "En validation" %}
    {% elif request.GET.type == "draft" %}
        / {% trans "Brouillons" %}
    {% endif %}
    {% if sort == "abc" %}
        / Par ordre alphabétique
    {% elif sort == "creation" %}
        / Par date de création
    {% elif sort == "modification" %}
        / Par date de dernière modification
    {% endif %}
{% endblock %}



{% block headline %}
    {% trans "Mes Articles" %}
    {% if request.GET.type == "public" %}
        / {% trans "Publiés" %}
    {% elif request.GET.type == "validate" %}
        / {% trans "En validation" %}
    {% elif request.GET.type == "draft" %}
        / {% trans "Brouillons" %}
    {% endif %}
    {% if sort == "abc" %}
        / Par ordre alphabétique
    {% elif sort == "creation" %}
        / Par date de création
    {% elif sort == "modification" %}
        / Par date de dernière modification
    {% endif %}
{% endblock %}



{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        <a href="{% url "article-new" %}" class="ico-after more blue new-btn">
            {% trans "Nouvel article" %}
        </a>

        <div class="mobile-menu-bloc mobile-all-links" data-title="Filtres">
            <h3>{% trans "Filtres" %}</h3>
            <ul>
                <li>
                    <a href="{% url "member-articles" %}?{% if sort %}sort={{ sort }}&{% endif %}type=public" class="ico-after tick green {% if request.GET.type == "public" %}selected{% endif %}">
                        {% trans "Publiés" %}
                    </a>
                </li>
                <li>
                    <a href="{% url "member-articles" %}?{% if sort %}sort={{ sort }}&{% endif %}type=validate" class="ico-after tick {% if request.GET.type == "validate" %}selected{% endif %}">
                        {% trans "En validation" %}
                    </a>
                </li>
                <li>
                    <a href="{% url "member-articles" %}?{% if sort %}sort={{ sort }}&{% endif %}type=draft" class="ico-after edit {% if request.GET.type == "draft" %}selected{% endif %}">
                        {% trans "Brouillons" %}
                    </a>
                </li>
                {% if request.GET.type %}
                    <li>
                        <a href="{% url "member-articles" %}{% if sort %}?sort={{ sort }}{% endif %}" class="ico-after cross">
                            {% trans "Annuler le filtre" %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="mobile-menu-bloc mobile-all-links" data-title="Trier">
            <h3>Trier</h3>
            <ul>
                <li>
                    <a href="{% url "member-articles" %}?sort=abc{% if type %}&type={{ type }}{% endif %}" class="ico-after gear {% if sort == "abc" %}selected{% endif %}">
                        Par ordre alphabétique
                    </a>
                </li>
                <li>
                    <a href="{% url "member-articles" %}?sort=creation{% if type %}&type={{ type }}{% endif %}" class="ico-after gear {% if sort == "creation" %}selected{% endif %}">
                        Par date de création
                    </a>
                </li>
                <li>
                    <a href="{% url "member-articles" %}?sort=modification{% if type %}&type={{ type }}{% endif %}" class="ico-after gear {% if sort == "modification" %}selected{% endif %}">
                        Par date de dernière modification
                    </a>
                </li>
            </ul>
        </div>
    </aside>
{% endblock %}



{% block content %}
    {% if articles %}
        <div class="content-item-list">
            {% for article in articles %}
                {% include "article/includes/article_item.part.html" with link=article.get_absolute_url show_description=True %}
            {% endfor %}
            <div class="fill"></div>
            <div class="fill"></div>
            <div class="fill"></div>
        </div>
    {% else %}
        <p>
            {% trans "Aucun article disponible" %}.
        </p>
    {% endif %}
{% endblock %}
