{% extends "article/index.html" %}



{% block title_base %}
    &bull; Articles
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url "zds.member.views.articles" %}">Mes articles</a></li>
{% endblock %}



{% block breadcrumb %}
    {% if request.GET.type == "public" %}
        <li>Publiés</li>
    {% elif request.GET.type == "draft" %}
        <li>Brouillons</li>
    {% else %}
        <li>Tous mes articles</li>
    {% endif %}
{% endblock %}



{% block title %}
    Mes Articles
    {% if request.GET.type == "public" %}
        / Publiés
    {% elif request.GET.type == "draft" %}
        / Brouillons
    {% endif %}
{% endblock %}



{% block headline %}
    Mes Articles
    {% if request.GET.type == "public" %}
        / Publiés
    {% elif request.GET.type == "draft" %}
        / Brouillons
    {% endif %}
{% endblock %}



{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        <a href="{% url "zds.article.views.new" %}" class="ico-after more blue new-btn">
            Nouvel article
        </a>

        <div class="mobile-menu-bloc mobile-all-links" data-title="Filtres">
            <h3>Filtres</h3>
            <ul>
                <li>
                    <a href="{% url "zds.member.views.articles" %}?type=public" class="ico-after tick green {% if request.GET.type == "public" %}unread{% endif %}">
                        Publiés
                    </a>
                </li>
                <li>
                    <a href="{% url "zds.member.views.articles" %}?type=draft" class="ico-after tick {% if request.GET.type == "draft" %}unread{% endif %}">
                        Brouillons
                    </a>
                </li>
                {% if request.GET.type %}
                    <li>
                        <a href="{% url "zds.member.views.articles" %}" class="ico-after cross">
                            Annuler le filtre
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </aside>
{% endblock %}



{% block content %}
    {% if articles %}
        <div class="tutorial-list">
            {% for article in articles %}
                {% include "article/includes/article_item.part.html" with link=article.get_absolute_url %}
            {% endfor %}
        </div>
    {% else %}
        <p>
            Aucun article disponible.
        </p>
    {% endif %}
{% endblock %}