{% extends "article/base_content.html" %}
{% load emarkdown %}
{% load profile %}
{% load date %}
{% load thumbnail %}
{% load i18n %}




{% block title_base %}
    &bull; {% trans "Articles" %}
{% endblock %}



{% block breadcrumb_base %}
    {% if user in authors.all %}
        <li><a href="{% url "member-articles" %}">{% trans "Mes articles" %}</a></li>
    {% else %}
        <li><a href="{% url "article-index" %}">{% trans "Articles" %}</a></li>
    {% endif %}
{% endblock %}



{% block title %}
    {{ article.title }}
{% endblock %}



{% block breadcrumb %}
    <li>{{ article.title }}</li>
{% endblock %}



{% block sidebar_actions %}
    {% include 'article/includes/sidebar_actions.part.html' %}
{% endblock %}



{% block headline %}
    {% if article.licence %}
        <span class="license">
            {{ article.licence }}
        </span>
    {% endif %}

    <h1 {% if article.image %}class="illu"{% endif %}>
        {% if article.image %}
            <img src="{{article.image.article_illu.url }}" alt="">
        {% endif %}
        {{ article.title }}
    </h1>

    {% if article.description %}
        <h2 class="subtitle">
            {{ article.description }}
        </h2>
    {% endif %}

    <ul class="taglist">
        {% for tag in tags.all %}
            <li>
                <a href="{% url "article-index" %}?tag={{ tag.slug }}">
                    {{ tag.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if article.update %}
        <span class="pubdate">
            {% trans "Dernière mise à jour" %} :
            <time datetime="{{ article.update|date:"c" }}" pubdate="pubdate" itemprop="dateModified">
                {{ article.update|format_date }}
            </time>
        </span>
    {% endif %}

    {% include "misc/zen_button.part.html" %}

    <div class="authors">
        <span class="authors-label">{% trans "Contributeur" %}{{ authors.all|pluralize }} : </span>
        <ul>
            {% for member in authors.all %}
                <li>
                    {% include "misc/member_item.part.html" with avatar=True %}
                </li>
            {% endfor %}
            <li>
                <a href="#add-author" class="open-modal ico-after more blue">
                    {% trans "Ajouter un auteur" %}
                </a>
            </li>
        </ul>
    </div>

    {% if user in authors.all or perms.article.change_article %}
        {% if article.sha_validation != None %}
            {% if validation.version == version %}
                {% if validation.validator == None %}
                    <p class="content-wrapper alert-box alert">
                        {% trans "Cet article est en attente d'un validateur" %}
                    </p>
                {% else %}
                    <p class="content-wrapper alert-box info">
                        {% trans "L'article est en cours de validation par" %}
                        {% include "misc/member_item.part.html" with member=validation.validator %}
                    </p>
                {% endif %}
                {% if validation.comment_authors %}
                    <div class="content-wrapper comment-author">
                        <p>
                            {% trans "Le message suivant a été laissé à destination des validateurs" %} :
                        </p>

                        <blockquote>
                            {{ validation.comment_authors|emarkdown }}
                        </blockquote>
                    </div>
                {% endif %}
            {% else %}
                {% if validation.validator == None %}
                    <p class="content-wrapper alert-box alert">
                        <a href="{{ article.get_absolute_url }}?version={{ validation.version }}">
                            {% trans "Une autre version de cet article" %}</a>
                        {% trans "est en attente d'un validateur" %}
                    </p>
                {% else %}
                    <p class="content-wrapper alert-box info">
                        <a href="{{ article.get_absolute_url }}?version={{ validation.version }}">
                            {% trans "Une autre version de cet article" %}</a>
                        {% trans "est en cours de validation par" %}
                        {% include "misc/member_item.part.html" with member=validation.validator %}
                    </p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}



{% block content %}
    <div>
        {{ article.txt|emarkdown:is_js }}
    </div>
{% endblock %}
