{% extends "article/base.html" %}
{% load crispy_forms_tags %}
{% load captureas %}



{% block title %}
    Répondre à l'article
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ article.get_absolute_online_url }}">{{ article.title }}</a></li>
    <li>Répondre à l'article</li>
{% endblock %}



{% block headline %}
    Répondre à l'article : {{ article.title }}
{% endblock %}



{% block content %}
    {% if newreaction %}
        <div class="alert-box alert">
            <strong>Au moins un nouveau message a été posté</strong> dans la discussion
            pendant que vous rédigiez le votre.
        </div>
    {% endif %}

    {% crispy form %}

    {% if form.text.value %}
        {% include "misc/previsualization.part.html" with text=form.text.value %}
    {% endif %}

    <div class="content-wrapper">
        {% for message in reactions %}
            {% captureas edit_link %}
                {% url "zds.article.views.edit_note" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas cite_link %}
                {% url "zds.article.views.answer" %}?article={{ topic.pk }}&amp;cite={{ message.pk }}
            {% endcaptureas %}

            {% captureas upvote_link %}
                {% url "zds.article.views.like_note" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas downvote_link %}
                {% url "zds.article.views.dislike_note" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas alert_solve_link %}
                {% url "zds.article.views.solve_alert" %}
            {% endcaptureas %}

            {% include "misc/message.part.html" with perms_change=perms.tutorial.change_article %}
        {% endfor %}
    </div>
{% endblock %}