{% extends "article/base.html" %}
{% load crispy_forms_tags %}
{% load captureas %}
{% load i18n %}


{% block title %}
    {% trans "Répondre à l'article" %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ article.get_absolute_url_online }}">{{ article.title }}</a></li>
    <li>{% trans "Répondre à l'article" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Répondre à l'article" %} : {{ article.title }}
{% endblock %}



{% block content %}
    {% if newreaction %}
        <div class="alert-box alert">
            {% blocktrans %}
                <strong>Au moins un nouveau message a été posté</strong> dans la discussion
            pendant que vous rédigiez le votre.
            {% endblocktrans %}
        </div>
    {% endif %}

    {% crispy form %}

    {% if form.text.value %}
        {% include "misc/previsualization.part.html" with text=form.text.value %}
    {% endif %}

    <div class="content-wrapper">
        {% for message in reactions %}
            {% captureas edit_link %}
                {% url "article-edit-reaction" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas cite_link %}
                {% url "article-answer" %}?article={{ article.pk }}&amp;cite={{ message.pk }}
            {% endcaptureas %}

            {% captureas upvote_link %}
                {% url "article-like-reaction" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas downvote_link %}
                {% url "article-dislike-reaction" %}?message={{ message.pk }}
            {% endcaptureas %}

            {% captureas alert_solve_link %}
                {% url "article-solve-alert" %}
            {% endcaptureas %}

            {% include "misc/message.part.html" %}
        {% endfor %}
    </div>
{% endblock %}