/* For JS Editor */

/* 
Note à Alex : faudra merger ce code avec un autre fichier CSS. Faudra aussi que tu 
adaptes à ton design. JS crée la structure opérationnelle (les positions toussa toussa). 
Ici c'est juste le skin
*/


/* Bouton "standard" de la barre d'outils */
a.zform-button {
	background: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	margin-right: 2px;
	opacity: 0.7;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

a.zform-button:hover {
	border: 1px solid #FD9F26;
	opacity: 1;	
}

/* Dropdown d'un bouton de la barre d'outils. Un div placé directement comme enfant de a.zform-button */
div.zform-popup {
	top: 18px;
	z-index: 100;
	background: #fff;	
	border: 1px solid #ccc;
	border-radius: 3px;
}

/* Affichage des 3 colonnes de codes du dropdown de sélection du code */
.zform-code-col { display: inline-block; vertical-align: top; margin: 2px; min-width: 100px }
.zform-code-col > span[data-zform-selected='true'] { color: brown; font-weight: bold }
.zform-code-col > span { display: block; color: #2677C9; cursor: pointer }
.zform-code-col > span:hover { color: #C87B02 }
