
    $check: -0px -0px 13px 13px;
    $radio: -0px -13px 13px 13px;
    $unread: -0px -26px 16px 16px;
    $chat-bubble-orange: -0px -42px 33px 32px;
    $chat-bubble: -0px -74px 33px 32px;
    $help-light: -0px -106px 16px 40px;
    $arrow-left-light: -0px -146px 16px 40px;
    $arrow-left: -0px -186px 16px 40px;
    $arrow-right-blue: -0px -226px 16px 40px;
    $arrow-right-light: -0px -266px 16px 40px;
    $arrow-right: -0px -306px 16px 40px;
    $articles: -0px -346px 40px 40px;
    $beta-blue: -0px -386px 16px 40px;
    $beta-light: -0px -426px 16px 40px;
    $beta: -0px -466px 16px 40px;
    $alert-blue: -0px -506px 16px 40px;
    $alert: -0px -546px 16px 40px;
    $alerts: -0px -586px 22px 40px;
    $cite-blue: -0px -626px 16px 40px;
    $cite-light: -0px -666px 16px 40px;
    $cite: -0px -706px 16px 40px;
    $cross-blue: -0px -746px 16px 40px;
    $cross-light: -0px -786px 16px 40px;
    $cross-red: -0px -826px 16px 40px;
    $cross-white: -0px -866px 16px 40px;
    $cross: -0px -906px 16px 40px;
    $diaspora-blue: -0px -946px 16px 40px;
    $diaspora-light: -0px -986px 16px 40px;
    $diaspora: -0px -1026px 16px 40px;
    $download-blue: -0px -1066px 16px 40px;
    $download-light: -0px -1106px 16px 40px;
    $download: -0px -1146px 16px 40px;
    $edit-blue: -0px -1186px 16px 40px;
    $edit-light: -0px -1226px 16px 40px;
    $edit: -0px -1266px 16px 40px;
    $email-blue: -0px -1306px 16px 40px;
    $email-light: -0px -1346px 16px 40px;
    $email: -0px -1386px 16px 40px;
    $error: -0px -1426px 22px 40px;
    $facebook-blue: -0px -1466px 16px 40px;
    $facebook-light: -0px -1506px 16px 40px;
    $facebook: -0px -1546px 16px 40px;
    $forum-heading: -0px -1586px 40px 40px;
    $foursquare-blue: -0px -1626px 16px 40px;
    $foursquare-light: -0px -1666px 16px 40px;
    $foursquare: -0px -1706px 16px 40px;
    $gear-blue: -0px -1746px 16px 40px;
    $gear-light: -0px -1786px 16px 40px;
    $gear: -0px -1826px 16px 40px;
    $github-blue: -0px -1866px 16px 40px;
    $github-light: -0px -1906px 16px 40px;
    $github: -0px -1946px 16px 40px;
    $google-plus-blue: -0px -1986px 16px 40px;
    $google-plus-light: -0px -2026px 16px 40px;
    $google-plus: -0px -2066px 16px 40px;
    $help-blue: -0px -2106px 16px 40px;
    $alert-light: -0px -2146px 16px 40px;
    $help: -0px -2186px 16px 40px;
    $hide-blue: -0px -2226px 16px 40px;
    $hide-light: -0px -2266px 16px 40px;
    $hide: -0px -2306px 16px 40px;
    $history-blue: -0px -2346px 16px 40px;
    $history-light: -0px -2386px 16px 40px;
    $history: -0px -2426px 16px 40px;
    $import-blue: -0px -2466px 16px 40px;
    $import-light: -0px -2506px 16px 40px;
    $import: -0px -2546px 16px 40px;
    $information: -0px -2586px 22px 40px;
    $lock-blue: -0px -2626px 16px 40px;
    $lock-light: -0px -2666px 16px 40px;
    $lock: -0px -2706px 16px 40px;
    $menu: -0px -2746px 22px 40px;
    $messages: -0px -2786px 22px 40px;
    $more-blue: -0px -2826px 16px 40px;
    $more-light: -0px -2866px 16px 40px;
    $more: -0px -2906px 16px 40px;
    $move-blue: -0px -2946px 16px 40px;
    $move-light: -0px -2986px 16px 40px;
    $move: -0px -3026px 16px 40px;
    $notifications: -0px -3066px 22px 40px;
    $params: -0px -3106px 22px 40px;
    $pin-blue: -0px -3146px 16px 40px;
    $pin-light: -0px -3186px 16px 40px;
    $pin: -0px -3226px 16px 40px;
    $question: -0px -3266px 22px 40px;
    $ariane: -0px -3306px 15px 40px;
    $rss-blue: -0px -3346px 16px 40px;
    $rss-light: -0px -3386px 16px 40px;
    $rss-orange: -0px -3426px 16px 40px;
    $rss: -0px -3466px 16px 40px;
    $search: -0px -3506px 16px 40px;
    $star-blue: -0px -3546px 16px 40px;
    $star-heading-white: -0px -3586px 40px 40px;
    $star-heading: -0px -3626px 40px 40px;
    $star-light: -0px -3666px 16px 40px;
    $star-yellow: -0px -3706px 16px 40px;
    $star: -0px -3746px 16px 40px;
    $thumb-down-voted: -0px -3786px 16px 40px;
    $thumb-down: -0px -3826px 16px 40px;
    $thumb-up-voted: -0px -3866px 16px 40px;
    $thumb-up: -0px -3906px 16px 40px;
    $tick-green: -0px -3946px 16px 40px;
    $tick-light: -0px -3986px 16px 40px;
    $tick: -0px -4026px 16px 40px;
    $tutorials: -0px -4066px 40px 40px;
    $twitter-blue: -0px -4106px 16px 40px;
    $twitter-light: -0px -4146px 16px 40px;
    $twitter: -0px -4186px 16px 40px;
    $arrow-left-blue: -0px -4226px 16px 40px;
    $view-blue: -0px -4266px 16px 40px;
    $view-light: -0px -4306px 16px 40px;
    $view: -0px -4346px 16px 40px;
    $warning: -0px -4386px 22px 40px;

@define-mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@define-mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@define-mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

    @define-mixin sprite() {
      background-image: url('../images/sprite.png');
    }
    @define-mixin sprite-2x() {
      background-image: url('../images/sprite@2x.png');
      background-size: 40px 4426px;
    }
