.markdown-help {
    min-height: 50px;
    overflow: hidden;

    .open-markdown-help {
        float: none !important;
        display: inline-block !important;
        margin-bottom: 20px;

        .close-markdown-help-text {
            display: none;
        }
    }
    .topic-message & {
        min-height: 0;

        .open-markdown-help {
            position: absolute;
            bottom: 0;
            left: 8px;
            margin-bottom: 0;
        }
    }

    .markdown-help-more {
        display: none;
        background: #EEE;
        padding: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid #CCC;

        pre {
            margin: 0;
        }

        &.show-markdown-help {
            display: block;
        }
    }
    .show-markdown-help + .open-markdown-help {
        margin-top: -5px;
        padding-top: 5px;
        line-height: 35px;

        &:after {
            margin-top: 15px !important;
        }

        .close-markdown-help-text {
            display: inline;
        }
        .open-markdown-help-text {
            display: none;
        }
    }
}

@media only screen and $media-mobile {
    .markdown-help {
        .open-markdown-help {
            position: relative;
            left: 0;
            bottom: 0;
            float: none;
            margin-left: 0 !important;
        }
    }

    .topic-message {
        .markdown-help {
            .markdown-help-more {
                margin-bottom: 0;
            }

            .open-markdown-help {
                position: relative;
                width: 100%;
                margin-left: -10px !important;
                padding-left: 40px;

                &:after {
                    margin-left: 15px;
                }
            }

            .show-markdown-help + .open-markdown-help {
                margin-top: 0;
            }
        }
    }
}
