.search-box {
    width: 100%;
    min-height: 60px;
    background: #EEE;
    box-shadow: rgba(0, 0, 0, .25) 0 0 3px;

    form {
        min-height: 60px;

        label {
            display: block;
            line-height: 40px;
            font-size: 16px;
            font-size: 1.6rem;
            color: #333;
            text-align: center;
            width: 100%;
        }

        input,
        button {
            border: 1px solid $color-secondary;
            background: #FFF;
            margin: 5px 0 12px;
        }
        input {
            height: 34px;
            padding: 0 15px;
            border-right: none;
            width: 85%;
            width: calc(100% - 71px);
        }
        button {
            height: 36px;
            text-indent: -9999px;
            border-left: none;
            width: 40px;
            transition: background $transition-duration;

            position: absolute;
            bottom: 0;
            right: 15px;

            &:hover {
                background: #EEE;
            }

            &:after {
                top: 9px;
                left: 12px;
                background-position: $search-x $search-y;
            }
        }
    }
}

@media only screen and (--media-wide) {
    .search-box {
        form {
            label {
                line-height: 60px;
                width: 300px;
                float: left;
            }

            input,
            button {
                margin: 12px 0;
                float: left;
            }
            input {
                width: calc(100% - 371px);
            }
        }
    }
}
