{% extends "article/base.html" %}
{% load date %}
{% load captureas %}
{% load emarkdown %}
{% load i18n %}


{% block title %}
    {% trans "Historique de validation de l'article" %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{% url "article-list-validation" %}">{% trans "Validation" %}</a></li>
    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
    <li>{% trans "Historique" %}</li>
{% endblock %}



{% block headline %}
    {{ article.title }}
{% endblock %}



{% block headline_sub %}
    {% trans "Historique de validation" %}
{% endblock %}



{% block content %}
    <ul class="taglist">
        {% for tag in tags.all %}
            <li>
                <a href="{% url "article-index" %}?tag={{ tag.slug }}">
                    {{ tag.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="authors">
        <span class="authors-label">{% trans "Contributeur" %}{{ authors.all|pluralize }} : </span>
        <ul>
            {% for member in authors.all %}
                <li>
                    {% include "misc/member_item.part.html" with avatar=True %}
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if validations %}
        <table class="fullwidth">
            <thead>
                <tr>
                    <th width="50%">{% trans "Proposé" %}</th>
                    <th width="50%">{% trans "Statut" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for validation in validations %}
                    <tr>
                        <td>
                            {{ validation.date_proposition|format_date|capfirst }}
                            {% if validation.comment_authors %}
                                <br>
                                <a href="#view-comment-authors-{{ validation.pk }}" class="open-modal">
                                    {% trans "Message laissé à la validation" %}
                                </a>
                                <div class="modal modal-big" id="view-comment-authors-{{ validation.pk }}" data-modal-close="Fermer">
                                    <p>
                                        {{ validation.comment_authors|emarkdown }}
                                    </p>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% captureas reservation_url %}
                                {% url "article-reservation" validation.pk %}
                            {% endcaptureas %}
                            {% include "misc/validation.part.html" %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {% trans "Aucun tutoriel soumis en validation" %}.
        </p>
    {% endif %}
{% endblock %}
