{% extends "article/base.html" %}
{% load date %}
{% load captureas %}



{% block title %}
    Liste des articles soumis en validation
{% endblock %}



{% block breadcrumb %}
    <li><a href="{% url "zds.article.views.list_validation" %}">Validation</a></li>
    <li>Liste des articles</li>
{% endblock %}



{% block sidebar_actions %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Filtres">
        <h3>Filtres</h3>
        <ul>
            <li>
                <a href="{% url "zds.tutorial.views.list_validation" %}?type=reserved" class="ico-after tick green {% if request.GET.type == "reserved" %}unread{% endif %}">
                    En cours de validation
                </a>
            </li>
            <li>
                <a href="{% url "zds.tutorial.views.list_validation" %}?type=orphan" class="ico-after tick {% if request.GET.type == "orphan" %}unread{% endif %}">
                    En attente de validateur
                </a>
            </li>
            {% if request.GET.type %}
                <li>
                    <a href="{% url "zds.tutorial.views.list_validation" %}" class="ico-after cross blue">
                        Annuler le filtre
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper">
        <h2>
            {% block headline %}
                Validation des articles
            {% endblock %}
        </h2>

        {% block content %}
            {% if validations %}
                <table class="fullwidth">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th width="10%">Auteur(s)</th>
                            <th width="10%">Proposé</th>
                            <th width="24%">Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for validation in validations %}
                            <tr>
                                <td>
                                    <a href="{% url "zds.article.views.view" validation.article.pk validation.article.slug %}?version={{ validation.version }}" >
                                        {{ validation.article.title }}
                                    </a>
                                    <br>
                                    {% if validation.article.subcategory.all %}
                                        Catégorie{{ validation.article.subcategory.all|pluralize }} : 
                                        {% for subcategory in validation.article.subcategory.all %}
                                            {% if not forloop.first %}
                                                -
                                            {% endif %}
                                            <a href="{% url "zds.article.views.list_validation" %}?subcategory={{ subcategory.pk }}">
                                                {{ subcategory.title }}</a>
                                        {% endfor %}
                                    {% else %}
                                        <em>Aucune catégorie</em>
                                    {% endif %}
                                </td>
                                <td>
                                    {% for author in validation.article.authors.all %}
                                        {% include 'misc/member_item.part.html' with member=author avatar=True %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <span>{{ validation.date_proposition|format_date:True|capfirst }}</span>
                                </td>
                                <td>
                                    {% captureas reservation_url %}
                                        {% url "zds.article.views.reservation" validation.pk %}
                                    {% endcaptureas %}
                                    {% include "misc/validation.part.html" %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    Aucun article soumis en validation.
                </p>
            {% endif %}
        {% endblock %}
    </section>
{% endblock %}