{% extends "article/base.html" %}
{% load date %}
{% load captureas %}
{% load i18n %}


{% block title %}
    {% trans "Liste des articles soumis en validation" %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{% url "article-list-validation" %}">{% trans "Validation" %}</a></li>
    <li>{% trans "Liste des articles" %}</li>
{% endblock %}



{% block sidebar_actions %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Filtres">
        <h3>{% trans "Filtres" %}</h3>
        <ul>
            <li>
                <a href="{% url "tutorial-list-validation" %}?type=reserved" class="ico-after tick green {% if request.GET.type == "reserved" %}selected{% endif %}">
                    {% trans "En cours de validation" %}
                </a>
            </li>
            <li>
                <a href="{% url "tutorial-list-validation" %}?type=orphan" class="ico-after tick {% if request.GET.type == "orphan" %}selected{% endif %}">
                    {% trans "En attente de validateur" %}
                </a>
            </li>
            {% if request.GET.type %}
                <li>
                    <a href="{% url "tutorial-list-validation" %}" class="ico-after cross blue">
                        {% trans "Annuler le filtre" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper">
        <h2>
            {% block headline %}
                {% trans "Validation des articles" %}
                ({{ validations|length }})
            {% endblock %}
        </h2>

        {% block content %}
            {% if validations %}
                <table class="fullwidth">
                    <thead>
                        <tr>
                            <th>{% trans "Titre" %}</th>
                            <th width="10%">{% trans "Auteur(s)" %}</th>
                            <th width="10%">{% trans "Proposé" %}</th>
                            <th width="24%">{% trans "Statut" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for validation in validations %}
                            <tr>
                                <td>
                                    <a href="{% url "article-view" validation.article.pk validation.article.slug %}?version={{ validation.version }}" >
                                        {{ validation.article.title }}
                                    </a>
                                    <br>
                                    {% if validation.article.subcategory.all %}
                                        {% trans "Catégories" %} : 
                                        {% for subcategory in validation.article.subcategory.all %}
                                            {% if not forloop.first %}
                                                -
                                            {% endif %}
                                            <a href="{% url "article-list-validation" %}?subcategory={{ subcategory.pk }}">
                                                {{ subcategory.title }}</a>
                                        {% endfor %}
                                    {% else %}
                                        <em>{% trans "Aucune catégorie" %}</em>
                                    {% endif %}
                                </td>
                                <td>
                                    {% for author in validation.article.authors.all %}
                                        {% include 'misc/member_item.part.html' with member=author avatar=True %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <span>{{ validation.date_proposition|format_date:True|capfirst }}</span>
                                </td>
                                <td>
                                    {% captureas reservation_url %}
                                        {% url "article-reservation" validation.pk %}
                                    {% endcaptureas %}
                                    {% include "misc/validation.part.html" %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    {% trans "Aucun article soumis en validation" %}.
                </p>
            {% endif %}
        {% endblock %}
    </section>
{% endblock %}