{% extends "tutorialv2/base_online.html" %}
{% load date %}
{% load captureas %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title_base %}
    {% trans "Signalements des contenus obsolètes" %}
{% endblock %}

{% block title %}
    {% if request.GET.type == "article" %}
        {% trans "Articles obsolètes" %} &bull;
    {% elif request.GET.type == "tuto" %}
        {% trans "Tutoriels obsolètes" %} &bull;
    {% else %}
        {% trans "Contenus obsolètes" %} &bull;
    {% endif %}
{% endblock %}

{% block breadcrumb_base %}
    <li>{% trans "Signalements des contenus obsolètes" %}</li>
{% endblock %}

{% block content_out %}
    <section class="full-content-wrapper">
        <h1>
            {% block headline %}
                {% trans "Signalements des contenus obsolètes" %}
                {% if request.GET.type == "unprocessed" %}
                    / {% trans "Non traités" %}
                {% elif request.GET.type == "processed" %}
                    / {% trans "Traités" %}
                {% elif request.GET.type == "ignored" %}
                    / {% trans "Ignorés" %}
                {% elif request.GET.type == "article" %}
                    / {% trans "Articles" %}
                {% elif request.GET.type == "tuto" %}
                    / {% trans "Tutoriels" %}
                {% endif %}
                {%  if category %}
                    / {{ category.title }}
                {% endif %}
                ({{ reports|length }})
            {% endblock %}
        </h1>

        {% captureas headlinesub %}
            {% block headline_sub %}{% endblock %}
        {% endcaptureas %}
        {% if headlinesub %}
            <h2 class="subtitle">{{ headlinesub|safe }}</h2>
        {% endif %}

        {% block content %}
            {% if reports %}
                <table class="fullwidth">
                    <thead>
                        <tr>
                          <th>{% trans "Titre" %}</th>
                          <th width="5%">{% trans "Type" %}</th>
                          <th width="15%">{% trans "Auteur(s)" %}</th>
                          <th width="10%">{% trans "Signalé par" %}</th>
                          <th width="10%">{% trans "Date de signalement" %}</th>
                          <th width="24%">{% trans "Message de signalement" %}</th>
                          <th width="13%">{% trans "Statut du signalement" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for report in reports %}
                          <tr>
                              <td>
                                  <a href="{{ report.publishable_content.get_absolute_url }}">
                                      {{ report.publishable_content.title }}
                                  </a>
                                  <br>
                                  {% if report.publishable_content.subcategory.all %}
                                      {% trans "Catégories :" %}
                                      {% for subcategory in report.publishable_content.subcategory.all %}
                                          {% if not forloop.first %}
                                              -
                                          {% endif %}
                                          <a href="{% url 'content:obsolete' %}?subcategory={{ subcategory.pk }}">
                                              {{ subcategory.title }}
                                          </a>
                                      {% endfor %}
                                  {% else %}
                                      <em>{% trans "Aucune catégorie" %}</em>
                                  {% endif %}
                              </td>
                              <td>
                                  {% if report.publishable_content.type == "ARTICLE" %}
                                      <a href="{% url 'content:obsolete' %}?type=article">{% trans "Article" %}</a>
                                  {% else %}
                                      <a href="{% url 'content:obsolete' %}?type=tuto">{% trans "Tutoriel" %}</a>
                                  {% endif %}
                              </td>
                              <td>
                                  {% for author in report.publishable_content.authors.all %}
                                      {% include 'misc/member_item.part.html' with member=author avatar=True %}
                                  {% endfor %}
                              </td>
                              <td>
                                  {% include 'misc/member_item.part.html' with member=report.author avatar=True %}
                              </td>
                              <td>
                                  <span>{{ report.report_date|format_date:True|capfirst }}</span>
                              </td>
                              <td>
                                  <span>{{ report.message }}</span>
                              </td>
                              <td>
                                  {% if report.status == 'traite' %}
                                    <span>Traité</span>
                                  {% elif report.status == 'ignore' %}
                                    <span>Ignoré</span>
                                  {% elif report.status == 'nouveau' %}
                                    <a href="#decide-obsolete-{{ report.pk }}" class="open-modal btn btn-submit">{% trans "Décider" %}</a>
                                    {% with forms_decide_obsolete|get_item:report.pk as form %}
                                      {% if form %}
                                        <div id="decide-obsolete-{{ report.pk }}">
                                        {% crispy form %}
                                        </div>
                                      {% endif %}
                                    {% endwith %}
                                  {% endif %}
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>

                </table>
            {% else %}
                <p>
                    {% trans "Aucun contenu en validation" %}
                    {% if request.GET.type %}
                        {% trans " ne répond à ce critère" %}
                    {% endif %}
                </p>
            {% endif %}
        {% endblock %}
    </section>
{% endblock %}



{% block sidebar_new %}{% endblock %}
{% block sidebar_blocks %}
  <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Filtres">
    <h3>{% trans "Filtres" %}</h3>
    <ul>
      <li>
        <a href="{% url "content:obsolete" %}?type=unprocessed" class="ico-after tick {% if request.GET.type == "unprocessed" %}selected{% endif %}">
            {% trans "Non traités" %}
        </a>
      </li>
      <li>
          <a href="{% url "content:obsolete" %}?type=processed" class="ico-after tick green {% if request.GET.type == "processed" %}selected{% endif %}">
              {% trans "Traités" %}
          </a>
      </li>
      <li>
        <a href="{% url "content:obsolete" %}?type=ignored" class="ico-after cross {% if request.GET.type == "ignored" %}selected{% endif %}">
            {% trans "Ignorés" %}
        </a>
      </li>
        <li>
            <a href="{% url "content:obsolete" %}?type=article" class="ico-after view {% if request.GET.type == "article" %}selected{% endif %}">
                {% trans "Articles" %}
            </a>
        </li>
        <li>
            <a href="{% url "content:obsolete" %}?type=tuto" class="ico-after view {% if request.GET.type == "tuto" %}selected{% endif %}">
                {% trans "Tutoriels" %}
            </a>
        </li>
        {% if request.GET.type or request.GET.subcategory %}
            <li>
                <a href="{% url "content:obsolete" %}" class="ico-after cross red">
                    {% trans "Annuler le filtre" %}
                </a>
            </li>
        {% endif %}
    </ul>
  </div>
{% endblock %}
