{% extends 'base.html' %}
{% load humanize %}
{% load emarkdown %}

{% block title %}
    Recherche
{% endblock %}

{% block headline %}
    Recherche
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="javascript:;">Recherche</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <form method="get" action=".">
            <table>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button type="submit" class="button">Rechercher</button>
                    </td>
                </tr>
            </table>
            {% if query %}
                {% if page.object_list %}
                    <h3>Resultats</h3>
                    <h4>Messages postés</h4>
                        <table>
                          <thead>
                            <tr>
                              <th>Type</th>
                              <th>Sujet</th>
                              <th width="15%">Quand</th>
                              <th width="55%">Extrait</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for result in page.object_list %}
                            
                            <tr>
                              <td>
                                  <span class="label">
                                  {% if result.object.first_post %}
                                      Sujet
                                  {% elif result.object.get_introduction_online %}
                                      Tutoriel
                                  {% elif result.object.get_text_online %}
                                      Extrait
                                  {% else %}
                                      Post
                                  {% endif %}
                                  </span>
                              </td>
                              <td>
                                  {% if result.object.first_post %}
                                      <a href="{{ result.object.get_absolute_url }}">
                                        {{ result.object.title }}
                                    </a>
                                    <p>{{ result.object.subtitle }}</p>
                                  {% elif result.object.get_introduction_online %}
                                      <a href="{{ result.object.get_absolute_url_online }}">
                                        {{ result.object.title }}
                                    </a>
                                    <p>{{ result.object.description }}</p>
                                {% elif result.object.get_text_online %}
                                    <a href="{{ result.object.get_absolute_url_online }}">
                                        {{ result.object.title }}
                                    </a>
                                  {% else %}
                                      <a href="{{ result.object.topic.get_absolute_url }}">
                                        {{ result.object.topic.title }}
                                    </a>
                                    <p>{{ result.object.topic.subtitle }}</p>
                                  {% endif %}
                              </td>
                              <td>
                                  <p>
                                      {% if result.object.pubdate %}
                                          {% if result.object.first_post %}
                                              <a href="{{ result.object.get_absolute_url }}">{{ result.object.pubdate|naturaltime }}</a>
                                          {% elif result.object.get_introduction_online %}
                                              <a href="{{ result.object.get_absolute_url_online }}">{{ result.object.pubdate|naturaltime }}</a>
                                          {% else %}
                                              <a href="{{ result.object.get_absolute_url }}">{{ result.object.pubdate|naturaltime }}</a>
                                          {% endif %}
                                    {% elif result.object.tutorial.pubdate %}
                                        <a href="{{ result.object.get_absolute_url_online }}">{{ result.object.tutorial.pubdate|naturaltime }}</a>
                                    {% elif result.object.part.tutorial.pubdate %}
                                        <a href="{{ result.object.get_absolute_url_online }}">{{ result.object.part.tutorial.pubdate|naturaltime }}</a>
                                    {% elif result.object.chapter.part.tutorial.pubdate %}
                                        <a href="{{ result.object.get_absolute_url_online }}">{{ result.object.chapter.part.tutorial.pubdate|naturaltime }}</a>
                                      {% endif %}
                                </p>
                              </td>
                              <td>
                                  <p>
                                  {% if result.object.first_post %}
                                      {{ result.object.first_post.text|truncatechars:200|emarkdown }}
                                  {% elif result.object.get_introduction_online %}
                                        {{ result.object.get_introduction_online|truncatechars:200|safe }}
                                  {% elif result.object.get_text_online %}
                                        {{ result.object.get_text_online|truncatechars:200|safe }}
                                  {% else %}
                                      {{ result.object.text|truncatechars:200|emarkdown }}
                                  {% endif %}
                                </p>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Page précédente{% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Page suivante &raquo;{% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="panel">
                        <p>Aucun résultat trouvé.</p>
                    </div>
                {% endif %}
            {% endif %}
        </form>
    </div>
{% endblock %}