{% extends 'base.html' %}
{% load date %}
{% load emarkdown %}
{% load highlight %}
{% load topbar %}
{% load i18n %}


{% block title %}
    {% trans "Recherche" %}
{% endblock %}



{% block mobile_title %}
    {% trans "Recherche" %}
{% endblock %}



{% block headline %}
    {% trans "Recherche" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Recherche" %}</li>
{% endblock %}



{% block headline_sub %}
    {% if query and page.object_list %}
        {% trans "Résultats" %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        <div class="mobile-menu-bloc mobile-all-links" data-title="Sujets suivis">
            <h3>{% trans "Filtrer les résultats" %}</h3>

            <ul>
                {% for radio in form.models %}
                    <li>
                        {{ radio.choice_label }}

                        <input id="{{ radio.id_for_label }}"
                               form="search_form" name="models"
                               type="checkbox" value="{{ radio.choice_value }}"

                                {% if radio.choice_value in models %}
                                    checked
                                {% endif %}
                                >
                    </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
{% endblock %}


{% block content %}
    <form method="get" action="." id="search_form" class="clearfix search-form">
        {{ form.q }}
        <button type="submit">{% trans "Rechercher" %}</button>
    </form>


    {% if query %}
        {% include "misc/pagination.part.html" with position="top" %}


        {% if page.object_list %}
            <div class="topic-list navigable-list">
                {% for result in page.object_list %}
                    {% if result and result.object %}
                        {% if result.content_type == "search.searchindexcontent" %}
                            {% include "search/includes/content/content.html" with result=result query=query %}
                        {% elif result.content_type == "search.searchindexcontainer" %}
                            {% include "search/includes/content/container.html" %}
                        {% elif result.content_type == "search.searchindexextract" %}
                            {% include "search/includes/content/extract.html" %}
                        {% elif result.content_type == "forum.topic"  %}
                            {% include "search/includes/forum/topic.html" %}
                        {% elif result.content_type == "forum.post"  %}
                            {% include "search/includes/forum/post.html" %}
                        {% endif %}

                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>
                {% trans "Aucun résultat trouvé" %}.
            </p>
        {% endif %}


        {% include "misc/pagination.part.html" with position="bottom" %}
    {% endif %}
{% endblock %}
