{% extends "base.html" %}
{% load i18n %}



{% block title_base %}
    &bull; {% trans "Galeries" %}
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url "gallery-list" %}">{% trans "Galeries" %}</a></li>
{% endblock %}



{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        <a href="{% url "gallery-new" %}" class="new-btn ico-after more blue">
            {% trans "Créer une galerie" %}
        </a>

        {% block new_btn %}{% endblock %}

        {% block sidebar_actions %}
            {% if gallery_mode.can_write or content_linked %}
                <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
                <h3>{% trans "Actions" %}</h3>
                    <ul>
                        {% if gallery_mode.can_write %}
                            <li>
                                <a href="{% url "gallery-image-new" gallery.pk %}" class="ico-after more blue">
                                    {% trans "Ajouter une image" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url "gallery-image-import" gallery.pk %}" class="ico-after import blue">
                                    {% trans "Importer une archive" %}
                                </a>
                            </li>
                            {% if gallery and not content_linked %}
                                <li>
                                    <a href="#delete-galleries" class="open-modal ico-after cross red">
                                        {% trans "Supprimer la galerie" %}
                                    </a>
                                    <form action="{% url "zds.gallery.views.modify_gallery" %}" method="post" id="delete-galleries" class="modal modal-flex">
                                        <label for="items" class="checkbox">
                                            <input
                                                name="items"
                                                type="checkbox"
                                                checked
                                                value="{{ gallery.pk }}"
                                                form="delete-galleries"

                                            /> {% trans "Supprimer la galerie" %} ?
                                        </label>
                                        {% csrf_token %}
                                        <button type="submit" name="delete_multi" class="btn">{% trans "Supprimer" %}</button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if content_linked %}
                            <li>
                                <a href="{{ content_linked.get_absolute_url }}" class="ico-after offline blue">
                                    {% trans "Aller" %}
                                    {% if content_linked.type == "ARTICLE" %}
                                        {% trans "à l'article" %}
                                    {% elif content_linked.type == "TUTORIAL" %}
                                         {% trans "au tutoriel" %}
                                    {% endif %}
                                    {% trans "lié à cette galerie" %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    </aside>
{% endblock %}
