{% extends "base.html" %}
{% load i18n %}



{% block title_base %}
    &bull; {% trans "Galeries" %}
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url "gallery:list" %}">{% trans "Galeries" %}</a></li>
{% endblock %}



{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        <a href="{% url "gallery:create" %}" class="new-btn ico-after more blue">
            {% trans "Créer une galerie" %}
        </a>

        {% block new_btn %}{% endblock %}

        {% block sidebar_actions %}
            {% if permissions.write or content_linked %}
                <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
                    <h3>{% trans "Actions" %}</h3>

                    <ul>
                        {% if permissions.write %}
                            <li>
                                <a href="{% url "gallery:image-add" gallery.pk %}" class="ico-after more blue">
                                    {% trans "Ajouter une image" %}
                                </a>
                            </li>
                            {% if not content_linked %}
                                <li>
                                    <a href="{% url "gallery:edit" gallery.pk %}" class="ico-after edit blue">
                                        {% trans "Éditer la galerie" %}
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url "gallery:image-import" gallery.pk %}" class="ico-after import blue">
                                    {% trans "Importer une archive" %}
                                </a>
                            </li>
                            {% if not content_linked %}
                                <li>
                                    <a href="#delete-galleries" class="open-modal ico-after cross red">
                                        {% trans "Supprimer la galerie" %}
                                    </a>
                                    <form action="{% url "gallery:delete" %}" method="post" id="delete-galleries" class="modal modal-flex">
                                        <input name="g_items" type="hidden" value="{{ gallery.pk }}" form="delete-galleries" />
                                        <p>{% trans "Êtes-vous certain de vouloir supprimer cette galerie ?" %}</p>
                                        {% csrf_token %}
                                        <button type="submit" name="delete_multi" class="btn btn-submit">{% trans "Supprimer" %}</button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if content_linked %}
                            <li>
                                <a href="{{ content_linked.get_absolute_url }}" class="ico-after offline blue">
                                    {% trans "Aller à la publication liée à cette galerie" %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    </aside>
{% endblock %}
