{% extends "base.html" %}
{% load i18n %}



{% block title_base %}
    &bull; {% trans "Galeries" %}
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url "gallery-list" %}">{% trans "Galeries" %}</a></li>
{% endblock %}



{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        <a href="{% url "gallery-new" %}" class="new-btn ico-after more blue">
            {% trans "Créer une galerie" %}
        </a>

        {% block new_btn %}{% endblock %}

        {% block sidebar_actions %}
            <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
            <h3>{% trans "Actions" %}</h3>
                <ul>
                    {%  if gallery_mode.can_write %}
                        <li>
                            <a href="{% url "gallery-image-new" gallery.pk %}" class="ico-after more blue">
                                {% trans "Ajouter une image" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url "gallery-image-import" gallery.pk %}" class="ico-after import blue">
                                {% trans "Importer une archive" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if content_linked %}
                        <li>
                            <a href="{{ content_linked.get_absolute_url }}" class="ico-after offline blue">
                                {% trans "Aller" %}
                                {% if content_linked.type == "ARTICLE" %}
                                    {% trans "à l'article" %}
                                {% elif content_linked.type == "TUTORIAL" %}
                                     {% trans "au tutoriel" %}
                                {% endif %}
                                {% trans "lié à cette galerie" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}
    </aside>
{% endblock %}