{% extends "gallery/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Éditer une image
{% endblock %}

{% block head-title %}
    Éditer une image
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></li>
    <li class="current"><a href="#">Éditer une Image</a></li>
{% endblock %}

{% block headline-actions %}
    <li><a href="{% url "zds.gallery.views.new_image" gallery.pk %}">Ajouter une image</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="large-6 columns">
            <img src="{{ image.physical.url }}" alt="" />
        </div>
        <div class="large-6 columns">
            {% crispy form %}
        </div>
    </div>
</div>
<p>
    <strong>Code markdown d'insertion de l'image :</strong> <br>
    <input type="text" value="![{{ image.legend }}]({{ image.physical.url }})" readonly >
    {% crispy as_avatar_form %}
</p>

{% endblock %}
