{% extends "gallery/base.html" %}
{% load crispy_forms_tags %}
{% load profile %}

{% block title %}
    {{ gallery.title }}
{% endblock %}

{% block head-title %}
    {{ gallery.title }}
{% endblock %}

{% block headline-sub %}
    <h3 class="subtitle">{{ gallery.subtitle }}</h3>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ gallery.title }}</a></li>
{% endblock %}

{% block headline-actions %}
            <li><a href="{% url "zds.gallery.views.new_image" gallery.pk %}">Ajouter une image</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="authors content-wrapper">
        <span class="authors-label">Membres partageant cette galerie : </span>
        <ul>
            {% for u in gallery.get_users %}
                {% with member=u.user %}
                <li>
                    {% include "member/member_item_common.part.html" %}
                </li>
                <li>
                    ({{u.mode}})
                </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
    {% if gallery_mode.is_write %}
    <div>
        {% crispy form %}
    </div>
    {% endif %}
    
</div>
<div>
        <form id="form" name="form" method="POST" action="{% url "zds.gallery.views.modify_image" %}">
            <input type="hidden" name="gallery" value="{{ gallery.pk }}">
            <div class="row">
                <div class="large-8 columns">   
                    <h2>Images</h2>
                </div>
            </div>
            <table>
                <thead>
                   <tr>
                       <th style="width: 3%;"></th>
                       <th style="width: 180px;">Image</th>
                       <th style="width: 72%;">Titre</th>
                   </tr>
                </thead>
                <tbody>
                    {% for img in gallery.get_images %}
                    <tr>
                        <td>
                            <input name="items" type="checkbox" value="{{ img.pk }}" />
                        </td>
                        <td>
                            <div>
                                <a href="{% url "zds.gallery.views.edit_image" gallery.pk img.pk %}">
                                    <img src="{{ img.physical.url }}" style="max-width:180px ;max-height:180px" data-caption="{{ img.title }}"
                                         alt="{{ img.title }}" />
                                </a>
                            </div>
                        </td>
                        <td>
                            <a href="{% url "zds.gallery.views.edit_image" gallery.pk img.pk %}">{{ img.title }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button name="delete_multi">Supprimer</button>
        {% csrf_token %}
        </form>
</div>
{% endblock %}
