{% extends "gallery/base.html" %}

{% block title %}
   Liste des galeries
{% endblock %}

{% block headline %}
   Liste des galeries
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}
<form id="form" name="form" method="POST" action="{% url "zds.gallery.views.modify_gallery" %}">
    <div class="row">
        <div class="small-12 columns">
            {% for gallery in galleries %}
            <dl>
                <dd>
                    {% if gallery.is_write %}
                    <input name="items" type="checkbox" value="{{ gallery.gallery.pk }}" />
                    {% endif %}
                    <a href="{{ gallery.gallery.get_absolute_url }}">{{ gallery.gallery.title }} ({{ gallery.gallery.get_images.count }})</a><br />
                    {{ gallery.gallery.subtitle }}
                </dd>
            </dl>
            {% endfor %}
        </div>
        <button type="submit" name="delete_multi" class="button secondary">Supprimer</button>
    </div>
    {% csrf_token %}
</form>
{% endblock %}
