{% extends "base.html" %}
{% load profile %}
{% load thumbnail %}
{% load date %}
{% load i18n %}
{% load captureas %}
{% load times %}


{% block title %}
    {% trans "Aperçu de la classification par objectifs" %}
{% endblock %}


{% block breadcrumb %}
    <li>{% trans "Aperçu de la classification par objectifs" %}</li>
{% endblock %}

{% block headline %}
    {{ headline }}
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <div class="mobile-menu-bloc mobile-all-links" data-title="Filtrer">
        <h3>Filtrer</h3>
        <ul>
            <li><a href="{% url "content:view-goals" %}" class="{% if all %}selected{% endif %}">Toutes ({{ num_all }})</a></li>
            <li><a href="{% url "content:view-goals" %}?non-classes" class="{% if only_not_classified %}selected{% endif %}">Sans objectif ({{ num_not_classified }})</a></li>
            {% for goal in goals %}
                <li>
                    <a href="{% url "content:view-goals" %}?objectif_{{ goal.id }}" class="{% if current_filter_pk == goal.pk %}selected{% endif %}">{{ goal.name }} ({{ goal.num_contents }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}

    <p>
        {% blocktrans %}
        Cette page est un aperçu de la classification par objectif. Elle vise à donner un avant-goût de
        cette nouvelle manière de classifier les publications sur Zeste de Savoir, qui vient en complément
        des catégories et des tags.
        {% endblocktrans %}
    </p>

    {% if not contents %}
        <p>{% trans "Il n'y a pas de publications à lister." %}</p>
    {% else %}
        {% include "misc/paginator.html" with position="top" %}
        <div class="content-item-list">
            {% for content in contents %}
                {% include "tutorialv2/includes/content_item.part.html" with public_content=content.public_version show_description=True show_reactions=True ignore_categories=ignore_categories %}
            {% endfor %}
            {% for i in 1|times %}
                <div class="fill"></div>
            {% endfor %}
        </div>
        {% include "misc/paginator.html" with position="bottom" %}
    {% endif %}

{% endblock %}
