{% extends "base.html" %}
{% load profile %}
{% load thumbnail %}
{% load date %}
{% load i18n %}
{% load captureas %}
{% load times %}


{% block title %}
    {% trans "Aperçu de la classification par objectifs" %}
{% endblock %}


{% block breadcrumb %}
    <li>{% trans "Aperçu de la classification par objectifs" %}</li>
{% endblock %}

{% block headline %}
    {{ headline }}
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <div class="mobile-menu-bloc mobile-all-links" data-title="Filtrer">
        <h3>Filtrer</h3>
        <ul>
            <li><a href="{{ url_not_classified }}" class="{% if only_not_classified %}selected{% endif %}">Sans objectif ({{ num_not_classified }})</a></li>
            {% for goal in goals %}
                <li>
                    <a href="{% url "content:view-goals" %}?{{ goal.slug }}" class="{% if current_filter_pk == goal.pk %}selected{% endif %}">{{ goal.name }} ({{ goal.num_contents }})</a>
                </li>
            {% endfor %}
            <li><a href="{% url "content:view-goals" %}" class="{% if all %}selected{% endif %}">Toutes ({{ num_all }})</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}

    <p>
        {% blocktrans %}
        Cette page est un aperçu de la classification par objectifs. Elle vise à donner un avant-goût de
        cette nouvelle manière de classifier les publications sur Zeste de Savoir, qui vient en complément
        des catégories et des tags. L'objectif de cette classification est de faciliter l'identification
        des objectifs des publications : découvrir un sujet, donner une opinion, apprendre à maîtriser un
        outil ou une technologie, etc.
        {% endblocktrans %}
    </p>

    {% if not contents %}
        <p>{% trans "Il n'y a pas de publication à lister." %}</p>
    {% else %}
        {% include "misc/paginator.html" with position="top" %}
        <div class="content-item-list">
            {% for content in contents %}
                {% include "tutorialv2/includes/content_item.part.html" with public_content=content.public_version show_description=True show_reactions=True ignore_categories=ignore_categories %}
            {% endfor %}
            {% for i in 1|times %}
                <div class="fill"></div>
            {% endfor %}
        </div>
        {% include "misc/paginator.html" with position="bottom" %}
    {% endif %}

{% endblock %}
