{% extends "featured/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% trans "Édition du message d’accueil" %}
{% endblock %}



{% block headline %}
    {% trans "Édition du message d’accueil" %}

    {% if display_delete_button %}
        <a href="#form-delete-message" class="btn btn-cancel open-modal">
            {% trans "Supprimer" %}
        </a>
    {% endif %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Édition du message d’accueil" %}</li>
{% endblock %}



{% block content %}
    <div class="content-wrapper featured-message-edit-form">
        {% crispy form %}
    </div>

    {% if display_delete_button %}
        {# Confirmation modal for deleting message #}
        <form id="form-delete-message" name="form" method="post" action="{% url "featured:message-delete" %}" class="modal modal-flex">
            {% csrf_token %}
            <p>{% trans "Attention, vous vous apprêtez à supprimer le message d'accueil." %}</p>
            <button type="submit" name="delete" class="btn btn-submit">{% trans "Confirmer" %}</button>
        </form>
    {% endif %}
{% endblock %}
