{% extends "news/base.html" %}

{% block title %}
    Administration des news
{% endblock %}

{% block meta %}
    <meta name="description" content="Les news sont rédigés par la
    communauté ; ils permettent aussi bien de se tenir informé des dernières
    innovations du moment que de découvrir de nouvelles notions" />
{% endblock %}

{% block headline %}
    Administration des news
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Administration</a></li>
{% endblock %}

{% block content %}
  {% include "news/list.html" %}
{% endblock %}
