{% extends "base.html" %}
{% load i18n %}


{% block title_base %}
    &bull; {% trans "À la une" %}
{% endblock %}



{% block mobile_title %}
    {% trans "À la une" %}
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url 'news-list' %}">{% trans "À la une" %}</a></li>
{% endblock %}



{% block sidebar %}
    <aside class="sidebar accordeon mobile-menu-bloc" data-title="{% trans 'Action sur les unes' %}">
        <a href="{% url 'news-create' %}" class="new-btn ico-after more blue">
            {% trans "Nouvelle une" %}
        </a>

        {% block sidebar_actions %}{% endblock %}
    </aside>
{% endblock %}
