{% load humane_date %}
{% load emarkdown %}

    <div class="large-12 columns">  
        <div class="row">
            {% for news in newss %}
            <div class="large-12 columns panel">
              <div class="large-3 columns">
                  <img src="{{ news.image.medium.url }}">
              </div>
              <div class="large-9 columns">
                  <div class="row">
                    <h3><a href="{{ news.get_absolute_url }}">{{ news.title|upper }}</a></h3>
                  </div>
                  <div class="row">
                    <div class="large-5 columns">
                        <h5 class="subheader">
                          <i class="fi-clock"></i>
                          {% if news.date.pubdate %}
                          {{ news.date.pubdate|humane_date}}
                          {% else %}
                          {{ news.date.update|humane_date}}
                          {% endif %}
                        </h5>
                    </div>
                    <div class="large-6 columns">
                        <h5 class="subheader">
                          {% for member in news.authors.all %}
                              {% include "member/member_item_common.part.html" %}
                          {% endfor %}
                        </h5>
                    </div>
                    <div class="large-1 columns">
                      <a href="{{ news.first_comment.get_absolute_url}}" class="fi-comment size-14">
                        {{news.get_comments.count}}
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <h6 class="subheader">{{ news.description }}</h6>
                  </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>