{% load captureas %}
{% load thumbnail %}
{% load i18n %}
{% load date %}

{# Public link by default #}
{% if not link %}
    {% captureas link %}
        {{ article.get_absolute_url_online }}
    {% endcaptureas %}
{% endif %}

<article class="content-item article-item">
    <a href="{{ link }}" tabindex="-1" class="content-illu{% if article.image %} has-illu{% endif %}">
        {% if article.image %}
            <img src="{{ article.image.content_thumb.url }}" alt="">
        {% endif %}
    </a>

    <div class="content-info">
        <h3 class="content-title" itemprop="itemListElement">
            <a href="{{ link }}" title="{{ article.title }}">
                {{ article.title }}
            </a>
        </h3>

        {% if article.description and show_description %}
            <p class="content-description">{{ article.description }}</p>
        {% endif %}

        <a class="content-reactions" href="
            {% if article.last_read_reaction %}
                {{ article.last_read_reaction.get_absolute_url }}
            {% else %}
                {{ article.get_absolute_url_online }}#reactions
            {% endif %}"
        >
            {% if article.get_reaction_count != 0 %}
                {{ article.get_reaction_count }}
            {% endif %}
        </a>

        <div class="content-meta">
            <time class="content-pubdate" pubdate="{{ article.pubdate|date:"c" }}">
                {{ article.pubdate|format_date|capfirst }}
            </time>

            {% if article.sha_public %}
                <p class="content-authors">
                    {% for author in article.authors.all %}
                        {% if forloop.first %}
                            {% trans "par" %}
                        {% elif forloop.last %}
                            {% trans "et" %}
                        {% else %}
                            ,
                        {% endif %}

                        {% if author == user %}
                            {% trans "vous" %}
                        {% else %}
                            {{ author.username }}
                        {% endif %}
                    {% endfor %}
                        {% for author in authors.all %}
                            <li itemscope itemprop="author"
                                itemtype="http://schema.org/Person"
                            >
                                {{ author.username }}
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% elif article.sha_validation %}
                <p class="content-state">
                    {% trans "En validation" %}
                </p>
            {% else %}
                <p class="content-state">
                    {% trans "Brouillon" %}
                </p>
            {% endif %}
        </div>
    </div>
</article>
