{% if user in authors.all or perms.article.change_article %}
    <a href="{% url "zds.article.views.edit" %}?article={{ article.pk }}" class="ico-after edit blue new-btn">
        Éditer
    </a>

    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Gestion">
        <h3>Gestion</h3>
        <ul>
            <li>
                <a href="#add-author" class="open-modal ico-after more blue">
                    Ajouter un auteur
                </a>
                <form action="{% url "zds.article.views.modify" %}" method="post" class="modal modal-small" id="add-author">
                    {% csrf_token %}
                    <input type="text" name="author" placeholder="Pseudo de l'utilisateur à ajouter">
                    <input type="hidden" name="article" value="{{ article.pk }}" />
                    <button type="submit" class="button" name="add_author">
                        Confirmer
                    </button>
                </form>
            </li>
            <li>
                <a href="#manage-authors" class="open-modal ico-after gear blue">Gérer les auteurs</a>
                <form action="{% url "zds.article.views.modify" %}" method="post" class="modal" id="manage-authors" data-modal-close="Fermer">
                    <table class="fullwidth">
                        <thead>
                            <th>Auteur</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            {% for member in authors.all %}
                                <tr>
                                    <td>{% include "misc/member_item.part.html" %}</td>
                                    <td>
                                        {% if authors.count > 1 %}
                                            <button type="submit" name="author" value="{{ member.pk }}" class="modal-inner">
                                                Supprimer
                                            </button>
                                        {% else %}
                                            Vous êtes seul !
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <input type="hidden" name="remove_author" value="1">
                    <input type="hidden" name="article" value="{{ article.pk }}">
                    {% csrf_token %}
                </form>
            </li>

            <li>
                <a href="{% url "zds.article.views.history" article.pk article.slug %}" class="ico-after history blue">
                    Historique des versions
                </a>
            </li>

            {% if article.sha_validation = None %}
                <li>
                    <a href="#valid" class="open-modal ico-after tick green">Demander la validation</a>
                    <form action="{% url "zds.article.views.modify" %}" method="post" class="modal modal-medium" id="valid">
                        <textarea name="comment" rows="3" placeholder="Vos commentaires de validation"></textarea>

                        <input type="hidden" name="article" value="{{ article.pk }}">
                        <input type="hidden" name="version" value="{{ version }}">
                        {% csrf_token %}
                        <button type="submit" name="pending">
                            Confirmer
                        </button>
                    </form>
                </li>
            {% else %}
                <li class="inactive">
                    <span>En attente de validation</span>
                </li>
            {% endif %}

            {% if article.sha_public = None %}
                <li>
                    <a href="#delete" class="open-modal ico-after cross red">Supprimer</a>
                    <form action="{% url "zds.article.views.modify" %}" method="post" class="modal modal-small" id="delete">
                        <p>
                            Vous vous apprêtez à supprimer <strong>définitivement</strong> l'article "<em>{{ article.title }}</em>".
                        </p>

                        <input type="hidden" name="article" value="{{ article.pk }}">
                        <input type="hidden" name="version" value="{{ version }}">
                        {% csrf_token %}
                        <button type="submit" name="delete">
                            Confirmer
                        </button>
                    </form>
                </li>
                <li>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}

<div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Télécharger">
    <h3>Télécharger</h3>
    <ul>
        <li>
            <a href="{% url "zds.article.views.download" %}?article={{ article.pk }}" class="ico-after download blue">
                Archive
            </a>
        </li>
    </ul>
</div>




    {% if perms.article.change_article %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Validation">
            <h3>Validation</h3>
            <ul>
                <li>
                    <a href="{% url "zds.article.views.history_validation" article.pk %}" class="ico-after history blue">
                        Historique de validation
                    </a>
                </li>

                {% if not article.sha_validation = None %}
                    {% if validation.is_pending %}
                        <li>
                            <a href="{% url "zds.article.views.reservation" validation.pk %}">Réserver</a>
                        </li>
                    {% elif validation.is_pending_valid %}
                        {% if validation.validator = user %}
                            <li>
                                <a href="#publish" class="open-modal ico-after tick green">Publier</a>
                                <form action="{% url "zds.article.views.modify" %}" method="post" class="modal modal-medium" id="publish">
                                    <textarea name="comment-v" rows="3" placeholder="Vos commentaires de publication"></textarea>

                                    <input type="hidden" name="article" value="{{ article.pk }}">
                                    <input type="hidden" name="version" value="{{ version }}">
                                    {% csrf_token %}
                                    <button type="submit" name="valid-article">Confirmer</button>
                                </form>
                            </li>
                            <li>
                                <a href="#reject" class="open-modal ico-after cross red">Rejeter</a>
                                <form action="{% url "zds.article.views.modify" %}" method="post" class="modal modal-medium" id="reject">
                                    <textarea name="comment-r" rows="3" placeholder="Vos commentaires de rejet"></textarea>

                                    <input type="hidden" name="article" value="{{ article.pk }}">
                                    <input type="hidden" name="version" value="{{ version }}">
                                    {% csrf_token %}
                                    <button type="submit" name="reject-article">Confirmer</button>
                                </form>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url "zds.article.views.reservation" validation.pk %}" class="open-modal ico-after cross blue">
                                    Réservé par {{ validation.validator.username }}, le retirer
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    {% endif %}
</form>