{% load i18n %}
{% load crispy_forms_tags %}

{% if user in authors.all or perms.article.change_article %}
    {% if article.sha_draft = version %}
        <a href="{% url "article-edit" %}?article={{ article.pk }}" class="ico-after edit blue new-btn">
            {% trans "Éditer" %}
        </a>
    {% else %}
        <a href="{{ article.get_absolute_url }}" class="ico-after arrow-right blue new-btn">
            {% trans "Version brouillon" %}
        </a>
    {% endif %}

    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Gestion">
        <h3>{% trans "Gestion" %}</h3>
        <ul>
            <li>
                <a href="#add-author" class="open-modal ico-after more blue">
                    {% trans "Ajouter un auteur" %}
                </a>
                <form action="{% url "article-modify" %}" method="post" class="modal modal-small" id="add-author">
                    {% csrf_token %}
                    <input type="text" name="author" placeholder="Pseudo de l'utilisateur à ajouter" data-autocomplete="{ 'type': 'single' }" >
                    <input type="hidden" name="article" value="{{ article.pk }}" />
                    <button type="submit" class="button" name="add_author">
                        {% trans "Confirmer" %}
                    </button>
                </form>
            </li>
            <li>
                <a href="#manage-authors" class="open-modal ico-after gear blue">{% trans "Gérer les auteurs" %}</a>
                <form action="{% url "article-modify" %}" method="post" class="modal" id="manage-authors" data-modal-close="Fermer">
                    <table class="fullwidth">
                        <thead>
                            <th>{% trans "Auteur" %}</th>
                            <th>{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                            {% for member in authors.all %}
                                <tr>
                                    <td>{% include "misc/member_item.part.html" %}</td>
                                    <td>
                                        {% if authors.count > 1 %}
                                            <button type="submit" name="author" value="{{ member.pk }}" class="modal-inner">
                                                {% trans "Supprimer" %}
                                            </button>
                                        {% else %}
                                            {% trans "Vous êtes seul" %} !
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <input type="hidden" name="remove_author" value="1">
                    <input type="hidden" name="article" value="{{ article.pk }}">
                    {% csrf_token %}
                </form>
            </li>
            {% if article.sha_public %}
                <li><a href="{{ article.get_absolute_url_online }}" class="ico-after view blue">{% blocktrans %}Voir <span class="wide">la version</span> en ligne</a>{% endblocktrans %}</li>
            {% endif %}
            <li>
                <a href="{% url "article-history" article.pk article.slug %}" class="ico-after history blue">
                    {% trans "Historique des versions" %}
                </a>
            </li>

            {% if article.sha_validation = None %}
                <li>
                    <a href="#ask-validation" class="open-modal ico-after tick green">{% trans "Demander la validation" %}</a>
                </li>
            {% else %}
                {% if article.sha_validation != version %}
                    <li>
                        <a href="#ask-validation" class="open-modal ico-after tick green">
                            {% trans "Mettre à jour la version en validation" %}
                        </a>
                    </li>
                {% endif %}
                <li class="inactive">
                    <span class="ico-after tick disabled">{% trans "En attente de validation" %}</span>
                </li>
            {% endif %}
            <form action="{% url "article-modify" %}" method="post" class="modal modal-medium" id="ask-validation">
                <textarea name="comment" rows="3" placeholder="Vos commentaires de validation"></textarea>

                <input type="hidden" name="article" value="{{ article.pk }}">
                <input type="hidden" name="version" value="{{ version }}">
                {% csrf_token %}
                <button type="submit" name="pending">
                    {% trans "Confirmer" %}
                </button>
            </form>
        </ul>
    </div>
{% endif %}



{% if perms.article.change_article %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Validation">
        <h3>{% trans "Validation" %}</h3>
        <ul>
            <li>
                <a href="{% url "article-history-validation" article.pk %}" class="ico-after history blue">
                    {% trans "Historique de validation" %}
                </a>
            </li>
            <li>
                <a  href="{% url 'mp-new' %}?{% for username in authors.all %}&amp;username={{ username }}{% endfor %}"
                    class="ico-after cite blue"
                >
                    {% trans "Envoyer un MP" %}
                    {% if authors.all|length > 1 %}
                        {% trans "aux auteurs" %}
                    {% else %}
                        {% trans "à l'auteur" %}
                    {% endif %}
                </a>
            </li>
            <li>
                {% if is_js %}
                    <a href="#js-activation" class="open-modal ico-after cross red">
                        {% trans "Désactiver JSFiddle" %}
                    </a>
                {% else %}
                    <a href="#js-activation" class="open-modal ico-after tick green">
                        {% trans "Activer JSFiddle" %}
                    </a>
                {% endif %}
            </li>
            <div id="js-activation" class="modal modal-small">
                {% crispy formJs %}
            </div>

            {% if not article.sha_validation = None %}
                {% if validation.is_pending %}
                    <li>
                        <form action="{% url "article-reservation" validation.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="ico-after lock blue">
                                {% trans "Réserver" %}
                            </button>
                        </form>
                    </li>
                {% elif validation.is_pending_valid %}
                    {% if validation.validator = user %}
                        <li>
                            <form action="{% url "article-reservation" validation.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="ico-after lock blue">
                                    {% trans "Annuler la réservation" %}
                                </button>
                            </form>
                        </li>
                        <li>
                            <a href="#publish" class="open-modal ico-after tick green">{% trans "Publier" %}</a>
                            <form action="{% url "article-modify" %}" method="post" class="modal modal-medium" id="publish">
                                <textarea name="comment-v" rows="3" placeholder="Vos commentaires de publication"></textarea>

                                <input type="hidden" name="article" value="{{ article.pk }}">
                                <input type="hidden" name="version" value="{{ version }}">
                                {% csrf_token %}
                                <button type="submit" name="valid-article">{% trans "Confirmer" %}</button>
                            </form>
                        </li>
                        <li>
                            <a href="#reject" class="open-modal ico-after cross red">{% trans "Rejeter" %}</a>
                            <form action="{% url "article-modify" %}" method="post" class="modal modal-medium" id="reject">
                                <textarea name="comment-r" rows="3" placeholder="Vos commentaires de rejet"></textarea>

                                <input type="hidden" name="article" value="{{ article.pk }}">
                                <input type="hidden" name="version" value="{{ version }}">
                                {% csrf_token %}
                                <button type="submit" name="reject-article">{% trans "Confirmer" %}</button>
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <a href="#unreservation" class="open-modal ico-after lock blue">
                                {% blocktrans with valido=validation.validator.username %}
                                    Réservé par <strong>{{ valido }}</strong>, le retirer
                                {% endblocktrans %}
                            </a>
                            <form action="{% url "article-reservation" validation.pk %}" method="post" class="modal modal-small" id="unreservation">
                                {% csrf_token %}
                                <p>
                                    {% trans "La validation de cet article est actuellement réservé par" %} {% include "misc/member_item.part.html" with member=validation.validator %}. {% trans "Êtes-vous certains de vouloir le retirer" %} ?
                                </p>
                                <button type="submit">
                                    {% trans "Confirmer" %}
                                </button>
                            </form>
                        </li>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if article.sha_public %}
                <li>
                    <a href="#unpublish" class="open-modal ico-after cross blue">{% trans "Dépublier" %}</a>
                    <form action="{% url "article-modify" %}" method="post" class="modal modal-small" id="unpublish">
                        <p>
                            {% blocktrans %}
                                <strong>Attention !</strong> Vous allez dépublier un article actuellement <strong>en ligne</strong>.
                            {% endblocktrans %}
                        </p>
                        <button type="submit" name="invalid-article">
                            {% trans "Confirmer" %}
                        </button>
                        <input type="hidden" name="article" value="{{ article.pk }}">
                        <input type="hidden" name="version" value="{{ version }}">
                        {% csrf_token %}
                    </form>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}



{% if user in authors.all or perms.article.change_article %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Supprimer">
        <h3>{% trans "Supprimer" %}</h3>
        <ul>
            {% if article.sha_public = None %}
                <li>
                    <a href="#delete" class="open-modal ico-after cross red">{% trans "Supprimer" %}</a>
                    <form action="{% url "article-modify" %}" method="post" class="modal modal-small" id="delete">
                        <p>
                            {% blocktrans with article_title=article.title %}
                                Vous vous apprêtez à supprimer <strong>définitivement</strong> l'article "<em>{{ article_title }}</em>".
                            {% endblocktrans %}
                        </p>

                        <input type="hidden" name="article" value="{{ article.pk }}">
                        <input type="hidden" name="version" value="{{ version }}">
                        {% csrf_token %}
                        <button type="submit" name="delete">
                            {% trans "Confirmer" %}
                        </button>
                    </form>
                </li>
            {% else %}
                <li class="inactive">
                    <span class="disabled ico-after cross">{% trans "Impossible, car publié" %}</span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}



<div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Télécharger">
    <h3>{% trans "Télécharger" %}</h3>
    <ul>
        <li>
            <a href="{% url "article-download" %}?article={{ article.pk }}" class="ico-after download blue">
                {% trans "Archive" %}
            </a>
        </li>
    </ul>
</div>