{% load captureas %}
{% load i18n %}


<a href="{% url "article-new" %}" class="ico-after more blue new-btn">
    {% trans "Nouvel article" %}
</a>

<div class="mobile-menu-bloc mobile-all-links" data-title="Flux">
    <h3>{% trans "Flux" %}</h3>
    <ul>
        <li>
            <a href="{% url "article-feed-rss" %}" class="ico-after rss blue">
                {% trans "Nouveaux articles (RSS)" %}
            </a>
        </li>
        <li>
            <a href="{% url "article-feed-atom" %}" class="ico-after rss blue">
                {% trans "Nouveaux articles (ATOM)" %}
            </a>
        </li>
    </ul>
</div>