{% load i18n %}

{% if user.is_authenticated and on_line %}
    
    {% if user not in authors.all and authors_reachable|length >= 1 %}

        <a href="#warn-typo-modal" class="open-modal btn btn-grey ico-after edit blue">
            {% trans "Signaler une faute dans l'article" %}
        </a>
        <form class="modal modal-big" id="warn-typo-modal" action="{% url "article-warn-typo" article_pk=article.pk %}" method="post" >
            <p>
                {% trans "J'ai trouvé une faute dans l'article" %}
            :
            </p>
            {% csrf_token %}
            <p>
                <textarea name="explication" placeholder="{% blocktrans %}Expliquez ici la faute{% endblocktrans %}" required="required"></textarea>
            </p>
            <p>
                {% trans "Pas assez de place ?" %}
                <a href="{% url 'mp-new' %}?title={% trans "Je voudrais signaler une faute dans l'article" %} &quot;{{ article.title }}&quot;{% for username in authors.all %}&amp;username={{ username }}{% endfor %}" >
                    {% trans "Envoyez un MP" %}
                    {% if tutorial.authors.all|length > 1 %}
                        {% trans "aux auteurs" %}
                    {% else %}
                        {% trans "à l'auteur" %}
                    {% endif %}
                </a>
            </p>
            <button type="submit">{% trans "Envoyer" %}</button>
        </form>
    {% endif %}
{% endif %}