{% extends "article/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Répondre à l'article
{% endblock %}

{% block headline %}
    <h2>Ajouter un commentaire à l'article : {{article.title}}</h2>
{% endblock %}

{% block headline_sub %}
    <h3 class="subtitle">{{ article.description }}</h3>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="{{ article.get_absolute_online_url }}">{{ article.title }}</a></li>
    <li class="current"><a href="#">Répondre à l'article</a></li>
{% endblock %}

{% block content %}

{% if newreaction %}
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box alert">
            <strong>Au moins un nouveau message a été posté</strong> dans la discussion
            pendant que vous rédigiez le votre.
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% if form.text.value %}
    {% with text=form.text.value %}
        {% include "forum/previsualization.part.html" %}
    {% endwith %}
{% endif %}

{% endblock %}
