{% extends "article/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Éditer un message
{% endblock %}

{% block headline %}
    <h2>Editer le commentaire de l'article : {{article.title}}</h2>
{% endblock %}

{% block headline_sub %}
    <h3 class="subtitle">{{ article.description }}</h3>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ article.get_absolute_url_online }}">{{ article.title }}</a></li>
    <li class="current"><a href="#">Éditer un message</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% if form.text.value %}
    {% with text=form.text.value %}
        {% include "forum/previsualization.part.html" %}
    {% endwith %}
{% endif %}

{% endblock %}
