.gallery {
    &.grid-view {
        clear: both;

        .gallery-item {
            position: relative;
            width: 200px;
            height: 200px;
            float: left;
            border: 10px solid #FFF;
            margin: 10px;
            clear: none;

            &:hover,
            &.active {
                border-color: lighten($color-primary, 20%) !important;

                &:before {
                    display: none;
                }

                .topic-title {
                    background: lighten($color-primary, 20%) !important;
                    color: #FFF;
                    text-decoration: none;
                }
            }

            .topic-infos {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                height: 15px;
                width: 15px;
                padding: 3px 0;

                input {
                    margin: 0;
                }
            }

            .topic-description {
                &,
                & a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .topic-image {
                overflow: hidden;
                max-height: 100%;
                min-width: 100%;
            }

            .topic-title {
                height: 15px;
                background-color: rgba(255, 255, 255, 1);
                position: absolute;
                bottom: 7px;
                left: 0;
                right: 0;
                padding: 10px 20px 5px;
                font-size: 15px;
                font-size: 1.5rem;
                line-height: 15px;
                color: #444;
            }

            &.selected {
                border-color: lighten($color-primary, 75%);

                .topic-title {
                    background: lighten($color-primary, 75%);
                }
            }

            &.add-image {
                font-size: 120px;
                line-height: 200px;
                text-align: center;
                background: #DDD;
                color: #555;
                text-decoration: none;

                &:hover,
                &:focus {
                    background-color: #CCC;
                    color: lighten($color-primary, 20%);
                }
            }
        }
    }

    &.list-view {
        .topic {
            .topic-description {
                .topic-title {
                    margin-top: 12px;
                }
            }
        }
        .add-image {
            display: none;
        }
    }
}
.toggle-gallery-view {
    float: left !important;
}

@media only screen and #{$media-wide} {
    .gallery-col-image {
        float: left;
        width: 50%;

        img {
            max-width: 100%;
        }
    }

    .gallery-col-edit {
        float: right;
        width: calc(50% - 20px);
        padding-left: 20px;
    }
}