$content-width: 1145px;

.home {
    .main {
        display: block;
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
    }

    #content {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sub-header{
        display: none;
    }
}

.home {
    .home-wrapper {
        max-width: $content-width;
        margin: 0 auto;
    }

    .home-row {
        display: flex;
        margin-bottom: 10px;
    }

    .home-header {
        border-bottom: solid 1px white;
        padding-top: 40px;
        background-color: #19516b; // fallback for older browser
        background: #19516b radial-gradient(at top, rgba(255,255,255,0.1),rgba(0,0,0,0) 60%);
        margin-bottom: -170px;
        padding-bottom: 180px;
        overflow: hidden; // Prevents search image to overflow on the mobile menu
    }

    .home-description {
        display: flex;

        p {
            margin: 0;
            padding: 0;
            color: white;
            text-align: justify;
        }
        p, ul {
            font-size: 16px;
            font-size: 1.6rem;
            color: white;
        }

        a:not(.home-description-button) {
            color: white;

            &:hover, &:focus {
                color: #90ABB6;
                text-decoration: none;
            }
        }

        .column {
            flex: 1;
            padding: 0 10px;

            h2 {
                font-size: 18px;
                font-size: 1.8rem;
                color: white;
                margin: 0 0 5px 0;
                border-bottom-color: white;
                font-weight: 300; // Light
            }
        }

        blockquote {
            font-size: 2.5rem;
            color: white;
            font-weight: 300;
            padding: 0;
            margin: 0;

            span:first-of-type::before {
                content: "«\00A0";
            }
            span:last-of-type::after {
                content: "\00A0»";
            }
        }

        &:not(.connected):not(.short) {
            padding-bottom: 60px;
        }

        &.connected {
            text-align: center;
            flex-direction: column;

            .important {
                color: $color-secondary;
                text-transform: uppercase;
                font-weight: bold;
            }

            p {
                margin-top: 5px;
                text-align: center;
            }

            .home-description-button {
                margin-left: 15px;
            }
        }

        &.short {
            display: none;
            color: white;
            text-align: center;
            font-size: 1.4em;

            .home-description-button {
                font-size: 14px;
                font-size: 1.4rem;
                line-height: 24px;
                line-height: 2.4rem;
                margin-top: 12px;
                padding: 0 10px;
            }

            blockquote > span {
                display: inline-block; // for propper line-brek
            }
        }

    }

    .home-description-button {
        display: inline-block;
        line-height: 2rem;
        font-size: 1.2rem;
        font-size: 12px;
        color: white;
        text-decoration: none;
        border: solid 1px rgba(255, 255, 255, .5);
        padding: 0 6px;
        margin-top: 5px;

        &:hover, &:focus {
            color: $color-primary;
            border-color: white;
            background-color: #FFF;
        }

        &.close-description {
            display: none;
        }
    }

    .featured-resource-row {
        display: flex;
        margin-bottom: 30px;
        padding: 1px 0 1px 1px;
        background-color: #F7F7F7;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .no-featured-resource {
            flex: 1;
            margin: 0;
            line-height: 0;
            text-align: center;
            margin-right: 1px;
            font-size: 20px;
            background-color: white;

            &::before, &::after {
                display: block;
                content: "";
                padding-top: 10%;
            }
        }
    }

    .home-heading {
        height: 40px;
        padding-left: 50px!important;
        margin-bottom: 18px!important;

        &.heading-white {
            color: white;
            border-bottom-color: white;
        }

        &.ico-after::after {
            margin-left: 0!important;
        }

        .btn {
            font-size: 15px;
        }
    }

    .home-search-box {
        position: relative;
        margin: 30px auto 0;
        max-width: 820px;
        background: white;

        form {
            display: flex;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: -6px;
            left: -28px;

            background: url('../images/home-clem.png');
            background-size: 100%;
            width: 68px;
            height: 134px;

            @at-root {
                body.vc-clem-christmas.home .home-search-box::before {
                    background-image: url('../images/home-clem-christmas@2x.png');
                }
            }
        }

        label, input {
            box-sizing: border-box;
            display: inline-block;
            line-height: 50px;
            height: 50px;
        }

        label {
            text-align: right;
            padding: 0 5px;
            font-size: 2rem;
            font-weight: 300;
            margin-left: 50px;
        }

        input {
            font-size: 2rem;
            border: none;
            font-weight: 300;
            flex: 1;
        }

        button[type=submit] {
            background: #FFF;
            width: 50px;
            height: 50px;

            &:hover, &:focus {
                background-color: #CCC !important;
            }

            &:after {
                margin: 16px;
                @include sprite-position($search);
                @include sprite-width($search);
                @include sprite-height($search);
            }
        }
    }
}

@media only screen and #{$media-mobile} {
    .home {
        .home-description:not(.connected):not(.short) {
            display: none;
        }

        .home-description.short {
            display: block;

            // Rules to don't be hidden by the .home-search-box::before background-image
            width: auto;
            padding: 0 20px;

            &:target {
                .home-description-button {
                    display: none;

                    &.close-description {
                        display: inline-block;
                    }
                }

                & ~ .home-description:not(.short) {
                    display: block;
                    margin-top: 20px;
                }
            }
        }
        .home-description.connected {
            // Rules to don't be hidden by the .home-search-box::before background-image
            padding: 0 20px !important;
        }

        .home-description .featured-message {
            display: none;
        }

        .home-heading {
            .btn {
                visibility: hidden;
            }
        }

        .home-search-box {
            padding-left: 40px;
            margin: 30px 0 0!important;

            &:before {
                left: -46px;
            }

            label {
                display: none;
            }
        }
        .featured-resource-row {
            .featured-resource-item {
                &:nth-of-type(4) {
                    display: none;
                }
            }
        }
    }
}

@media only screen and #{$media-mobile-tablet} {
    .home {
        .home-header {
            padding-top: 10px;
        }

        .home-wrapper {
            padding: 20px 10px;
        }
        .featured-resource-row {
            .featured-resource-item {
                margin: 4px;
                padding: 0 !important;
                &:last-of-type {
                    display: none;
                }
            }
        }
        .home-header {
            margin-bottom: 0;
            padding-bottom: 10px;
        }
        .home-heading {
            margin-top: 18px;
            &.heading-white {
                color: $color-primary;
                border-color: $color-secondary;
            }
        }
        .home-row {
            flex-direction: column;
        }
        .home-search-box {
            margin: 30px 40px 0;
        }
        .home-description {
            &.connected {
                // Rules to don't be hidden by the .home-search-box::before background-image
                width: auto;
                padding: 0 80px;
            }
        }
    }
}

@media only screen and #{$media-wide} {
    .home {
        $gap: 20px;
        .home-row {
            margin-right: -($gap/2);
            margin-left: -($gap/2);

            & > section {
                margin: 0 $gap/2;
                flex: 1;
                min-width: 300px; // must be specified to have the elements correctely sized
            }
        }
        .home-description {
            .column {
                h2 {
                    font-size: 22px;
                    font-size: 2.2rem;
                }
                p, ul {
                    font-size: 16px;
                    font-size: 1.6rem;
                }
            }
            &.connected {
                // Rules to don't be hidden by the .home-search-box::before background-image
                max-width: 740px;
                margin: 0px auto;
            }
        }
    }
}
