.home {
    .home-row {
        display: flex;
        margin-bottom: 10px;
    }

    .flexpage-header {
        margin-bottom: -170px;
        padding-top: 20px;
        padding-bottom: 180px;
    }

    .home-description {
        display: flex;

        p {
            margin: 0;
            padding: 0;
            color: white;
            text-align: justify;
        }

        ul {
            color: #EEE;
            margin: 10px 0;
        }

        a:not(.home-description-button) {
            color: white;

            &:hover, &:focus {
                color: #90ABB6;
                text-decoration: none;
            }
        }

        .column {
            flex: 1;
            padding: 0 20px;

            h2 {
                font-size: 18px;
                font-size: 1.8rem;
                color: white;
                margin: 20px 0 10px 0;
                border-bottom-color: white;
                font-weight: 300; // Light
            }
        }

        blockquote {
            font-size: 2.5rem;
            color: white;
            font-weight: 300;
            padding: 0;
            margin: 0;

            span:first-of-type::before {
                content: "«\00A0";
            }
            span:last-of-type::after {
                content: "\00A0»";
            }
        }

        &:not(.connected):not(.short) {
            padding-bottom: 60px;
        }

        &.connected {
            text-align: center;
            flex-direction: column;

            .important {
                color: $color-secondary;
                text-transform: uppercase;
                font-weight: bold;
            }

            p {
                margin-top: 5px;
                text-align: center;
            }

            .home-description-button {
                margin-left: 15px;
            }
        }

        &.short {
            display: none;
            color: white;
            text-align: center;
            font-size: 1.4em;

            .home-description-button {
                font-size: 14px;
                font-size: 1.4rem;
                line-height: 24px;
                line-height: 2.4rem;
                margin-top: 12px;
                padding: 0 10px;
            }

            blockquote > span {
                display: inline-block; // for propper line-brek
            }
        }

    }

    .home-description-button {
        display: inline-block;
        line-height: 2rem;
        font-size: 1.2rem;
        font-size: 12px;
        color: white;
        text-decoration: none;
        border: solid 1px rgba(255, 255, 255, .5);
        padding: 0 6px;
        margin-top: 5px;

        &:hover, &:focus {
            color: $color-primary;
            border-color: white;
            background-color: #FFF;
        }

        &.close-description {
            display: none;
        }
    }

    .featured-resource-row {
        display: flex;
        margin-bottom: 30px;
        padding: 1px 0 1px 1px;
        background-color: #F7F7F7;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .no-featured-resource {
            flex: 1;
            margin: 0;
            line-height: 0;
            text-align: center;
            margin-right: 1px;
            font-size: 20px;
            background-color: white;

            &::before, &::after {
                display: block;
                content: "";
                padding-top: 10%;
            }
        }
    }

    .home-heading {
        height: 40px;
        padding-left: 50px!important;
        margin-bottom: 18px!important;

        &.heading-white {
            color: white;
            border-bottom-color: white;
        }

        &.ico-after::after {
            margin-left: 0!important;
        }

        .btn {
            font-size: 15px;
        }
    }
}

@media only screen and #{$media-mobile} {
    .home {
        .home-description:not(.connected):not(.short) {
            display: none;
        }

        .home-description.short {
            display: block;

            // Rules to avoid being overridden by .home .search-box::before background-image
            width: auto;
            padding: 0 20px;

            &:target {
                .home-description-button {
                    display: none;

                    &.close-description {
                        display: inline-block;
                    }
                }

                & ~ .home-description:not(.short) {
                    display: block;
                    margin-top: 20px;
                }
            }
        }
        .home-description.connected {
            // Rules to avoid being overridden by .home .search-box::before background-image
            padding: 0 20px !important;
        }

        .home-description .featured-message {
            display: none;
        }

        .home-heading {
            .btn {
                visibility: hidden;
            }
        }

        .featured-resource-row {
            .featured-resource-item {
                &:nth-of-type(4) {
                    display: none;
                }
            }
        }
    }
}

@media only screen and #{$media-mobile-tablet} {
    .home {
        .flexpage-header {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 0;
        }
        .featured-resource-row {
            .featured-resource-item {
                margin: 4px;
                padding: 0 !important;
                &:last-of-type {
                    display: none;
                }
            }
        }
        .home-heading {
            margin-top: 18px;
            &.heading-white {
                color: $color-primary;
                border-color: $color-secondary;
            }
        }
        .home-row {
            flex-direction: column;
        }
        .home-description {
            &.connected {
                // Rules to avoid being overridden by .home .search-box::before background-image
                width: auto;
                padding: 0 80px;
            }
        }
    }
}

@media only screen and #{$media-wide} {
    .home {
        $gap: 20px;
        .home-row {
            margin-right: -($gap/2);
            margin-left: -($gap/2);

            & > section {
                margin: 0 $gap/2;
                flex: 1;
                min-width: 300px; // must be specified to have the elements correctely sized
            }
        }
        .home-description {
            .column {
                h2 {
                    font-size: 22px;
                    font-size: 2.2rem;
                }

                p, ul {
                    line-height: 22px;
                    font-size: 15px;
                    font-size: 1.5rem;
                }
            }
            &.connected {
                // Rules to avoid being overridden by .home .search-box::before background-image
                max-width: 740px;
                margin: 15px auto 0;
            }
        }
    }
}
