.home {
    .main {
        display: block;
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
    }

    #content {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    // A VIRER POUR FAIRE MIEUX :)
    .sub-header {
        display: none;
    }
}

.home {
    .home-wrapper {
        background: url("../images/home-background.jpg") no-repeat top center;
        padding-top: 50px;

        & > * {
            max-width: 1100px;
            margin: 0 auto;
        }
    }

    .home-description {
        p {
            margin: 0;
            padding: 0;
            color: white;
            line-height: normal;
        }

        .home-description-button {
            display: inline-block;
            line-height: 2.5rem;
            color: white;
            text-decoration: none;
            border: solid 1px rgba(255, 255, 255, .5);
            padding: 0 6px;
            margin-top: 5px;
        }

        .column {
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;

            width: 33%;
            padding: 0 10px;

            h2 {
                padding: 0 0 5px 0;
                margin: 0 0 10px 0;
                border-bottom-color: white;
                color: white;
            }
        }

        &.connected {
            text-align: center;

            blockquote {
                font-size: 2.5rem;
                color: white;
                padding: 0;
                margin: 0;

                &::before {
                    content: "« ";
                }
                &::after {
                    content: " »";
                }
            }

            .important {
                color: $color-secondary;
                text-transform: uppercase;
                font-weight: bold;
            }

            p {
                margin-top: 5px;
                text-align: center;
            }
        }
    }


    .home-search-box {
        display: block;
        position: relative;
        margin: 80px 100px 0 150px;
        background: white;

        &:before {
            content: '';
            position: absolute;
            bottom: -6px;
            left: -110px;

            background: url('../images/home-clem-quote.png');
            width: 145px;
            height: 134px;
        }

        label, input {
            box-sizing: border-box;
            display: inline-block;
            line-height: 50px;
            height: 50px;
        }

        label {
            text-align: right;
            padding: 0 5px;
            font-size: 2rem;
            width: 20%;

        }

        input {
            font-size: 2rem;
            width: 79% !important;
            border: none;
        }

        button {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            top: 0;

            background: #FFF;
            width: 50px;
            height: 50px;

            &:hover, &:focus {
                background: white;
            }
        }
    }
}

@media only screen and #{$media-mobile} {
    .home {
        .home-wrapper {
            padding: 20px 10px;
        }
        .home-description {
            .column {
                display: block;
                width: auto;
            }
        }
    }
}
