.searchpage {
    .flexpage-header {
        padding-top: 50px;
    }
    .pagination-top {
        margin-top: 30px;
    }
}

@include touch {
    .pagination-top {
        margin-top: 10px;
    }
}
