.stat-graph-container {
  display: flex;

  .stat-graph {
    width: 50%;
    margin: 0 0 20px 20px;
  }

  p {
    text-align: center;
  }
}

.stat-table {
  .level-1 {
    padding-left: 20px;
  }

  .level-2 {
    padding-left: 40px;
  }
}
