/* Style for the header of each quiz */
.header-stats-quiz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.header-stats-quiz h3 {
  font-size: 24px;
  margin: 0;
}

/* Style for the initialize stats button */
.delete-quizz-button,
.delete-question-button {
  background-color: #e44833;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.delete-quizz-button:hover,
.delete-question-button:hover {
  background-color: #3e8e41;
}

/* Style for each question and its stats */
.stat-graph {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

.Question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-stats {
  font-size: 15px;
  margin: 0;
  margin-bottom: 5px;
}

.question-stats span {
  display: inline-block;
}

.quizz-answers {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  
}

.quizz-answers li {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.quizz-answers li span:first-child {
  width: 70%;
}

.quizz-answers li span:last-child {
  font-weight: bold;
  font-size: 16px;
}


.quizz-answers li.quizz-stats-good {
  background-color: #a6f566;
  border-color: #155724;
  color: #155724;
}

.progress-wrapper {
  position: relative;
  height: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 10px;
  background-color: #4CAF50;
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
}


.explanation_off {
  display: none;
}

.explanation_on {
  margin-top: 1rem;
  padding: 1rem;
  color: #0a0706; /* dark text */
  border-radius: 0.25rem;
}

.notAnswered {
  margin-top: 1rem;
  padding: 1rem;
  margin-right: 17rem;

  border: 1px solid #f5c6cb; /* dark red */
  color: #f72f0c; /* dark text */
  border-radius: 0.25rem;
  font-size: 1.2rem;
  line-height: 1.5;
  &:empty {
    display: none;
  }
}
