.stat-table {
    .level-1 {
        padding-left: $length-20;
    }

    .level-2 {
        padding-left: $length-38;
    }
}

.quizz-multiple.custom-block-body{
    color: #fc3605;
}

 /* Style the tab */
.tab {
    border: $length-1 solid $grey-100;
    border-bottom: none;

    background-color: $grey-100;
    color: $color-primary;
}

/* Style the buttons that are used to open the tab content */
.tab span {
    display: inline-block;
    padding: $length-8 $length-16;

    cursor: pointer;
}

/* Change background color of buttons on hover */
.tab span:hover {
    background-color: $white;
}

/* Create an active/current tablink class */
.tab span.active {
    background-color: $white;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    /* Tab has to be displayed by default, otherwise Chart.js doesn't render the graph. */

    padding: $length-6 $length-12;

    border: $length-1 solid $grey-100;
    border-top: none;

    .stat-graph {
      width: 60%;
      margin: 0 auto;
    }
}

.stat-graph ul.quizz-answers {
    max-width: 50%;
    li.quizz-stats {
        display: grid;
        grid-template-columns:  3fr 3fr 1fr;
        grid-gap: 1px;
        .over-progress {
            display: block;
            position: relative;
            left: -50%;
        }
    }
}



.result {
    margin-top: 1rem;
    padding: 1rem;
    
    border: 1px solid #f5c6cb; /* dark red */
    color: #06b300; /* dark text */
    border-radius: 0.25rem;
    font-size: 1.2rem;
    line-height: 1.5;
    &.active {
        background-color: #02ca44; /* light red */
    }
    &:empty {
        display: none;
    }
}

.explanation_off {
    display: none;
}


.explanation_on {

    margin-top: 1rem;
    padding: 1rem;
    
    border: 1px solid #f5c6cb; /* dark red */
    color: #0a0706; /* dark text */
    border-radius: 0.25rem;
    font-size: 1.2rem;
    line-height: 1.5;
    &.active {
        background-color: #02ca44; /* light red */
    }
    &:empty {
        display: none;
    }
}

.notAnswered{
    margin-top: 1rem;
    padding: 1rem;
    margin-right: 17rem;
    
    border: 1px solid #f5c6cb; /* dark red */
    color: #f72f0c; /* dark text */
    border-radius: 0.25rem;
    font-size: 1.2rem;
    line-height: 1.5;
    &.active {
        background-color: #02ca44; /* light red */
    }
    &:empty {
        display: none;
    }   
}




  