{% load i18n %}
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    {% trans "Bonjour" %} <strong>{{ username }}</strong>,
    <br />
    <br />
    <strong>{{ author }}</strong> {% trans "vous a ajouté à une conversation privée sur" %} {{ site_name }}.
    <br />
    <br />
    {% trans "Pour y accéder" %}, <a href="{{ url }}">{% trans "cliquez ici" %}</a>.
    <br />
    <br />
    <br />
    {% trans "Cordialement" %},
    <br />
    {% trans "L'équipe" %} {{ site_name }}
</body>
