{% load i18n %}
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    {% trans "Bonjour" %} <strong>{{ username }}</strong>,
    <br />
    <br />
    <strong>{{ author }}</strong> {% trans "vous a envoyé un message privé sur" %} {{app.site.litteral_name}}.
    <br />
    <br />
    {% trans "Pour le lire" %}, <a href="{{ url }}">{% trans "cliquez ici" %}</a>.
    <br />
    <br />
    <br />
    {% trans "Cordialement" %},
    <br />
    {% trans "L'équipe" %} {{app.site.litteral_name}}
</body>
