{% extends "email/base_from_staff.html" %}

{% load i18n %}

{% block content_from_staff %}
    <p>
        {% blocktrans %}
            Vous vous êtes inscrit sur <a href="{{ site_url }}">{{ site_name }}</a> et nous vous en remercions.
            En étant membre de notre communauté, vous aurez la possibilité de rédiger des tutoriels et des articles
            que vous pourrez ensuite publier et ainsi de rendre vos connaissances accessibles au plus grand nombre.
            Vous pourrez également échanger avec les autres membres sur nos forums !
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            Il ne vous reste plus qu'à activer votre profil ! <a href="{{ url }}">Valider votre compte et votre adresse e-mail</a>.
        {% endblocktrans %}
    </p>
    <p>
        {% trans "A très bientôt !" %}
    </p>
{% endblock %}
