{% extends "email/base_from_staff.html" %}

{% load i18n %}

{% block content_from_staff %}
    <p>
        {% trans "Vous recevez ce message parce qu’une réinitialisation du mot de passe de votre compte utilisateur a été demandée sur" %} <a href="{{ site_url }}">{{ site_name }}</a>.
    </p>

    <hr />

    <h3>
        {% trans "ATTENTION" %}
    </h3>

    <p>
        {% trans "Si vous n'avez pas demandé une réinitialisation du mot de passe, IGNOREZ et EFFACEZ ce courriel immédiatement ! Continuez uniquement si vous souhaitez que votre mot de passe soit réinitialisé !" %}
    </p>

    <hr />

    <p>
        {% trans "Cliquez ou recopiez simplement le lien et complétez le reste du formulaire" %} : <a href="{{ url }}">{{ url }}</a>.
    </p>
{% endblock %}
