{% extends "gallery/base.html" %}
{% load crispy_forms_tags %}
{% load profile %}
{% load captureas %}



{% block title %}
    {{ gallery.title }}
{% endblock %}



{% block breadcrumb %}
    <li>{{ gallery.title }}</li>
{% endblock %}



{% block headline %}
    {{ gallery.title }}
{% endblock %}



{% block headline_sub %}
    {{ gallery.subtitle }}
{% endblock %}



{% block new_btn %}
    <a href="{% url "zds.gallery.views.new_image" gallery.pk %}" class="new-btn ico-after more blue">
        Ajouter une image
    </a>
{% endblock %}



{% block content %}
    <div class="authors">
        <span class="authors-label">Galerie partagée avec : </span>
        <ul>
            {% for u in gallery.get_users %}
                {% captureas info %}
                    {% if u.mode == 'R' %}
                        Lecture
                    {% elif u.mode == 'W' %}
                        Ecriture
                    {% endif %}
                {% endcaptureas %}
                <li>
                    {% include "misc/member_item.part.html" with member=u.user avatar=True %}
                </li>
            {% endfor %}

            {% if gallery_mode.is_write %}
                <li>
                    <a href="#add-user-modal" class="open-modal ico-after more blue">Ajouter un utilisateur</a>
                    <div id="add-user-modal" class="modal modal-big">
                        {% crispy form %}
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
    
    <form id="form" name="form" method="POST" action="{% url "zds.gallery.views.modify_image" %}">
        <input type="hidden" name="gallery" value="{{ gallery.pk }}">
        <button class="btn btn-cancel" name="delete_multi">Supprimer la sélection</button>
        <button class="toggle-gallery-view btn btn-grey" type="button"></button>

        <div class="gallery list-view navigable-list">
            {% for img in gallery.get_images %}
            <div class="gallery-item navigable-elem">
                <a href="{% url "zds.gallery.views.edit_image" gallery.pk img.pk %}" class="navigable-link">
                    <div class="gallery-checkbox">
                        <input name="items" type="checkbox" value="{{ img.pk }}" />
                    </div>
                    <div class="gallery-image">
                        <img src="{{ img.physical.url }}"
                             data-caption="{{ img.title }}"
                             alt="{{ img.title }}">
                    </div>
                    <div class="gallery-caption">
                        <div class="title">{{ img.title }}</div>
                        <div class="legend">{{ img.legend }}</div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="gallery-item no-images">
                <div class="gallery-caption">
                    <div class="title">Aucune images</div>
                    <div class="legend">Cliquez sur "Ajouter une image" pour en ajouter</div>
                </div>
            </div>
            {% endfor %}

            <div class="gallery-item add-image">
                <a href="{% url "zds.gallery.views.new_image" gallery.pk %}">+</a>
            </div>
        </div>
        
        <button class="btn btn-cancel" name="delete_multi">Supprimer la sélection</button>
        <button class="toggle-gallery-view btn btn-grey" type="button"></button>

        {% csrf_token %}
    </form>
{% endblock %}