{% extends "gallery/base.html" %}
{% load crispy_forms_tags %}
{% load profile %}
{% load captureas %}
{% load i18n %}



{% block title %}
    {{ gallery.title }}
{% endblock %}



{% block breadcrumb %}
    <li>{{ gallery.title }}</li>
{% endblock %}



{% block headline %}
    {{ gallery.title }}
{% endblock %}



{% block headline_sub %}
    {{ gallery.subtitle }}
{% endblock %}



{% block content %}
    <div class="authors">
        <span class="authors-label">{% trans "Galerie partagée avec" %} : </span>
        <ul>
            {% for u in gallery.get_linked_users %}
                {% captureas info %}
                    {% if u.mode == 'R' %}
                        {% trans "Lecture" %}
                    {% elif u.mode == 'W' %}
                        {% trans "Écriture" %}
                    {% endif %}
                {% endcaptureas %}
                <li>
                    {% include "misc/member_item.part.html" with member=u.user avatar=True %}
                </li>
            {% endfor %}

            {% if gallery_mode.can_write %}
                <li>
                    <a href="#add-user-modal" class="open-modal ico-after more blue">{% trans "Ajouter un utilisateur" %}</a>
                    {% crispy form %}
                </li>
            {% endif %}
        </ul>
    </div>

    <form id="form" name="form" method="post" action="{% url "gallery-image-delete" %}">
        <input type="hidden" name="gallery" value="{{ gallery.pk }}">
        {% csrf_token %}

        {% if gallery.get_images %}
            {% if gallery_mode.can_write %}
                <button class="btn btn-cancel" name="delete_multi">{% trans "Supprimer la sélection" %}</button>
            {% endif %}

            <button class="toggle-gallery-view btn btn-grey" type="button" title="Alterner entre les modes de vue grille et liste">
                {% trans "Vue grille" %}
            </button>

            <div class="gallery topic-list list-view clearfix navigable-list">
                {% for img in gallery.get_images %}
                    <div class="topic gallery-item navigable-elem">
                        <div class="topic-infos">
                            <input name="items" type="checkbox" value="{{ img.pk }}">
                        </div>
                        <div class="topic-description">
                            <a href="{% url "gallery-image-edit" gallery.pk img.pk %}" class="topic-title-link navigable-link">
                                <img src="{{ img.physical.gallery.url }}"
                                     data-caption="{{ img.title }}"
                                     alt="{{ img.title }}"
                                     class="topic-image"
                                >
                                <span class="topic-title">{{ img.title }}</span>
                                <span class="topic-subtitle">{{ img.legend|default:"" }}</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}

                <a href="{% url "gallery-image-new" gallery.pk %}" title="Ajouter une image" class="gallery-item add-image">+</a>
            </div>

            {% if gallery_mode.can_write %}
                <button class="btn btn-cancel" name="delete_multi" tabindex="-1">{% trans "Supprimer la sélection" %}</button>
            {% endif %}

            <button class="toggle-gallery-view btn btn-grey" type="button" tabindex="-1">
                {% trans "Vue grille" %}
            </button>
        {% else %}
            <p>
                {% trans "Aucune image" %}. <br>
                {% if gallery_mode.can_write %}
                    {% url "gallery-image-new" gallery.pk as new_img_url %}
                    {% url "gallery-image-import" gallery.pk as import_archive %}
                    {% blocktrans %}
                        Vous pouvez <a href="{{new_img_url}}">ajouter une image</a> à cette galerie dès à présent, ou <a href="{{ import_archive }}">importer une archive</a> !
                    {% endblocktrans %}
                {% endif %}
            </p>
        {% endif %}
    </form>
{% endblock %}

{% block new_btn %}
    {% if gallery_mode.can_write %}
            <a href="{% url "gallery-edit" gallery.pk gallery.slug %}" class="new-btn ico-after edit blue">
                {% trans "Éditer la galerie" %}
            </a>
    {% endif %}
{% endblock %}
