{% extends "gallery/base.html" %}
{% load i18n %}
{% load pluralize_fr %}
{% load get_item %}

{% block title %}
    {% trans "Liste des galeries" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Liste des galeries" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Liste des galeries" %}
{% endblock %}



{% block content %}
    <div class="topic-list topic-list-small navigable-list">
        {% for gallery in galleries %}
            <div class="topic navigable-elem">
                <div class="topic-infos is-vertically-centered">
                    <input
                        name="g_items"
                        type="checkbox"
                        {% if not gallery.user_mode == 'W' %}
                            disabled="true"
                        {% endif %}
                        value="{{ gallery.pk }}"
                        form="delete-galleries"
                    >
                </div>
                <div class="topic-description">
                    <a href="{{ gallery.get_absolute_url }}" class="topic-title-link navigable-link">
                        <span class="topic-title">
                            {{ gallery.title }}
                        </span>
                        <span class="topic-subtitle">
                            {{ gallery.subtitle }}
                        </span>
                    </a>
                </div>
                <p class="topic-answers">
                    {% with img_count=gallery.image_count %}
                        {% if img_count == 0 %}
                            {% trans "Aucune image" %}
                        {% else %}
                            {{ img_count }} {% trans "image" %}{{ img_count|pluralize_fr }}
                        {% endif %}
                    {% endwith %}
                </p>

                {% if gallery.linked_content in linked_contents %}
                    {% with content=linked_contents|get_item:gallery.linked_content %}
                        <p class="topic-last-answer">
                            {% trans "Liée à la publication" %}
                            «&NonBreakingSpace;<a href="{{ content.get_absolute_url }}">{{ content.title }}</a>&NonBreakingSpace;».
                        </p>
                    {% endwith %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if galleries|length == 0 %}
        <p>
            {% trans "Vous n’avez pas encore de galerie" %}. <br>
            <a href="{% url "gallery:create" %}">{% trans "Créer une galerie" %}</a>.
        </p>
    {% endif %}

    {% include "misc/paginator.html" with position="bottom" %}
{% endblock %}



{% block sidebar_actions %}
    {% if galleries|length > 0 %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
            <h3>{% trans "Actions" %}</h3>
            <ul>
                <li>
                    <a href="#delete-galleries" class="open-modal ico-after cross red">
                        {% trans "Supprimer les galeries sélectionnées" %}
                    </a>

                    <form action="{% url "gallery:delete" %}" method="post" id="delete-galleries" class="modal modal-flex">
                        <p>
                            {% trans "Attention, vous vous apprêtez à supprimer toutes les galeries sélectionnées" %}.
                        </p>

                        {% csrf_token %}
                        <button type="submit" name="delete_multi" class="btn btn-submit">{% trans "Confirmer" %}</button>
                    </form>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
