{% extends "tutorial/base.html" %}
{% load date %}
{% load i18n %}


{% block title %}
    {% trans "Mes tutoriels" %}
    {% if request.GET.type == "public" %}
        / {% trans "Publiés" %}
    {% elif request.GET.type == "validate" %}
        / {% trans "En validation" %}
    {% elif request.GET.type == "beta" %}
        / {% trans "En bêta" %}
    {% elif request.GET.type == "draft" %}
        / {% trans "Brouillons" %}
    {% endif %}
    {% if sort == "abc" %}
        / Par ordre alphabétique
    {% elif sort == "creation" %}
        / Par date de création
    {% elif sort == "modification" %}
        / Par date de dernière modification
    {% endif %}
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url "member-tutorials" %}">{% trans "Mes tutoriels" %}</a></li>
{% endblock %}



{% block breadcrumb %}
    {% if request.GET.type == "public" %}
        <li>{% trans "Publiés" %}</li>
    {% elif request.GET.type == "validate" %}
        <li>{% trans "En validation" %}</li>
    {% elif request.GET.type == "beta" %}
        <li>{% trans "En bêta" %}</li>
    {% elif request.GET.type == "draft" %}
        <li>{% trans "Brouillons" %}</li>
    {% else %}
        <li>{% trans "Tous mes tutoriels" %}</li>
    {% endif %}
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper">
        <h2 class="ico-after ico-tutorials">
            {% block headline %}
                {% trans "Mes tutoriels" %}
                {% if request.GET.type == "public" %}
                    / {% trans "Publiés" %}
                {% elif request.GET.type == "validate" %}
                    / {% trans "En validation" %}
                {% elif request.GET.type == "beta" %}
                    / {% trans "En bêta" %}
                {% elif request.GET.type == "draft" %}
                    / {% trans "Brouillons" %}
                {% endif %}
                {% if sort == "abc" %}
                    / Par ordre alphabétique
                {% elif sort == "creation" %}
                    / Par date de création
                {% elif sort == "modification" %}
                    / Par date de dernière modification
                {% endif %}
            {% endblock %}
        </h2>

        {% if tutorials %}
            <div class="content-item-list">
                {% for tutorial in tutorials %}
                    {% include 'tutorial/includes/tutorial_item.part.html' with show_description=True type_link='draft' %}
                {% endfor %}
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
            </div>
        {% else %}
            <p>
                {% trans "Aucun tutoriel disponible" %}.
            </p>
        {% endif %}
    </section>
{% endblock %}



{% block sidebar_new %}
    <a href="{% url "tutorial-add-tutorial" %}" class="new-btn ico-after more blue">
        {% trans "Nouveau tutoriel" %}
    </a>
    <a href="{% url "tutorial-import" %}" class="new-btn ico-after import blue">
        {% trans "Importer" %}
    </a>
{% endblock %}



{% block sidebar_blocks %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
        <h3>{% trans "Filtres" %}</h3>
        <ul>
            <li>
                <a href="{% url "member-tutorials" %}?type=public{% if sort %}&sort={{ sort }}{% endif %}" class="ico-after tick green {% if request.GET.type == "public" %}selected{% endif %}">
                    {% trans "Publiés" %}
                </a>
            </li>
            <li>
                <a href="{% url "member-tutorials" %}?type=validate{% if sort %}&sort={{ sort }}{% endif %}" class="ico-after tick {% if request.GET.type == "validate" %}selected{% endif %}">
                    {% trans "En validation" %}
                </a>
            </li>
            <li>
                <a href="{% url "member-tutorials" %}?type=beta{% if sort %}&sort={{ sort }}{% endif %}" class="ico-after beta {% if request.GET.type == "beta" %}selected{% endif %}">
                    {% trans "En bêta" %}
                </a>
            </li>
            <li>
                <a href="{% url "member-tutorials" %}?type=draft{% if sort %}&sort={{ sort }}{% endif %}" class="ico-after edit {% if request.GET.type == "draft" %}selected{% endif %}">
                    {% trans "Brouillons" %}
                </a>
            </li>

            {% if request.GET.type %}
                <li>
                    <a href="{% url "member-tutorials" %}{% if sort %}?sort={{ sort }}{% endif %}" class="ico-after cross">
                        {% trans "Annuler le filtre" %}
                    </a>
                </li>
            {% endif %}
        </ul>
        <div class="mobile-menu-bloc mobile-all-links" data-title="Trier">
            <h3>Trier</h3>
            <ul>
                <li>
                    <a href="{% url "member-tutorials" %}?sort=abc{% if type %}&type={{ type }}{% endif %}" class="ico-after gear {% if sort == "abc" %}selected{% endif %}">
                        Par ordre alphabétique
                    </a>
                </li>
                <li>
                    <a href="{% url "member-tutorials" %}?sort=creation{% if type %}&type={{ type }}{% endif %}" class="ico-after gear {% if sort == "creation" %}selected{% endif %}">
                        Par date de création
                    </a>
                </li>
                <li>
                    <a href="{% url "member-tutorials" %}?sort=modification{% if type %}&type={{ type }}{% endif %}" class="ico-after gear {% if sort == "modification" %}selected{% endif %}">
                        Par date de dernière modification
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
