{% extends "tutorial/base.html" %}
{% load humanize %}



{% block title %}
    Liste des tutoriels
{% endblock %}



{% block breadcrumb %}
    <li>Liste des tutoriels</a>
{% endblock %}



{% block headline %}
    <h2>Liste des tutoriels</h2>
{% endblock %}



{% block content %}
    {% if tutorials %}
        <div class="tutorial-list">
            {% for tutorial in tutorials %}
                <article>
                    <a href="
                        {% if type = 'public' and tutorial.on_line %}
                            {{ tutorial.get_absolute_url_online }}
                        {% else %}
                            {{ tutorial.get_absolute_url }}
                        {% endif %}
                    ">
                        <img src="{{ tutorial.image.thumb.url }}" alt="" class="tutorial-img avatar">
                        <div class="tutorial-infos">
                            <h3>{{ tutorial.title }}</h3>
                            
                            <span class="article-metadata">
                                {% if tutorial.subcategory %}
                                    {% for category in tutorial.subcategory.all %}
                                        {{ category.title }}                                    
                                    {% endfor %}
                                {% endif %}
                                - Créé {{ tutorial.create_at|naturaltime }}
                            </span>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    {% else %}
        <p>
            Aucun tutoriel disponible.
        </p>
    {% endif %}
{% endblock %}



{% block sidebar_new %}
    <a href="{% url "zds.tutorial.views.add_tutorial" %}" class="new-btn ico-after more blue">
        Nouveau tutoriel
    </a>
{% endblock %}



{% block sidebar_actions %}
    <li><a href="{% url "zds.tutorial.views.import_tuto" %}" class="ico-after import blue">Importer</a></li>
{% endblock %}



{% block sidebar_blocks %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
        <h3>Filtres</h3>
        <ul>
            <li><a href="{% url "zds.member.views.tutorials" %}">Tous</a></li>
            <li><a href="{% url "zds.member.views.tutorials" %}?type=public">Publics</a></li>
            <li><a href="{% url "zds.member.views.tutorials" %}?type=draft">Brouillons</a><li>
        </ul>
    </div>
{% endblock %}