{% extends "tutorial/base_online.html" %}
{% load date %}
{% load profile %}
{% load emarkdown %}
{% load i18n %}


{% block title %}
    {% trans "Tutoriels publiés par" %} {{ usr.username }}
{% endblock %}



{% block breadcrumb %}
    {% with profile=usr|profile %}
        <li><a href="{{ profile.get_absolute_url }}">{{ usr.username }}</a></li>
    {% endwith %}
    <li><a href="{% url "tutorial-find-tuto" usr.pk %}">{% trans "Tutoriels publiés" %}</a></li>
    <li>{% trans "Recherche" %}</li>
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper">
        <h2 class="ico-after ico-tutorials">
            {% trans "Tutoriels publiés par" %} {{ usr.username }}
        </h2>

        {% if tutorials %}
            <div class="content-item-list">
                {% for tutorial in tutorials %}
                    {% include 'tutorial/includes/tutorial_item.part.html' with show_description=True %}
                {% endfor %}
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
            </div>
        {% else %}
            <p>
                {% trans "Aucun tutoriel disponible" %}.
            </p>
        {% endif %}
    </section>
{% endblock %}

{% block sidebar_blocks %}
    <a href="{% url "tutorial-find-tuto" usr.pk %}?type=beta" class="new-btn ico-after view blue">
        {% trans "Tutoriels en bêta par" %} {{ usr.username }}
    </a>
{% endblock %}
