{% extends "tutorial/base.html" %}
{% load emarkdown %}



{% block title %}
    {{ part.title }} ({{ part.tutorial.title }})
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ part.tutorial.get_absolute_url }}?version={{version}}">{{ part.tutorial.title }}</a></li>
    <li>{{ part.title }}</li>
{% endblock %}



{% block headline %}
    <h2>
        {{ part.title }}
    </h2>

    {% include 'tutorial/includes/tags_authors.part.html' with tutorial=part.tutorial %}

    {% if part.tutorial.in_beta and part.tutorial.sha_beta == version %}
        <div class="content-wrapper">
            <div class="alert-box warning">
                Attention, cette version du tutoriel est en BETA !
            </div>
        </div>
    {% endif %}
{% endblock %}



{% block content %}
    {% if part.intro %}
        {{ part.intro|emarkdown }}
    {% else %}
        <p class="ico-after warning">
            Il n'y a pas d'introduction.
        </p>
    {% endif %}

    {% if part.chapters %}
        <ul>
            {% for chapter in part.chapters %}
                <li>
                    <h3>
                        <a href="{% url "view-chapter-url" part.tutorial.pk part.tutorial.slug part.slug chapter.slug %}?version={{version}}">
                            {{ chapter.title }}
                        </a>
                    </h3>
                </li>
            {% empty %}
                <p class="ico-after warning">
                    Il n'y a actuellement aucune partie dans ce tutoriel.
                </p>
            {% endfor %}
        </ul>
    {% endif %}

    {% if part.conclu %}
        {{ part.conclu|emarkdown }}
    {% else %}
        <p class="ico-after warning">
            Il n'y a pas de conclusion.
        </p>
    {% endif %}
{% endblock %}



{% block sidebar_new %}
    <a href="{% url "zds.tutorial.views.add_chapter" %}?partie={{ part.pk }}" class="ico-after more blue new-btn">
        Ajouter un chapitre
    </a>
    <a href="{% url "zds.tutorial.views.edit_part" %}?partie={{ part.pk }}" class="ico-after edit blue new-btn">
        Éditer la partie
    </a>
{% endblock %}



{% block sidebar_blocks %}
    {% include "tutorial/includes/summary.part.html" with tutorial=part.tutorial parts=part.tutorial.get_parts %}
{% endblock %}