{% extends "tutorial/base.html" %}
{% load emarkdown %}
{% load i18n %}


{% block title %}
    {{ part.title }} - {{ part.tutorial.title }}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ part.tutorial.get_absolute_url }}?version={{ version }}">{{ part.tutorial.title }}</a></li>
    <li>{{ part.title }}</li>
{% endblock %}



{% block headline %}
    {% if tutorial.licence %}
        <p class="license">
            {{ tutorial.licence }}
        </p>
    {% endif %}

    <h2>
        {{ part.title }}
    </h2>

    {% include 'tutorial/includes/tags_authors.part.html' with tutorial=part.tutorial %}

    {% if tutorial.is_beta %}
        <div class="content-wrapper">
            <div class="alert-box warning">
                {% blocktrans %}
                Cette version du tutoriel est en <strong>BÊTA</strong> !
                {% endblocktrans %}
            </div>
        </div>
    {% endif %}
{% endblock %}



{% block content %}
    {% if part.intro and part.intro != "None" %}
        {{ part.intro|emarkdown:is_js }}
    {% elif not tutorial.is_beta %}
        <p class="ico-after warning">
            {% trans "Il n'y a pas d'introduction" %}.
        </p>
    {% endif %}

    <hr />

    {% if part.chapters %}
        <ol class="summary-part">
            {% for chapter in part.chapters %}
                <li>
                    <h3>
                        <a href="{% url "view-chapter-url" part.tutorial.pk part.tutorial.slug part.pk part.slug chapter.pk chapter.slug %}?version={{version}}">
                            {{ chapter.title }}
                        </a>
                    </h3>
                    <ol class="summary-part">
                        {% for extract in chapter.extracts %}
                            <li>
                                <h4>
                                    <a href="{% spaceless %}
                                        {% if online %}
                                            {% url "view-chapter-url-online" tutorial.pk tutorial.slug part.pk part.slug chapter.pk chapter.slug %}
                                        {% else %}
                                            {% url "view-chapter-url" tutorial.pk tutorial.slug part.pk part.slug chapter.pk chapter.slug %}{% if version %}?version={{version}}{% endif %}
                                        {% endif %}
                                        {% endspaceless %}#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}">
                                        {{ extract.title }}
                                    </a>
                                </h4>
                            </li>
                        {% endfor %}
                    </ol>
                </li>
            {% empty %}
                <p class="ico-after warning">
                    {% trans "Il n'y a actuellement aucune partie dans ce tutoriel" %}.
                </p>
            {% endfor %}
        </ol>
    {% endif %}
    
    <hr class="clearfix" />
    <hr />

    {% if part.conclu and part.conclu != "None" %}
        {{ part.conclu|emarkdown:is_js }}
    {% elif not tutorial.is_beta %}
        <p class="ico-after warning">
            {% trans "Il n'y a pas de conclusion" %}.
        </p>
    {% endif %}
{% endblock %}



{% block sidebar_new %}
    {% if user in tutorial.authors.all or perms.tutorial.change_tutorial %}
        <a href="{% url "tutorial-add-chapter" %}?partie={{ part.pk }}" class="ico-after more blue new-btn">
            {% trans "Ajouter un chapitre" %}
        </a>
        <a href="{% url "tutorial-edit-part" %}?partie={{ part.pk }}" class="ico-after edit blue new-btn">
            {% trans "Éditer la partie" %}
        </a>
    {% endif %}
{% endblock %}



{% block sidebar_actions %}
    {% if user in tutorial.authors.all or perms.tutorial.change_tutorial %}
        {% if part %}
            <li>
                <a href="#move-part" class="open-modal ico-after move blue">
                    {% blocktrans %}
                    Déplacer <span class="wide">la partie</span>
                    {% endblocktrans %}
                </a>

                <form action="{% url "tutorial-modify-part" %}" method="POST" class="modal modal-small" id="move-part">
                    <select name="move_target" class="select-autosubmit">
                        <option disabled="disabled">
                            {% trans "Déplacer" %}
                        </option>

                        {% if part.position_in_tutorial > 1 %}
                            <option value="{{ part.position_in_tutorial|add:-1 }}">
                                {% trans "Monter" %}
                            </option>
                        {% endif %}

                        {% if part.position_in_tutorial < part.tutorial.get_parts|length %}
                            <option value="{{ part.position_in_tutorial|add:1 }}">
                                {% trans "Descendre" %}
                            </option>
                        {% endif %}

                        <option disabled="disabled">&mdash; {% trans "Déplacer avant" %}</option>
                        {% for part_mv in part.tutorial.get_parts %}
                            {% if part != part_mv and part_mv.position_in_tutorial|add:-1 != part.position_in_tutorial %}
                                <option value="
                                    {% if part_mv.position_in_tutorial < part.position_in_tutorial %}
                                        {{ part_mv.position_in_tutorial }}
                                    {% else %}
                                        {{ part_mv.position_in_tutorial|add:-1 }}
                                    {% endif %}
                                ">
                                    {% trans "Partie" %} {{ part_mv.position_in_tutorial }} : {{ part_mv.title }}
                                </option>
                            {% endif %}
                        {% endfor %}

                        <option disabled="disabled">&mdash; {% trans "Déplacer après" %}</option>
                        {% for part_mv in part.tutorial.get_parts %}
                            {% if part != part_mv and part_mv.position_in_tutorial|add:1 != part.position_in_tutorial %}
                                <option value="
                                    {% if part_mv.position_in_tutorial < part.position_in_tutorial %}
                                        {{ part_mv.position_in_tutorial|add:1 }}
                                    {% else %}
                                        {{ part_mv.position_in_tutorial }}
                                    {% endif %}
                                ">
                                    {% trans "Partie" %} {{ part_mv.position_in_tutorial }} : {{ part_mv.title }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <input type="hidden" name="move" value="">
                    <input type="hidden" name="part" value="{{ part.pk }}">
                    {% csrf_token %}

                    <button type="submit">{% trans "Déplacer" %}</button>
                </form>
            </li>
            <li>
                <a href="#delete-part" class="open-modal ico-after cross red">
                    {% trans "Supprimer la partie" %}
                </a>

                <form action="{% url "tutorial-modify-part" %}" method="post" id="delete-part" class="modal modal-medium">
                    <p>
                        {% trans "Attention, vous vous apprêtez à supprimer définitivement la partie" %} "<em>{{ part.title }}</em>".
                    </p>
                    <input type="hidden" name="part" value="{{ part.pk }}">

                    {% csrf_token %}
                    <button type="submit" name="delete">
                        {% trans "Confirmer" %}
                    </button>
                </form>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}



{% block sidebar_blocks %}
    {% include "tutorial/includes/summary.part.html" with tutorial=tutorial parts=tutorial.parts %}
{% endblock %}
