{% extends "tutorial/base_online.html" %}
{% load i18n %}


{% block title %}
    {{ part.title }} - {{ part.tutorial.title }}
{% endblock %}



{% block meta_image %}{% spaceless %}
    {% if tutorial.image %}
        {{ tutorial.image.physical.tutorial_illu.url }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endspaceless %}{% endblock %}



{% block opengraph %}
    {% include "tutorial/includes/opengraph.part.html" %}
{% endblock %}



{% block breadcrumb %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ part.tutorial.get_absolute_url_online }}" itemprop="url">
            <span itemprop="title">{{ part.tutorial.title }}</span>
        </a>
    </li>
    <li>{{ part.title }}</li>
{% endblock %}



{% block headline %}
    <h1 {% if tutorial.image %}class="illu"{% endif %} itemprop="name">
        {% if tutorial.image %}
            <img src="{{ tutorial.image.physical.tutorial_illu.url }}" alt="" itemprop="thumbnailUrl">
        {% endif %}
        {{ part.title }}
    </h1>

    {% if tutorial.licence %}
        <span class="license" itemprop="license">
            {{ tutorial.licence }}
        </span>
    {% endif %}

    {% include 'tutorial/includes/tags_authors.part.html' with tutorial=part.tutorial %}
{% endblock %}



{% block content %}
    {% include "tutorial/includes/part.part.html" with online=True %}
{% endblock %}



{% block sidebar_blocks %}
    {% if perms.tutorial.change_tutorial %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Administration">
            <h3>{% blocktrans %}Admin<span class="wide">istration</span>{% endblocktrans %}</h3>
            <ul>
                <li>
                    <a href="{{ part.tutorial.get_absolute_url }}" class="ico-after offline blue">
                        {% trans "Version hors-ligne" %}
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}

    {% include "tutorial/includes/summary.part.html" with online=True tutorial=tutorial parts=tutorial.parts %}
{% endblock %}