{% extends "base.html" %}
{% load i18n %}


{% block title %}
    {% trans "Erreur 403" %}
{% endblock %}



{% block headline %}
    {% trans "Erreur 403" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Erreur 403" %}</li>
{% endblock %}



{# No sidebar on this page #}
{% block body_class %}no-sidebar{% endblock %}
{% block sidebar %}{% endblock %}



{% block content %}
    <p>
        {% trans "Vous n’avez pas les droits suffisants pour accéder à cette page." %}
    </p>
{% endblock %}
