{% extends "base.html" %}
{% load i18n %}


{% block title %}
    {% trans "Erreur 404" %}
{% endblock %}



{% block headline %}
    {% trans "Erreur 404" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Erreur 404" %}</li>
{% endblock %}



{# No sidebar on this page #}
{% block body_class %}no-sidebar{% endblock %}
{% block sidebar %}{% endblock %}



{% block content %}
    <p>
        {% trans "Il semblerait que ce que vous cherchiez ne se trouve plus ici." %}
    </p>
{% endblock %}
