{% extends "base.html" %}



{% block title %}
    Erreur 500
{% endblock %}



{% block headline %}
    Erreur 500
{% endblock %}



{% block breadcrumb %}
    <li>Erreur 500</li>
{% endblock %}



{# No sidebar on this page #}
{% block body_class %}no-sidebar{% endblock %}
{% block sidebar %}{% endblock %}



{% block content %}
    <p>
        Si vous voyez cette page, c'est que vous avez trouvé un bug. Merci
        de rapporter cette erreur en expliquant comment vous avez procédé
        pour tomber sur cette page en créant un sujet sur
        <a href="http://zestedesavoir.com/forums/communaute/bug-suggestions/">
        le forum "Bugs et Suggestions".</a> Merci de votre aide !
    </p>
    <p>
        Si vous êtes curieux, voici une <a href="https://github.com/zestedesavoir/zds-site/issues?q=is%3Aopen+is%3Aissue+500">liste des sujets ouverts à ce propos</a>
        sur le bug tracker public de l'association.
    </p>
{% endblock %}