{% extends "base.html" %}
{% load i18n %}


{% block title %}
    {% trans "Erreur 500" %}
{% endblock %}



{% block headline %}
    {% trans "Erreur 500" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Erreur 500" %}</li>
{% endblock %}



{# No sidebar on this page #}
{% block body_class %}no-sidebar{% endblock %}
{% block sidebar %}{% endblock %}



{% block content %}
    <p>
        {% blocktrans with url_forum=app.site.forum_feedback_users %}
            Si vous voyez cette page, c’est que vous avez trouvé un bug. Merci
            de rapporter cette erreur en expliquant comment vous avez procédé
            pour tomber sur cette page en créant un sujet sur
            <a href="{{ site_url }}{{ url_forum }}">le forum Bugs et Suggestions.</a> Merci de votre aide !
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans with url_bugtracker=app.site.repository.bugtracker %}
            Si vous êtes curieux, voici une <a href="{{ url_bugtracker }}">liste des sujets ouverts à ce propos</a> sur le bug tracker public de l’association.
        {% endblocktrans %}
    </p>
{% endblock %}
