{% extends "base.html" %}

{% block title %}
    Erreur 500
{% endblock %}

{% block headline %}
    <h2 class="box">Erreur 500</h2>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Erreur 500</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <p class="alert-box alert">
            Si vous voyez cette page, c'est que vous avez trouvé un bug. Merci
            de reporter cette erreur en expliquant comment vous avez procédé
            pour tomber sur cette page.
        </p>
    </div>
</div>
{% endblock %}
