{% load captureas %}
{% load i18n %}
{% load set %}
{% load static %}
{% load thumbnail %}
{% load interventions %}
{% load messages %}
{% load trail %}


<!DOCTYPE html>
<html class="enable-mobile-menu" lang="fr" antidoteapi_jsconnect="true">
<head>
    <meta charset="utf-8">

    {% captureas title %}
        {% trail %}
            {% captureas title_blocks %}
                {% block title %}{% endblock %}
                {% block title_base %}{% endblock %}
            {% endcaptureas %}
            {% if title_blocks %}
                {{ title_blocks|safe }} &bull;
            {% endif %}
            {{ app.site.literal_name }}
        {% endtrail %}
    {% endcaptureas %}

    <title>
        {{ title|safe }}
    </title>

    <meta name="language" content="fr">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">

    {# Color the browser elements. See https://developers.google.com/web/fundamentals/design-and-ui/browser-customization/theme-color?hl=en #}
    <meta name="theme-color" content="#084561">
    <meta name="msapplication-navbutton-color" content="#084561">
    {# Fullscreen on iOS and enable bar customisation #}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {# Description #}
    {% captureas description %}
        {% block description %}
            {{app.site.long_description}}
        {% endblock %}
    {% endcaptureas %}
    <meta name="description" content="{{ description|safe }}">


    {% captureas meta_image %}
        {{ app.site.dns }}{% block meta_image %}{% spaceless %}
            {% static "images/favicons/512.png" %}
        {% endspaceless %}{% endblock %}
    {% endcaptureas %}


    {# OpenGraph #}
    <meta property="og:site_name" content="{{app.site.literal_name}}">
    <meta property="og:title" content="{{ title|safe }}">
    <meta property="og:url" content="{{app.site.url}}{{ request.path }}">
    <meta property="og:language" content="fr_FR">
    <meta property="og:image:url" content="http://{{ meta_image }}">
    <meta property="og:image:secure_url" content="https://{{ meta_image }}">
    {% block opengraph %}
        <meta property="og:type" content="website">
    {% endblock %}


    {# X cards #}
    <meta property="twitter:domain" content="{{app.site.url}}/">
    {% if request.GET.twittercard == 'large' %}
        <meta property="twitter:card" content="summary_large_image">
    {% else %}
        <meta property="twitter:card" content="summary">
    {% endif %}
    <meta property="twitter:url" content="{{app.site.url}}{{ request.path }}">
    <meta property="twitter:title" content="{{ title|safe }}">
    <meta property="twitter:description" content="{{ description|safe }}">
    <meta property="twitter:site" content="@{{app.site.name}}">
    <meta property="twitter:creator" content="@{{app.site.name}}">
    <meta property="twitter:image" content="http://{{ meta_image }}">

    {% block DCMI_cards %}{% endblock %}

    {# Stylesheets #}
    <link rel="stylesheet" href="{% static "css/all.min.css" %}"><!-- FontAwesome -->
    <link rel="stylesheet" href="{% static "css/easymde.min.css" %}">
    <link rel="stylesheet" href="{% static "css/katex.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    {% block canonical %}{% endblock %}

    {% block extra_css %}
    {% endblock %}

    {# favicons #}
    {% if user.is_authenticated and header_general_notifications.total > 0 %}
        {% set "-notif.png" as favicon_extension %}
    {% else %}
        {% set ".png" as favicon_extension %}
    {% endif %}

    {% with sizes="16 32 64 96 128 256" %}
        {% for size in sizes.split %}
            <link rel="icon" sizes="{{size}}x{{size}}" type="image/png" href="{% static 'images/favicons/'|add:size|add:favicon_extension %}">
        {% endfor %}
    {% endwith %}

    {# old iOS devices, no `sizes` attribute #}
    {% with sizes="114 120 144 152 167 180" %}
        {% for size in sizes.split %}
            <link rel="apple-touch-icon" type="image/png" href="{% static 'images/favicons/'|add:size|add:favicon_extension %}">
        {% endfor %}
    {% endwith %}

    {# RSS links #}
    {% with request.GET|yesno:'?,'|add:request.GET.urlencode as rss_params %}
    <link rel="alternate" type="application/rss+xml" title="Forum" href="{% url "forum:post-feed-rss" %}{{ rss_params | safe }}">
    <link rel="alternate" type="application/rss+xml" title="Nouveaux tutoriels (RSS)" href="{% url "tutorial:feed-rss" %}{{ rss_params | safe }}">
    <link rel="alternate" type="application/atom+xml" title="Nouveaux tutoriels (ATOM)" href="{% url "tutorial:feed-atom" %}{{ rss_params | safe }}">
    <link rel="alternate" type="application/rss+xml" title="Nouveaux articles (RSS)" href="{% url "article:feed-rss" %}{{ rss_params | safe }}">
    <link rel="alternate" type="application/atom+xml" title="Nouveaux articles (ATOM)" href="{% url "article:feed-atom" %}{{ rss_params | safe }}">
    <link rel="alternate" type="application/rss+xml" title="Nouveaux billets (RSS)" href="{% url "opinion:feed-rss" %}{{ rss_params | safe }}">
    <link rel="alternate" type="application/atom+xml" title="Nouveaux billets (ATOM)" href="{% url "opinion:feed-atom" %}{{ rss_params | safe }}">
    {% endwith %}
    {# OpenSearch plugin autodiscovery #}
    <link rel="search" type="application/opensearchdescription+xml" title="{{ app.site.literal_name }}" href="{% url "search:opensearch" %}">

    {% block head_extra %}{% endblock %}
</head>

{% if not user.is_authenticated or user.profile.allow_temp_visual_changes %}
    {% set app.visual_changes as visual_changes %}
{% endif %}

<body class="{% block body_class %}{% endblock %}{% for vc in visual_changes %} vc-{{ vc }}{% endfor %}"
       {% if auto_update_gallery %}data-gallery="{{ auto_update_gallery.pk }}"{% endif %}
    itemscope
    itemtype="http://schema.org/WebPage"
    {% if not user.is_authenticated or user.profile.show_markdown_help %}
        data-show-markdown-help="true"
    {% else %}
        data-show-markdown-help="false"
    {% endif %}
>

    {% include "old_browser_warning.html" %}

    {# Must be at the very top (except old browser warning) so it does not overlap anything. #}
    {% include "very_top_banner.html" %}

    <div class="mobile-menu" id="mobile-menu"></div>

    <div class="page-container">

        <ul id="accessibility">
            <li>
                <a href="#menu">{% trans "Aller au menu" %}</a>
            </li>
            <li>
                <a href="#content" accesskey="s">{% trans "Aller au contenu" %}</a>
            </li>
            <li>
                <a href="#{% block searchbox_id %}search-top{% endblock %}" accesskey="4">{% trans "Aller à la recherche" %}</a>
            </li>
        </ul>

        <div class="header-container">
            {% include "header.html" %}

            <div class="clearfix sub-header">
                <div class="breadcrumb" itemprop="breadcrumb">
                    <ol>
                        <li>
                            <a href="{% url "homepage" %}" rel="home" itemprop="url">
                                <span itemprop="title">{% trans "Accueil" %}</span>
                            </a>
                        </li>
                        {% block breadcrumb_base %}{% endblock %}
                        {% block breadcrumb %}{% endblock %}
                    </ol>
                </div>
                <div class="search header-right" id="search">
                    <form action="{% url "search:query" %}">
                        <input id="search-top" type="text" name="q" placeholder="{% trans "Rechercher" %}" title="{% trans "Contenu de la recherche" %}">
                        <button type="submit" class="ico-after search-submit" title="{% trans "Lancer la recherche" %}">{% trans "OK" %}</button>
                    </form>
                    <a href="{% url "search:query" %}" title="{% trans "Recherche avancée" %}" class="search-more"></a>
                </div>
            </div>
        </div>



        <div class="main-container">
            {% block doc_api %}
                <div class="main wrapper clearfix">
                    <main class="content-container" role="main" id="content">
                        {% block flash_messages %}
                            {% messages messages %}
                        {% endblock %}

                        {% block content_out %}
                            {% captureas schema %}
                                {% block schema %}{% endblock %}
                            {% endcaptureas %}
                            <section class="content-wrapper" {{ schema|safe }}>
                                <h1 {% if schema %}itemprop="name"{% endif %}>
                                    {% block headline %}{% endblock %}
                                </h1>

                                {% captureas headlinesub %}
                                    {% block headline_sub %}{% endblock %}
                                {% endcaptureas %}

                                {% if headlinesub %}
                                    <h2 class="subtitle" {% if schema %}itemprop="description"{% endif %}>{{ headlinesub|safe }}</h2>
                                {% endif %}

                                {% block content %}{% endblock %}
                            </section>
                        {% endblock %}
                    </main>

                    {% block sidebar %}{% endblock %}
                </div>
            {% endblock %}
        </div>



        {% include "footer.html" %}
    </div>






    {# Javascript stuff start #}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script>
        window.jdenticon_config = {backColor: "#fff"}
    </script>
    <script src="{% static "js/jdenticon.min.js" %}"></script>
    {% block extra_js %}
    {% endblock %}
    <script src="{% static "js/script.js" %}"></script>
</body>
</html>
