{% extends "base.html" %}
{% load i18n %}


{% block head_extra %}
    {{ block.super }}
    {% include "mathjax.html" %}
{% endblock %}


{% block content_out %}
    <article class="content-wrapper" {% block article_schema %}{% endblock %}>
        <header>
            {% block headline %}{% endblock %}
        </header>
        {% block content_page %}
            <section class="article-content" {% block article_centent_schema %}{% endblock %}>
                {% block content %}{% endblock %}
            </section>
        {% endblock %}
        {% block content_after %}{% endblock %}
    </article>
    {% block content_ext %}{% endblock %}
{% endblock %}



{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        {% block sidebar_actions %}{% endblock %}
    </aside>
{% endblock %}
