{% load staticfiles %}
{% load profile %}
{% load interventions %}
{% load topbar %}
{% load captureas %}
{% load date %}
{% load set %}
{% load captureas %}
{% load thumbnail %}
{% load i18n %}



<!DOCTYPE html>
<html class="no-js enable-mobile-menu wf-active" lang="fr">
<head>
    <meta charset="utf-8">

    <title>
        {% captureas title %}
            {% captureas title_blocks %}
                {% block title %}{% endblock %}
                {% block title_base %}{% endblock %}
            {% endcaptureas %}
            {% if title_blocks %}
                {{ title_blocks|safe }}
                &bull;
            {% endif %}
            {{app.site.litteral_name}}
        {% endcaptureas %}
        {{ title|safe }}
    </title>

    <meta name="language" content="fr">
    <meta http-equiv="content-language" content="fr">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">


    {# Description #}
    {% captureas description %}
        {% block description %}
            {{app.site.long_description}}
        {% endblock %}
    {% endcaptureas %}
    <meta name="description" content="{{ description|safe }}">


    {% captureas meta_image %}
        {{ app.site.dns }}{% block meta_image %}{% spaceless %}
            {% static "images/apple-touch-icon-144x144-precomposed.png" %}
        {% endspaceless %}{% endblock %}
    {% endcaptureas %}


    {# OpenGraph #}
    <meta property="og:site_name" content="{{app.site.litteral_name}}">
    <meta property="og:title" content="{{ title|safe }}">
    <meta property="og:url" content="{{app.site.url}}{{ request.path }}">
    <meta property="og:language" content="fr_FR">
    <meta property="og:image:url" content="http://{{ meta_image }}">
    <meta property="og:image:secure_url" content="https://{{ meta_image }}">
    {% block opengraph %}
        <meta property="og:type" content="website">
    {% endblock %}


    {# Twitter cards #}
    <meta property="twitter:domain" content="{{app.site.url}}/">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="{{app.site.url}}{{ request.path }}">
    <meta property="twitter:title" content="{{ title|safe }}">
    <meta property="twitter:description" content="{{ description|safe }}">
    <meta property="twitter:site" content="@{{app.site.name}}">
    <meta property="twitter:creator" content="@{% block twitter_creator %}{{app.site.name}}{% endblock %}">
    <meta property="twitter:image" content="http://{{ meta_image }}">


    {# Stylesheets #}
    {% if debug %}
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "css/main.min.css" %}">
        {% block canonical %}{% endblock %}
    {% endif %}

    <!--[if IE 9]>
        <link rel="stylesheet" href="{% static "css/only-ie.min.css" %}">
    <![endif]-->


    {# Webfont async loading #}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Source+Code+Pro:400,700|Merriweather:400,700' rel='stylesheet' type='text/css'>


    {% block extra_css %}
    {% endblock %}

    {# favicons #}
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "images/apple-touch-icon-144x144-precomposed.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "images/apple-touch-icon-114x114-precomposed.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "images/apple-touch-icon-72x72-precomposed.png" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "images/apple-touch-icon-57x57-precomposed.png" %}">
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon-precomposed.png" %}">
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">


    {# Fullsceen on iOS #}
    <meta name="apple-mobile-web-app-capable" content="yes">


    {# RSS links #}
    <link rel="alternate" type="application/rss+xml" title="Forum" href="{% url "post-feed-rss" %}">

    {# OpenSearch plugin autodiscovery #}
    <link rel="search" type="application/opensearchdescription+xml" title="{{ app.site.litteral_name }}" href="{% url "zds.search.views.opensearch" %}">
</head>
<body class="{% block body_class %}{% endblock %}"
      itemscope
      itemtype="http://schema.org/WebPage"
>
    <!--[if lt IE 9]>
        <p class="chromeframe">Vous utilisez un navigateur <strong>dépassé</strong>. Merci de <a href="http://browsehappy.com/">mettre à jour celui-ci</a> pour améliorer votre expérience.</p>
    <![endif]-->

    <div class="mobile-menu" id="mobile-menu"></div>


    <div class="page-container">
        <ul id="accessibility">
            <li>
                <a href="#menu">{% trans "Aller au menu" %}</a>
            </li>
            <li>
                <a href="#content" accesskey="s">{% trans "Aller au contenu" %}</a>
            </li>
            <li>
                <a href="#search" accesskey="4">{% trans "Aller à la recherche" %}</a>
            </li>
        </ul>

        <div id="cookies-eu-banner">
            <span>
                {% trans "Ce site utilise Google Analytics. En poursuivant votre navigation sur ce site, vous nous autorisez à déposer des cookies à des fins de mesure d'audience. Pour s'opposer à ce dépôt vous pouvez cliquer" %}
            </span>
            <button id="cookies-eu-reject">{% trans "ici" %}</button>.
            <a href="/pages/cookies" id="cookies-eu-more">{% trans "En savoir plus" %}</a>
            <button id="cookies-eu-accept">{% trans "OK" %}</button>
        </div>

        <div class="header-container">
            <header class="clearfix">
                <div class="wrapper">
                    <div class="mobile-menu-btn ico-after"></div>

                    {% captureas mobiletitle %}
                        {% block mobile_title %}
                            {{app.site.litteral_name}}
                        {% endblock %}
                    {% endcaptureas %}

                    {# Logo #}
                    <div class="header-logo">
                        <a href="{% url "zds.pages.views.home" %}"
                           class="header-logo-link"
                           data-title="{{ mobiletitle }}"
                        >
                            {{app.site.litteral_name}}
                        </a>
                    </div>


                    {# Menu #}
                    <nav class="header-menu mobile-menu-bloc" id="menu" data-title="Menu"
                        {% if user.is_authenticated %}
                            {% with profile=user.profile %}
                                data-is-hover="{{ profile.hover_or_click }}"
                            {% endwith %}
                        {% endif %}
                    >
                        <ul class="header-menu-list">
                            <li>
                                <a href="{% url "tutorial:list" %}" class="mobile-menu-link {% block menu_tutorial %}{% endblock %}">
                                    {% trans "Tutoriels" %}
                                </a>
                                <div class="dropdown header-menu-dropdown">
                                    <a href="{% url "tutorial:list" %}" class="dropdown-link-all">
                                        {% trans "Tous les tutoriels" %}
                                    </a>

                                    <ul class="dropdown-list">
                                        {% with categories='.'|top_categories_tuto %}
                                            {% for title, subcats in categories.items %}
                                                <li>
                                                    <ul>
                                                        <li class="dropdown-title">
                                                            {{ title }}
                                                        </li>
                                                        {% for subcat,slug in subcats %}
                                                            <li>
                                                                <a href="{% url "tutorial:list" %}?tag={{ slug }}">
                                                                    {{  subcat }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% empty %}
                                                <ul>
                                                    <li class="dropdown-title">
                                                        {% trans "Aucun tutoriel disponible." %}
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        {% endwith %}
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="{% url "article:list" %}" class="mobile-menu-link {% block menu_article %}{% endblock %}">
                                    {% trans "Articles" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url "zds.forum.views.index" %}" class="mobile-menu-link {% block menu_forum %}{% endblock %}">
                                    {% trans "Forums" %}
                                </a>
                                <div class="dropdown header-menu-dropdown">
                                    <a href="{% url "zds.forum.views.index" %}" class="dropdown-link-all">
                                        {% trans "Tous les forums" %}
                                    </a>

                                    <ul class="dropdown-list">
                                        {% with top=user|top_categories %}
                                            {% for title, forums in top.categories.items %}
                                                <li>
                                                    <ul>
                                                        <li class="dropdown-title">
                                                            {{ title }}
                                                        </li>
                                                        {% for forum in forums %}
                                                            <li><a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% empty %}
                                                <ul>
                                                    <li class="dropdown-title">
                                                        {% trans "Aucun forum disponible." %}
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                            {% if top.tags %}
                                            <li>
                                                <ul>
                                                    <li class="dropdown-title">
                                                        {% trans "Tags les plus utilisés" %}
                                                    </li>
                                                    {% for tag in top.tags %}
                                                        <li><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% endif %}
                                        {% endwith %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>


                    {# Logbox #}
                    <div class="logbox header-right {% if not user.is_authenticated %}unlogged{% endif %}">
                        {% if user.is_authenticated %}

                            <div class="notifs-links">
                                {# MESSAGERIE PRIVEE #}
                                <div>
                                    {% with topics=user|interventions_privatetopics %}
                                    {% with unread_topics=topics.unread %}
                                    {% with total_topics=topics.total %}
                                        <a href="{% url "mp-list" %}" class="ico-link">
                                            {% if total_topics > 0 %}
                                                <span class="notif-count">{{ total_topics }}</span>
                                            {% endif %}
                                            <span class="notif-text ico ico-messages">{% trans "Messagerie privée" %}</span>
                                        </a>

                                        <div class="dropdown">
                                            <span class="dropdown-title">{% trans "Messagerie privée" %}</span>
                                            <ul class="dropdown-list">
                                                {% for topic in unread_topics %}
                                                    {% with last_answer=topic.get_last_answer %}
                                                    <li>
                                                        {% if last_answer = None %}
                                                            {% set topic.last_read_post as last_answer %}
                                                        {% endif %}
                                                        <a href="{{ topic.last_read_post.get_absolute_url }}">
                                                            {% with p=last_answer.author.profile %}
                                                                <img src="{{ p.get_avatar_url }}" alt="" class="avatar">
                                                            {% endwith %}
                                                            <span class="username">{{ last_answer.author.username }}</span>
                                                            <span class="date">{{ last_answer.pubdate|format_date:True|capfirst }}</span>
                                                            <span class="topic">{{ topic.title }}</span>
                                                        </a>
                                                    </li>
                                                    {% endwith %}
                                                {% endfor %}

                                                {% if total_topics = 0 %}
                                                    <li class="dropdown-empty-message">
                                                        {% trans "Aucun nouveau message" %}
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                                <a href="{% url "mp-list" %}" class="dropdown-link-all">
                                                    {% trans "Tous les messages" %}
                                                </a>
                                            </div>
                                        {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </div>

                                {# NOTIFICATIONS #}
                                <div>
                                    {% with unread_posts=user|interventions_topics %}
                                        <a href="{% url "zds.forum.views.followed_topics" %}" class="ico-link">
                                            {% if unread_posts|length > 0 %}
                                                <span class="notif-count">{{ unread_posts|length }}</span>
                                            {% endif %}
                                            <span class="notif-text ico ico-notifs">{% trans "Notifications" %}</span>
                                        </a>

                                        <div class="dropdown">
                                            <span class="dropdown-title">{% trans "Notifications" %}</span>

                                            <ul class="dropdown-list">
                                                {% for first_unread in unread_posts %}
                                                    <li>
                                                        <a href="{{ first_unread.url }}">
                                                            {% with p=first_unread.author.profile %}
                                                                <img src="{{ p.get_avatar_url  }}" alt="" class="avatar">
                                                            {% endwith %}
                                                            <span class="username">{{ first_unread.author.username }}</span>
                                                            <span class="date">{{ first_unread.pubdate|format_date:True|capfirst }}</span>
                                                            <span class="topic">{{ first_unread.title }}</span>
                                                        </a>
                                                    </li>
                                                {% endfor %}

                                                {% if unread_posts|length == 0 %}
                                                    <li class="dropdown-empty-message">
                                                        {% trans "Aucune notification" %}
                                                    </li>
                                                {% endif %}
                                            </ul>
                                            <a href="{% url "zds.forum.views.followed_topics" %}" class="dropdown-link-all">
                                                {% trans "Toutes les notifications" %}
                                            </a>
                                        </div>
                                    {% endwith %}
                                </div>

                                {# ALERTES MODERATION #}
                                {% if perms.forum.change_post %}
                                    {% with alerts=user|alerts_list %}
                                        {%  with nb_alerts=alerts|length %}
                                            <div>
                                                <a href="{% url "zds.pages.views.alerts" %}" class="ico-link">
                                                    <span class="notif-text ico ico-alerts">{% trans "Alertes" %}</span>
                                                    {% if nb_alerts > 0 %}
                                                        <span class="notif-count">{{ nb_alerts }}</span>
                                                    {% endif %}
                                                </a>

                                                <div class="dropdown">
                                                    <span class="dropdown-title">{% trans "Alertes Modération" %}</span>
                                                    <ul class="dropdown-list">
                                                        {% for alert in alerts %}
                                                            <li>
                                                                <a href="{{ alert.url }}">
                                                                    <span class="username">{{ alert.title }}</span>
                                                                    <span class="date">{{ alert.pubdate|format_date:True|capfirst }}</span>
                                                                    <span class="topic">{{ alert.text }}</span>
                                                                </a>
                                                            </li>
                                                        {% empty %}
                                                            <li class="dropdown-empty-message">
                                                                {% trans "Aucune alerte" %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <a href="{% url "zds.pages.views.alerts" %}" class="dropdown-link-all">
                                                        {% trans "Toutes les alertes" %}
                                                    </a>
                                                </div>
                                            </div>
                                        {%  endwith %}
                                    {% endwith %}
                                {% else %}
                                    <a href="{% url "member-detail" user.username %}"
                                       id="open-my-account"
                                       class="ico-link dont-click-if-sidebar"
                                       data-click="my-account"
                                    >
                                        <span class="notif-text ico ico-params">{% trans "Mon Compte" %}</span>
                                    </a>
                                {% endif %}
                            </div>

                            <div>
                                {% with profile=user.profile %}
                                    <a href="{% url "member-detail" user.username %}"
                                       id="my-account"
                                       class="my-account mobile-menu-link mobile-menu-bloc dont-click-if-sidebar"
                                       title="{% trans 'Mon profil' %}"
                                       data-title="{% trans 'Mon profil' %}"

                                       {% if not perms.forum.change_post %}
                                           data-active="open-my-account"
                                       {% endif %}
                                    >
                                        <img src="{{ profile.get_avatar_url }}" alt="" class="avatar">
                                        <span class="username label">{{ user.username }}</span>
                                    </a>
                                {% endwith %}

                                <div class="dropdown my-account-dropdown mobile-menu-bloc mobile-all-links" data-title="{% trans 'Mon compte' %}">
                                    <span class="dropdown-title">{{ user.username|truncatechars:25 }}</span>

                                    <ul class="dropdown-list">
                                        <li>
                                            <a href="{% url "member-detail" user.username %}">{% trans "Mon profil" %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url "content:find-tutorial" user.pk %}">{% trans "Mes tutoriels" %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url "content:find-article" user.pk %}">{% trans "Mes articles" %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url "gallery-list" %}">{% trans "Galeries d'images" %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url "update-member" %}">{% trans "Paramètres" %}</a>
                                        </li>

                                        {% if perms.tutorialv2.change_tutorialv2 %}
                                            <li>
                                                <a href="{% url "validation:list" %}?type=tuto">{% trans "Validation des tutoriels" %}</a>
                                            </li>
                                        {% endif %}

                                        {% if perms.tutorialv2.change_tutorialv2 %}
                                            <li>
                                                <a href="{% url "validation:list" %}?type=article">{% trans "Validation des articles" %}</a>
                                            </li>
                                        {% endif %}

                                        {% if perms.featured.change_featuredresource %}
                                            <li>
                                                <a href="{% url 'featured-resource-list' %}">{% trans 'Gestion des mises en avant' %}</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <form
                                                method="post"
                                                action="{% url "zds.member.views.logout_view" %}"
                                            >
                                                {% csrf_token %}
                                                <button type="submit">{% trans "Déconnexion" %}</button>
                                             </form>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        {% else %} {# Not logged #}
                            <a href="{% url "zds.member.views.login_view" %}?next={{ request.path }}">{% trans "Connexion" %}</a>
                            <a href="{% url "register-member" %}">{% trans "Inscription" %}</a>
                        {% endif %}
                    </div>
                </div>
            </header>


            {% block subheader %}
                <div class="clearfix sub-header">
                    <div class="wrapper">
                        <div class="breadcrumb" itemprop="breadcrumb">
                            <ol>
                                <li>
                                    <a href="{% url "zds.pages.views.home" %}" rel="home" itemprop="url">
                                        <span itemprop="title">{% trans "Accueil" %}</span>
                                    </a>
                                </li>
                                {% block breadcrumb_base %}{% endblock %}
                                {% block breadcrumb %}{% endblock %}
                            </ol>
                        </div>
                        <div class="search header-right" id="search">
                            <form action="{% url "haystack_search" %}">
                                <input type="text" name="q" placeholder="{% trans "Rechercher" %}">
                                <button type="submit" class="ico-after search-submit" title="{% trans "Lancer la recherche" %}">{% trans "OK" %}</button>
                            </form>
                            <a href="{% url "haystack_search" %}" title="{% trans "Recherche avancée" %}" class="search-more"></a>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>



        <div class="main-container">
            {% block doc_api %}
                <div class="main wrapper clearfix">
                    <main class="content-container" role="main" id="content">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert-box {{ message.tags }}">
                                    <span>{{ message }}</span>
                                    <a href="#close-alert-box" class="close-alert-box ico-after cross white">{% trans "Masquer l'alerte" %}</a>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% block content_out %}
                            {% captureas schema %}
                                {% block schema %}{% endblock %}
                            {% endcaptureas %}
                            <section class="content-wrapper" {{ schema|safe }}>
                                <h1 {% if schema %}itemprop="name"{% endif %}>
                                    {% block headline %}{% endblock %}
                                </h1>

                                {% captureas headlinesub %}
                                    {% block headline_sub %}{% endblock %}
                                {% endcaptureas %}

                                {% if headlinesub %}
                                    <h2 class="subtitle" {% if schema %}itemprop="description"{% endif %}>{{ headlinesub|safe }}</h2>
                                {% endif %}

                                {% block content %}{% endblock %}
                            </section>
                        {% endblock %}
                    </main>

                    {% block sidebar %}{% endblock %}
                </div>
            {% endblock %}
        </div>



        <footer class="page-footer">
            <div class="wrapper">
                <p class="copyright">
                    {{app.site.litteral_name}}
                    <span class="version">
                        &bull; {% trans "Version" %} : <a href="{{git_version.url}}">{{git_version.name}}</a>
                    </span>
                </p>

                <ul class="social">
                    {% if app.site.social.facebook %}
                        <li><a href="{{app.site.social.facebook}}" title="Aimez notre page Facebook" class="btn ico-after facebook light btn-facebook btn-holder"></a></li>
                    {% endif %}
                    {% if app.site.social.twitter %}
                        <li><a href="{{app.site.social.twitter}}" title="Suivez-nous sur Twitter" class="btn ico-after twitter light btn-twitter btn-holder"></a></li>
                    {% endif %}
                    {% if app.site.social.googleplus %}
                        <li><a href="{{app.site.social.googleplus}}" title="Retrouvez-nous sur Google+" class="btn ico-after google-plus light btn-google-plus btn-holder"></a></li>
		    {% endif %}
                </ul>

                <ul class="links">
                    <li><a href="{% url "django.swagger.base.view" %}">{% trans "API" %}</a></li>
                    <li><a href="{% url "zds.pages.views.eula" %}">{% trans "CGU" %}</a></li>
                    <li><a href="{% url "zds.pages.views.about" %}">{% trans "À propos" %}</a></li>
                    {% if app.site.association %}
                        <li><a href="{% url "zds.pages.views.association" %}">{% trans "L'association" %}</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url "zds.pages.views.assoc_subscribe" %}">{% trans "Adhérer" %}</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{% url "zds.pages.views.contact" %}">{% trans "Contact" %}</a></li>
                </ul>
            </div>
        </footer>
    </div>






    {# Javascript stuff start #}
    {% if debug %}
        <script src="{% static "js/vendors.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    {% else %}
        <script src="{% static "js/all.min.js" %}"></script>
    {% endif %}

    {% block extra_js %}
    {% endblock %}



    {# Google Analytics #}
    {% if app.site.googleAnalyticsID and app.site.googleTagManagerID %}
        <script>
            new CookiesEuBanner(function(){
                dataLayer = [{'gaTrackingId': '{{ app.site.googleAnalyticsID }}'}];
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','{{ app.site.googleTagManagerID }}');
            });
        </script>
    {% endif %}



    {# MathJax #}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$', '$']],
                displayMath: [['$$','$$']],
                processEscapes: true,
                processClass: "message-content|article-content",
                ignoreClass: "page-container"
            },
            TeX: { extensions: ["color.js", "cancel.js", "enclose.js", "bbox.js", "mathchoice.js", "newcommand.js", "verb.js", "unicode.js", "autobold.js", "mhchem.js"] },
            messageStyle: "none",
        });
    </script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
</html>
