{% load i18n %}

<footer class="page-footer">
    <div class="wrapper">
        <p class="copyright">
            {{app.site.literal_name}}
            <span class="version">
                &bull; {% trans "Version :" %}
                {% if zds_version.url %}
                    <a href="{{zds_version.url}}">{{zds_version.name}}</a>
                {% else %}
                    {{ zds_version.name }}
                {% endif %}
            </span>
        </p>

        <ul class="social">
            {% if app.site.social.mastodon %}
                <li>
                    <a href="{{app.site.social.mastodon}}"
                       title="Suivez-nous sur Mastodon"
                       class="btn ico-after mastodon light btn-mastodon btn-holder"></a>
                </li>
            {% endif %}

            {% if app.site.social.facebook %}
                <li>
                    <a href="{{app.site.social.facebook}}"
                       title="Aimez notre page Facebook"
                       class="btn ico-after facebook light btn-facebook btn-holder"></a>
                </li>
            {% endif %}

            {% if app.site.social.X %}
                <li>
                    <a href="{{app.site.social.X}}"
                       title="Suivez-nous sur X"
                       class="btn ico-after X light btn-X btn-holder"></a>
                </li>
            {% endif %}

            {% if app.site.social.discord %}
                <li>
                    <a href="{{app.site.social.discord}}"
                       title="Discutez avec nous sur Discord"
                       class="btn ico-after discord light btn-discord btn-holder"></a>
                </li>
            {% endif %}

            {% if app.site.social.github %}
                <li>
                    <a href="{{app.site.social.github}}"
                       title="Contribuez au développement"
                       class="btn ico-after github light btn-github btn-holder"></a>
                </li>
            {% endif %}
        </ul>

        <ul class="links">
            <li><a href="{% url "api:docs" %}">{% trans "API" %}</a></li>
            <li><a href="{% url "pages-eula" %}">{% trans "CGU" %}</a></li>
            <li><a href="{% url "pages-technologies" %}">{% trans "Crédits techniques" %}</a></li>
            {% if app.site.association %}
                <li><a href="{% url "pages-association" %}">{% trans "L’association" %}</a></li>
                <li>
                    <a href="{{ app.site.association.subscribe_link }}">
                        <span class="wide">{% trans "Adhérer à l'association" %}</span>
                        <span class="until-wide" aria-hidden="true">{% trans "Adhérer" %}</span>
                    </a>
                </li>
            {% endif %}
            <li><a href="{% url "pages-contact" %}">{% trans "Contact" %}</a></li>
            <li><a href="{% url "pages-cookies" %}">{% trans "Les cookies" %}</a></li>
            <li><a href="{% url "pages-accessibility" %}">{% trans "Accessibilité" %}</a></li>
        </ul>
    </div>
</footer>
