{% load cache %}
{% load date %}
{% load i18n %}
{% load interventions %}
{% load profile %}
{% load set %}
{% load topbar %}
{% load captureas %}

<header>
    <div class="mobile-menu-btn ico-after"></div>

    {# Logo #}
    <div class="header-logo">
        <a href="{% url "homepage" %}"
           class="header-logo-link">
            {{app.site.literal_name}}
        </a>
    </div>

    <div class="header-mobile-page-title">
        {% block mobile_title %}
            {{app.site.literal_name}}
        {% endblock %}
    </div>

    {# Menu #}
    <nav
        class="header-menu"
        id="menu"
        data-title="Menu"
        {% if user.is_authenticated and user.profile.is_hover_enabled %}
            data-hovering-mode
        {% endif %}
    >

        <ul class="header-menu-list">
            <li>
                <a href="{% url "publication:list" %}" class="mobile-menu-link has-dropdown {% block menu_publications %}{% endblock %}">
                    {% trans "Bibliothèque" %}
                    <span class="arrow"></span>
                </a>

                {% cache 1800 menu_publications user|groups %}
                    <div class="header-dropdown header-menu-dropdown">
                        <a href="{% url "publication:list" %}" class="dropdown-link-all">
                            {% trans "Accéder à tous les contenus de la bibliothèque" %}
                        </a>

                        <ul class="dropdown-list">
                            {% set 'TUTORIAL ARTICLE' as content_types %}
                            {% with categories=content_types.split|topbar_publication_categories %}
                                {% for title, subcats in categories.categories.items %}
                                    <li>
                                        <ul>
                                            <li class="dropdown-title">
                                                <a href="{% url "publication:category" subcats.0.2 %}">
                                                    {{ title }}
                                                </a>
                                            </li>
                                            {% for subcat, slug, parent_slug in subcats %}
                                                <li class="dropdown-list-element">
                                                    <a href="{% url 'publication:subcategory' slug_category=parent_slug slug=slug %}">
                                                        {{ subcat }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% empty %}
                                    <li>
                                        <ul>
                                            <li class="dropdown-title">
                                                {% trans "Aucun contenu disponible." %}
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                {% if categories.tags %}
                                    <li>
                                        <ul>
                                            <li class="dropdown-title">
                                                {% trans "Tags les plus utilisés" %}
                                            </li>
                                            {% for tag in categories.tags %}
                                                <li><a href="{% url 'publication:list' %}?tag={{ tag.slug }}">{{ tag }}</a></li>
                                            {% endfor %}
                                            <li><a href="{% url 'content:tags' %}">Tous les tags</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endwith %}
                        </ul>
                    </div>
                {% endcache %}
            </li>
            <li>
                <a href="{% url "opinion:list" %}" class="mobile-menu-link has-dropdown {% block menu_opinion %}{% endblock %}">
                    {% trans "Tribune" %}
                    <span class="arrow"></span>
                </a>
                {% cache 1800 menu_opinion user|groups %}
                    <div class="header-dropdown header-menu-dropdown">
                        <a href="{% url "opinion:list" %}" class="dropdown-link-all">
                            {% trans "Tous les billets" %}
                        </a>

                        <ul class="dropdown-list">
                            {% with categories='OPINION'|topbar_publication_categories %}
                                {% for title, subcats in categories.categories.items %}
                                    <li>
                                        <ul>
                                            <li class="dropdown-title">
                                                {{ title }}
                                            </li>
                                            {% for subcat, slug, parent_slug in subcats %}
                                                <li class="dropdown-list-element">
                                                    <a href="{% url "opinion:list" %}?category={{ slug }}">
                                                        {{ subcat }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% empty %}
                                    <li>
                                        <ul>
                                            <li class="dropdown-title">
                                                {% trans "Aucune tribune disponible." %}
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                {% if categories.tags %}
                                    <li>
                                        <ul>
                                            <li class="dropdown-title">
                                                {% trans "Tags les plus utilisés" %}
                                            </li>
                                            {% for tag in categories.tags %}
                                                <li><a href="{% url 'opinion:list' %}?tag={{ tag.slug }}">{{ tag }}</a></li>
                                            {% endfor %}
                                            <li><a href="{% url 'content:tags' %}?type=opinion">Tous les tags</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endwith %}
                        </ul>
                    </div>
                {% endcache %}
            </li>
            <li>
                <a href="{% url "forum:cats-forums-list" %}" class="mobile-menu-link has-dropdown {% block menu_forum %}{% endblock %}">
                    {% trans "Forum" %}
                    <span class="arrow"></span>
                </a>
                {% cache 1800 menu_forum user|groups %}
                    <div class="header-dropdown header-menu-dropdown">
                        <a href="{% url "forum:cats-forums-list" %}" class="dropdown-link-all">
                            {% trans "Tous les forums" %}
                        </a>

                        <ul class="dropdown-list">
                            {% with top=user|topbar_forum_categories %}
                                {% for title, slug, forums in top.categories %}
                                    <li>
                                        <ul>
                                            <li class="dropdown-title">
                                                <a href="{% url "forum:cat-forums-list" slug %}">
                                                    {{ title }}
                                                </a>
                                            </li>
                                            {% for forum in forums %}
                                                <li class="dropdown-list-element{% if forum.has_group %} staff-only{% endif %}">
                                                    <a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% empty %}
                                    <li>
                                        <ul>
                                            <li class="dropdown-title">
                                                {% trans "Aucun forum disponible." %}
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                {% if top.tags %}
                                    <li>
                                        <ul>
                                            <li class="dropdown-title">
                                                {% trans "Tags les plus utilisés" %}
                                            </li>
                                            {% for tag in top.tags %}
                                                {% if tag.slug %}
                                                    <li class="dropdown-list-element">
                                                        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endwith %}
                        </ul>
                    </div>
                {% endcache %}
            </li>
        </ul>
    </nav>


    {# Logbox #}
    <div class="logbox header-right {% if not user.is_authenticated %}unlogged{% endif %}">
        {% if user.is_authenticated %}

            <div class="notifs-links">
                {# MESSAGERIE PRIVEE #}
                <div>
                    <a href="{% url "mp:list" %}" class="ico-link" title="{% trans 'Messagerie privée' %}">
                        {% if header_private_topic_notifications.total > 0 %}
                            <span class="notif-count">{{ header_private_topic_notifications.total }}</span>
                        {% endif %}
                        <span class="notif-text ico ico-messages">{% trans "Messagerie privée" %}</span>
                    </a>

                    <div class="header-dropdown">
                        <span class="dropdown-title dropdown-pm">
                            <h1>{% trans "Messagerie privée" %}</h1>
                            <a href="{% url "mp:create" %}" class="ico-after pm-new white" title="{% trans 'Envoyer un nouveau message privé' %}"></a>
                        </span>

                        <ul class="dropdown-list">
                            {% for notification in header_private_topic_notifications.list %}
                                <li>
                                    <a href="{{ notification.url }}">
                                        <header>
                                            {% avatar notification.author.profile %}
                                            <span class="username">{{ notification.author.username }}</span>
                                            <span class="date">{{ notification.pubdate|format_date:True|capfirst }}</span>
                                        </header>
                                        <span class="topic">{{ notification.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}

                            {% if header_private_topic_notifications.total == 0 %}
                                <li class="dropdown-empty-message">
                                    {% trans "Aucun nouveau message" %}
                                </li>
                            {% endif %}
                        </ul>
                        <a href="{% url "mp:list" %}" class="dropdown-link-all">
                            {% trans "Toutes les conversations" %}
                        </a>
                    </div>
                </div>

                {# NOTIFICATIONS #}
                <div>
                    <a href="{% url "notification:list" %}" class="ico-link" title="{% trans 'Notifications' %}">
                        {% if header_general_notifications.total > 0 %}
                            <span class="notif-count">{{ header_general_notifications.total }}</span>
                        {% endif %}
                        <span class="notif-text ico ico-notifs">{% trans "Notifications" %}</span>
                    </a>

                    <div class="header-dropdown">
                        <h1 class="dropdown-title">{% trans "Notifications" %}</h1>

                        <ul class="dropdown-list">
                            {% for first_unread in header_general_notifications.list %}
                                <li>
                                    <a href="{{ first_unread.url }}">
                                      <header>
                                          {% avatar first_unread.author.profile %}
                                          <span class="username">{{ first_unread.author.username }}</span>
                                          <span class="date">{{ first_unread.pubdate|format_date:True|capfirst }}</span>
                                      </header>
                                      <span class="topic">{{ first_unread.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}

                            {% if header_general_notifications.total == 0 %}
                                <li class="dropdown-empty-message">
                                    {% trans "Aucune notification" %}
                                </li>
                            {% endif %}
                        </ul>
                        <a href="{% url "notification:list" %}" class="dropdown-link-all">
                            {% trans "Toutes les notifications" %}
                        </a>
                    </div>
                </div>

                {# ALERTES MODERATION #}
                {% if perms.forum.change_post %}
                    <div>
                        <a href="{% url "pages-alerts" %}" class="ico-link" title="{% trans 'Alertes de modération' %}">
                            <span class="notif-text ico ico-alerts">{% trans "Alertes de modération" %}</span>
                            {% if header_alerts.total > 0 %}
                                <span class="notif-count">{{ header_alerts.total }}</span>
                            {% endif %}
                        </a>

                        <div class="header-dropdown staff-only">
                            <h1 class="dropdown-title">{% trans "Alertes de modération" %}</h1>
                            <ul class="dropdown-list">
                                {% for alert in header_alerts.list %}
                                    <li>
                                        <a href="{{ alert.url }}">
                                            <header>
                                                <span class="username">{{ alert.title }}</span>
                                                <span class="date">{{ alert.pubdate|format_date:True|capfirst }}</span>
                                            </header>
                                            <span class="topic">{{ alert.text }}</span>
                                        </a>
                                    </li>
                                {% empty %}
                                    <li class="dropdown-empty-message">
                                        {% trans "Aucune alerte" %}
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="{% url "pages-alerts" %}" class="dropdown-link-all">
                                {% trans "Toutes les alertes" %}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div>
                {% with profile=user.profile %}
                    <a href="{% url "member-detail" user.username %}"
                       id="my-account"
                       class="mobile-menu-hide"
                       title="{% trans 'Mon profil' %}"
                       data-title="{% trans 'Mon profil' %}"

                       {% if not perms.forum.change_post %}
                           data-active="open-my-account"
                       {% endif %}
                    >
                        {% avatar profile %}
                        <span class="visuallyhidden">Mon profil</span>
                        <span class="username label">{{ user.username }}</span>
                    </a>
                {% endwith %}

                <div class="header-dropdown my-account-dropdown mobile-all-links" data-title="{% trans 'Mon compte' %}">
                    <h1 class="dropdown-title">{{ user.username|truncatechars:25 }}</h1>

                    <ul class="dropdown-list">
                        <li>
                            <a href="{% url "member-detail" user.username %}">{% trans "Mon profil" %}</a>
                        </li>
                        <li>
                            <a href="{% url "tutorial:find-tutorial" user.username %}">{% trans "Mes tutoriels" %}</a>
                        </li>
                        <li>
                            <a href="{% url "article:find-article" user.username %}">{% trans "Mes articles" %}</a>
                        </li>
                        <li>
                            <a href="{% url "opinion:find-opinion" user.username %}">{% trans "Mes billets" %}</a>
                        </li>
                        <li>
                            <a href="{% url "gallery:list" %}">{% trans "Galeries d’images" %}</a>
                        </li>
                        <li>
                            <a href="{% url "update-member" %}">{% trans "Paramètres" %}</a>
                        </li>

                        {% if perms.tutorialv2.change_publishablecontent %}
                            <li class="staff-only">
                                <a href="{% url "content:mass-edit-goals" %}?non-classes">{% trans "Modification des objectifs" %}</a>
                            </li>
                        {% endif %}

                        {% if perms.tutorialv2.change_validation %}
                            {% with waiting_tutorials_count="TUTORIAL"|waiting_count waiting_articles_count="ARTICLE"|waiting_count waiting_opinions_count="OPINION"|waiting_count %}
                                <li class="staff-only">
                                    <a href="{% url "validation:list" %}">
                                        {% trans "Validation" %}

                                        {% captureas tutorials_chunk %}
                                            {{ waiting_tutorials_count }} tutoriel{{ waiting_tutorials_count|pluralize:"s" }}
                                        {% endcaptureas %}
                                        {% captureas articles_chunk %}
                                            {{ waiting_articles_count }} article{{ waiting_articles_count|pluralize:"s" }}
                                        {% endcaptureas %}

                                        {% if waiting_tutorials_count > 0 and waiting_articles_count > 0 %}
                                            ({{ tutorials_chunk }} et {{ articles_chunk }})
                                        {% elif waiting_tutorials_count > 0 and not waiting_articles_count > 0 %}
                                            ({{ tutorials_chunk }})
                                        {% elif not waiting_tutorials_count > 0 and waiting_articles_count > 0 %}
                                            ({{ articles_chunk }})
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="staff-only">
                                    <a href="{% url "validation:list-opinion" %}">
                                        {% trans "Choix des billets" %}
                                        {% if waiting_opinions_count > 0 %}
                                            ({{ waiting_opinions_count }})
                                        {% endif %}
                                    </a>
                                </li>
                            {% endwith %}
                        {% endif %}

                        {% if perms.utils.change_hat %}
                            {% with requested_hats_count=user|requested_hats_count %}
                                <li class="staff-only">
                                    <a href="{% url "requested-hats" %}">
                                        {% trans "Demandes de casquettes" %}
                                        {% if requested_hats_count > 0 %}
                                            ({{ requested_hats_count }})
                                        {% endif %}
                                    </a>
                                </li>
                            {% endwith %}
                        {% endif %}

                        {% if perms.member.change_bannedemailprovider %}
                            {% with new_providers_count=user|new_providers_count %}
                                <li class="staff-only">
                                    <a href="{% url 'new-email-providers' %}">
                                        {% trans "Fournisseurs e-mail" %}
                                        {% if new_providers_count > 0 %}
                                            ({{ new_providers_count }})
                                        {% endif %}
                                    </a>
                                </li>
                            {% endwith %}
                        {% endif %}

                        {% if perms.featured.change_featuredresource %}
                            <li class="staff-only">
                                <a href="{% url "featured:resource-list" %}">{% trans 'Gestion des mises en avant' %}</a>
                            </li>
                        {% endif %}
                        <li>
                            <form
                                method="post"
                                action="{% url "member-logout" %}"
                            >
                                {% csrf_token %}
                                <button type="submit">{% trans "Déconnexion" %}</button>
                            </form>
                        </li>

                    </ul>
                </div>
            </div>

        {% else %} {# Not logged #}
            <a href="{% url "member-login" %}?next={{ request.path }}">{% trans "Connexion" %}</a>
            <a href="{% url "register-member" %}">{% trans "Inscription" %}</a>
        {% endif %}
    </div>
</header>
