{% extends "base.html" %}

{% block menu_home %}
class="active"
{% endblock %}

{% load staticfiles %}

{# Titles #}

{% block title %}
    Accueil
{% endblock %}

{% block meta %}
    <meta name="description" content="Bienvenue sur LeBonProjet, une communauté
    qui a pour objectif de réaliser des projets en mettant en commun leurs
    compétences respectives.
    Grâce à ce site, vous éviterez les pièges dans lequels tombent de nombreux
    débutant." />
{% endblock %}

{# Content #}

{% block content %}

<div class="row">
    {# News #}
    <div class="large-4 columns">
        <div class="home-app-title">
            <h2 >
                <a class="fi-clipboard-pencil" href="{% url "lbp.news.views.index" %}">
                    News
                </a>
            </h2>
        </div>

        {% if last_news %}
            {% for news in last_news %}
            <div class="large-12">
                <div class="large-3 column hide-for-small">
                    {% if news.image.thumb %}
                    <img src="{{news.image.thumb }}"/>
                    {% endif %}
                </div>
                <div class="large-9 column">
                    <a href="{{news.get_absolute_url }}">{{ news.title }}</a>
                </div>
                <div class="large-12 column">
                    <p>{{ news.description }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Pas de news pour l'instant.</p>
        {% endif %}
    </div>

    <div class="large-4 columns">
        <div class="home-app-title">
            <h2 >
                <a class="fi-book" href="{% url "lbp.project.views.index" %}">
                    Projets
                </a>
            </h2>
        </div>

        {% if last_projects %}
            {% for project in last_projects %}
                <div class="large-12">
                    <div class="large-3 column hide-for-small">
                        {% if project.thumbnail %}
                        <img src="{{project.image.thumbnail.url }}"/>
                        {% endif %}
                    </div>
                    <div class="large-9 column">
                        <a href="{{project.get_absolute_url }}">{{ project.title }}</a>
                    </div>
                    <div class="large-12 column">
                        <p>{{ project.description }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun projet actuellement.</p>
        {% endif %}
    </div>
    <div class="large-4 columns">
        <div class="home-app-title">
            <h2  >
                <a class="fi-comments" href="{% url "lbp.forum.views.index" %}">
                    Forums
                </a>
            </h2>
        </div>

        {% if last_topics %}
            {% for topic in last_topics %}
                {% include "forum/topic_item_common.part.html" %}
            {% endfor %}
        {% else %}
            <p>Aucun sujet récent.</p>
        {% endif %}
    </div>
</div>
<div class="row hide-for-small">
    <div class="small-4 columns">
        <form id="search-article" name="search-article" type="GET" action="{% url "haystack_search" %}">
            <div class="row collapse">
                <div class="small-7 columns">
                    <input type="hidden" name="models" value="article.article" />
                  <input type="text" name="q" placeholder="Rechercher">
                </div>
                <div class="small-3 columns left">
                  <button type="submit" class="button"><i class="fi-magnifying-glass size-12"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="large-4 columns">
        <form id="search-tuto" name="search-tuto" type="GET" action="{% url "haystack_search" %}">
            <div class="row collapse">
                <div class="small-7 columns">
                    <input type="hidden" name="models" value="tutorial.extract" />
                  <input type="text" name="q" placeholder="Rechercher">
                </div>
                <div class="small-3 columns left">
                  <button type="submit" class="button"><i class="fi-magnifying-glass size-12"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="large-4 columns">
        <form id="search-forum" name="search-forum" type="GET" action="{% url "haystack_search" %}">
            <div class="row collapse">
                <div class="small-7 columns">
                    <input type="hidden" name="models" value="forum.topic" />
                  <input type="text" name="q" placeholder="Rechercher">
                </div>
                <div class="small-3 columns left">
                  <button type="submit" class="button"><i class="fi-magnifying-glass size-12"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
