{% extends "base.html" %}

{% load staticfiles %}
{% load emarkdown %}
{% load date %}
{% load interventions %}
{% load topbar %}
{% load thumbnail %}
{% load i18n %}
{% load captureas %}



{% block body_class %}home{% endblock %}

{% block searchbox_id %}search-home{% endblock %}

{% block content_out %}
    {% url 'zds.tutorial.views.index' as url_tutorials %}
    {% url 'zds.article.views.index' as url_articles %}
    {% url 'cats-forums-list' as url_forums %}

    {% url 'zds.pages.views.association' as url_association %}

    <section class="home-header">
        <div class="home-wrapper">
        {% if user.is_authenticated %}
            <section class="home-description connected">
                <blockquote><span>{{ quote }}</span></blockquote>

                {% if featured_message %}
                    {% include "featured/includes/featured_message.part.html" %}
                {% endif %}
            </section>
        {% else %}
            <section class="home-description short" id="description">
                <blockquote><span>{% trans "Zeste de Savoir, la connaissance" %}</span> <span>{% trans "pour tous et sans pépins" %}</span></blockquote>
                <a class="home-description-button" href="#description">
                    {% trans "En savoir plus" %}
                </a>
                <a href="#" class="home-description-button close-description">
                    {% trans "Fermer" %}
                </a>
            </section>
            <section class="home-description">
                <div class="column">
                    <h2>
                        {% trans "La connaissance pour tous" %}
                    </h2>
                    <p>
                    {% blocktrans with site_name=app.site.litteral_name %}
                        {{site_name}} est un site de <strong>partage de connaissances</strong> sur lequel vous trouverez
                        des <a href="{{url_tutorials}}">tutoriels de tous niveaux</a>, des
                        <a href='{{url_articles}}'>articles</a> et des <a href='{{url_forums}}'>forums d'entraide</a>
                        animés par et pour la communauté. Les sujets abordés sont, pour l'instant, l'informatique et les
                        sciences, mais nous n'attendons que vous pour élargir les domaines présentés !
                    {% endblocktrans %}
                    </p>
                </div>
                <div class="column">
                    <h2>
                        {% trans "Partagez vos connaissances" %}
                    </h2>
                    <p>
                    {% blocktrans %}
                        Tous les membres peuvent écrire et <strong>publier des tutoriels et articles sur le site</strong>.
                        Pour assurer la qualité et la pédagogie du contenu, l'équipe du site valide chaque cours avant
                        publication.
                    {% endblocktrans %}
                    </p>
                </div>
                <div class="column">
                    <h2>
                        {% trans "Gratuit et sans publicité" %}
                    </h2>
                    <p>
                    {% blocktrans %}
                        Tout cela est <strong>entièrement gratuit et garanti sans publicité</strong>, le site est géré
                        et financé par une <a href="{{url_association}}">association</a> à but non lucratif.
                    {% endblocktrans %}
                    </p>
                    {% if app.site.contribute_link %}
                    <p>
                        <a class="home-description-button" href="{{ app.site.contribute_link }}">
                            {% trans "Aider à développer la plateforme" %}
                        </a>
                    </p>
                    {% endif %}
                </div>
            </section>
        {% endif %}

             <section class="home-search-box">
                <form action='{% url "haystack_search" %}' id="search-home">
                    <label for="search-home-input">
                        {% trans "Recherche" %}
                    </label>
                    <input type="text" id="search-home-input" name="q" placeholder='{% trans "Mathématiques, UDK, HTML, Java, PHP, ..." %}' >
                    <button type="submit" class="ico-after ico-search" title='{% trans "Lancer la recherche" %}'></button>
                </form>
            </section>
        </div>
    </section>

    <div class="home-wrapper">
        <section class="home-pinned-content">
            <h2 class="home-heading heading-white ico-after ico-news" itemprop="name">
                {% trans "À la une" %}

                {% if perms.featured.change_featuredresource %}
                    <a href="{% url "featured-resource-list" %}" class="btn btn-grey">{% trans "Gérer les Unes" %}</a>
                {% endif %}
            </h2>

            <div class="featured-resource-row">
                {% for featured_resource in last_featured_resources %}
                    {% include "featured/includes/featured_resource_item.part.html" %}
                {% empty %}
                    <p class="no-featured-resource">{% trans "Aucun élément &quot;À la une&quot; disponible" %}</p>
                {% endfor %}
            </div>
        </section>
        <div class="home-row">
           <section itemscope itemtype="http://schema.org/ItemList">
                <h2 class="ico-after ico-tutorials home-heading" itemprop="name">
                    {% trans "Derniers tutoriels" %}
                    <a href="{% url "zds.tutorial.views.index" %}" class="btn btn-grey">{% trans "Tous les tutoriels" %}</a>
                </h2>

                <meta itemprop="itemListOrder" content="Descending">

                <div class="content-item-list">
                    {% for tutorial in last_tutorials %}
                        {% include 'tutorial/includes/tutorial_item.part.html' with show_description=True item_class=forloop.first|yesno:", mini" %}
                    {% empty %}
                        <p>{% trans "Aucun tutoriel disponible." %}</p>
                    {% endfor %}
                    <div class="content-item write-tutorial">
                        <div class="write-tutorial-text">
                            <p>{% blocktrans %}Il y a {{ tutorials_count }} tutoriels sur Zeste de Savoir.{% endblocktrans %}</p>
                            <p class="lead">{% trans "Pourquoi pas le vôtre ?" %}</p>
                        </div>
                        <a href="{% url "zds.tutorial.views.add_tutorial" %}" class="btn btn-write-tutorial">{% trans "Rédiger un tutoriel" %}</a>
                    </div>
                </div>
            </section>

            <section itemscope itemtype="http://schema.org/ItemList">
                <h2 class="ico-after ico-articles home-heading" itemprop="name">
                    {% trans "Derniers articles" %}
                    <a href="{% url "zds.article.views.index" %}" class="btn btn-grey">{% trans "Tous les articles" %}</a>
                </h2>

                <meta itemprop="itemListOrder" content="Descending">

                <div class="content-item-list">
                    {% for article in last_articles %}
                        {% include 'article/includes/article_item.part.html' with show_description=True %}
                    {% empty %}
                        <p>{% trans "Aucun article disponible." %}</p>
                    {% endfor %}
                </div>
            </section>
        </div>

        <section itemscope itemtype="http://schema.org/ItemList">
            <h2 class="home-heading ico-after ico-forum" itemprop="name">
                {% trans "Derniers sujets" %}
                <a href="{% url 'cats-forums-list' %}" class="btn btn-grey">{% trans "Tous les sujets" %}</a>
            </h2>

            <meta itemprop="itemListOrder" content="Descending">

            <div class="content-item-list">
              {% for topic in last_topics %}
                  {% include 'forum/includes/topic_item.part.html' %}
              {% empty %}
                  <p>{% trans "Aucun sujet disponible." %}</p>
              {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
