{% extends "tutorial/validation/index.html" %}
{% load date %}
{% load captureas %}
{% load emarkdown %}
{% load i18n %}


{% block title %}
    {% trans "Historique de validation" %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{% url "tutorial-list-validation" %}">{% trans "Validation" %}</a></li>
    <li><a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a></li>
    <li>{% trans "Historique" %}</li>
{% endblock %}



{% block headline %}
    {{ tutorial.title }}
{% endblock %}


{% block headline_sub %}
    {% trans "Historique de validation" %}
{% endblock %}



{% block content %}
    {% include "tutorial/includes/tags_authors.part.html" %}

    {% if validations %}
        <table class="fullwidth">
            <thead>
                <tr>
                    <th width="50%">{% trans "Proposé" %}</th>
                    <th width="50%">{% trans "Statut" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for validation in validations %}
                    <tr>
                        <td>
                            {{ validation.date_proposition|format_date|capfirst }}
                            {% if validation.comment_authors %}
                                <br>
                                <a href="#view-comment-authors-{{ validation.pk }}" class="open-modal">
                                    {% trans "Message laissé à la validation" %}
                                </a>
                                <div class="modal modal-big" id="view-comment-authors-{{ validation.pk }}" data-modal-close="Fermer">
                                    <p>
                                        {{ validation.comment_authors|emarkdown }}
                                    </p>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% captureas reservation_url %}
                                {% url "tutorial-reservation" validation.pk %}
                            {% endcaptureas %}
                            {% include "misc/validation.part.html" %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {% trans "Ce tutoriel n'a jamais été soumis en validation" %}.
        </p>
    {% endif %}
{% endblock %}