{% extends "tutorial/validation/index.html" %}
{% load date %}



{% block title %}
    Historique de validation
{% endblock %}



{% block breadcrumb %}
    <li><a href="{% url "zds.tutorial.views.list_validation" %}">Validation</a></li>
    <li><a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a></li>
    <li>Historique</li>
{% endblock %}



{% block headline %}
    Historique de validation
{% endblock %}



{% block content %}
    {% if validations %}
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th width="8%">Catégorie(s)</th>
                    <th width="8%">Auteur(s)</th>
                    <th width="8%">Proposé</th>
                    <th width="8%">Validateur</th>
                    <th width="8%">Statut</th>
                    <th width="8%">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for validation in validations %}
                    <tr>
                        <td>
                            <a href="{% url "zds.tutorial.views.view_tutorial" validation.tutorial.pk validation.tutorial.slug %}?version={{ validation.version }}" >
                                {{ validation.tutorial.title }}
                            </a>
                        </td>
                        <td>
                            {% for subcategory in validation.tutorial.subcategory.all %}
                                <a href="{% url "zds.tutorial.views.list_validation" %}?subcategory={{ subcategory.pk }}">
                                    {{ subcategory.title }}
                                </a>
                            {% endfor %}
                        </td>
                        <td>
                            {% for author in validation.tutorial.authors.all %}
                                <a href="{% url "zds.member.views.details" user.username %}">
                                    {{ author.username }}
                                </a>
                            {% endfor %}
                        </td>
                        <td>
                            <span>{{ validation.date_proposition|format_date|capfirst }}</span>
                        </td>
                        <td>
                            {% if validation.validator %}
                                <a href="{% url "zds.member.views.details" validation.validator.username %}">
                                    {{ validation.validator.username }}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if validation.date_reserve %}
                                <span>
                                    {{ validation.date_reserve|format_date|capfirst }}
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if validation.is_pending %}
                                <a href="{% url "zds.tutorial.views.reservation" validation.pk %}">
                                    Réserver
                                </a>
                            {% elif validation.is_pending_valid %}
                                <a href="#unreservation" class="open-modal">
                                    Annuler la réservation
                                </a>
                                <form action="{% url "zds.tutorial.views.reservation" validation.pk %}" class="modal modal-small" id="unreservation">
                                    <p>
                                        Le tutoriel est actuellement réservé par {% include "misc/member_item.part.html" with member=validation.validator %}, êtes-vous certains de vouloir <strong>annuler la réservation</strong> ?
                                    </p>
                                    <button type="submit">
                                        Confirmer
                                    </button>
                                </form>
                            {% elif validation.is_accept %}
                                <span>Accepté</span>
                            {% elif validation.is_reject %}
                                <span>Rejeté</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Ce tutoriel n'a jamais été soumis en validation.
        </p>
    {% endif %}
{% endblock %}