{% load emarkdown %}
{% load i18n %}
{% load date %}

<div class="content-info">

    <a href="{{ search_result.get_absolute_url }}" title="{{ search_result.title }}">
        <h3 class="content-title" itemprop="itemListElement">
            {{ search_result.title }}
        </h3>
    </a>

    <p class="content-description">
        {% with text=search_result.subtitle|striptags|safe %}
            {{ text }}
        {% endwith %}
    </p>

    <div class="content-meta inline" title="Sujet du forum">
        <p>
            {% trans "Sujet du forum" %}
            <a href="{{ search_result.forum_get_absolute_url }}">{{ search_result.forum_title }}</a> &bullet;

            <time class="content-pubdate" pubdate="{{ search_result.pubdate|from_elasticsearch_date }}">
                <span class="long">{{ search_result.pubdate|from_elasticsearch_date|format_date|capfirst }}</span>
                <span class="short">{{ search_result.pubdate|from_elasticsearch_date|format_date:True|capfirst }}</span>
            </time>
        </p>
    </div>

</div>
