<ul class="pagination pagination-{{ position }} pagination-chapter">
    {% if prev %}
        <li class="prev">
            <a
                {% if online %}
                    href="{{ prev.get_absolute_url_online }}"
                {% else %}
                    href="{{ prev.get_absolute_url }}{%if version %}?version={{version}}{% endif %}"
                {% endif %}
                class="ico-after arrow-left"
            >
                {{ prev.title }}
            </a>
        </li>
    {% endif %}

    {% if next %}
        <li class="next">
            <a
                {% if online %}
                    href="{{ next.get_absolute_url_online }}"
                {% else %}
                    href="{{ next.get_absolute_url }}{%if version %}?version={{version}}{% endif %}"
                {% endif %}
                class="ico-after arrow-right"
            >
                {{ next.title }}
            </a>
        </li>
    {% endif %}
</ul>