{% load emarkdown %}
{% load i18n %}


{% with extracts=chapter.extracts %}
    {% if not chapter.type == 'MINI' %}
        {% if chapter.intro and chapter.intro != None %}
            {{ chapter.intro|emarkdown:is_js }}
        {% elif not tutorial.is_beta %}
            <p class="ico-after warning">
                {% trans "Il n'y a pas d'introduction" %}.
            </p>
        {% endif %}
    {% endif %}

    <hr />


    {% if extracts %}
        <ul>
            {% for extract in extracts %}
                <li>
                    <a href="#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}">
                        {{ extract.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="ico-after warning">
            {% trans "Il n'y a aucun extrait" %}.
        </p>
    {% endif %}
    {% for extract in extracts %}
        <h2 id="{{ extract.position_in_chapter }}-{{ extract.title|slugify }}">
            <a href="#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}">
                {{ extract.title }}
            </a>
        </h2>

        {% if user in authors or perms.tutorial.change_tutorial %}
            <div class="actions-title">
                <a href="#delete-{{ extract.pk }}" class="open-modal ico-after cross btn btn-grey">{% trans "Supprimer" %}</a>
                <form action="{% url "tutorial-modify-extract" %}" method="post" id="delete-{{ extract.pk }}" class="modal modal-small">
                    <p>
                        {% blocktrans with extract_title=extract.title %}
                        Êtes-vous certain de vouloir supprimer <strong>définitivement</strong> l'extrait <em>{{ extract_title }}</em> ?
                        {% endblocktrans %}
                    </p>
                    <input type="hidden" name="extract" value="{{ extract.pk }}">
                    {% csrf_token %}
                    <button type="submit" name="delete">
                        {% trans "Confirmer" %}
                    </button>
                </form>

                <a href="#move-extract-{{ extract.pk }}" class="open-modal ico-after move btn btn-grey">{% trans "Déplacer" %}</a>
                <form action="{% url "tutorial-modify-extract" %}" method="post" class="modal modal-small" id="move-extract-{{ extract.pk }}">
                    <select name="move_target">
                        <option disabled="disabled">{% trans "Déplacer" %}</option>
                        {% if extract.position_in_chapter > 1 %}
                            <option value="{{ extract.position_in_chapter|add:-1 }}">{% trans "Monter" %}</option>
                        {% endif %}

                        {% if extract.position_in_chapter < extracts|length %}
                            <option value="{{ extract.position_in_chapter|add:1 }}">{% trans "Descendre" %}</option>
                        {% endif %}

                        <option disabled>&mdash; {% trans "Déplacer avant" %}</option>
                        {% for extract_mv in extracts %}
                            {% if extract != extract_mv and extract_mv.position_in_chapter|add:-1 != extract.position_in_chapter %}
                                <option value="{{ extract_mv.position_in_chapter }}">
                                    {% trans "Extrait" %} {{ extract_mv.position_in_chapter }} : {{ extract_mv.title }}
                                </option>
                            {% endif %}
                        {% endfor %}

                        <option disabled>&mdash; {% trans "Déplacer après" %}</option>
                        {% for extract_mv in extracts %}
                            {% if extract != extract_mv and extract_mv.position_in_chapter|add:1 != extract.position_in_chapter %}
                                <option value="{{ extract_mv.position_in_chapter }}">
                                    {% trans "Extrait" %} {{ extract_mv.position_in_chapter }} : {{ extract_mv.title }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="hidden" name="extract" value="{{ extract.pk }}">
                    <input type="hidden" name="move" value="">

                    {% csrf_token %}
                    <button type="submit">
                        {% trans "Déplacer" %}
                    </button>
                </form>

                <a href="{% url "tutorial-edit-extract" %}?extrait={{ extract.pk }}" class="ico-after edit btn btn-grey">
                    {% trans "Éditer" %}
                </a>
            </div>
        {% endif %}

        {% if extract.txt %}
            {{ extract.txt|emarkdown:is_js }}
        {% else %}
            <p class="ico-after warning">
                {% trans "Cet extrait est vide" %}.
            </p>
        {% endif %}
    {% endfor %}

    <hr />

    {% if not chapter.type == 'MINI' %}
        {% if chapter.conclu and chapter.conclu != None %}
            {{ chapter.conclu|emarkdown:is_js }}
        {% elif not tutorial.is_beta %}
            <p class="ico-after warning">
                {% trans "Il n'y a pas de conclusion" %}.
            </p>
        {% endif %}
    {% endif %}
{% endwith %}
