{% load emarkdown %}



{% with tutorial=part.tutorial %}
    {% with authors=tutorial.authors.all %}
        {% with chapters=part.chapters %}            
            {% if part.intro %}
                {% if beta %}
                    {{ part.intro|emarkdown }}
                {% else %}
                    {{ part.intro|safe }}
                {% endif %}
            {% endif %}

            <ul>
                {% for chapter in chapters %}
                    <li>
                        <h3>
                            <a href=" 
                                {% if beta %}
                                    {% url "view-chapter-url-beta" tutorial.pk tutorial.slug part.slug chapter.slug %}{% if version %}?version={{version}}{% endif %}
                                {% elif online %}
                                    {% url "view-chapter-url-online" tutorial.pk tutorial.slug part.slug chapter.slug %}
                                {% else %}
                                    {% url "view-chapter-url" tutorial.pk tutorial.slug part.slug chapter.slug %}
                                {% endif %}
                            ">
                                Chapitre {{ chapter.part.position_in_tutorial }}.{{ chapter.position_in_part }} | {{ chapter.title }}
                            </a>
                        </h3>
                        <ul>
                            {% for extract in chapter.extracts %}
                                <li>
                                    <h4>
                                        <a href="{% spaceless %}
                                            {% if beta %}
                                                {% url "view-chapter-url-beta" tutorial.pk tutorial.slug part.slug chapter.slug %}{% if version %}?version={{version}}{% endif %}
                                            {% elif online %}
                                                {% url "view-chapter-url-online" tutorial.pk tutorial.slug part.slug chapter.slug %}
                                            {% else %}
                                                {% url "view-chapter-url" tutorial.pk tutorial.slug part.slug chapter.slug %}
                                            {% endif %}
                                            {% endspaceless %}#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}">
                                            {{ extract.title }}
                                        </a>
                                    </h4>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            
            {% if part.conclu %}
                {% if beta %}
                    {{ part.conclu|emarkdown }}
                {% else %}
                    {{ part.conclu|safe }}
                {% endif %}
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endwith %}
