{% load emarkdown %}
{% load profile %}
{% load roman %}



<div class="mobile-menu-bloc {% if not tutorial.type == 'MINI' %}accordeon{% endif %}" data-title="Sommaire du tutoriel">
    <h3>Sommaire</h3>

    {% if tutorial.type == 'MINI' %}
        {# Small tutorial #}
        {% if chapter.extracts %}
            <ul>
                {% for extract in chapter.extracts %}
                    <li>
                        <a data-num="{{ extract.position_in_chapter }}"
                           href="#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}"
                           class="mobile-menu-link mobile-menu-sublink"
                        >
                            {{ extract.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        {# Large tutorial #}
        {% if tutorial.get_parts %}
            {% for part in tutorial.get_parts %}
                <h4 data-num="{{ part.position_in_tutorial|roman }}">
                    <a class="mobile-menu-link"
                       {% if online %}
                           href="{% url "view-part-url-online" tutorial.pk tutorial.slug part.slug %}"
                       {% else %}
                           href="{% url "view-part-url" tutorial.pk tutorial.slug part.slug %}{% if version %}?version={{version}}{% endif %}"
                       {% endif %}
                    >
                        {{ part.title }}
                    </a>
                </h4>
                
                <ul>
                    {% for chapter in part.get_chapters %}
                        <li {% if chapter_current.pk == chapter.pk %}class="current"{% endif %}>
                            <a data-num="{{ chapter.position_in_part }}"
                               {% if online %}
                                   href="{% url "view-chapter-url-online" tutorial.pk tutorial.slug part.slug chapter.slug %}"
                               {% else %}
                                   href="{% url "view-chapter-url" tutorial.pk tutorial.slug part.slug chapter.slug %}{% if version %}?version={{ version }}{% endif %}"
                               {% endif %}
                               class="mobile-menu-link mobile-menu-sublink {% if chapter_current.pk = chapter.pk %}unread{% endif %}"
                            >
                                {{ chapter.title }}
                            </a>

                            {% if chapter_current.pk == chapter.pk %}
                                <ul class="mobile-menu-bloc mobile-all-links" data-title="Sommaire du chapitre">
                                    {% for extract in chapter.extracts %}
                                        <li>
                                            <a
                                               {% if online %}
                                                   href="{% url "view-chapter-url-online" tutorial.pk tutorial.slug part.slug chapter.slug %}#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}"
                                               {% else %}
                                                   href="{% url "view-chapter-url" tutorial.pk tutorial.slug part.slug chapter.slug %}{% if version %}?version={{ version }}{% endif %}#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}"
                                               {% endif %}
                                            >
                                                {{ extract.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>
