{% if tutorial.subcategory.all|length > 0 %}
    <ul class="taglist">
        {% for catofsubcat in tutorial.subcategory.all %}
            <li><a href="{{ catofsubcat.get_absolute_url_tutorial }}">{{ catofsubcat.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<div class="authors">
    <span class="authors-label">Auteurs : </span>
    <ul>
        {% for member in tutorial.authors.all %}
            <li>
                {% include "misc/member_item.part.html" with avatar=True %}
            </li>
        {% endfor %}

        {% if add_author = True %}
            <li>
                <a href="#add-author" class="open-modal ico-after more blue">
                    Ajouter un auteur
                </a>
            </li>
        {% endif %}
    </ul>
</div>