{% load date %}
{% load i18n %}



{% if tutorial.subcategory.all|length > 0 %}
    <ul class="taglist" itemprop="keywords">
        {% for catofsubcat in tutorial.subcategory.all %}
            <li><a href="{{ catofsubcat.get_absolute_url_tutorial }}">{{ catofsubcat.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}



{% if tutorial.update %}
    <span class="pubdate">
        {% trans "Dernière mise à jour" %} :  
        <time datetime="{{ tutorial.update|date:"c" }}" pubdate="pubdate" itemprop="dateModified">
            {{ tutorial.update|format_date }}
        </time>
    </span>
{% endif %}



<div class="authors">
    <span class="authors-label">{% trans "Auteur" %}{{ tutorial.authors.all|pluralize }} : </span>
    <ul>
        {% for member in tutorial.authors.all %}
            <li>
                {% include "misc/member_item.part.html" with avatar=True author=True %}
            </li>
        {% endfor %}

        {% if add_author = True %}
            <li>
                <a href="#add-author" class="open-modal ico-after more blue">
                    {% trans "Ajouter un auteur" %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
