{% load thumbnail %}

<article itemprop="itemListElement">
    <a href="
        {% if beta %}
            {{ tutorial.get_absolute_url_beta }}
        {% else %}
            {{ tutorial.get_absolute_url_online }}
        {% endif %}
    ">
        {% if tutorial.image.physical.tutorial_illu.url %}
            <img src="{{ tutorial.image.physical.tutorial_illu.url }}" alt="" class="tutorial-img avatar">
        {% endif %}
        <div class="tutorial-infos {% if not tutorial.image.physical.tutorial_illu.url %}no-illu{% endif %}">
            <h3>{{ tutorial.title }}</h3>
            
            <span class="article-metadata">
                {% if tutorial.subcategory %}
                    {% for category in tutorial.subcategory.all %}
                        {{ category.title }}                                    
                    {% endfor %}
                {% endif %}
            </span>
        </div>
    </a>
</article>
