{% load thumbnail %}

<article class="content-item {% if not tutorial.image.physical.tutorial_illu.url %}without-illu{% endif %}">
    <a href="
        {% if beta %}
            {{ tutorial.get_absolute_url_beta }}
        {% else %}
            {{ tutorial.get_absolute_url_online }}
        {% endif %}
    ">
        {% if tutorial.image.physical.tutorial_illu.url %}
            <img src="{{ tutorial.image.physical.tutorial_illu.url }}" alt="" class="content-illu">
        {% endif %}
        <div class="tutorial-item ">
            <h3 itemprop="itemListElement" title="{{ tutorial.title }}">
                {{ tutorial.title }}
            </h3>

            <span class="tutorial-metadata">
                {% if tutorial.subcategory %}
                    {% for category in tutorial.subcategory.all %}
                        {% if not forloop.first %}
                            -
                        {% endif %}
                        {{ category.title }}
                    {% endfor %}
                {% endif %}
            </span>
        </div>
    </a>
</article>
