{% load i18n %}

{% if user not in tutorial.authors.all %}

    <a href="#warn-typo-modal" class="open-modal btn btn-grey ico-after edit blue">
        {% if obj_type == "tutorial" %}
            {% trans "Signaler une faute dans ce tutoriel" %}
        {%  elif obj_type == "chapter" %}
            {% trans "Signaler une faute dans ce chapitre" %}
        {% endif %}</a>
    <form class="modal modal-big" id="warn-typo-modal" action="{% url "tutorial-warn-typo" obj_type obj_pk %}" method="post" >
        <p>
            {% if obj_type == "tutorial" %}
                {% trans "J'ai trouvé une faute dans ce tutoriel" %}
            {%  elif obj_type == "chapter" %}
                {% trans "J'ai trouvé une faute dans ce chapitre" %}
            {% endif %}
        :
        </p>
        {% csrf_token %}
        <input type="hidden" name="version_tutorial" value="{{ version_tutorial }}">
        <p>
            <textarea name="explication" placeholder="{% blocktrans %}Expliquez ici la faute{% endblocktrans %}" required="required"></textarea>
        </p>
        <p>
            {% trans "Pas assez de place ?" %}

            {% if obj_type == "tutorial" %}
                <a href="{% url 'mp-new' %}?title={% trans "Je voudrais signaler une faute dans le tutoriel" %} &quot;{{ tutorial.title }}&quot;{% for username in tutorial.authors.all %}&amp;username={{ username }}{% endfor %}" >
            {%  elif obj_type == "chapter" %}
                <a href="{% url 'mp-new' %}?title={% trans "Je voudrais signaler une faute dans le chapitre" %} &quot;{{ chapter.title }}&quot;{% for username in tutorial.authors.all %}&amp;username={{ username }}{% endfor %}" >
            {% endif %}

                {% trans "Envoyez un MP" %}
                {% if tutorial.authors.all|length > 1 %}
                    {% trans "aux auteurs" %}
                {% else %}
                    {% trans "à l'auteur" %}
                {% endif %}
            </a>
        </p>
        <button type="submit">{% trans "Envoyer" %}</button>
    </form>

{% endif %}