{% extends "base.html" %}
{% load i18n %}


{% block title_base %}
   {% trans "Paramètres" %}
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url "zds.member.views.settings_profile" %}">{% trans "Paramètres" %}</a></li>
{% endblock %}



{% block headline %}
    {% trans "Paramètres" %}
{% endblock %}



{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        <div class="mobile-menu-bloc mobile-all-links" data-title="Navigation">
            <h3>{% trans "Navigation" %}</h3>
            <ul>
                <li><a href="{% url "zds.member.views.settings_profile" %}">{% trans "Mon profil" %}</a></li>
                <li><a href="{% url "zds.member.views.settings_account" %}">{% trans "Compte" %}</a></li>
                <li><a href="{% url "zds.member.views.settings_user" %}">{% trans "Pseudo et courriel" %}</a></li>
				<li><a href="{% url "zds.member.views.warning_unregister" %}">{% trans "Se désinscrire" %}</a></li>
            </ul>
        </div>
    </aside>
{% endblock %}