{% extends "base.html" %}



{% block title %}
   Paramètres
{% endblock %}



{% block headline %}
	Paramètres
{% endblock %}



{% block sidebar %}
    <aside class="sidebar mobile-menu-hide">
        <div class="mobile-menu-bloc mobile-all-links" data-title="Navigation">
            <h3>Navigation</h3>
            <ul>
                <li><a href="{% url "zds.member.views.settings_profile" %}">Profil</a></li>
                <li><a href="{% url "zds.member.views.settings_account" %}">Compte</a></li>
                <li><a href="{% url "zds.member.views.settings_user" %}">Pseudo/Email</a></li>
            </ul>
        </div>
    </aside>
{% endblock %}