{% extends "member/base.html" %}
{% load date %}
{% load i18n %}
{% load remove_url_scheme %}

{% block title %}
    {% trans "Membres par IP" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "IP" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Membres par IP" %} : <strong>{{ ip }}</strong>
{% endblock %}



{% block content %}
    <p>
        {% trans "Liste des membres dont la dernière IP est" %} {{ ip }}
    </p>

    <ul>
        {% for member in members %}
            <li>
                {% spaceless %}
                    <a href="{{ member.get_absolute_url }}"
                       class="member-item"
                       itemscope
                       itemtype="http://schema.org/Person">

                        <img src="{{ member.get_avatar_url|remove_url_scheme }}"
                             alt=""
                             class="avatar"
                             itemprop="image">

                        <span itemprop="name">{{ member.user.username }}</span>
                    </a>
                {% endspaceless %}

                <span class="info">{% blocktrans with last_visit=member.last_visit|format_date:True %} "le" {{last_visit}} {% endblocktrans %}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
