{% extends "member/settings/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% if user.profile == profile %}
        {% trans "Modification de mon profil" %}
    {% else %}
        {% trans "Modification du profil de" %} {{ profile.user.username }}
    {% endif %}
{% endblock %}



{% block breadcrumb %}
    <li>
        {% if user.profile == profile %}
            {% trans "Modification de mon profil" %}
        {% else %}
            {% trans "Modification du profil de" %} {{ profile.user.username }}
        {% endif %}
    </li>
{% endblock %}



{% block headline %}
    {% if user.profile == profile %}
        {% trans "Modification de mon profil" %}
    {% else %}
        {% trans "Modification du profil de" %} {{ profile.user.username }}
    {% endif %}
{% endblock %}



{% block content %}
    <div class="content-wrapper">
        {% crispy form %}
    </div>
{% endblock %}
