{% extends "member/settings/base.html" %}
{% load i18n %}


{% block breadcrumb %}
    <li>{% trans "Supression de compte" %}</li>
{% endblock %}



{% block title %}
    {% trans "Désinscription" %}
{% endblock %}



{% block headline %}
    {% trans "Désinscription" %}
{% endblock %}



{% block content %}
    <p>
        {% blocktrans with username=user.username %}
         Attention {{ username }}, vous êtes sur le point de vous désinscrire de Zeste de Savoir. Voici ce qu'implique cette action <strong>qui ne peut être annulée</strong>.
        {% endblocktrans %}
    </p>

    <ul>
        <li>
            {% trans "Toutes vos conversations privées (MP) seront perdues" %}.
        </li>
        <li>
            {% trans "Tous vos messages de forums seront anonymisés" %}.
        </li>
        <li>
            {% blocktrans with username=user.username email=user.email %}
                Votre compte et tout ses détails seront supprimés, cela signifie que l'adresse courriel ({{ email }}) sera effacée du système et votre pseudo ({{ username }}) sera libéré et utilisable par un autre membre.
            {% endblocktrans %}
        </li>
        <li>
            {% trans "Vos tutoriels et articles non publiés (brouillon, bêta ou en cours de validation) seront supprimés sans possibilité de récuperation (sauf si d'autres auteurs sont présents lors de la rédaction" %}).
        </li>
        <li>
            {% trans "Vos tutoriels et articles publiés subiront les modifications suivantes" %}.
            <ul>
                <li>
                    {% blocktrans %}
                        si vous étiez seul, ils seront placés sous la gouvernance du compte "Auteur Externe", sauf demande contraire de votre part à un membre du staff <strong>avant</strong> votre désinscription.
                    {% endblocktrans %}
                </li>
                <li>
                    {% trans "si vous étiez plusieurs auteurs, vous quitterez le groupe de rédacteurs. Les autres pourront dès lors continuer sans vous" %}.
                </li>
            </ul>
        </li>
        <li>
            {% trans "Vos galeries d'image subiront les modifications suivantes" %}.
            <ul>
                <li>
                    {% blocktrans %}
                        Si la gallerie est liée à un tutoriel, elle subira le même sort que ce dernier (attribution à <em>Auteur externe</em> ou aux autres auteurs du contenu).
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        Si vous êtes plusieurs possesseurs, vous serez simplement supprimé du groupe.
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        Sinon, elle sera supprimée (ainsi que son contenu).
                    {% endblocktrans %}
                </li>
            </ul>
        </li>
    </ul>

    <p>

        {% blocktrans %} Si vous souhaitez poursuivre votre désinscription, cliquez sur le bouton <kbd>Me désinscrire</kbd> ci-dessous. Sinon, il n'est pas encore trop tard{% endblocktrans %}...
    </p>

    <p>
        <a href="#unregister" class="open-modal btn btn-cancel">{% trans "Me désinscrire" %}</a>
    </p>

    <form
        method="post"
        action="{% url "zds.member.views.unregister" %}"
        id="unregister"
        class="modal modal-flex"
    >
        <p>
            {% trans "C'est votre dernière chance de rester parmi nous" %}...
        </p>

        {% csrf_token %}
        <button type="submit">{% trans "Me désinscrire" %}</button>
    </form>
{% endblock %}
