{% extends "member/settings/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li>{% trans "Désinscription" %}</li>
{% endblock %}



{% block title %}
    {% trans "Désinscription" %}
{% endblock %}



{% block headline %}
    {% trans "Désinscription" %}
{% endblock %}



{% block content %}
<article class="message-content">
    <p>
        {% blocktrans with username=user.username %}
            Attention {{ username }}, vous êtes sur le point de vous désinscrire de Zeste de Savoir. Voici ce qu’implique cette action <strong>qui ne peut être annulée</strong>.
        {% endblocktrans %}
    </p>

    <ul>
        <li>
            {% trans "Toutes vos conversations privées (MP) seront perdues." %}
        </li>
        <li>
            {% trans "Tous vos messages de forums seront anonymisés." %}
        </li>
        <li>
            {% blocktrans with username=user.username email=user.email %}
                Votre compte et tous ses détails seront supprimés, cela signifie que l’adresse courriel ({{ email }}) sera effacée du système et votre pseudo ({{ username }}) sera libéré et utilisable par un autre membre.
            {% endblocktrans %}
        </li>
        <li>
            {% trans "Vos tutoriels, billets et articles non publiés (brouillon, bêta ou en cours de validation) seront supprimés sans possibilité de récupération, sauf si d’autres auteurs sont présents lors de la rédaction." %}
        </li>
        <li>
            {% trans "Vos tutoriels, articles et billets publiés subiront les modifications suivantes :" %}
            <ul>
                <li>
                    {% blocktrans %}
                        Si vous étiez seul, ils seront placés sous la gouvernance du compte « Auteur Externe », sauf demande contraire de votre part à un membre du staff <strong>avant</strong> votre désinscription.
                    {% endblocktrans %}
                </li>
                <li>
                    {% trans "Si vous étiez plusieurs auteurs, vous quitterez le groupe de rédacteurs. Les autres pourront dès lors continuer sans vous." %}
                </li>
            </ul>
        </li>
        <li>
            {% trans "Vos galeries d’images subiront les modifications suivantes :" %}
            <ul>
                <li>
                    {% blocktrans %}
                        Si la galerie est liée à un tutoriel, elle subira le même sort que ce dernier (attribution à « Auteur externe » ou aux autres auteurs du contenu).
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        Si vous êtes plusieurs possesseurs, vous serez simplement supprimé du groupe.
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        Sinon, elle sera supprimée, ainsi que son contenu.
                    {% endblocktrans %}
                </li>
            </ul>
        </li>
        <li>
            {% trans "Si vous possédez des clés API, elles seront supprimées." %}
        </li>
    </ul>

    <p>
        {% blocktrans %} Si vous souhaitez poursuivre votre désinscription, cliquez sur le bouton <kbd class="is-red"><samp>Me désinscrire</samp></kbd> ci-dessous. Sinon, il n’est pas encore trop tard…{% endblocktrans %}
    </p>

</article>

<p>
    <a href="#unregister" class="open-modal btn btn-cancel">{% trans "Me désinscrire" %}</a>
</p>

{% crispy unregister_form %}

{% endblock %}
