{% load i18n %}

<section class="flexpage-header">
    <div class="flexpage-wrapper">
        <div class="flexpage-title-tool">
            <div class="picto">
                <img src="/static/images/home-clem.png">
            </div>
            <div class="title">
                <h1>{% trans 'Contenus' %}</h1>
                {{ content_count }} {% trans 'contenus' %}
            </div>

            <div class="aside">
                <form action="" id="search-form" class="search" method="get">
                    <label for="id_q" class="control-label ">Recherche</label>
                    <input id="id_q" maxlength="150" name="q" required="required" type="search">
                    <input type="hidden" name="models" value="content">
                    <button class="btn ico-after ico-search" type="submit" title="Rechercher"></button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="flexpage-wrapper">
    {% comment %}
        First level page
        - 2 featured tutorials
        - all 4 knownledge domains presentation
        - 1 column with last 6 contents
        - 1 column with 6 most commented contents
        - self investment block
    {% endcomment %}

    <section>
        <h2 itemprop="name">{%  trans  'À la une' %}</h2>
        <div class="featured-resource-row">
            {% for featured_content in featured_contents %}
                {% include "featured/includes/featured_resource_item.part.html" with featured_resource=featured_content %}
            {% endfor %}
        </div>
    </section>

    <section>
        <h2 class="inline" itemprop="name">{% trans 'Domaines de savoir' %}</h2>
        <div class="content-linkbox-list">
            {% include 'tutorialv2/list_page_elements/themes_list.html' %}
        </div>
    </section>

    <div class="flexpage-column">
        <section>
            <h2 itemprop="name">
                {% trans 'Derniers tutoriels' %}
                <a href="{% url "tutorial:feed-rss" %}" class="btn btn-grey">RSS</a>
                <a href="{% url "tutorial:feed-atom" %}" class="btn btn-grey">Atom</a>
            </h2>
            {% include 'tutorialv2/list_page_elements/list_of_content.html' with public_contents=public_contents col_number=1 %}
            <a href="#" class="more-link">Plus de tutoriels</a>
        </section>

        <section>
            <h2 itemprop="name">
                {% trans 'Derniers articles' %}
                <a href="{% url "article:feed-rss" %}" class="btn btn-grey">RSS</a>
                <a href="{% url "article:feed-atom" %}" class="btn btn-grey">Atom</a>
            </h2>
            {% include 'tutorialv2/list_page_elements/list_of_content.html' with public_contents=selected_contents col_number=1 %}
            <a href="#" class="more-link">Plus d'articles</a>
        </section>
    </div>

    <section>
        <h2 class="inline">{% trans "Envie de s'investir ?" %}</h2>

        <div class="content-linkbox-list">
            <div class="linkbox-item secondary">
                <a href="{{ beta_forum.get_absolute_url }}" class="head">
                    <h3>{% trans 'Donner votre avis' %}</h3>
                </a>

                <a href="{{ beta_forum.get_absolute_url }}" class="body">
                    {% blocktrans %}
                    <p>Les contenus presque terminés nécessitent souvent une relecture afin d'en peaufiner le fond comme la forme.</p>
                    <p class="right">Consulter les contenus en bêta</p>
                    {% endblocktrans %}
                </a>
            </div>

            <div class="linkbox-item secondary">
                <div class="head">
                    <h3>{% trans 'Partager votre savoir' %}</h3>
                </div>

                <div class="body">
                    <p>{% trans "Vous avez un savoir à partager, vous vous sentez pédagogue, pourquoi ne pas commencer l'écriture d'un contenu ?" %}</p>
                </div>

                <a href="{% url "content:create-tutorial" %}" class="tail">
                    <p>{% trans 'Écrire un tutoriel' %}</p>
                </a>

                <a href="{% url "content:create-article" %}" class="tail">
                    <p>{% trans 'Écrire un article' %}</p>
                </a>
            </div>

            <div class="linkbox-item secondary">
                <a href="{% url 'content:helps' %}" class="head">
                    <h3>{% trans 'Aider les auteurs' %}</h3>
                </a>

                <a href="{% url 'content:helps' %}" class="body">
                    {% blocktrans %}
                    <p>Les auteurs ont souvent besoin d'un peu d'aide pour amener leur contenu jusqu'à la publication.</p>
                    <p>Dessiner une icône ou des illustrations, corriger un texte ou encore devenir co-auteur vous intéresse ?</p>
                    <p class="right">Parcourir les demandes d'aides</p>
                    {% endblocktrans %}
                </a>
            </div>
        </div>
    </section>
</div>
