{% extends "tutorialv2/view/base_categories.html" %}
{% load i18n %}

{% comment %}
    Structure de la page de second level :
    - présentation des sous catégories (accessible via {%  for subcategory in subcategories %}
    - liste des 5 derniers tutos en une colonne
    - liste des 5 derniers articles en une colonne
{% endcomment %}

{% block content_category %}
    <section>
        <h2 class="inline" itemprop="name">Catégories dans {{ category.title }}</h2>
        {% include 'tutorialv2/list_page_elements/list_subcategories.html' with subcategories=subcategories %}
    </section>

    <div class="flexpage-column">
        <section>
            <h2 itemprop="name">
                <span>{% trans "Derniers tutoriels" %}</span>
                <a href="{% url "tutorial:feed-rss" %}?category={{ category.slug }}" class="btn btn-grey">RSS</a>
                <a href="{% url "tutorial:feed-atom" %}?category={{ category.slug }}" class="btn btn-grey">Atom</a>
            </h2>
            {% include 'tutorialv2/list_page_elements/list_of_online_contents.html' with public_contents=last_tutorials col_number=1 %}
            {% if last_tutorials and more_tutorials %}
                <a href="{% url 'publication:list' %}?category={{ category.slug }}&amp;type=tutorial" class="more-link">Plus de tutoriels dans {{ category.title }}</a>
            {% endif %}
        </section>

        <section>
            <h2 itemprop="name">
                <span>{% trans "Derniers articles" %}</span>
                <a href="{% url "article:feed-rss" %}?category={{ category.slug }}" class="btn btn-grey">RSS</a>
                <a href="{% url "article:feed-atom" %}?category={{ category.slug }}" class="btn btn-grey">Atom</a>
            </h2>
            {% include 'tutorialv2/list_page_elements/list_of_online_contents.html' with public_contents=last_articles col_number=1 %}
            {% if last_articles and more_articles %}
                <a href="{% url 'publication:list' %}?category={{ category.slug }}&amp;type=article" class="more-link">Plus d’articles dans {{ category.title }}</a>
            {% endif %}
        </section>
    </div>
{% endblock %}
