{% extends "tutorialv2/view/base_categories.html" %}
{% load i18n %}
{% load captureas %}


{% block content_category %}
    <section>
        {% captureas url_view_goals %}{% url "content:view-goals" %}{% endcaptureas %}
        {% blocktrans %}
        <p>
            <strong>Avis aux curieux</strong> ! La nouvelle <a href="{{ url_view_goals }}">classification par objectifs</a> fait son avant-première.
            Elle vient en complément de la classification par catégories et par tags.
        </p>
        {% endblocktrans %}
    </section>

    <section>
        <h2 class="inline" itemprop="name">{% trans 'Domaines de savoir' %}</h2>
        <div class="content-linkbox-list">
            {% include 'tutorialv2/list_page_elements/list_categories.html' %}
        </div>
    </section>

    <section>
        <h2 itemprop="name">
            <span>{% trans 'Dernières publications' %}</span>
            <a href="{% url "content:feed-rss" %}" class="btn btn-grey">RSS</a>
            <a href="{% url "content:feed-atom" %}" class="btn btn-grey">Atom</a>
        </h2>
        <div>
            {% include 'tutorialv2/list_page_elements/list_of_online_contents.html' with public_contents=last_contents col_number=2 %}
            {% if last_contents and more_contents %}
                <a href="{% url 'publication:list' %}{% querystring type='' %}" class="more-link">Plus de publications</a>
            {% endif %}
        </div>
    </section>

    {% include 'tutorialv2/list_page_elements/call_for_helps.html' %}
{% endblock %}
