{% extends "tutorialv2/view/base_categories.html" %}
{% load i18n %}

{% comment %}
    Structure de la page de second niveau :
    - présentation des sous catégories
    - liste des dernières publications
{% endcomment %}

{% block content_category %}
    <section>
        <h2 class="inline" itemprop="name">Catégories dans {{ category.title }}</h2>
        {% include 'tutorialv2/list_page_elements/list_subcategories.html' with subcategories=subcategories %}
    </section>

    <section>
        <h2 itemprop="name">
            <span>{% trans "Dernières publications" %}</span>
            <a href="{% url "content:feed-rss" %}{% querystring category=category.slug %}" class="btn btn-grey">RSS</a>
            <a href="{% url "content:feed-atom" %}{% querystring category=category.slug %}" class="btn btn-grey">Atom</a>
        </h2>
        {% include 'tutorialv2/list_page_elements/list_of_online_contents.html' with public_contents=last_contents col_number=1 %}
        {% if last_contents and more_contents %}
            <a href="{% url 'publication:list' %}{% querystring category=category.slug %}&amp;type=all" class="more-link">Plus de publications dans {{ category.title }}</a>
        {% endif %}
    </section>
{% endblock %}
