{% load i18n %}

<section class="flexpage-header">
    <div class="flexpage-wrapper">
        <div class="flexpage-title-tool">
            <div class="picto">
                <img src="/static/images/home-clem.png">
            </div>

            <div class="title">
                <h1><a href="{% url 'content:list' %}">{% trans 'Contenus' %}</a></h1>
                <span class="separator"></span>
                <h2><a href="#">Theme</a></h2>
                <span class="separator"></span>
                <h2>Category</h2>
            </div>

            <div class="aside">
                Filtre : 
                Type [Article/Tuto]
            </div>
        </div>
    </div>
</section>

<div class="flexpage-wrapper">
    <section>
        <h2 itemprop="name">Contenus</h2>
        <p>
            En deux colonnes<br />
            Paginé<br />
            Filtré selon les filtres envoyés
        </p>
    </section>
</div>
