{% extends "tutorialv2/base.html" %}
{% load emarkdown %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load roman %}
{% load i18n %}
{% load feminize %}
{% load captureas %}


{% block title %}
    {{ content.title }}
{% endblock %}


{% block breadcrumb %}
    <li>{{ content.title }}</li>
{% endblock %}



{% block headline %}
    {% if content.licence %}
        <p class="license">
            {{ content.licence }}
        </p>
    {% endif %}

    <h1 {% if content.image %}class="illu"{% endif %}>
        {% if content.image %}
            <img src="{{ content.image.physical.tutorial_illu.url }}" alt="">
        {% endif %}
        {{ content.title }}
    </h1>

    {% if content.description %}
        <h2 class="subtitle">
            {{ content.description }}
        </h2>
    {% endif %}

    {% if can_edit %}
        {% include 'tutorialv2/includes/tags_authors.part.html' with content=content add_author=True online=False %}
    {% else %}
        {% include 'tutorialv2/includes/tags_authors.part.html' with content=content online=False %}
    {% endif %}

    {% if is_staff or can_edit %}
        {% if content.in_validation %}
            {% if validation.version == content.current_version %}
                {% if validation.is_pending %}
                    <p class="content-wrapper alert-box alert">
                        {% trans "Ce tutoriel est en attente d'un validateur" %}
                    </p>
                {% elif validation.is_pending_valid %}
                    <p class="content-wrapper alert-box info">
                        {% trans "Le tutoriel est en cours de validation par" %}
                        {% include "misc/member_item.part.html" with member=validation.validator %}
                    </p>
                {% endif %}
                {% if validation.comment_authors %}
                    <div class="content-wrapper comment-author">
                        <p>
                            {% trans "Le message suivant a été laissé à destination des validateurs" %} :
                        </p>

                        <blockquote>
                            {{ validation.comment_authors|emarkdown }}
                        </blockquote>
                    </div>
                {% endif %}
            {% else %}
                {% if validation.is_pending %}
                    <p class="content-wrapper alert-box alert">
                        <a href="{{ object.get_absolute_url }}?version={{ validation.version }}">
                            {% trans "Une autre version de ce tutoriel" %}</a>
                        {% trans "est en attente d'un validateur" %}
                    </p>
                {% elif validation.is_pending_valid %}
                    <p class="content-wrapper alert-box info">
                        <a href="{{ content.get_absolute_url }}?version={{ validation.version }}">
                            {% trans "Une autre version de ce tutoriel" %}</a>
                        {% trans "est en cours de validation par" %}
                        {% include "misc/member_item.part.html" with member=validation.validator %}
                    </p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% if content.is_beta %}
        <div class="content-wrapper">
            <div class="alert-box warning">
                {% blocktrans %}
                    Cette version est en <strong>"BÊTA"</strong> !
                {% endblocktrans %}

                {% if beta_topic %}
                    {% blocktrans with url=beta_topic.get_absolute_url %}
                        Vous pouvez y réagir sur <a href="{{ url }}">ce sujet</a>.
                    {% endblocktrans %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block content %}
    {% if content.introduction and content.get_introduction != None %}
        {{ content.get_introduction|emarkdown:is_js }}
    {% elif not content.is_beta %}
        <p class="ico-after warning">
            {% trans "Il n'y a pas d'introduction" %}.
        </p>
    {% endif %}

    {% if content.has_extracts %}
        <ul>
            {% for extract in content.children %}
                <li>
                    <a href="#{{ extract.position_in_parent }}-{{ extract.slug }}">
                        {{ extract.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for child in content.children %}
        {%  include "tutorialv2/includes/child.part.html" with child=child %}
    {% empty %}
        <p class="ico-after warning">
            {% if content.is_article %}
                {% trans "Cet article" %}
            {% else %}
                {% trans "Ce tutoriel" %}
            {% endif %}
            {% trans " est actuellement vide" %}.
        </p>
    {% endfor %}

    <hr class="clearfix" />
    <hr />

    {% if content.conclusion and content.get_conclusion != None %}
        {{ content.get_conclusion|emarkdown:is_js }}
    {% elif not content.is_beta %}
        <p class="ico-after warning">
            {% trans "Il n'y a pas de conclusion" %}.
        </p>
    {% endif %}

    {% if content.is_beta %}
        {% include "tutorialv2/includes/warn_typo.part.html" with content=content %}
    {% endif %}
{% endblock %}



{% block sidebar_new %}
    {% if can_edit or is_staff %}
        {% if not version or content.sha_draft == version %}
            <a href="{% url "content:edit" content.pk content.slug %}" class="ico-after edit blue new-btn">
                {% trans "Éditer" %}
            </a>

            {%  if content.can_add_container %}
                <a href="{% url "content:create-container" content.pk content.slug %}" class="ico-after more blue new-btn">
                    {% trans "Ajouter " %} {{ "un"|feminize:content.get_next_level_as_string }} {{ content.get_next_level_as_string|lower }}
                </a>
            {% endif %}

            {%  if content.can_add_extract %}
                <a href="{% url "content:create-extract" content.pk content.slug %}" class="ico-after more blue new-btn">
                    {% trans "Ajouter une section" %}
                </a>
            {%  endif %}

            <a href="{% url "content:import" content.pk content.slug %}" class="ico-after import blue new-btn">
                {% trans "Importer une nouvelle version" %}
            </a>

        {% else %}
            <a href="{% url "content:view" content.pk content.slug_repository %}" class="ico-after arrow-right blue new-btn">
                {% trans "Version brouillon" %}
            </a>
        {% endif %}
    {% endif %}
{% endblock %}



{% block sidebar_actions %}
    {% if can_edit or is_staff %}
        {% if not version or content.sha_draft == version %}
            <li>
                <a href="#add-author" class="open-modal ico-after more blue">
                    {% trans "Ajouter un auteur" %}
                </a>
                <form action="{% url "content:add-author" content.pk %}" method="post" class="modal modal-flex" id="add-author">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Pseudo de l'utilisateur à ajouter" data-autocomplete="{ 'type': 'single' }">
                    <button type="submit" name="add_author">
                        {% trans "Confirmer" %}
                    </button>
                </form>
            </li>
            <li>
                <a href="#manage-authors" class="open-modal ico-after gear blue">
                    {% trans "Gérer les auteurs" %}
                </a>
                <form action="{% url "content:remove-author" content.pk  %}" method="post" class="modal modal-flex" id="manage-authors" data-modal-close="Fermer">
                    <table class="fullwidth">
                        <thead>
                            <th>{% trans "Auteur" %}</th>
                            <th width="100px">{% trans "Actions" %}</th>
                        </thead>
                        <tbody>
                            {% for member in content.authors.all %}
                                <tr>
                                    <td>{% include "misc/member_item.part.html" %}</td>
                                    <td>
                                        {% if content.authors.count > 1 %}

                                            <button type="submit" data-value="{{ member.username }}" name="username" value="{{ member.username }}" class="modal-inner">
                                                {% trans "Supprimer" %}
                                            </button>
                                        {% else %}
                                            {% trans "Vous êtes seul" %} !
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% csrf_token %}
                </form>
            </li>
        {% endif %}
        {% if not content.in_beta %}
            <li>
                <a href="#activ-beta" class="open-modal ico-after beta blue">
                    {% trans "Mettre cette version en bêta" %}
                </a>
                <form action="{% url "content:set-beta" content.pk content.slug %}" method="post" class="modal modal-flex" id="activ-beta">
                    {% csrf_token %}
                    <input type="hidden" name="version" value="{% if version %}{{ version }}{% else %}{{ content.sha_draft }}{% endif %}">
                    <p>
                        {% blocktrans with content_title=content.title %}
                        Êtes-vous certain de vouloir <strong>activer</strong> la bêta du tutoriel
                        "<em>{{ content_title }}</em>" dans la version que vous voyez actuellement ?
                        {% endblocktrans %}
                    </p>
                    <button type="submit">
                        {% trans "Confirmer" %}
                    </button>
                </form>
            </li>
        {% else %}
            {% if not content.is_beta %}
                <li>
                    <a href="{{ content.get_absolute_url_beta }}" class="ico-after view blue">
                        {% blocktrans %}
                            Voir <span class="wide">la version</span> en bêta
                        {% endblocktrans %}
                    </a>
                </li>
                <li>
                    <a href="#update-beta" class="open-modal ico-after beta blue">
                        {% trans "Mettre à jour la bêta avec cette version" %}
                    </a>
                    <form action="{% url "content:set-beta" content.pk content.slug %}" method="post" class="modal modal-flex" id="update-beta">
                        {% csrf_token %}
                        <input type="hidden" name="version" value="{% if version %}{{ version }}{% else %}{{ content.sha_draft }}{% endif %}">
                        <p>
                            {% blocktrans with content_title=content.title %}
                            Êtes-vous certain de vouloir <strong>mettre à jour</strong> la bêta du tutoriel
                            "<em>{{ content_title }}</em>" dans la version que vous voyez actuellement ?
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}
                            Si cette mise à jour fait suite à des commentaires obtenus lors de la bêta, pensez à en remercier leurs auteurs dans votre conclusion.
                            {% endblocktrans %}
                        </p>
                        <button type="submit">
                            {% trans "Confirmer" %}
                        </button>
                    </form>
                </li>
            {% else %}
                <li class="inactive">
                    <span class="ico-after beta disabled">
                        {% trans "Cette version est déjà en bêta" %}
                    </span>
                </li>
            {% endif %}
            <li>
                <a href="#desactiv-beta" class="open-modal ico-after cross blue">
                    {% trans "Désactiver la bêta" %}
                </a>
                <form action="{% url "content:inactive-beta" content.pk content.slug %}" method="post" class="modal modal-flex" id="desactiv-beta">
                    {% csrf_token %}
                    <input type="hidden" name="version" value="{% if version %}{{ version }}{% else %}{{ content.sha_draft }}{% endif %}">
                    <p>
                        {% blocktrans with content_title=content.title %}
                            Êtes-vous certain de vouloir <strong>désactiver</strong> la bêta du tutoriel "<em>{{ content_title }}</em>" ?
                        {% endblocktrans %}
                    </p>
                    <button type="submit">
                        {% trans "Confirmer" %}
                    </button>
                </form>
            </li>
        {% endif %}

        {% if beta_topic %}
            <li>
                <a href="{{ beta_topic.get_absolute_url }}" class="ico-after online blue">
                    {% trans "Voir le sujet de bêta" %}
                </a>
            </li>
        {% endif %}

        {% if public_content_object %}
            <li>
                <a href="{{ public_content_object.get_absolute_url_online }}" class="ico-after online blue">
                    {% trans "Voir la version en ligne" %}
                </a>
            </li>
        {% endif %}


        <li>
            <a href="{% url "content:history" content.pk content.slug_repository %}" class="ico-after history blue">
                {% trans "Historique des versions" %}
            </a>
        </li>
        {% if not content.in_validation %}
            {% if content.current_version != content.sha_public %}
                <li>
                    <a href="#ask-validation" class="open-modal ico-after tick green">
                        {% trans "Demander la validation" %}
                    </a>
                </li>
            {% endif %}
        {% else %}
            <li>
                <a href="#cancel-validation" class="open-modal ico-after cross blue">{% trans "Annuler la validation" %}</a>
                {% crispy formCancel %}
            </li>
            {% if not content.is_validation %}
                <li>
                    <a href="#ask-validation" class="open-modal ico-after tick green">
                        {% trans "Mettre à jour la version en validation" %}
                    </a>
                </li>
            {% endif %}
            <li class="inactive">
                <span class="ico-after tick disabled">{% trans "En attente de validation" %}</span>
            </li>
        {% endif %}
        {% crispy formAskValidation %}
    {% endif %}


    {% if can_edit %}
        <li>
            <a href="{% url "gallery-details" gallery.pk gallery.slug %}" class="ico-after offline blue">
                {% trans "Aller à la galerie liée" %}
            </a>
        </li>
    {% endif %}
{% endblock %}



{% block sidebar_blocks %}
    {% if is_staff %}

        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Validation">
            <h3>{% trans "Validation" %}</h3>
            <ul>
                <li>
                    <a href="{% url "validation:history" content.pk content.slug %}" class="ico-after history blue">
                        {% trans "Historique de validation" %}
                    </a>
                </li>
                <li>
                    <a  href="{% url 'mp-new' %}?{% for username in content.authors.all %}&amp;username={{ username }}{% endfor %}"
                        class="ico-after cite blue"
                    >
                        {% trans "Envoyer un MP" %}
                        {% if content.authors.all|length > 1 %}
                            {% trans "aux auteurs" %}
                        {% else %}
                            à {% trans "l'auteur" %}
                        {% endif %}
                    </a>
                </li>
                <li>
                    {% if is_js %}
                        <a href="#js-activation" class="open-modal ico-after cross red">
                            {% trans "Désactiver JSFiddle" %}
                        </a>
                    {% else %}
                        <a href="#js-activation" class="open-modal ico-after tick green">
                            {% trans "Activer JSFiddle" %}
                        </a>
                    {% endif %}
                </li>
                {% crispy formJs %}

                {% if content.is_public %}
                    <li>
                        <a href="#unpublish" class="ico-after open-modal cross blue">
                            {% trans "Dépublier" %}
                        </a>
                        {% crispy formRevokeValidation %}
                    </li>
                {% endif %}

                {% if content.in_validation %}
                    {% if validation.is_pending %}
                        <li>
                            <form action="{% url "validation:reserve" validation.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="ico-after lock blue">
                                    {% trans "Réserver" %}
                                </button>
                            </form>
                        </li>
                    {% elif validation.is_pending_valid %}
                        {% if validation.validator == user %}
                            <li>
                                <form action="{% url "validation:reserve" validation.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="ico-after lock blue">
                                        {% trans "Annuler la réservation" %}
                                    </button>
                                </form>
                            </li>
                            <li>
                                <a href="#valid-publish" class="open-modal ico-after tick green">{% trans "Valider et publier" %}</a>
                                {% crispy formValid %}
                            </li>
                            <li>
                                <a href="#reject" class="open-modal ico-after cross red">{% trans "Rejeter" %}</a>
                                {% crispy formReject %}
                            </li>
                        {% else %}
                            <li>
                                <a href="#unreservation" class="open-modal ico-after lock blue">
                                    {% blocktrans with validator_name=validation.validator.username %}
                                        Réservé par <strong>{{ validator_name }}</strong>, le retirer
                                    {% endblocktrans %}
                                </a>
                                <form action="{% url "validation:reserve" validation.pk %}" method="post" class="modal modal-flex" id="unreservation">
                                    {% csrf_token %}
                                    <p>
                                        {% trans "La validation de ce tutoriel est actuellement réservée par" %} {% include "misc/member_item.part.html" with member=validation.validator %}. {% trans "Êtes-vous certain de vouloir le retirer" %} ?
                                    </p>
                                    <button type="submit">
                                        {% trans "Confirmer" %}
                                    </button>
                                </form>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {%  include "tutorialv2/includes/summary.part.html"  %}

    {% if can_edit %}
        {% if not version or content.sha_draft == version %}
             <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Suppression">
                <h3>{% trans "Suppression" %}</h3>
                <ul>
                    {% if not content.in_public %}
                        <li>
                            <a href="#delete-content" class="open-modal ico-after cross red">
                                {% trans "Supprimer le contenu" %}
                            </a>
                            {% captureas need_reason %}{%  if validation and validation.status == 'PENDING_V' %}True{% endif %}{% endcaptureas %}
                            <form action="{% url "content:delete" content.pk content.slug %}" method="post" id="delete-content" class="modal modal-flex">
                                {% csrf_token %}
                                <p>
                                    {% blocktrans with content_title=content.title %}
                                        Attention, vous vous apprêtez à <strong>supprimer définitivement</strong> « {{ content_title }} ». Cela aura pour effet de supprimer également la galerie associée.
                                    {% endblocktrans %}
                                    {%  if need_reason %}
                                        {% blocktrans with username=validation.validator.username %}
                                            Il est en cours de validation par <strong>{{ username }}</strong>, qui appréciera de savoir pourquoi vous souhaitez le supprimer :
                                        {% endblocktrans %}
                                    {% endif %}
                                </p>

                                {% if need_reason %}
                                    <p><textarea name="text" class="textarea" placeholder="Raison de la suppression" cols="40"></textarea></p>
                                {%  endif %}

                                <button type="submit">
                                    {% trans "Confirmer" %}
                                </button>
                            </form>
                        </li>
                    {% else %}
                        <li class="inactive">
                            <span class="ico-after cross disabled">
                                {% trans "Impossible, car publié" %}
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
