{% extends "tutorialv2/base.html" %}
{% load set %}
{% load thumbnail %}
{% load emarkdown %}
{% load captureas %}
{% load i18n %}
{% load times %}
{% load feminize %}
{% load pluralize_fr %}

{% block title %}
    {{ container.title }} - {{ content.title }}
{% endblock %}

{% if display_config.online_config.show_meta_description %}
    {% block description %}
        {% if content.description %}
            {{ content.description }}
        {% else %}
            Site et association de partage de connaissances animé par sa communauté. Vous y trouverez des tutoriels et des articles de tous niveaux et des forums.
        {% endif %}
    {% endblock %}
{% endif %}

{% if display_config.online_config.show_opengraph %}
    {% block opengraph %}
        {% include "tutorialv2/includes/meta/opengraph.part.html" %}
    {% endblock %}
{% endif %}

{% if display_config.online_config.show_meta_image %}
    {% block meta_image %}{% spaceless %}
        {% include "tutorialv2/includes/meta/image_illu.part.html" with content=content %}
    {% endspaceless %}{% endblock %}
{% endif %}

{% block breadcrumb %}
    {% for item in breadcrumb_items %}
        {% if not forloop.last %}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="{{ item.url }}">
                    <span itemprop="title">{{ item.title }}</span>
                </a>
            </li>
        {% else %}
            <li>{{ item.title }}</li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block headline %}
    {% include "tutorialv2/includes/headline/header.part.html" with show_thumbnail=False content=content title=container.title %}

    {% if display_config.online_config.show_obsolescence_warning %}
        {% include "tutorialv2/includes/headline/obsolescence_warning.part.html" with is_obsolete=is_obsolete %}
    {% endif %}

    {% if display_config.info_config.show_beta_info %}
        {% include "tutorialv2/includes/headline/beta_info.part.html" with beta_topic=beta_topic %}
    {% endif %}

    {% if display_config.info_config.show_help_info %}
        {% include "tutorialv2/includes/headline/help_info.part.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if not display_config.online_config.show_rendered_source %}
        {% if display_config.draft_actions.show_ready_to_publish %}
            {% if not container.ready_to_publish %}
                <div class="alert-box ico-alerts">
                    {% trans "Cette partie n'est pas prête à la publication. En cas de validation, elle ne sera pas publiée." %}
                </div>
            {% endif %}
        {% endif %}

        {% include "tutorialv2/includes/chapter_pager.part.html" with position="top" %}

        {% if container.get_introduction %}
            {% if display_config.draft_actions.enable_edit %}
                <div class="simple-edit-button">
                    <a class="ico-after edit btn btn-grey" href="{{ container.get_edit_url }}#div_id_introduction">
                        {% trans "Modifier l'introduction" %}
                    </a>
                </div>
            {% endif %}
            {{ container.get_introduction|emarkdown:is_js }}
        {% elif display_config.draft_actions.show_empty_section_warnings %}
            <div class="ico-after warning">
                <p>
                    {% trans "Il n’y a pas d’introduction." %}
                    {% if display_config.draft_actions.enable_edit %}
                        {% trans "Vous pouvez " %}<a href="{{ container.get_edit_url }}">{% trans "en ajouter une" %}</a>.
                    {% endif %}
                </p>
            </div>
        {% endif %}

         {% if container.has_extracts or container.can_add_extract %}
            <ul>
                {% for extract in container.children %}
                    <li>
                        <a href="#{{ extract.position_in_parent }}-{{ extract.slug }}">
                            {{ extract.title }}
                        </a>
                    </li>
                {% endfor %}

                {% if not container.can_add_container and container.can_add_extract and display_config.draft_actions.enable_edit %}
                    <li class="simple-create-button">
                        <a class="btn btn-grey" href="{% if container.parent == content %}
                                    {% url "content:create-extract" content.pk content.slug container.slug %}
                                {%  else %}
                                    {% url "content:create-extract" content.pk content.slug container.parent.slug container.slug %}
                                {%  endif %}">
                            {% trans "Ajouter une section" %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

        {% for child in container.children %}
            {%  include "tutorialv2/includes/child.part.html" with child=child %}
        {% empty %}
            {% if not display_config.draft_actions.enable_edit or not container.is_chapter %}
                <div class="ico-after warning">
                    <p>
                        {{ "Ce"|feminize:container.get_level_as_string }} {{ container.get_level_as_string|lower }}  {% trans " est vide." %}
                    </p>
                    {% if container.can_add_extract and container.can_add_container %}
                        {% captureas url_create_container %}
                            {% if container.parent == content %}
                                {% url "content:create-container" content.pk content.slug container.slug %}
                            {% else %}
                                {% url "content:create-container" content.pk content.slug container.parent.slug %}
                            {% endif %}
                        {% endcaptureas %}
                        {% captureas url_create_extract %}
                            {% if container.parent == content %}
                                {% url "content:create-extract" content.pk content.slug container.slug %}
                            {% else %}
                                {% url "content:create-extract" content.pk content.slug container.parent.slug %}
                            {% endif %}
                        {% endcaptureas %}
                        {% blocktrans %}
                        <ul>
                            <li>
                                <a href="{{ url_create_container }}">Ajouter un chapitre</a>
                                pour subdiviser cette partie en plusieurs pages ;
                            </li>
                            <li>
                                <a href="{{ url_create_extract }}">Ajouter une section</a>
                                pour que cette partie soit affichée sur une unique page.
                            </li>
                        </ul>
                        {% endblocktrans %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        {% if display_config.draft_actions.enable_edit %}
            {% if container.can_add_container and not container.can_add_extract %}
                <h2>
                    <a class="force-blue" href="{% if container.parent == content %}
                                {% url "content:create-container" content.pk content.slug container.slug %}
                            {%  else %}
                                {% url "content:create-container" content.pk content.slug container.parent.slug %}
                            {%  endif %}">
                        {% trans "Ajouter un chapitre" %}
                    </a>
                    <div class="actions-title">
                        <a href="{% if container.parent == content %}
                                    {% url "content:create-container" content.pk content.slug container.slug %}
                                {%  else %}
                                    {% url "content:create-container" content.pk content.slug container.parent.slug %}
                                {%  endif %}" class="ico-after more btn btn-grey">
                            {% trans "Ajouter" %}
                        </a>
                    </div>
                </h2>
                <div class="ico-after information">
                    <p>{% trans "Cliquer sur ajouter pour ajouter un nouveau chapitre." %}</p>
                </div>
            {% endif %}
            {% if not container.can_add_container and container.can_add_extract %}
                <h2 class="force-blue">
                    <a href="{% if container.parent == content %}
                                {% url "content:create-extract" content.pk content.slug container.slug %}
                            {%  else %}
                                {% url "content:create-extract" content.pk content.slug container.parent.slug container.slug %}
                            {%  endif %}">
                        {% trans "Ajouter une section" %}
                    </a>
                    <div class="actions-title">
                        <a href="{% if container.parent == content %}
                                    {% url "content:create-extract" content.pk content.slug container.slug %}
                                {%  else %}
                                    {% url "content:create-extract" content.pk content.slug container.parent.slug container.slug %}
                                {%  endif %}" class="ico-after more btn btn-grey">
                            {% trans "Ajouter" %}
                        </a>
                    </div>
                </h2>
                <div class="ico-after information">
                    <p>{% trans "Cliquer sur ajouter pour rédiger une nouvelle section." %}</p>
                </div>
            {% endif %}
        {% endif %}

        <hr />

        {% if container.get_conclusion %}
            {% if display_config.draft_actions.enable_edit %}
                <div class="simple-edit-button">
                    <a class="ico-after edit btn btn-grey" href="{{ container.get_edit_url }}#div_id_conclusion">
                        {% trans "Modifier la conclusion" %}
                    </a>
                </div>
            {% endif %}
            {{ container.get_conclusion|emarkdown:is_js }}
        {% elif display_config.draft_actions.show_empty_section_warnings %}
            <div class="ico-after warning">
                <p>
                    {% trans "Il n’y a pas de conclusion." %}
                    {% if display_config.draft_actions.enable_edit %}
                        {% trans "Vous pouvez " %}<a href="{{ container.get_edit_url }}">{% trans "en ajouter une" %}</a>.
                    {% endif %}
                </p>
            </div>
        {% endif %}

        {% include "tutorialv2/includes/chapter_pager.part.html" with position="bottom" %}

    {% else %}
        {% include "tutorialv2/includes/chapter_pager.part.html" with position="top" %}

        {% if container.has_extracts %}
            {{ container.get_content_online|safe }}
        {% else %}
            {% if container.introduction %}
                {{ container.get_introduction_online|safe }}
                <hr />
            {% endif %}

            {%  include "tutorialv2/includes/child_online.part.html" with child=container hide_title=True %}

            <hr class="clearfix" />
            <hr />

            {% if container.conclusion %}
                {{ container.get_conclusion_online|safe }}
            {% endif %}

        {% endif %}

        {% include "tutorialv2/includes/chapter_pager.part.html" with position="bottom" %}
    {% endif %}

    {% if display_config.info_config.show_warn_typo and container.has_extracts %}
        {% include "tutorialv2/includes/content/warn_typo.part.html" with content=content %}
    {% endif %}
{% endblock %}

{% block sidebar_actions %}
    {% if display_config.draft_actions.show_edit_content_link %}
        <li>
            <a href="{{ container.get_edit_url }}" class="ico-after edit blue">{% trans "Éditer" %}</a>
        </li>
    {% endif %}

    {% if display_config.draft_actions.show_ready_to_publish %}
        <li>
            <a data-url="{% url 'api:content:readiness' content.pk %}" class="readiness" data-is-ready="{{ container.ready_to_publish|yesno:"true,false" }}"
               data-container-slug="{{ container.slug }}"
                {% if container.parent.parent %}data-parent-container-slug="{{ container.parent.slug }}"{% endif %}
                data-is-ready-false="{% trans "Marquer comme prêt à valider." %}" data-is-ready-true="{% trans "Marquer comme à ne pas valider." %}">
                {% if container.ready_to_publish %}
                    {% trans "Marquer comme à ne pas valider." %}
                {% else %}
                    {% trans "Marquer comme prêt à valider." %}
                {% endif %}
            </a>
        </li>
    {% endif %}

    {% if display_config.online_config.show_contact_authors %}
        {% if not user in content.authors.all %}
            <li>
                <a href="{{ pm_link }}" class="ico-after cite blue">
                {% blocktrans count counter=content.authors.all|length %}
                    Contacter l’auteur par MP
                {% plural %}
                    Contacter les auteurs par MP
                {% endblocktrans %}
                </a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block sidebar_blocks %}
    {% include "tutorialv2/includes/sidebar/summary.part.html" with current_container=container %}

    {% if display_config.draft_actions.show_deletion_link %}
         <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Suppression">
            <h3>{% trans "Suppression" %}</h3>
            <ul>
                <li>
                    {%  include "tutorialv2/includes/sidebar/delete.part.html" with object=container additional_classes="ico-after cross red" %}
                </li>
            </ul>
        </div>
    {% endif %}

    {% if display_config.online_config.show_social_buttons %}
        {% include "misc/social_buttons.part.html" with link=container.get_absolute_url_online text=container.title %}
    {% endif %}
{% endblock %}

{% block sidebar_new %}
    {% if display_config.draft_actions.show_draft_link %}
        <a href="{{ object.get_absolute_url }}" class="ico-after edit blue new-btn">
            {% trans "Version brouillon" %}
        </a>
    {% endif %}
{% endblock %}
