{% extends "tutorialv2/base.html" %}
{% load emarkdown %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load roman %}
{% load i18n %}
{% load feminize %}
{% load captureas %}
{% load pluralize_fr %}
{% load set %}
{% load date %}


{% if display_config.online_config.show_dcmi_card %}
    {% block DCMI_cards %}
        {% include "tutorialv2/includes/meta/dcmi_cards.part.html" with db_content=db_content content=content is_online=db_content.public_version %}
    {% endblock %}
{% endif %}


{% if display_config.show_meta_image %}
    {% block meta_image %}{% spaceless %}
        {% include "tutorialv2/includes/meta/image_illu.part.html" with content=content %}
    {% endspaceless %}{% endblock %}
{% endif %}


{% block title %}
    {{ content.title }}
{% endblock %}


{% if display_config.online_config.show_meta_description %}
    {% block description %}
        {% if content.description %}
            {{ content.description }}
        {% else %}
            Site et association de partage de connaissances animé par sa communauté. Vous y trouverez des tutoriels et des articles de tous niveaux et des forums.
        {% endif %}
    {% endblock %}
{% endif %}


{% if display_config.online_config.show_head_extra %}
    {% block head_extra %}
        {{ block.super }}
        {% if content.converted_to.get_absolute_url_online %}
            <link rel="canonical" href="{{ content.converted_to.get_absolute_url_online }}" />
        {% endif %}
    {% endblock %}
{% endif %}


{% if display_config.online_config.show_opengraph %}
    {% block opengraph %}
        {% include "tutorialv2/includes/meta/opengraph.part.html" %}
    {% endblock %}
{% endif %}


{% block breadcrumb %}
    <li>{{ content.title }}</li>
{% endblock %}


{% block headline %}
    {% include "tutorialv2/includes/headline/header.part.html" with show_thumbnail=True content=content title=content.title subtitle=content.description %}

    {% include "tutorialv2/includes/headline/validation_info.part.html" with state=display_config.validation_info %}

    {% include "tutorialv2/includes/headline/beta_info.part.html" with state=display_config.beta_info beta_topic=beta_topic %}

    {% if display_config.info_config.show_help_info %}
        {% include "tutorialv2/includes/headline/help_info.part.html" %}
    {% endif %}

    {% if display_config.info_config.show_opinion_moderation_warning %}
        {% include "tutorialv2/includes/headline/opinion_moderation_warning.part.html" %}
    {% endif %}

    {% if display_config.online_config.show_obsolescence_warning %}
        {% include "tutorialv2/includes/headline/obsolescence_warning.part.html" with is_obsolete=is_obsolete %}
    {% endif %}

    {% if display_config.alerts_config.show_alerts %}
        <div class="opinion-alerts">
            {% include "misc/alerts.part.html" with alerts=alerts alerts_solve_url='content:resolve-content' %}
        </div>
    {% endif %}

    {% if display_config.info_config.show_opinion_promotion %}
        {% include "tutorialv2/includes/headline/opinion_promotion_info.part.html" with content=content is_staff=is_staff %}
    {% endif %}
{% endblock %}


{% block content %}
    {% if display_config.online_config.show_content_pager %}
        {% include "tutorialv2/includes/content/content_pager.part.html" with content=content %}
    {% endif %}

    {% if display_config.online_config.show_rendered_source %}
        {% include "tutorialv2/includes/content/online_content.part.html" %}
    {% else %}
        {% include "tutorialv2/includes/content/content.part.html" %}
    {% endif %}

    {% if display_config.online_config.show_content_pager %}
        {% include "tutorialv2/includes/content/content_pager.part.html" with content=content %}
    {% endif %}

    {% if display_config.alerts_config.show_alert_button %}
        {% include "tutorialv2/includes/alert.html" with content=content current_content_type=current_content_type %}
    {% endif %}

    {% if display_config.info_config.show_warn_typo %}
        {% include "tutorialv2/includes/content/warn_typo.part.html" with content=content %}
    {% endif %}
{% endblock %}


{% block sidebar_new %}
    {% if display_config.draft_actions.show_draft_link %}
        <a href="{{ object.get_absolute_url }}" class="ico-after edit blue new-btn">
            {% trans "Voir la page brouillon" %}
        </a>
    {% endif %}
{% endblock %}


{% block sidebar_actions %}
    {% if display_config.online_config.show_follow_actions %}
        {% include "tutorialv2/includes/sidebar/follow_links.part.html" %}
    {% endif %}

    {% if display_config.online_config.show_propose_feature %}
        <li>
            {% url 'content:request-featured' object.pk as link_request %}
            {% if is_requesting %}
                {% trans "Proposer la mise en une" as data_onclick %}
                {% trans "Ne plus proposer la mise en une" as button_text %}
            {% else %}
                {% trans "Proposer la mise en une" as button_text %}
                {% trans "Ne plus proposer la mise en une" as data_onclick %}
            {% endif %}
            {% include "featured/includes/featured_request.part.html" with link=link_request is_requesting=is_requesting data_onclick=data_onclick button_text=button_text featured_request_count=featured_request_count %}
        </li>
    {% endif %}

    {% if display_config.online_config.show_contact_authors %}
        <li>
            <a href="{{ pm_link }}" class="ico-after cite blue">
                {% blocktrans count counter=content.authors.all|length %}
                    Contacter l’auteur par MP
                {% plural %}
                    Contacter les auteurs par MP
                {% endblocktrans %}
            </a>
        </li>
    {% endif %}

    {% if display_config.online_config.show_opinion_list_links %}
        {% for author in public_object.authors.all %}
            <li>
                {% url "opinion:find-opinion" author.username as opinion_url %}
                <a href="{{ opinion_url }}" class="ico-after offline blue">
                    {% blocktrans %}Voir la tribune de {{ author }} {% endblocktrans %}
                </a>
            </li>
        {% endfor %}
    {% endif %}

    {% if display_config.draft_actions.show_import_link %}
        <li>
            {% url "content:import" content.pk content.slug as import_url %}
            <a href="{{ import_url }}" class="ico-after import blue">{% trans "Importer une nouvelle version" %}</a>
        </li>
    {% endif %}

    {% if display_config.draft_actions.show_contributors_management %}
        {% include "tutorialv2/includes/sidebar/contributors_management.part.html" %}
    {% endif %}

{% endblock %}



{% block sidebar_blocks %}
    {% include "tutorialv2/includes/sidebar/public_actions.part.html" with public_actions=display_config.public_actions %}

    {% include "tutorialv2/includes/sidebar/administration_actions.part.html" with administration_actions=display_config.administration_actions %}

    {% include "tutorialv2/includes/sidebar/beta_actions.part.html" with beta_actions=display_config.beta_actions %}

    {% include "tutorialv2/includes/sidebar/validation.part.html" %}

    {% if display_config.draft_actions.show_helps %}
        {% include "tutorialv2/includes/sidebar/helps.part.html" %}
    {% endif %}

    {% include "tutorialv2/includes/sidebar/editorialization.part.html" %}

    {% if display_config.draft_actions.show_deletion_link %}
        {% include "tutorialv2/includes/sidebar/delete_content.part.html" %}
    {% endif %}

    {% include "tutorialv2/includes/sidebar/summary.part.html" %}

    {% if display_config.online_config.show_social_buttons %}
        {% include "misc/social_buttons.part.html" with link=content.get_absolute_url_online text=content.title %}
    {% endif %}

    {% if display_config.online_config.show_exports %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Télécharger">
            {% if not public_object or public_object.is_exported %}
                {% include "tutorialv2/includes/sidebar/list_of_exports.html" %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}



{% block content_after %}
    {% if display_config.online_config.show_suggestions %}
        {% include "tutorialv2/includes/content_suggestion.part.html" with content=content content_suggestions=content_suggestions_random %}
    {% endif %}

    {% if display_config.online_config.show_comments %}
        {% include "tutorialv2/includes/comments.part.html" with content=content reactions=reactions %}
    {% endif %}
{% endblock %}
