{% extends "tutorialv2/base.html" %}
{% load profile %}
{% load thumbnail %}
{% load date %}
{% load i18n %}


{% block title %}
    {% trans "Historique" %} "{{ content.title }}"
{% endblock %}



{% block breadcrumb %}
    <li><a href="{{ content.get_absolute_url }}">{{ content.title }}</a></li>
    <li>{% trans "Historique des modifications" %}</li>
{% endblock %}



{% block headline %}
    {% if content.licence %}
        <p class="license">
            {{ content.licence }}
        </p>
    {% endif %}

    <h1 {% if content.image %}class="illu"{% endif %}>
        {% if content.image %}
            <img src="{{ content.image.physical.tutorial_illu.url }}" alt="">
        {% endif %}
        {{ content.title }}
    </h1>

    {% if content.description %}
        <h2 class="subtitle">
            {{ content.description }}
        </h2>
    {% endif %}

    {% include 'tutorialv2/includes/tags_authors.part.html' with content=content %}
{% endblock %}



{% block content %}
    <table class="fullwidth">
        <thead>
            <tr>
                <th width="10%">{% trans "Etat" %}</th>
                <th width="18%">{% trans "Date" %}</th>
                <th>{% trans "Version" %}</th>
                <th width="10%">{% trans "Diff" %}.</th>
                <th width="15%">{% trans "Auteur" %}</th>
                <th width="12%">{% trans "Bêta" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>
                        {% if content.sha_validation == log.newhexsha %}
                            {% trans "Validation" %}
                        {% endif %}
                        {% if content.sha_beta = log.newhexsha %}
                            {% trans "Beta" %}
                        {% endif %}
                        {% if content.sha_draft = log.newhexsha %}
                            {% trans "Draft" %}
                        {% endif %}
                    </td>
                    <td>
                        {{ log.time.0|humane_time }}
                    </td>
                    <td>
                        <a href="{% url "content:view" content.pk content.slug %}?version={{ log.newhexsha }}" >
                            {{ log.message }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url "zds.tutorial.views.diff" content.pk content.slug %}?sha={{ log.newhexsha }}" >
                            {{ log.newhexsha|truncatechars:8 }}
                        </a>
                    </td>
                    <td>
                        {% with u=log.actor.name|user %}
                            {% if u %}
                                {% include "misc/member_item.part.html" with member=u avatar=True %}
                            {% else %}
                                <em>{% trans "Inconnu" %}</em>
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>
                        {% if not content.sha_beta == log.newhexsha %}
                            <a href="#activ-beta-{{ log.newhexsha }}" class="open-modal">
                                {% if not content.sha_beta %}
                                    {% trans "Activer" %}
                                {% else %}
                                    {% trans "Mettre à jour" %}
                                {% endif %}
                            </a>
                            <form action="{% url "content:put-beta" content.pk content.slug %}" method="post" class="modal modal-small" id="activ-beta-{{ log.newhexsha }}">
                                {% csrf_token %}
                                <input type="hidden" name="version" value="{{ log.newhexsha }}">
                                <p>
                                    {% blocktrans %}
                                        Êtes-vous certain de vouloir <strong>
                                    {% endblocktrans %}
                                     {% if not content.sha_beta %}
                                        {% trans "activer" %}
                                    {% else %}
                                        {% trans "mettre à jour" %}
                                    {% endif %}
                                    {% blocktrans with date_version=log.time.0|humane_time content_title=content.title %}
                                        </strong> la bêta sur le tutoriel
                                        "<em>{{ content_title }}</em>" dans sa version du {{ date_version }} ?
                                    {% endblocktrans %}
                                </p>
                                <button type="submit">
                                    {% trans "Confirmer" %}
                                </button>
                            </form>

                        {% else %}
                            <em>{% trans "En bêta" %}</em>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}