{% comment %}
    Structure de la page de second level :
    - présentation des sous catégories (accessible via {%  for category in categories %}
    - liste des 10 derniers tutos en une colonne
    - liste des 10 tutos les plus commentés en une colonne
{% endcomment %}

<section class="flexpage-header">
    <div class="flexpage-wrapper">
        <div class="flexpage-title-search">
            <div class="picto">
                <img src="http://127.0.0.1:8000/static/images/home-clem.png">
            </div>
            <div class="title">
                <h1>Nom du domaine</h1>
                {{ content_count }} contenus
            </div>

            <form action="" id="search-form" class="search" method="get">
                <label for="id_q" class="control-label ">Recherche</label>
                <input type="hidden" name="models" value="tutorial,article">
                <input id="id_q" maxlength="150" name="q" required="required" type="search">
                <button class="btn ico-after ico-search" type="submit" title="Rechercher"></button>
            </form>
        </div>
    </div>
</section>

<div class="flexpage-wrapper">
    <section>
        <h2 class="inline" itemprop="name">Catégories de "nom du domaine"</h2>
        <div class="content-linkbox-list">
            {% for category in categories %}
                <div class="linkbox-item secondary">
                    <a href="{% url 'content:list' %}?category={{ category.slug }}" class="head">
                        <h3>{{ category.title }}</h3>
                    </a>

                    <a href="{% url 'content:list' %}?category={{ category.slug }}" class="body">
                        <p class="right">{{ category.count }} contenu</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

    <div class="flexpage-column">
        <section>
            <h2 itemprop="name">
                Derniers tutoriels de "nom du domaine"
                <a href="{% url "tutorial:feed-rss" %}" class="btn btn-grey">RSS</a>
                <a href="{% url "tutorial:feed-atom" %}" class="btn btn-grey">Atom</a>
            </h2>
            {% include 'tutorialv2/list_page_elements/list_of_content.html' with public_contents=public_contents col_number=1 %}
            <a href="#" class="more-link">Plus de tutoriels de "nom du domaine"</a>
        </section>

        <section>
            <h2 itemprop="name">
                Derniers articles de "nom du domaine"
                <a href="{% url "article:feed-rss" %}" class="btn btn-grey">RSS</a>
                <a href="{% url "article:feed-atom" %}" class="btn btn-grey">Atom</a>
            </h2>
            {% include 'tutorialv2/list_page_elements/list_of_content.html' with public_contents=selected_contents col_number=1 %}
            <a href="#" class="more-link">Plus d'article de "nom du domaine"</a>
        </section>
    </div>

</div>
