{% comment %}
    Structure de la page de second level :
    - présentation des sous catégories (accessible via {%  for category in categories %}
    - liste des 10 derniers tutos en une colonne
    - liste des 10 tutos les plus commentés en une colonne
{% endcomment %}

<section class="flexpage-header">
    <div class="flexpage-wrapper">
        <div class="flexpage-title-tool">
            <div class="picto">
                <img src="/static/images/home-clem.png">
            </div>

            <div class="title">
                <h1><a href="{% url 'content:list' %}">Contenus</a></h1>
                <span class="separator"></span>
                <h2>{{ theme }}</h2>
            </div>

            <div class="aside">
                <form action="" id="search-form" class="search" method="get">
                    <label for="id_q" class="control-label ">Recherche</label>
                    <input id="id_q" maxlength="150" name="q" required="required" type="search">
                    <input type="hidden" name="models" value="tutorial,article">
                    <button class="btn ico-after ico-search" type="submit" title="Rechercher"></button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="flexpage-wrapper">
    <section>
        <h2 class="inline" itemprop="name">Catégories dans {{ theme | lower }}</h2>
        <div class="content-linkbox-list">
            {% for category in categories %}
                <div class="linkbox-item secondary">
                    <a href="{% url 'content:list' %}?category={{ category.slug }}" class="head">
                        <h3>{{ category.title }}</h3>
                    </a>

                    <a href="{% url 'content:list' %}?category={{ category.slug }}" class="body">
                        <p class="right">{{ category.count }} contenu</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

    <div class="flexpage-column">
        <section>
            <h2 itemprop="name">
                Derniers tutoriels
                <a href="{% url "tutorial:feed-rss" %}" class="btn btn-grey">RSS</a>
                <a href="{% url "tutorial:feed-atom" %}" class="btn btn-grey">Atom</a>
            </h2>
            {% include 'tutorialv2/list_page_elements/list_of_content.html' with public_contents=public_contents col_number=1 %}
            <a href="#" class="more-link">Plus de tutoriels dans {{ theme | lower }}</a>
        </section>

        <section>
            <h2 itemprop="name">
                Derniers articles
                <a href="{% url "article:feed-rss" %}" class="btn btn-grey">RSS</a>
                <a href="{% url "article:feed-atom" %}" class="btn btn-grey">Atom</a>
            </h2>
            {% include 'tutorialv2/list_page_elements/list_of_content.html' with public_contents=public_contents col_number=1 %}
            <a href="#" class="more-link">Plus d'article dans {{ theme | lower }}</a>
        </section>
    </div>

</div>
