{% extends "tutorialv2/base.html" %}

{% block content %}
<h1>Générateur de quizz</h1>
<form>
    <label for="question">Question:</label>
    <textarea id="question" name="question" rows="4" cols="50"></textarea>

    <div id="Answers">
        <div class="answer">
            <label for="answer1">réponse 1:</label>
            <input type="text" id="answer1" name="answer1">
            <span class="radio-container"><label for="correct1">Correcte:</label><input type="radio" id="correct1" name="correct" value="1"></span>
        </div>
        <div class="answer">
            <label for="answer2">réponse 2:</label>
            <input type="text" id="answer2" name="answer2">
            <span class="radio-container"><label for="correct2">Correcte:</label><input type="radio" id="correct2"
                    name="correct" value="2"></span>
        </div>
    </div>

    <button type="button" id="add-answer">Autre réponse</button>

    <label for="explanation">Explication:</label>
    <textarea id="explanation" name="explanation" rows="4" cols="50"></textarea>

    <button type="button" id="Submit"> Générer </button>
</form>

<h1 >Code Markdown : </h1>

<div class="result"><pre id="output"></pre></div>


<style>
    
    .radio-container {
        display: inline-block;
        margin-left: 5px;
    }

    #add-answer  {
        display: inline-block;
        background-color: #69a8c5;
        color: white;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #add-answer:hover {
        background-color: #488293;
    }
    #Submit  {
        display: inline-block;
        background-color: #04a504;
        color: white;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 12px;
    }

    #Submit:hover {
        background-color: #2998b9;
    }
</style>

<script>

    const output = document.querySelector('#output');
    const Answers = document.querySelector('#Answers');
    const addAnswerButton = document.querySelector('#add-answer');
    const submitform = document.querySelector('#Submit');

    // Initialize answer count
    let answerCount = 2;

    // Add a new answer field to the form
    const addAnswerField = () => {
        answerCount++;
        // Create the new answer field elements
        const newAnswer = document.createElement('div');
        newAnswer.classList.add('answer');
        newAnswer.innerHTML = `
        <label for="answer${answerCount}">réponse ${answerCount}:</label>
        <input type="text" id="answer${answerCount}" name="answer${answerCount}">
        <span class="radio-container"><label for="correct${answerCount}">Correcte:</label>
        <input type="radio" id="correct${answerCount}" name="correct" value="${answerCount}"></span>`;

        // Append the new answer field to the form
        Answers.appendChild(newAnswer);
    };

    const show_output = () => {
    
        const question = document.querySelector('#question').value;
        const explanation = document.querySelector('#explanation').value;

        // Build the output
        let outputString = `[[quizz | ${question}]]\n`;
        for (let i = 1; i <= answerCount; i++) {
            const answer = document.querySelector(`#answer${i}`).value;
            const isCorrect = document.querySelector(`#correct${i}`).checked;
            outputString += `|-[${isCorrect ? 'x' : ' '}] ${answer}\n`;
        }
        outputString += `|[[neutre | explanation]]\n|| ${explanation}\n`;
        // Display the output
        output.textContent = outputString;
    };

    addAnswerButton.addEventListener('click', addAnswerField);
    submitform.addEventListener('click', show_output);
    

</script>
{% endblock %}