{% extends 'tutorialv2/view/base_categories.html' %}
{% load i18n %}

{% block content_category %}

    <div class="flexpage-column">
        <section>
            <h2 itemprop="name">
                Derniers tutoriels
                <a href="{% url "tutorial:feed-rss" %}" class="btn btn-grey">RSS</a>
                <a href="{% url "tutorial:feed-atom" %}" class="btn btn-grey">Atom</a>
            </h2>
            {% include 'tutorialv2/list_page_elements/list_of_online_contents.html' with public_contents=last_tutorials col_number=1 %}
            <a href="{% url 'tutorial:list' %}?theme={{ category.slug }}" class="more-link">Plus de tutoriels dans {{ subcategory.title | lower }}</a>
        </section>

        <section>
            <h2 itemprop="name">
                Derniers articles
                <a href="{% url "article:feed-rss" %}" class="btn btn-grey">RSS</a>
                <a href="{% url "article:feed-atom" %}" class="btn btn-grey">Atom</a>
            </h2>
            {% include 'tutorialv2/list_page_elements/list_of_online_contents.html' with public_contents=last_articles col_number=1 %}
            <a href="{% url 'article:list' %}?theme={{ category.slug }}" class="more-link">Plus d'articles dans {{ subcategory.title | lower }}</a>
        </section>
    </div>

    {% include 'tutorialv2/list_page_elements/call_for_helps.html' %}
{% endblock %}
