{% extends 'tutorialv2/view/base_categories.html' %}
{% load i18n %}

{% block content_category %}

<section>
    <h2 itemprop="name">
        <span>{% trans "Dernières publications" %}</span>
        <a href="{% url "content:feed-rss" %}{% querystring subcategory=subcategory.slug %}" class="btn btn-grey">RSS</a>
        <a href="{% url "content:feed-atom" %}{% querystring subcategory=subcategory.slug %}" class="btn btn-grey">Atom</a>
    </h2>
    {% include 'tutorialv2/list_page_elements/list_of_online_contents.html' with public_contents=last_contents col_number=2 %}
    {% if last_contents and more_contents %}
        <a href="{% url 'publication:list' %}{% querystring subcategory=subcategory.slug type='all' %}" class="more-link">Plus de publications dans {{ subcategory.title }}</a>
    {% endif %}
</section>

{% endblock %}
