{% extends "tutorialv2/base.html" %}
{% load profile %}
{% load thumbnail %}
{% load date %}
{% load i18n %}
{% load captureas %}
{% load pluralize_fr %}


{% block title %}
    {% trans "Liste des tags" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Liste des tags" %}</li>
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper">
        <h2 class="ico-after ico-tags">
          Tous les tags
        </h2>

        <div class="content-tags-list">
            {% for tag in tags %}
                <div class="content-tag">
                    <a href="{% url 'publication:list' %}?tag={{ tag.slug }}">
                        <div class="tag-title">{{ tag }}</div>
                        <div class="tag-count">
                            {%  blocktrans with tag_count=tag.num_content plural=tag.num_content|pluralize_fr %}
                                {{ tag_count }} contenu{{ plural }}
                            {%  endblocktrans %}
                        </div>
                    </a>
                </div>
            {% empty %}
                <p>{% trans "Aucun tag." %}</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
