{% extends "member/base.html" %}
{% load i18n %}



{% block title %}
    {% trans "Échec de la réinitialisation" %}
{% endblock %}



{% block headline %}
    {% trans "Échec de la réinitialisation" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Nouveau mot de passe" %}</li>
{% endblock %}



{% block content %}
    <p>
        {% trans "Votre mot de passe n’a pas pu être modifié. À partir du moment où vous soumettez votre requête pour réinitialiser votre mot de passe, vous n’avez qu’une heure pour la confirmer" %}.
    </p>
    <p>
        <a href="{% url "member-forgot-password" %}">{% trans "Soumettre à nouveau votre demande de réinitialisation" %}</a>.
    </p>
{% endblock %}



{# No sidebar on this page #}
{% block body_class %}{% trans "no-sidebar" %}{% endblock %}
{% block sidebar %}{% endblock %}
