{% extends "member/base.html" %}
{% load i18n %}


{% block title %}
    {% trans "Nouveau mot de passe raté" %}
{% endblock %}



{% block headline %}
    {% trans "Nouveau mot de passe raté" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Nouveau mot de passe" %}</li>
{% endblock %}



{% block content %}
    <p>
        {% trans "Votre mot de passe n'a pas pu être modifié. A partir du moment où vous soumettez votre requête pour réinitialiser votre mot de passe, vous n'avez qu'une heure pour la confirmer" %}.
    </p>
    <p>
        <a href="{% url "member-forgot-password" %}">{% trans "Resoumettre votre demande de réinitialisation" %}</a>.
    </p>
{% endblock %}
