{% extends "member/base.html" %}
{% load i18n %}


{% block title %}
    {% trans "Nouveau mot de passe réussi" %}
{% endblock %}



{% block headline %}
    {% trans "Nouveau mot de passe réussi" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Nouveau mot de passe" %}</li>
{% endblock %}



{% block content %}
    <p>
        {% trans "Votre mot de passe a bien été modifié" %}. <a href="{% url "{% trans "zds.member.views.login_view" %}" %}">{% trans "Vous connectez" %}</a>.
    </p>
{% endblock %}