{% extends "featured/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% trans "Modification d’une une" %}
{% endblock %}



{% block headline %}
    {% trans "Modification d’une une" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Modification d’une une" %}</li>
{% endblock %}



{% block content %}
    <div class="content-wrapper featured-resource-edit-form">
        {% include "featured/includes/featured_resource_item.part.html" %}
        {% crispy form %}
    </div>
{% endblock %}



{% block sidebar_actions %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="{% trans "Actions" %}">
        <h3>{% trans "Actions" %}</h3>
        <ul>
            <li>
                <a href="#delete-featured-resource" class="open-modal ico-after cross blue">
                    {% trans "Supprimer la une" %}
                </a>
                <form action="{% url "featured:resource-delete" featured_resource.pk %}" method="post" id="delete-featured-resource" class="modal modal-flex">
                    <p>
                        {% trans "Attention, vous vous apprêtez à supprimer définitivement cette une." %}
                    </p>

                    {% csrf_token %}
                    <button type="submit" name="delete" class="btn btn-submit">{% trans "Confirmer" %}</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}
