// If you want to change this, you may want to do it also in templates/base.html. Particulary in the meta tag named theme-color and msapplication-navbutton-color. 
$color-primary: #084561;
$color-secondary: #F8AD32;

$color-body-background: #F7F7F7;
$color-header-hover: #396a81;
$color-helpful: #e9f9dc;

$color-sidebar-background: #F0F0F0;
$color-sidebar-hover: #FFF;

$color-success: #48a200;
$color-danger: #c0392b;

$color-keyboard: #F8F6EA;

$color-staff-link: $color-secondary;
$color-hat: #6F6F6F;
$color-staff-hat: #2B5C73;
