$length-1: 1px;
$length-2: 2px;
$length-4: 4px;
$length-6: 6px;
$length-8: 8px;
$length-10: 10px;
$length-12: 12px;
$length-14: 14px;
$length-16: 16px;
$length-18: 18px;
$length-20: 20px;
$length-24: 24px;
$length-32: 32px;
$length-38: 38px;
$length-48: 48px;
$length-64: 64px;
$length-96: 94px;
$length-128: 128px;
$length-192: 192px;
$length-256: 256px;
$length-384: 384px;
$length-512: 512px;
$length-640: 640px;
$length-768: 768px;
