$media-mega-wide: "(min-width: 1360px)";
$media-extra-wide: "(min-width: 1140px)";
$media-wide: "(min-width: 960px)";
$media-tablet: "(min-width: 760px)";
$media-mobile-tablet: "(max-width: 959px)";
$media-mobile: "(max-width: 759px)";
