// Breakpoints between each screen category
$tablet: 769px;
$desktop: 1024px;
$wide: 1216px;
$fullhd: 1408px;

// Some inspiration for names & concepts from the Bulma CSS framework

// Mobile and below (well, mobile)
@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

// Tablet and above (also print)
@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}

// Tablet
@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}

// Tablets and mobules: touchscreens
@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

// Desktop and above
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Desktop only
@mixin desktop-only {
  @media screen and (min-width: $desktop) and (max-width: $wide - 1px) {
    @content;
  }
}

// Mobile, tablet and desktop
@mixin until-wide {
  @media screen and (max-width: $wide - 1px) {
     @content;
  }
}

// Wide screen and above
@mixin wide {
  @media screen and (min-width: $wide) {
    @content;
  }
}

// Wide screen only
@mixin wide-only {
  @media screen and (min-width: $wide) and (max-width: $fullhd - 1px) {
    @content;
  }
}

// Mobile, tablet, desktop and wide screen
@mixin until-fullhd {
  @media screen and (max-width: $fullhd - 1px) {
    @content;
  }
}

// Full HD screen
@mixin fullhd {
  @media screen and (min-width: $fullhd) {
    @content;
  }
}
