// Border radius to use if possible
// You can see previews of them at
// https://zestedesavoirgithubio/normes-graphiques/#arrondis

$radius-1: 4px;
$radius-2: 6px;
$radius-3: 8px;
$radius-4: 12px;
$radius-5: 16px;
$radius-round: 19042014px;
