$font-sans-serif: "Segoe UI", "Trebuchet MS", Helvetica, "Helvetica Neue", Arial, sans-serif;
$font-serif: "Liberation Serif", "Times New Roman", Times, Georgia, FreeSerif, serif;
$font-monospace: monospace, serif;
$font-sans-serif-active: "Source Sans Pro", $font-sans-serif;
$font-serif-active: "Merriweather", $font-serif;
$font-monospace-active: "Source Code Pro", $font-monospace;