$font-sans-serif: "Source Sans Pro", "Segoe UI", "Trebuchet MS", Helvetica, "Helvetica Neue", Arial, sans-serif;
$font-serif: "Merriweather", "Liberation Serif", "Times New Roman", Times, Georgia, FreeSerif, serif;
$font-monospace: "Source Code Pro", monospace, serif;

// FONT SIZE SCALE
// These sizes should be used whenever possible to ensure consitency.
$size-1: 7.2rem;
$size-2: 6rem;
$size-3: 4.8rem;
$size-4: 3.6rem;
$size-5: 3rem;
$size-6: 2.4rem;
$size-7: 2rem;
$size-8: 1.8rem;
$size-9: 1.6rem;
$size-10: 1.4rem;
$size-11: 1.2rem;
