<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    Bonjour <strong>{{ username }}</strong>,
    <br />
    <br />
    <p>
        Vous vous &ecirc;tes inscrit sur <a href="{{app.site.url}}">{{app.site.litteral_name}}</a> et nous vous en remercions.
        En &eacute;tant membre de notre communaut&eacute;, vous aurez la possibilit&eacute; de r&eacute;diger des tutoriels et des articles
        que vous pourrez ensuite publier et ainsi de rendre vos connaissances accessibles au plus grand nombre.
        Vous pourrez &eacute;galement &eacute;changer avec les autres membres sur nos forums !
        <br />
        Il ne vous reste plus qu'&agrave; activer votre profil ! Pour ce faire, visitez le lien ci-dessous :
        <br />
        <a href="{{ url }}">{{ url }}</a>
        <br />
        <br />
        A tr&egrave;s bient&ocirc;t !
        <br />
        L'&eacute;quipe {{app.site.litteral_name}}
    </p>
</body>
