{% load i18n %}
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    {% trans "Bonjour" %} <strong>{{ username }}</strong>,
    <br />
    <br />
    <p>
        {% blocktrans %}
        Vous vous êtes inscrit sur <a href="{{ site_url }}">{{ site_name }}</a> et nous vous en remercions.
        En étant membre de notre communauté, vous aurez la possibilité de rédiger des tutoriels et des articles
        que vous pourrez ensuite publier et ainsi de rendre vos connaissances accessibles au plus grand nombre.
        Vous pourrez également échanger avec les autres membres sur nos forums !
        <br />
        Il ne vous reste plus qu'à activer votre profil ! Pour ce faire, visitez le lien ci-dessous :
        <br />
        <a href="{{ url }}">{{ url }}</a>
        <br />
        <br />
        A très bientôt !
        <br />
        L'équipe {{ site_name }}
        {% endblocktrans %}
    </p>
</body>
</html>