{% extends "member/register/base.html" %}
{% load crispy_forms_tags %}



{% block title %}
    Inscription
{% endblock %}



{% block headline %}
    Inscription
{% endblock %}



{% block breadcrumb %}
    <li>Inscription</li>
{% endblock %}



{% block content %}
    {% if not user.is_authenticated %}
        {% if error %}
            {{ error }}
        {% endif %}

        <p>
            <strong>Vous êtes sur le point de vous inscrire sur {{app.site.litteral_name}}</strong>. Si vous
            possédez déjà un compte, veuillez <a href="{% url "zds.member.views.login_view" %}">vous connecter</a>.
        </p>
        <p>
            Les informations demandées dans le formulaire suivant
            sont nécessaires afin de poursuivre votre inscription.
        </p>

        {% crispy form %}
    {% else %}
        <p>
            Vous êtes déjà connecté.
        </p>
    {% endif %}
{% endblock %}