{% extends "member/register/base.html" %}
{% load crispy_forms_tags %}



{% block title %}
    Inscription
{% endblock %}



{% block breadcrumb %}
    <li>Inscription</li>
{% endblock %}



{% block content_out %}
    <div class="content-wrapper">
        {% if not user.is_authenticated %}
            {% if error %}
                {{ error }}
            {% endif %}

            <p class="alert-box warning">
                <strong>Vous êtes sur le point de vous inscrire sur {{app.site.litteral_name}}</strong>. Si vous
                possédez déjà un compte, veuillez <a href="{% url "zds.member.views.login_view" %}">vous connecter</a>.
            </p>

            <div>
                <div class="content-col-2">
                    <h2>Inscription classique</h2>
                    <p>
                        Les informations demandées dans le formulaire suivant
                        sont nécessaires afin de poursuivre votre inscription.
                    </p>
                    {% crispy form %}
                </div>
                <div class="content-col-2">
                    <h2>Inscription sociale</h2>
                    <p>
                        Vous pouvez également créer un compte en utilisant
                        un des services tiers ci-dessous.
                    </p>

                    <a href="{% url "social:begin" "facebook" %}" class="btn ico-after facebook light btn-facebook btn-holder">
                        Inscription via Facebook
                    </a>
                    <a href="{% url "social:begin" "twitter" %}" class="btn ico-after twitter light btn-twitter btn-holder">
                        Inscription via Twitter
                    </a>
                    <a href="{% url "social:begin" "google-oauth2" %}" class="btn ico-after google-plus light btn-google-plus btn-holder">
                        Inscription via Google+
                    </a>
                </div>
            </div>
        {% else %}
            <p>
                Vous êtes déjà connecté.
            </p>
</div>
{% endblock %}
