{% extends "member/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% trans "Envoi du courriel de confirmation" %}
{% endblock %}



{% block headline %}
    {% trans "Envoi du courriel de confirmation" %}
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Envoi du courriel de confirmation" %}</li>
{% endblock %}


{% block content %}

    {% if not user.is_authenticated %}
        {% if error %}
            {{ error }}
        {% endif %}

        {% blocktrans %}
            <p>
                Vous n'avez pas reçu le mail de confirmation ? Nous pouvons vous le renvoyer, nous avons
                besoin de l'une des informations suivantes: saisissez votre nom d'utilisateur ou votre adresse de courriel
                dans les champs ci-dessous.
            </p>
            <p>
                <ul>
                    <li><a href="#" data-email-button="email">Saisir votre adresse de courriel</a></li>
                    <li><a href="#" data-username-button="username">Saisir votre nom d'utilisateur</a></li>
                </ul>
            </p>
        {% endblocktrans %}

        {% crispy form %}
    {% else %}
        <p>{% trans "Vous êtes connecté" %}</p>
    {% endif %}
{% endblock %}
