{% extends "member/register/base.html" %}



{% block title %}
    Inscription réussie
{% endblock %}



{% block headline %}
    Inscription réussie
{% endblock %}



{% block breadcrumb %}
    <li class="current">Inscription</li>
{% endblock %}



{% block content %}
    <p>
        Vous avez bien été inscrit au site.
    </p>
    <p>
        Vous avez reçu un email vous permettant de valider votre adresse mail, lisez le et suivez les instructions pour profiter pleinement des fonctionnalités de ZesteDeSavoir
    </p>
{% endblock %}