{% extends "member/base.html" %}
{% load i18n %}


{% block title %}
    {% trans "Jeton expiré" %}
{% endblock %}



{% block headline %}
    {% trans "Jeton expiré" %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{% url "register-member" %}">{% trans "Inscription" %}</a></li>
    <li>{% trans "Jeton expiré" %}</li>
{% endblock %}



{% block content %}
    <p>
        {% url "member-generate-token-account" as url_generate %}
        {% blocktrans with jeton=token.token%}
            Désolé, votre de jeton de confirmation a expiré. Vous pouvez cependant le regénerer, pour cela, cliquer sur ce lien suivant: <a href="{{url_generate}}?token={{jeton}}">envoi de jeton</a>.
        {% endblocktrans %}
    </p>
{% endblock %}



{# No sidebar on this page #}
{% block body_class %}{% trans "no-sidebar" %}{% endblock %}
{% block sidebar %}{% endblock %}
