{% extends "member/base.html" %}
{% load i18n %}



{% block title %}
    {% trans "Compte déjà activé" %}
{% endblock %}



{% block headline %}
    {% trans "Compte déjà activé" %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{% url "register-member" %}">{% trans "Inscription" %}</a></li>
    <li>{% trans "Déjà activé" %}</li>
{% endblock %}



{% block content %}
    <p>
        {% url "member-forgot-password" as url_forgot %}
        {% blocktrans %}
            Votre compte a déjà été activé. Si vous avez oublié votre mot de passe, vous pouvez le retrouver <a href="{{url_forgot}}">ici</a>.
        {% endblocktrans %}
    </p>
{% endblock %}



{% block sidebar_actions %}
    <a href="{% url 'member-login' %}" class="new-btn ico-after arrow-left blue">
        {% trans "Retour" %} <span class="wide">{% trans "à la page de connexion" %}</span>
    </a>
{% endblock %}
