{% extends "member/register/base.html" %}



{% block title %}
    Jeton expiré
{% endblock %}



{% block headline %}
    Jeton expiré
{% endblock %}



{% block breadcrumb %}
    <li><a href="{% url "zds.member.views.register_view" %}">Inscription</a></li>
    <li>Jeton expiré</li>
{% endblock %}



{% block content %}
    <p>
        Désolé, votre de jeton de confirmation a expiré. Vous pouvez cependant le regénerer, pour cela, cliquer sur ce lien suivant: <a href="{% url "zds.member.views.generate_token_account" %}?token={{token.token}}">envoi de jeton</a>.
    </p>
{% endblock %}