{% extends "member/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}



{% block title %}
    {% trans "Confirmation d’inscription réussie" %}
{% endblock %}



{% block breadcrumb %}
    <li><a href="{% url "register-member" %}">{% trans "Inscription" %}</a></li>
    <li>{% trans "Confirmation" %}</li>
{% endblock %}



{% block content_out %}
    <section class="small-content-wrapper">
        <h2>{% trans "Confirmation d’inscription réussie !" %}</h2>

        <p>
            {% trans "Vous avez confirmé votre courriel sur le site." %}
        </p>
        <p>
            {% trans "Vous pouvez maintenant vous connecter et partager avec tous les membres." %}
            {% crispy form %}
        </p>
    </section>
{% endblock %}



{% block sidebar_actions %}
    <a href="{% url 'member-login' %}" class="new-btn ico-after arrow-left blue">
        {% trans "Retour" %} <span class="wide">{% trans "à la page de connexion" %}</span>
    </a>
{% endblock %}
