/* ===== Zeste de Savoir ====================================================
   Base from HTML5 BoilerPlate
   Updated by: Alex-D / Alexandre Demode
   ---------------------------------
   Base style for globals elements & helpers
   ========================================================================== */



html,
body,
button,
input,
select,
textarea {
    font-family: "Segoe UI", "Roboto", "Trebuchet MS", Helvetica, "Helvetica Neue", Arial, sans-serif;
    color: #222;
}

html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: #FFF;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5em;
    min-height: 100%;
    width: 100%;
}
.page-container,
.main-container {
    min-height: 100%;
    background: #FFF;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
    text-align: center;
}

.mobile-menu,
.mobile-menu-btn {
    display: none;
}

.ico {
    background-image: $sprite;
    background-repeat: no-repeat;
}
.ico-after {
    position: relative;

    &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background-image: $sprite;
        background-repeat: no-repeat;
    }
}

.a11y {
    display: block;
    width: 0;
    height: 0;
    text-indent: -9999px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}