/* ===== Zeste de Savoir ====================================================
   Author: Alex-D / Alexandre Demode
   ---------------------------------
   Only for extra-wide screens with width > 1140px
   ========================================================================== */



@media only screen and (min-width: 1140px) {
    .wide {
        display: inline;
    }
    table .wide {
      display: table-cell;
    }

    .header-container .header-menu {
        width: 40%;
        margin-left: 5%;
    }
}