/* ===== Zeste de Savoir ====================================================
   Author: Alex-D / Alexandre Demode
   ---------------------------------
   Style only for mobiles and tablets
   ========================================================================== */



@media only screen and (max-width: 760px) {
    html.dropdown-active {
        overflow: hidden;

        .page-container {
            width: 100%;
        }

        .main-container {
            display: none;
        }
    }

    .header-menu-dropdown {
        display: none !important;
    }

    .dropdown {
        width: 100%;
        top: 180px;
        bottom: 0;
        border-bottom: none;

        .dropdown-list {
            overflow: auto;
            position: absolute;
            top: 36px;
            bottom: 50px;
        }
        .dropdown-link-all {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
            line-height: 50px;
        }
    }
}