/* ===== Zeste de Savoir ====================================================
   Author: Alex-D / Alexandre Demode
   ---------------------------------
   Tablet and more
   ========================================================================== */



@media only screen and (min-width: 760px) {
    .dropdown {
        @include box-shadow(0 5px 7px rgba(0, 0, 0, .3));
    }

    .header-right {
        .dropdown {
            width: 350px;
            left: auto;
            padding: 0;

            .dropdown-list {
                max-height: 270px;
                overflow-x: hidden;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 10px;
                    height: 10px;
                }
                &::-webkit-scrollbar-track {
                    background-color: #06354a;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #396a81;
                    border: 1px solid #06354a;
                    @include transition;

                    &:hover {
                        background-color: #5196b6;
                    }
                    &:active {
                        background-color: #71b4d3;
                    }
                }
            }

            &.my-account-dropdown {
                width: 230px;
            }
        }
    }
}