/* ===== Zeste de Savoir ====================================================
   Author: Alex-D / Alexandre Demode
   ---------------------------------
   All styles for *Zeste de Savoir* website
   ========================================================================== */



@import "compass";
@import "compass/css3/user-interface";



/**
 * Global vars
 */
$default-transition-duration: .15s;

$sprite: sprite-map("sprite/*.png");
$sprite2x: sprite-map("sprite@2x/*.png");
//$sprite: $sprite2x;



/**
 * Custom mixins
 */
@mixin sprite-pos($map, $_item, $retina: false){
    @if($retina == false){
        background-position: sprite-position($map, $_item);
    } @else {
        background-position: round(nth(sprite-position($map, $_item), 1)/ 2) round(nth(sprite-position($map, $_item), 2)/ 2);
    }
}

@mixin pointer-events($type: none) {
    $type: unquote($type);
    @include experimental(pointer-events, $type,
        -moz, -webkit, not -o, not -ms, -khtml, official
    );
}

/**
 * Import external mixins
 */
@import "mixins/display-flex";



/**
 * Import custom styles
 */
@import "normalize";
@import "base";

@import "all-supports";
@import "form";
@import "editor";

// Fluid layout
@import "mobile";
@import "mobile-tablet";
@import "tablet";
@import "wide";
@import "extra-wide";

// Retina-like support
@import "high-pixel-ratio";

// Dependencies
@import "pygments";

// Disable a lot of styles for print
@import "print";