/* ===== Zeste de Savoir ====================================================
   Author: Alex-D / Alexandre Demode
   ---------------------------------
   All styles for *Zeste de Savoir* website
   ========================================================================== */



@import "compass";
@import "compass/css3/user-interface";



/**
 * Global vars
 */
$default-transition-duration: .15s;

//$sprite: sprite-map("sprite/*.png");
$sprite2x: sprite-map("sprite@2x/*.png");
$sprite: $sprite2x;



/**
 * Colors
 */
$body-background: #F7F7F7;
$blue: #084561;
$orange: #F8AD32;
$header-hover: #396a81;
$helpful: #e9f9dc;

$sidebar-background: #F0F0F0;
$sidebar-hover: #FFF;

// Margins
$modal-margin: 25px;

// Font Famillies
$font-sans-serif: "Segoe UI", "Trebuchet MS", Helvetica, "Helvetica Neue", Arial, sans-serif;
$font-serif: "Liberation Serif", "Times New Roman", Times, Georgia, FreeSerif, serif;
$monospace: monospace, serif;
$font-sans-serif-active: "Source Sans Pro", $font-sans-serif;
$font-serif-active: "Droid Serif", $font-serif;
$monospace-active: "Source Code Pro", $monospace;


/**
 * Custom mixins
 */
@mixin sprite-pos($map, $_item, $retina: false){
    @if($retina == false){
        background-position: sprite-position($map, $_item);
    } @else {
        background-position: round(nth(sprite-position($map, $_item), 1)/ 2) round(nth(sprite-position($map, $_item), 2)/ 2);
    }
}

@mixin pointer-events($type: none) {
    $type: unquote($type);
    @include experimental(pointer-events, $type,
        -moz, -webkit, not -o, not -ms, -khtml, official
    );
}

/**
 * Import external mixins
 */
@import "mixins/display-flex";



/**
 * Import custom styles
 */
@import "normalize";
@import "base";

@import "all-supports";
@import "form";
@import "editor";

// Fluid layout
@import "mobile";
@import "mobile-tablet";
@import "tablet";
@import "wide";
@import "extra-wide";

// Retina-like support
@import "high-pixel-ratio";

// Dependencies
@import "pygments";

// Disable a lot of styles for print
@import "print";