{% extends "tutorialv2/base_online.html" %}
{% load date %}
{% load captureas %}
{% load i18n %}

{% block title_base %}
    {% trans "Validation" %}
{% endblock %}

{% block title %}
    {% if request.GET.type == "reserved" %}
        {% trans "Reservés" %} &bull;
    {% elif request.GET.type == "orphan" %}
        {% trans "Non reservés" %} &bull;
    {% elif request.GET.type == "article" %}
        {% trans "Articles" %} &bull;
    {% elif request.GET.type == "tuto" %}
        {% trans "Tutoriels" %} &bull;
    {% endif %}
{% endblock %}



{% block breadcrumb_base %}
    <li>{% trans "Validation" %}</li>
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper">
        <h1>
            {% block headline %}
                {% trans "Validation des contenus" %}
                {% if request.GET.type == "reserved" %}
                    / {% trans "Reservés" %}
                {% elif request.GET.type == "orphan" %}
                    / {% trans "Non reservés" %}
                {% elif request.GET.type == "article" %}
                    / {% trans "Articles" %}
                {% elif request.GET.type == "tuto" %}
                    / {% trans "Tutoriels" %}
                {% endif %}
                {%  if category %}
                    / {{ category.title }}
                {% endif %}
                ({{ validations|length }})
            {% endblock %}
        </h1>

        {% captureas headlinesub %}
            {% block headline_sub %}{% endblock %}
        {% endcaptureas %}
        {% if headlinesub %}
            <h2 class="subtitle">{{ headlinesub|safe }}</h2>
        {% endif %}

        {% block content %}
            {% if validations %}
                <table class="fullwidth">
                    <thead>
                        <tr>
                            <th>{% trans "Titre" %}</th>
                            <th width="5%">{% trans "Type" %}</th>
                            <th width="15%">{% trans "Auteur(s)" %}</th>
                            <th width="10%">{% trans "Proposé le" %}</th>
                            <th width="10%">{% trans "Statut historique" %}</th>
                            <th width="24%">{% trans "Statut" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for validation in validations %}
                            <tr>
                                <td>
                                    {% url "content:validation-view" pk=validation.content.pk slug=validation.content.slug as url_validation_version %}
                                    <a href="{{ url_validation_version }}">
                                        {{ validation.versioned_content.title }}
                                    </a>
                                    <br>
                                    {% if validation.content.subcategory.all %}
                                        {% trans "Catégories :" %}
                                        {% for subcategory in validation.content.subcategory.all %}
                                            {% if not forloop.first %}
                                                -
                                            {% endif %}
                                            <a href="{% url "validation:list" %}?subcategory={{ subcategory.pk }}">
                                                {{ subcategory.title }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        <em>{% trans "Aucune catégorie" %}</em>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if validation.content.type == "ARTICLE" %}
                                        <a href="{% url "validation:list" %}?type=article">Article</a>
                                    {% else %}
                                        <a href="{% url "validation:list" %}?type=tuto">Tutoriel</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% for author in validation.content.authors.all %}
                                        {% include 'misc/member_item.part.html' with member=author avatar=True %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <span>{{ validation.date_proposition|format_date:True|capfirst }}</span>
                                </td>
                                <td class="{% if not validation.content.in_public %}new_content{% else %}update_content{% endif %}">
                                    {% if not validation.content.in_public %}
                                        {% trans "Nouveau" %}
                                    {% else %}
                                        {% trans "Mise à jour" %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% captureas reservation_url %}
                                        {% url "validation:reserve" validation.pk %}
                                    {% endcaptureas %}
                                    {% include "misc/validation.part.html" %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    {% trans "Aucun contenu en validation" %}
                    {% if request.GET.type %}
                        {% trans " ne répond à ce critère" %}
                    {% endif %}
                </p>
            {% endif %}
        {% endblock %}
    </section>
{% endblock %}



{% block sidebar_new %}{% endblock %}
{% block sidebar_blocks %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Filtres">
        <h3>{% trans "Filtres" %}</h3>
        <ul>
            <li>
                <a href="{% url "validation:list" %}?type=reserved" class="ico-after tick green {% if request.GET.type == "reserved" %}selected{% endif %}">
                    {% trans "En cours de validation" %}
                </a>
            </li>
            <li>
                <a href="{% url "validation:list" %}?type=orphan" class="ico-after tick {% if request.GET.type == "orphan" %}selected{% endif %}">
                    {% trans "En attente de validateur" %}
                </a>
            </li>
            <li>
                <a href="{% url "validation:list" %}?type=article" class="ico-after view {% if request.GET.type == "article" %}selected{% endif %}">
                    {% trans "Articles" %}
                </a>
            </li>
            <li>
                <a href="{% url "validation:list" %}?type=tuto" class="ico-after view {% if request.GET.type == "tuto" %}selected{% endif %}">
                    {% trans "Tutoriels" %}
                </a>
            </li>
            {% if request.GET.type or request.GET.subcategory %}
                <li>
                    <a href="{% url "validation:list" %}" class="ico-after cross red">
                        {% trans "Annuler le filtre" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
