{% extends "tutorialv2/base_online.html" %}
{% load date %}
{% load captureas %}
{% load i18n %}

{% block title_base %}
    {% trans "Choix des billets" %}
{% endblock %}



{% block breadcrumb_base %}
    <li>{% trans "Choix des billets" %}</li>
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper">
        <h1>
            {% block headline %}
                {% trans "Choix des billets" %}
                {%  if category %}
                    / {{ category.title }}
                {% endif %}
                (<span id="opinion-count">{{ contents|length }}</span>)
            {% endblock %}
        </h1>

        {% block content %}
            {% if contents %}
                <table class="fullwidth">
                    <thead>
                        <tr>
                            <th>{% trans "Titre" %}</th>
                            <th>{% trans "Auteur(s)" %}</th>
                            <th>{% trans "Date dernière publication" %}</th>
                            <th>{% trans "Opération" %}</th>
                            <th>{% trans "A déjà été choisi" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for content in contents %}
                            <tr class="opinion">
                                <td>
                                     <a href="{{ content.get_absolute_url_online }}">
                                         {{ content.title }}
                                    </a>
                                </td>
                                <td>
                                    {% for author in content.authors.all %}
                                        {% include 'misc/member_item.part.html' with member=author avatar=True %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <span>{{ content.update_date|format_date:True|capfirst }}</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-grey ico-after cross red unpick-action" data-url="{% url 'validation:ignore-opinion' content.pk content.slug %}"
                                            data-operation="REMOVE_PUB">{% trans "Modérer" %}</button>
                                    <button type="button" class="btn btn-grey ico-after hide unpick-action" data-url="{% url 'validation:ignore-opinion' content.pk content.slug %}"
                                            data-operation="NO_PICK">{% trans "Ignorer cette version" %}</button>
                                    <button type="button" class="btn btn-grey ico-after cross unpick-action" data-url="{% url 'validation:ignore-opinion' content.pk content.slug %}"
                                            data-operation="REJECT">{% trans "Ne pas choisir" %}</button>
                                    <form method="post" action="{% url 'validation:pick-opinion' content.pk content.slug %}">
                                        {% csrf_token %}
                                        <input name="version" type="hidden" value="{{ content.sha_public }}" />
                                        <button type="submit" class="btn btn-grey ico-after tick green">{% trans "Choisir" %}</button>
                                    </form>
                                </td>
                                <td>
                                    {% if content.sha_picked %}
                                        {% trans "Oui (mise à jour)" %} - <a href="{% url 'content:diff' content.pk content.slug %}?from={{ content.sha_picked }}&amp;to={{ content.sha_public }}">diff</a>
                                    {% else %}
                                        {% trans "Non" %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    {% trans "Aucun billet." %}
                </p>
            {% endif %}
        {% endblock %}
    </section>
{% endblock %}
