{% extends "article/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Répondre à l'article
{% endblock %}

{% block headline %}
    Répondre à l'article
{% endblock %}

{% block headline-sub %}
    {{ article.title }}
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ article.title }}</a></li>
    <li class="current"><a href="javascript:;">Répondre à l'article</a></li>
{% endblock %}

{% block content %}

{% if newreaction %}
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box alert">
            <strong>Au moins un nouveau message a été posté</strong> dans la discussion
            pendant que vous rédigiez le votre.
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% if text %}
    {% include "forum/previsualization.part.html" %}
{% endif %}

{% endblock %}
