{% extends "base.html" %}

{% block title_base %}
    &#183; Articles
{% endblock %}

{% block breadcrumb_base %}
    <li><a href="{% url "zds.article.views.index" %}">Articles</a></li>
{% endblock %}

{% block menu_article %}
    current
{% endblock %}

{% block content_out %}
    <article>
        <header>
            {% block headline %}{% endblock %}
        </header>
        <section class="article-content content-wrapper">
            {% block content %}{% endblock %}
        </section>
    </article>
{% endblock %}

{% block sidebar %}
	<aside class="sidebar mobile-menu-hide">
		{% block sidebar_actions %}{% endblock %}
	</aside>
{% endblock %}