{% extends "base_content_page.html" %}
{% load i18n %}


{% block title_base %}
    &bull; {% trans "Articles" %}
{% endblock %}



{% block mobile_title %}
    {% trans "Articles" %}
{% endblock %}



{% block breadcrumb_base %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{% url "article-index" %}" itemprop="url">
            <span itemprop="title">{% trans "Articles" %}</span>
        </a>
    </li>
{% endblock %}



{% block menu_article %}
    current
{% endblock %}



{% block sidebar_actions %}
    {% include "article/includes/sidebar_base.html" %}
{% endblock %}