{% extends "base_content_page.html" %}
{% load captureas %}



{% block title_base %}
    &#183; Articles
{% endblock %}



{% block mobile_title %}
    Articles
{% endblock %}



{% block breadcrumb_base %}
    <li><a href="{% url "zds.article.views.index" %}">Articles</a></li>
{% endblock %}



{% block menu_article %}
    current
{% endblock %}



{% block sidebar_actions %}
    <div class="mobile-menu-block mobile-all-links" data-title="Actions">
        <h3>Actions</h3>
        <ul>
            <li>
                <a href="{% url "zds.article.views.new" %}">
                    Nouvel article
                </a>
            </li>
        </ul>
    </div>
    
    {% if user.is_authenticated %}
        {% captureas sidebarfilter %}{% spaceless %}
            {% block sidebar_filter %}{% endblock %}
        {% endspaceless %}{% endcaptureas %}

        {% if sidebarfilter %}
            <div class="mobile-menu-bloc mobile-all-links" data-title="Filtres">
                <h3>Filtres</h3>
                <ul>
                    {{ sidebarfilter|safe }}
                </ul>
            </div>
        {% endif %}
    {% endif %}

    <div class="mobile-menu-bloc mobile-all-links" data-title="Flux">
        <h3>Flux</h3>
        <ul>
            <li>
                <a href="{% url "article-feed-rss" %}">
                    Nouveaux articles (RSS)
                </a>
            </li>
            <li>
                <a href="{% url "article-feed-atom" %}">
                    Nouveaux articles (ATOM)
                </a>
            </li>
        </ul>
    </div>
{% endblock %}