{% extends "article/index.html" %}
{% load date %}
{% load profile %}
{% load emarkdown %}
{% load i18n %}



{% block title %}
    {% trans "Articles rédigés par" %} {{ usr.username }}
{% endblock %}



{% block headline %}
    {% trans "Articles rédigés par" %} {{ usr.username }}
{% endblock %}



{% block breadcrumb %}
    {% with profile=usr|profile %}
        <li>
            <a href="{{ profile.get_absolute_url }}">
                {{ usr.username }}
            </a>
        </li>
    {% endwith %}

    <li>
        <a href="{% url "article-find-article" usr.pk %}">
            {% trans "Articles rédigés" %}
        </a>
    </li>
    <li>{% trans "Liste des articles rédigés par" %} {{ usr.username }}</li>
{% endblock %}