{% extends "article/index.html" %}
{% load humanize %}



{% block sidebar_filter %}
    <li><a href="{% url "zds.member.views.articles" %}">Tous</a></li>
    <li><a href="{% url "zds.member.views.articles" %}?type=public">Publié</a></li>
    <li><a href="{% url "zds.member.views.articles" %}?type=draft">Brouillon</a><li>
{% endblock %}



{# FIXME : ce code ne sert a priori à rien #}
{% comment %}
{% block content_filter %}
    <a href="
        {% if type = 'public' and article.on_line %}
            {{ article.get_absolute_url_online }}
        {% else %}
            {{ article.get_absolute_url }}
        {% endif %}
    ">
        {{ article.title }}
    </a>
{% endblock %}
{% endcomment %}


{% block content %}
    {% if articles %}
        <div class="article-items">
            {% for article in articles %}
                <article>
                    <a href="{{ article.get_absolute_url }}">
                        {% if article.image %}
                            <img src="{{ article.image.thumb.url }}" alt="" class="article-img avatar">
                        {% endif %}

                        <div class="article-infos">
                            <h3>{{ article.title }}</h3>
                            <p class="article-metadata">
                                Crée {{ article.create_at|naturaltime }}
                            </p>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    {% else %}
        <p>
            Aucun article disponible.
        </p>
    {% endif %}
{% endblock %}