{% extends "article/base.html" %}



{% block title %}
    Liste des articles
{% endblock %}



{% block meta %}
    <meta name="description" content="Les articles sont rédigés par la
    communauté. Ils permettent aussi bien de se tenir informé des dernières
    innovations du moment que de découvrir de nouvelles notions liées aux
    différents domaines de l'informatique.">
{% endblock %}



{% block breadcrumb %}
    <li>Liste des articles</li>
{% endblock %}



{% block content_out %}
    <section class="full-content-wrapper">
        <h2 class="ico-after ico-articles">
            {% block headline %}
                Liste des articles
            {% endblock %}
        </h2>

        {% block content %}
            {% if articles %}
                <div class="tutorial-list">
                    {% for article in articles %}
                        {% include "article/includes/article_item.part.html" with link=article.get_absolute_url_online %}
                    {% endfor %}
                </div>
            {% else %}
                <p>
                    Aucun article disponible.
                </p>
            {% endif %}
        {% endblock %}
    </section>
{% endblock %}