{% extends "article/index.html" %}
{% load humane_date %}

{% block headline-actions-filter %}
    <h3>Filtres</h3>
    <ul>
        <li><a href="{% url "zds.member.views.articles" %}">All</a></li>
        <li><a href="{% url "zds.member.views.articles" %}?type=public">Public</a></li>
        <li><a href="{% url "zds.member.views.articles" %}?type=draft">Draft</a></li>
    </ul>
{% endblock %}

{% block content-filter %}
    {% if type = 'public' and article.on_line %}
        <a href="{{ article.get_absolute_url_online }}">{{ article.title }}</a>
    {% else %}
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    {% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% if articles %}
            <div class="small-block-grid-1 large-block-grid-3">
                {% for article in articles %}
                <li class="card">
                    <a href="{{ article.get_absolute_url }}">
                        <div class="large-12 columns">
                            <h3>{{ article.title }}</h3>
                            <p class="article-metadata">
                                crée {{article.create_at|humane_date}}
                            </p>
                        </div>
                        {% if article.image %}
                        <div class="large-12 columns crop">
                        <img src="{{article.image.url }}" alt=""/>
                        </div>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun article disponible.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
