{% extends "article/base.html" %}
{% load humane_date %}

{% block title %}
Liste des articles soumis en validation
{% endblock %}

{% block meta %}
    <meta name="description" content="" />
{% endblock %}


{% block headline %}
Liste des Articles soumis en validation
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block headline-actions %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Actions">
        <h3>Actions</h3>
        <ul>
            <li><a href="{% url "zds.article.views.list_validation" %}">Zone de validation</a></li>
            <li><a href="{% url "zds.article.views.list_validation" %}?type=reserved">En cours de validation</a></li>
            <li><a href="{% url "zds.article.views.list_validation" %}?type=orphan">En attente de validateur</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% if validations %}
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th width="8%">Catégorie(s)</th>
                    <th width="8%">Auteur(s)</th>
                    <th width="8%">Proposé</th>
                    <th width="8%">Validateur</th>
                    <th width="8%">Réservé</th>
                    <th width="8%">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for validation in validations %}
                <tr>
                    <td>
                        <a href="{% url "zds.article.views.view" validation.article.pk validation.article.slug %}?version={{ validation.version }}" >{{ validation.article.title }}</a>
                    </td>
                    <td>
                        {% for subcategory in validation.article.subcategory.all %}
                        <a href="{% url "zds.article.views.list_validation" %}?subcategory={{subcategory.pk}}" class="secondary" >{{ subcategory.title }}</a><br />
                        {% endfor %}
                    </td>
                    <td>
                        {% for author in validation.article.authors.all %}
                        <a href="{% url "zds.member.views.details" user.username %}">{{ author.username }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <span>{{ validation.date_proposition|humane_date }}</span>
                    </td>
                    <td>
                        {% if validation.validator %}
                        <span>{{ validation.validator.username }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if validation.date_reserve %}
                        <span>{{ validation.date_reserve|humane_date }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if validation.is_pending %}
                        <a href="{% url "zds.article.views.reservation" validation.pk %}">Réservé</a>
                        {% elif validation.is_pending_valid %}
                        <a href="{% url "zds.article.views.reservation" validation.pk %}">Se retirer</a>
                        {% elif validation.is_accept %}
                        <span>Accepté</span>
                        {% elif validation.is_reject %}
                        <span>Rejeté</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Aucun tutoriel soumis en validation.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
