{% extends "article/base.html" %}
{% load emarkdown %}
{% load markup %}
{% load humane_date %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block headline %}
    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a><br />
    <small>{{ article.description }}</small>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ article.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    {% if user.is_authenticated %}
        <form action="{% url "zds.article.views.modify" %}" method="post">
            {% if validation.0 %}
            <div class="button-group">
                <span class="label expand round {% if validation.0.status = 'ACCEPT' %}success{% elif validation.0.status = 'REJECT' %}alert{% elif validation.0.status = 'PENDING' or validation.0.status = 'PENDING_VALID' %}{% else %}secondary{% endif %}">{{ validation.0.get_status_display }} </span>
            </div>
            <br />
            {% endif %}
            {% if not version = article.sha_validation and not version = article.sha_public and user in authors.all %}
            <a href="#" class="button secondary small expand" data-reveal-id="valid-modal">
                Demander la validation
            </a>
            <div id="valid-modal" class="reveal-modal" style="display: none">
              <h5>Commentaires de validation</h5>
              <textarea name="comment"> </textarea>
              <button name="pending" class="expand success">Faire valider
              </buton>
              <a class="close-reveal-modal">&#215;</a>
            </div>
            <div class="button-group">
                <a href="{% url "zds.article.views.edit" %}?article={{ article.pk }}" class="button small">
                    <i class="icon-pencil"></i>
                    Éditer
                </a>
                <a href="#" class="button secondary small" data-dropdown="delete-drop">
                    Supprimer
                </a>
                <div id="delete-drop" class="f-dropdown content small" data-dropdown-content>
                    <p>
                        Si vous supprimez ce article, il sera alors impossible de le modifier/consulter de nouveau.
                    </p>
                    <button type="submit" name="delete" class="button expand alert">
                        <i class="icon-remove"></i>
                        Confirmer la suppression
                    </button>
                </div>
            </div>
            <br />
            {% elif perms.article.change_article and not version = article.sha_public%}
                <div class="button-group">
                    <a href="#" class="button small success" data-dropdown="valid-drop">
                        <i class="fi-check"></i>
                        Valider
                    </a>
                    <a href="#" class="button small alert" data-dropdown="reject-drop">
                        <i class="fi-x"></i>
                        Rejeter
                    </a>
                    <div id="valid-drop" class="f-dropdown content small" data-dropdown-content>
                        <p>
                            Vous vous appretez à mettre en ligne ce article, êtes vous certains de votre action ? Si oui avez vous un commentaire de validation à soumettre ?
                        </p>
                        <textarea name="comment-v" rows="3" placeholder="Vos commentaires de publication"> </textarea>
                        <button type="submit" name="valid-article" class="button expand success">
                            Confirmer la publication
                        </button>
                    </div>
                    <div id="reject-drop" class="f-dropdown content small" data-dropdown-content>
                        <p>
                            Vous vous appretez à rejeter ce article ? Si vous êtes certain de votre action, pouvez expliquer pourquoi ce rejet ?
                        </p>
                        <textarea name="comment-r" rows="3" placeholder="Vos commentaires de rejet"> </textarea>
                        <button type="submit" name="reject-article" class="button expand alert">
                            Confirmer le rejet
                        </button>
                    </div>
                </div>
                <br />
            {% endif %}

            
            
            
            
            <a href="{% url "zds.article.views.history" article.pk article.slug %}" class="button secondary small expand">
                <i class="fi-info"></i>
                Historique des versions
            </a>
            {% if perms.article.change_article and article.sha_public = version %}
                <div class="button-group">
                    <a href="#" class="button small alert" data-dropdown="invalid-drop">
                        <i class="fi-x"></i>
                        Dépublier
                    </a>
                    <div id="invalid-drop" class="f-dropdown content small" data-dropdown-content>
                        <p>
                            Vous vous appretez à Dépublier ce article, êtes vous certains de vouloir le faire ?
                        </p>
                        <button type="submit" name="invalid-article" class="button expand alert">
                            Confirmer la dépublication
                        </button>
                    </div>
                </div>
            {% endif %}

            <input type="hidden" name="article" value="{{ article.pk }}" />
            <input type="hidden" name="version" value="{{ version }}" />
            {% csrf_token %}
        </form>
        
    {% endif %}
    <a href="{% url "zds.article.views.download" %}?article={{ article.pk }}" class="button secondary small expand">
        <i class="fi-download"></i>
        Télécharger
    </a>
{% endblock %}

{% block content %}

{% if article.is_visible %}
    {% include "article/view_pager.part.html" %}
{% endif %}

<div class="row">
    <div class="large-12 columns">
        <div class="large-1 columns hide-for-small">
            {% if article.thumbnail %}
            <img src="{{article.thumbnail.url }}"/>
            {% endif %}
        </div>
        <div class="large-12 columns">
        <p>
            Rédigé par
            {% for author in authors.all %}
                {% with member=author %}
                    {% include "member/member_item_common.part.html" %}
                {% endwith %}
            {% endfor %}
            <br />
            Tags : 
            {% for tag in tags.all %}
                <a href="{% url "haystack_search" %}?q={{ tag.name }}&amp;models=article.article">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
        </div>
        {{ article.txt|emarkdown }}
    </div>
</div>

{% if article.is_visible %}
    {% include "article/view_pager.part.html" %}
{% else %}
<div class="row">
    <div class="large-12 columns">
        <p>
            Cet article n'a pas encore été mis en ligne.
        </p>
    </div>
</div>
{% endif %}

{% endblock %}
