{% extends "article/base_content.html" %}
{% load emarkdown %}
{% load captureas %}
{% load date %}
{% load profile %}
{% load crispy_forms_tags %}
{% load set %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
    {{ article.title }}
{% endblock %}



{% block meta_image %}{% spaceless %}
    {% if article.image %}
        {{ article.image.article_illu.url }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endspaceless %}{% endblock %}



{% block opengraph %}
    <meta property="og:type" content="article">

    {% if article.pubdate %}
        <meta property="og:article:published_time" content="{{ article.pubdate|date:"c" }}">
    {% endif %}

    <meta property="og:article:section" content="Articles">
    {% for tag in tags.all %}
        <meta property="og:article:tag" content="{{ tag.title }}">
    {% endfor %}
{% endblock %}



{% block breadcrumb %}
    <li>{{ article.title }}</li>
{% endblock %}



{% block article_schema %}
    itemscope itemtype="http://schema.org/Article"
{% endblock %}



{% block headline %}
    {% if article.licence %}
        <span class="license" itemprop="license">
            {{ article.licence }}
        </span>
    {% endif %}

    <h1 {% if article.image %}class="illu"{% endif %} itemprop="name">
        {% if article.image %}
            <img src="{{ article.image.article_illu.url }}" alt="" itemprop="thumbnailUrl">
        {% endif %}
        {{ article.title }}
    </h1>

    {% if article.description %}
        <h2 class="subtitle">
            {{ article.description }}
        </h2>
    {% endif %}

    <ul class="taglist" itemprop="keywords">
        {% for tag in tags.all %}
            <li>
                <a href="{% url "article-index" %}?tag={{ tag.slug }}">
                    {{ tag.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <span class="pubdate">
        {% trans "Publié " %}
        <time datetime="{{ article.pubdate|date:"c" }}" pubdate="pubdate" itemprop="datePublished">
            {{ article.pubdate|format_date }}
        </time>
    </span>

    {% include "misc/zen_button.part.html" %}

    <div class="authors">
        <span class="authors-label">{% trans "Contributeur" %}{{ authors.all|pluralize }} : </span>
        <ul>
            {% for member in authors.all %}
                <li>
                    {% include "misc/member_item.part.html" with avatar=True author=True %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}



{% block article_content_schema %}
    itemprop="articleBody"
{% endblock %}



{% block content %}
    {{ article.txt|safe }}

    {% include "article/includes/pager.part.html" %}

    {% include "article/includes/warn_typo.part.html" with article=article authors=authors%}

{% endblock %}



{% block content_after %}
    <h3 class="comments-title" id="reactions">
        {% if article.get_reaction_count > 0 %}
            <span itemprop="commentCount">
                {{ article.get_reaction_count }}
            </span>
            {% trans "réaction" %}{{ article.get_reaction_count|pluralize }}
        {% else %}
            {% trans "Aucune réaction" %}
        {% endif %}
    </h3>


    {% include "misc/pagination.part.html" with position="top" topic=article is_online=True anchor="reactions" %}


    {% for message in reactions %}
        {% captureas form_action %}
            {% url "article-answer" %}?article={{ article.pk }}
        {% endcaptureas %}

        {% captureas edit_link %}
            {% url "article-edit-reaction" %}?message={{ message.pk }}
        {% endcaptureas %}

        {% captureas cite_link %}
            {% url "article-answer" %}?article={{ article.pk }}&amp;cite={{ message.pk }}
        {% endcaptureas %}

        {% captureas upvote_link %}
            {% url "article-like-reaction" %}?message={{ message.pk }}
        {% endcaptureas %}

        {% captureas downvote_link %}
            {% url "article-dislike-reaction" %}?message={{ message.pk }}
        {% endcaptureas %}

        {% captureas alert_solve_link %}
            {% url "article-solve-alert" %}
        {% endcaptureas %}

        {% if forloop.first and nb > 1 %}
            {% set True as is_repeated_message %}
        {% else %}
            {% set False as is_repeated_message %}
        {% endif %}


        {% include "misc/message.part.html" with topic=article comment_schema=True perms_change=is_staff %}
    {% endfor %}


    {% include "misc/pagination.part.html" with position="bottom" topic=article is_online=True anchor="reactions" %}



    {% captureas form_action %}
        {% url 'article-answer' %}?article={{ article.pk }}
    {% endcaptureas %}

    {% include "misc/message_form.html" with member=user topic=article %}
{% endblock %}



{% block sidebar_actions %}
    {% if is_staff %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Validation">
            <h3>{% trans "Validation" %}</h3>
            <ul>
                <li>
                    <a href="{{ article.get_absolute_url }}" class="ico-after offline blue">
                        {% trans "Version hors ligne" %}
                    </a>
                </li>
                <li>
                    <a href="#unpublish" class="open-modal ico-after cross blue">{% trans "Dépublier" %}</a>
                    <form action="{% url "article-modify" %}" method="post" class="modal modal-small" id="unpublish">
                        <p>
                            {% blocktrans %}
                                <strong>Attention !</strong> Vous allez dépublier un article actuellement <strong>en ligne</strong>.
                            {% endblocktrans %}
                        </p>
                        <button type="submit" name="invalid-article">
                            {% trans "Confirmer" %}
                        </button>
                        <input type="hidden" name="article" value="{{ article.pk }}">
                        <input type="hidden" name="version" value="{{ version }}">
                        {% csrf_token %}
                    </form>
                </li>
                <li>
                    <a href="{% url "article-history-validation" article.pk %}" class="ico-after history blue">
                        {% trans "Historique de validation" %}
                    </a>
                </li>
            </ul>
        </div>
    {% elif user in authors.all %}
        <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Gestion">
            <h3>{% trans "Gestion" %}</h3>
            <ul>
                <li>
                    <a href="{{ article.get_absolute_url }}" class="ico-after offline blue">
                        {% trans "Version hors ligne" %}
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}

    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Télécharger">
        <h3>{% trans "Télécharger" %}</h3>
        <ul>
            <li>
                <a href="{% url "article-download" %}?article={{ article.pk }}&online"
                   class="ico-after download blue"
                >
                    {% trans "Archive" %}
                </a>
            </li>
        </ul>
    </div>

    {% include "misc/social_buttons.part.html" with link=article.get_absolute_url_online text=article.title %}
{% endblock %}
