{% extends "tutorialv2/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% trans "Importer un nouveau contenu" %}
{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Importer un nouveau contenu" %}</li>
{% endblock %}


{% block headline %}

    <h1>
         {% trans "Importer un nouveau contenu" %}
    </h1>

{% endblock %}

{% block content %}
    <p>
    {% trans "Pour importer des images, veuillez spécifier la seconde archive. Les motifs <code>![légende](image:nom_du_fchier.extension)</code> seront remplacés par les URLs générées par le site." %}
    </p>
    {% crispy form %}
{% endblock %}