{% extends "tutorialv2/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% trans "Importer une nouvelle version de" %} {{ content.title }}
{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ content.get_absolute_url }}">{{ content.title }}</a></li>
    <li>{% trans "Importer une nouvelle version" %}</li>
{% endblock %}


{% block headline %}

    <h1 {% if content.image %}class="illu"{% endif %}>
        {% if content.image %}
            <img src="{{ content.image.physical.tutorial_illu.url }}" alt="">
        {% endif %}
        {% trans "Importer une nouvelle version" %}
    </h1>

{% endblock %}

{% block content %}
    <p>
    {% trans "Pour importer des images, veuillez spécifier la seconde archive. Les motifs <code>![légende](image:nom_du_fchier.extension)</code> seront remplacés par les URLs générées par le site." %}
    </p>

    {% crispy form %}
{% endblock %}