{% extends "tutorialv2/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    {% trans "Importer un nouveau contenu" %}
{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Importer un nouveau contenu" %}</li>
{% endblock %}


{% block headline %}

    <h1>
         {% trans "Importer un nouveau contenu" %}
    </h1>

{% endblock %}

{% block content %}
    <div class="alert-box info alert-box-not-closable">
    {%  blocktrans with prefix=app.content.import_image_prefix %}
        Pour importer des images, veuillez spécifier la seconde archive.
        Pour que vos images soient automatiquement intégrées, ajoutez le préfix « {{ prefix }} » dans l’adresse de vos images. Par exemple : <code>![légende]({{ prefix }}:chemin/vers/image.extension)</code>. Les chemins seront remplacés par les URLs générées par le site.
    {% endblocktrans %}
    </div>

    {% crispy form %}
{% endblock %}
