{% extends "project/base.html" %}

{% block title %}
    Liste des projets
{% endblock %}

{% block meta %}
    <meta name="description" content="Les projects réalisés par la communauté" />
{% endblock %}

{% block headline %}
    Liste des projets
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block headline-actions %}
    <div class="button-group">

        {% if user.is_authenticated %}
            <a href="{% url "lbp.project.views.new" %}" class="button radius">
                <i class="fi-mountains"></i>
                Créer un projet
            </a>
        {% endif %}

    </div>
{% endblock %}

{% block content %}
  {% include "project/list.html" %}
{% endblock %}
