{% extends "project/view_base.html" %}
{% load emarkdown %}
{% load markup %}
{% load humane_date %}
{% load profile %}

{% block subnav_history %}active{% endblock %}

{% block breadcrumb %}
    <li ><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></li>
    <li class="current"><a href="#">Historique</a></li>
{% endblock %}

{% block headline-actions %}
    
        <form action="#" method="POST">
            <div class="button-group">
                {% if user = project.author %}
                    <a href="#" class="button secondary small" data-dropdown="delete-drop">
                        Supprimer
                    </a>
                {% endif %}
                <div id="delete-drop" class="f-dropdown small content" data-dropdown-content>
                    <p>
                        Si vous supprimez ce projet, il sera alors impossible de le restaurer/consulter de nouveau.
                    </p>
                    <button type="submit" name="delete" class="button expand alert">
                        <i class="icon-remove"></i>
                        Confirmer la suppression
                    </button>
                </div>
            </div>

            <input type="hidden" name="project" value="{{ project.pk }}" />
            {% csrf_token %}
        </form>
    
{% endblock %}

{% block sub_form %}


<div class="row">
    <div class="large-12 columns">
        <fieldset>
            <legend>Versions précédentes du projet</legend>
            
        </fieldset>
    </div>
</div>

{% endblock %}
