{% extends "project/base.html" %}
{% load markup %}

{% block titre %}
    {{ project.title }}
{% endblock %}

{% block headline %}
    <a href="{{ project.get_absolute_url }}">{{ project.title }}</a><br />
{% endblock %}


{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <dl class="sub-nav">
                <dd class="{% block subnav_general %}{% endblock %}"><a href="{% url "lbp.project.views.view_general" project.pk project.slug %}">Général</a></dd>
                <dd class="{% block subnav_details %}{% endblock %}"><a href="{% url "lbp.project.views.view_details" project.pk project.slug %}">Détails</a></dd>
                <dd class="{% block subnav_marketstudy %}{% endblock %}"><a href="{% url "lbp.project.views.view_marketstudy" project.pk project.slug %}">Etude de marché</a></dd>
                <dd class="{% block subnav_strategy %}{% endblock %}"><a href="{% url "lbp.project.views.view_strategy" project.pk project.slug %}">Stategie</a></dd>
                <dd class="{% block subnav_roadmap %}{% endblock %}"><a href="{% url "lbp.project.views.view_roadmap" project.pk project.slug %}">Roadmap</a></dd>
                <dd class="{% block subnav_history %}{% endblock %}"><a href="{% url "lbp.project.views.view_history" project.pk project.slug %}">Historique</a></dd>
            </dl>
        </div>
    </div>
    {% block sub_form %}{% endblock %}
{% endblock %}
