{% load i18n %}
{% load target_tree %}
{% load times %}

<ul class="actions-title summary-part">
    <li>
        {% include "tutorialv2/includes/delete.part.html" with object=child additional_classes="ico-after cross btn btn-grey" %}
    </li>
    <li>
        <a href="#move-{{ child.slug }}" class="open-modal ico-after move btn btn-grey simple-move-button">{% trans "Déplacer" %}</a>
        <form action="{% url "content:move-element" %}" method="post" class="modal modal-flex" id="move-{{ child.slug }}">
            <label>{% blocktrans with title=child.title %}Déplacer {{ title }} :{% endblocktrans %}</label>

            <select name="moving_method">
                {% if child.position_in_parent > 1 %}
                    <option value="up">{% trans "Monter" %}</option>
                {% endif %}

                {% if child.position_in_parent < child.parent.children|length %}
                    <option value="down">{% trans "Descendre" %}</option>
                {% endif %}

                <optgroup label="{% trans "Déplacer après" %}">
                    {% for element in child|target_tree %}

                        {% if not prevElement.3 and element.3  %}
                            <option value="before:{{element.0}}">
                                 {% for _ in element.2|times %}&mdash;{% endfor %}Intro {{ prevElement.1|truncatechars:50 }}
                            </option>
                        {% endif %}

                        <option value="after:{{element.0}}"
                        {% if not element.3 %} disabled {% endif %}>
                             {% for _ in element.2|times %}&mdash;{% endfor %}{{ element.1|truncatechars:50 }}
                        </option>

                        {% set element as prevElement %}
                    {% endfor %}
                </optgroup>
            </select>
            <input type="hidden" name="child_slug" value="{{ child.slug }}">
            {% if child.text %}
                <input type="hidden" name="container_slug" value="{{ child.container.slug }}">
                <input type="hidden" name="first_level_slug" value="{{ child.get_first_level_slug }}">
            {%  else %}
                <input type="hidden" name="container_slug" value="{{ child.parent.slug }}">
            {% endif %}

            <input type="hidden" name="pk" value="{{ content.pk }}">
            {% csrf_token %}
            <button type="submit">
                {% trans "Déplacer" %}
            </button>
        </form>
    </li>
    <li>
        <a href="{{ child.get_edit_url }}" class="ico-after edit btn btn-grey">
            {% trans "Éditer" %}
        </a>
    </li>
</ul>