{% load i18n %}

{%  if pager.has_pagination %}
    <ul class="pagination pagination-{{ position }} pagination-chapter">
        {% if pager.previous %}
            <li class="prev">
                <a href="{{ pager.previous.url }}" class="ico-after arrow-left" rel="prev">
                    {{ pager.previous.title }}
                </a>
            </li>
        {% endif %}

        {% if container.parent %}
            <li class="summary-button">
                <a href="{{ base_url }}{{ container.parent.get_url_path }}">{% trans "Sommaire" %}</a>
            </li>
        {% endif %}

        {% if pager.next %}
            <li class="next">
                <a href="{{ pager.next.url }}" class="ico-after arrow-right" rel="next">
                    {{ pager.next.title }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
