{% load emarkdown %}
{% load i18n %}
{% load times %}
{% load target_tree %}
{% load feminize %}

<div class="article-part {% if child.text %}is-chapter{% endif %}" data-slug="{{ child.slug }}">
    <h2 id="{{ child.position_in_parent }}-{{ child.slug }}"
    {% if not child.is_validable %}
        class="not-ready"
    {% endif %}>
        <a
        {% if content.is_beta %}
            href="{{ child.get_absolute_url_beta }}"
        {% else %}
            {%  if child.text %}
                href="{{ child.container.get_absolute_url }}{% if version %}?version={{ version }}{% endif %}#{{ child.position_in_parent }}-{{ child.slug }}"
            {% else %}
                href="{{ child.get_absolute_url }}{% if version %}?version={{ version }}{% endif %}"
            {% endif %}
        {% endif %}
        >
            {{ child.title }}
        </a>
    </h2>

    {% if can_add_something %}
        {% include "tutorialv2/includes/actions_title_buttons.part.html" %}
    {% endif %}

    {% if child.text %}
        {# child is an extract #}

        <div class="extract-wrapper">
            {% if child.get_text.strip|length == 0 %}
                <div class="ico-after warning">
                    <p>
                        {% trans "Cette section est actuellement vide." %}
                    </p>
                </div>
            {% else %}
                {{ child.get_text|emarkdown:is_js }}
            {% endif %}
        </div>
    {% else %}
        {# child is a container #}

        {% if child.has_extracts %}
            <ol class="summary-part" data-children-type="extract" data-slug="{{ child.slug }}">
                {% for extract in child.children %}
                <li data-slug="{{ extract.slug }}">
                    <h3>
                        <a
                            {% if content.is_beta %}
                                href="{{ extract.get_absolute_url_beta }}"
                            {% else %}
                                href="{{ extract.container.get_absolute_url }}{% if version %}?version={{ version }}{% endif %}#{{ extract.position_in_parent }}-{{ extract.slug }}"
                            {% endif %}
                        >{{ extract.title }}</a>
                    </h3>
                </li>
                {% endfor %}
                {% if can_add_something and child.can_add_extract %}
                    <li class="simple-create-button">
                        <a class="btn btn-grey" href="{% url "content:create-extract" content.pk child.parent.slug child.slug %}">
                            {% trans "Ajouter une section" %}
                        </a>
                    </li>
                {% endif %}
            </ol>
        {% elif child.has_sub_containers %}
            <div class="article-containers" data-children-type="container" data-slug="{{ child.slug }}">
                {% for subchild in child.children %}
                    <div class="article-part" data-slug="{{ subchild.slug }}">
                        <h3 class="{% if not subchild.ready_to_publish %}not-ready{% endif %}">
                            <a
                            {% if content.is_beta %}
                                href="{{ subchild.get_absolute_url_beta }}"
                            {% else %}
                                href="{{ subchild.get_absolute_url }}{% if version %}?version={{ version }}{% endif %}"
                            {% endif %}
                            >{{ subchild.title }}</a>
                        </h3>
                        {% if can_add_something %}
                            {% include "tutorialv2/includes/actions_title_buttons.part.html" with child=subchild %}
                        {% endif %}
                        <ol class="summary-part" data-children-type="extract" data-slug="{{ subchild.slug }}">
                            {% for extract in subchild.children %}
                                <li data-slug="{{ extract.slug }}">
                                    <h4>
                                        <a
                                            {% if content.is_beta %}
                                                href="{{ extract.get_absolute_url_beta }}"
                                            {% else %}
                                                href="{{ extract.container.get_absolute_url }}{% if version %}?version={{ version }}{% endif %}#{{ extract.position_in_parent }}-{{ extract.slug }}"
                                            {% endif %}
                                        >{{ extract.title }}</a>
                                    </h4>
                                </li>
                            {% endfor %}
                            {% if can_add_something %}
                                <li class="simple-create-button">
                                    <a class="btn btn-grey"
                                        href="{% url "content:create-extract" content.pk child.parent.slug child.slug subchild.slug %}"
                                    >{% trans "Ajouter une section" %}</a>
                                </li>
                            {% endif %}
                        </ol>
                    </div>
                {% endfor %}
                {% if can_add_something and child.can_add_container %}
                    <div class="article-part simple-create-part">
                        <h3>
                            <a class="force-blue"
                                href="{% url "content:create-container" content.pk child.parent.slug child.slug %}"
                            >{% trans "Ajouter un chapitre" %}</a>
                        </h3>
                        <ol class="summary-part">
                            <li><h4><a class="disabled">{% trans "Section A" %}</a></h4></li>
                            <li><h4><a class="disabled">{% trans "Section B" %}</a></h4></li>
                        </ol>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if not can_add_something or not child.is_chapter %}
            <div class="ico-after warning">
                <p>
                    {{ "Ce"|feminize:child.get_level_as_string }} {{ child.get_level_as_string|lower }} {% trans "est actuellement vide." %}
                </p>
                {% if can_add_something and not child.is_chapter %}
                    <ul>
                        <li>
                            <a href="{% url "content:create-container" content.pk content.slug child.slug %}">{% trans "Ajouter un chapitre" %}</a>
                            {% trans " pour adopter le format big-tuto et ajouter des sections ;" %}
                        </li>
                        <li>
                            <a href="{% url "content:create-extract" content.pk content.slug child.slug %}">{% trans "Ajouter une section" %}</a>
                            {% trans " pour adopter le format mini-tuto, composé uniquement de sections." %}
                        </li>
                    </ul>
                {% endif %}
            </div>
            {% elif can_add_something and child.can_add_extract and child.is_chapter %}
                <ol>
                    <li class="simple-create-button">
                        <a class="btn btn-grey" href="{% url "content:create-extract" content.pk content.slug child.parent.slug child.slug %}">
                            {% trans "Ajouter une section" %}
                        </a>
                    </li>
                </ol>
            {% endif %}
        {% endif %}
    {% endif %}
</div>