{% load emarkdown %}
{% load i18n %}
{% load times %}
{% load target_tree %}
{% load feminize %}
{% load captureas %}

<h2 id="{{ child.position_in_parent }}-{{ child.slug }}"
{% if not child.is_validable %}
    class="not-ready"
{% endif %}>
    <a href="{{ base_url }}{{ child.get_url_path }}">{{ child.title }}</a>

    {% if display_config.draft_actions.enable_edit %}
        <div class="actions-title">
            <a href="{{ child.get_edit_url }}" class="ico-after edit btn btn-grey">
                {% trans "Éditer" %}
            </a>
            <a href="#move-{{ child.slug }}" class="open-modal ico-after move btn btn-grey">{% trans "Déplacer" %}</a>
            <form action="{% url "content:move-element" %}" method="post" class="modal modal-flex" id="move-{{ child.slug }}">
                <select name="moving_method">
                    <option disabled="disabled">{% trans "Déplacer" %}</option>
                    {% if child.position_in_parent > 1 %}
                        <option value="up">{% trans "Monter" %}</option>
                    {% endif %}

                    {% if child.position_in_parent < child.parent.children|length %}
                        <option value="down">{% trans "Descendre" %}</option>
                    {% endif %}
                    <option disabled="disabled">&mdash; {% trans "Déplacer avant" %}</option>
                    {% for element in child|target_tree %}
                            <option value="before:{{element.0}}"
                            {% if not element.3 %} disabled {% endif %}>
                                &mdash;&mdash;{% for _ in element.2|times %}&mdash;{% endfor %}{{ element.1|truncatechars:50 }}
                            </option>
                    {% endfor %}
                    <option disabled="disabled">&mdash; {% trans "Déplacer après" %}</option>
                    {% for element in child|target_tree %}
                            <option value="after:{{element.0}}"
                            {% if not element.3 %} disabled {% endif %}>
                                &mdash;&mdash;{% for _ in element.2|times %}&mdash;{% endfor %}{{ element.1|truncatechars:50 }}
                            </option>
                    {% endfor %}
                </select>
                <input type="hidden" name="child_slug" value="{{ child.slug }}">
                {% if child.text %}
                    <input type="hidden" name="container_slug" value="{{ child.container.slug }}">
                    <input type="hidden" name="first_level_slug" value="{{ child.get_first_level_slug }}">
                {%  else %}
                    <input type="hidden" name="container_slug" value="{{ child.parent.slug }}">
                {% endif %}

                <input type="hidden" name="pk" value="{{ content.pk }}">
                {% csrf_token %}
                <button type="submit" class="btn btn-submit">
                    {% trans "Déplacer" %}
                </button>
            </form>

            {% include "tutorialv2/includes/sidebar/delete.part.html" with object=child additional_classes="ico-after cross btn btn-grey" %}
        </div>
    {% endif %}
</h2>

{% if child.text %}
    {# child is an extract #}
    {% if child.get_text.strip|length == 0 %}
        <div class="ico-after warning">
            <p>
                {% trans "Cette section est vide." %}
            </p>
        </div>
    {% else %}
        <div class="extract-wrapper">
            {{ child.get_text|emarkdown:is_js }}
        </div>
    {% endif %}
{% else %}
    {# child is a container #}

    {% if child.has_extracts %}
        <ol>
            {% for extract in child.children %}
            <li>
                <a href="{{ base_url }}{{ extract.get_url_path }}">
                    {{ extract.title }}
                </a>
            </li>
            {% endfor %}
            {% if display_config.draft_actions.enable_edit and child.can_add_extract %}
                <li class="simple-create-button">
                    <a class="btn btn-grey" href="{% if child.parent == content %}
                                {% url "content:create-extract" content.pk content.slug child.slug %}
                            {%  else %}
                                {% url "content:create-extract" content.pk content.slug child.parent.slug child.slug %}
                            {%  endif %}">
                        {% trans "Ajouter une section" %}
                    </a>
                </li>
            {% endif %}
        </ol>
    {% elif child.has_sub_containers %}
        <ol class="summary-part">
            {% for subchild in child.children %}
                <li>
                    <h3 class="{% if not subchild.ready_to_publish %}not-ready{% endif %}">
                        <a href="{{ base_url }}{{ subchild.get_url_path }}">{{ subchild.title }}</a>
                    </h3>
                    <ol class="summary-part">
                        {% for extract in subchild.children %}
                            <li>
                                <h4>
                                    <a href="{{ base_url }}{{ extract.get_url_path }}">
                                        {{ extract.title }}
                                    </a>
                                </h4>
                            </li>
                        {% endfor %}
                        {% if display_config.draft_actions.enable_edit %}
                            <li class="simple-create-button">
                                <h4>
                                    <a class="btn btn-grey"
                                        href="{% url "content:create-extract" content.pk child.parent.slug child.slug subchild.slug %}"
                                    >{% trans "Ajouter une section" %}</a>
                                </h4>
                            </li>
                        {% endif %}
                    </ol>
                </li>
            {% endfor %}
            {% if display_config.draft_actions.enable_edit and child.can_add_container %}
                <li>
                    <h3>
                        <a class="force-blue"
                            href="{% url "content:create-container" content.pk child.parent.slug child.slug %}"
                        >{% trans "Ajouter un chapitre" %}</a>
                    </h3>
                    <ol class="summary-part">
                        <li><h4><a class="disabled">{% trans "Section A" %}</a></h4></li>
                        <li><h4><a class="disabled">{% trans "Section B" %}</a></h4></li>
                    </ol>
                </li>
            {% endif %}
        </ol>
    {% else %}
        {% if display_config.draft_actions.enable_edit %}
            {% if not child.is_chapter %}
                <div class="ico-after warning">
                    <p>
                        {{ "Ce"|feminize:child.get_level_as_string }} {{ child.get_level_as_string|lower }} {% trans "est vide." %}
                    </p>
                    {% if not child.is_chapter %}
                        {% captureas url_create_container %}{% url "content:create-container" content.pk content.slug child.slug %}{% endcaptureas %}
                        {% captureas url_create_extract %}{% url "content:create-extract" content.pk content.slug child.slug %}{% endcaptureas %}
                        {% blocktrans %}
                        <ul>
                            <li>
                                <a href="{{ url_create_container }}">Ajouter un chapitre</a>
                                pour subdiviser cette partie en plusieurs pages ;
                            </li>
                            <li>
                                <a href="{{ url_create_extract }}">Ajouter une section</a>
                                pour que cette partie soit affichée sur une unique page.
                            </li>
                        </ul>
                        {% endblocktrans %}
                    {% endif %}
                </div>
            {% elif child.can_add_extract and child.is_chapter %}
                <ol>
                    <li class="simple-create-button">
                        <a class="btn btn-grey" href="{% url "content:create-extract" content.pk content.slug child.parent.slug child.slug %}">
                            {% trans "Ajouter une section" %}
                        </a>
                    </li>
                </ol>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
