{% load captureas %}
{% load thumbnail %}
{% load date %}
{% load i18n %}
{% load set %}

{% if public_tutorial %}
    {% set public_tutorial.content as tutorial %}
    {% set True as online %}
{% endif %}

{% captureas link %}
    {% if online %}
        {{ public_tutorial.get_absolute_url_online }}
    {% elif type == 'beta' and tutorial.in_beta %}
        {{ tutorial.get_absolute_url_beta }}
    {% else %}
        {{ tutorial.get_absolute_url }}
    {% endif %}
{% endcaptureas %}

{% captureas content_title %}
    {% if public_tutorial and online %}
        {{ public_tutorial.title }}
    {% else %}
        {{ tutorial.title }}
    {% endif %}
{% endcaptureas %}

{% captureas content_subtitle %}
    {% if public_tutorial and online %}
        {{ public_tutorial.description }}
    {% else %}
        {{ tutorial.description }}
    {% endif %}
{% endcaptureas %}

{# Authors (by X, Y and Z) ; can't have multiple whitespaces because of the title ! #}
{% captureas authors_text %}
    {% for author in tutorial.authors.all %}{% if forloop.first %}{% trans "par" %}{% elif forloop.last %} {% trans "et" %}{% else %},{% endif %} {% if author == user %}{% trans "vous" %}{% else %}{{ author.username }}{% endif %}{% endfor %}
{% endcaptureas %}

{# Categories (in X, Y and Z) #}
{% captureas categories_text %}
    {% for category in tutorial.subcategory.all %}{% if forloop.first %}{% trans "dans" %}{% elif forloop.last %} {% trans "et" %}{% else %},{% endif %} {{ category.title }}{% endfor %}
{% endcaptureas %}

<article class="content-item expand-description tutorial-item{{ item_class }}">
    <a href="{{ link }}" title="{{ content_title }}{% if content_subtitle and show_description %} − {{ content_subtitle }}{% endif %}">
        <div class="content-illu">
            {% if tutorial.image %}
                <img src="{{ tutorial.image.physical.content_thumb.url }}" alt="">
            {% endif %}
        </div>
        
        <div class="content-info">
            <h3 class="content-title" itemprop="itemListElement">
                {{ content_title }}
            </h3>

            <p class="content-description">
                {% if content_subtitle and show_description %}
                    {{ content_subtitle }}
                {% endif %}
            </p>

            <div class="content-meta" title="{% if tutorial.pubdate %}{% trans "Publié" %} {{ tutorial.pubdate|format_date }}{% endif %} {{ categories_text }} {{ authors_text }}">
                {% if tutorial.subcategory %}
                    <p class="content-categories">
                        {{ categories_text }}
                    </p>
                {% endif %}

                {% if tutorial.authors %}
                    <p class="content-authors">
                        {{ authors_text }}
                    </p>
                {% endif %}

                {% if tutorial.pubdate %}
                    <time class="content-pubdate" pubdate="{{ tutorial.pubdate|date:"c" }}">
                        -
                        <span class="long">{{ tutorial.pubdate|format_date|capfirst }}</span>
                        <span class="short">{{ tutorial.pubdate|format_date:True|capfirst }}</span>
                    </time>
                {% endif %}
            </div>
        </div>
    </a>
</article>
