{% if previous_content or next_content %}

    <ul class="pagination pagination-{{ position }} pagination-chapter">
        {% if previous_content %}
            <li class="prev">
                <a href="{{ previous_content.get_absolute_url_online }}" class="ico-after arrow-left" rel="prev">
                    {{ previous_content.content.title }}
                </a>
            </li>
        {% endif %}

        {% if next_content %}
            <li class="next">
                <a href="{{ next_content.get_absolute_url_online }}" class="ico-after arrow-right" rel="next">
                    {{ next_content.content.title }}
                </a>
            </li>
        {% endif %}
    </ul>

{% endif %}
