{% load times %}
{% with col_number=1 %}
    <div class="custom-block custom-block-neutral">
        <div class="custom-block-heading">À propos des tribunes libres</div>
        <div class="custom-block-body">
            <p>Ce billet fait partie de la <b>tribune personnelle</b> de son auteur.
                Il exprime son <b>opinion</b> et non celle de l’association Zeste de Savoir.
                Il n’est pas <a href="/pages/editeur/">édité</a> par celle-ci.</p>
            <p>Les tribunes libres ont pour but de permettre à tout un chacun de pouvoir s’exprimer et partager des
                connaissances sans profiter de l’édition par Zeste de Savoir.</p>
        </div>
    </div>
{% endwith %}
