{% load date %}
{% load i18n %}
{% load category_url %}
{% load captureas %}

{% if content.subcategory.all|length > 0 %}
    <ul class="taglist" itemprop="keywords">
        {% for catofsubcat in content.subcategory.all %}
            <li><a href="{{ catofsubcat|category_url:content }}">{{ catofsubcat.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% captureas update_date %}
    {% if online %}
        {{ content.public_object.get_last_action_date }}
    {% else %}
        {{ content.update_date }}
    {% endif %}
{% endcaptureas %}

{% if content.update_date %}
    <span class="pubdate">
    {% if online and update_date == content.pubdate %}
        {% trans "Publié" %} :
        <time datetime="{{ content.public_object.pubdate|date:"c" }}" pubdate="pubdate" itemprop="dateModified">
            {{ content.pubdate|format_date }}
        </time>
    {% else %}
        {% trans "Dernière mise à jour" %} :
        <time datetime="{{ content.update_date|date:"c" }}" pubdate="pubdate" itemprop="dateModified">
            {{ update_date|format_date }}
        </time>
    {% endif %}
    </span>
{% endif %}

{% include "misc/zen_button.part.html" %}

<div class="authors">
    <span class="authors-label">{% trans "Auteur" %}{{ content.authors.all|pluralize }} : </span>
    <ul>
        {% for member in content.authors.all %}
            <li>
                {% include "misc/member_item.part.html" with avatar=True author=True %}
            </li>
        {% endfor %}

        {% if add_author == True %}
            <li>
                <a href="#add-author" class="open-modal ico-after more blue">
                    {% trans "Ajouter un auteur" %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
