{% load date %}
{% load i18n %}
{% load category_url %}
{% load set %}
{% load displayable_authors %}

{% if content.subcategory.all|length > 0 %}
    <ul class="taglist" itemprop="keywords">
        {% for catofsubcat in content.subcategory.all %}
            <li><a href="{{ catofsubcat|category_url:content }}">{{ catofsubcat.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if online %}
    {% set public_object.get_last_action_date as update_date %}
{% else %}
    {% set  content.update_date as update_date %}
{% endif %}

{% if update_date %}
    <span class="pubdate">
    {% if online and update_date == public_object.publication_date %}
        {% trans "Publié" %} :
        <time datetime="{{ update_date|date:"c" }}" pubdate="pubdate" itemprop="dateModified">
            {{ update_date|format_date }}
        </time>
    {% else %}
        {% trans "Dernière mise à jour" %} :
        <time datetime="{{ update_date|date:"c" }}" pubdate="pubdate" itemprop="dateModified">
            {{ update_date|format_date }}
        </time>
    {% endif %}
    </span>
{% endif %}

{% include "misc/zen_button.part.html" %}

<div class="authors">
    <span class="authors-label">
        {% trans "Auteur" %}{{ publishablecontent|displayable_authors:online|pluralize }} :
    </span>
    <ul>
        {% for member in publishablecontent|displayable_authors:online %}
            <li>
                {% include "misc/member_item.part.html" with avatar=True author=True %}
            </li>
        {% endfor %}

        {% if add_author == True %}
            <li>
                <a href="#add-author" class="open-modal ico-after more blue">
                    {% trans "Ajouter un auteur" %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
