{% load i18n %}
{% load crispy_forms_tags %}

{% if user.is_authenticated and user not in content.authors.all %}
    <a href="#warn-typo-modal" class="open-modal btn btn-grey ico-after edit blue">
        {% trans "Signaler une faute dans" %}
        {% if not container %}
            {% if content.is_article %}
                {% trans "cet article" %}
            {% elif content.is_tutorial %}
                {% trans "ce tutoriel" %}
            {% elif content.is_opinion %}
                {% trans "ce billet" %}
            {% endif %}
        {% else %}
            {% trans "ce chapitre" %}
        {% endif %}
    </a>

    {% crispy formWarnTypo %}

{% endif %}
