{% load i18n %}
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    {% trans "Bonjour" %} <strong>{{ username }}</strong>,
    <br />
    <br />
    {% trans "Vous recevez ce message parce qu'une réinitialisation du mot de passe de votre compte utilisateur a été demandée sur" %} <a href="{{ site_url }}">{{ site_name }}</a>.
    <br />
    <br />
    <hr>
    {% trans "ATTENTION" %}
    <hr>
    {% trans "Si vous n'avez pas demandé une réinitialisation du mot de passe, IGNOREZ et EFFACEZ ce courriel immédiatement ! Continuez uniquement si vous souhaitez que votre mot de passe soit réinitialisé !" %}
    <hr>
    <br />
    {% trans "Cliquez ou recopiez simplement le lien et complétez le reste du formulaire : " %} : <a href="{{ url }}">{{ url }}</a>.
    <br />
    <br />
    <br />
    {% trans "Cordialement" %},
    <br />
    {% trans "L'équipe" %} {{ site_name }}
</body>