<html lang="fr">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<br />
Bonjour, membres du CA !,
<br />
<br />
<p>Le membre {{ username }} demande à adhérer à Zeste de Savoir !</p>
<ul>
    <li>Prénom : {{ first_name }}</li>
    <li>Nom de famille : {{ surname }}</li>
    <li>Adresse mail : {{ email }}</li>
</ul>
<p>Raison de cette demande :<br/>
{{ justification|linebreaks }}
</p>
<p>Cliquez ici pour voir son profil sur le site : <a href="{{ profile_url }}">{{ profile_url }}</a>.</p>

<p>Cordialement,<br/>
--<br/>
Le robot d'envoi des mails</p>


</body>
