{% extends "article/admin/base.html" %}
{% load humanize %}



{% block title %}
    Mes Articles
{% endblock %}



{% block breadcrumb %}
    <li class="current">Mes Articles</li>
{% endblock %}



{% block headline %}
    <h2 class="ico ico-articles">Mes Articles</h2>
{% endblock %}



{% block sidebar_filter %}
    <li><a href="{% url "zds.member.views.articles" %}">Tous</a></li>
    <li><a href="{% url "zds.member.views.articles" %}?type=public">Publiés</a></li>
    <li><a href="{% url "zds.member.views.articles" %}?type=draft">Brouillons</a><li>
{% endblock %}



{% block content %}
    {% if articles %}
        <div class="article-items">
            {% for article in articles %}
                {% include "article/includes/article_item.part.html" with link=article.get_absolute_url %}
            {% endfor %}
        </div>
    {% else %}
        <p>
            Aucun article disponible.
        </p>
    {% endif %}
{% endblock %}