{% extends "base.html" %}
{% load interventions %}

{% block title_base %}
    &#183; Forums
{% endblock %}

{% block breadcrumb_base %}
    <li><a href="{% url "zds.forum.views.index" %}">Forums</a></li>
{% endblock %}

{% block menu_forum %}
    current
{% endblock %}

{% block headline %}
<h2 class="box forum">{% block head-title %}{% endblock %}</h2>
<p class="subtitle">{% block headline-sub %}{% endblock %}</p>
{% endblock %}



{% block sidebar %}
	
    <h3>Actions</h3>
    <ul>
        <li><a href="{% url "zds.forum.views.new" %}?forum={{ topic.forum.pk }}" class="ico-after">Nouveau Sujet</a></li>
    	{% block headline-actions %}{% endblock %}
    </ul>
    {% if user.is_authenticated %}
    <h3>Sujets suivis</h3>
    <ul>
    	{% with topics=user|followed_topics %}
        {% for topic in topics %}
        {% with state=topic|is_read %}
        <li>
            <span class="right" data-tooltip class="has-tip" title="Ne plus suivre ce sujet"><a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page=1&follow=1" class="fi-x"></a></span>
            {% if topic.is_solved %}<i class="fi-check success left"> </i>{% endif %}
            {% if topic.is_locked %}<i class="fi-lock grey left"> </i>{% endif %}
            <a href="{{topic.get_absolute_url}}" class="{% if state = True %}topic_read{% else %}topic_unread{% endif %}">{{topic.title}}</a>
        </li>
        {% endwith %}
        {% endfor %}
        {% endwith %}
    </ul>
    {% endif %}
    <h3>Flux</h3>
    {% include "forum/feeds.part.html" %}
{% endblock %}