{% extends "forum/base.html" %}
{% load humanize %}

{% block title %}
    {{ forum.title }}
{% endblock %}

{% block headline %}
    <h1>{{ forum.title }}</h1>
{% endblock %}

{% block headline-sub %}
    {{ forum.subtitle }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ forum.category.get_absolute_url }}">{{ forum.category.title }}</a></li>
    <li class="current"><a href="javascript:;">{{ forum.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    <li><a href="{% url "zds.forum.views.new" %}?forum={{ forum.pk }}" class="ico-after">Nouveau Sujet</a></li>
{% endblock %}

{% block content %}

<div class="row">
{% if sticky_topics %}
    <div>
        {% for topic in sticky_topics %}
            {% include "forum/details_row.part.html" %}
        {% endfor %}
    </div>
{% endif %}

<div>
    {% for topic in topics %}
        {% include "forum/details_row.part.html" %}
    {% endfor %}
</div>
</div>
{% include "forum/details_pagination.part.html" with position="bottom" %}

{% endblock %}
