{% load humanize %}

<tr class="
    {% if topic.is_locked %}
        forum-entry-locked
    {% else %}
        {% if topic.is_solved %}
        forum-entry-solved
        {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
        {% if topic.never_read %}
            unread
        {% else %}
            read
        {% endif %}
    {% endif %}">
    <td>
        <a href="{{ topic.get_absolute_url }}">
            {% if topic.is_locked %}
                [Fermé] 
            {% endif %}
            {% if topic.is_solved %}
                [Résolu] 
            {% endif %}
            {{ topic.title }}
        </a><br />
        {% if topic.subtitle %}
            <small>
                {{ topic.subtitle }}
            </small>
        {% endif %}
        <br />
        {% with member=topic.author %}
            Par {% include "member/member_item_common.part.html" %}
        {% endwith %}
    </td>
    <td class="forum-entry-count hide-for-small" >
        <span class="label">
            {{ topic.get_post_count|add:"-1" }}
        </span>
    </td>
    <td width="290px">
        <p>
            {% with answer=topic.get_last_answer %}
                {% if answer %}
                    <span>Dernière rép. <span><a href="{{ answer.get_absolute_url }}" class="hide-for-small">{{ answer.pubdate|naturaltime }}</a> 
                        <br />par
                    {% with member=answer.author %}
                        {% include "member/member_item_common.part.html" %}
                    {% endwith %}
                {% else %}
                    Aucune réponse
                {% endif %}
            {% endwith %}

        </p>
    </td>
</tr>