<ul class="pagination">
    <li class="arrow {% ifequal nb 1 %}unavaible{% endifequal %}">
        <a href="{% ifnotequal nb 1 %}{{ topic.get_absolute_url }}?page={{ nb|add:"-1" }}&{% else %}?{% endifnotequal %}{% if filter %}filter={{filter}}{% endif %}">
            «
        </a>
    </li>

    {% for page in pages %}
        {% if page %}
            <li >
                <a class="{% ifequal page nb %}current{% endifequal %}" href="{% ifnotequal page nb %}{{ topic.get_absolute_url }}?page={{ page }}&{% else %}?{% endifnotequal %}{% if filter %}filter={{filter}}{% endif %}">
                {{ page }}
            </a>
            </li>
        {% else %}
            <li>
                <a href="#" data-dropdown="pagin-{{position}}">…</a>
                <ul id="pagin-{{position}}" class="f-dropdown content" data-dropdown-content>
				  <li>
				  <form method="get">
				  	<input type="text" placeholder="Page" name="page" class="small" />
				  </form>
				  </li>
				</ul>
            </li>
        {% endif %}
    {% endfor %}
    
    <li class="arrow {% ifequal nb pages|last %}unavaible{% endifequal %}">
        <a href="{% ifnotequal nb pages|last %}{{ topic.get_absolute_url }}?page={{ nb|add:"1" }}&{% else %}?{% endifnotequal %}{% if filter %}filter={{filter}}{% endif %}">
            »
        </a>
    </li>
</ul>