{% extends "forum/base.html" %}
{% load humanize %}


{% block title %}
    {{ forum.title }}
{% endblock %}


{% block headline %}
    <h1>{{ forum.title }}</h1>
{% endblock %}


{% block headline-sub %}
    {{ forum.subtitle }}
{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ forum.category.get_absolute_url }}">{{ forum.category.title }}</a></li>
    <li>{{ forum.title }}</li>
{% endblock %}


{% block headline-actions %}
    <li><a href="{% url "zds.forum.views.new" %}?forum={{ forum.pk }}" class="ico-after">Nouveau Sujet</a></li>
{% endblock %}


{% block content %}
    {% if sticky_topics %}
        <div class="forum-entries forum-entries-sticky">
            {% for topic in sticky_topics %}
                {% include "forum/details_row.part.html" %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="forum-entries">
        {% for topic in topics %}
            {% include "forum/details_row.part.html" %}
        {% endfor %}
    </div>

    {% include "forum/topic_pagination.part.html" with position="bottom" %}
{% endblock %}
