{% extends "forum/base.html" %}
{% load humanize %}

{% block title %}
    {{ forum.title }}
{% endblock %}

{% block head-title %}
    {{ forum.title }}
{% endblock %}

{% block headline-sub %}
    {{ forum.subtitle }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ forum.category.get_absolute_url }}">{{ forum.category.title }}</a></li>
    <li class="current"><a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    <h3>Actions</h3>
    <ul>
        <li><a href="{% url "zds.forum.views.new" %}?forum={{ forum.pk }}" >Nouveau Sujet</a></li>
    </ul>
    <h3>Filtres</h3>
    <ul>
        <li><a href="{% url "zds.forum.views.details" forum.category.slug forum.slug %}">Tous les sujets</a></li>
        <li><a href="{% url "zds.forum.views.details" forum.category.slug forum.slug %}?filter=solve">Sujets résolus</a></li>
        <li><a href="{% url "zds.forum.views.details" forum.category.slug forum.slug %}?filter=unsolve">Sujets non résolus</a></li>
    </ul>    
{% endblock %}

{% block content %}

<div class="row">
{% if sticky_topics %}
    <div>
        <table class="topics-entries">
            <tbody>
            {% for topic in sticky_topics %}
                {% include "forum/details_row.part.html" %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
<hr />
<div>
    <table class="topics-entries">
      <tbody>
        {% for topic in topics %}
            {% include "forum/details_row.part.html" %}
        {% endfor %}
      </tbody>
    </table>
</div>
</div>
{% include "forum/details_pagination.part.html" with position="bottom" %}

{% endblock %}
