{% extends "forum/base.html" %}

{% block title %}
  Notifications du Forum
{% endblock %}

{% block head-title %}
  Notifications du Forum
{% endblock %}

{% block breadcrumb %}
  <li class="current"><a href="#">Notifications du Forum</a></li>
{% endblock %}

{% block content %}
<div>
    <table class="topics-entries">
      <tbody>
	    {% for topic in followed_topics %}
	        {% include "forum/details_row.part.html" %}
	    {% endfor %}
      </tbody>
    </table>
</div>
    {% include "forum/topic_pagination.part.html" with position="bottom" %}

{% endblock %}
