{# Block displaying the list of forums belonging to a category #}
{% load humanize %}
{% load forum %}


{% for forum in category.get_forums %}
{% if forum|readable:user %}
<li class="card-forum">
    <div class="large-12 columns">
    <div class="large-10 columns">
        <h4><a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a></h3>
        <p>
            {{ forum.subtitle|truncatechars:38 }}
        </p>
    </div>
    <div class="large-2 columns">
        <span class="fi-comments">
            <span title="Nombre de sujets dans le forum">
                {{ forum.get_topic_count }}
            </span>
        </span>
    </div>
    </div>
    <div class="large-12 columns">
        <small>
            {% with last_message=forum.get_last_message %}
                {% if last_message %}
                    <a href="{{ last_message.get_absolute_url }}">
                        {{ last_message.pubdate|naturaltime|capfirst }}
                    </a>
                    par
                    {% with member=last_message.author %}
                        {% include "member/member_item_common.part.html" %}
                    {% endwith %}
                    dans
                    <a href="{{ last_message.topic.get_absolute_url }}">
                        {{ last_message.topic.title }}
                    </a>
                {% else %}
                    Aucun message
                {% endif %}
            {% endwith %}
        </small>
    </div>
</li>
{% endif %}
{% endfor %}
