{% extends "forum/base.html" %}


{% block title %}
    Liste des forums
{% endblock %}


{% block meta %}
    <meta name="description" content="Les forums vous permettent de venir poser
    vos questions aux autres membres mais aussi de s'entrainer ou tout
    simplement de discuter.  Cela fonctionne également dans l'autre sens : vous
    pouvez ici aider les autres et proposer des exercices au reste de la
    communauté.">
{% endblock %}


{% block header %}
    <h1>
        Forums
    </h1>
    <p>
        Les forums vous permettent de venir poser vos questions aux autres membres mais aussi de s'entrainer ou <strong>tout simplement de discuter</strong>.
        Cela fonctionne également dans l'autre sens : vous pouvez ici aider les autres et proposer des exercices au reste de la communauté.
    </p>
{% endblock %}


{% block headline %}
   <h1>Liste des forums</h1>
{% endblock %}


{% block breadcrumb %}
    <li>Liste des forums</li>
{% endblock %}


{% block sidebar_actions %}
    <div class="button-group">
        {% include "forum/feeds.part.html" %}
    </div>
{% endblock %}


{% block content %}

    {% for category in categories %}
        <h3 class="subtitle">
            {{ category.title }}
        </h3>

        {% include "forum/forums_common.part.html" %}
    {% endfor %}

{% endblock %}
