{% extends "forum/base.html" %}
{% load i18n %}


{% block title %}
    {% trans "Liste des forums" %}
{% endblock %}



{% block description %}
    {% trans "Les forums vous permettent de venir poser vos questions aux autres membres mais aussi de vous entrainer ou tout simplement de discuter" %}.
{% endblock %}



{% block breadcrumb %}
    <li>{% trans "Liste des forums" %}</li>
{% endblock %}



{% block headline %}
    {% trans "Liste des forums" %}
{% endblock %}



{% block content %}
    <p class="content-wrapper">
        {% blocktrans %}
            Les forums vous permettent de venir poser vos questions aux autres
            membres mais aussi de s’entrainer ou <strong>tout simplement de discuter</strong>.
            Cela fonctionne également dans l’autre sens : vous pouvez ici aider les autres et
            proposer des exercices au reste de la communauté.
        {% endblocktrans %}
    </p>

    <div class="content-wrapper topic-list topic-list-small forum-list navigable-list" itemscope itemtype="http://schema.org/ItemList">
        <meta itemprop="itemListOrder" content="Unordered">

        {% for category in categories %}
            <h2 class="group-title content-wrapper">
                {{ category.title }}
            </h2>
            {% include "forum/includes/forums.part.html" with forums=category.forums %}
        {% empty %}
            <p>{% trans "Aucun forum disponible." %}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block feeds_rss %}
    {% include "forum/includes/feed.part.html" %}
{% endblock %}
