{% extends "forum/base.html" %}
{% load i18n %}

{% block title %}
Derniers sujets
{% endblock %}

{% block feeds_rss %}
    {% include "forum/includes/feed.part.html" %}
{% endblock %}

{% block breadcrumb %}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ forum.category.get_absolute_url }}" itemprop="url">
            <span itemprop="title">Derniers sujets</span>
        </a>
    </li>
{% endblock %}



{% block headline %}
    Derniers sujets
{% endblock %}



{% block sidebar_blocks %}
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Tous les forums">
        <h3>{% trans "Tous les forums" %}</h3>
        <ul>
            <li>
                <a href="{% url 'cats-forums-list' %}" class="ico-after view">
                    {% trans "Tous les forums" %}
                </a>
            </li>
        </ul>
    </div>
    <div class="mobile-menu-bloc mobile-all-links mobile-show-ico" data-title="Filtres">
        <h3>{% trans "Ordre de tri" %}</h3>
        <ul>
            <li>
                <a href="" class="ico-after view">
                    {% trans "***TODO***" %}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}



{% block content %}
    {% if topics %}
        <div class="topic-list navigable-list" itemscope itemtype="http://schema.org/ItemList">
            {% for topic in topics %}
                {% include "forum/includes/topic_row.part.html" with display_category=true %}
            {% endfor %}
        </div>
    {% else %}
        <p>
            {% trans "Aucun sujet trouvé." %}
        </p>
    {% endif %}
{% endblock %}
