{% extends "forum/base.html" %}
{% load emarkdown %}
{% load crispy_forms_tags %}

{% block title %}
    Nouveau sujet
{% endblock %}

{% block headline %}
    <h2 class="box forum">Nouveau sujet</h2>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ forum.category.get_absolute_url }}">{{ forum.category.title }}</a></li>
    <li><a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a></li>
    <li class="current"><a href="javascript:;">Nouveau sujet</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% if text %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h5>Prévisualisation de votre message</h5>
            {{ text|emarkdown }}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
