{% extends "forum/base.html" %}
{% load emarkdown %}
{% load markup %}


{% block title %}
    Nouveau sujet
{% endblock %}


{% block headline %}
    Nouveau sujet
{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ forum.category.get_absolute_url }}">{{ forum.category.title }}</a></li>
    <li><a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a></li>
    <li>Nouveau sujet</li>
{% endblock %}


{% block content %}
    <form action="" method="POST">
        <p>
            <label for="title">Titre</label>
            <input type="text" id="title" name="title" value="{{ title }}" />
        </p>
        <p>
            <label for="subtitle">Sous-titre</label>
            <input type="text" id="subtitle" name="subtitle" value="{{ subtitle }}" />
        </p>
        <p>
            <label for="text">Sous-titre</label>
            <textarea id="text" name="text" class="md-editor" placeholder="Votre message au format Markdown" rows="20"
                >{{ text }}</textarea>
        </p>

        <p>
            <button type="submit" class="btn btn-submit">
                Nouveau sujet
            </button>

            <button type="submit" name="preview" class="btn btn-submit">
                Prévisualisation
            </button>

            <a href="{{ forum.get_absolute_url }}" class="btn btn-cancel">
                Retour
            </a>
        </p>

        {% csrf_token %}
    </form>

    {% if text %}
        <div class="preview">
            <h5>Prévisualisation de votre message</h5>

            {{ text|emarkdown }}
        </div>
    {% endif %}
{% endblock %}