{% load profile %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load emarkdown %}
{% load staticfiles %}
<div class="row">
    <div class="large-12 columns">
        <div class="large-1 columns avatar-forum">
            <div class="centered">
            <div class="username"><a href="{{ post.author.get_absolute_url }}">{{ post.author.username }}</a></div>
            </div>
            <a href="{{ post.author.get_absolute_url }}" class="hide-for-small">
                {% with profile=post.author|profile %}
                <img src="{{ profile.get_avatar_url }}" alt="" class="avatar-forum">
                {% endwith %}
            </a>
            {% with status=post.author|state %}
                {% if status == 'BAN'%}
                    <div class="alert-box tiny alert username">{{status}}</div>
                {% endif %}
                {% if status == 'LS'%}
                    <div class="alert-box tiny warning username">{{status}}</div>
                {% endif %}
                {% if status == 'STAFF' %}
                    <div class="alert-box tiny success username">{{status}}</div>
                {% endif %}
                {% if status == 'DOWN' %}
                    <div class="alert-box tiny secondary username">{{status}}</div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="large-11 columns message-forum {% if forloop.first and nb > 1 %}before{% endif %} {% if post.is_useful %}useful{% endif %}">
            <div class="row">
                <div class="large-12 columns">
                    {% if user.is_authenticated %}
                    <div class="right message-actions">
                        {% if topic.author == user and post.author != user %}
                            <a href="/forums/message/utile?message={{ post.pk }}" class="tiny secondary actions">Cette réponse m'a aidé</a>
                        {% elif perms.forum.change_post %}
                            <a href="/forums/message/utile?message={{ post.pk }}" class="tiny secondary actions">Cette réponse a aidé le PO</a>
                        {% endif %}
                        {% if post.is_visible %}
                            {% if perms.forum.change_post %}
                            <a href="#" class="tiny secondary actions" data-dropdown="drophidden{{post.pk}}">Masquer<span class="fi-eye"></span></a>
                            <div id="drophidden{{post.pk}}" class="f-dropdown small content" data-dropdown-content>
                                <form id="formhidden{{post.pk}}" method="POST" action="{% url "zds.forum.views.edit_post" %}?message={{ post.pk }}">
                                <p>
                                    Pour quelle raison souhaitez vous masquer ce message ?
                                </p>
                                <input type="text" name="text_hidden" class="expand" placeholder="Flood, Troll, Hors sujet, ..." />
                                <button type="submit" name="delete-post" class="button expand alert tiny">Confirmer</button>
                                 {% csrf_token %}
                                </form>
                            </div>
                            {% elif post.author = user %}
                            <a href="#" class="tiny secondary actions" data-dropdown="drophidden{{post.pk}}">Masquer<span class="fi-eye"></span></a>
                            <div id="drophidden{{post.pk}}" class="f-dropdown small content" data-dropdown-content>
                                <form id="formhidden{{post.pk}}" method="POST" action="{% url "zds.forum.views.edit_post" %}?message={{ post.pk }}">
                                <p>
                                    Attention, en masquant ce message, vous ne pourrez plus l'afficher vous même. Êtes vous certains de vouloir le faire ?
                                </p>
                                <button type="submit" name="delete-post" class="button expand alert tiny">Confirmer</button>
                                 {% csrf_token %}
                                </form>
                            </div>
                            {% endif %}
                        {% else %}
                            {% if perms.forum.change_post %}
                            <a href="#" class="tiny secondary actions" data-dropdown="showhidden{{post.pk}}">Afficher<span class="fi-eye"></span></a>
                            <div id="showhidden{{post.pk}}" class="f-dropdown small content" data-dropdown-content>
                                <form id="formshowhidden{{post.pk}}" method="POST" action="{% url "zds.forum.views.edit_post" %}?message={{ post.pk }}">
                                <p>
                                    Ce message a été masqué par une personne du staff, êtes vous certains de vouloir le ré-afficher ?
                                </p>
                                <button type="submit" name="show-post" class="button expand alert tiny">Confirmer</button>
                                 {% csrf_token %}
                                </form>
                            </div>
                            {% endif %}
                        {% endif %}
                        {% if post.is_visible %}
                        <a href="{% url "zds.forum.views.unread_post" %}?message={{ post.pk }}" class="tiny secondary actions">Non lu<span class="fi-star"></span></a>
                        {% if post.author = user or perms.forum.change_post %}
                        <a href="{% url "zds.forum.views.edit_post" %}?message={{ post.pk }}" class="tiny secondary actions">Editer<span class="fi-pencil"></span></a>
                        {% endif %}
                        <a href="#" class="tiny secondary actions" data-dropdown="dropsign{{post.pk}}">Signaler<span class="fi-alert"></span></a>
                        <div id="dropsign{{post.pk}}" class="f-dropdown small content" data-dropdown-content>
                            <form id="formsign{{post.pk}}" method="POST" action="{% url "zds.forum.views.edit_post" %}?message={{ post.pk }}">
                            <p>
                                Pour quelle raison signalez vous ce message ?
                            </p>
                            <input type="text" name="signal-text" class="expand" placeholder="Flood, Troll, Hors sujet, ..." />
                            <button type="submit" name="signal-post" class="button expand alert">
                                Confirmer le signalement
                            </button>
                             {% csrf_token %}
                            </form>
                        </div>
                        {% endif %}
                        {% if not topic.is_locked and not topic.antispam and post.is_visible %}
                        <a href="{% url "zds.forum.views.answer" %}?sujet={{ topic.pk }}&amp;cite={{ post.pk }}" class="tiny secondary actions">Citer<span class="fi-quote"></span></a>
                        {% endif %}
                    </div>
                    {% endif %}

                    <div class="message-metadata left">
                        <a id="p{{ post.pk }}" href="#p{{ post.pk }}" class="date">{{ post.pubdate|naturaltime }}</a>
                        {% if not post.is_visible %}
                            <i>Masqué par {{ post.editor }} : {{ post.text_hidden }}</i>
                        {% elif not post.update = None %}
                            <i>(Edité {{ post.update|naturaltime }} par {{ post.editor }} )</i>
                        {% endif %}
                    </div>
                <div class="large-12 columns">

                <div class="message-content">
                    {% if post.is_visible %}
                        {{ post.text_html|safe }}
                    {% elif perms.forum.change_post %}
                        <a href="#" data-reveal-id="modal-show-{{post.pk}}" class="radius button tiny secondary right">Voir le message masqué</a>
                        <div id="modal-show-{{post.pk}}" class="reveal-modal" data-reveal>
                          {{ post.text_html|safe }}
                          <a class="close-reveal-modal">&#215;</a>
                        </div>
                    {% endif %}
                </div>
                </div>
                <div class="large-12 columns">
                    {% if post.is_visible %}
                        <div class="left large-9 columns signature">
                            {% if user.is_authenticated %}
                                {% with profile_user=user|profile %}
                                    {% if profile_user.show_sign %}
                                        {% with profile=post.author|profile %}
                                            {{profile.sign|emarkdown_inline}}
                                        {% endwith %}
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        </div>
                        <div class="right message-karma">
                            {% if user.is_authenticated and post.author != user %}
                                {% with profile_user=user|profile %}
                                {% if post.like > post.dislike %}
                                    <a id="upvote{{post.pk}}" href="{% url "zds.forum.views.like_post" %}?message={{ post.pk }}" class="label secondary {% if profile_user|liked:post.pk %}upvote{% endif %}"><img src="{% static "img/thumb-up-voted.png" %}" alt="" /><span id="cptup{{post.pk}}">+{{post.like}}</span></a>
                                {% else %}
                                    <a id="upvote{{post.pk}}" href="{% url "zds.forum.views.like_post" %}?message={{ post.pk }}" class="label secondary {% if profile_user|liked:post.pk %}upvote{% endif %}"><img src="{% static "img/thumb-up.png" %}" alt="" /><span id="cptup{{post.pk}}">+{{post.like}}</span></a>
                                {% endif%}
                                {% if post.dislike > post.like %}
                                    <a id="downvote{{post.pk}}" href="{% url "zds.forum.views.dislike_post" %}?message={{ post.pk }}" class="label secondary {% if profile_user|disliked:post.pk %}downvote{% endif %}"><img src="{% static "img/thumb-down-voted.png" %}" alt="" /><span id="cptdown{{post.pk}}">-{{post.dislike}}</span></a>
                                {% else%}
                                    <a id="downvote{{post.pk}}" href="{% url "zds.forum.views.dislike_post" %}?message={{ post.pk }}" class="label secondary {% if profile_user|disliked:post.pk %}downvote{% endif %}"><img src="{% static "img/thumb-down.png" %}" alt="" /><span id="cptdown{{post.pk}}">-{{post.dislike}}</span></a>
                                {% endif%}
                                {% endwith %}
                            {% else %}
                                {% if post.like > post.dislike %}
                                    <span href="{% url "zds.forum.views.like_post" %}?message={{ post.pk }}" class="label secondary"><img src="{% static "img/thumb-up-voted.png" %}" alt="" />+{{post.like}}</span>
                                {% else %}
                                    <span href="{% url "zds.forum.views.like_post" %}?message={{ post.pk }}" class="label secondary"><img src="{% static "img/thumb-up.png" %}" alt="" />+{{post.like}}</span>
                                {% endif%}
                                {% if post.dislike > post.like %}
                                    <span href="{% url "zds.forum.views.dislike_post" %}?message={{ post.pk }}" class="label secondary"><img src="{% static "img/thumb-down-voted.png" %}" alt="" />-{{post.dislike}}</span>
                                {% else%}
                                    <span href="{% url "zds.forum.views.dislike_post" %}?message={{ post.pk }}" class="label secondary"><img src="{% static "img/thumb-down.png" %}" alt="" />-{{post.dislike}}</span>
                                {% endif%}
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
                </div>
            </div>
            {% if perms.forum.change_post %}
            {% for alert in post.alerts.all %}
            <div class="row">
                <div class="large-12 columns alert-box alert">
                    <div class="left">
                        <a href="#" class="tiny secondary actions" data-dropdown="solvealert{{alert.pk}}">Résoudre</a>
                        <div id="solvealert{{alert.pk}}" class="f-dropdown content"data-dropdown-content>
                            <form id="formsolvealert{{alert.pk}}" method="POST" action="{% url "zds.forum.views.solve_alert" %}">
                            <input type="hidden" name="alert_pk" value="{{alert.pk}}" />
                            <textarea name="text" class="input" placeholder="Message à envoyer au membre ayant signalé l'alerte"></textarea>
                            <button type="submit" name="delete-post" class="button expand alert tiny">Résoudre l'alerte</button>
                             {% csrf_token %}
                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <a href="{% url "zds.member.views.details" alert.author.username %}">{{alert.author}}</a> - {{alert.pubdate|naturaltime}} : {{alert.text}}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>