{% extends "forum/base.html" %}
{% load emarkdown %}
{% load profile %}
{% load humanize %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    {{ topic.title }}
{% endblock %}

{% block headline %}
    <h2 class="box forum">{{ topic.title }}</h2>
{% endblock %}
{% block headline-sub %}
    <p class="subtitle">{{ topic.subtitle }}</p>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category.title }}</a></li>
    <li><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.title }}</a></li>
    <li class="current"><a href="javascript:;">{{ topic.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    <li><a href="{% url "zds.forum.views.new" %}?forum={{ topic.forum.pk }}" class="ico-after">Nouveau Sujet</a></li>
    {% if topic.author.pk == user.pk or perms.forum.change_topic %}
        {% if topic.is_solved %}
            <li><a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&solved=1" class="ico-after tick active">Non résolu</a></li>
        {% else %}
            <li><a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&solved=1" class="ico-after tick active">Marquer comme résolu</a></li>
        {% endif %}
    {% endif %}
    {% if topic.is_followed %}
        <li><a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&follow=1" class="ico-after view blue">Ne plus suivre ce sujet</a></li>
    {% else %}
        <li><a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&follow=1" class="ico-after view blue">Suivre ce sujet</a></li>
    {% endif %}
    {% if perms.forum.change_topic %}
        {% if topic.is_locked %}
            <li><a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&lock=false" class="ico-after">Dévérouiller</a></li>
        {% else %}
            <li><a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&lock=true" class="ico-after">Vérouiller le sujet</a></li>
        {% endif %}
        {% if topic.is_sticky %}
            <li><a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&sticky=false" class="ico-after">Enlever du Post-It</a></li>
        {% else %}
            <li><a href="{% url "zds.forum.views.edit" %}?topic={{ topic.pk }}&page={{nb}}&sticky=true" class="ico-after">Marquer en Post-It</a></li>
        {% endif %}
        {% crispy form_move %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="row" id="resolu" {% if not topic.is_solved %}style="display: none;"{% endif %}>
    <div class="large-12 columns">
        <div class="alert-box success">
            <strong>Ce sujet est résolu</strong>, l'auteur de ce sujet a trouvé une
            solution satisfaisant son problème.
        </div>
    </div>
</div>
{% for post in posts %}
<div class="row">
    <div class="large-12 columns">
        <div class="large-1 columns">
            <div class="centered">
            <a href="{{ post.author.get_absolute_url }}" class="username">{{ post.author.username }}</a>
            </div>
            <a href="{{ post.author.get_absolute_url }}" class="hide-for-small">
                {% with profile=post.author|profile %}
                <img src="{{ profile.get_avatar_url }}" alt="" class="avatar-forum">
                {% endwith %}
            </a>
        </div>
        <div class="large-11 columns message-forum">
            <div class="row">
                <div class="large-12 columns">
                    {% if user.is_authenticated %}
                    <div class="right message-actions">
                        {% if post.author = user or perms.forum.change_post %}
                        <a href="{% url "zds.forum.views.edit_post" %}?message={{ post.pk }}" class="tiny secondary actions">Editer<span class="fi-pencil"></span></a>
                        {% endif %}
                        <a href="#" class="tiny secondary actions" data-dropdown="dropsign{{post.pk}}">Signaler<span class="fi-alert"></span></a>
                        <div id="dropsign{{post.pk}}" class="f-dropdown small content" data-dropdown-content>
                            <form id="formsign{{post.pk}}" method="POST" action="{% url "zds.forum.views.edit_post" %}?message={{ post.pk }}">
                            <p>
                                Pour quelle raison signalez vous ce message ?
                            </p>
                            <input type="text" name="signal-text" class="expand" placeholder="Flood, Troll, Hors sujet, ..." />
                            <button type="submit" name="signal-post" class="button expand alert">
                                Confirmer le signalement
                            </button>
                             {% csrf_token %}
                            </form>
                        </div>
                        {% if not topic.is_locked and not topic.antispam %}
                        <a href="{% url "zds.forum.views.answer" %}?sujet={{ topic.pk }}&amp;cite={{ post.pk }}" class="tiny secondary actions">Citer<span class="fi-quote"></span></a>
                        {% endif %}
                    </div>
                    {% endif %}

                    <div class="message-metadata left">
                        <a id="p{{ post.pk }}" href="#p{{ post.pk }}" class="date">{{ post.pubdate|naturaltime }}</a>
                        {% if not post.is_visible %}
                            <i>Masqué par {{ post.editor }} : {{ post.text_hidden }}</i>
                        {% elif not post.update = None %}
                            <i>(Edité {{ post.update|naturaltime }} par {{ post.editor }} )</i>
                        {% endif %}
                    </div>
                <div class="large-12 columns">
                <div class="message-content">
                    {{ post.text|emarkdown }}
                </div>
                </div>
                <div class="large-12 columns">
                    <div class="left">
                        {% if user.is_authenticated %}
                            {% with profile_user=user|profile %}
                                {% if profile_user.show_sign %}
                                    {% with profile=post.author|profile %}
                                        <span class="signature">{{profile.sign|emarkdown_inline}}</span>
                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                    {% if post.author != user %}
                    <div class="message-karma right">
                        {% if topic.author == user %}
                        <a href="/forums/message/utile?message={{ post.pk }}" class="tick ico-after">Cette réponse m'a aidé</a>
                        {% endif %}
                        <a href="{% url "zds.forum.views.like_post" %}?message={{ post.pk }}" class="label secondary {% if post.like > post.dislike %}voted{% endif%} ico-after"><img src="{% static "img/thumb-up-voted.png" %}" alt="" />+{{post.like}}</a>
                        <a href="{% url "zds.forum.views.dislike_post" %}?message={{ post.pk }}" class="label secondary {% if post.like < post.dislike %}voted{% endif%} ico-after"><img src="{% static "img/thumb-down-voted.png" %}" alt="" />-{{post.dislike}}</a>
                    </div>
                    {% endif %}
                    {% endif %}
                    
                </div>
                </div>
            </div>
            {% for alert in post.alerts.all %}
            <div class="row">
                <div class="large-12 columns">
                    <div class="alert-box alert">
                        <a href="{% url "zds.member.views.details" alert.author.username %}">{{alert.author}}</a> - {{alert.pubdate|naturaltime}} : {{alert.text}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% include "forum/topic_pagination.part.html" with position="top" %}

{% if user.is_authenticated %}
{% with profile=user|profile %}
<section>
    <div class="user hide-for-small">
        <img src="{{profile.get_avatar_url}}" alt="" class="avatar avatar-link">
    </div>
    {% crispy form %}
</section>
{% endwith %}
{% endif %}

{% endblock %}
