<ul class="pagination pagination-{{ position }}">
    {% ifequal nb 1 %}
    <li>
        <a href="{{ topic.get_absolute_url }}?page={{ nb|add:"-1" }}">
            «
        </a>
    </li>
    {% endifequal %}


    {% for page in pages %}
        {% if page %}
            <li>
                <a {% ifnotequal page nb %}href="{{ topic.get_absolute_url }}?page={{ page }}"{% else %}class="current"{% endifnotequal %}>
                    {{ page }}
                </a>
            </li>
        {% else %}
            <li>
                <a>…</a>
                <!--
                <ul>
                    <li>
                        <form method="get">
                            <input type="text" placeholder="Page" name="page" class="small" />
                        </form>
                    </li>
                </ul>
                -->
            </li>
        {% endif %}
    {% endfor %}
    
    {% ifequal nb pages|last %}
    <li>
        <a href="{{ topic.get_absolute_url }}?page={{ nb|add:"1" }}">
            »
        </a>
    </li>
    {% endifequal %}
</ul>